<div class="modal-dialog modal-hg-view-record-template" style="width: 80%;">
  <div class="modal-content">
    <div class="modal-header" style="min-height: 70px;">
      <div class="pull-right">
        <!-- Action Buttons starts -->
        <a aria-hidden="true" class="" style="cursor: pointer" data-dismiss="modal"><i class="fa fa-close"></i></a>
      </div> <!-- Action Buttons ends -->
      <div class="col-md-3 pull-left" style="margin-top: 12px;">
        <div class="btn-group" data-toggle="buttons">
          <label class="find_for btn btn-xs btn-primary active" id="all_investigation">
            <input type="radio" name="options" autocomplete="off" checked=""> Investigation
          </label>
          <label class="find_for btn btn-xs btn-primary" id="all_procedure">
            <input type="radio" name="options" autocomplete="off"> Procedure
          </label>
        </div>
      </div>
      <h4 class="col-md-1" style="margin-top: 14px;">Between </h4>
      <div class="col-sm-5">
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <div class="col-sm-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input type="text" id="start-report-datepicker" value="" class="form-control report-to-datepicker" value="<%= Date.current.to_s %>" style="cursor:pointer;background-color:#fff;" placeholder="Start Date" readonly="readonly">
            </div>
            </div>
            <div class="col-sm-1 text-center">
              <i class="fa fa-arrows-alt-h" style="margin-top:15px;color:dodgerblue;font-size: 20px;"></i>
            </div>
            <div class="col-sm-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input type="text" id="end-report-datepicker" value="" class="form-control report-from-datepicker" value="<%= Date.current.to_s %>" style="cursor:pointer;background-color:#fff;" placeholder="End Date" readonly="readonly">
               </div>
            </div>
            <div class="col-sm-1">
              <div class="btn btn-primary" id="btnReportRange" style=" margin-top: 2px;margin-left: 30px;"><i class="fa fa-search"></i> &nbsp;Search</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-body reports_body"> <!-- modal-body starts -->
        <div class="row range"></div>
    </div>
  </div>
</div>

<style>
  .find_for {
    background: #f8f8ff;
    color: #428bca;
  }
</style>

<script>
  jQuery('#end-report-datepicker').datepicker({ dateFormat: "dd/mm/yy" })
  jQuery('#start-report-datepicker').datepicker({ dateFormat: "dd/mm/yy" })

  jQuery('#start-report-datepicker').datepicker("setDate", new Date("<%= Date.current %>"))
  jQuery('#end-report-datepicker').datepicker("setDate", new Date("<%= Date.current %>"))

  $("#btnReportRange").on("click",function(){
    $(".today").hide()
    var start_date = $("#start-report-datepicker").val()
    var end_date = $("#end-report-datepicker").val()
    if ($("#all_investigation").hasClass("active")){
      var find_for = "investigation"
    } else if ($("#all_procedure").hasClass("active")){
      var find_for = "procedure"
    }

    $.ajax({
      type: "GET",
      url: "/opd_clinical_workflow/counsellor_report_data",
      data: {start_date: start_date,end_date: end_date,find_for: find_for},
      success: function(response){}
    });
  }).click();

  $("#all_procedure").on("click",function(e){
    e.preventDefault()
    $(".today").hide()
    var start_date = $("#start-report-datepicker").val()
    var end_date = $("#end-report-datepicker").val()
    var find_for = "procedure"
    $.ajax({
      type: "GET",
      url: "/opd_clinical_workflow/counsellor_report_data",
      data: {start_date: start_date,end_date: end_date,find_for: find_for},
      success: function(response){}
    });
  })

  $("#all_investigation").on("click",function(e){
    e.preventDefault()
    $(".today").hide()
    var start_date = $("#start-report-datepicker").val()
    var end_date = $("#end-report-datepicker").val()
    var find_for = "investigation"
    $.ajax({
      type: "GET",
      url: "/opd_clinical_workflow/counsellor_report_data",
      data: {start_date: start_date,end_date: end_date,find_for: find_for},
      success: function(response){}
    });
  })

  // $(".today_report").on("click",function(){
  //   $(".today").show()
  //   $(".range").hide()
  // })

</script>
