<div class="modal-dialog modal-sm" style="width:35%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Refine Your Search</h4>
    </div>
    <div class="modal-body" style="background: #f3f3f3;padding:15px 25px;">
      <!--<div class="row mb10">-->
        <!--<div class="col-md-12 text-center">-->
          <!--<b>Select Date</b>-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
          <!--<div class="row mt10" style="background-color: #fff;padding:10px;border-bottom: 1px solid #ccc;">-->
            <!--<div class="col-md-5">-->
              <!--<input type="text" name="filter[start_date]" class="form-control filter-datepicker p7_10", placeholder="&#128198; &nbsp; Start Date" readonly='readonly' />-->
            <!--</div>-->
            <!--<div class="col-md-2 text-center">-->
              <!--<h3 style="margin:2px;"><b>&#8596;</b></h3>-->
            <!--</div>-->
            <!--<div class="col-md-5">-->
              <!--<input type="text" name="filter[end_date]" class="form-control filter-datepicker p7_10", placeholder="&#128198; &nbsp; End Date" readonly='readonly' />-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row mb10">
        <div class="col-md-12 text-center">
          <b>Gender</b>
        </div>
        <div class="col-md-12">
          <div class="row mt10" style="background-color: #fff;padding:10px;border-bottom: 1px solid #ccc;">
            <div class="col-md-4">
              <div class="rdio rdio-primary">
                <input id="gender_male" name="filter[gender]" type="radio" value="Male" />
                <label for="gender_male">Male</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="rdio rdio-primary">
                <input id="gender_female" name="filter[gender]" type="radio" value="Female" />
                <label for="gender_female">Female</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="rdio rdio-primary">
                <input id="gender_transgender" name="filter[gender]" type="radio" value="Transgender" />
                <label for="gender_transgender">Transgender</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-12 text-center">
          <b>Age</b>
        </div>
        <div class="col-md-12">
          <div class="row mt10" style="background-color: #fff;padding:10px;border-bottom: 1px solid #ccc;">
            <div class="col-md-3">
              <label for="filter_above_age">From</label>
            </div>
            <div class="col-md-3">
              <input type="number" name="filter[above_age]" value="" class="form-control p7_10" min="0" max="124", placeholder="Years" />
            </div>
            <div class="col-md-3">
              <label for="filter_above_age">To</label>
            </div>
            <div class="col-md-3">
              <input type="number" name="filter[below_age]" value="" class="form-control p7_10" min="1" max="125", placeholder="Years" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-12 text-center">
          <b>Side</b>
        </div>
        <div class="col-md-12">
          <div class="row mt10" style="background-color: #fff;padding:10px;border-bottom: 1px solid #ccc;">
            <div class="col-md-4">
              <div class="rdio rdio-primary">
                <input id="side_bilateral" name="filter[laterality]" type="radio" value="Bilateral" />
                <label for="side_bilateral">Both</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="rdio rdio-primary">
                <input id="side_right" name="filter[laterality]" type="radio" value="Right" />
                <label for="side_right">Right</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="rdio rdio-primary">
                <input id="side_left" name="filter[laterality]" type="radio" value="Left" />
                <label for="side_left">Left</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-6">
          <div class="col-md-12 text-center">
            <b>Systemic History</b>
          </div>
          <div class="col-md-12">
            <%= select_tag "filter['sysmetic_history']", options_for_select(personal_histories_list), {class:"form-control select_2_sysmetic_history sysmetic_history_data", multiple: true} %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 text-center">
            <b>Eye Drop Allergies</b>
          </div>
          <div class="col-md-12">
            <%= select_tag "filter['eye_drop_allergy']", options_for_select(eye_drop_allergy_list), {class:"form-control select_2_eye_drop_allergy eye_drop_allergy_data", multiple: true} %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary search-icd-filter" data-dismiss="modal">Apply</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    <!-- <div class="modal-footer" style="margin: 0px;padding:0px;">
      <div class="row">
        <div class="col-md-4" style="padding-right:0px;">
          <button type="button" class="btn btn-default btn-lg form-control" data-dismiss="modal" style="border-radius: 0px;background-color: #fff;border:#fff;color:#fa7a86;">Reset</button>
        </div>
        <div class="col-md-8" style="padding-left:0px;">
          <button class="btn btn-success btn-lg form-control" style="border-radius: 0px;">Apply</button>
        </div>
      </div>
    </div> -->
  </div>
</div>

<style type="text/css">
  .filter-datepicker {
    background-color: #fff !important;
    cursor: pointer !important;
  }
</style>

<script type="text/javascript">
  datepicker_options = {
    maxDate: -0,
    dateFormat: "dd/mm/yy",
  }

  $(".filter-datepicker").datepicker(datepicker_options)

</script>


