<style type="text/css">
  .pd10{
    padding:10px;
  }
</style>
<div class="row">
  <div class="col-md-12" style="border-bottom: 1px solid #ccc; padding-bottom: 10px; ">
    <div class="col-md-12">
      <a class="btn btn-xs btn-success search-icd-filter">Apply</a>
    </div>
  </div>
</div>
<div class="criteria_wrapper">
  <div class="row">
    <div class="col-md-12 add_content_here">
    <div class="row mb10" style="background-color: #fff;padding:10px;border-bottom: 1px solid #ccc;">
    <div class="col-md-12 text-left">
      <b>Gender &nbsp;&nbsp;<span class="clear_gender clear_btn">clear</span></b>
    </div>
    <div class="col-md-12 gender_checkboxes">
      <div class="row mt10">
        <div class="col-md-6">
          <div class="ckbox ckbox-primary col-md-12">
            <input id="gender_male" name="filter[gender]" type="checkbox" value="Male" />
            <label for="gender_male">Male</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ckbox ckbox-primary col-md-12">
            <input id="gender_female" name="filter[gender]" type="checkbox" value="Female" />
            <label for="gender_female">Female</label>
          </div>
        </div>
      </div>
      <div class="row mt10">
        <div class="col-md-6">
          <div class="ckbox ckbox-primary col-md-12">
            <input id="gender_transgender" name="filter[gender]" type="checkbox" value="Transgender" />
            <label for="gender_transgender">Transgender</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ckbox ckbox-primary col-md-12">
            <input type="checkbox" name="filter['gender']" id='gender_un' value="un">
            <label for="gender_un">Un-specified</label>
          </div>
        </div>
      </div>


    </div>
    </div>
    <div class="row mb10 pd10">
    <div class="col-md-12 text-left">
      <b>Age &nbsp;&nbsp;<span class="clear_age clear_btn">clear</span></b>
    </div>
    <div class="col-md-12 age_inputs">
      <div class="row mt10" style="background-color: #fff;padding:10px;border-bottom: 1px solid #ccc;">
        <div class="col-md-3">
          <label for="filter_above_age">From</label>
        </div>
        <div class="col-md-3">
          <input type="number" name="filter[above_age]" value="" class="form-control p7_10" min="0" max="124", placeholder="Years" />
        </div>
        <div class="col-md-3">
          <label for="filter_above_age">To</label>
        </div>
        <div class="col-md-3">
          <input type="number" name="filter[below_age]" value="" class="form-control p7_10" min="1" max="125", placeholder="Years" />
        </div>
      </div>
    </div>
    </div>
    <div class="row mb10 pd10">
    <div class="col-md-12 text-left">
      <b>Side &nbsp;&nbsp;<span class="clear_side clear_btn">clear</span></b>
    </div>
    <div class="col-md-12 side_inputs">
      <div class="row mt10" style="background-color: #fff;padding:10px;border-bottom: 1px solid #ccc;">
        <div class="col-md-4">
          <div class="rdio rdio-primary">
            <input id="side_bilateral" name="filter[laterality]" type="radio" value="Bilateral" />
            <label for="side_bilateral">Both</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary">
            <input id="side_right" name="filter[laterality]" type="radio" value="Right" />
            <label for="side_right">Right</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary">
            <input id="side_left" name="filter[laterality]" type="radio" value="Left" />
            <label for="side_left">Left</label>
          </div>
        </div>
      </div>
    </div>
    </div>
      <div class="row mb10">
      <div class="col-md-6">
        <div class="col-md-12 text-left">
          <b>Systemic History &nbsp;&nbsp;<span class="clear_systemic clear_btn">clear</span></b>
        </div>
        <div class="col-md-12">
          <%= select_tag "filter['sysmetic_history']", options_for_select(personal_histories_list), {class:"form-control select_2_sysmetic_history sysmetic_history_data for_focus", multiple: true} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12 text-left">
          <b>Eye Drop Allergies &nbsp;&nbsp;<span class="clear_eye_drop clear_btn">clear</span></b>
        </div>
        <div class="col-md-12">
          <%= select_tag "filter['eye_drop_allergy']", options_for_select(eye_drop_allergy_list), {class:"form-control select_2_eye_drop_allergy eye_drop_allergy_data for_focus", multiple: true} %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(".clear_gender").on('click', function(){
  $(".gender_checkboxes input").each(function(){
    $(this).attr('checked', false)
  })
})

$(".clear_age").on('click', function(){
  $(".age_inputs input").each(function(){
    $(this).val('')
  })
})
$(".clear_side").on('click', function(){
  $(".side_inputs input").each(function(){
    $(this).attr('checked', false)
  })
});

$(".clear_systemic").on('click', function(){
  $(".select_2_sysmetic_history").select2('val','');
})
$(".clear_eye_drop").on('click', function(){
  $(".select_2_eye_drop_allergy").select2('val','');
})
</script>