<% if @show_more.present? %>
$("#show_more_modal").html("<%= escape_javascript(render 'search/results/diagnoses/show_more_modal_diagnoses')%>")
$("#show_more_modal").modal('show');
$("#show_more_modal").css({
    'z-index':'10000'
  })
<% else %>
jQuery(".mainpanel").html("<div class='contentpanel esearch-panel'><%= escape_javascript(render 'index.html.erb') %></div>")
<% end %>