<div class="row" style="margin-top:15px;">
	<div class="col-sm-6">
  	<strong>Select Number</strong><br>
  	<%= f.select :communication_number_id, options_for_select(@communication_numbers.map{|p| ["#{p.country_code} #{p.communication_number}", p.id.to_s] }, selected: f.object.communication_number_id), {include_blank: "Select Number"}, {:class => "form-control", :required => true} %>
  	<div id="error_msg"></div>
	</div>
</div>

<div class="row" style="margin-top:15px;">
	<div class="col-sm-12">
  	<strong>Select Template</strong><br>
  	<%= f.select :communication_template_ids, options_from_collection_for_select(@communication_templates, 'id', 'template_title', f.object.communication_template_ids), {}, {:class => "form-control", :required => true, multiple: 'multiple'} %>
	</div>
	</div>
<div id="template-message-previews">
	<label><strong>Message Preview:</strong></label>
	<table style="margin-bottom: 15px;" class="table table-primary table-bordered">
		<thead>
			<th>Template Name</th>
			<th>Template Content</th>
		</thead>
	</table>
</div>

<style type="text/css">
	#communication-template-whatsapp-setting-modal .modal-dialog{
		max-width: 60%;
		width: 100%;
	}
</style>