<div>
	<label><strong>Message Preview:</strong></label>
	<table style="margin-bottom: 15px;" class="table table-primary table-bordered">
	   <thead>
	    <th>Template Name</th>
	    <th>Template Content</th>
	  </thead>
		<tbody>
			<% @communication_templates.each_with_index do |cm_template, index| %>
				<tr>
					<td><%= cm_template.try(:template_title)%></td>
					<td style="padding-left: 15px" class="template-content-sx"><%= cm_template.try(:template_content)%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<style type="text/css">
	.template-content-sx{
		width: 100% !important;
    max-width: 66em !important;
    white-space: normal !important;
    overflow-wrap: break-word !important;
    word-break: break-word !important;
	}
</style>