<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Event Trigger</h4>
    </div>
    <div class="modal-body">
      <div id="error_msg"></div>
      <div class="row" style="margin-top:15px;">
    	  <div class="col-sm-6">
    	     <%= @response %>
    	  </div>
      </div>
  	</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
