<div class="modal-dialog modal-lg" style="width: 80%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Select Date and Time Appointment</h4>
    </div>
    <div class="modal-body">
      <div id="admission-slot-calendar">
      </div>
    </div>
  </div>
</div>
