<section>
  <div class="notfoundpanel">
    <div class="signin-info">
      <div class="text-center">
        <img src="/assets/healthgraph_full.png" alt="Hglogo">
      </div>
    </div>
    <br>
    <h3>Your Organisation has been onboarded.</h3>
    <br>
    <h4>This is Admin Dashboard.</h4>
  </div>
</section>