<section>
  <div class="notfoundpanel">
    <div class="signin-info">
      <div class="text-center">
        <img src="/assets/healthgraph_full.png" alt="Hglogo">
      </div>
    </div>
    <br>
    <h3>Your Organisation has been onboarded.</h3>
    <br>
    <% if (@current.role_ids == [160943002]) %>
      <h4>This is Owner Dashboard.</h4>
    <% elsif (@current.role_ids == [159282002]) %>
      <h4>This is Laboratory Technician".</h4>
    <% elsif (@current.role_ids == [41904004]) %>
      <h4>This is Radiologist Dashboard.</h4>
    <% elsif (@current.role_ids == [6868009]) %>
      <h4>This is Admin Dashboard.</h4>
    <% elsif (@current.role_ids == [106292003]) %>
       <h4>This is Nurse Dashboard.</h4>
    <% elsif (@current.role_ids == [159561009]) %>
       <h4>This is Receptionist Dashboard.</h4>
    <% elsif (@current.role_ids == [159562000]) %>
      <h4>This is Cashier Dashboard.</h4>
    <% elsif (@current.role_ids == [59561000]) %>
      <h4>This is Floor Manager Dashboard.</h4>
    <% elsif (@current.role_ids == [28221005]) %>
      <h4>This is AR/NCT Dashboard.</h4>
    <% elsif (@current.role_ids == [405277009]) %>
       <h4>This is Fellow/Resident Dashboard.</h4>
    <% elsif (@current.role_ids == [46255001]) %>
       <h4>This is Pharmacist Dashboard.</h4>
    <% elsif (@current.role_ids == [28229004]) %>
       <h4>This is Optometrist Dashboard.</h4>
    <% elsif (@current.role_ids == [387619007] )%>
       <h4>This is Optician Dashboard.</h4>
    <% end %>
  </div>
</section>