<style type="text/css">
  <%= Rails.application.assets.find_asset('application-print.css').to_s.html_safe %>
</style>

<%= wicked_pdf_stylesheet_link_tag "pdf" -%>

<div id="header" class="headerContent" style="display:none">
  <div style="height:50cm">
  </div>
</div>