<div class="manage_services" id="manage_services">
    <%= render "services_index_content" %>
  <script type="application/javascript">
      $(document).ready(function(){
          <%= render partial: 'services_init.js' %>
      })
  </script>
</div><!-- contentpanel -->

