    <div class="pageheader">
        <%= render "services_index_header" %>
    </div>
    
    <div class="contentpanel">      
        <%= render "services_new" %>      
    </div><!-- contentpanel -->