<div class="modal-dialog modal-hg-template">
    <div class="modal-content">  
	  		
	    <div class="modal-header">
          
          <div class="pull-right"> <!-- Action Buttons starts -->
            <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close this window</button>
          </div>
          <div class="text-center">
            <h4 class="nomargin">OPD Summary</h4>
          </div>
            <%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true %>
		</div>
	
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/#{@templatetype}_summary" %>

	</div>
</div>