<div class="template" style="background-color: #fff; padding:10px;">
	<%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_template_header"%>
	<%= render partial: "templates/common/stylesheetincludes" %> <!-- Render common stylesheet includes template from partial -->
  <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/opd_template_form_tabview" %>   
</div>
