<div class="modal-dialog modal-hg-template">
  <div class="modal-content">
	  <div class="modal-header">
      <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_template_header"%>
      <%= render partial: "templates/common/stylesheetincludes" %> <!-- Render common stylesheet includes template from partial -->    
    </div>
	  <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/opd_template_form", locals: { rules_file: @rules_file } %>
  </div>
</div>