<div class="step-pane" data-step="3">

  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#radiology" data-toggle="tab"><strong>Radiology</strong></a></li>
    <li class=""><a href="#laboratory" data-toggle="tab"><strong>Laboratory</strong></a></li>
  </ul>

  <div class="tab-content">
    <%= render partial: "opd_records/orthopedics_notes/opd_partials/regiontemplate_assessment_tab_radiology", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
    <%= render partial: "opd_records/orthopedics_notes/opd_partials/regiontemplate_assessment_tab_laboratory", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
  </div>

</div>