<div class="step-pane" data-step="2">

  <ul class="nav nav-tabs nav-justified" id="ul_trauma">
    <li class="active" data-id='diagnosis' onclick="prefix_and_toggle('diagnosis', 'assesment');"><a href="#diagnosis" data-toggle="tab"><strong style="<%= heading_font_size %>">DIAGNOSIS</strong></a></li>
    <li class="" data-id='radiology' onclick="prefix_and_toggle('radiology', 'assesment');"><a href="#radiology" data-toggle="tab"><strong>Radiology</strong></a></li>
    <li class="" data-id='radiology' onclick="prefix_and_toggle('radiology', 'assesment');"><a href="#laboratory" data-toggle="tab"><strong>Laboratory</strong></a></li>
  </ul>

  <div class="tab-content">
    <%= render partial: "opd_records/orthopedics_notes/opd_partials/traumasoap_assessment_tab_diagnosis" , locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>  
    <%= render partial: "opd_records/orthopedics_notes/opd_partials/traumasoap_assessment_tab_radiology", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
    <%= render partial: "opd_records/orthopedics_notes/opd_partials/traumasoap_assessment_tab_laboratory", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
  </div>

</div>