<% if @patient_uploads.count > 0 %>
  <% upload_filters = @patient_uploads.pluck(:parent_folder_id).uniq %>
  <% all_filters = [['Drawings', '560cc6f72b2e26135d000007'], ['OPD', '560cc6f72b2e26135d000005'], ['IPD', '560cc6f72b2e26135d000006'], ['Prescriptions', '560cc6f72b2e26135d000000'], ['Radiology', '560cc6f72b2e26135d000001'], ['Laboratory', '560cc6f72b2e26135d000002'], ['Ophthal', '560cc6f72b2e26135d000008'], ['Others', '560cc6f72b2e26135d000003'], ['Insurance', '560cc6f72b2e26135d000004']] %>
  <% refined_filters = all_filters.select { |filter| upload_filters.include?(filter[1]) } %>
  <div class="row mb20">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <b>Upload Type</b>
          <%= select_tag :upload_type_filter, options_for_select(refined_filters, ''), include_blank: 'All', class: 'form-control p7_10 upload_type_filter' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="upload-section" class="row filemanager upload-section">
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/uploads/list.html.erb' %>
</div>

<script type="text/javascript">
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/uploads/index.js.erb' %>
</script>
