<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header hidden-print">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Referral Message Preview</h4>
    </div>
    <div class="modal-body">
      <%=render 'user_notes/print'%>
    </div>
    <div class="modal-footer hidden-print">
      <div class="row">
        <div class="col-md-7 col-md-offset-5">
          <%= link_to edit_user_note_path(id: @user_note.id), data: {remote: true},class: 'btn btn-danger' do %><i class="fa  fa-pencil-square-o"></i>Edit<% end %>
          <div class="btn-group" style="margin-bottom:0px;">
            <%= link_to print_user_note_path(id: @user_note.id, pagesize: 'A4', format: :pdf), class: "btn btn-primary", target: "_blank", data: {method: :get} do %> <i class="fa fa-print mr5"></i> Print (A4)<% end %>
            <%= link_to print_user_note_path(id: @user_note.id, pagesize: 'A5', format: :pdf), class: "btn btn-primary", target: "_blank", data: {method: :get} do %> <i class="fa fa-print mr5"></i> (A5)<% end %>
          </div>
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>