$("#rol-rule-modal").html("<%= j render partial: 'edit_multiple.html.erb' %>");
<%= render partial: 'edit_multiple.js.erb' %>




function rol_rule_form(){
  $("#new-rol-rules-form").validate({
    ignore: [],
    rules: {

    },
    messages: {

    },
    errorPlacement: function (error, element) {
      error.insertAfter(element);
    }
  });
}
rol_rule_form()


function confirmationModal(method, prev){
  return `<div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header">
            <div class="row text-center">
              <h5><b>Confirmation Requird!</b></h5>
            </div>
          </div>
          <div class="modal-body">
            <p>You are about to change store</p>
            <p><span class='text-danger'> All unsaved changes to the rol rules will be lost.</span>
            Would you still want to change store ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info cancel-filter" onclick='cancel_filter("${method}_dropdown", "${prev}")' data-dismiss="modal">No don't change</button>
            <button type="button" class="btn btn-danger" onclick='${method}()' data-dismiss="modal">Yes change</button>
          </div>
      </div>
    </div>`
}

$.validator.addMethod("checkRolQuantity", function(value, element, options) {
  var id = $(element).attr("id")
  var item_quantity = $('#'+id).val()
  var item_max_quantity = $('#'+id).siblings(".item_max_quantity").val()
  if (!item_max_quantity) {
    return true
  }
  else{
    parseFloat(item_quantity) <= parseFloat(item_max_quantity);
  }
}, "Cannot Adjust more than stock");

$.validator.addMethod("checkQuantity", function(value, element, options) {
  var id = $(element).attr("id")
  class_val = $(element).attr("class")
  if (class_val.includes('item_rol_value')) {
    rol_qty = parseInt($('#'+id).val()) || 0
    max = id.replace('rol_value', 'max_value')
    min = id.replace('rol_value', 'min_value')
    max_qty = parseInt($('#'+max).val()) || 0
    min_qty = parseInt($('#'+min).val()) || 0
  } else if (class_val.includes('item_max_value')) {
    max_qty = parseInt($('#'+id).val()) || 0
    min = id.replace('max_value', 'min_value')
    min_qty = parseInt($('#'+min).val()) || 0
    rol = id.replace('max_value', 'rol_value')
    rol_qty = parseInt($('#'+rol).val()) || 0
  } else {
    min_qty = parseInt($('#'+id).val()) || 0
    max = id.replace('min_value', 'max_value')
    max_qty = parseInt($('#'+max).val()) || 0
    rol = id.replace('min_value', 'rol_value')
    rol_qty = parseInt($('#'+rol).val()) || 0
  }
  if (min_qty == 0 && max_qty == 0 && rol_qty == 0) {
    return true
  } else if (min_qty < rol_qty && rol_qty < max_qty) {
    return true
  } else {
    return false
  }
}, "");

$.validator.addClassRules("item_rol_value", { number: true, checkQuantity: true });
$.validator.addClassRules("item_max_value", { number: true, checkQuantity: true });
$.validator.addClassRules("item_min_value", { number: true, checkQuantity: true });
