<%# if @current_user.try(:new_feature_seen) %>
  <!-- <li class="common-li-class" id="new-feature-management"> -->
    <%#= link_to '/new_features', data: {remote: true, toggle: 'modal', target: '#feature-modal'}, class: "hover-effect", id: "new-feature-btn", style: "padding:5px;" do %>
      <%#= image_tag "whats-new.jpeg", :class => "logo", style: 'height: 40px;width: 55px;' %>
    <%# end %>
  <!-- </li> -->
<%# end %>
