<li class="headermenu-referral">
  <button class="btn btn-default dropdown-toggle tp-icon referral_list_button" data-toggle="dropdown" style="padding:12px; background-color:#fff; border:none;">
    <i class="fa fa-bell" style="font-size: 20px"></i>
    <span class="badge" style="padding: 0px 1px;"><%= @opd_referral_count %></span>
  </button>
  <ul class="dropdown-menu children referral_list_view">
  </ul>
</li>
