<li style="">
  <div class="form-group select_search" style="margin-bottom: 6px;margin-top: 8px;">
    <div class="input-group search-box-box">
      <div class="input-group-btn">

        <% search_type = current_facility.try(:search_type) || 'mr_no' %>

        <button type="button" class="btn  dropdown-toggle search-criteria" data-toggle="dropdown" aria-expanded="false" data-search-category='patient' data-search-filter='<%= search_type %>'><span class="criteria-text">Patient</span> <span class="caret"></span></button>

        <ul class="dropdown-menu" role="menu">
          <li><div class="search-dropdown-heading">Search Patient By</div></li>

          <li><a class="search-criteria-list" data-search-category='patient' data-search-filter="mr_no" data-placeholder-message="Search By MR No">MR No</a></li>
          <li><a class="search-criteria-list" data-search-category='patient' data-search-filter="mobile_no" data-placeholder-message="Search By Mobile No">Mobile No</a></li>
          <li><a class="search-criteria-list" data-search-category='patient' data-search-filter="name" data-placeholder-message="Search By Name">Name</a></li>
          <li><a class="search-criteria-list" data-search-category='patient' data-search-filter="id" data-placeholder-message="Search By Id">Patient Identifier</a></li>

          <%#= Time.current.strftime("%H").to_i%>
          <% if @current_user.role_ids.include?(158965000) || @current_user.role_ids.include?(6868009) %>
            <% if Time.current.strftime("%H").to_i.between?(0,24)  || Rails.env == "development" %>
              <li><div class="search-dropdown-heading">Diagnoses</div></li>
              <% if @current_user.role_ids.include?158965000 %>
                <li><a class="search-criteria-list" data-search-category='diagnosis' data-search-filter="my" data-placeholder-message="Search My Diagnoses">My Diagnoses</a></li>
              <% end %>
              <!--<li><a class="search-criteria-list" data-search-category='diagnosis' data-search-filter="facility" data-placeholder-message="Search In My Facility">My Facility </a></li>-->
              <% if @current_user.role_ids.include?(6868009) || @current_user.role_ids.include?(160943002) %>
                <li><a class="search-criteria-list" data-search-category='diagnosis' data-search-filter="all" data-placeholder-message="Search In All Diagnoses">All Diagnoses</a></li>
              <% end %>
              <li><div class="search-dropdown-heading">Procedures</div></li>
              <% if @current_user.role_ids.include?158965000 %>
                <li><a class="search-criteria-list" data-search-category='procedure' data-search-filter="my" data-placeholder-message="Search My Procedures">My Procedures</a></li>
              <% end %>
              <!--<li><a class="search-criteria-list" data-search-category='procedure' data-search-filter="facility" data-placeholder-message="Search In My Facility">My Facility</a></li>-->
              <% if @current_user.role_ids.include?(6868009) || @current_user.role_ids.include?(160943002) %>
                <li><a class="search-criteria-list" data-search-category='procedure' data-search-filter="all" data-placeholder-message="Search In All Facilities">All Procedures</a></li>
              <% end %>

            <% else %>
              <!--<li><div class="search-dropdown-heading">*Diagnoses & Procedure search will be available b/w 6 PM to 10 PM</div></li>-->

              <li><div class="search-dropdown-heading">Diagnoses (*Available b/w 6 PM to 10 PM)</div></li>
              <% if @current_user.role_ids.include?158965000 %>
                <li><a style="cursor: not-allowed;">My Diagnoses</a></li>
              <% end %>
              <% if @current_user.role_ids.include?(6868009) || @current_user.role_ids.include?(160943002) %>
                <li><a style="cursor: not-allowed;">All Facilities</a></li>
              <% end %>
              <li><div class="search-dropdown-heading">Procedures (*Available b/w 6 PM to 10 PM)</div></li>
              <% if @current_user.role_ids.include?158965000 %>
                <li><a style="cursor: not-allowed;">My Procedures</a></li>
              <% end %>
              <% if @current_user.role_ids.include?(6868009) || @current_user.role_ids.include?(160943002) %>
                <li><a style="cursor: not-allowed;">All Procedures</a></li>
              <% end %>

            <% end %>
          <% end %>
        </ul>
      </div>

      <input type="text" class="form-control master-search-box" data-toggle="tooltip-master-search-box" data-placement="bottom" name="master_search" id="master_search" placeholder="Search By <%= search_type.to_s.split('_').map(&:capitalize).join(' ') %>" style="padding:8px;">

      <div class="input-group-btn master-search-button-grp">
        <button type="button" class="btn master-search-button" aria-expanded="false" disabled="disabled"> <span class=""><i class="fa fa-search"></i></span></button>
      </div>
    </div>
  </div>
</li>

<style>
  .search-criteria-list {
    cursor: pointer;
  }

  .search-criteria, .master-search-button{
    color: #fff !important;
    background: #354670;
    border-color: #354670;
  }

  .search-dropdown-heading {
    margin: 4px 0 9px;
    padding: 0 0 5px;
    border-bottom: 1px solid #ddd;
    font-size: 11px;
    font-weight: 500;
    color: #999;
  }

  /* Tooltip */
  .tooltip {
    opacity: 1 !important;
    width: auto;
    pointer-events: none !important;
  }

  .tooltip > .tooltip-inner {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    padding: 5px;
    font-size: 13px;
    pointer-events: none !important;
  }

  .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #354670;
  }

  /*.ui-autocomplete {*/
    /*background-color: #dedada;*/
    /*text-shadow: 2px;*/
    /*!*text-align: center;*!*/
    /*max-height: 350px;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*color: #000;*/
  /*}*/

  /*.ui-menu-item a.ui-state-focus {*/
    /*background-color: #929090;*/
    /*color: #fff;*/
  /*}*/
</style>
