<% if @inventory_store&.enable_stock_management == true %>
  <li class="common-li-class" id="inventory-stock-information">
    <%= link_to inventory_stores_stock_information_path(store_id: @inventory_store.id), id: 'stock-notification-btn', data: { remote: true, 'toggle': 'modal', 'target': '#stock-notification-modal' } do %><i class="fas fa-bell"></i>&nbsp;</i><strong>Notification</strong><% end %>
  </li>
<% end %>
