<% css_display = current_facility_setting&.queue_management && current_facility_setting&.user_set_station ? 'block' : 'none' %>
<li class="common-li-class" id="user-station-link" style="display: <%= css_display %>;">
  <%= link_to link_user_queue_management_sub_stations_path, data: { remote: true, toggle: 'modal', target: '#organisation-modal' }, class: 'hover-effect', id: 'user_station', style: 'padding:15px; background-color:#fff; border:none;' do %>
    <span class="leftnav-main-title fa-color"><i class="fa fa-cog"></i> Set Station</span>
  <% end %>
</li>
