<div class="row" style="padding:30px;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-4">
        <!-- Outpatient -->
        <%= render partial: "/mis/clinical_reports/outpatient/report_list.html.erb" %>
      </div>
      <div class="col-sm-4">
        <!-- Inpatient -->
        <%= render partial: "/mis/clinical_reports/inpatient/report_list.html.erb" %>
      </div>
      <div class="col-sm-4">
        <!-- Conversion -->
        <%= render partial: "/mis/clinical_reports/conversion/report_list.html.erb" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <!-- OT -->
        <%= render partial: "/mis/clinical_reports/ot/report_list.html.erb" %>
      </div>
    </div>
  </div>
</div>