<div class="container-fluid">
  <div class="navbar-header" style="margin-right: 2%;">
    <a class="navbar-brand ps" style="color:#fff;" href="/mis/new_clinical_reports" data-remote="true">MIS Reports</a>
  </div>
  <%= form_tag('', class: 'navbar-form navbar-left', style: 'width:20%;') do %>
    <%= select_tag(:new_clinical_mis_lists, grouped_options_for_select(@grouped_options), prompt: 'Search Reports')%>
  <% end %>
</div>

<script type="text/javascript">
  <%= render partial: "index.js.erb" %>
</script>
