<!-- Modal -->
<div class="modal fade" id="info_modal_dialog_avg_conversion_time" tabindex="-1" role="dialog" aria-labelledby="info_modal_dialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info_modal_dialogLabel">Avg Conversion time (Days)</h4>
      </div>
      <div class="modal-body">
        Shows the average time taken for the performed procedures. This is based on the performed time.
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="info_modal_dialog_inv_avg_conversion_time" tabindex="-1" role="dialog" aria-labelledby="info_modal_dialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info_modal_dialogLabel">Avg Conversion time (Days)</h4>
      </div>
      <div class="modal-body">
        Shows the average time taken for the performed investigations. This is based on the performed time.
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="info_modal_dialog_self_conversion_percentage" tabindex="-1" role="dialog" aria-labelledby="info_modal_dialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info_modal_dialogLabel">Conversion (%)</h4>
      </div>
      <div class="modal-body">
        Shows the percentage of advised procedures converted by the same advising doctor.
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="info_modal_dialog_and_advised" tabindex="-1" role="dialog" aria-labelledby="info_modal_dialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info_modal_dialogLabel">Advised</h4>
      </div>
      <div class="modal-body">
        Advised procedures on the date. This is exclusive and not related to procedures performed count on a particular date.
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="info_modal_dialog_and_performed" tabindex="-1" role="dialog" aria-labelledby="info_modal_dialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info_modal_dialogLabel">Performed</h4>
      </div>
      <div class="modal-body">
        Performed procedures on the date. This is exclusive and not related to procedures advised count on a particular date.
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="info_modal_dialog_and_advised_investigation" tabindex="-1" role="dialog" aria-labelledby="info_modal_dialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info_modal_dialogLabel">Advised</h4>
      </div>
      <div class="modal-body">
        Advised investigations on the date. This is exclusive and not related to investigations performed count on a particular date.
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="info_modal_dialog_and_performed_investigation" tabindex="-1" role="dialog" aria-labelledby="info_modal_dialogLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info_modal_dialogLabel">Performed</h4>
      </div>
      <div class="modal-body">
        Performed investigations on the date. This is exclusive and not related to investigations advised count on a particular date.
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>