<% if @mis_params[:title].present? && @mis_params[:group].present? %>
  $(".mis_reports_panel").html("<%= escape_javascript(render 'reports_view.html.erb') %>");
<% else %>
  // Throw Error if "title" or "group" is missing
  notice = new PNotify({ title: 'Error', text: 'There seems to be an error. Please retry after a while.', icon: 'fa fa-stop', type: 'error' });
  notice.get().click(function() { return notice.remove(); });
<% end %>

$(document).on("click",".view_clinical_workflow",function() {
  $("#view-tpa-modal").modal('show')
  var work_flow = $(this).data('flow')
  $("#view-tpa-modal").html("<%= escape_javascript(render(partial: 'visit_journey.html.erb')) %>")
  let flow = ""
  if (work_flow.length > 0)
  {
    flow += `<label style="font-size:12px;border-radius: 12px;display: inline-block;" class="label label-danger">Arrived</label>
        <i class='fa fa-long-arrow-alt-right'></i>`
  }
  var i = 0;
  work_flow.forEach(function(row) {
    is_checkout = is_call = false
    if(row.to.indexOf('check_out') != -1) {
      is_checkout = true
    } else if(row.to.indexOf('call') != -1) {
      is_call = true
    }
    if(is_checkout == true || is_call == true){
      lbl_class = 'label-default'
    } else {
      lbl_class = 'label-primary'
    }
    i += 1;
    switch(row.to_role) {
      case 'away':
        flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; display: inline-block;" class="label label-danger away">Away</label>`
      break;
    case 'incomplete':
      flow += `<label title="" style="font-size: 12px; border-radius: 12px; display: inline-block;" class="label label-danger away">InCompleted</label>`
      break;
    case 'doctor':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name;
      } else {
        to_name = 'Dr.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size:12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label ${lbl_class}">${to_name}</label>`
      break;
    case 'complete':
      flow += `<label title="" style="font-size: 12px; border-radius: 12px; display: inline-block;" class="label label-success away">Complete</label>`
      break;
    case 'receptionist':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'Rcpt.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'floormanager':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'FMgr.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label ${lbl_class}">${to_name}</label>`
      break;
    case 'cashier':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'CA.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'nurse':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'Nr.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'counsellor':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'Cr.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'optometrist':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'Opt.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'pharmacist':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'Ph.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'optician':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      }else {
        to_name = 'OP.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'radiologist':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'RA.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'technician':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'LA.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'ophthalmology_technician':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'OPH.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'ar_nct':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = 'AR/NCT.' + row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    case 'tpa':
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${row.to_name}</label>`
      break;      
    case 'check_out':
      if (row.to_name !== null) {
        if(is_checkout == true) {
          to_name = 'WI: ' + row.to_name;
        } else if(is_call == true) {
          to_name = 'Call: ' + row.to_name
        } else {
          to_name = row.to_name
        }
        flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      }
      break;
    case 'call':
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = row.to_name
      }
      flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-default">${to_name}</label>`
      break;
    default:
      if(is_checkout == true) {
        to_name = 'WI: ' + row.to_name;
      } else if(is_call == true) {
        to_name = 'Call: ' + row.to_name
      } else {
        to_name = row.to_name
      }
      if (to_name.length > 0) {
        flow += `<label title="${row.time_diff}" style="font-size: 12px; border-radius: 12px; margin: 0px; display: inline-block;" class="label label-primary">${to_name}</label>`
      }
      break;
    }
    if ((row.to_name !== null) && (i != work_flow.length) && ((row.to_name.length > 0) || (row.to_role == 'away')) ) {
      flow += "<i class='fa fa-long-arrow-alt-right'></i>"
    }
  });

  $("#view-tpa-modal .modal-body").html(flow)
})
