<% if @roles.present? %>
  <!-- Role -->
  <li class="dropdown" style="margin-right:25px;">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="mis-dropdown-title">Role</span>
      <span id="mis-date-filter" ><%= @mis_params[:role_name].blank? ? 'All' : @mis_params[:role_name] %></span>&emsp;<span class="fa fa-caret-down"></span>
    </a>
    <ul class="dropdown-menu mis-search-toggle-off" id="period-list" style="overflow-y: auto;max-height:400px;">
      <li class="role-list"><a class="mis-role-filter" href="#">All</a></li>
      <% @roles.each do |role| %>
        <li class="role-list"><a class="mis-role-filter" data-id="<%=role.id%>" href="#"><%=role.label%></a></li>
      <% end %>
    </ul>
  </li>
<% end %>