<div class="row" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Faclity Name</strong><br>
    <%= f.select :facility_id, options_from_collection_for_select(@facilities, 'id', 'name', f.object.facility_id.blank? ? params[:facility_id] : f.object.facility_id), {include_blank: "Select Template"}, {:class => "form-control", :required => true} %>
  </div>
  <div class="col-sm-6">
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Module name</strong><br>
    <%= f.select :module_name, options_for_select([['OPD', 'opd'],['IPD', 'ipd'],['Optical', 'optical'],['Pharmacy', 'pharmacy']], f.object.module_name), {include_blank: "Select Feature"}, {:class => "form-control", :required => true} %>
  </div>
</div>
<div class="row" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Feature Type</strong><br>
    <%= f.select :feature_type, options_for_select([['Appointment Scheduled', 'appointment_scheduled'],['Patient Arrived', 'patient_arrived'], ["Appointment Cancellation", "appointment_cancellation"]], f.object.feature_type), {include_blank: "Select Feature"}, {:class => "form-control", :required => true} %>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $("#communication_event_setup_facility_id").val($("#event_setup_facility_dropdown").val())
  })
</script>


