<div class="row mb20">
  <div class="col-md-2 ">
    Implants Used :
  </div>
  <div class="col-md-3">
    <%= f.text_area :implants_used, {style: "width:125%;", class: "form-control", :value => @operative_note.read_attribute(:implants_used)} %>
  </div>
  <div class="col-md-2 col-md-offset-1">
    Post-Op Plan :
  </div>
  <div class="col-md-3">
    <%= f.text_area :post_op_plan, {style: "width:125%;", class: "form-control", :value => @operative_note.read_attribute(:post_op_plan)} %>
  </div>
</div>
<br>
<div class="col-md-10 advice-set">
  <%if current_facility.try(:show_language_support) == true %>
     <% @advice_set = AdviceSet.where(organisation_id: current_user.organisation_id, is_deleted: false,  '$or'=>[{level: "organisation"},{facility_id: current_facility.id, level: "facility"},{user_id: current_user.id, level: "user"}]).order(counter: "desc").map{ |p| ["#{p[:name]}  (#{p[:language_advice_subset].collect{|u| u[:language]}.join(" , ")}) by: #{p[:level].to_s.capitalize}", p.language_advice_subset[0][:content], { 'data-id' => "#{p[:id]}" }] } %>
  <% else %>
    <% @advice_set = AdviceSet.where(organisation_id: current_user.organisation_id, is_deleted: false, '$or'=>[{level: "organisation"},{facility_id: current_facility.id, level: "facility"},{user_id: current_user.id, level: "user"}]).order(counter: "desc").map{ |p| ["#{p[:name]}   by: #{p[:level].to_s.capitalize}", "#{p[:content]}", { 'data-id' => "#{p[:id]}" }] } %>
  <% end %>
  <%= f.simple_fields_for :advice, @advice do |advice| %>
    <%= render partial: "templates/common/ipd_advice_precautions.html.erb",  locals: { f: advice } %>
  <%end%>
</div>