// For Medication
$(".medication_row").on('click',".add_inventoy_medication",function(e){
  var total_rows = $('#inventorymedicationcount').val()
  var single_row_html = '<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control med_name" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorymedication_row_count_name"></div><div class="col-md-2 "><input class="form-control med_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorymedication_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control med_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorymedication_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication][row_count][used]"></div><div class="col-md-2 "><input class="form-control med_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventorymedication_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_medication" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_medication"></span><span id="remove_inventoy_medication_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_medication"></span></div></div></div>'

  single_row_html = single_row_html.replace(/row_count/g,total_rows)
  $('#inventorymedicationcount').val(+total_rows+1)
  $(single_row_html).appendTo('.medication_row')
  $(".medication_row").find(".remove_inventoy_medication").removeAttr('disabled','disabled')
    $(".medication_row").find(".single_row").last().find(".med_qty").on('keyup',function(){
        $(this).closest('.single_row').find('.med_rm').val($(this).val()- $(this).closest('.single_row').find('.med_used').val())
    })
    $(".medication_row").find(".single_row").last().find(".med_used").on('keyup',function(){
        $(this).closest('.single_row').find('.med_rm').val($(this).closest('.single_row').find('.med_qty').val()-$(this).val())
    })
    autocomplete_medicine();
})

$(".medication_row").on('click',".remove_inventoy_medication",function(e){
  var id = $(this).attr('id');
  if ($(".medication_row").find(".remove_inventoy_medication").length > 1){
    $(this).closest('.single_row').remove()
  } else {
    $(this).closest('.single_row').remove()
    $('.medication_row').append('<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control med_name" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorymedication_row_count_name"></div><div class="col-md-2 "><input class="form-control med_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorymedication_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control med_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorymedication_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication][row_count][used]"></div><div class="col-md-2 "><input class="form-control med_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventorymedication][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventorymedication_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_medication" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_medication"></span><span id="remove_inventoy_medication_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_medication"></span></div></div></div>')
  }
  $(".medication_row").find(".medlab").first().text("Medications")
    $(".medication_row").find(".single_row").last().find(".med_qty").on('change',function(){
        $(this).closest('.single_row').find('.med_rm').val($(this).val()- $(this).closest('.single_row').find('.med_used').val())
    })
    $(".medication_row").find(".single_row").last().find(".med_used").on('keyup',function(){
        $(this).closest('.single_row').find('.med_rm').val($(this).closest('.single_row').find('.med_qty').val()-$(this).val())
    })
    autocomplete_medicine();
})

$(".medication_row").find(".single_row").last().find(".med_qty").on('keyup',function(){
    $(this).closest('.single_row').find('.med_rm').val($(this).val()- $(this).closest('.single_row').find('.med_used').val())
})
$(".medication_row").find(".single_row").last().find(".med_used").on('keyup',function(){
    $(this).closest('.single_row').find('.med_rm').val($(this).closest('.single_row').find('.med_qty').val()-$(this).val())
})



// For Consumables
$(".consumable_row").on('click',".add_inventoy_consumable",function(e){
    var total_rows = $('#inventoryconsumablecount').val()
    var single_row_html = '<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryconsumables_row_count_name"></div><div class="col-md-2 "><input class="form-control con_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryconsumables_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control con_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryconsumables_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables][row_count][used]"></div><div class="col-md-2 "><input class="form-control con_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventoryconsumables_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_consumables" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_consumable"></span><span id="remove_inventoy_consumables_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_consumable"></span></div></div></div>'

    single_row_html = single_row_html.replace(/row_count/g,total_rows)
    $('#inventoryconsumablecount').val(+total_rows+1)
    $(single_row_html).appendTo('.consumable_row')
    $(".consumable_row").find(".remove_inventoy_consumable").removeAttr('disabled','disabled')
    $(".consumable_row").find(".single_row").last().find(".con_qty").on('keyup',function(){
        $(this).closest('.single_row').find('.con_rm').val($(this).val()- $(this).closest('.single_row').find('.con_used').val())
    })
    $(".consumable_row").find(".single_row").last().find(".con_used").on('keyup',function(){
        $(this).closest('.single_row').find('.con_rm').val($(this).closest('.single_row').find('.con_qty').val()-$(this).val())
    })
})

$(".consumable_row").on('click',".remove_inventoy_consumable",function(e){
    var id = $(this).attr('id');
    if ($(".consumable_row").find(".remove_inventoy_consumable").length > 1){
        $(this).closest('.single_row').remove()
    } else {
        $(this).closest('.single_row').remove()
        $('.consumable_row').append('<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryconsumables_row_count_name"></div><div class="col-md-2 "><input class="form-control con_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryconsumables_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control con_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryconsumables_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables][row_count][used]"></div><div class="col-md-2 "><input class="form-control con_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventoryconsumables][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventoryconsumables_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_consumable" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_consumable"></span><span id="remove_inventoy_consumable_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_consumable"></span></div></div></div>')
    }
    $(".consumable_row").find(".medlab").first().text("Consumables")
    $(".consumable_row").find(".single_row").last().find(".con_qty").on('change',function(){
        $(this).closest('.single_row').find('.con_rm').val($(this).val()- $(this).closest('.single_row').find('.con_used').val())
    })
    $(".consumable_row").find(".single_row").last().find(".con_used").on('keyup',function(){
        $(this).closest('.single_row').find('.con_rm').val($(this).closest('.single_row').find('.con_qty').val()-$(this).val())
    })
})
$(".consumable_row").find(".single_row").last().find(".con_qty").on('keyup',function(){
    $(this).closest('.single_row').find('.con_rm').val($(this).val()- $(this).closest('.single_row').find('.con_used').val())
})
$(".consumable_row").find(".single_row").last().find(".con_used").on('keyup',function(){
    $(this).closest('.single_row').find('.con_rm').val($(this).closest('.single_row').find('.con_qty').val()-$(this).val())
})
// For Packs/Drapes
$(".pack_row").on('click',".add_inventoy_pack",function(e){
    var total_rows = $('#inventorypackcount').val()
    var single_row_html = '<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventorypack_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorypack_row_count_name"></div><div class="col-md-2 "><input class="form-control pack_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorypack_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorypack_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventorypack][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control pack_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorypack_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorypack_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventorypack][row_count][used]"></div><div class="col-md-2 "><input class="form-control pack_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorypack_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventorypack][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventorypack_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_pack" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_pack"></span><span id="remove_inventoy_pack_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_pack"></span></div></div></div>'

    single_row_html = single_row_html.replace(/row_count/g,total_rows)
    $('#inventorypackcount').val(+total_rows+1)
    $(single_row_html).appendTo('.pack_row')
    $(".pack_row").find(".remove_inventoy_pack").removeAttr('disabled','disabled')

    $(".pack_row").find(".single_row").last().find(".pack_qty").on('keyup',function(){
        $(this).closest('.single_row').find('.pack_rm').val($(this).val()- $(this).closest('.single_row').find('.pack_used').val())
    })
    $(".pack_row").find(".single_row").last().find(".pack_used").on('keyup',function(){
        $(this).closest('.single_row').find('.pack_rm').val($(this).closest('.single_row').find('.pack_qty').val()-$(this).val())
    })
})

$(".pack_row").on('click',".remove_inventoy_pack",function(e){
    var id = $(this).attr('id');
    if ($(".pack_row").find(".remove_inventoy_pack").length > 1){
        $(this).closest('.single_row').remove()
    } else {
        $(this).closest('.single_row').remove()
        $('.pack_row').append('<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventorypack_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorypack_row_count_name"></div><div class="col-md-2 "><input class="form-control pack_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorypack_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorypack_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventorypack][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control pack_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorypack_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorypack_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventorypack][row_count][used]"></div><div class="col-md-2 "><input class="form-control pack_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorypack_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventorypack][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventorypack_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_pack" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_pack"></span><span id="remove_inventoy_pack_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_pack"></span></div></div></div>')
    }
    $(".pack_row").find(".medlab").first().text("Packs/Drapes")
    $(".pack_row").find(".single_row").last().find(".pack_qty").on('change',function(){
        $(this).closest('.single_row').find('.pack_rm').val($(this).val()- $(this).closest('.single_row').find('.pack_used').val())
    })
    $(".pack_row").find(".single_row").last().find(".pack_used").on('keyup',function(){
        $(this).closest('.single_row').find('.pack_rm').val($(this).closest('.single_row').find('.pack_qty').val()-$(this).val())
    })
})
$(".pack_row").find(".single_row").last().find(".pack_qty").on('keyup',function(){
    $(this).closest('.single_row').find('.pack_rm').val($(this).val()- $(this).closest('.single_row').find('.pack_used').val())
})
$(".pack_row").find(".single_row").last().find(".pack_used").on('keyup',function(){
    $(this).closest('.single_row').find('.pack_rm').val($(this).closest('.single_row').find('.pack_qty').val()-$(this).val())
})
//for IRRIGATION/SOLUTIONS/PREP
$(".prep_row").on('click',".add_inventoy_prep",function(e){
    var total_rows = $('#inventoryprepcount').val()
    var single_row_html = '<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryprep_row_count_name"></div><div class="col-md-2 "><input class="form-control prep_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryprep_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control prep_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryprep_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep][row_count][used]"></div><div class="col-md-2 "><input class="form-control prep_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventoryprep_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_prep" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_prep"></span><span id="remove_inventoy_prep_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_prep"></span></div></div></div>'

    single_row_html = single_row_html.replace(/row_count/g,total_rows)
    $('#inventoryprepcount').val(+total_rows+1)
    $(single_row_html).appendTo('.prep_row')
    $(".prep_row").find(".remove_inventoy_prep").removeAttr('disabled','disabled')

    $(".prep_row").find(".single_row").last().find(".prep_qty").on('keyup',function(){
        $(this).closest('.single_row').find('.prep_rm').val($(this).val()- $(this).closest('.single_row').find('.prep_used').val())
    })
    $(".prep_row").find(".single_row").last().find(".prep_used").on('keyup',function(){
        $(this).closest('.single_row').find('.prep_rm').val($(this).closest('.single_row').find('.prep_qty').val()-$(this).val())
    })
})

$(".prep_row").on('click',".remove_inventoy_prep",function(e){
    var id = $(this).attr('id');
    if ($(".prep_row").find(".remove_inventoy_prep").length > 1){
        $(this).closest('.single_row').remove()
    } else {
        $(this).closest('.single_row').remove()
        $('.prep_row').append('<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryprep_row_count_name"></div><div class="col-md-2 "><input class="form-control prep_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryprep_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control prep_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryprep_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep][row_count][used]"></div><div class="col-md-2 "><input class="form-control prep_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventoryprep][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventoryprep_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_prep" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_prep"></span><span id="remove_inventoy_prep_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_prep"></span></div></div></div>')
    }
    $(".prep_row").find(".medlab").first().text("Irrigation/Solutions/Preps")
    $(".prep_row").find(".single_row").last().find(".prep_qty").on('change',function(){
        $(this).closest('.single_row').find('.prep_rm').val($(this).val()- $(this).closest('.single_row').find('.prep_used').val())
    })
    $(".prep_row").find(".single_row").last().find(".prep_used").on('keyup',function(){
        $(this).closest('.single_row').find('.prep_rm').val($(this).closest('.single_row').find('.prep_qty').val()-$(this).val())
    })
})
$(".prep_row").find(".single_row").last().find(".prep_qty").on('keyup',function(){
    $(this).closest('.single_row').find('.prep_rm').val($(this).val()- $(this).closest('.single_row').find('.prep_used').val())
})
$(".prep_row").find(".single_row").last().find(".prep_used").on('keyup',function(){
    $(this).closest('.single_row').find('.prep_rm').val($(this).closest('.single_row').find('.prep_qty').val()-$(this).val())
})
//FOR dressing

$(".dressings_row").on('click',".add_inventoy_dressings",function(e){
    var total_rows = $('#inventorydressingscount').val()
    var single_row_html = '<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorydressings_row_count_name"></div><div class="col-md-2 "><input class="form-control dressings_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorydressings_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control dressings_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorydressings_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings][row_count][used]"></div><div class="col-md-2 "><input class="form-control dressings_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventorydressings_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_dressings" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_dressings"></span><span id="remove_inventoy_dressings_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_dressings"></span></div></div></div>'

    single_row_html = single_row_html.replace(/row_count/g,total_rows)
    $('#inventorydressingscount').val(+total_rows+1)
    $(single_row_html).appendTo('.dressings_row')
    $(".dressings_row").find(".remove_inventoy_dressings").removeAttr('disabled','disabled')
    $(".dressings_row").find(".single_row").last().find(".dressings_qty").on('keyup',function(){
        $(this).closest('.single_row').find('.dressings_rm').val($(this).val()- $(this).closest('.single_row').find('.dressings_used').val())
    })
    $(".dressings_row").find(".single_row").last().find(".dressings_used").on('keyup',function(){
        $(this).closest('.single_row').find('.dressings_rm').val($(this).closest('.single_row').find('.dressings_qty').val()-$(this).val())
    })
})

$(".dressings_row").on('click',".remove_inventoy_dressings",function(e){
    var id = $(this).attr('id');
    if ($(".dressings_row").find(".remove_inventoy_dressings").length > 1){
        $(this).closest('.single_row').remove()
    } else {
        $(this).closest('.single_row').remove()
        $('.dressings_row').append('<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorydressings_row_count_name"></div><div class="col-md-2 "><input class="form-control dressings_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorydressings_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control dressings_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventorydressings_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings][row_count][used]"></div><div class="col-md-2 "><input class="form-control dressings_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventorydressings][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventorydressings_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_dressings" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_dressings"></span><span id="remove_inventoy_dressings_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_dressings"></span></div></div></div>')
    }
    $(".dressings_row").find(".medlab").first().text("Dressings/Drains/Sutures")
    $(".dressings_row").find(".single_row").last().find(".dressings_qty").on('change',function(){
        $(this).closest('.single_row').find('.dressings_rm').val($(this).val()- $(this).closest('.single_row').find('.dressings_used').val())
    })
    $(".dressings_row").find(".single_row").last().find(".dressings_used").on('keyup',function(){
        $(this).closest('.single_row').find('.dressings_rm').val($(this).closest('.single_row').find('.dressings_qty').val()-$(this).val())
    })
})
$(".dressings_row").find(".single_row").last().find(".dressings_qty").on('keyup',function(){
    $(this).closest('.single_row').find('.dressings_rm').val($(this).val()- $(this).closest('.single_row').find('.dressings_used').val())
})
$(".dressings_row").find(".single_row").last().find(".dressings_used").on('keyup',function(){
    $(this).closest('.single_row').find('.dressings_rm').val($(this).closest('.single_row').find('.dressings_qty').val()-$(this).val())
})
//for instrument
$(".instrument_row").on('click',".add_inventoy_instrument",function(e){
    var total_rows = $('#inventoryinstrumentcount').val()
    var single_row_html = '<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryinstrument_row_count_name"></div><div class="col-md-2 "><input class="form-control instrument_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryinstrument_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control instrument_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryinstrument_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument][row_count][used]"></div><div class="col-md-2 "><input class="form-control instrument_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventoryinstrument_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_instrument" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_instrument"></span><span id="remove_inventoy_instrument_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_instrument"></span></div></div></div>'

    single_row_html = single_row_html.replace(/row_count/g,total_rows)
    $('#inventoryinstrumentcount').val(+total_rows+1)
    $(single_row_html).appendTo('.instrument_row')
    $(".instrument_row").find(".remove_inventoy_instrument").removeAttr('disabled','disabled')
    $(".instrument_row").find(".single_row").last().find(".instrument_qty").on('keyup',function(){
        $(this).closest('.single_row').find('.instrument_rm').val($(this).val()- $(this).closest('.single_row').find('.instrument_used').val())
    })
    $(".instrument_row").find(".single_row").last().find(".instrument_used").on('keyup',function(){
        $(this).closest('.single_row').find('.instrument_rm').val($(this).closest('.single_row').find('.instrument_qty').val()-$(this).val())
    })
})

$(".instrument_row").on('click',".remove_inventoy_instrument",function(e){
    var id = $(this).attr('id');
    if ($(".instrument_row").find(".remove_inventoy_instrument").length > 1){
        $(this).closest('.single_row').remove()
    } else {
        $(this).closest('.single_row').remove()
        $('.instrument_row').append('<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryinstrument_row_count_name"></div><div class="col-md-2 "><input class="form-control instrument_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryinstrument_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control instrument_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryinstrument_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument][row_count][used]"></div><div class="col-md-2 "><input class="form-control instrument_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventoryinstrument][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventoryinstrument_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_instrument" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_instrument"></span><span id="remove_inventoy_instrument_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_instrument"></span></div></div></div>')
    }
    $(".instrument_row").find(".medlab").first().text("Instruments/Drains/Sutures")
    $(".instrument_row").find(".single_row").last().find(".instrument_qty").on('change',function(){
        $(this).closest('.single_row').find('.instrument_rm').val($(this).val()- $(this).closest('.single_row').find('.instrument_used').val())
    })
    $(".instrument_row").find(".single_row").last().find(".instrument_used").on('keyup',function(){
        $(this).closest('.single_row').find('.instrument_rm').val($(this).closest('.single_row').find('.instrument_qty').val()-$(this).val())
    })
})
$(".instrument_row").find(".single_row").last().find(".instrument_qty").on('keyup',function(){
    $(this).closest('.single_row').find('.instrument_rm').val($(this).val()- $(this).closest('.single_row').find('.instrument_used').val())
})
$(".instrument_row").find(".single_row").last().find(".instrument_used").on('keyup',function(){
    $(this).closest('.single_row').find('.instrument_rm').val($(this).closest('.single_row').find('.instrument_qty').val()-$(this).val())
})
//for implats

$(".implants_row").on('click',".add_inventoy_implants",function(e){
    var total_rows = $('#inventoryimplantscount').val()
    var single_row_html = '<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryimplants_row_count_name"></div><div class="col-md-2 "><input class="form-control implants_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryimplants_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control implants_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryimplants_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants][row_count][used]"></div><div class="col-md-2 "><input class="form-control implants_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventoryimplants_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_implants" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_implants"></span><span id="remove_inventoy_implants_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_implants"></span></div></div></div>'

    single_row_html = single_row_html.replace(/row_count/g,total_rows)
    $('#inventoryimplantscount').val(+total_rows+1)
    $(single_row_html).appendTo('.implants_row')
    $(".implants_row").find(".remove_inventoy_implants").removeAttr('disabled','disabled')
    $(".implants_row").find(".single_row").last().find(".implants_qty").on('keyup',function(){
        $(this).closest('.single_row').find('.implants_rm').val($(this).val()- $(this).closest('.single_row').find('.implants_used').val())
    })
    $(".implants_row").find(".single_row").last().find(".implants_used").on('keyup',function(){
        $(this).closest('.single_row').find('.implants_rm').val($(this).closest('.single_row').find('.implants_qty').val()-$(this).val())
    })
})

$(".implants_row").on('click',".remove_inventoy_implants",function(e){
    var id = $(this).attr('id');
    if ($(".implants_row").find(".remove_inventoy_implants").length > 1){
        $(this).closest('.single_row').remove()
    } else {
        $(this).closest('.single_row').remove()
        $('.implants_row').append('<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryimplants_row_count_name"></div><div class="col-md-2 "><input class="form-control implants_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryimplants_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control implants_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryimplants_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants][row_count][used]"></div><div class="col-md-2 "><input class="form-control implants_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventoryimplants][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventoryimplants_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_implants" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_implants"></span><span id="remove_inventoy_implants_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_implants"></span></div></div></div>')
    }
    $(".implants_row").find(".medlab").first().text("Implants/Drains/Sutures")
    $(".implants_row").find(".single_row").last().find(".implants_qty").on('change',function(){
        $(this).closest('.single_row').find('.implants_rm').val($(this).val()- $(this).closest('.single_row').find('.implants_used').val())
    })
    $(".implants_row").find(".single_row").last().find(".implants_used").on('keyup',function(){
        $(this).closest('.single_row').find('.implants_rm').val($(this).closest('.single_row').find('.implants_qty').val()-$(this).val())
    })
})
$(".implants_row").find(".single_row").last().find(".implants_qty").on('keyup',function(){
    $(this).closest('.single_row').find('.implants_rm').val($(this).val()- $(this).closest('.single_row').find('.implants_used').val())
})
$(".implants_row").find(".single_row").last().find(".implants_used").on('keyup',function(){
    $(this).closest('.single_row').find('.implants_rm').val($(this).closest('.single_row').find('.implants_qty').val()-$(this).val())
})
//for swabs
$(".swabs_row").on('click',".add_inventoy_swabs",function(e){
    var total_rows = $('#inventoryswabscount').val()
    var single_row_html = '<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryswabs_row_count_name"></div><div class="col-md-2 "><input class="form-control swabs_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryswabs_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control swabs_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryswabs_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs][row_count][used]"></div><div class="col-md-2 "><input class="form-control swabs_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventoryswabs_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_swabs" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_swabs"></span><span id="remove_inventoy_swabs_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_swabs"></span></div></div></div>'

    single_row_html = single_row_html.replace(/row_count/g,total_rows)
    $('#inventoryswabscount').val(+total_rows+1)
    $(single_row_html).appendTo('.swabs_row')
    $(".swabs_row").find(".remove_inventoy_swabs").removeAttr('disabled','disabled')

    $(".swabs_row").find(".single_row").last().find(".swabs_qty").on('keyup',function(){
        $(this).closest('.single_row').find('.swabs_rm').val($(this).val()- $(this).closest('.single_row').find('.swabs_used').val())
    })
    $(".swabs_row").find(".single_row").last().find(".swabs_used").on('keyup',function(){
        $(this).closest('.single_row').find('.swabs_rm').val($(this).closest('.single_row').find('.swabs_qty').val()-$(this).val())
    })
})

$(".swabs_row").on('click',".remove_inventoy_swabs",function(e){
    var id = $(this).attr('id');
    if ($(".swabs_row").find(".remove_inventoy_swabs").length > 1){
        $(this).closest('.single_row').remove()
    } else {
        $(this).closest('.single_row').remove()
        $('.swabs_row').append('<div class="col-md-12 single_row"><div class="row mb5"><div class="col-md-2 text-right"><label class="medlab"></label></div><div class="col-md-2"><input class="form-control" type="text" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs_attributes][row_count][name]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryswabs_row_count_name"></div><div class="col-md-2 "><input class="form-control swabs_qty" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs_attributes][row_count][quantity]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryswabs_row_count_qty" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs][row_count][quantity]"></div><div class="col-md-2 "><input class="form-control swabs_used" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs_attributes][row_count][used]" id="inpatient_ipd_record_operative_notes_attributes_0_inventoryswabs_row_count_used" value="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs][row_count][used]"></div><div class="col-md-2 "><input class="form-control swabs_rm" type="number" name="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs_attributes][row_count][remaining]"value="inpatient_ipd_record[operative_notes_attributes][0][inventoryswabs][row_count][remaining]id="inpatient_ipd_record_operative_notes_attributes_0_inventoryswabs_row_count_remaining"></div><div class="col-md-1" style="margin-top:5px;"><span id="add_inventory_swabs" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_swabs"></span><span id="remove_inventoy_swabs_row_count" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_swabs"></span></div></div></div>')
    }
    $(".swabs_row").find(".medlab").first().text("Swabs/Drains/Sutures")
    $(".swabs_row").find(".single_row").last().find(".swabs_qty").on('change',function(){
        $(this).closest('.single_row').find('.swabs_rm').val($(this).val()- $(this).closest('.single_row').find('.swabs_used').val())
    })
    $(".swabs_row").find(".single_row").last().find(".swabs_used").on('keyup',function(){
        $(this).closest('.single_row').find('.swabs_rm').val($(this).closest('.single_row').find('.swabs_qty').val()-$(this).val())
    })
})
$(".swabs_row").find(".single_row").last().find(".swabs_qty").on('keyup',function(){
    $(this).closest('.single_row').find('.swabs_rm').val($(this).val()- $(this).closest('.single_row').find('.swabs_used').val())
})
$(".swabs_row").find(".single_row").last().find(".swabs_used").on('keyup',function(){
    $(this).closest('.single_row').find('.swabs_rm').val($(this).closest('.single_row').find('.swabs_qty').val()-$(this).val())
})


//for medicine autocomplete
function autocomplete_medicine(){
    jQuery(".med_name").autocomplete({
        minLength: 3,
        source: function(request, response) {
            jQuery.ajax({
                dataType: "json",
                type : 'get',
                url: '/icdtree/getitems',
                //data: {searchpatient: params, remote: "true" },
                data: {q: request.term, remote: "true" },
                success: function(data) {
                    //jQuery('#searchpatientkeyword').removeClass('ui-autocomplete-loading')
                    items = [];
                    for(i = 0; i < data.length; i++){
                        items.push(data[i].description + " (" + data[i].dosage + ")" );
                    }
                    response(items);
                },
                error: function(data) {
                    //jQuery('#searchpatientkeyword').removeClass('ui-autocomplete-loading');
                }
            });

        },
        focus: function(event, ui) {
            //return false;
        },
        select: function( event, ui ) {
            var itemname = ui.item.value;
            var dosage = ui.item.value;
            jQuery(this).val(itemname);
            jQuery(this).val(dosage);
            jQuery(this).closest('div').next().find('textarea').val(itemname);
    //                jQuery(this).val(medicinemame);
    //                jQuery(this).closest('div').next().find('textarea').val(presentation);
    //            }
            return false;
        }
    });
    jQuery(".med_name").autocomplete( "option", "appendTo", ".ipdrecord_form" );
}
autocomplete_medicine();