<div class="icd-diagnosis-details">
  <div>
    <div class="col-md-12 row child-icd-diagnosis-details">
      <% @children_diagnosis.each_with_index do |diagnosis, i| %>
        <% i += 1 %>
        <%= hidden_field_tag "translated_icd_diagnosis[data][#{i.to_s}][code]", diagnosis[:code] %>
        <div class="col-md-3">
          <span><b><%= diagnosis[:name] %></b></span>
        </div>
        <div class="col-md-1">
          <span><b>=></b></span>
        </div>
        <div class="col-md-8">
          <%= text_field_tag "translated_icd_diagnosis[data][#{i.to_s}][fullname]", nil, class: 'synonym_new_icd_name_field form-control', placeholder: 'Enter new ICD name', required: true %><br>
        </div>
      <% end %>
    </div>
  </div>
</div>
