<% if @disabled_icds.count > 0 %>  
  <div class="row" style="background:#354670;color:#fff;margin-top:50px;">
    <div class="col-md-6">
      <h4>Disabled Icds List</h4>
    </div>
    <div class="col-md-6 text-right">
    </div>
  </div>
  <div class="all-icds-row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="20%">Icd Name</th>
          <th scope="col" width="20%">Code</th>
          <th scope="col" width="20%">Is Synonym</th>
          <th scope="col" width="20%">Laterality Present</th>
          <th scope="col" width="20%">Is Translated</th>
          <th scope="col" width="20%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @disabled_icds.each_with_index do |disabled_icd| %>
          <tr class="icds_table_row">
            <% if disabled_icd.icd_type == 'TranslatedIcdDiagnosis' %>
              <td width="30%"><%= disabled_icd.try(:fullname) %></td>
            <% else %>
              <td width="30%"><%= disabled_icd.try(:originalname) || disabled_icd.fullname %></td>
            <% end %>
            <td width="10%"><%= disabled_icd.code %></td>
            <% if disabled_icd.icd_type == 'TranslatedIcdDiagnosis' %>
              <% data_from = 'TranslatedIcdDiagnosis' %>
              <% icd_name = disabled_icd.fullname %>
              <td width="20%"><i style="color: red;" class="fa fa-times" aria-hidden="true"> </i></td>
            <% elsif disabled_icd.is_attached == true %>
                <% data_from = 'SynonymIcdDiagnosis' %>
              <% icd_name = disabled_icd.fullname %>
              <td width="20%"><i style="color: green;" class="fa fa-check" aria-hidden="true"> </i></td>
            <% else %>
              <% data_from = 'CustomIcdDiagnosis' %>
              <% icd_name = disabled_icd.originalname %>
              <td width="20%"><i style="color: red;" class="fa fa-times" aria-hidden="true"> </i></td>
            <% end %>

            <%if disabled_icd.has_children == true%>
              <td width="20%"> <i style="color: green;" class="fa fa-check" aria-hidden="true"></i></td>
            <% else %>
              <td   width="20%"><i style="color: red;" class="fa fa-times" aria-hidden="true"></i></td>
            <% end %>

            <%if disabled_icd.icd_type == 'TranslatedIcdDiagnosis' %>
              <td width="20%"><i style="color: green;" class="fa fa-check" aria-hidden="true"></i></td>
            <% else %>
              <td width="20%"><i style="color: red;" class="fa fa-times" aria-hidden="true"></i></td>
            <% end %>


            <td width="20%"><%= link_to custom_icd_diagnoses_enable_diagnosis_path(id: disabled_icd.id.to_s, data_from: data_from), method: :get, data: { confirm: "<b style='color:#000'>This Will Enable Icd - <b style='color:#ff0000'>'" + icd_name+ "'</b> </b>", :remote => true }, class: "btn btn-info btn-xs enable-icd-btn" do %>Enable<% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row" style="margin-top:50px;">
    <div class="col-md-12">
      <h4>No Icds Disabled!!</h4>
    </div>
  </div>
<% end %>