<div class="row mb10" style="background:#354670;color:#fff">
  <div class="col-md-4">
    <h4>Custom / Synonym ICDs</h4>
  </div>

  <div class="col-sm-4">
    <div class="row" style="margin-top: 7px;">
      <span class="col-sm-4 text-right" style="margin-top: 6px;"><b>SPECIALTY :</b></span>
      <div class="col-sm-8">
        <%= select_tag "specialty_id", options_for_select(@available_specialties.pluck(:name, :id) || [], @selected_specialty), { class: "form-control specialty_dropdown" } %>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 text-right">
    <%= link_to new_custom_icd_diagnosis_path, class: "btn btn-primary navbar-btn", data: {remote: true, 'toggle': 'modal', 'target': '#custom-icd-modal'} do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Create Custom/Synonym ICD<% end %>
  </div>
</div>

<div class="panel-body">
  <table class="table table-striped" id="custom-icd-diagnosis-list">
  </table>
  <div class="enable_disable_btn" style="margin-top: 50px;">
    <button class="btn btn-primary pull-right show_disable">Show Disabled Icds</button>
    <button class="btn btn-primary pull-right hide_disable" id="hide_disable">Hide Disabled Icds</button>
  </div>

  <div class="disable-icds-table" style="margin-top: 100px;">
    <div class="disable-icds-data">
      <%= render partial: 'disabled_icds_view.html.erb' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.disable-icds-table').hide()
  $('.hide_disable').hide()

  $('.show_disable').on('click', function(){
    $(this).hide();
    $('.hide_disable').show()
    $('.disable-icds-table').show()
  })

  $('.hide_disable').on('click', function(){
    $(this).hide();
    $('.show_disable').show()
    $('.disable-icds-table').hide()
  })

  $('.specialty_dropdown').on('change', function() {
    var specialty_id = this.value;
    
    $.ajax({
      type: "GET",
      url: '/custom_icd_diagnoses',
      data: { specialty_id: specialty_id, remote: "true" },
    })

  })

</script>