<div class="modal-dialog modal_ipdrecord" style="width:70%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">All Ward Notes</h4>
    </div>
    <div class="modal-body">
      <div class="row mb20">
        <div class="col-md-12">
          <!-- View Skeleton -->
            <div class="summary-template paper_view">
              <%= render partial: 'inpatient/ipd_record/ward_note/' + @speciality_folder_name + '_notes/view_body' %>
            </div>
          <!-- View Skeleton Ends -->
        </div>
      </div>
    </div>

  </div>
</div>


<style>
  .paper_view {
    box-shadow: 0 0 6px #ccc;
    padding: 0 0.400000in 0 0.550000in;
    font-family: 'Open Sans';
  }

  .updated_by, .printed_by, .created_by {
    border-radius: 100%;
    background-color: #d9534f;
    padding: 7px 10px;
    font-size: 12px;
    color: #fff;
  }

  .printed_by {
    background-color: #428bca;
  }

  .created_by {
   background-color: #fff;
   color: #1CAF9A;
  }

  <% unless @template_type == "wardnote" %>
    .modal_ipdrecord {
      width: 98%;
    }
  <% else %>
    .modal_ipdrecord {
      width: 98%;
    }
  <% end %>
</style>