<div class="sidebar-panel">
  <div class="panel panel-success" style="padding:0px;box-shadow:0 0 5px;">
    <div class="panel-body panel-task-manager">
      <%= render partial: 'dashboard/sidebar_content/task_manager.html.erb' %>
    </div>
  </div>
  <div class="panel panel-success" style="padding:0px;box-shadow:0 0 5px;">
    <div class="panel-body">
      <%= render partial: 'dashboard/sidebar_content/todays_finance_reports.html.erb' %>
    </div><!-- panel-body -->
  </div><!-- panel -->
  <% #if current_user.role_ids.include?(158965000) %>
    <div class="panel panel-success" style="padding:0px;box-shadow:0 0 5px;">
      <div class="panel-body panel-holiday-plan">
        <%= render partial: 'dashboard/sidebar_content/holiday_plans.html.erb' %>
      </div>
    </div>
  <% #end %>
</div>