<div class="col-md-12">
  <div class="tab-content">
    <% @opd_record.each do |record|%>
      <h3 class="text-center" style="border-bottom: 2px solid #000;border-top: 2px solid #000; padding: 2px;">
        <%= @templatetype.upcase %> TEMPLATE 
        <span style="font-size: 13px;">
          created on
          <%= record.created_at.strftime("%d %b %y at %I:%M %p")%>
          <%if record.consultant_name.present?%>
            <%= 'by ' + record.consultant_name%>
          <%end%>
        </span>          
      </h3>
      <% @flag = 'view'%>
      <% @opdrecord = record %>
      <% @appointment = Appointment.find_by(id: record.appointmentid) %>
      <% @case_sheet = CaseSheet.find_by(id: record.case_sheet_id) %>
      <% @facility_id = @appointment.facility_id %>
      <% @speciality = record.specalityid %>
      <% @speciality_folder_name = TemplatesHelper.get_speciality_folder_name(@speciality) %>
      <% @users = User.where(specialty_ids: record.specalityid, :facility_ids.in => [@facility_id], is_active: true) %>
      <%= render partial: "/opd_records/#{@speciality_folder_name}_notes/opd_partials/opd_summary_form", locals: { opdrecord: @opdrecord } %>
      <hr>
    <%end%>
  </div>
</div>