<%if ['Clinical Note', 'Operative Note', 'Discharge Note'].include?(@templatetype)%>
  <div class="col-md-12">
    <%if @ipd_record.blank?%>
      <h3 class="text-center" style="padding-top:30px;">No Reports Found</h3>
    <%else%>
      <%= render 'consolidate_report_template_ipd'%>
    <%end%>
  </div>
<%elsif @templatetype == 'date'%>
  <%if @patient_timeline_dates.blank?%>
    <h3 class="text-center" style="padding-top:30px;">No Reports Found</h3>
  <%else%>
    <%= render 'consolidate_report_date'%>
  <%end%>
<%else%>
  <%if @opd_record.blank?%>
      <h3 class="text-center" style="padding-top:30px;">No Reports Found</h3>
  <%else%>
    <%= render 'consolidate_report_template_opd'%>
  <%end%>
<% end %>