<div class="mis_list">
  <h3>Security Reports</h3>
  <% group = "user_audit" %>
  <h4 style="padding-left: 10px">User Audit</h4>
  <ul data-test-title="User Audit" class="nav">
    <li data-test-title="User Audit">
      <%= link_to reports_view_mis_administrative_reports_path(group: group, title: "by_user_session"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;By User Session</span>
      <% end %>
    </li>
  </ul>
</div>
