<div class='row' style="border-bottom: 1px solid #e5e5e5; padding-bottom: 16px;">
  <div class='col-md-12'>
    <% dept = params[:flag].split("_")[0].to_s%>
    <h5><%= ['ipd', 'opd'].include?(dept.downcase) ? dept.upcase : dept.capitalize %> Invoice Header Name</h5>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label for="header_titles[cash_header_title]" class="col-md-5 control-label">Cash Invoice Header</label>
      <%= text_field_tag "header_titles[cash_header_title]", @invoice_header_data[:cash_header_title], class: 'form-control cash_header_title', style: 'width: 57%'%>
    </div>
    <div class="col-md-6 form-group">
      <% if params[:flag].to_s.split("_")[0].to_s != 'optical' %>
        <label for="header_titles[credit_header_title]" class="col-md-5 control-label">Credit Invoice Header</label>
        <%= text_field_tag "header_titles[credit_header_title]", @invoice_header_data[:credit_header_title], class: 'form-control credit_header_title', style: 'width: 57%' %>
      <% end %>
    </div>
  </div>
</div>