<div class="row" style="margin-bottom: 20px;">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h4><b>Signup Process Information & Details:</b></h4>
      </div>
    </div>
    <div class="row roles-supported">
      <div class="col-sm-12">
        <b>Roles Supported :</b><br/>
        <ul style="margin-left: -15px;">
          <li><span><b>Clinical -</b> Doctor, Receptionist, Counsellor, Optometrist, Nurse, Technician</span></li>
          <li><span><b>Non Clinical -</b> Owner, Admin, Pharmacist, Optician, Accountant, Center Head</span></li>
        </ul>
      </div>
    </div>
    <div class="row organisation-setup-type">
      <div class="col-sm-12">
        <b>Setup Type :</b><br/>
        <table class="table table-bordered table-organisation-type" style="font-size: 12px;">
          <thead>
            <tr>
              <th>Single User</th>
              <th>Small Clinic</th>
              <th>Mid-Size Hospital</th>
              <th>Large Hospital</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 User.</td>
              <td>Max 5 Users.</td>
              <td>Max 10 Users.</td>
              <td>Max 20 Users.</td>
            </tr>
            <tr>
              <td style="color:#3cc1ff;"><b>&#8377; 15,000/year</b></td>
              <td style="color:#3cc1ff;"><b>&#8377; 54,000/year</b></td>
              <td style="color:#3cc1ff;"><b>&#8377; 99,000/year</b></td>
              <td style="color:#3cc1ff;"><b>&#8377; 1,72,500/year</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row appointment-type">
      <div class="col-sm-12">
        <b>Appointment Type :</b>
        <ul style="margin-left: -15px;">
          <li>Default Appointment Types New, Review, Surgery, Referral etc are created. </li>
          <li>You can add more Appointment Types once Signed In.</li>
          <li>Once Signed In Visit&nbsp;<b style='color:#3cc1ff;'> Organisation Settings -> OPD Appointment Types</b></li>
        </ul>
      </div>
    </div>
    <div class="row print-setting">
      <div class="col-sm-12">
        <b>Print Settings :</b>
        <ul style="margin-left: -15px;">
          <li>Default Height for Prints are :
            <span>
              Header - 3&emsp;|&emsp;Footer - 0&emsp;<button class="btn btn-link btn-xs btn-print-preview">Preview</button>
            </span>
          </li>
          <li>Once Signed In Visit&nbsp;<b style='color:#3cc1ff;'> Print Settings</b> to change Print Settings.</li>
        </ul>
      </div>
    </div>
    <div class="row contact-info">
      <div class="col-sm-12">
        <b>Contact Us :</b>
        <ul style="margin-left: -15px;">
          <li><i class="fa fa-envelope" style="font-weight: bolder;"></i>&nbsp;&nbsp;support@healthgraph.in</li>
          <li><i class="fab fa-whatsapp" style="color: #34af23;font-weight: bolder;"></i>&nbsp;&nbsp;+91 797 598 9664</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <b>Already a User?&emsp;<%= link_to users_login_path do %>Sign In<% end %></b>
      </div>
    </div>
    <div class="row final-steps" style="margin-top:10px;">
      <div class="col-sm-5" style="border-right: 1px solid #333;">
        Browser Supported :&emsp;<a href="https://www.google.com/chrome" id="chrome-link" target="_blank"><%= image_tag 'chrome_logo.png', id: "chrome-logo", style: 'width:45px;' %></a>
      </div>
      <div class="col-sm-7">
        <b><a href="https://play.google.com/store/apps/details?id=in.healthgraph.foss", id="play-store-link" target="_blank"><%= image_tag 'google_play.png', id: "google-play-logo", style: 'width:125px;' %></a>&emsp; for Mobile & Tablet.</b>
      </div>
    </div>
  </div>
</div>