<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Print Preview</h4>
    </div>
    <div class="modal-body" style="background:#eee;">
      <div class="container-fluid fixed_font" style="box-shadow:0 0 10px rgba(0,0,0,.175);background:#fff;">
        <div style="height:1.5cm;color:#6495ED">
          <p style="text-align:center;"><i class="fa fa-arrow-up"></i><br>Header 3cm<br><i class="fa fa-arrow-down"></i></p>
        </div>
        <div class="pcs-entity-title">
          <span>Receipt</span>
        </div>
        <div class="row mb10" style="border:1px solid #666;padding:5px;">
          <div class="col-md-3">
            <p style="margin-bottom:0px;"><b>Patient Name</b></p>
            <p style="margin-bottom:0px;"><b>Patient ID </b></p>
            <p style="margin-bottom:0px;"><b>Mobile </b></p>
            <p style="margin-bottom:0px;"><b>Age / Gender </b></p>
            <p style="margin-bottom:0px;"><b>Address </b></p>

          </div>
          <div class="col-md-3">
            <p style="margin-bottom:0px;"><b>:</b>&nbsp; John Doe</p>
            <p style="margin-bottom:0px;"><b>:</b>&nbsp; JOH-PAT-001</p>
            <p style="margin-bottom:0px;"><b>:</b>&nbsp; 9510052631</p>
            <p style="margin-bottom:0px;"><b>:</b>&nbsp; 23 Year(s)  Male </p>
            <p style="margin-bottom:0px;"><b>:</b>&nbsp; 1, WestCoast Street</p>
          </div>
          <div class="col-md-3">
            <p style="margin-bottom:0px;"><b>Doctor</b></p>
            <p style="margin-bottom:0px;"><b>Appointment Date</b></p>
            <p style="margin-bottom:0px;"><b>Bill Date </b></p>
            <p style="margin-bottom:0px;"><b>Bill No. </b></p>
            <p style="margin-bottom:0px;"><b>Department</b></p>
          </div>
          <div class="col-md-3">
            <p style="margin-bottom:0px;"><b>:</b>&nbsp; Jane Doe</p>
            <p style="margin-bottom:0px;"><b>:</b>&nbsp; <%= Date.current.strftime("%d %m'%Y %I:%M %p") %></p>
            <p style="margin-bottom:0px;"><b>:</b>&nbsp; <%= Date.current.strftime("%d %m'%Y %I:%M %p") %></p>
            <p style="margin-bottom:0px;"><b>:</b>&nbsp; HGE-INV-001</p>
            <p style="margin-bottom:0px;"><b>:</b>&nbsp; Orthopedic/Ophthalmology</p>
          </div>
        </div>
        <div class="row mb5" style="border-bottom:1px solid #eee;">
          <div class="col-md-1"><b style="color:#000;">S.No</b></div>
          <div class="col-md-3"><b style="color:#000;">Service Name</b></div>
          <div class="col-md-2"><b style="color:#000;">Quantity</b></div>
          <div class="col-md-2 text-right"><b style="color:#000;">Unit Price</b></div>
          <div class="col-md-2 text-right"><b style="color:#000;">Price</b></div>
        </div>
        <div class="row service_list">
          <div class="col-md-1">
            <b style="color:#000;">1.</b>
          </div>
          <div class="col-md-7">
            <b style="color:#000;">Medication</b>
          </div>
          <div class="col-md-2 text-right">
            <b style="color:#000;">100</b>
          </div>
        </div>
        <div class="row item_list">
          <div class="item">
            <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'>Combiflam</div>
            <div class="col-md-2">10</div>
            <div class="col-md-2 text-right">10</div>
            <div class="col-md-2 text-right" style = "margin-left:-10px;">100</div>
            <div class="col-md-2 text-center"></div>
          </div><!-- .item -->
        </div><!-- .item_list -->
        <div class="row service_list">
          <div class="col-md-1">
            <b style="color:#000;">2.</b>
          </div>
          <div class="col-md-7">
            <b style="color:#000;">Operation</b>
          </div>
          <div class="col-md-2 text-right">
            <b style="color:#000;">10000</b>
          </div>
        </div>
        <div class="row item_list">
          <div class="item">
            <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'>Name Operation</div>
            <div class="col-md-2">1</div>
            <div class="col-md-2 text-right">10000</div>
            <div class="col-md-2 text-right" style = "margin-left:-10px;">10000</div>
            <div class="col-md-2 text-center"></div>
          </div><!-- .item -->
        </div><!-- .item_list -->
        <hr>
        <div class="row invoice_calculation_list">
          <div class="row mb5">
            <div class="col-md-3 col-md-offset-5 text-right">
              <b>Gross Bill Total :</b>
            </div>
            <div class="col-md-2 text-right">
              <b style="color:#000;">10100</b>
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-3 col-md-offset-5 text-right">
              <b>Discount :</b>
            </div>
            <div class="col-md-2 text-right">
              <b>0</b>
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-5">
              <b>Mode Of Payment :</b> Cash
            </div>
            <div class="col-md-3 text-right">
              <b>Net Amount :</b>
            </div>
            <div class="col-md-2 text-right">
              <b style="color:#000;">10100</b>
            </div>
          </div>
        </div>
        <div class="row signature_list" style="margin-top: 30px;margin-bottom: 10px;">
          <div class="col-md-3 col-md-offset-9">
            <b style="color:#000;">Signature</b>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>