<section>
  <div class="notfoundpanel">
    <div class='signin-info'>
      <div class='text-center'>
        <%= image_tag 'healthgraph_full.png', width: '250px;' %>
      </div>
    </div>
    <h2>Thank you.</h2>
    <h4>Your registration is successful.</h4>
    <h4>Please check your registered email to activate your HealthGraph account.</h4>
    <meta http-equiv="refresh" content="3;url=<%= @redirect_path %>"/>
  </div>
</section>