<div class="panel">
	<div class="panel-heading" style="overflow:auto;">
		All Cash Register Templates




    <div class="pull-right">
      <%= link_to new_cash_register_template_path,:data => {:remote => true,'toggle' =>  "modal", 'target' => '#cash-register-modal'}, :class => 'btn btn-xs btn-success' do%>
      <i class="fa fa-plus">Add</i>
      <% end %>
      <%= link_to cash_register_path(current_user.id), method: :delete, data: {confirm: "This can not be undone and will delete all templates and services related to cash register", :remote => true}, :class => 'btn btn-xs btn-warning' do%><i class="fa fa-trash-alt"> Delete All Cash Records</i><% end %>
    </div>
	</div>
	<div class="panel-body">

		<table class="table table-striped" id="cash-register-template-list">

		</table>
	</div>
</div>