<div class="manage_cash_register_templates" id="manage_cash_register_templates">
  <%= render "index_content" %>
  <script type="application/javascript">
    $(document).ready(function(){
      <%= render partial: 'cash_register_templates_init.js' %>
    })
  </script>
</div>