<div class="pageheader">
  <%= render "index_header" %>
</div>
<div class="contentpanel">
  <%= render "new" %>
  <script type="text/javascript">
    <%= render partial: 'cash_register_calculation.js'  %>
  </script>
</div><!-- contentpanel -->