<div id = "admission-note-model">
<div class="modal-dialog modal-hg-patientreg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="nomargin">Admission Note Form</h4>
        </div>
        <% if @patient %>
        	<%= render "admissionnoteform" %>
        <% else %>
        	<%= render "admissionnotesummary" %>
        <% end %>
    </div>
</div>
</div>