<div class="modal-dialog modal-hg-patientreg">
    <div class="modal-content">
	    <div class="modal-header">
        <h4 class="nomargin" style="text-align:center">Patient Consent Form</h4>
      </div>
      <%= render "admissionconsentform" %>
	</div>
</div>