<div id = "discharge-note-model">
<div class="modal-dialog modal-hg-patientreg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="nomargin">Discharge Note Form</h4>
        </div>
        <% if @patient %>
        	<%= render "dischargenoteform" %>
        <% else %>
        	<%= render "dischargenotesummary" %>
        <% end %>
    </div>
</div>
</div>