
        <div class="checkbox">
                <%= f.label :vaginaldischarge do %>
                        <%= f.check_box :vaginaldischarge %>
                        Vaginal discharge
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :vaginalpain do %>
                        <%= f.check_box :vaginalpain %>
                        Vaginal pain
                <% end %>
        </div>
