<div id = "ot-note-model">
<div class="modal-dialog modal-hg-patientreg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="nomargin">Operation Note Form</h4>
        </div>
        <% if @patient %>
        	<%= render "operativenoteform" %>
        <% else %>
        	<%= render "operativenotesummary" %>
        <% end %>
    </div>
</div>
</div>