<% if last_opdrecord %>
    <% if last_opdrecord.procedure.count > 0%>
        <div class="form-group col-md-12">
          <div class="col-md-4">Procedure Planned:</div>
          <div class="col-md-10"style="color: #4a535e">
            <table  class="table table-bordered" style="width:100%">
              <tr>
                <th>Advised</th>
                <th>Patient Agreed For</th>
                <th>Performed</th>
              </tr>
              <tr>
                <td>
                  <% if last_opdrecord.procedure.count > 0%>
                      <% last_opdrecord.procedure.each do |i| %>
                          <li><%= i.procedurename+"("+last_opdrecord.get_label_for_procedure_side(i.procedureside)+")"%></li>
                      <%end%>
                  <%else%>
                      All performed
                  <%end%>
                </td>
                <td>
                  <% if last_opdrecord.procedure.where(counselling: true).count > 0%>
                      <% last_opdrecord.procedure.where(counselling: true).each do |i| %>
                          <li><%= i.procedurename+"("+last_opdrecord.get_label_for_procedure_side(i.procedureside)+")"%></li>
                      <%end%>
                  <%else%>
                      None
                  <%end%>
                </td>
                <td>
                  <% if last_opdrecord.procedure.where(procedurestage: "P").count > 0%>
                      <% last_opdrecord.procedure.where(procedurestage: "P").each do |i| %>
                          <li><%= i.procedurename+"("+last_opdrecord.get_label_for_procedure_side(i.procedureside)+")"%></li>
                      <%end%>
                  <%else%>
                      None
                  <%end%>
                </td>
              </tr>
            </table>
          </div>
        </div>
    <%end%>
<%end%>