<%= render partial: '/inpatient/home/common_css.html.erb' %>
<% if @ipd_path == "Admission" %>
  <div class="coverpanel admission_row" style="height:100%;">
    <%= render partial: '/inpatient/home/admission_management/admission_management.html.erb' %>
  </div>
<% elsif @ipd_path == "OT" %>
  <div class="coverpanel ot_row" style="height:100%;">
    <%= render partial: '/inpatient/home/ot_management/ot_management.html.erb' %>
  </div>
<% elsif @ipd_path == "Ward" %>
  <div class="coverpanel ward_row"  style="height:100%;">
    <%= render partial: '/inpatient/home/ward_management/ward_management.html.erb' %>
  </div>
<% end %>