<div class="modal-dialog modal-hg-patientreg">
    <div class="modal-content">
	    <div class="modal-header">
			<h4 class="nomargin">Patient Discharge Form</h4>
			<%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true %>
		</div>
		<%= render "updatedischargeform" %>		
	</div>
</div>