<div class="table-responsive" class="appointment-list">

  <table class="table table-primary" width="100%" style="overflow: hidden;">
    <thead>
    <tr>
      <th width="16%">Display Id</th>
      <th width="22%">Patient Name</th>
      <th width="5%">Gender</th>
      <th width="5%">Age</th>
      <th width="15%">Admission Reason</th>
      <th width="15%">Mobile Number</th>
      <th width="15%">Time</th>
    </tr>
    </thead>
    <tbody class="appointment-list-day">
            <%= render "printipdadmissionday" %>
    </tbody>
  </table>
</div>
