<% patient = @patient %>
<% appointment = @appointment %>

<div class="row mb10 mt10" style="border:1px solid #A9A9A9; font-size:14px; padding: 10px">
  
  <div class="row">
    <div class="col-xs-2">
      <b>Patient:</b>
    </div>
    <div class="col-xs-4">
      <b><%= patient.fullname %></b>
    </div>
    <div class="col-xs-2">
      <b>Age/Sex:</b>
    </div>
    <div class="col-xs-4">
      <b><%= patient.calculate_age.present? || patient.gender.present? ? patient.calculate_age.to_s + '/' + patient.gender.to_s : 'Unavailable' %></b>
    </div>
    <div class="col-xs-2">
      <b>Contact:</b>
    </div>
    <div class="col-xs-4">
      <b><%= patient.mobilenumber %></b>
    </div>
  </div>
</div>