<div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
			<h4 class="nomargin">Password Reset</h4>
		</div>
		<%= form_tag password_resets_update_path, method: :post, remote: true do %>
			<div id="password_verification_errors" style="display:none"></div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-5">
						<p class="mt5 mb20">Enter new password</p>							    
				    	<%= text_field_tag :password, params[:password], class: "form-control pword", placeholder: "New Password" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<p class="mt5 mb20">Re-enter password</p>							    
				    	<%= text_field_tag :password_confirmation, params[:password_confirmation], class: "form-control pword", placeholder: "Confirm New Password" %>
					</div>
				</div>					  
			</div>
			<div class="modal-footer">
		          <%= submit_tag "Reset password", class: "btn btn-success", remote: true %>
		          <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Cancel</button>
		    </div>		 
		<% end %>
	</div>
</div>