<div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
			<h4 class="nomargin">Password Reset</h4>
		</div>		
		<div class="modal-body">
			<div class="row">
				<div class="col-md-5">
					<p class="mt5 mb20">Password reset link expired. To reset the password, please click forgot password link again.</p>							    
				</div>
			</div>							  
		</div>
		<div class="modal-footer">
	          <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>
	    </div>	
	</div>
</div>