<div class="container-fluid">
  <%= render partial: 'investigation/records/patient_info.html.erb', locals: {investigation_record_values: investigation_record.try(:values), report: @type}%>
  <div class="row mb10">
    <%= render partial: "investigation/records/laboratory/report.html.erb", locals: {view: "lab",investigation_record: investigation_record, report: @type} %>
    <%if @state == "reviewed"%>
      <div class="col-md-12 pull-right">
        <br><br>
        <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @record.try(:reviewed_by)} %>
      </div>
    <%elsif @record.present?%>
      <div class="col-md-12 pull-right">
        <br><br>
        <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @record.try(:template_created_by)} %>
      </div>
    <%end%>
  </div>
</div>