<div class="modal-dialog" style="width: 50%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h5 class="modal-title" style="color: #1E90FF">Stock Movement Report</h5>
    </div>
    <div class="modal-body window-body">
      <div class="row mb10">
        <div class="col-md-6">
          <b>From</b>
        </div>
        <div class="col-md-6">
          <b>To</b>
        </div>
        <div class="col-md-6">
          <b>Date:</b>
          <%= text_field_tag 'stock_movement_report[start_date]', @start_date, class: 'form-control stock-movement-report-start-datepicker p5_10' %>
        </div>
        <div class="col-md-6">
          <b>Date:</b>
          <%= text_field_tag 'stock_movement_report[end_date]', @end_date, class: 'form-control stock-movement-report-end-datepicker p5_10' %>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-4">
          <b>User:</b>
          <% @all_user = @all_user << ['All User', 'all_user'] %>
          <%= select_tag 'stock_movement_report[user_name]', options_for_select(@all_user, selected: current_user.id), include_blank: false, include_hidden: false, class: 'form-control stock-movement-report-concerned-person', style: 'padding: 5px' %>
          <input type="hidden" name="stock_movement_report[user_id]" id="concerned_user_id">
        </div>
      </div>
    </div>
    <div class="modal-footer window-footer">
      <div class="row">
        <div class="col-md-9">
          <b style="color: red; font-style: italic;">Note:&nbsp;&nbsp;</b><span style="color: red; font-style: italic;">The data will be till 3 am IST of the next day of the end date. e.g. if the period selected is 2nd to 10th of a month the data will show the values between 2nd and 11th (upto till 3 am IST).</span>
        </div>
        <div class="col-md-3">
          <% download_report = "download_stock_movement_report_inventory_stocks_sales_path(store_id: @inventory_store.id, format: 'xlsx')" %>
          <%= link_to eval(download_report), class: 'download-report btn btn-primary download_report_setting', data: { method: :get } do %> <i class="fa fa-download mr5"></i> Download <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .stock-movement-report-start-datepicker, .stock-movement-report-end-datepicker, .stock-movement-report-timepicker {
    cursor: pointer !important;
    background-color: #fff !important;
  }
</style>
