<div class="container-fluid">
  <h3>Supply Chain Settings</h3>
  <br>
    <%= form_tag update_expiry_format_inventory_supply_chain_path(id: current_organisation["_id"]), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
      <div class="row">
        <h4> Inventory Batch</h4>
        <div class="col-md-3">
           <strong>Inventory Batch Expiry selection Format:</strong> 
           <p style="color: red;">Note: In Case of MM/YYYY the last day of the selected month will be considered</p>
        </div>
        <div class="col-md-3">
           <%= select_tag "inventory_expiry_format", options_for_select([["DD/MM/YYYY", "DD/MM/YYYY"], ["MM/YYYY", "MM/YYYY"]], current_organisation['inventory_expiry_format']), class: 'form-control number_format' %>
        </div>
      </div>
      <div class="row">
        <h4> Item Master Creation</h4>
      <div class="row">
        <div class="col-md-3">
           <strong>HSN Code Mandatory:</strong> 
        </div>
        <div class="col-md-3">
           <%= check_box_tag "inventory_hsn_code_required", true, current_organisation['inventory_hsn_code_required'], { class: 'form-control number_format' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="text-align: right;">
          <%= submit_tag "Save", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

