<div class="panel-body">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="subtitle mb5" style="display:inline;">Admission List Today (Total: <%= @admission.size %>)</h5><a href="" class="pull-right btn-minimize-view"><i class="fa fa-minus"></i></a>
    </div>
    <div class="col-sm-6">
      <b>Scheduled:</b><%= @admission.where(patient_arrived: false).size %>
    </div>
    <div class="col-sm-6">
      <b>Admitted:</b><%= @admission.where(patient_arrived: true).size %>
    </div>
  </div>
  <div class="row toggle-view" id="admission-list-dashboard">
    <div class="col-md-12">
      <div class="table-responsive">
        <%= render partial: '/dashboard/admission/admission_details.html.erb' %>
      </div><!-- table-responsive -->
    </div>
  </div>
</div><!-- panel-body -->