<div class="row" id='prescriptions-details'>
  <% if @medical_prescriptions.length > 0 %>
    <% prescripiton_advised_by_users = @medical_prescriptions.pluck(:consultant_name).uniq.reject { |c| c.nil? || c.empty? } %>
    <% prescription_advised_by_dates = @medical_prescriptions.pluck(:prescription_date).map { |datetime| datetime.try(:strftime, '%d/%m/%Y') if datetime }.compact.uniq.reject { |c| c.nil? || c.empty? } %>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <b>Advised By</b>
          <%= select_tag :prescription_advised_by_filter, options_for_select(prescripiton_advised_by_users, params[:advised_by]), include_blank: 'All', class: 'form-control p7_10' %>
        </div>
        <div class="col-md-4">
          <b>Advised On</b>
          <%= select_tag :prescription_advised_on_filter, options_for_select(prescription_advised_by_dates, params[:advised_on]), include_blank: 'All', class: 'form-control p7_10' %>
        </div>
      </div>
    </div>
  <% end %>
  <div id='medication-table' class="col-md-12">
    <%= render partial: 'outpatients/appointment/appointment_details/tab_details/medical_prescriptions/table.html.erb' %>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/medical_prescriptions/index.js.erb' %>
</script>
