<% unless @clinical_workflow.try(:state) == 'not_arrived' %>
  <% unless  ['complete','away'].include?@clinical_workflow.try(:state) %>
    <%= render partial: 'outpatients/appointment/appointment_details/clinical_workflow_send.html.erb' %>
  <% end %>
<% end %>
<% if @clinical_workflow.state == 'away' %>
  <div id="dialog-confirm-get-patient-<%= @clinical_workflow.id %>" title="Patient is Away" class="hidden">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Are you sure ? </p>
  </div>
<% else %>
  <div id="dialog-confirm-get-patient-<%= @clinical_workflow.id %>" title="Patient is already in waiting/call/check-in with <%= @clinical_workflow.with_user %>" class="hidden">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Are you sure ? </p>
  </div>
<% end %>
