
<div class="user_notes_templates" id="user_notes_templates">
    <%= render "index_content" %>
  <script type="application/javascript">
      $(document).ready(function(){
          <%= render partial: 'user_notes_templates_init.js' %>
      })
  </script>
</div><!-- contentpanel -->
