<div class="pageheader">
    <%= render "index_header" %>
</div>
<div class="contentpanel">
    <%= render "new" %>
    <script type="text/javascript">
      jQuery('#user-note-datepicker-inline').datepicker({
        dateFormat: "dd/mm/yy",
        changeMonth: true,
        changeYear: true,
        yearRange: "c-120:c",
        onClose: function(){
          //workaround to trigger javascript validation
          $(this).focusout();
        }
      })
    </script>
</div><!-- contentpanel -->
