<div class="modal-dialog" style="width: 75%;">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" style="word-break: break-all;"><%= @parent_diagnosis.fullname.split("_").map(&:upcase).join(" ") %></h4>
    </div>
    <div class="modal-body">
      <%= render 'show_icd_data'%>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-8 col-sm-9 col-xs-8">
          <span class="pull-left" style="font-size: small; color: red">&#8627; - Non-Specific Codes </span>
          <span class="pull-left" style="font-size: small;">&nbsp;|</span>
          <span class="pull-left" style="font-size: small; color: green">&#8627; - Specific Code (Specific ICD-10-CM code that can be used to indicate a diagnosis) </span>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-4">
          <button class="btn btn-xs btn-default pull-right" id="close-icd-modal" style="margin-left: 10px">Cancel</button>
          <%if @elemid.present?%>
            <button class="btn btn-xs btn-success pull-right" id="update-icd-modal">Update</button>
          <%else%>
            <button class="btn btn-xs btn-success pull-right" id="fill-icd-modal">Save</button>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
