<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog service-dialog" style="width:50%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Service Groups</h4>
    </div>
    <div class="modal-body" style="padding:10px;">
      <%= render partial: 'new.html.erb' %>

      <div class="row mb10" style="border-bottom:1px solid #aaa;">
        <div class="col-md-12 text-center">
          <b style="color: #000;">Existing Service Groups</b>
        </div>
      </div>
      <div class="row existing-service-groups mb10">
        <%= render partial: 'view.html.erb' %>
      </div>
    </div>
  </div>
</div>