<% @service_groups.each_with_index do |service_group, i| %>
  <div class="col-md-4 service_group_name" data-id="<%= service_group.id.to_s %>">
    <div class="row">
      <div class="col-md-12">
        <b style="color: #000;"><number><%= i+1 %></number>. <%= service_group.name %></b>&emsp;
        <% if false # unless service_group.is_deletable %>
          <button class="btn btn-link btn-xs btn-delete-group" style="padding:0px;margin:0px;color:#f00;"><i class="fa fa-trash-alt"></i></button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>