<div class="row" style="background:#354670;color:#fff">
  <div class="col-md-12">
    <h4>Service/Pricing Master Guide</h4>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12 text-right">
    Quick Links : <a href="#service-master-guide">Service Master</a> | <a href="#pricing-master-guide">Pricing Master</a> | <a href="#surgery-package-guide">Surgery Package</a>
  </div>
</div> -->
<div id="service-master-guide" class="row" style="border-bottom: 3px solid #000;">
  <div class="col-md-12">
    <h4 style="color:#428bca;">ABOUT SERVICE MASTER</h4>
    <ul>
      <li>Service Master is used to create your Pricing List on Organisation Level.</li>
      <li>Once Service Master is created Pricing Master is auto created for all facility.Thus giving each facility their own Pricing List.</li>
      <li>
        <b>How to create Service Master?</b>
        <ol style="list-style-type: upper-alpha;">
          <li>Visit <a href="" class="service-master-link">Service Master</a>.</li>
          <li>
            <span>Here you can see a bunch of buttons on top of the page.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-file-alt fa-xs"></i>&nbsp;&nbsp;Add Service Master</span>&nbsp;<span class="caret fa-color"></span></button>
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Service Sub Group</button>
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Service Group</button>
          </li>
          <li>
            <span>First Create Service Group.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Service Group</button>
            <ol>
              <li>Service Group is a part of Service Master to help you group each services.</li>
              <li>In the Service Master View click on this button.</li>
              <li>A view opens up with few values shown in a list.These are predefined Groups provided by us.</li>
              <li>You can add your own or if you are happy with the once provided you can close the View.</li>
            </ol>
          </li>
          <li>
            <span>Now Create Service Sub Group.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Service Sub Group</button>
            <ol>
              <li>Service Sub Group is a part of Service Master to help you group each Service Groups into more further groups.</li>
              <li>In the Service Master View click on this button.</li>
              <li>Now add few Service Sub Group to get started.</li>
              <li style="color:#f00;">Sub Groups will be reflected in Invoices, so be careful while writing a name.</li>
            </ol>
          </li>
          <li>
            <span>Lets Create A Service Now.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-file-alt fa-xs"></i>&nbsp;&nbsp;Add Service Master</span>&nbsp;<span class="caret fa-color"></span></button>
            <ol>
              <li>Clicking on " Add Service Master ". Here you will see 4 options.</li>
              <li>Click on " <i class="fa fa-plus"></i>&nbsp;&nbsp;Add Service Master "</li>
              <li>A form will open up. Fill all details provided on the form.</li>
              <li style="color:#f00;">Remember the data you fill will create Pricing Master for all Facilities.</li>
              <li>Once you are done save it & close. Now when you visit Pricing Master you can see your new/updated Pricing</li>
            </ol>
          </li>
          <li>
            <span>Other Options in the Dropdown.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-file-alt fa-xs"></i>&nbsp;&nbsp;Add Service Master</span>&nbsp;<span class="caret fa-color"></span></button>
            <ol>
              <li>The Last 3 Options in the dropdown for Procedures and Invesgtigations.</li>
              <li>This option is for you to quickly fill all Services and Pricing for existing Procedure/Investigation in System.</li>
            </ol>
          </li>
          <li>
            <span>EDIT/DISABLE.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Edit</button>
            <button class="btn btn-danger btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Disable</button>
            <ol>
              <li>Once Service Master is created you can always edit & update.</li>
              <li>You can also enable/disable the Service.</li>
            </ol>
          </li>
        </ol>
      </li>
    </ul>
  </div>
</div>
<div id="pricing-master-guide" class="row" style="border-bottom: 3px solid #000;">
  <div class="col-md-12">
    <h4 style="color:#428bca;">ABOUT PRICING MASTER</h4>
    <ul>
      <li>Pricing Master is where you manage your pricing for each facility and multiple payers.</li>
      <li>Once Pricing Master is created from Service Master.You can visit <a href="" class="pricing-master-link">Pricing Master</a></li>
      <li>
        <b>How to create Pricing Master?</b>
        <ol style="list-style-type: upper-alpha;">
          <li>Visit <a href="" class="service-master-link">Pricing Master</a>.</li>
          <li>
            <span>Here you can see a bunch of buttons on top of the page.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Payee Pricing</button>
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Pricing Details</button><br>
            <span>And a button against each pricing List.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Edit Pricing Details</button>
          </li>
          <li>
            <span>Lets Start with Edit Pricing Details.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Edit Pricing Details</button>
            <ol>
              <li>Once you click on this button, you will see a form where on the top you can see all values you filled while creating Service Master.</li>
              <li>You can now change information(which will reflect/change only for the facility you are in).</li>
              <li>You can also add different Payees(Contacts) which are part of your contact list by clicking&nbsp; <button class="btn btn-primary btn-xs navbar-btn btn-info-tick">Add Contact's Pricing</button></li>
              <li>Once you select a contact you can fill in all other information and save that information.</li>
              <li>Your update information will start reflecting in that facilities invoices.</li>
            </ol>
          </li>
          <li>
            <span>About Add Payee Pricing.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Payee Pricing</button>
            <ol>
              <li>Add Payee Pricing can be used to create Bulk pricing for payers.</li>
              <li>In Pricing Master View click on this button.</li>
              <li>The dropdown you see is where you have to select the Payee you want to add pricing for.</li>
              <li>You may now see all Pricing Master listed one after the other, fill in the details for that payee & save.</li>
              <li>Once saved a new menu card for each payee will be available for use in Invoices.</li>
            </ol>
          </li>
          <li>
            <span>About Add Pricing Details.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Pricing Details</button>
            <ol>
              <li>Add Pricing Details can be used to create Bulk pricing for each Service.</li>
              <li>This options is similiar to Edit Pricing Details.</li>
              <li>The dropdown you see is where you have to select the Service you want to add pricing for.</li>
              <li>You may now see all Pricing Master listed one after the other, fill in the details for that Service & save.</li>
              <li>Once saved it will be updated on pricing master list.</li>
            </ol>
          </li>
        </ol>
      </li>
    </ul>
  </div>
</div>
<div id="surgery-package-guide" class="row">
  <div class="col-md-12">
    <h4 style="color:#428bca;">ABOUT SURGERY PACKAGE</h4>
    <ul>
      <li>Surgery Package are packages you create with multiple Services combined in one.</li>
      <li>Once Pricing Master is created from Service Master.You can visit <a href="" class="surgery-package-link">Surgery Package</a></li>
      <li>
        <b>How to create Surgery Package?</b>
        <ol style="list-style-type: upper-alpha;">
          <li>Visit <a href="" class="surgery-package-link">Surgery Package</a>.</li>
          <li>
            <span>Add Surgery Package.</span>&emsp;
            <button class="btn btn-primary btn-xs navbar-btn btn-info-tick"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Surgery Package</button>
            <ol>
              <li>Once you click on this button, you will see a form.</li>
              <li>Give Name to your Package.</li>
              <li>Select Pricing after selecting contact.</li>
              <li>Once saved you can use the package in invoice and/or Counsellor Notes.</li>
              <li style="color:#f00;">Please make sure to create package correctly as delete options is not available.</li>
            </ol>
          </li>
        </ol>
      </li>
    </ul>
  </div>
</div>

<style type="text/css">
  .btn-info-tick {
    cursor: help;
  }
</style>

<script type="text/javascript">
  $(".service-master-link").on('click', function(e){
    e.preventDefault();
    $("#manage_service_master_id").trigger('click')
  })
  $(".pricing-master-link").on('click', function(e){
    e.preventDefault();
    $("#manage_pricing_master_id").trigger('click')
  })
  $(".surgery-package-link").on('click', function(e){
    e.preventDefault();
    $("#manage_surgery_package_id").trigger('click')
  })
</script>
