<% if @facility_currencies.count > 1 %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-addon" style="background:#fff;border:1px solid #354670;"><b>Currency</b></span>
        <%= select_tag("currency_id", options_for_select(@facility_currencies.map{ |currency| ["#{currency.code} - #{currency.name}(#{currency.symbol})", currency.id] }, (@currency_id || current_facility.currency_id)),:class=> "form-control") %>
      </div>
    </div>
  </div>

  <style type="text/css">
    .select2-selection--single {
      border-radius: 0px !important;
    }
  </style>

  <script type="text/javascript">
    $("#currency_id").select2();
    $("#currency_id").on('change', function(){
      $(".finance-parent").find(".active").find(".analytics-data-link").trigger('click')
    })
  </script>
<% else %>
  <%= hidden_field_tag "currency_id", (@currency_id || current_facility.currency_id) %>
<% end %>