<%= form_for @contact_group, method: "post", remote: true, html: { id: 'new-contact-group-form', class: "contact-group-form" } do |f| %>
  <%= f.hidden_field :organisation_id, value: current_user.organisation_id %>
  <div class="row mb10">
    <div class="col-md-12 mb5">
      <b style="color: #f00;">Note: Once ContactGroup is Saved it cannnot be Removed.</b>
    </div>
    <div class="col-md-2">
      <b>Name:</b>
    </div>
    <div class="col-md-4">
      <%= f.text_field :name, class: 'form-control p5_10', placeholder: 'Ex. Insurance, Government' %>
      <label class="error-message-uniqueness"></label>
    </div>
    <div class="col-md-3">
      <%= f.submit "Save", class: "btn btn-success btn-xs", data: { 'disable-with': 'Please Wait...' }, :onclick => 'contact_group_new()' %>
    </div>
  </div>
<% end %>