<% history_counter = 0 %>
<% if patient.patient_history.patientpersonalhistory != nil || patient.patient_history.patientallergyhistory !=nil %>
  <% history_counter = history_counter + 1 %>
<% end %>

<% if history_counter == 1 %>
  <div class="row mb10 patient-history-tab">
    <div class="col-md-12">
      <div class="row">
        <strong>SYSTEMIC HISTORY :</strong>
        <div class="summary-line-border"></div>
      </div>
      <div class="patient-history">
        <%= render partial: "templates/common/allergies_view.html.erb",locals: {patient: patient} %>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  if($(".patient-history").text().trim().length == 0){
    $(".patient-history-tab").hide()
  }
</script>