<% abb_array = [["AC", "Anterior chamber"],
                 ["ACG", "Angle closure glaucoma"],
                 ["ALPC", "Argon laser photocoagulation "],
                 ["ALT", "Argon laser trabeculoplasty (for glaucoma)"],
                 ["AMD", "Age-related macular degeneration"],
                 ["APD", "Afferent pupillary defect"],
                 ["BCC", "Basal cell cancer"],
                 ["BDR", "Background diabetic retinopathy"],
                 ["BRVO", "Branch retinal vein occlusion"],
                 ["C/D", "Cup-to-disc ratio of the optic nerve"],
                 ["CFCF", "Counting fingers Close to Face"],
                 ["CL", "Contact lenses, hard"],
                 ["SCL", "Soft and extended wear Contact lenses"],
                 ["CME", "Cystoid macular edema"],
                 ["CRAO", "Central retinal artery occlusion"],
                 ["CRVO", "Central retinal vein occlusion"],
                 ["CSCR", "Central serous chorioretinopathy"],
                 ["CVF", "Confrontation visual field"],
                 ["Cyl", "Cylinder (in refraction)"],
                 ["D", "Diopter"],
                 ["DCR", "Dacryocystorhinostomy"],
                 ["DVD", "Dissociated vertical deviation (a form of squint)"],
                 ["DVS", "Ductions, versions, saccades"],
                 ["DWSCL", "Daily wear soft contact lenses"],
                 ["ECCE ", "Extracapsular cataract extraction "],
                 ["EOG", "Electrooculogram"],
                 ["ERG", "Electroretinogram"],
                 ["EOM", "Extraocular muscle"],
                 ["ERM", "Epi-retinal membrane"],
                 ["ET", "Esotropia"],
                 ["EUA", "Examination under anesthesia"],
                 ["HM", "Hand movement vision"],
                 ["ICCE", "Intracapsular cataract extraction"],
                 ["IK", "Interstitial keratitis"],
                 ["IO", "Inferior oblique"],
                 ["IOL", "Intraocular lens"],
                 ["IOP", "Intraocular pressure"],
                 ["IR", "Inferior rectus"],
                 ["K", "Keratometer reading (measures the curvature"],
                 ["KCS", "Keratoconjunctivitis sicca"],
                 ["KP", "Keratitic precipitate"],
                 ["L HoT", "Left Hypotropia"],
                 ["R HoT", "Right hypotropia"],
                 ["LHT", "Left hypertropia "],
                 ["RHT", "right hypertropia"],
                 ["LPI", "Laser peripeheral iridectomy"],
                 ["LP", "Light perception"],
                 ["LR", "Lateral rectus"],
                 ["M", "Manifest (non-cyclopleged) refraction"],
                 ["M&N", "Mydriacyl & Neosynephrine mixture used"],
                 ["NLP", "No light perception"],
                 ["NSC", "Nuclear sclerotic cataract"],
                 ["NVD", "Neovascularization of the disc"],
                 ["NVE", "Neovascularization of the retina elsewhere"],
                 ["NVI", "Neovascularization of iris"],
                 ["OHT", "Ocular hypertension"],
                 ["PC", "posterior capsule"],
                 ["PD", "Prism diopters"],
                 ["PHACO", "Phacoemulsification"],
                 ["PEE", "Punctate epithelial erosions"],
                 ["PEG", "Punctate epithelial granularity"],
                 ["PEK", "Punctate epithelial keratopathy"],
                 ["PERL", "Pupils equal and reactive to light"],
                 ["PF", "Pred Forte eye drops"],
                 ["PA 1%", "prednisolone acetate"],
                 ["PH", "Pinhole"],
                 ["PK", "Penetrating keratoplasty (cornea transplant)"],
                 ["POAG", "Primary open angle glaucoma"],
                 ["POHS", "Presumed ocular histoplasmosis syndrome"],
                 ["PPDR", "Pre-proliferative diabetic retinopathy"],
                 ["PRP", "Pan-retinal photocoagulation"],
                 ["PSC", "Posterior subcapsular cataract"],
                 ["PVD", "Posterior vitreous detachment"],
                 ["RD", "Retinal detachment"],
                 ["ROP", "Retinopathy of prematurity"],
                 ["RP", "Retinitis pigmentosa"],
                 ["RPE", "Retinal pigment epithelium"],
                 ["SLE ", "Slit lamp exam"],
                 ["SPK", "Superficial punctate keratitis "],
                 ["SR", "Superior rectus"],
                 ["SRNVM", "Subretinal neovascular membrane"],
                 ["Ta", "Applanation tonometry"],
                 ["T ½", "Timoptic (with concentrations)"],
                 ["Va", "Visual acuity"],
                 ["VF", "Visual field"],
                 ["Vit", "Vitreous"],
                 ["VTX", "Vitrectomy"],
                 ["W4D", "Worth 4-dot test (in strabismus)"],
                 ["XT", "Exotropia, intermittent exotropia"],
                 ["X", "exophoria, exophoria at near"],
                 ["YAG", "Neodymium-yttrium aluminum garnet laser"],
                 ["", "Prism diopter"],
                 ["b.i.d. ", "Twice a day bis in die"],
                 ["n.p.o. ", "nil per Oral"],
                 ["p.c.", "After meals"],
                 ["p.o. ", "By mouth"],
                 ["p.p. ", "After eating"],
                 ["q.a.m. ", "Every day before noon"],
                 ["q.h. ", "Every hour"],
                 ["q.i.d.", "4 times a day"],
                 ["q.p.m. ", "Every day after noon"],
                 ["RX ", "Treatment – glasses, medicine, etc"],
                 ["Stat", "Immediately"],
                 ["E/D", "Eye drops"],
                 ["Tab", "Tablets"],
                 ["Inj", "Injection"],
                 ["D", "Days"],
                 ["W", "Week"],
                 ["M", "Month"]] %>


<div class="" style="padding: 1.85%;background: beige;font-weight: 500;text-align: center; border: 1px solid #eee">
  Abbreviation
</div>
<div style="margin-top: 20px; overflow-y: scroll; height: 430px; ">

  <table class="table-bordered">
    <tr>
      <th>
        Short form
      </th>
      <th>
        Abbreviation
      </th>
    </tr>

    <% abb_array.each do |abb|%>
      <tr>
        <td>
          <%=abb[0]%>
        </td>
        <td>
          <%=abb[1]%>
        </td>
      </tr>
    <%end%>
  </table>



  <br>
  <hr style="margin-top: 3px; margin-bottom: 3px">
</div>
