<%= simple_form_for :opdrecordcomment, url: opd_records_add_comment_opd_record_path(:opdrecordid => @opdrecord._id), :remote => true, :html => { :id => "opd-record-comment-bydoctor-form", :class => "form-inline opd-record-comment-bydoctor-form" } do |comment| %>

    <div class="col-md-12" style="margin-top:15px;padding-top:15px;border-top:1px solid #ddd">
      <%= comment.input :comment, as: :text,  :label => false, :required => false,:placeholder => "Leave A Comment (Internal Use Only)", :input_html => {:class => "form-control", :style => "width: 100%;", :rows => 2} %>
    </div>
    <div class="col-md-12 text-right" style="margin:5px 0 25px 3px;">
    <%= submit_tag "Add Comment", class: "btn btn-success btn-xs", id: "comment_button" %>
    </div>

<% end %>