<div class="col-md-12 col-sm-12 mt5 mb5" style="border-bottom:1px solid #ddd;">
  <p class="info-history-abbv" style="display:none;font-size:10px;">
    <span class="template-U" style="padding: 3px 5px;">U</span> = <b>Update</b> ,&nbsp;&nbsp; <span class="template-P" style="padding: 3px 5px;">P</span> = <b>Print</b> <br>
    <span class="template-S" style="padding: 3px 5px;">S</span> = <b>Sign-Off</b> ,&nbsp;&nbsp; <span class="template-US" style="padding: 3px 5px;">U</span> = <b>Undo Sign-Off</b>
  </p>
</div>
<% @opd_history = @opd_histories.order(actiontime: :desc) %>
<% @opd_history.each do |opd_history| %>
    <% if opd_history.action != "C" %>
        <div class="row" style="border-bottom:1px solid #ddd; padding: 7px 0;">
          <div class="col-md-1 col-sm-1">
            <span style="color:#fff;">|</span>
          </div>
          <div class="col-md-2 col-sm-2">
            <div style="margin-top:7px;">
              <% if opd_history.action == "U" %>
                <span class="template-U" style="padding: 7px 10px;">U
                </span>
              <% elsif opd_history.action == "C" %>
                <span class="template-C" style="padding: 7px 10px;">C
                </span>
              <% elsif opd_history.action == "P" %>
                <span class="template-P" style="padding: 7px 10px;">P
                </span>
              <% elsif opd_history.action == "S" %>
                <span class="template-S" style="padding: 7px 10px;">S
                  </span>
              <% elsif opd_history.action == "US" %>
                <span class="template-US" style="padding: 7px 10px;">U
                  </span>
              <% end %>
            </div>
          </div>
          <div class="col-md-9 col-sm-9">
            <p style="margin-bottom:-7px;font-size:16px;"><b><%= User.find_by(id: opd_history.user_id.to_s).fullname %></b></p>
            <span style="font-size:9px;"><%= opd_history.actiontime.strftime("%I:%M%P, %d %B") %></span>
          </div>
        </div>
    <% end %>
<% end %>