<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Prescription Tagline</h4>
    </div>
    <%= form_tag({controller:"opd_records", action: "print_prescription_tagline_save"}, method: "post", remote: true, class: "mail_form") do |f| %>

      <div class="modal-body form-bordered clearfix">
        <input type="hidden" name="department" value="<%=@department%>">
        <div class="col-md-12 row"  style="margin-top: 10px;margin-bottom: 15px;">
          <div class="col-md-2"><b>Tagline:</b></div>
          <div class="col-md-10">

            <% dep_tagline = @facility_setting.read_attribute("#{@department}_print_tagline") %>
            
            <%= text_area_tag "facility_setting[tagline]" , dep_tagline, class: 'form-control message print_tagline',style: 'margin-left: -10px;height: 220px;', rows: "4",placeholder: "Write your Print Tagline here, if needed."%>
          </div>
        </div> 
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" data-disable-with="Please wait..." value="Save" />
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var summernote_options = {
    toolbar: [
      ['style', ['bold', 'italic', 'underline', 'clear']],
      ['fontsize', ['fontsize']],
      ['height', ['height']],
      ['fontname', ['fontname']],
      ['para', ['ul', 'ol', 'paragraph']],
    ],height: 200,
    insertTableMaxSize: {col: 5,row: 7},
    focus: true,
    callbacks: {
      onBlur: "lasttext=this"
    }

  };
  if($(".print_tagline").length > 0 ){
    $('.print_tagline').summernote(summernote_options);
    $(".print_tagline").on("summernote.change", function (event) {});
  }
</script>