<% if @opdrecord.consultant_id.to_s == @current_user.id.to_s %>
  <% if @opdrecord.sign_off == "true" %>
      <button class="btn btn-warning pull-right revert-sign-off-btn hide-show-edit-btn" title="Enable Edit.">Undo Sign-Off</button>
  <% else %>
      <button class="btn btn-success pull-right sign-off-btn hide-show-edit-btn" title="Disable Edit.">Sign-Off</button>
  <% end %>
<%end%>