<div class="">
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_summary_tab.html.erb" %>
</div>

<script>
  jQuery(".show-opd-record-comments-bydoctors").html("<%= escape_javascript(render 'opd_records/add_comment_opd_record') %>")
  jQuery(".opd-record-comment-form").html("<%= escape_javascript(render 'opd_records/opd_record_comment_form') %>")
  // for toggle history
  $(document).ready(function(){
    $(".show-history-toggle").on('click', function(){
      if($(this).html() == "Show Details"){
        $(this).html("Hide Details")
      } else {
        $(this).html("Show Details")
      }
      $(".show-history-details").toggle()
      $(".info-history-abbv").toggle()
    })
  })
</script>