<div class="">
  <%= simple_form_for [@purchase_bill, @purchase_bill_asset],
        url: inventory_transaction_purchase_bill_documents_path(purchase_bill_id: @purchase_bill.id,format: :json),
        remote: true, multipart: true, method: :post,
        html: { id: "upload-paper-records-form", class: "upload-paper-records-form dropzone"} do |f| %>

    <div class="pull-center" style="margin-left: 35%;">
      <h4><mark>Only .dcm images are supported</mark></h4>
    </div>
    <div class="pull-left">
    </div>

    <div class="pull-right">
      <%= submit_tag "Upload Files", class: "btn btn-success start" %>
    </div>
    <br/>
    <br/>

    <div class="row">
      <div class="col-md-12">
        <div id="actions" class="row">
          <div class="col-lg-7 mb10">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button dz-clickable">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files</span>
            </span>
          </div>

          <div class="col-lg-5">
            <!-- The global file processing state -->
            <span class="fileupload-process">
              <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
              <div class="progress-bar progress-bar-success" style="width: 100%;" data-dz-uploadprogress=""></div>
              </div>
            </span>
          </div>
        </div>
        <div class="row drophere-row text-center fileinput-button dz-clickable">
          <div class="dropbox-box" style="width:75%;height: 100%;margin:0 auto;border-radius:25px;">
            <h1><span class=""><i class="fa fa-upload"></i> Drag & Drop Files Here</span></h1>
          </div>
        </div>
        <div class="row">
          <div class="table table-striped" class="files" id="previews">
            <div id="template" class="file-row row">
              <!-- This is used as the file preview template -->
              <div class="col-md-1 thumbnail-col">
                <span class="preview"><img data-dz-thumbnail/></span>
                <p class="name" data-dz-name></p>
                <strong class="error text-danger" data-dz-errormessage></strong>
              </div>

              <div class="col-md-2 filename-col post-response"> 
                <%#= f.input :name, class: 'form-control filename', placeholder: 'File/Test Name',name: "inventory_transaction_purchase_bill_asset_upload[name]" %> 
                <input class="form-control filename" type="text" name="inventory_transaction_purchase_bill_asset_upload[name]" placeholder="File/Test Name" value="<%#= @investigation.try(:name) if @investigation %>"> </input>
              </div>

              <div class="col-md-9 text-center response-message" style="padding-top:50px;display: none;">
              </div>
              <div class="col-md-1 size-col">
                <p class="size" data-dz-size></p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                  <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                </div>
              </div>

              <div class="col-md-1 removebutton-col">
                <button data-dz-remove class="btn btn-danger reset-drag cancel">
                  <i class="glyphicon glyphicon-remove"></i>
                  <span>Remove</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap-fileupload.min", "data-turbolinks-track" => true %>

<script>

</script>