<div class="col-sm-12">
  <div class="row no_margin no_padding clinical-workflow-timeline">
    <div class="col-xs-12" style="line-height: 2;">
      <label style="border-radius: 12px;" class="label label-danger">Scheduled</label>
      <% @state_transitions.each_with_index do |transition, i| %>
        <i class="fa fa-long-arrow-alt-right"></i>
        <% unless transition.to == 'discharged' %>
          <% user = @transition_users.find{ |user| user[:id] == transition.user_id } %>
          <% label = (user[:role_ids].include?(158965000) || i == @state_transitions.length - 1) ? 'primary' : 'default' %>
          <label style="border-radius: 12px;margin:0px;" class="label label-<%= label %>" title="<%= transition.total_time %>"><%= user[:name] %></label>
        <% else %>
          <label style="border-radius: 12px;margin:0px;" class="label label-success">Discharged</label>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
