<div class="modal-body">

  <div class="panel panel-default bootcards-media">
    <img src="http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg" class="img-responsive"/>
    <div class="panel-footer">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <a href="/patient_management/download_excel"> <button class="btn btn-default">
            <i class="fa fa-arrow-down"></i>
            Download example file
          </button>
            </a>
        </div>
        <div class="btn-group">
          <button class="btn btn-default">
            <i class="fa fa-envelope"></i>
            Email example file
          </button>
        </div>
      </div>
    </div>
  </div>

</div>



