<div class="modal-body">

  <form id="upload-form" class="simple_form session" enctype="multipart/form-data" action="/patient_management/import_excel" accept-charset="UTF-8" method="post" data-remote="true">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="row mb10">

      <div class="col-sm-12">

        <label class="control-label">File</label>

        <div class="fileupload fileupload-new" data-provides="fileupload">
          <div class="input-append">
            <div class="uneditable-input">
              <i class="glyphicon glyphicon-file fileupload-exists"></i>
              <span class="fileupload-preview"></span>
            </div>
            <span class="btn btn-default btn-file">
              <span class="fileupload-new">Upload Excel</span>
              <span class="fileupload-exists">Change</span>
                <input class="form-control" type="file" name="bulk_file" id="bulk_file">
            </span>
            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
          </div>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary">Upload File</button>
      </div>
    </div>
  </form>

</div>

<%= javascript_include_tag "bootstrap-fileupload.min", "data-turbolinks-track" => true %>



