<div class="modal-dialog modal-hg-invoice">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right">
        <button aria-hidden="true" class="btn btn-info opd-appointment-visittype-close" data-dismiss="modal">Close</button>
      </div>
      <h4 class="nomargin">Example of Uploading Patient List via Excel File</h4>
    </div>
    <%= render "patient_management/add_excel_example_form" %>
  </div>
</div>