<ul class="letter-list">
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=a"class="letter-class">a</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=b"class="letter-class">b</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=c"class="letter-class">c</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=d"class="letter-class">d</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=e"class="letter-class">e</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=f"class="letter-class">f</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=g"class="letter-class">g</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=h"class="letter-class">h</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=i"class="letter-class">i</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=j"class="letter-class">j</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=k"class="letter-class">k</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=l"class="letter-class">l</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=m"class="letter-class">m</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=n"class="letter-class">n</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=o"class="letter-class">o</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=p"class="letter-class">p</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=q"class="letter-class">q</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=r"class="letter-class">r</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=s"class="letter-class">s</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=t"class="letter-class">t</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=u"class="letter-class">u</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=v"class="letter-class">v</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=w"class="letter-class">w</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=x"class="letter-class">x</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=y"class="letter-class">y</a></li>
  <li><a data-remote="true" href="/patient_management/patient_alphabetically?letter=z"class="letter-class">z</a></li>
</ul>
<style>
    .color-change {
        color: #fff !important;
        background-color: #428bca !important;
    }
</style>
<script>
    $('.letter-class').click(function(){
        remove_albhabet_color();
        $(this).addClass('color-change');
        $(this).addClass('active');
    })
    function remove_albhabet_color() {
      $('.letter-class').removeClass('active')
      $('.letter-class').removeClass('color-change')
    }
</script>