<div class="col-md-12" style="border-bottom:1px solid #eee; margin-bottom:5px;">
  <div class="btn-group" data-toggle="buttons">
    <label class="patient btn btn-primary active" id="followup">
      <input type="radio" name="options"  autocomplete="off" checked> Followup
    </label>
    <label class="patient btn btn-primary"  id="birthday">
      <input type="radio" name="options" autocomplete="off"> Birthday
    </label>
    <label class="patient btn btn-primary" id="alphabetically">
      <input type="radio" name="options"  autocomplete="off"> All Patients
    </label>
    <label class="patient btn btn-primary" id="missed">
      <input type="radio" name="options"  autocomplete="off"> Overdue
    </label>
  </div>
  <div class="btn-group pull-right mr5">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Patient Management &nbsp;&nbsp;&nbsp;<span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/patient_management/download_excel">
          <i class="fa fa-download"></i>
          Download example file
       </a></li>
        <li class="divider"></li>
        <li><%= link_to patient_management_add_excel_path, :class => "patient-excel-modal", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#patient-excel-modal', method: :get } do %> <i class="glyphicon glyphicon-plus"></i> Add Patient Via Excel <% end %></li>
    </ul>
  </div>
</div>