<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-info panel-alt">
      <div class="panel-body">

        <div class="row">


          <div class="col-md-12">


              <div class="buttonPlaceholder row">
                <%= render 'patient_management/patientmanagementcontrols'%>
              </div>
            <div id="letters">
              <%= render '/patient_management/letters'%>
              <div class="mb30" ></div>
            </div>
            <div class="row patient-common">

            </div>

            </div>

          </div>

        </div>
    </div>
  </div>

</div>
