<div class="contentpanel">
  <%= render "showpatientmanagementcontentpanel" %>
  <script type="application/javascript">
      $(document).ready(function(){
          <%= render partial: 'patient_management_home.js' %>
      })
  </script>
</div>