var window_height = $(window).height() - 50
$(".sidebar_area").css('height',window_height)
$(".letterhead_main_content").css('height',window_height)

$(window).resize(function() {
  var window_height = $(window).height() - 50
  $(".sidebar_area").css('height',window_height)
  $(".letterhead_main_content").css('height',window_height)
})


$(document).ready(function() {
  $(".sidebar-doctors-letterhead").on('click', ".sidebar-print-letterhead", function(){
    $('.sidebar-print-letterhead').removeClass('active')
    $(this).addClass('active')

    $("#sidebar_summary").html(`<div class="loading_dots"><span></span>&nbsp;<span></span>&nbsp;<span></span></div>`)
$("#letterhead_summary").html(`<div class="loading_dots"><span></span>&nbsp;<span></span>&nbsp;<span></span></div>`)
  });

  if("<%= params[:print_setting_id].nil? %>" == "true"){
    $(".new_print_setting").trigger("click")
  }

  // $(".sidebar-print-letterhead").click(function(){
  //   var id = $(".prints_list").find(".active").find("a").attr('data-id')
  //   jQuery.ajax({
  //     type: "GET",
  //     url: '/print_settings/edit',
  //     data: {
  //       id: id,
  //       remote: "true"
  //     }
  //   });
  // });
  // // for clicking first selected item
  // $(".prints_list").find('.active').click();

});
