$("#sidebar_summary").html(`<div class="loading_dots"><span></span>&nbsp;<span></span>&nbsp;<span></span></div>`)
$("#letterhead_summary").html(`<div class="loading_dots"><span></span>&nbsp;<span></span>&nbsp;<span></span></div>`)

// Append New Created Setting & Trigger Click
$(".prints_list").find(".sidebar-print-letterhead").removeClass("active");
$(".prints_list").append(`
  <li class="sidebar-print-letterhead active">
    <a href="/settings/print_settings/<%= @print_setting.id.to_s %>/edit" data-remote="true" class="edit_print_setting_<%= @print_setting.id.to_s %>"><%= @print_setting.name %></a>
  </li>
`);
$(".edit_print_setting_<%= @print_setting.id.to_s %>").trigger("click");