$("#sidebar_summary").html(`<div class="loading_dots"><span></span>&nbsp;<span></span>&nbsp;<span></span></div>`)
$("#letterhead_summary").html(`<div class="loading_dots"><span></span>&nbsp;<span></span>&nbsp;<span></span></div>`)

// Trigger New
$(".edit_print_setting_<%= @print_setting.id.to_s %>").remove();
$(".new_print_setting").trigger("click");