$("#sidebar_summary").html(`<div class="loading_dots"><span></span>&nbsp;<span></span>&nbsp;<span></span></div>`)
$("#letterhead_summary").html(`<div class="loading_dots"><span></span>&nbsp;<span></span>&nbsp;<span></span></div>`)

// Append New Created Setting & Trigger Click
$(".edit_print_setting_<%= @print_setting.id.to_s %>").html("<%= @print_setting.name.to_s %>").trigger("click");