<div class="dropdown" style="margin-right:1%;">
  <% arr = ['City', 'State', 'District', 'Commune']%>
  <% selected_val =  @mis_params[:location_type].present? ? @mis_params[:location_type] : arr[0] %>
    <label class="f-title" for="pref-orderby" style="color: #428bca;">Region Type <span id= "default-location" class="apply-default"> Apply default</span></label>
    <%= select_tag :location_type, options_for_select(arr, selected_val), {:class => "form-control dropdown-filter", :required => true, :id => 'mis-location-type' }%>
</div>