<div class="col-md-1" style="margin-top:5px;">
  <b>Uploads</b>
</div>
<div class="col-md-9">
  <% if inv_upload.try(:count) > 0 %>
    <%= render partial: 'investigation/records/upload_section',locals: {inv_upload: inv_upload,investigation: investigation} %>
  <% end %>
</div>