<div class="row">
  <div class="col-sm-12 text-center" style="margin-bottom:5px;color:#000;font-size: 10px;">
    <span><button class="btn btn-xs btn-circle btn-circle-small btn-primary btn-primary-transparent"><i class="fa fa-edit"></i></button>
    - Edit</span>&emsp;
    <span><button class="btn btn-xs btn-circle btn-circle-small btn-info btn-info-transparent">R</button>
    - Reschedule</span>&emsp;
    <span><button class="btn btn-xs btn-circle btn-circle-small btn-danger btn-danger-transparent"><i class="fa fa-trash-alt"></i></button>
    - Delete</span>&emsp;
    <span><button class="btn btn-xs btn-circle btn-circle-small btn-success btn-success-transparent"><i class="fa fa-file-alt"></i></button>
    - View</span>&emsp;
    <span><button class="btn btn-xs btn-circle btn-circle-small btn-orange btn-orange-transparent"><i class="fa fa-file"></i></button>
    - Templates</span>&emsp;
    <span><button class="btn btn-xs btn-circle btn-circle-small btn-warning btn-warning-transparent"><i class="fa fa-print"></i></button>
    - Print</span>&emsp;
    <% unless current_user.role_ids.include?(46255001) || current_user.role_ids.include?(387619007) || current_user.role_ids.include?(499992366) %>
      <span><button class="btn btn-xs btn-circle btn-circle-small btn-darkblue btn-darkblue-transparent"><i class="fa fa-clone"></i></button>
      - Clone</span>&emsp;
    <% end %>
    <% if current_facility.show_finances? %>
        <span><button class="btn btn-xs btn-circle btn-circle-small btn-success btn-success-transparent" style="overflow: hidden;"><%= current_facility.currency_symbol %></button>
        - Receipt</span>&emsp;
    <% end %>
    <span><button class="btn btn-xs btn-circle btn-circle-small btn-danger btn-danger-transparent"><i class="fa fa-sign-in-alt"></i></button>
    - Arrived/ Admit Patient</span>&emsp;
    <span><button class="btn btn-xs btn-circle btn-circle-small btn-darkblue btn-darkblue-transparent"><i class="fa fa-sign-out-alt"></i></button>
    - Completed/ Discharge Patient</span>&emsp;
  </div>
</div>
