<div class="sidebar-panel" style="background: #fff;padding-top:0px;">
  <div class="row filemanager">
    <div class="col-sm-12">
      <%= render partial: "patient_summary_timelines/timeline_details/upload_section" %>
    </div>
  </div>
</div>