<h4 class="text-center" style="margin: 10px; color: #00BFFF;"><%= @return_transaction.department_name %>&nbsp;&nbsp;Return Invoice</h4>
<div class="btn-group" style="margin: 10px;">

  <a href="/inventory/transaction/vendor_returns/print?id=<%= @return_transaction.id %>&page_size=A4" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a>
  <a href="/inventory/transaction/vendor_returns/print?id=<%= @return_transaction.id %>&page_size=A5" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a>
</div>
<%= render partial: '/inventory/transaction/vendor_returns/show_body.html.erb' %>