<% current_date = Date.current %>
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mis-list-filters">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="btn-group">
    <a class="navbar-brand ps" style="color:#fff;" href="/mis/administrative_reports" data-remote="true">MIS Reports</a>&emsp;<a class="navbar-brand refresh-mis-reports" style="color:#fff;font-size:12px;" href="#"><i class="fa fa-refresh"></i></a>
  </div>
</div>
<div class="mis-l-filters">
  <div class="collapse navbar-collapse" id="mis-l-filters">
    <ul class="nav navbar-nav" style="font-size:16px;margin-right:2%;">
      <!-- Facility -->
      <li class="dropdown" style="margin-right:25px;">
        <a class="navbar-brand ps" style="color:#fff;" href="/mis/administrative_reports" data-remote="true"> <%= @mis_params[:facility_name] %> </a>
        <span class="navbar-brand ps" style="color:#fff;">Report - <%=Mis::Constants::Badge.link_name(@mis_params[:title]) %> </span>
      </li>
      <!-- Inventory -->
    </ul>
    <ul class="nav navbar-nav navbar-right" style="font-size:16px;margin-right:2%;margin-top:10px;">
      <%= mis_params = '' %><% @mis_params.each { |key, value| mis_params += "#{key}=#{value}&" } %>
      <a href="/mis/administrative_reports/download_data.xlsx?<%= mis_params %>" class="btn btn-primary btn-primary-transparent" style="color:#fff;margin-left:15px;"><i class="fa fa-download"></i> Download</a>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="font-size:16px;margin-right:2%;margin-top:10px;">
      <button type="button" data-toggle="modal" class="btn btn-primary btn-primary-transparent" style="color:#fff;margin-left:15px;" id="mod-btn" data-target="#filterModal">
        <span class="glyphicon glyphicon-filter"></span> Filter
      </button>
    </ul>
  </div>
</div>

<style>
  #mis-l-filters{
    font-size: 12px !important;
  }
  .navbar-custom-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 12px;
    line-height: 20px;
  }

</style>
