<%@patient_self_histories.each do |history|%>
    <div class="container right">
      <div class="content">
        <!--<h4><%#= history.created_at.strftime("%d/%m/%Y")%></h4>-->
        <!--<h4 style="background-color: #3cc1ff;padding: 5px;">Entered on <%#= history.created_at.strftime("%I:%M %p on %b %d,%Y")%></h4>-->
        <b><h4 style="color: black">Entered on <%= history.created_at.strftime("%b %d,%Y at %I:%M %p")%></h4></b>

        <p><%= render partial:'patient_self_history_view', locals: { patient_self_history: history}%></p>
      </div>
    </div>
<%end%>