<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></pre>
<h1>Notification email.</h1>

<%#= link_to "<strong>Reset link</strong>".html_safe, password_resets_change_path(:reset => @user.password_reset_token), :data => {:remote => true} %>

<pre>
To reset your password, click the URL below.

If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
</pre>