<div bgcolor="#ffffff" style="width:100%;background-color:#ffffff;margin:0;padding:0">
  <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
      <td valign="top" align="center" style="background-color:#ffffff">

        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse" width="600" align="center">
          <tbody>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse" width="600" align="center">
                <tbody>
                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse" width="600" align="center">
                      <tbody>
                      <tr>
                        <td align="center">
                          <a href="https://healthgraph.in/" target="_blank"><img src="<%= Rails.application.config.ip %>/assets/healthgraph_full.png" width="130" height="27" style="display:block;border:none" alt="hg"></a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="color:#3cc1ff;font-family:helvetica,arial,sans-serif;font-size:30px;font-weight:100;padding:0 0 10px 0">
                    Sign Up Verification
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse" width="600">
                <tbody>
                <tr>
                  <td style="color:#484848;font-family:helvetica,arial,sans-serif;font-size:18px;line-height:26px;font-weight:100;padding:0 30px 35px 0" align="center">
                    <p>Please click the button below to complete verification process. </p>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                  <a href="<%= Rails.application.config.ip %>/users/activate?code=<%= @user.id.to_s%>" target="_blank" style="background-color:#3cc1ff;border:1px solid #3cc1ff;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;line-height:35px;text-align:center;text-decoration:none;padding:0 25px 0 25px;letter-spacing:.5px;min-width:150px">Activate Account</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-collapse:collapse" width="600">
                <tbody>
                <tr>
                  <td width="100%" align="center" style="padding:10px 0 10px 0px;font-family:helvetica,arial,sans-serif;font-size:10px;line-height:17px;color:#535353">
                    This email has been sent to you by <span class="il">HealthGraph India</span> Pvt Ltd.
                    <br>
                    <a style="color:#535353;text-decoration:none" href="https://www.google.com/maps/preview#!q=Evernote+Corporation%2C+305+Walnut+Street%2C+Redwood+City%2C+CA+94063%2C+USA&amp;data=!4m10!1m9!4m8!1m3!1d3158!2d-122.4049847!3d37.7711819!3m2!1i1440!2i769!4f13.1" target="_blank">
                      <span class="il">HealthGraph</span> Bangalore, KA 560037, IN.
                    </a>
                  </td>
                </tr>


                </tbody>
              </table>

            </td>
          </tr>
          </tbody></table>

      </td>
    </tr>
    </tbody></table><div class="yj6qo"></div><div class="adL">
</div></div>