<div class="panel">
  <div class="panel-heading" style="overflow:auto;">
    Ophthal Laboratory Sets
    <div class="pull-right"><%= link_to new_ophthal_laboratory_set_path, :data => {:remote => true,'toggle' =>  "modal", 'target' => '#laboratory-set-modal'}, :class => 'btn btn-success', id: 'ophthal-lab-set'  do%><i class="fa fa-plus"></i> Ophthal Lab Set<% end %></div>
  </div>
  <div class="panel-body">
    <table class="table table-striped" id="ophthal-set-list">

    </table>
  </div>
</div>