<div class="panel">
  <div class="panel-heading" style="overflow:auto;">

    <div class="row">
      <div class="col-md-6">
      </div>

      <div class="col-md-6">
        <div class="col-sm-8">
          <span class="col-sm-4"><b>Specialty :</b></span>
          <div class="col-sm-8">
            <%= select_tag "specialty_id", options_for_select(@available_specialties.pluck(:name, :id) || [], @selected_specialty), { class: "form-control specialty_dropdown" } %>
          </div>
        </div>

        <div class="col-sm-2">
          <% level = @level.present? ? @level : "user" %>
          <%= link_to new_advice_set_path(level: level), :data => {:remote => true,'toggle' =>  "modal", 'target' => '#advice-set-modal'}, :class => 'btn btn-success'  do%><i class="fa fa-plus"></i> Advice Set<% end %>
        </div>
      </div>      
    </div>

  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-primary" id="advice-set-list">
    </table>
  </div>
</div>

<script type="text/javascript">
  $('.specialty_dropdown').on('change', function() {
    var specialty_id = this.value;
    var action = "<%= params[:action] %>"
    
    $.ajax({
      type: "GET",
      url: '/advice_sets/'+ action +'',
      data: { specialty_id: specialty_id, remote: "true" },
    })

  })

</script>