<table class="table table-striped">
  <tr>
    <td style="padding-left: 5px;padding-right: 0;padding-top: 17px;">
      Name :
    </td>
    <td>
      <div class="input"><input class="string optional form-control advice_set_name" name="advice_set[name]" size="30" maxlength="30" type="text" id="advice_set_name" style="width:175px;"></div>
    </td>
  </tr>
</table>

<button aria-hidden="true" class="btn btn-success popover-save-advice-set-btn" style="margin-left:15px;">Save</button>
<button aria-hidden="true" class="btn btn-info popover-advice-set-cancel-button">Cancel</button>


<script>
  jQuery(".popover-advice-set-cancel-button").on("click", function(event) {
    event.preventDefault();
    jQuery('.popover-save-advice-set').popover('destroy');
    jQuery(".save-advice-set-btn").removeClass("disabled");
  });

  jQuery(".popover-save-advice-set-btn").on('click', function(event) {
    event.preventDefault();
    var advice_set_content = $("#advice-set-content-summernote").html()
    var advice_set_name = $(".popover-save-advice-set").find("#advice_set_name").val()
    jQuery.ajax({
      type: "POST",
      url: '/advice_sets/save_advice_set',
      data: { name: advice_set_name, content: advice_set_content, remote: "true", specialty_id: <%= params[:specialty_id] %> },
    });
    jQuery('.popover-save-advice-set').popover('destroy');
    jQuery(".save-advice-set-btn").removeClass("disabled");
  })

</script>