<div class="col-md-12 mb10">

 <div class="row">

   <div class="col-md-2">

     <label for="anthropometry-radioselectlabel">Anthropometry:</label>

   </div>

   <div class="col-md-10">

     <div class="row">

       <div class="col-md-3">

         <div class="form-group">
           <label for="anthropometry-heightlabel">Height</label>
           <div class="input-group">
             <%= f.input_field :anthropometryheight, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[anthropometryheight]", :value => opdrecord.read_attribute(:anthropometryheight) %>
             <span class="input-group-addon">cms</span>
           </div>
         </div>

       </div>
       <div class="col-md-3">

         <div class="form-group">
           <label for="anthropometry-weightlabel">Weight</label>
           <div class="input-group">
             <%= f.input_field :anthropometryweight, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[anthropometryweight]", :value => opdrecord.read_attribute(:anthropometryweight) %>
             <span class="input-group-addon">kg</span>
           </div>
         </div>

       </div>
       <div class="col-md-3">

         <div class="form-group">
           <label for="anthropometry-bmilabel">BMI (auto calc)</label>
           <div class="input-group">
             <%= f.input_field :anthropometrybmi, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[anthropometrybmi]", :value => opdrecord.read_attribute(:anthropometrybmi) %>
             <span class="input-group-addon">kg/m2</span>
           </div>
         </div>

       </div>

     </div>

   </div>

 </div>

</div>