<div class="tab-pane" id="referral">

  <!--Intra Facility-->
  <% if User.where(organisation_id: @current_user.organisation_id, facility_ids: @current_facility.id, role_ids: 158965000, specialty_ids: @appointment.specialty_id, is_active: true).size > 1 %>
    <div id="within_facility" class="mb30">
      <%= render partial: "opd_referrals/intra_facility_referral", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
    </div>
    <hr>
  <% end %>

  <!--Inter Facility-->
  <% if Facility.where(organisation_id: @current_user.organisation_id, is_active: true).size > 1 %>
    <div id="outside_facility" class="mb30">
      <%= render partial: "opd_referrals/inter_facility_referral", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
    </div>
    <hr>
  <% end %>

  <!--Outside Organisation-->
  <div id="outside_organisation" class="mb10">
    <%= render partial: "opd_referrals/outside_organisation_referral", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
  </div>
</div>

<script>
  jQuery(document).ready(function() {
    datepicker_options = {
      dateFormat: "dd/mm/yy",
      minDate: 0
    };
    jQuery('.referraldate-outsideorg-datepicker').datepicker(datepicker_options);
//    jQuery('.inter-referraldate-datepicker').datepicker(datepicker_options);
//    jQuery('.intra-referraldate-datepicker').datepicker(datepicker_options);
  });
</script>

<style>

  .intra-referraldate-datepicker,.inter-referraldate-datepicker,.outsideorg-referraldate-datepicker {
    cursor: pointer !important;
    background: #fff !important;
  }

  .intra-facility-referral{
    background: #f5f5f5;
    padding: 15px 0px;
    margin: 10px 0px;
    border-radius: 5px;
  }
  .intra-facility-referral-minimized{
    background: #f5f5f5;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 5px;
  }

  .inter-facility-referral{
    background: #f5f5f5;
    padding: 15px 0px;
    margin: 10px 0px;
    border-radius: 5px;
  }
  .inter-facility-referral-minimized{
    background: #f5f5f5;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 5px;
  }


  .outside-organisation-referral{
    background: #f5f5f5;
    padding: 15px 0px;
    margin: 10px 0px;
    border-radius: 5px;
  }
  .outside-organisation-referral-minimized{
    background: #f5f5f5;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 5px;
  }
</style>
