<div id="toolbar">
  <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top " style="margin-bottom: 0px; left: auto; right: auto; width: auto;z-index:555;position: relative">
    <div class="container-fluid">
      <div class="col-md-6">
        <h4 style="margin:13px 0 0 0;font-size:18px;">Pharmacy Details</h4>
      </div>
      <div class="col-md-6">
        <!-- <%#= link_to prescriptions_show_pharmacy_conversion_report_path(inv_name: 'pharmacy'), :class => "btn btn-info navbar-btn navbar-btn-hover pull-right", style:"border-color:#FF8735", :data => {remote: true} do %> <i class="fa fa-line-chart fa-xs">&nbsp;</i>Report<%# end %> -->
      </div>
    </div>
  </nav>
</div>

<div id="pharmacy_summary" style="height: calc(100% - 50px); overflow-y: scroll; background-color: rgb(255, 255, 255);">
</div>