<div class="exception-sessions-row">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="row mb10">
        <div class="col-md-3">
          <b>Start Date</b>
          <%= text_field_tag 'user_time_slot[0][exception_start_date]', nil, class: 'form-control p5_10 exception_sessions_0_start_date exception_sessions_start_date', readonly: 'readonly' %>
        </div>
        <div class="col-md-3">
          <b>End Date</b>
          <%= text_field_tag 'user_time_slot[0][exception_end_date]', nil, class: 'form-control p5_10 exception_sessions_0_end_date exception_sessions_end_date', readonly: 'readonly' %>
        </div>
      </div>
      <div class='sub-section'>
        <%= render partial: 'time_slots/exception_sessions/sub_section.html.erb' %>
      </div>
      <div class="row mt10">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-primary btn-xs add-more-sub-exception">Add Sub Section</button>
          <button type="button" class="btn btn-danger btn-xs exception-remove-slot-row">Remove Timings</button>
        </div>
      </div>
    </div>
  </div>
</div>
