<div class="inventory-toolbar2 inventory-toolbar">
  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0">
      <div class="navbar-header col-md-8" style="margin-top: 7px;">
        <div class="inventory_search_panel">
          <div class="input-group">
            <input type="text" id="inventory_search" placeholder="Search here..." class="form-control" >
            <span class="input-group-addon"><i class="fa fa-times-circle" style="display: none"></i></span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="btn-group" style="margin-bottom: 0px; margin-top:-2px;" role="group" aria-label="">
          <button type="button"  class="btn btn-info navbar-btn navbar-btn-hover" data-toggle="dropdown">
          <span class=""><i class="fa fa-file"></i> Reports</span>&nbsp;
          <span class="caret fa-color"></span>
          </button>
          <ul class="dropdown-menu children" style="">
            <li>
              <%= link_to report_inventory_transaction_transfers_path(start_date: @start_date, end_date: @end_date, department_id: @inventory_store.department_id, department_name: @inventory_store.department_name, store_id: @inventory_store.id), id: "collection_report_info", class: " download-invoice-data", data: { remote: true, 'toggle': "modal", 'target': '#transfer-report-modal' } do %><span>Transfer Report</span><% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="inventory-show-panel" style="overflow-y: auto">
  <h3 class="text-center" style="margin-top: 200px">Please select from list.</h3>
</div>
