// Window Size
var window_height = $(window).height() - 50
$(".sidebar_area").css('height',window_height)
$(".ward_main_content").css('height',window_height)

$(window).resize(function() {
  var window_height = $(window).height() - 50
  $(".sidebar_area").css('height',window_height)
  $(".ward_main_content").css('height',window_height)
})

// VIEW FOR WARD RHS
$(".summary_ward").on('click', function(){
  $(".summary_ward").css("background-color","#fff")
  $(this).css("background-color","#fff9e6")

  let room_id = $(this).attr("data-room-id")

  let loadingDots = `
    <div class="loading_dots">
      <span> </span>&nbsp;&nbsp;
      <span> </span>&nbsp;&nbsp;
      <span> </span>
    </div>
    <div class="text-center">ARRANGING BEDS PLEASE WAIT</div>
  `
  $("#ward_summary").html(loadingDots)

  fetch(`/inpatients/ward_details?room_id=${room_id}`)
    .then(data => data.text())
    .then(BedLayoutHtml => $("#ward_summary").html(BedLayoutHtml))
})

$(".sidebar-summary-ward").find(".ward-details:first").addClass("in");
$(".sidebar-summary-ward").find(".ward-details:first").find(".summary_ward").first().trigger('click')