$('.default_radio_btn').on('click', function() {
  var btn = $(this).closest('td').find('a.btn-seq-primary');
  $('#confirmation-modal').html(`
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are You Sure?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure, you want to make this sequence primary?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        ${btn[0].outerHTML}
      </div>
    </div>
  </div>
  `);
  $("#manage_sequences_id").trigger('click');
});

$('.btn-disable-sequence').on('click', function(){
  var message_content = $(this).html();
  var btn = $(this).closest('td').find('a.btn-toggle');
  $('#confirmation-modal').html(`
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are You Sure?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure, you want to ${message_content} this Sequence?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        ${btn[0].outerHTML}
      </div>
    </div>
  </div>
  `);
})

// var sequence_managers = $('#manage_sequence_managers').dataTable({
//   "bDestroy": true,
//   "sPaginationType": "full_numbers",
//   "bServerSide": true,
//   "sAjaxSource":"/sequence_managers/data.json?organisation_id=<%= current_organisation['_id'].to_s %>",
//   "aoColumns": [
//     { "sTitle": "S.No.", "sWidth": "3%", "bSortable": false },
//     { "sTitle": "Name", "sWidth": "10%" },
//     { "sTitle": "Item Name", "sWidth": "10%" },
//     { "sTitle": "Department Name", "sWidth": "5%" },
//     { "sTitle": "Current Sequence Format", "sWidth": "10%" },
//     { "sTitle": "Default", "sWidth": "5%" },
//     { "sTitle": "Properties", "sWidth": "10%" },
//     { "sTitle": "Actions", "sWidth": "10%" }
//   ],
//   "oLanguage": {
//     "sZeroRecords": "No Sequence Manager Found",
//     "sLoadingRecords": "Please wait - loading sequences..."
//   }
// })