<div id="toolbar">
  <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top " style="margin-bottom: 0px; left: auto; right: auto; width: auto;z-index:555;position: relative">
    <div class="container-fluid">
      <div class="col-md-6">
        <h4 style="margin:13px 0 0 0;font-size:18px;">IPD Details</h4>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </nav>
</div>

<div id="ipd_summary" style="height: calc(100% - 50px); overflow-y: scroll;">
</div>