<input type="hidden" name="none" id="ipd_refresher" value="<%= @admission.id.to_s %>">
<div class="row no_margin" style="padding: 10px 5px;">
  <div class="row no_margin no_padding" style="padding: 5px;">
    <%= render partial: 'ipd_management/ipd_details/patient_details.html.erb' %>
  </div>
  <hr>
  <div class="row no_margin no_padding" style="padding: 5px;">
  	<%= render partial: 'ipd_management/ipd_details/tray.html.erb' %>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'ipd_management/ipd_details/ipd_details_section.js.erb' %>
</script>