<div class="well well-lg">
	<div id="reportrange" class="pull-right" style="cursor: pointer; padding: 5px 10px; border: 1px solid #1CAF9A;background:#1CAF9A;color:white;">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
      <span></span> <b class="caret"></b>
    </div>
</div>
<div class="panel">
	<div class="panel-heading" style="overflow:auto;">
	Daily Total Earnings	
	</div>
	<div class="panel-body">
		<div class="row">
	      <div class="col-md-6 mb30">
			<div id="daily_earnings_barchart" style="height: 300px"></div>
	      </div><!-- col-md-6 -->
	      <div class="col-md-6">
          <div id="donut-chart" style="height: 280px;"></div>
	       </div>
		</div><!-- row -->
	</div>
</div>
<div class="panel">
	<div class="panel-heading" style="overflow:auto;">
	Total Earnings Split By Department
	</div>
	<div class="panel-body">
    	<div class="row">
	      <div class="col-md-12 mb30" id="rickshaw_chart_container">
	      	<div id="rickshaw_y_axis"></div>
			<div id="service_earnings_barchart"></div>
			<div id="rickshaw_legend"></div>
			<div id="rickshaw_graph_controls" class="col-md-2 pull-right rickshaw_legend">
				<div id="rickshaw_preview" ></div>
				<div id="rickshaw_slider" class="slider-success"></div>
			</div>
			<div id="rickshaw_x_axis" style="width:735px"></div>
			
	      </div>
		</div><!-- row -->
	</div>
</div>

