<div id="auth_policy" style="height: calc(100% - 50px); overflow-x: hidden; overflow-y: auto;background:#fff">
  <%= render partial: "authorization/policies/list.html.erb" %>
</div>

<style>
  .panel-body {
    padding: 10px !important;
  }
</style>