<div class="policy-cards row">
  <% policies.each do |policy| %>
    <div class="policy-card col-md-6">
      <div class="row">
        <div class="col-md-5">
          <span class="policy-description"><%= policy.description %> </span>
        </div>
        <div class="col-md-3 full-view">
          <strong><i>Authorized:</i></strong> <span class="policy-value <%= policy.authorized ? 'text-success' : 'text-danger'  %>">&nbsp;&nbsp;&nbsp;<%= policy.authorized ? 'YES' : 'NO' %>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="col-md-3">
          <% if  policy.hg_policy.try(:maker_checker_ability) %>
            <strong>Maker-Checker: </strong>
            <% if policy.try(:maker_checker) %>
              Yes
            <% else %>
              No
            <% end %>
          <% end %>
        </div>
        <div class="col-md-1">
          <%= link_to edit_authorization_policy_path(id: policy.id.to_s, hg_policy_id: policy.try(:hg_policy_id)), method: :get, data: { remote: true, toggle: 'modal', target: '#policy-modal' }, class: '', style: 'display: inline;' do %><i class="fa fa-edit"></i><% end %>
        </div>      
      </div>
    </div>
  <% end %>
</div>
