<% if current_facility.ipd_clinical_workflow %>
  <%= render partial: 'inpatients/admission/clinical_data_rows.html.erb', locals: { admission_list: admission_list } %>
<% else %>
  <%= render partial: 'inpatients/admission/non_clinical_data_rows.html.erb', locals: { admission_list: admission_list } %>
<% end %>

<% unless admission_list.count > 0 %>
  <div class='row no_margin summary_admission'>
    <div class="col-md-12 text-center">
      <b>Nothing to Show</b>
    </div>
  </div>
<% end %>