<table cellspacing="10" cellpadding="0">
  <thead>
  <tr>
    <th>Date</th>
    <th>Doctor</th>
    <th>Total</th>
    <th>Converted</th>
    <th>Not Converted</th>
    <th>No Action</th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'prescriptions/pharmacy/report_table_data.html.erb' %>
  </tbody>
</table>
<style>
    table {border: none;}
</style>