<!-- old -->
<% if false %>
  <%= render partial: 'opd_appointments/common_css_opd.html.erb' %>
  <div class="row" style="display:none;">
    <!-- All controls -->
    <div class="department-filter"></div>
    <div class="user-filter"></div>
    <div class="facility-filter"></div>
    <div class="status-filter"></div>
    <div class="filter-title"></div>
  </div>

  <div class="contentpanel">
    <%= render "opticalcontentpanel" %>

  </div>
<% end %>