<% if false %>
  // old
  active_summary = jQuery(document.getElementsByClassName("prescription_type active")).attr('id')
  active_prescription = jQuery(document.getElementsByClassName("summary_prescription active")).attr('id')


  jQuery(".mainpanel").html("<div class='contentpanel'>" + "<%= escape_javascript(render 'prescriptions/opticalcontentpanel') %>" + "</div>")
  jQuery('#'+active_summary).children().click()
  jQuery('#'+active_prescription).click()
<% end %>