// old
<% if false %>
  active_summary = jQuery(document.getElementsByClassName("prescription_type active")).attr('id')
  active_prescription = jQuery(document.getElementsByClassName("summary_prescription active")).attr('id')
  console.log('active_prescription_id', active_summary)

  jQuery(".mainpanel").html("<div class='contentpanel'>" + "<%= escape_javascript(render 'prescriptions/pharmacycontentpanel') %>" + "</div>")
  jQuery('#'+active_summary).children().click()
  jQuery('#'+active_prescription).click()
<% end %>