<div id="complicated_surgery_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Complicated Surgery count by Facility</h4>
      </div>
      <div class="modal-body">
         <table class="table">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Facility Name</th>
              <th>Complicated surgery count</th>
              <th>Not Complicated surgery count</th>
            </tr>
          </thead>
          <tbody>
            <% @all_facility_name_complications.each_with_index do |data, indx|%>
            <tr>
              <td><%= indx +1 %></td>
              <td><%= data %></td>
              <td><%= @all_complicated_surgery[indx] if @all_complicated_surgery[indx].present? %></td>
              <td><%= @all_not_complicated_surgery[indx] if @all_not_complicated_surgery[indx].present? %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>