<div class="modal-dialog modal-hg-template">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title text-center">Edit Medication Kit</h4>
    </div>

    <%= render 'edit_medication_set_form' %>

    <input id= "medi_row_count" type="hidden" value="<%= @total_rows %>">
  </div>
</div>
