<div class="modal-dialog modal-hg-template">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="nomargin">Edit OT Set</h4>

      <%= render partial: "templates/common/stylesheetincludes" %> <!-- Render common stylesheet includes template from partial -->
    </div>

      <%= render 'editotset' %>
  </div>
</div>