<div class="panel">
  <div class="panel-heading" style="overflow:auto;">
    Laboratory Sets
    <% if @set_type == 'user' %>
        <div class="pull-right"><%= link_to new_practice_laboratory_list_path,:data => {:remote => true}, :class => "btn btn-success" do%><i class="fa fa-plus"></i> Laboratory Set<% end %></div>
    <% elsif @set_type == 'facility' %>
        <div class="pull-right"><%= link_to new_facility_laboratory_list_path,:data => {:remote => true}, :class => "btn btn-success" do%><i class="fa fa-plus"></i> Laboratory Set<% end %></div>
    <% end %>
  </div>
  <div class="panel-body">
    <table class="table table-striped" id="laboratory-set-table">
      <thead>
      <tr>
        <th style="background: white; color: #383838">Laboratory Set Name</th>
        <% if @set_type == 'facility' %>
          <th style="background: white; color: #383838">Last Updated by</th>
          <th style="background: white; color: #383838">Created On</th>
        <% end %>
        <th style="text-align: -webkit-center; background: white; color: #383838">Actions</th>

      </tr>
      </thead>

      <tbody class="laboratory-set-list">
      <% if @set_type == 'user' %>
          <%= render partial: "practice_laboratory_lists/partials/laboratorysetlist", locals: { userlaboratorylists: @userlaboratorylists} %>
      <% elsif @set_type == 'facility' %>
          <%= render partial: "facility_laboratory_lists/partials/laboratorysetlist", locals: { facilitylaboratorylists: @facilitylaboratorylists} %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>