<style type="text/css">
  p.alert.alert-warning{
    padding:3px;
    margin: 0;
  }
</style>
<div class="panel">
  <div class="panel-heading" style="overflow:auto;">    
    <% level = @level.present? ? @level : 'user' %>
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <%if @level.present? && @level == "facility" %>
          <p class="alert alert-warning"> Medication sets will be saved for current facility only. Please change the facility to save in others</p>
        <% else%>
          &nbsp;
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="pull-right"><%= link_to new_medication_kit_path(:templatetype => "newmedicationset",level: level),:data => {:remote => true}, :class => "btn btn-success" do %><i class="fa fa-plus"></i> Medication Set<% end %></div>
      </div>
    </div>
  </div>
  <div class="panel-body">

    <table class="table table-striped table-primary" id="medication-set-table">
      <thead>
      <tr>
        <th>Medication Set Name</th>
        <th style="text-align: -webkit-center";>Actions</th>
      </tr>
      </thead>

      <tbody class="medication-kits">
        <%= render "medication_kits/medicationkits" %>
      </tbody>
    </table>
  </div>
</div>
