<% @medication_kits.each do |medication_kit| %>
  <tr>
    <td><%= medication_kit.name %></td>
    <td style="text-align: -webkit-center">
      <%= link_to edit_medication_kit_path(id: medication_kit.id, specialty_id: medication_kit.specialty_id) ,:data => {:remote => true}, :class=> "btn btn-xs btn-success" do%><i class="fa fa-pencil-square-o"></i><% end %>
      <%= link_to medication_kit_path(id: medication_kit.id, level: medication_kit.try(:level)), method: :delete, data: { :remote => true,confirm: 'Are you sure?' }, :class=> "btn btn-xs btn-danger" do%><i class="fa fa-trash-alt"></i><% end %>
    </td>
  </tr>
<% end %>
