<% @ot_kits.each do |ot_kit| %>
  <tr>
    <td><%= ot_kit.name %></td>
    <td style="text-align: -webkit-center">
      <%= link_to medication_kits_edit_ot_set_path(:id => ot_kit) ,:data => {:remote => true}, :class=> "btn btn-xs btn-success" do%><i class="fa fa-pencil-square-o"></i><%end%>
      <%= link_to medication_kits_destroy_ot_set_path(:id => ot_kit), data: { :remote => true,confirm: 'Are you sure?' }, :class=> "btn btn-xs btn-danger" do%><i class="fa fa-trash-alt"></i><% end %>
    </td>
  </tr>
<% end %>