<div class="panel">
  <div class="panel-heading" style="overflow:auto;">    
    <div class="pull-right"><div class="pull-right"><%= link_to  medication_kits_new_ot_set_path(:templatetype => "newotset"),:data => {:remote => true}, :class => "btn btn-success" do %><i class="fa fa-plus"></i> OT Set<% end %></div>
  </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped" id="ot-set-table">
      <thead>
      <tr>
        <th style="background: white; color: #383838">OT Set Name</th>
        <th style="text-align: -webkit-center; background: white; color: #383838">Actions</th>
      </tr>
      </thead>

      <tbody class="ot-kits">
        <%= render "medication_kits/otkitindex" %>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  
</script>