<%= stylesheet_link_tag  "bootstrap-fileupload.min", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap-fileupload.min", "data-turbolinks-track" => true %>

<style type="text/css">
  p.alert.alert-warning{
    padding:3px;
    margin: 0;
  }
</style>
<div class="panel">
  <div class="panel-heading" style="overflow:auto;">
    <div class="row">
      <% level = @level.present? ? @level : 'user' %>
      <div class="col-md-8">
        <% if @level.present? && @level == "facility" %>
          <p class="alert alert-warning"> Medication Lists will be saved for current facility only. Please change the facility to save in others</p>
        <% else %>
           &nbsp;
        <% end %>
      </div>
      <div class="col-md-4 text-right">
        <% unless OrganisationsSetting.find_by(organisation_id: current_user.try(:organisation_id)).try(:disable_add_medicine) %>
<!--           <%#= link_to upload_medication_excel_path(level: level),:data => {:remote => true,toggle:"modal", target: "#upload_via_excel_medication"}, :class => "btn btn-primary" do %><i class="fa fa-upload"></i> Upload via Excel <%# end %> -->
          <%= link_to new_practice_medication_list_path(level: level),:data => {:remote => true}, :class => "btn btn-success" do %><i class="fa fa-plus"></i> Add  Medication List<% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="tab-content col-md-12">
      <!-- <div class="tab-pane" id="add-medication" > -->
        <%#= render partial: 'practice_medication_lists/partials/my_practice_medication_form.html.erb'
          %>
      <!-- </div> -->
      <div  id="home-medication-list"  class="tab-pane active">
      <%= render partial: "practice_medication_lists/partials/my_practice_medication_lists", locals: { medication_lists: @medication_lists } %>
      </div>
    </div>  
    </div>
  </div>
</div>

<script>
  $("#add-excel").on('click',function(){
    $("#upload-form").css('display','block')
  })


</script>