<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-md-2">
    <h4>Invoice Template</h4>
  </div>
  <div class="col-md-10 text-right">
    <%= link_to new_invoice_template_path, data: { remote: true, toggle: 'modal', target: '#invoice-modal' }, class: 'btn btn-primary navbar-btn', id: 'new-invoice-template' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Invoice Template<% end %>
  </div>
</div>

<div id="invoice_template_table_content">
  <%= render partial: 'view.html.erb' %>
</div>
