<div class="row facility-list">
  <div class="col-md-12">
    <table class="table table-bordered facility-list-table" id="facility_list_table" style="table-layout: fixed;">
      <thead>
        <tr>
          <th>Template Name</th>
          <th>Department</th>
          <th style="width:20%;">Action</th>
        </tr>
      </thead>
      <tbody id="invoice_template-list">
        <% @invoice_templates.each do |invoice_template| %>
          <tr class="each-invoice_template-table-row">
            <td><%= invoice_template.name %></td>
            <td><%= invoice_template.department_id == '485396012' ? 'OPD' : 'IPD' %></td>
            <td>
              <%= link_to edit_invoice_template_path(id: invoice_template.id), data: { remote: true, toggle: 'modal', target: '#invoice-modal' }, class: 'btn btn-primary btn-xs' do %>Edit<% end %>
              <%= link_to invoice_template_path(id: invoice_template.id), data: { remote: true, method: 'delete', confirm: 'Are You Sure?' }, class: 'btn btn-danger btn-xs' do %>Delete<% end %>
            </td>
          </tr>
        <% end %>
        <% if @invoice_templates.size == 0 %>
          <td class="text-center" colspan="2">No Invoice Templates</td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
