<div class="pageheader">
    <%= render "index_header" %>
</div>
<div class="contentpanel">
    <%= render "edit" %>
    <script type="text/javascript">
        <%= render partial: 'invoice_calculations.js'  %>
    </script>
</div><!-- contentpanel -->
