<% if @disabled_procedures.count > 0 %>  
  <div class="row" style="background:#354670;color:#fff;margin-top:50px;">
    <div class="col-md-6">
      <h4>Disabled Procedures List</h4>
    </div>
    <div class="col-md-6 text-right">
    </div>
  </div>
  <div class="all-procedures-row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="20%">Procedure Name</th>
          <th scope="col" width="20%">Code</th>
          <th scope="col" width="20%">Is Synonym</th>
          <th scope="col" width="20%">Laterality Present</th>
          <th scope="col" width="20%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @disabled_procedures.each_with_index do |disabled_procedure| %>
          <tr class="procedures_table_row">
            <td width="30%"><%= disabled_procedure.name %></td>
            <td width="10%"><%= disabled_procedure.code %></td>
            
            <% if disabled_procedure.is_attached == true %>
              <% if disabled_procedure.try(:language).present? %>
                <% data_from = 'TranslatedCommonProcedure' %>
              <% else %>
                <% data_from = 'SynonymCommonProcedure' %>
              <% end %>
              <td width="20%"><i style="color: green;" class="fa fa-check" aria-hidden="true"> </i></td>
            <% else %>
              <% data_from = 'CustomCommonProcedure' %>
              <td width="20%"><i style="color: red;" class="fa fa-times" aria-hidden="true"> </i></td>
            <% end %>

            <%if disabled_procedure.has_laterality == true %>
              <td width="20%"> <i style="color: green;" class="fa fa-check" aria-hidden="true"></i></td>
            <% else %>
              <td   width="20%"><i style="color: red;" class="fa fa-times" aria-hidden="true"></i></td>
            <% end %>

            <td width="20%"><%= link_to custom_common_procedures_enable_procedure_path(id: disabled_procedure.id.to_s, data_from: data_from), method: :get, data: {confirm: "<b style='color:#000'>This Will Enable Icd - <b style='color:#ff0000'>'" + disabled_procedure.name + "'</b> </b>", :remote => true}, class: "btn btn-info btn-xs enable-procedure-btn" do %>Enable<% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row" style="margin-top:50px;">
    <div class="col-md-12">
      <h4>No Procedures Disabled!!</h4>
    </div>
  </div>
<% end %>