<div class="row mb10" style="background:#354670;color:#fff">
  <div class="col-md-8">
    <h4>Custom Procedures</h4>
  </div>
  <div class="col-md-4 text-right">
    <% unless OrganisationsSetting.find_by(organisation_id: current_user.try(:organisation_id)).try(:disable_default_procedure) %>
      <%= link_to new_custom_common_procedure_path, class: "btn btn-primary navbar-btn", data: {remote: true, 'toggle': 'modal', 'target': '#custom-procedure-modal'} do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Create Procedure<% end %>
    <% end %>
    </div>
</div>

<div class="panel-body">
  <table class="table table-striped" id="custom-common-procedures-list">
  </table>
  
  <div class="enable_disable_btn" style="margin-top: 50px;">
    <button class="btn btn-primary pull-right show_disable">Show Disabled Procedures</button>
    <button class="btn btn-primary pull-right hide_disable" id="hide_disable">Hide Disabled Procedures</button>
  </div>

  <div class="disable-procedures-table" style="margin-top: 100px;">
    <div class="disable-procedures-data">
      <%= render partial: 'disabled_procedures_view.html.erb' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.disable-procedures-table').hide()
  $('.hide_disable').hide()

  $('.show_disable').on('click', function(){
    $(this).hide();
    $('.hide_disable').show()
    $('.disable-procedures-table').show()
  })

  $('.hide_disable').on('click', function(){
    $(this).hide();
    $('.show_disable').show()
    $('.disable-procedures-table').hide()
  })
</script>