<style type="text/css">
  .medication_sets_dropdown{
    width: 100% !important;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <label>Select Medication Set Level</label>
    <select class="form-control medication_sets_dropdown">
      <option value="all">All</option>
      <option value="user" selected>User</option>
      <option value="facility">Facility </option>
      <option value="organisation">Organisation</option>
    </select> 
  </div>
</div>

<script type="text/javascript">
  $('.medication_sets_dropdown').on('change', function(){
    var show_from = $(this).val();
    var set_type = $(this).closest('.medication_set_dropdown_wrapper').find('.find_in_set_type').val();
    var specialty_id = $(this).closest('.medication_set_dropdown_wrapper').find('.selected_specialty').val();
      
    if(typeof show_from !== "undefined" && show_from !== ""){
      $.ajax({
        type:'POST',
        data: { level: show_from, set_type: set_type, specialty_id: specialty_id },
        url: '/medication_kits/show_medication_sets',
        success: function(data){
          $(".option_remover").find('option').remove().end();
          if(data['medication_kit'].length > 0){
              $.each(data['medication_kit'], function(key,value){
                  if(key == 0 && <%= @mode == "tabview" %>){
                    $(".option_remover").append('<option value="">Please select<option>');
                  }
                $(".option_remover").append('<option value="'+value[0]+'">'+value[1]+'</option>');
              })
          }
        }
      })
    }
  })
</script>