<div class="col-md-12">
  <ol style="font-size: 14px;">
    <% if (current_user.role_ids.include?(160943002) || current_user.role_ids.include?(6868009)) %>
      <% if current_facility.show_finances %>
        <li>All Settings related to finance has been moved into a seperate section "Financial". In Organisation Settings.</li>
      <% end %>
      <li>MIS for Clinical/Financial, now gives a list when count is clicked.</li>
    <% end %>
    <li>Minor bugs fixes.</li>
  </ol>
</div>