<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog camp-dialog modal-md" style="width:100%;">
  <%= form_for @camp, remote: true, :html => {:id => 'camp_form'} do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Basic Info</h4>
        <div id="error_msg" style="text-align: center;width: 100%;"></div>
      </div>
      <div class="modal-body">
        <%= render partial: 'form.html.erb', locals: {f: f} %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: 'btn btn-success save-form-btn', data: { 'disable-with': 'Please Wait...' }, :onclick=> 'validate_camp_form()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  <% end %>
</div>