<div class="modal-dialog" style="width: 60%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="color: #00BFFF">Tray Details</h4>
    </div>
    <div class="modal-body window-body">
      <%= render partial: '/inventory/transaction/trays/show.html.erb' %>
    </div>
    <div class="modal-footer window-footer">
      <div class="col-md-6">
        <% if @tray.status == 'closed' %>
          <b style="color: red; font-style: italic;">Note:&nbsp;&nbsp;</b><span style="color: red; font-style: italic;">All Available Quantity has been transferred to their respective lot.</span>
        <% end %>
      </div>
      <div class="col-md-6 text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
