<div id="station-block">
  <div class="row station-form-row mb10">
    <!-- Using JS to Load Data here -> Refer get_stations in Controller -->
  </div>
  <div class="row add-station-row">
    <div class="col-md-12">
      <button class="btn btn-primary btn-xs" id="btn-add-station"><i class="fa fa-add"></i> Add Station</button>
    </div>
  </div>
</div>
