<div class="col-md-12">
  <div id="service-master-guide" class="row">
    <div class="col-md-12">
      <h4 style="color:#428bca;text-align:center;">GUIDE FOR QUEUE MANAGEMENT - STATION CREATION</h4>
      <h4 style="color:#428bca;">STEP 1 - CREATE AREAS</h4>
      <ul>
        <li>Start by creating AREAS within your Facility. Click on &nbsp; <%= link_to queue_management_areas_path(facility_id: facility_id), data: { remote: true, toggle: 'modal', target: '#ward-modal' }, class: 'btn btn-primary btn-xs', style: 'margin:5px;' do %>Manage Areas<% end %></li>
        <li>
          <b>What is Area?</b>
          <ol style="list-style-type: upper-alpha;">
            <li>Area can be described as a Zone within your facility which contains a group of Stations where a patient can be.</li>
            <li>Each Area can have multiple Stations</li>
          </ol>
        </li>
      </ul>
      <br>
      <h4 style="color:#428bca;">STEP 2 - CREATE STATIONS/SUB STATIONS</h4>
      <ul>
        <li>Next create STATIONS/SUB STATION within your Facility. Click on &nbsp; <%= link_to new_queue_management_station_path(facility_id: facility_id), data: { remote: true, toggle: 'modal', target: '#ward-modal' }, class: 'btn btn-primary btn-xs', style: 'margin:5px;' do %><i class="fa fa-plus"></i> Add Station<% end %></li>
        <li>
          <b>What is Station/Sub Station?</b>
          <ol style="list-style-type: upper-alpha;">
            <li>Stations are the place where your patient is assigned to flow in the queue.</li>
            <li>Sub Station are a part of Stations, mainly used to set multiple Stations within a Single Station.</li>
            <li>The Display Code of each Station/SubStation helps your patient understand where they are supposed to go/wait.</li>
          </ol>
        </li>
      </ul>
      <br>
      <h4 style="color:#428bca;">STEP 3 - LINK USERS TO SUB STATIONS</h4>
      <ul>
        <li>Next LINK USERS to their respective Sub Station. Click on &nbsp; <%= link_to link_users_queue_management_sub_stations_path(facility_id: facility_id), data: { remote: true, toggle: 'modal', target: '#ward-modal' }, class: 'btn btn-primary btn-xs', style: 'margin:5px;' do %><i class="fa fa-plus"></i> Link Users<% end %></li>
        <li>
          <b>What is Linking Users?</b>
          <ol style="list-style-type: upper-alpha;">
            <li>Every Sub Station should be linked to a User who is tied to that Station.</li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
</div>
