function addSubStationRow(stationRowCount, subStationRowCount) {
  $(".sub_station-user_id").removeClass('latest-user_id')
  let facilityId = $('.area_facility_id').val();
  let areaId = $('.area_id').val();

  let subStationRowHeader = ""
  if(subStationRowCount == 0) {
    subStationRowHeader = `<div class="col-md-10 col-md-offset-1 sub_station-header">
      <div class="row" style="margin:0 10px">
        <div class="col-md-3">
          <b style="color:#000;">Sub Station Code</b>
        </div>
        <div class="col-md-<%= user_set_station ? 4 : 6 %>">
          <b style="color:#000;">Permanent User</b>
        </div>
        <% if user_set_station %>
          <div class="col-md-4">
            <b style="color:#000;">Active User</b>
          </div>
        <% end %>
        <div class="col-md-1">
          <b style="color:#000;">Action</b>
        </div>
      </div>
    </div>`
    subStationDeleteBtn = `<button class="btn btn-danger btn-remove-sub_station btn-xs removeable" disabled="disabled"><i class="fa fa-trash-alt"></i></button>`
  } else {
    subStationDeleteBtn = `<button class="btn btn-danger btn-remove-sub_station btn-xs removeable"><i class="fa fa-trash-alt"></i></button>`
  }
  let subStationRow = `
    ${subStationRowHeader}
    <div class="col-md-10 col-md-offset-1 sub_station-row">
      <div class="row sub_station-form">
        <input type="hidden" name="stations[${stationRowCount}][sub_stations_attributes][${subStationRowCount}][organisation_id]" class="stations_organisation_id" id="stations_${stationRowCount}_sub_stations_attributes_${subStationRowCount}_organisation_id" value="<%= current_facility.organisation_id.to_s %>">
        <input type="hidden" name="stations[${stationRowCount}][sub_stations_attributes][${subStationRowCount}][facility_id]" class="stations_facility_id" id="stations_${stationRowCount}_sub_stations_attributes_${subStationRowCount}_facility_id" value="${facilityId}">
        <input type="hidden" name="stations[${stationRowCount}][sub_stations_attributes][${subStationRowCount}][created_by_id]" class="stations_created_by_id" id="stations_${stationRowCount}_sub_stations_attributes_${subStationRowCount}_created_by_id" value="<%= current_user.id.to_s %>">
        <input type="hidden" name="stations[${stationRowCount}][sub_stations_attributes][${subStationRowCount}][area_id]" class="stations_area_id" id="stations_${stationRowCount}_sub_stations_attributes_${subStationRowCount}_area_id" value="${areaId}">
        <div class="col-md-3">
          <input type="text" class="form-control p5_10 sub_station-display_code" name="stations[${stationRowCount}][sub_stations_attributes][${subStationRowCount}][display_code]" maxlength="4" style="text-transform: uppercase;">
        </div>
        <div class="col-md-<%= user_set_station ? 4 : 6 %>">
          <i>-</i>
        </div>
        <% if user_set_station %>
          <div class="col-md-4">
            <i>-</i>
          </div>
        <% end %>
        <div class="col-md-1">
          ${subStationDeleteBtn}
        </div>
      </div>
    </div>
  `
  return subStationRow
};
