<div class="row no_margin" style="width: 100%;">
  <ul class="nav nav-tabs" id="appointment_summary_tabs" role="tablist" style="margin-top: 0; border-radius: 0;">
    <li role="presentation" class="full-width active all">
      <a href="#appointment_all" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_all_count">0</span>
        All
      </a>
    </li>
    <li role="presentation" class="full-width my_queue">
      <a href="#appointment_scheduled" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_scheduled_count">0</span>
        My Queue
      </a>
    </li>
    <li role="presentation" class="full-width complete">
      <a href="#appointment_waiting" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_waiting_count">0</span>
        Completed
      </a>
    </li>
    <li role="presentation" class="full-width not_arrived">
      <a href="#appointment_not_arrived" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_not_arrived_count">0</span>
        Not Arrived
      </a>
    </li>
    <li class="full-width">
      <input type="text" placeholder="Search here..." class="search-appointment form-control " id="search_appointment" style="width: 200px; margin-top: 6px;margin-left:28px" maxlength="50">
    </li>
  </ul>
  <!-- <div class="col-sm-4 appointment-filter no_padding">
    Scheduled
  </div>
  <div class="col-sm-4 appointment-filter no_padding">Waiting</div>
  <div class="col-sm-4 appointment-filter no_padding">Checked Out</div> -->
</div>

<!-- <div class="row  no_margin text-center" style='background-color: #E8BAFF; cursor: pointer;' data-toggle="collapse" data-target="#summary_appiontments_today">Today</div> -->
<div class="row no_margin  summary_body collapse in" id="summary_appiontments_today">
  <div class="appointments_today">
    <div class="tab-content" style="padding: 0; background: transparent;">
      <div role="tabpanel" class="appointment_type_contents appointment_tab_name tab-pane active" id="appointment_all">
        <div id="appointment_all_not_finished" style="background:#fff;"></div>
        <div class="not_arrived_word" style="display:none;text-align:center;background:#eee;padding:10px 0;">Not Arrived</div>
        <div id="appointment_all_not_arrived" style="background:#fff;"></div>
        <div class="finished_word" style="display:none;text-align:center;background:#eee;padding:10px 0;">Finished</div>
        <div id="appointment_all_finished" style="background:#fff;"></div>
      </div>
      <div role="tabpanel" class="appointment_type_content appointment_tab_name tab-pane" id="appointment_scheduled"></div>
      <div role="tabpanel" class="appointment_type_content appointment_tab_name tab-pane" id="appointment_waiting"></div>
      <div role="tabpanel" class="appointment_type_content appointment_tab_name tab-pane" id="appointment_engaged"></div>
      <div role="tabpanel" class="appointment_type_content appointment_tab_name tab-pane" id="appointment_finished"></div>
      <div role="tabpanel" class="appointment_type_content appointment_tab_name tab-pane" id="appointment_not_arrived"></div>
    </div>
  </div>
</div><!-- summary_body -->

<div id="footer_notice" style="margin-left: 92px;background: #354670">
  <div class="row">
    <div class="col-md-12 text-center">
      <span><b>Name&nbsp;&nbsp;&nbsp;&nbsp;App. Type &nbsp;&nbsp;&nbsp;&nbsp;T - Total time&nbsp;&nbsp;&nbsp;&nbsp;Arrival time&nbsp;&nbsp;&nbsp;&nbsp;State</b> </span>
    </div>
  </div>
</div>
<!-- <hr style="margin: 5px; border-color: rgb(171, 171, 171);" />  -->

<!-- <div class="row no_margin text-center" style='background-color: #354670; margin-bottom: 10px; padding: 7px; color: white; cursor: pointer;' data-toggle="collapse" data-target="#summary_appiontments_later">Upcoming Appointments<span class="pull-right"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
</span></div>

<div class="row no_margin  summary_body collapse" id="summary_appiontments_later">
  <div class="appointments_later">
    Nothing to show!!
  </div>
</div> --><!-- summary_body -->
<style type="text/css">
    <% unless current_user.has_role?(:doctor) %>
    #footer_notice {
        position: fixed;
        bottom: 0;
        width: 32%;
        background-color: #354670;
        height: 30px;
        color: #EFEFEF;
    }
    <% else %>
    #footer_notice {
        position: fixed;
        bottom: 0;
        width: 48.5%;
        background-color: #354670;
        height: 30px;
        color: #EFEFEF;
    }
    <% end %>
    .full-width{
        width: 15%;
        text-align: center;
        text-transform: uppercase;
    }
    .appointment-filter{
        text-align: center;
        font-size: 12px;
        border: 0.5px solid #effa2b;
        text-transform: uppercase;
    }

    .summary_appointment.active{
        background: #49587E;
        color: white;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #fff;
        border: 0;
    }
    .nav-tabs{
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 1em 0 2em;
        font-weight: 300;
        font-size: 9px;
    }
    .nav-tabls ul {
        width: 100%;
    }
    .nav-tabs > li > a {
        border: 0;
        padding: 10px 0;
        color: #666;
    }
</style>
