<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Upload XLS For Service/Item Card</h4>  
    </div>
    <div class="modal-body">
      <div class="row instruct-upload-xls">
        <div class="col-md-12">
          <ol>
            <li><b>Download Sample File</b>&nbsp; <%= link_to invoice_service_cards_download_excel_path, class: "btn btn-danger navbar-btn btn-xs", target: '_blank' do %><i class="fa fa-download"></i>&nbsp;&nbsp;Download Sample<% end %></li>
            <li><b>Use this File or create your own File with <b style="color:#f00;">.xls</b> extension.</b></li>
            <li>
              <b>Keep In mind the In file Format or Your Data Wont Be Save Correctly.</b>
              <table class="table" style="font-size:10px;width:75%;">
                <thead>
                  <tr>
                    <th>Service Name</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Service A</td>
                    <td>Item X</td>
                    <td>1</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Item Y</td>
                    <td>2</td>
                    <td>200</td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li>Choose a File & Click Upload.<br><br>
            <form accept-charset="UTF-8" action="/invoice_service_cards/save_excel_data" class="service_item_card" data-remote="true" enctype="multipart/form-data" id="form_upload_excel" method="post">
              <input name="utf8" type="hidden" value="✓">
              <input type="file" name="uploaded_excel" class="inputfile inputfile-6" id="input-uploaded-excel" data-multiple-caption="{count} files selected" multiple >
              <label for="input-uploaded-excel"><strong style="padding:0px;"><span>Choose a file&hellip;</span></strong></label>
              <input type="submit" id="inputBtnUpload" value="Upload" class="btn btn-success"  style="margin-top: -7.5%;margin-left: 5%;" />
            </form>
          </li>
          </ol>
        </div>
        <div class="col-md-6 text-right">
          
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
  }


  .inputfile:focus + label,
  .inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

  .inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
  }

  .inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
  }

  .inputfile-6 + label {
    color: #d3394c;
  }

  .inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
  }

  .inputfile-6:focus + label,
  .inputfile-6.has-focus + label,
  .inputfile-6 + label:hover {
    border-color: #722040;
  }

  .inputfile-6 + label span,
  .inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
  }

  .inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
  }

  .inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
  }

  .inputfile-6:focus + label strong,
  .inputfile-6.has-focus + label strong,
  .inputfile-6 + label:hover strong {
    background-color: #722040;
  }

  .instruct-upload-xls {
    color: #000;
  }
</style>