<div class="col-sm-12">
  <strong>Select Reminder Time</strong><br>
   <%= select_tag "communication_event[event_reminder_time]",options_for_select([['08:00 AM','08:00 AM'] ,['12:00 PM','12:00 PM'],['06:00 PM','06:00 PM']],@communication_event.try(:event_reminder_time)),:class => "form-control" , :required => true %>
</div>
