<div class="row" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Select Reminder Time</strong><br>
     <%= select_tag "communication_event[event_reminder_time]",options_for_select([['08:00 AM','08:00 AM'] ,['09:00 AM','09:00 AM'],['08:00 PM','08:00 PM'] ,['09:00 PM','09:00 PM']],@communication_event.try(:event_reminder_time)),:class => "form-control" , :required => true %>
  </div>
  <% if params[:id] == "prior day" %>
    <div class="col-md-6">
       <br>
       <%= hidden_field_tag 'communication_event[trigger_instantly]', false %>
      <span><%= check_box_tag "communication_event[trigger_instantly]" , true , @communication_event.try(:trigger_instantly) %></span>
      <strong style="margin-left: 10px;">Time Is Past Send Instantly</strong>
    </div>
  <% end %> 
</div>