<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">View Communication Event</h4>
      <div class="row" style="margin-top:5px;">
				<div class="col-sm-12">
			  	<strong>Event Name: </strong> <%=@communication_event.try(:name) %>
				</div>
			</div>
			<div class="row" style="margin-top:5px;">
				<div class="col-sm-6">
			  	<strong>Event Feature: </strong> <%=@communication_event.try(:feature_type).try(:titleize)%>
				</div>
			</div>
			<div class="row" style="margin-top:5px;">
				<div class="col-sm-12" style="word-break: break-word !important;">
			  	<strong>Message Preview: </strong> <br/><%=@communication_event.try(:message_format).try(:titleize)%>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
			  	<strong>Event Type: </strong> <%=@communication_event.try(:event_type).try(:titleize)%>
				</div>
			</div>
			<div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	     </div>
		</div>
  </div>
</div>
