<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="width: 95%;">
  <div class="modal-content">
    
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Consolidated TPA Notes</h4>
    </div>

    <div class="modal-body form-bordered">
      <div class="row">
        <% if @tpa_notes.count == 0 %>
          <div class="row text-center"><h3>No TPA Notes found...</h3></div>
        <% else %>
          
          <div class="col-md-12" style="">
            <div class="row forms_header_section " style="margin-top: 0px; background-color: #fafafa;padding-bottom: 21px;">
              <%= render partial: "tpa_insurance_notes/tpa_note_header_section.html.erb" %>
            </div>
            <div class="row forms_content_section" style="margin: 29px;">
              <%= render partial: "tpa_insurance_notes/consolidate_tpa_notes_body.html.erb" %>
            </div>
          </div>
        <%end%>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'tpa_note_validations.js.erb' %>
</script>