$('.tpa_note_timepicker').timepicker({minuteStep: 5});
$('.tpa_note_datepicker').datepicker({
  // maxDate: -0,
  yearRange: "c-100:c",
  dateFormat: "dd/mm/yy",
  changeMonth: true,
  changeYear: true
});

function remove_copay_row(){
  $(".remove_copay_btn").on("click", function(e){
    e.preventDefault();
    $(this).parents('.field_row').remove()
  })
}
remove_copay_row()
$(".add_copays_btn").on("click", function(e){
  e.preventDefault();
  var copays_field = '<div class="col-md-10" style="margin-top:5px;"><input type="text" class="form-control" name="tpa_note[patient_copays][]" value=""></div>'
  var remove_copay_btn = '<div class="col-md-2 remove_copay_btn" style="margin-top:5px;"><button class="btn btn-danger btn-xs" style="margin-top: 5px;"><i class="fa fa-minus-circle"></i></button></div>'
  $('.copays_text_fields').append( '<div class="field_row">'+ copays_field +  remove_copay_btn +'</div>')
  remove_copay_row()
})

$('.note_list_item').on('click', function(e){
  e.preventDefault();

  var item_id = $(this).attr('item-id')
  // $(".forms_content_section").html('<div style="margin-top: 132px;margin-bottom: 138px;" class="loading_dots"> <span></span> <span></span> <span></span></div>').css('background','#fff')
  // $(".tpa_notes_list_view").find(".active").removeClass("active")
  if($(this).hasClass("active")){
    $(this).removeClass("active")
    $(item_id).hide()
  }else{
    $(this).addClass("active")
    $(item_id).show()
  }

  // $.ajax({
  //   type: "GET",
  //   dataType: "script",
  //   data: { id: $(this).attr('data-note-item') },
  //   url: "/tpa_notes/fetch_note_details",
  //   success: function(){

  //   }
  // })
})

// // Initialize Trigger on Load
// var first_item = $(".tpa_notes_list_view").find(".active")
// // .find("[data-note-item='<%= @tpa_id %>']")
// if(first_item.length > 0){
//   first_item.trigger('click');
// }

<% if @tpa_note.try(:addition_authorize_amount_approved).present? || @tpa_note.try(:addition_authorize_approval_date).present? || @tpa_note.try(:addition_authorize_comments).present? %>
  $('.addition_approval').trigger('click')
<% end%>
<% if @tpa_note.try(:query).present? %>
  $('.query_list').trigger('click')
<% end%>
<% if @tpa_note.try(:room_cap_per_day).present? || @tpa_note.try(:room_restrictions_comments).present? || @tpa_note.try(:ailment_procedure_cap).present? || @tpa_note.try(:ailment_procedure_comments).present? || @tpa_note.try(:ailment_procedure_additional_comments).present? %>
  $('.precaution_list').trigger('click')
<% end%>
<% if @tpa_note.try(:denial).present? %>
  $('.denial_list').trigger('click')
<% end%>