<div class="row fuelux">
  <div class="col-md-12">
    <div class="">
      <div class="wizard" data-initialize="wizard" id="MyWizard">
        
        <ul class="steps">
          <li data-step="1" id="personal_information" class="active" style="cursor:pointer;"><span class="badge text_head badge-info ">Step 1</span> Personal Information<span class="chevron"></span></li>
          <li data-step="2" id="employee_information" style="cursor:pointer;"><span class="badge text_head badge-info ">Step 2</span> Employee Information <span class="chevron"></span></li>
          <li data-step="3" id="security_information" style="cursor:pointer;"><span class="badge text_head badge-info ">Step 3</span> Security <span class="chevron"></span></li>
        </ul>
      
        <div class="actions wizard-form-prev-next-buttons">
          <button type="button" class="btn btn-mini btn-prev" value="prev" id="prev" title="Previous"><i class="glyphicon glyphicon-arrow-left"></i> Prev</button>
          <button type="button" class="btn btn-mini btn-next" value="next" id="next" title="Next">Next<i class="glyphicon glyphicon-arrow-right"></i></button>
        </div>

        <div class="step-content">
          <%= render partial: "users/stepper/personal_information", locals: { f: f , stepcount: 1 }%>
          <%= render partial: "users/stepper/employee_information", locals: { f: f, stepcount: 2 }%>
          <%= render partial: "users/stepper/security_information", locals: { f: f, stepcount: 3 }%>
        </div>

      </div> <!-- wizard div ends -->
    </div> <!-- fuelux div ends -->
  </div>
</div> <!-- 1st row ends -->

<script type="text/javascript">
  <%= render partial: 'users/stepper/form.js.erb' %>

  jQuery('#personal_information').on("click", function() {
    jQuery("#MyWizard").wizard('next');
  });
  jQuery('#employee_information').on("click", function() {
    jQuery("#MyWizard").wizard('next').wizard('next');
  });
  jQuery('#security_information').on("click", function() {
    jQuery("#MyWizard").wizard('next').wizard('next').wizard('next');
  });
</script>