<div class="row mb10">
  <div class="col-md-12 text-center">
    <div class="pcs-entity-title">
      <span>Pre-Admission Note</span>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <strong>Pre-Admission Details :</strong>
        <div class="summary-line-border"></div>
      </div>
    </div>


    <%if pre_admission_note.instruction_note.present? && pre_admission_note.instruction_note.to_s != "<br>" %>
      <div class="advice col-md-12 well">
        <strong>Instructions : </strong>
        <%= pre_admission_note.instruction_note.html_safe %>
      </div>

      <hr class="pcs-entity-title">
      <br>
    <%end%>


    <%if pre_admission_note.medication_note.present? && pre_admission_note.medication_note.to_s != "<br>" %>
      <div class="advice col-md-12 well">
        <strong>Pre Operative Medication : </strong>
        <%= pre_admission_note.medication_note.html_safe %>
      </div>
      <hr>
      <br>
    <%end%>



    <%if pre_admission_note.investigation_note.present? && pre_admission_note.investigation_note.to_s != "<br>" %>
      <div class="advice col-md-12 well">
        <strong>Investigations Required : </strong>
        <%= pre_admission_note.investigation_note.html_safe %>
      </div>

      <hr>
      <br>
    <%end%>

    <% if @pre_admission_special_notes.present? %>
      <div class="advice col-md-12 well">
          <strong>Special Note : </strong>
          <%= @pre_admission_special_notes[0].text.html_safe %>
      </div>
    <% end %>
    <hr>
    <br>


  </div>

</div>
