<%# @patient = patient %>
<%# @admission = admission %>
<%# @ipdrecord = ipd_record %>
<% @pre_admission_note = pre_admission_note %>
<%# @tpa = tpa %>
<%# @case_sheet = case_sheet %>
<%# @current_facility = current_facility %>
<div class="row master-row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render partial: 'inpatient/ipd_record/patient_info.html.erb' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render partial: 'inpatient/pre_admission_notes/pre_admission_notes_details.html.erb', locals: {pre_admission_note: @pre_admission_note} %>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
  .master-row * {
    font-size: 9px;
  }

  .pcs-entity-title span {
    font-size: 16px;
    text-transform: uppercase;
  }
</style>