<div class="row mb20">
  <div class="col-md-4" style="">
    <%= panel_test.text_field :investigation_name,class: "fi_input_style",style: 'width: 90%;margin-top: 15px;margin-left: 25px'%>
  </div>

  <div class="col-md-4">
    <%= panel_test.text_field :investigation_val,class: "form-control",placeholder: "Result" %>
  </div>

  <div class="col-md-4">
    <%= panel_test.text_field :normal_range,class: "form-control",placeholder: "Normal Range" %>
  </div>
</div>

