<style>
    .paper_view {
        box-shadow: 0 0 6px #ccc;
        max-width: 100%;
        padding: 2px 0.400000in 0 0.550000in;
        font-family: 'Open Sans';
        padding-bottom: 2px;
        min-height: 400px;
    }
</style>
<div class="paper_view">
  <%= render partial: 'patient_info.html.erb',locals: {record: @investigation_record, investigation_record_values: @investigation_record.try(:values), report: @type.to_s} %>
  <div class="col-md-12 text-center">
    <div class="pcs-entity-title"><span>Investigation Summary</span></div>
  </div>
  <% if @type.to_s == "LabRecord" %>
      <%= render 'investigation/records/laboratory/lab_summary' %>
  <% elsif @type.to_s == "RadiologyRecord" %>
      <%= render 'investigation/records/radiology/radiology_summary' %>
  <% elsif @type.to_s == "OphthalmologyRecord" %>
      <%= render 'investigation/records/ophthalmology/ophthalmology_summary' %>
  <% end %>

</div>
