<div class="row pdf-viewer" id="pdf-viewer">
</div>

<style type="text/css">
  .ui-dialog {
    background-color: #FFFFFF;
    /* border: solid 1px black; */
    border-radius: 3px;
    top: 0% !important;
    border: 3px solid #636e7b;
    margin-top: 47px;
  }

  .blur-all {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
</style>

<script type="text/javascript">
  $(function () {
    var fileName = '<%= @all_current_investigation_uploads&.name %>';
    $(".pdf-viewer").dialog({
      title: fileName,
      width: $(window).width() - 100,
      height: $(window).height() - 100,
      close: function() {
        $('.blur-all > *').unwrap();
        $(".pdf-viewer").remove() },
      open: function () {
        $('.ui-dialog-titlebar-close').parent('.ui-dialog-titlebar').find('.ui-dialog-titlebar-close').addClass('fa fa-close btn btn-danger');
        var object = "<object data=\"<%= @pdf_path %>\" type=\"application/pdf\" width=\"" + ($(window).width() - 120) + "\" height=\"" + ($(window).height() - 200) + "\">";
        object = object.replace(/{FileName}/g, "Files/" + fileName);
        $("#pdf-viewer").html(object);
      }
    });
  });
  $('.mainpanel > *').wrap('<div class="blur-all">');
</script>
