<div class="col-md-12">
  <%= simple_form_for(@comment,as: :comment,:url => {:controller => "/comments",:action => 'update'}, :remote => true) do |f| %>
      <div class="row mb5">
        <div class="col-md-9">
          <%= f.hidden_field :upload_id,value: @patient_asset.id.to_s %>
          <%= f.text_area :comment_text, value: @comment.comment_text, placeholder: 'Comment...', class: "", autofocus: true,style: 'width: 14pc'%>

        </div>
        <div class="col-md-2">
          <%= button_tag type: 'submit', class: "btn btn-xs btn-success",style: 'margin-left: 7px;', id: "save-comment" do %>Save<% end %>
        </div>
      </div>

  <% end %>
</div>