<div class="row mb10 mt10" style="border:1px solid #eee;">
	<div class="row">
		<div class="btn-group col-sm-12 approved-data-tabs">
			<%# buttons = params[:show_approved] == true ? ['default', 'primary'] : ['primary', 'default'] %>
		  <button type="button" data-approved='false' class="btn btn-primary">Only Performed</button>
		  <button type="button" data-approved='true' class="btn btn-default">Performed & Approved</button>
		</div>
	</div>
  <div class="row">
  	<div class="col-sm-12">
	  <label class="form-check-label radio-inline" for="summaryradio">
	  	<input class="form-check-input" type="radio" name="summary" checked="checked" id="summaryradio"> Summary
	  </label>
	  <label class="form-check-label radio-inline" for="approvedsummaryradio">
	  	<input class="form-check-input" type="radio" name="summary" id="approvedsummaryradio"> Approved Summary
	  </label>
  	</div>
  </div>
  
	<div class="row ">
		<div class="col-sm-12 filter-button-container">
			
		</div>
	</div>
  <div class="row">
  	<div class="col-sm-3 form-group col-xs-12">
  	  <label class="col-xs-5 form-label">Advised On</label>
  	  <div class="col-xs-7" id="advised_date_filter">
  	  	<%= render 'investigation/records/laboratory/advised_date_filter.html.erb' %>
  	  </div>
  	</div>
  	<div class="col-sm-3 form-group col-xs-12">
  	  <label class="col-xs-5 form-label">Advised By</label>
  	  <div class="col-xs-7" id='advised_by_filter'>
  	  	<%= render 'investigation/records/laboratory/advised_by_filter.html.erb' %>
  	  </div>
  	</div>
  	<div class="col-sm-3 form-group col-xs-12">
  	  <label class="col-xs-5 form-label">Performed On</label>
  	  <div class="col-xs-7" id='performed_date_filter'>
  	  	<%= render 'investigation/records/laboratory/performed_date_filter.html.erb' %>
  	  </div>
  	</div>
  	<div class="col-sm-3 form-group col-xs-12">
  	  <label class="col-xs-5 form-label">Performed By</label>
  	  <div class="col-xs-7" id='performed_by_filter'>
  	  	<%= render 'investigation/records/laboratory/performed_by_filter.html.erb' %>
  	  </div>
  	</div>
  </div>
</div>
<style>
	.form-label{
		padding: 10px 10px 0px 10px;
		height: auto;
	}
</style>