<%= form_for :investigation_record, remote: true, html: { id: 'new-patient-form', class: "patient-form" } do |patient| %>

    <div class="modal-body" style="padding:5px 10px;background: #eee;">
    <div class="row">
      <div class="col-sm-12">
        <%= f.file_field :photo, accept: 'image/png,image/jpeg'%>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= patient.submit "Save", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, :onclick => 'patient_page()' %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
<% end %>