<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-body analytics_custom_datepicker_body">
      <div class="row">
        <div class="col-md-12">
          <b>Select Date Range</b>
          <div class="input-group">
            <span class="input-group-addon" style="padding: 5px 10px;"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="text" name="start_date" id="custom_start_date_analytics" class="form-control" readonly="readonly" style="cursor:pointer;background-color:#fff;" style="display: none;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(".analytics_custom_datepicker_body").height($(window).height() - 150);

  daterangepicker_options = {
    linkedCalendars: false,
    startDate: "<%= Date.current.strftime('%d/%m/%Y') %>",
    endDate: "<%= Date.current.strftime('%d/%m/%Y')%>",
    autoClose:false,
    maxSpan: {
      years: 10
    },
    maxDate: moment(),
    locale: {
      format: 'DD/MM/YYYY'
    }
  };

  $("#custom_start_date_analytics").daterangepicker(daterangepicker_options);
  $('#custom_start_date_analytics').on('apply.daterangepicker', function(ev, picker) {
    var start_date = picker.startDate.format('DD/MM/YYYY');
    var end_date = picker.endDate.format('DD/MM/YYYY');

    $("#custom_date_modal").modal("hide");
    if ($("#expandedModal").hasClass('in')){
      $("#analytics-from-datepicker_modal").val(start_date);
      $("#analytics-to-datepicker_modal").val(end_date);

    }else{
      $("#analytics-from-datepicker").val(start_date);
      $("#analytics-to-datepicker").val(end_date);
    }

  });

  $('#custom_start_date_analytics').on('cancel.daterangepicker', function(ev, picker) {
    $("#custom_date_modal").modal("hide")
  });

  setTimeout(function(){ $("#custom_start_date_analytics").trigger("click"); }, 100);
</script>