<input type="hidden" name="store_values" data-service_name="<%= data[:service_name]%>" data-action_name="<%= data[:action_name]%>" data-partial_name="<%= data[:partial_name]%>" class="hidden_data_values">
<% unless partial_name %>
  <span class="expand_button_class" data-toggle="tooltip" title="Expand"><i class="fa fa-arrows-alt"></i></span>
<% end %>