<div id="toolbar">
  <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top " style="margin-top: 50px; left: auto; right: auto; width: 50%;z-index:555;">
    <div class="container-fluid">
      <div class="col-xs-6">
        <h4 style="margin:13px 0 0 0;font-size:18px;">Investigation Details</h4>
      </div>
      <div class="col-xs-6 text-right">
        
      </div>
    </div>
  </nav>
</div>

<div id="investigation_summary" style="height: calc(100% - 50px); margin-top: 50px; overflow-y: scroll;">
</div>