<div class="panel panel-default">

  <div class="panel-body">
    <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong> All Investigations</strong></h5>
    <div>
      <canvas id="investigation_data" width="800" height="250"></canvas>
    </div>  </div>

</div><!-- panel -->

<script>
  new Chart(document.getElementById("investigation_data"), {
    type: 'pie',
    data: {
      labels: <%=raw @investigation_label  %>,
      datasets: [{
        data: <%= raw @investigation_data %>,
        label: "Total",
        borderColor: "#ffffff",
        fill: false,
        backgroundColor:['#55efc4', '#fd79a8', '#e17055', '#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075', '#808080', '#ffffff', '#000000']
      }
      ]
    },
    options: {
      legend: { display: false },
      responsive: true,
      title: {
        display: false,
        text: 'Total Investigations in each Category'
      },
      scales: {
        yAxes: [{
            ticks: {
              beginAtZero: true,
            }
        }],
      xAxes: [{
          gridLines:{
              display : false
          },
          barPercentage: 0.3
        }]
      }
    }
  });

</script>
<style>
  .no_data{
    text-align: center;
    color: #444;
  }
</style>




<!-- 
["#cd84f1", "#32ff7e", "#ff4d4d", "#ffaf40", "#32ff7e", "#18dcff", "#ff9f1a", "#18dcff", "#7158e2", "#3d3d3d", "#3ae374", "#fc5c65", "#474787", "#ffb142", "#b33939", "#84817a", "#ccae62", "#227093", "#218c74", "#f7b731", "#45aaf2", "#fa8231", "#fc5c65", "#2bcbba","#d1d8e0" ] -->