<div class="panel panel-default">
  <div class="panel-body">
    <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong>TOTAL TIME TAKEN</strong></h5>
      <div>
        <canvas id="optometrists-avg-time-line-chart" width="800" height="450"></canvas>
      </div>
  </div>

</div><!-- panel -->

<script>
  new Chart(document.getElementById("optometrists-avg-time-line-chart"), {
    type: 'bar',
    data: {
      labels: <%=raw @optometrist_name_labels %>,
      datasets: [
        {
          label: "Optometrist Total Time in hours",
          backgroundColor: ["#82ccdd", "#fed156","#1B9CFC","#58B19F","#c45850","#182C61"],
          data: <%=raw @optometrist_total_time %>
        }
      ]
    },
    options: {
      responsive: true,
      legend: { display: false },
      title: {
        display: true
      },
      scales: {
        yAxes: [{
            ticks: {
              beginAtZero: true
            },
            gridLines:{
              display : false
          }
        }],
      xAxes: [{
          gridLines:{
              display : false
          },
          barPercentage: 0.4
        }]
      }
    }
  });
</script>
<style>
  .no_data{
    text-align: center;
    color: #444;
  }
</style>