<% if @facility == "all" %>
  <% if current_user.has_role?(:doctor) %>
    <% @admission_list_today = Admission.where(:doctor => current_user.id, :admissiondate.gte => @current_date, :admissiondate.lt => @current_date + 1,:isdischarged => false, is_deleted: false).order(admissiontime: :desc) %>
  <% else %>
    <% if @user.nil? %>
      <% @admission_list_today = Admission.where(:facility_id.in =>  current_user.facility_ids ,:admissiondate.gte => @current_date, :admissiondate.lt => @current_date + 1,:isdischarged => false, is_deleted: false).order(admissiontime: :desc) %>
    <% else %>
      <% @admission_list_today = Admission.where( :admissiondate.gte => @current_date, :admissiondate.lt => @current_date + 1,:isdischarged => false, :doctor => @user.id.to_s, is_deleted: false).order(admissiontime: :desc) %>
    <% end %>
  <% end %>
<%else%>
  <% if current_user.has_role?(:doctor) %>
    <% @admission_list_today = Admission.where(:facility_id => @facility.id.to_s, :doctor => current_user.id, :admissiondate.gte => @current_date, :admissiondate.lt => @current_date + 1,:isdischarged => false, is_deleted: false).order(admissiontime: :desc) %>
  <% else %>
    <% if @user.nil? %>
      <% @admission_list_today = Admission.where(:facility_id => @facility.id.to_s, :admissiondate.gte => @current_date, :admissiondate.lt => @current_date + 1,:isdischarged => false, is_deleted: false).order(admissiontime: :desc) %>
    <% else %>
      <% @admission_list_today = Admission.where(:facility_id => @facility.id.to_s, :admissiondate.gte => @current_date, :admissiondate.lt => @current_date + 1,:isdischarged => false, :doctor => @user.id.to_s, is_deleted: false).order(admissiontime: :desc) %>
    <% end %>
  <% end %>
<%end%>


<div class="panel panel-default" style="padding:0px;">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12" style="display:inline;">
        <h5 class="subtitle mb5">Admission List Today (Total: <%= @admission_list_today.count %>)</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" id="admission_list_dashboard_today">
          <%= render partial: "main/dashboard_content/admission_list_dashboard/admission_list" %>
        </div><!-- table-responsive -->
      </div>
    </div>
  </div><!-- panel-body -->
</div><!-- panel -->

<style type="text/css">
  .fac-dd {
    margin-top: -10px;
  }
  #facilitylistadmission, #userlistadmission {
    width:37%;
    display: inline-block;
  }
</style>