<% @laboratory_investigations = @case_sheet.laboratory_investigations %>
<% @radiology_investigations = @case_sheet.radiology_investigations %>
<% @free_form_investigations = @case_sheet.free_form_investigations %>

<% if @case_sheet.free_form_histories.try(:count) > 0 || @case_sheet.diagnoses.try(:count) > 0 || @case_sheet.free_form_diagnoses.try(:count) > 0 || @case_sheet.procedures.try(:count) > 0 || @case_sheet.free_form_procedures.try(:count) > 0 || @laboratory_investigations.try(:count) > 0 || @radiology_investigations.try(:count) > 0 || @free_form_investigations.try(:count) > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <strong>CLINCAL DETAILS :</strong>
        <div class="summary-line-border"></div>
      </div>
      <%= render partial: "inpatient/ipd_record/clinical_note/case_sheets/case_clinical_details.html.erb" %>
    </div>
  </div>
<% end %>

<div class="row mb20">
  <% if @ipdrecord.investigations.present?%>
      <div class="col-md-3">
        <b>Other Investigations:</b>
      </div>
      <div class="col-md-8">
        <p><%= @ipdrecord.investigations %></p>
      </div>
  <%end%>
</div>

<%= render partial: "inpatient/ipd_record/clinical_note/#{@speciality_folder_name}_notes/all_investigations_details.html.erb" %>
