<div class="row"> <!-- 1st row starts -->

    <div class="col-md-12">

        <div class="fuelux"> <!-- If you want fuelux wizard then this is necessary, fuelux div starts -->

                <div class="wizard" data-initialize="wizard" id="MyWizard"> <!-- Initialize fuelux wizard, wizard div starts -->

                    <%= render partial: "templates/common/expresssoapsteps" %>  <!-- Render soap steps from partial -->

                    <%= render partial: "templates/common/actions" %> <!-- Render prev/next actions from partial -->

                    <div class="step-content">

                        <%= render partial: "templates/common/hiddenvariables", locals: { patient: @patient, templatetype: @templatetype, templateid: @templateid, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, opdspeciality: @opdspeciality }  %> <!-- Render orthopedics subjective template from partial --> 

                        <% Global.send("#{@speciality_folder_name}").send("#{@templatetype}template").erb.each do |opd_record_specality_template_erb| %>
                          <%= render partial: "#{opd_record_specality_template_erb}", locals: { f: f, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
                        <% end %>                                

                    </div>

                </div> <!-- wizard div ends -->

        </div> <!-- fuelux div ends -->

    </div>

</div> <!-- 1st row ends -->