<div class="tab-pane active" id="clinicaldetails">

  <div class="col-md-2 col-sm-2"></div>
  <div class="col-md-8 col-sm-8" id="opdrecord_chiefcomplaint_container">
    <%= select_tag "opdrecord[opdrecord_chiefcomplaint]", options_for_select(opdrecord.get_chiefcomplaints_for_opdsummary_expresstemplate("#{opdrecord.chiefcomplaintselectedtags}"), opdrecord.get_chiefcomplaints_for_opdsummary_expresstemplate_id("#{opdrecord.chiefcomplaintselectedtags}")), { :multiple => "true", :class => 'form-control opdrecord_chiefcomplaint select2_selectedtags', :id => "opdrecord_chiefcomplaint", "target-tags-id" => "opdrecord_chiefcomplaint_selectedtags", "target-tagnames-id" => "opdrecord_chiefcomplaint_selectedtagnames", :style => "width: 100%;" } %>
    <%= hidden_field_tag "opdrecord[chiefcomplaintselectedtags]", "#{opdrecord.chiefcomplaintselectedtags}", {:class => "opdrecord_chiefcomplaint_selectedtags", :id => "opdrecord_chiefcomplaint_selectedtags"} %>
    <%= hidden_field_tag "opdrecord[chiefcomplaintselectedtagnames]", "#{opdrecord.chiefcomplaintselectedtagnames}", {:class => "opdrecord_chiefcomplaint_selectedtagnames", :id => "opdrecord_chiefcomplaint_selectedtagnames"} %>

  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      lis = $(document).find("ul.select2-selection__rendered li");
      for(i = 0; i < lis.length; i++){
        attach_event_to_x(lis[i]);
      }
      function attach_event_to_x(li){
        $(li).find(".select2-selection__choice__remove").on('click', function(e) {
          target_field = $("#opdrecord_chiefcomplaint_selectedtagnames")
          target_value = $(target_field).val()

          target_field_id = $("#opdrecord_chiefcomplaint_selectedtags")
          target_value_id = $(target_field_id).val()

          val_to_replace = $(e.currentTarget).parent().text().replace("×", "")

          value_array = target_value.split(",")
          value_array_id = target_value_id.split(",")

          index = value_array.indexOf(val_to_replace);
          
          value_array.splice(index, 1);
          value_array_id.splice(index, 1);
          
          target_field.val(value_array.join(","))
          target_field_id.val(value_array_id.join(","))
        });
      }
    }, 1000);
  });
</script>