<%= hidden_field_tag "opdrecord[#{eyeside}_corneaslit_diagram_present]", "N" %>
<button class="btn btn-primary btn-xs addcorneaslitdiagram" data-eye_side="<%= eyeside %>" >Add Cornea Slit Diagram</button>