<%= hidden_field_tag "opdrecord[#{eyeside}_appendages_diagram_present]", "N" %>
<button class="btn btn-primary btn-xs addappendagesdiagram" data-eye_side="<%= eyeside %>" >Add Appendages Diagram</button>