<% if @optometrist_record.size > 0 %>
    <% @optometrist_record.each do |optometrist_reading| %>
        <div class="row mb5" style="text-align: center;margin-top: 10px;">
          <div class="col-md-6 col-sm-6 optometrist-past-readings-column-date">
            <%= optometrist_reading.created_at.strftime("%d/%m/%Y") %>
          </div>
          <div class="col-md-6 col-sm-6 optometrist-past-readings-column-view">
            <a class="btn btn-xs btn-primary optometrist-past-readings-view-button" data-optoreadingid="<%= optometrist_reading.id.to_s %>">View</a>
          </div>
        </div>
    <% end %>
<% end %>