<div class="col-md-2 col-sm-2 vs-ip-gp-past-readings-column" style="padding-left:1px; padding-right:1px;">

  <div class="panel panel-success vs-ip-gp-past-readings-column">

    <div class="panel-heading vs-ip-gp-past-readings-column r-eye-panel-heading" style="padding: 2px;">
      <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">Past Readings</h4>
    </div>

    <div class="row optometrist-past-readings-row">
      <div class="col-md-12 col-sm-12 optometrist-past-readings-column">
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/optometrist_pastreadings_values.html.erb", locals: {f: f, opdrecord: @opdrecord} %>
      </div>
    </div>

  </div>

</div>