$("#entity_group_country_id").select2();

var country = $('#entity_group_country_id').val();

chang_address_fields(country);

$("#entity_group_country_id").on('change', function() {
  var country_id = $('option:selected', this).attr('value');
  autocomplete_check(country_id);
  chang_address_fields($(this).val());
  empty_values();
});

function save_entity_group() {
  
  $('#manage_entity_group').validate({
    rules: {
      "entity_group[country_id]": {
        required: true
      },
      "entity_group[name]": {
        required: true
      },
      "entity_group[abbreviation]": {
        required: true,
        remote: "/entity_groups/validate_entity_group?organisation_id=<%= @entity_group.organisation_id %>&existing_abbreviation=<%=raw @entity_group.abbreviation %>"
      },
      "entity_group[display_name]": {
        required: true,
        remote: "/entity_groups/validate_entity_group?organisation_id=<%= @entity_group.organisation_id %>&existing_display_name=<%=raw @entity_group.display_name %>"
      },
      "entity_group[address]": {
        required: true,
      },
      "entity_group[district]": {
        required: true,
        minlength: 2,
        "remote":  {
          url: '/locations/check_district',
          type: "get",
          data: { country_id: function(){ return $('#entity_group_country_id option:selected').attr('value') } }
        }
      },
      "entity_group[commune]": {
        required: true,
        minlength: 2,
        "remote":  {
          url: '/locations/check_commune',
          type: "get",
          data: { country_id: function(){ return $('#entity_group_country_id option:selected').attr('value') } }
        }
      },
      "entity_group[city]": {
        required: true,
        minlength: 3,
        "remote":  {
            url: '/locations/check_city',
            type: "get",
            data: { country_id: function(){ return $('#entity_group_country_id option:selected').attr('value') } }
        }
      },
      "entity_group[state]": {
        required: true,
        minlength: 3,
        "remote":  {
          url: '/locations/check_state',
          type: "get",
          data: { country_id: function(){ return $('#entity_group_country_id option:selected').attr('value') } }
        }
      },
     "entity_group[pincode]": {
        required: true,
        minlength: 3,
        "remote":  {
          url: '/locations/check_pincode',
          type: "get",
          data: { country_id: function(){ return $('#entity_group_country_id option:selected').attr('value') } }
        }
      }
    },
    messages: {
      "entity_group[country_id]": {
        required: "Country Required"
      },
      "entity_group[name]": {
        required: "Name Required"
      },
      "entity_group[abbreviation]": {
        required: "Abbreviation Required",
        remote: "Already Taken"
      },
      "entity_group[display_name]": {
        required: "Display Name Required",
        remote: "Already Taken"
      },
      "entity_group[address]": {
        required: "Address Required",
      },
      "entity_group[city]": {
        required: "City Required",
        remote: "Search and Select"
      },
      "entity_group[state]": {
        required: "State Required",
        remote: "Search and Select"
      },
      "entity_group[pincode]": {
        required: "Pincode Required",
        remote: "Search and Select"
      }
    },
    errorPlacement: function (error, element) {
      var elem = $(element);
      if(elem.hasClass("select2-hidden-accessible")) {
        element = $("#select2-" + elem.attr("id") + "-container").parent();
      }
      error.insertAfter(element);
    }
  });
}

save_entity_group();

function chang_address_fields(country) {
  if (country == 'VN_254') {
    $('.other_facility').hide();
    $('.cambodia_facility').hide();
    $('.vietnam_facility').show();
  } else if(country == 'KH_039') {
    $('.vietnam_facility').hide();
    $('.other_facility').hide();
    $('.cambodia_facility').show();
  } else {
    $('.vietnam_facility').hide();
    $('.cambodia_facility').hide();
    $('.other_facility').show();
  }
}

function empty_values() {
  $('.state').val('');
  $('.pincode').val('');
  $('.district').val('');
  $('.commune').val('');
  $('#entity_group_address').val('');
  $('.facility-city').val('');
}


//Search For India and others starts//
$('#search_state_other').autocomplete({
  minLength: 3,
  source: function(request, response) {
    var country_id = $("#entity_group_country_id").val()
    $.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_state',
      data: {q: request.term, country_id: country_id, remote: "true" },
      success: function(data) {
        response(data);
      },
      error: function(data) {
      }
    });
  },
  select: function( event, ui ) {
    state = ui.item["state"]
    setTimeout(function() {
      $(".state").val(state)
      $('.state').blur()
    }, 20);
  },
  create: function () {
    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
      return $('<li>')
        .append('<a style=\"color:#000;text-shadow: 2px\">' + item.state  + '&nbsp; &nbsp; &nbsp;' + '</a>')
        .appendTo(ul);
    };
  }
});

$('#search_city_other').autocomplete({
  minLength: 3,
  source: function(request,response){
    var country_id = $("#entity_group_country_id").val()
    var state = $('#search_state_other').val();
    $.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_city',
      data: {q: request.term, country_id: country_id, state: state, remote: "true"},
      success: function(data){
        response(data);
      },
      error: function(data){
      }
    });
  },
  select: function( event, ui ) {
    city  = ui.item["city"]
    state = ui.item["state"]
    setTimeout(function() {
      $(".facility-city").val(city)
      $(".state").val(state)
      $('.facility-city').blur()
    }, 20);
  },
  create: function () {
    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
      return $('<li>')
        .append('<a style=\"color:#000;text-shadow: 2px\">' + item.city  + '&nbsp; &nbsp; &nbsp;' + '</a>')
        .appendTo(ul);
    };
  }
});

$('#search_pincode_other').autocomplete({
  minLength: 3,
  source: function(request,response){
    var country_id = $("#entity_group_country_id").val()
    var state = $('#search_state_other').val();
    var city = $('#search_city_other').val();
    $.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_pincode',
      data: {q: request.term, country_id: country_id, state: state, city: city, remote: "true"},
      success: function(data){
        response(data);
      },
      error: function(data){
      }
    });
  },
  select: function( event, ui ) {
    pincode = ui.item["pincode"]
    city  = ui.item["city"]
    state = ui.item["state"]
    setTimeout(function() {
      $(".pincode").prop('readonly',true).val(pincode)
      $(".state").prop('readonly', true).val(state)
      $(".facility-city").prop('readonly', true).val(city)
      $(".clear-pincode").show()
      $('.pincode').blur()
    }, 20);
  },
  create: function () {
    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
    return $('<li>')
      .append('<a style=\"color:#000;text-shadow: 2px; text-align: center;\">' + item.pincode  + '&nbsp; &nbsp; &nbsp;' + '</a>')
      .appendTo(ul);
    };
  }
});
//Search For India and others ends//

//Search For Vietnam starts//
$('#search_district_vietnam').autocomplete({
  minLength: 2,
  source: function(request,response) {
    var country_id = jQuery('#entity_group_country_id').val()
    var city = jQuery('#search_city_vietnam').val();
    jQuery.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_district',
      data: {q: request.term, city: city, country_id: country_id, remote: "true"},
      success: function(data){
        response(data);
      },
      error: function(data){
      }
    });
  },
  select: function( event, ui ) {
    district = ui.item["district"]
    city  = ui.item["city"]
    setTimeout(function() {
      jQuery(".district").val(district)
      jQuery(".facility-city").val(city)
      jQuery('.district').blur()
    }, 20);
  },
  create: function () {
    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
      return $('<li>')
        .append('<a style=\"color:#000;text-shadow: 2px\">' + item.district  + '&nbsp; &nbsp; &nbsp;' + '</a>')
        .appendTo(ul);
    };
  }
});

$('#search_city_vietnam').autocomplete({
  minLength: 3,
  source: function(request,response){
    var country_id = $("#entity_group_country_id").val()
    $.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_city',
      data: {q: request.term, country_id: country_id, remote: "true"},
      success: function(data){
        response(data);
      },
      error: function(data){
      }
    });
  },
  select: function( event, ui ) {
    city  = ui.item["city"]
    setTimeout(function() {
      $(".facility-city").val(city)
      $('.facility-city').blur()
    }, 20);
  },
  create: function () {
    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
      return $('<li>')
        .append('<a style=\"color:#000;text-shadow: 2px\">' + item.city  + '&nbsp; &nbsp; &nbsp;' + '</a>')
        .appendTo(ul);
    };
  }
});

$('#search_commune_vietnam').autocomplete({
  minLength: 2,
  source: function(request,response) {
    var country_id = jQuery('#entity_group_country_id').val()
    var city = jQuery('#search_city_vietnam').val();
    var district = jQuery('#search_district_vietnam').val();
    jQuery.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_commune',
      data: {q: request.term, city: city, district: district, country_id: country_id, remote: "true"},
      success: function(data){
        response(data);
      },
      error: function(data){

      }
    });
  },
  select: function( event, ui ) {
    commune = ui.item["commune"]
    district  = ui.item["district"]
    city = ui.item["city"]
    setTimeout(function() {
      jQuery(".commune").prop('readonly',true).val(commune)
      jQuery(".facility-city").prop('readonly', true).val(city)
      jQuery(".district").prop('readonly', true).val(district)
      jQuery(".clear-commune").show()
      jQuery('.commune').blur()
    }, 20);
  },
  create: function () {
    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
      return $('<li>')
        .append('<a style=\"color:#000;text-shadow: 2px; text-align: center;\">' + item.commune + ' (' + item.district + ')' + '&nbsp; &nbsp; &nbsp;' + '</a>')
        .appendTo(ul);
    };
  }
});
//Search For Vietnam ends//

//Search For Cambodia starts//
$('#search_pincode_cambodia').autocomplete({
  minLength: 3,
  source: function(request,response){
    var country_id = $("#entity_group_country_id").val()
    var state = $('#search_state_cambodia').val();
    var district = $('#search_district_cambodia').val();
    var commune = $('#search_commune_cambodia').val();
    $.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_pincode',
      data: {q: request.term, country_id: country_id, state: state, district: district, commune: commune, remote: "true"},
      success: function(data){
        response(data);
      },
      error: function(data){
      }
    });
  },
  select: function( event, ui ) {
    pincode = ui.item["pincode"]
    state = ui.item["state"]
    district = ui.item["district"]
    commune = ui.item["commune"]
    setTimeout(function() {
      $(".pincode").prop('readonly',true).val(pincode)
      $(".state").prop('readonly', true).val(state)
      $(".district").prop('readonly', true).val(district)
      $(".commune").prop('readonly', true).val(commune)
      $(".clear-pincode").show()
      $('.pincode').blur()
    }, 20);
  },
  create: function () {
    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
    return $('<li>')
      .append('<a style=\"color:#000;text-shadow: 2px; text-align: center;\">' + item.pincode  + '&nbsp; &nbsp; &nbsp;' + '</a>')
      .appendTo(ul);
    };
  }
});

$('#search_state_cambodia').autocomplete({
  minLength: 3,
  source: function(request, response) {
    var country_id = $("#entity_group_country_id").val()
    $.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_state',
      data: {q: request.term, country_id: country_id, remote: "true" },
      success: function(data) {
        response(data);
      },
      error: function(data) {
      }
    });
  },
  select: function( event, ui ) {
    state = ui.item["state"]
    setTimeout(function() {
      $(".state").val(state)
      $('.state').blur()
    }, 20);
  },
  create: function () {
    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
      return $('<li>')
        .append('<a style=\"color:#000;text-shadow: 2px\">' + item.state  + '&nbsp; &nbsp; &nbsp;' + '</a>')
        .appendTo(ul);
    };
  }
});

$('#search_district_cambodia').autocomplete({
  minLength: 2,
  source: function(request,response) {
    var country_id = jQuery('#entity_group_country_id').val()
    var state = jQuery('#search_state_cambodia').val();
    jQuery.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_district',
      data: {q: request.term, state: state, country_id: country_id, remote: "true"},
      success: function(data){
        response(data);
      },
      error: function(data){
      }
    });
  },
  select: function( event, ui ) {
    district = ui.item["district"]
    state  = ui.item["state"]
    setTimeout(function() {
      jQuery(".district").val(district)
      jQuery(".state").val(state)
      jQuery('.district').blur()
    }, 20);
  },
  create: function () {
    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
      return $('<li>')
        .append('<a style=\"color:#000;text-shadow: 2px\">' + item.district  + '&nbsp; &nbsp; &nbsp;' + '</a>')
        .appendTo(ul);
    };
  }
});

$('#search_commune_cambodia').autocomplete({
  minLength: 2,
  source: function(request,response) {
    var country_id = jQuery('#entity_group_country_id').val()
    var state = jQuery('#search_state_cambodia').val();
    var district = jQuery('#search_district_cambodia').val();
    jQuery.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_commune',
      data: {q: request.term, state: state, district: district, country_id: country_id, remote: "true"},
      success: function(data){
        response(data);
      },
      error: function(data){

      }
    });
  },
  select: function( event, ui ) {
    commune = ui.item["commune"]
    district  = ui.item["district"]
    state = ui.item["state"]
    setTimeout(function() {
      jQuery(".commune").prop('readonly',true).val(commune)
      jQuery(".state").prop('readonly', true).val(state)
      jQuery(".district").prop('readonly', true).val(district)
      jQuery(".clear-commune").show()
      jQuery('.commune').blur()
    }, 20);
  },
  create: function () {
    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
      return $('<li>')
        .append('<a style=\"color:#000;text-shadow: 2px; text-align: center;\">' + item.commune + ' (' + item.district + ')' + '&nbsp; &nbsp; &nbsp;' + '</a>')
        .appendTo(ul);
    };
  }
});
//Search For Cambodia ends//

// Clear pincode
$(".clear-pincode").on('click', function(e){
  e.preventDefault()
  $(".pincode").prop('readonly',false).val("")
  $(".state").prop('readonly', false).val("")
  $(".facility-city").prop('readonly', false).val("")
  $(".district").prop('readonly',false).val("")
  $(".commune").prop('readonly', false).val("")
  $(".clear-pincode").hide()
});

// Clear pincode
$(".clear-commune").on('click', function(e){
  e.preventDefault()
  $(".commune").prop('readonly',false).val("")
  $(".district").prop('readonly', false).val("")
  $(".facility-city").prop('readonly', false).val("")
  $(".state").prop('readonly', false).val("")
  $(".pincode").prop('readonly',false).val("")
  $(".clear-commune").hide()
});

function autocomplete_check(country_id) {
  if (country_id == 'IN_108') {
    $('#search_state_other').autocomplete("enable");
    $('#search_city_other').autocomplete("enable");
    $('#search_pincode_other').autocomplete("enable");
  } else if (country_id == 'VN_254') {
    $('#search_district_vietnam').autocomplete("enable");
    $('#search_city_vietnam').autocomplete("enable");
    $('#search_commune_vietnam').autocomplete("enable");
  } else if (country_id == 'KH_039') {
    $('#search_pincode_cambodia').autocomplete("enable");
    $('#search_state_cambodia').autocomplete("enable");
    $('#search_district_cambodia').autocomplete("enable");
    $('#search_commune_cambodia').autocomplete("enable");
  } else {
    $('#search_state_other').autocomplete("disable");
    $('#search_city_other').autocomplete("disable");
    $('#search_pincode_other').autocomplete("disable");
    $('#search_district_vietnam').autocomplete("disable");
    $('#search_city_vietnam').autocomplete("disable");
    $('#search_commune_vietnam').autocomplete("disable");
    $('#search_pincode_cambodia').autocomplete("disable");
    $('#search_state_cambodia').autocomplete("disable");
    $('#search_district_cambodia').autocomplete("disable");
    $('#search_commune_cambodia').autocomplete("disable");
  }
}
var country_id = $('#entity_group_country_id option:selected').attr('value');
autocomplete_check(country_id)
