<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog entity-group-modal-md" style="width:50%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Create Entity Group</h4>
    </div>
    <%= simple_form_for @entity_group, method: "post", remote: true, html: { id: "manage_entity_group", class: "entity-group-new-form" } do |f| %>
      <%= render partial: 'form.html.erb', locals: { f: f } %>
      <div class="modal-footer">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="notify_area"></div>
          </div>
          <div class="col-md-8">
            <%= f.submit "Create", class: "btn btn-success", data: { "disable-with": "Please Wait..." }, onclick: 'save_entity_group()' %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
