<div class="modal-dialog modal-upload-folder">
    <div class="modal-content">
	  		
	    <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= render partial: "templates/common/patientinfo", locals: { patient: @patient } %>  <!-- Render common patient info template from partial -->

          <div class="text-center">
                <h4 class="nomargin">Create Folder</h4>
          </div>

      </div>

	 	  <%= render partial: "patients/partials/new_folder_form" %>

	</div>
</div>