<% @patient_legacy_prescription.order("prescriptiondate DESC").each do |legacydata| %>
    <tr>
      <td style="padding:0px 5px;width:25%;" ><%= legacydata.prescriptiondate.strftime("%d-%b-%y") %></td>
      <td style="padding:0px 15px;width:25%; " ><%= legacydata.encountertype %></td>
      <td style="padding:0px 5px;width:25%; " ><%= legacydata.templatetype %></td>
      <td style="padding:0px 5px;width:25%; " >Prescription</td>
      <td style="padding:0px 5px;width:25%; " ><%= link_to patient_legacy_old_prescription_list_path(:id=> "#{legacydata.id}",:legacy_patient_id => "#{legacydata.legacy_patient_id}", :new_patient_id => "#{legacydata.new_patient_id}"), :class => 'btn btn-xs btn-success investigation-viewsummary-html', :id => 'investigation-viewsummary-html', :title => "Legacy Summary", :data => {:remote => true} do %> <i class="fa fa-file"></i> <% end %></td>
    </tr>
<% end %>