<span class="btn btn-success-alt patient-signin-button ps patient-summary-to-templates" id="signin_opd" data-urlcallback="/outpatients/appointment_management" data-patientid="<%= "#{ patient.id }" %>" data-appointmentid="<%= "#{ appointment.id }" %>" style="width:160px;"><i class="fa fa-user"></i> Engage Patient</span>

