<div class="mb10"></div>
<div class="dropdown">
  <button type="button" class="btn btn-primary" title="Print Past Receipt" id="invoice-print-dropdown" data-toggle="dropdown" style="width:160px;">
    <i class="fa fa-print"></i> Print old Receipts
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="invoice-print-dropdown">
  	<% if patient_pastinvoices.count > 0 %>
	    <% patient_pastinvoices.newest_invoice_first.each do |patient_pastinvoice| %>
		      <li style="text-align:center;">
		      	<%= link_to edit_invoice_opd_path(:id => patient_pastinvoice.id), :data => {:remote => true} do %><%= patient_pastinvoice.bill_number %><% end %>
		      </li>
		  <% end %>
		<% else %>
			<li style="text-align:center;">No Past Receipts</li>
		<% end %>
  </ul>
</div>