<div class="dropdown">
	  <button type="button" class="btn btn-default" title="Print Receipt" id="invoice-print-dropdown" data-toggle="dropdown" style="width:160px;">
	    <i class="fa fa-print"></i> Print Receipt
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="invoice-print-dropdown">
	    <% invoice_templates.each do |invoice_template| %>
            <li><%= link_to new_invoice_opd_path(:appointmentid => appointment.id, :typeid => Global.ehrcommon.opd.id, :type => Global.ehrcommon.opd.abbr,:invoice_template => invoice_template[:template_details]), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %><%= invoice_template[:name]%><% end %></li>
	    <% end %>
        <li><%= link_to new_invoice_opd_path(:appointmentid => appointment.id, :typeid => Global.ehrcommon.opd.id, :type => Global.ehrcommon.opd.abbr), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %> Free Receipt Template <% end %></li>
	  </ul>
</div>