<div align="center" class="mt15">
  Welcome, <%= current_user.fullname %>
  <h2>You can can manage your account settings from here...</h2>
</div>

<div class="row mt15">

  <div class="col-md-offset-2 col-md-3">
    <div class="panel panel-danger panel-alt">
      <div class="panel-heading page-header">
        <div class="panel-btns">
          <a href="/settings/profile" data-remote="true"  class="fa fa-chevron-right ps"></a>
        </div><!-- panel-arrow -->
        <h3 class="panel-title"><a href="/settings/profile" data-remote="true"  class="ps">Profile settings</a></h3>
        <p>Manage your profile settings...</p>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered" id="services-list-opd">
          Manage your personnel information and complete your profile for getting better user experience. You can configure your personnel Information, Contact Information and many more.
        </table>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="panel panel-warning panel-alt ">
      <div class="panel-heading page-header">
        <div class="panel-btns account_settings2">
          <a href="/doctors/practice_settings" data-remote="true" class="fa fa-chevron-right ps"></a>
        </div><!-- panel-arrow -->
        <h3 class="panel-title"><a href="/doctors/practice_settings" data-remote="true" class="ps">Practice Settings</a></h3>
        <p>Manage your practice settings...</p>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered" id="services-list-opd">
          Practice settings are very essential settings please make sure to customize these settings as per your need. You can manage your Practice Timing, Message Settings, Templates, Services and many more.
        </table>
      </div>
    </div>
  </div>


  <!--<div class="col-md-3">-->
    <!--<div class="panel panel-info panel-alt">-->
      <!--<div class="panel-heading page-header">-->
        <!--<div class="panel-btns">-->
          <!--<a href="/users/organisation_settings" data-remote="true" class="fa fa-chevron-right ps" id="organisation_settings_manage_org"></a>-->
        <!--</div>&lt;!&ndash; panel-arrow &ndash;&gt;-->
        <!--<h3 class="panel-title">Organisation Settings</h3>-->
        <!--<p>Manage your organisation settings...</p>-->
      <!--</div>-->
      <!--<div class="panel-body">-->
        <!--<table class="table table-striped table-bordered" id="services-list-opd">-->
          <!--Organisation settings are for organisational level customizations. These settings will be applicable for all the users. You can manage your organisation's setttings and make your Invoice Templates here.-->
        <!--</table>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <script>
    jQuery("#organisation_settings_manage_org").on('click',function(e) {
      jQuery.ajax({
        type: "GET",
        url: '/organisations/manage'
      });
    });
  </script>

</div>