<%= simple_form_for :user_fonts, :url => url_for(:controller =>'doctors', :action => 'font_setting'), :remote => true do |f| %>
    <div class="row">

      <div class="col-md-6">
        Select your default font :
      </div>
      <div class="col-md-3 sel-div">
        <%= f.select :font_style, ['sans-light','sans-dark','sans-regular','Courier New','Verdana', 'Tahoma'],{} ,{:class => "form-control"} %>
      </div>
      <div class="col-md-3">
        <%= f.submit 'Submit', :class => "btn btn-primary" %>
      </div>
    </div>
<% end %>
<script>
    $('.sel-div option[value="<%= User.find_by(id: current_user.id).users_setting.font_style %>"]').attr('selected','selected')
</script>
