<div class="col-md-3">
  <%= select_tag("facility-filter", options_for_select(current_user.facilities.map { |facility| [facility.name, facility.id] }), :class => "form-control") %>
  <% if !flash.empty? %>
      <div>
        <% flash.keys.each do |k| %>
            <div class="alert alert-info">
              <%= flash[k] %>
            </div>
            <% flash.delete(k) %>
        <% end %>
      </div>
  <% end %>
</div>