$("#general_settings_id").on('click',function(){
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    url: 'general_settings_refresh'
  });
});

jQuery("#user_notes_templates_id").on('click',function(e) {
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    data: {remote: "true"},
    url: '/user_notes_templates/get_user_certificates'
  });
});

jQuery("#manage_advice_id").on('click',function(e) {
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    url: '/advice_sets'
  });
});

jQuery("#manage_procedure_notes_id").on('click',function(e) {
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    url: '/procedure_notes'
  });
});

jQuery("#full-appointment-types").on('click',"#add_appointment_type",function(e){

  var total_rows = jQuery("#total_appointment_types_count").val();

  var single_row_html = '<div class="row form-group"><input id="appointment_types_row_count_user_id" name="appointment_types[row_count][user_id]" type="hidden" value="<%=current_user.id.to_s %>"><div class="col-md-3"><input class="form-control appointment-label-validation" id="appointment_types_row_count_label" name="appointment_types[row_count][label]" type="text"></div><div class="col-md-2"><input class="form-control slot-duration-validation" id="appointment_types_row_count_duration" min="1" name="appointment_types[row_count][duration]" type="number"></div><div class="col-md-2"><input class="form-control" id="appointment_types_row_count_background" name="appointment_types[row_count][background]" type="text" value="hg_color_value"></div><div class="col-md-2"><input id="default_row_count" name="default" type="radio" value="row_count"></div><div class="col-md-1"><span id="add_appointment_type" class="btn btn-sm btn-primary btn-square glyphicon glyphicon-plus-sign"></span></div><div class="col-md-1"><span id="remove_appointment_type_row_count" class="btn btn-sm btn-primary btn-danger glyphicon glyphicon-remove"></span></div></div>';

  single_row_html = single_row_html.replace(/row_count/g,total_rows);
  single_row_html = single_row_html.replace(/hg_color_value/g,pallette_array[Math.floor(Math.random()*pallette_array.length)]);
  jQuery("#total_appointment_types_count").val(+total_rows+1);

  jQuery(single_row_html).appendTo("#full-appointment-types");
  init_color_picker()

});
// to remove row

jQuery("#full-appointment-types").on('click',"[id^=remove_appointment_type_]",function(e){
  var id = e.currentTarget.id
  var index = id.replace('remove_appointment_type_', '');

  var default_id = 'default_'+index

  if ($('#' + default_id).prop('checked')){
    //message alert for appointment_types
    $('#appointment-types-alert-messages').show()
    $("#appointment-types-alert-messages").html('You cannot delete the default appointment type, select another appointment type as a default to delete.')
    jQuery('#appointment-types-alert-messages').addClass("alert alert-warning")
    $('#appointment-types-alert-messages').delay(10000).fadeOut();
  }

  else{
    if (jQuery("input[name='appointment_types[" + index + "][id]']").length) {
      appointment_list = []
      if (jQuery("#appointment_types_for_delete").val() != "") {
        appointment_list = jQuery("#appointment_types_for_delete").val().split(',')
      }
      appointment_list.push(jQuery("input[name='appointment_types[" + index + "][id]']").val())
      jQuery("#appointment_types_for_delete").val(appointment_list.join(","))
    }
    jQuery("#" + id).parent().parent().remove()
  }
})
var pallette_array = [
  "rgb(0, 0, 0)", "rgb(67, 67, 67)","rgb(152, 0, 0)", "rgb(255, 0, 0)",
  "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
  "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)",
  "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
  "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
  "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
  "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
  "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)",
  "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"
]
function init_color_picker() {
  $("[id^=appointment_types_][id$=_background]").spectrum({
    showInput: true,
    className: "full-spectrum",
    showInitial: true,
    showPalette: true,
    showSelectionPalette: true,
    maxSelectionSize: 10,
    preferredFormat: "hex",
    localStorageKey: "spectrum.healthgraph  ",
    move: function (color) {

    },
    show: function () {

    },
    beforeShow: function () {

    },
    hide: function () {

    },
    change: function() {

    },
    palette: pallette_array
  });
}
init_color_picker()


<%= render 'manage_week_schedule.js' %>

$('#customised_letter_head_false').on('click', function() {
  $('#customised_letter_head_alert_false').show()
  $("#customised_letter_head_alert_false").html("Are you sure you don't want to create letterhead?")
  jQuery('#customised_letter_head_alert_false').addClass("alert alert-warning")
  $('#customised_letter_head_alert_false').delay(5000).fadeOut();
});

$("#save_schedule").on("click",function(){
  if(overlap_reporting()){
    save_schedule(jQuery("#general-settings #facility-filter").val())
  }
})

$("[name='customised_letter_head']").on('change',function(){
  if($("[name='customised_letter_head']:checked").val()=='true'){
    $("#set_height_letterhead_our").show()
    $("#set_height_letterhead_own").hide()
    $("#titleask-letterhead").show()
    $("#logo_loc").show()
    $("#header_loc").show()
    $("#header-master").show()
    $("#header_markup_help").show()
    $("[name=header_logo_location]").change()
    jQuery("[name=header_location]").change()
    $(".text_position_class").show()
    $("#title_askor").hide()
    $(".note-for-yes").show()
  } else {
    $("#set_height_letterhead_our").hide()
    $("#set_height_letterhead_own").show()
    $("#titleask-letterhead").hide()
    $("#logo_loc").hide()
    $("#header_loc").hide()
    $("#left_header").hide()
    $("#header-master").hide()
    $("#right_header").hide()
      jQuery("#left").hide()
    $("#header_markup_help").hide()
      jQuery("#right").hide()
    $("#organisation_logo").hide()
    $(".text_position_class").hide()
    $("#title_askor").show()
    $(".note-for-yes").hide()
  }
})

$("[name='customised_footer']").on('change',function(){
  if($("[name='customised_footer']:checked").val()=='true'){
    $("#footer-div").show()
  } else {
    $("#footer-div").hide()
  }
})

$("#print_header_footer_id").on('click',function() {
  $("[name=customised_letter_head]").change()
});

$("#font_tab").on('click',function(){
    $("#fontstyle").html('<%=escape_javascript render 'font_change'%>')
})

$("[name=header_logo_location]").on('change',function(){
  if($("[name=header_logo_location]:checked").val()=='left'){
    $("#organisation_logo").show()
    $(".add-remove-class").addClass("col-md-offset-3")
    //Edits By Huz
    $(".add-remove-class").addClass("col-md-7")
    $(".add-remove-class").removeClass("col-md-6")
    //Edits By Huz Ends
    $("#left_header").hide()
    $("#right_header").show()
  } else if($("[name=header_logo_location]:checked").val()=='right'){
    $("#organisation_logo").show()
    $(".add-remove-class").addClass("col-md-offset-3")
    //Edits By Huz
    $(".add-remove-class").addClass("col-md-7")
    $(".add-remove-class").removeClass("col-md-6")
    //Edits By Huz Ends
    $("#left_header").show()
    $("#right_header").hide()
  } else if($("[name=header_logo_location]:checked").val()=='none'){
    $("#organisation_logo").hide()
    $(".add-remove-class").removeClass("col-md-offset-3")
    //Edits By Huz
    $(".add-remove-class").removeClass("col-md-7")
    $(".add-remove-class").addClass("col-md-6")
    //Edits By Huz Ends
    $("#left_header").show()
    $("#right_header").show()
  }
})
$("[name=header_location]").on('change',function(){
    if($("[name=header_location]:checked").val()=='left'){
        $(".new-add-remove-class").addClass("col-md-offset-2")
        $("#left").show()
        $("#right").hide()
        $("#center").hide()
    } else if($("[name=header_location]:checked").val()=='right'){
        $(".new-add-remove-class").addClass("col-md-offset-2")
        $("#left").hide()
        $("#right").show()
        $("#center").hide()
    } else if($("[name=header_location]:checked").val()=='center'){
        $(".new-add-remove-class").removeClass("col-md-offset-2")
        $("#left").hide()
        $("#right").hide()
        $("#center").show()
    }
})

jQuery("#manage_referring_doctors_id").on('click',function(e) {
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    url: '/referring_doctors'
  });
});

jQuery("#manage_sets_id").on('click',function() {
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    data: { remote: "true"},  
    url: '/admin/practice/manage_sets'
  });
});

jQuery("#manage_tapering_sets_id").on('click',function() {
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    data: { remote: "true"},  
    url: '/tapering_kits'
  });
});

jQuery("#laboratorysets_ids").on('click',function() {
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    data: { remote: "true"},  
    url: '/medication_kits/laboratorysets'
  });
});

jQuery("#ophthal_sets_id").on('click',function() {
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    data: { remote: "true"},  
    url: '/ophthal_laboratory_sets'
  });
});

jQuery("#radiology_sets_id").on('click',function() {
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    data: { remote: "true"},  
    url: '/radiology_laboratory_sets'
  });
});

jQuery("#medicationlists_ids").on('click',function() {
  url = '/medication_kits/user_med_list'
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    url: url,
    data: {remote: "true",level:"user"}
  });
});

jQuery("#otset_ids").on('click',function() {
  jQuery.ajax({
    type: "GET",
    dataType: "script",
    data: { remote: "true"},  
    url: '/medication_kits/otsets'
  });
});

//confirmation modal on active inactive
$('.followup_sms_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.birthday_sms_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.appointment_sms_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.campaign_sms_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.visit_sms_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.long_overdue_sms_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.followup_email_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.birthday_email_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.appointment_email_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.campaign_email_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.visit_email_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.long_overdue_email_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.missed_sms_active_inactive').on('click', function() {
  $(this).confirmModal()
});
$('.discharge_sms_active_inactive').on('click', function() {
    $(this).confirmModal()
});
  var togglebuttonactive = {
    on: true,
  };
  var togglebuttoninactive = {
    off: true,
  }
//followup email toggle
  $('#followup_email_active').toggles(togglebuttonactive);
  $('#followup_email_inactive').toggles(togglebuttoninactive);
  $('.followup_email_active_inactive').on('toggle', function(e, active) {
    if (active) {
      var followup_email_active_inactive = 'true'
    } else {
      var followup_email_active_inactive = 'false'
    }
    jQuery.ajax({
      type: "GET",
      url: '/doctors/followup_email_setting_save',
      data: {followup_email_active_inactive: followup_email_active_inactive, remote: "true" },
    });
  });
//birthday email toggle
$('#birthday_email_active').toggles(togglebuttonactive);
$('#birthday_email_inactive').toggles(togglebuttoninactive);
$('.birthday_email_active_inactive').on('toggle', function(e, active) {
  if (active) {
    var birthday_email_active_inactive = 'true'
  } else {
    var birthday_email_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/birthday_email_setting_save',
    data: {birthday_email_active_inactive: birthday_email_active_inactive, remote: "true" },
  });
});
//appointment email toggle
$('#appointment_email_active').toggles(togglebuttonactive);
$('#appointment_email_inactive').toggles(togglebuttoninactive);
$('.appointment_email_active_inactive').on('toggle', function(e, active) {
  if (active) {
    var appointment_email_active_inactive = 'true'
  } else {
    var appointment_email_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/appointment_email_setting_save',
    data: {appointment_email_active_inactive: appointment_email_active_inactive, remote: "true" },
  });
});
//campaign email toggle
$('#campaign_email_active').toggles(togglebuttonactive);
$('#campaign_email_inactive').toggles(togglebuttoninactive);
$('.campaign_email_active_inactive').on('toggle', function(e, active) {
  if (active) {
    var campaign_email_active_inactive = 'true'
  } else {
    var campaign_email_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/campaign_email_setting_save',
    data: {campaign_email_active_inactive: campaign_email_active_inactive, remote: "true" },
  });
});
//visit email toggle
$('#visit_email_active').toggles(togglebuttonactive);
$('#visit_email_inactive').toggles(togglebuttoninactive);
$('.visit_email_active_inactive').on('toggle', function(e, active) {
  if (active) {
    var visit_email_active_inactive = 'true'
  } else {
    var visit_email_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/visit_email_setting_save',
    data: {visit_email_active_inactive: visit_email_active_inactive, remote: "true" },
  });
});
//long_overdue email toggle
$('#long_overdue_email_active').toggles(togglebuttonactive);
$('#long_overdue_email_inactive').toggles(togglebuttoninactive);
$('.long_overdue_email_active_inactive').on('toggle', function(e, active) {
  if (active) {
    var long_overdue_email_active_inactive = 'true'
  } else {
    var long_overdue_email_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/long_overdue_email_setting_save',
    data: {long_overdue_email_active_inactive: long_overdue_email_active_inactive, remote: "true" },
  });
});

//followup sms toggle
$('#followup_sms_active').toggles(togglebuttonactive);
$('#followup_sms_inactive').toggles(togglebuttoninactive);
$('.followup_sms_active_inactive').on('toggle', function(e, active) {
//  dataConfirmModal.confirm({
//    title: 'Are you sure?',
//    text: 'Really do this?',
//    commit: 'Yes do it',
//    cancel: 'Not really',
//    zIindex: 10099,
//    onConfirm: function() {
//      alert('confirmed')
//    },
//    onCancel:  function() {
//      alert('cancelled')
//    }
//  });
  if (active) {
    var followup_sms_active_inactive = 'true'
  } else {
    var followup_sms_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/followup_sms_setting_save',
    data: {followup_sms_active_inactive: followup_sms_active_inactive, remote: "true" },
  });
});

//birthday sms toggle
$('#birthday_sms_active').toggles(togglebuttonactive);
$('#birthday_sms_inactive').toggles(togglebuttoninactive);
$('.birthday_sms_active_inactive').on('toggle', function(e, active) {
  if (active) {
    var birthday_sms_active_inactive = 'true'
  } else {
    var birthday_sms_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/birthday_sms_setting_save',
    data: {birthday_sms_active_inactive: birthday_sms_active_inactive, remote: "true" },
  });
});
//appointment sms toggle
$('#appointment_sms_active').toggles(togglebuttonactive);
$('#appointment_sms_inactive').toggles(togglebuttoninactive);
$('.appointment_sms_active_inactive').on('toggle', function(e, active) {
  if (active) {
    var appointment_sms_active_inactive = 'true'
  } else {
    var appointment_sms_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/appointment_sms_setting_save',
    data: {appointment_sms_active_inactive: appointment_sms_active_inactive, remote: "true" },
  });
});
//missed appointment sms toggle
$('#missed_sms_active').toggles(togglebuttonactive);
$('#missed_sms_inactive').toggles(togglebuttoninactive);
$('.missed_sms_active_inactive').on('toggle', function(e, active) {
    if (active) {
        var missed_sms_active_inactive = 'true'
    } else {
        var missed_sms_active_inactive = 'false'
    }
    jQuery.ajax({
        type: "GET",
        url: '/doctors/missed_sms_setting_save',
        data: {missed_sms_active_inactive: missed_sms_active_inactive, remote: "true" },
    });
});
//missed appointment sms toggle
$('#discharge_sms_active').toggles(togglebuttonactive);
$('#discharge_sms_inactive').toggles(togglebuttoninactive);
$('.discharge_sms_active_inactive').on('toggle', function(e, active) {
    if (active) {
        var discharge_sms_active_inactive = 'true'
    } else {
        var discharge_sms_active_inactive = 'false'
    }
    jQuery.ajax({
        type: "GET",
        url: '/doctors/discharge_sms_setting_save',
        data: {discharge_sms_active_inactive: discharge_sms_active_inactive, remote: "true" },
    });
});
//campaign sms toggle
$('#campaign_sms_active').toggles(togglebuttonactive);
$('#campaign_sms_inactive').toggles(togglebuttoninactive);
$('.campaign_sms_active_inactive').on('toggle', function(e, active) {
  if (active) {
    var campaign_sms_active_inactive = 'true'
  } else {;
    var campaign_sms_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/campaign_sms_setting_save',
    data: {campaign_sms_active_inactive: campaign_sms_active_inactive, remote: "true" },
  });
});

//visit sms toggle
$('#visit_sms_active').toggles(togglebuttonactive);
$('#visit_sms_inactive').toggles(togglebuttoninactive);
$('.visit_sms_active_inactive').on('toggle', function(e, active) {
  if (active) {
    var visit_sms_active_inactive = 'true'
  } else {;
    var visit_sms_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/visit_sms_setting_save',
    data: {visit_sms_active_inactive: visit_sms_active_inactive, remote: "true" },
  });
});

//longoverdue sms toggle
$('#long_overdue_sms_active').toggles(togglebuttonactive);
$('#long_overdue_sms_inactive').toggles(togglebuttoninactive);
$('.long_overdue_sms_active_inactive').on('toggle', function(e, active) {
  if (active) {
    var long_overdue_sms_active_inactive = 'true'
  } else {;
    var long_overdue_sms_active_inactive = 'false'
  }
  jQuery.ajax({
    type: "GET",
    url: '/doctors/long_overdue_sms_setting_save',
    data: {long_overdue_sms_active_inactive: long_overdue_sms_active_inactive, remote: "true" },
  });
});

//function readURL(input) {
//  if (input.files && input.files[0]) {
//    var reader = new FileReader();
//    reader.onload = function (e) {
//      $('#thumb').attr('src', e.target.result);
//    }
//    reader.readAsDataURL(input.files[0]);
//  }
//}
//$("#logo_pic").change(function(){
//  readURL(this);
//});
var summernote_options = {
  toolbar: [
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['fontsize', ['fontsize']],
    ['height', ['height']],
    ['fontname', ['fontname']],
  ],height: 200,
    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','Georgia','Times New Roman','Palatino Linotype','Lucida Console','Verdana','Trebuchet MS','Helvetica','English111 Adagio BT Regular','Impact']
};
$('#left_header_text').summernote(summernote_options);
jQuery('#left_text').summernote(summernote_options);
$('#right_header_text').summernote(summernote_options);
jQuery('#right_text').summernote(summernote_options);
jQuery('#header_text').summernote(summernote_options);
$('#footer_text').summernote(summernote_options);

$(".note-editor").removeClass('panel-default').addClass('panel-success')


function appointment_type_page() {
  $("#appointment_types").validate({

    errorElement: 'div',
    errorPlacement: function (error, element) {
      error.insertAfter(element);
    }
  });

}
appointment_type_page()

//==== custom validation neccessary for nested attributes -anoop

// alias required to cRequired with new message
// $.validator.addMethod("LabelRequired", $.validator.methods.required, "Label cannot be blank");
// $.validator.addMethod("SlotRequired", $.validator.methods.required, "Slot time cannot be blank");
// $.validator.addMethod("INumber", $.validator.methods.number, "Please enter a number");

// jQuery.validator.addMethod("mintimeslot", function(value, element) {
//   return this.optional(element) || value >= 5;
// }, jQuery.validator.format("Please enter the Value more than or equal to 5"));


// $.validator.addClassRules("appointment-label-validation", { LabelRequired: true});
// $.validator.addClassRules("slot-duration-validation", { SlotRequired: true, INumber: true, mintimeslot: true});
//
//$("#discharge_sms_time").on('change',function(){
//console.log("asasas")
//})

