<div class="row" id="print-customisation-alert-messages"></div>
<div class="row" id="customised_letter_head_alert_false"></div>
<div class="row mb10">
  <div class="col-md-4">
    <select class="print-setting-dropdown pull-right" id="facility-dropdown">
      <option value="">
        All Facilities
      </option>
      <% @current_user_facility_settings.each_with_index do |facility_setting,i| %>
          <option value="<%=  facility_setting['_id'] %>">
            <%= facility_setting['facility_name'] %>
          </option>
      <% end %>

    </select>
  </div>
  <div class="col-md-4" >
    <select class="print-setting-dropdown pull-right" id="department-dropdown">
      <% if current_user.role_ids.any?{|i| [160943002,6868009].include?i}%>
          <option value="all">
            All Departments
          </option>
          <option value="opd">
            OPD
          </option>
          <option value="ipd">
            IPD
          </option>
          <option value="optical">
            Optical
          </option>
          <option value="invoice">
            Receipt
          </option>
          <option value="pharmacy">
            Pharmacy
          </option>
          <option value="radiology">
            Radiology
          </option>
          <option value="lab">
            Laboratory
          </option>
          <option value="ophthal">
            Ophthal Investigation
          </option>
      <% elsif current_user.role_ids.include?158965000 %>
          <option value="opd">
            OPD
          </option>
          <option value="ipd">
            IPD
          </option>
      <% end %>


    </select>
  </div>
  <% if current_user.role_ids.any?{|i| [160943002,6868009].include?i} %>
      <div class="col-md-4">
        <select class="print-setting-dropdown pull-right" id="user-dropdown">
          <option value="all">
            All Doctors
          </option>
          <%@current_user_facility_settings[0]['user_sms_feature'].each do |key,value|%>
              <option value="<%= key %>">
                Dr. <%=  @current_user_facility_settings[0]['user_sms_feature'][key]['name'] %>
              </option>
          <% end %>

        </select>
      </div>
  <% end %>

</div>
