<div class="col-md-8 alert alert-info">Here you can choose whether to use default time queues or token system for daily appointments.</div>

<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>


<%= form_tag("/doctors/save_queue_settings",method: "post",:remote=>true,:id=>"queue_types",:class => "form form-bordered") do  %>
    <div class="col-md-offset-9 col-md-3"><%= submit_tag("Save Queue Types",{:class=>"btn btn-success"}) %></div>

    <%= text_field_tag :walkin_start_from ,@queue_settings.try(:walkin_start_from),class: 'form-control message',rows: "6",placeholder: "Enter your SMS"%>



<% end %>

<style type="text/css">
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>

<script>

//  function appointment_type_page() {
//    $("#appointment_types").validate({
//
//      errorElement: 'div',
//      errorPlacement: function (error, element) {
//        error.insertAfter(element);
//      }
//    });
//
//  }
//  appointment_type_page()
//
//  // alias required to cRequired with new message
//  $.validator.addMethod("LabelRequired", $.validator.methods.required, "Label cannot be blank");
//  $.validator.addMethod("SlotRequired", $.validator.methods.required, "Slot time cannot be blank");
//  $.validator.addMethod("INumber", $.validator.methods.number, "Please enter a number");
//
//  jQuery.validator.addMethod("mintimeslot", function(value, element) {
//    return this.optional(element) || value >= 5;
//  }, jQuery.validator.format("Please enter the Value more than or equal to 5"));
//
//
//  $.validator.addClassRules("appointment-label-validation", { LabelRequired: true});
//  $.validator.addClassRules("slot-duration-validation", { SlotRequired: true, INumber: true, mintimeslot: true});
</script>

