<div class="column col-sm-3 col-lg-2" style="border-right: 1px solid #c7c6c7;margin-left: -22px;">
  <div style="border:0;padding-top:0" class="fill header zerotop">
    <h3 style="color: #1D2939;">Departments</h3>
  </div>
  <ul class="nav nav-pills nav-stacked nav-email">
    <li style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd">
      <a href="#">
        OPD
      </a>
    </li>
    <li><a href="#"> IPD</a></li>
    <li><a href="#"> OPTICAL</a></li>
    <li><a href="#">INVOICE</a></li>
    <li><a href="#">RADIOLOGY</a></li>
    <li><a href="#">OPHTHAL INV</a></li>
    <li><a href="#">LABORATORY</a></li>
  </ul>

  <div class="mb30"></div>
</div>

<!--Header left-->
<div class="pageheader col-sm-10" style="padding: 7px;background: none">
  <h2 class="col-md-6 "><i class="fa fa-play"></i> Preview <span>Templates Preview ...</span></h2>
   <span class="col-md-3  pull-right">
     <select class="print-setting-dropdown" id="facility-dropdown">
       <option value="">
         All Facilities
       </option>
       <% @current_user_facility_settings.each_with_index do |facility_setting,i| %>
           <option value="<%=  facility_setting['_id'] %>">
             <%= facility_setting['facility_name'] %>
           </option>
       <% end %>

     </select>
   </span>

</div>