<div class="modal-dialog modal-md" style="width: 663.85px">
  <div class="modal-content">
    <div class="modal-header hidden-print">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Birthday SMS Customization</h4>
    </div>
    <div class="modal-body">
      <%= render 'show_birthday_sms'%>
    </div>
    <div class="modal-footer hidden-print">

    </div>
  </div>
</div>