<div class="row">
  <label class="col-md-4 label label-primary">
    For Patient's Name use %pat_name%
  </label>
  <label class="col-md-4 label label-primary">
    For Doctor's Name use %doc_name%
  </label>
  <label class="col-md-4 label label-primary">
    For Followup date use %fol_date%
  </label>
  <label class="col-md-4 label label-danger">
    For Facility's Number use %fac_no%
  </label>
  <label class="col-md-4 label label-danger">
    For Facility Name use %fac_name%
  </label>
  <label class="col-md-4 label label-danger">
    For Organisation Name use %org_name%
  </label>
</div>

