<div class="contentpanel">
  <%= render "practice_settings" %>
  <script type="application/javascript">
    $(document).ready(function(){
      <%= render partial: 'practice_setting.js' %>
    })
  </script>
</div>
