<br>

<table id="inventory-departments">
  <tr>
    <td>
      <div class="ckbox ckbox-success">
        <input type="checkbox" class="" value="central" checked="checked" disabled="disabled" value="284747006" id="central">
        <label for="central">Central</label>
      </div>
    </td>
    <td>
      <div class="ckbox ckbox-success">
         <input type="checkbox" value="284748001" id="pharmacy">
        <label for="pharmacy"> Pharmacy</label>
      </div>
    </td>
    <td>
      <div class="ckbox ckbox-success">
        <input type="checkbox" value="50121007" id="optical" >
        <label for="optical"> Optical Shop</label>
      </div>
    </td>

  </tr>
  <tr >
    <td>
      <div class="ckbox ckbox-success">
        <input type="checkbox" value="225746001" id="ward"   >
        <label for="ward"> Ward</label>
      </div>
    </td>
    <td>
      <div class="ckbox ckbox-success">
        <input type="checkbox" value="261904005" id="lab"  >
        <label for="lab"> Laboratory</label>
      </div>
    </td>
  </tr>
  <tr >
    <td>
      <div class="ckbox ckbox-success">
        <input type="checkbox" value="309964003" id="radio"   >
        <label for="radio"> Radiology</label>
      </div>
    </td>
    <td>
      <div class="ckbox ckbox-success">
         <input type="checkbox" value="224608005" id="admin"  >
        <label for="admin"> Adminstration</label>
      </div>
    </td>
  </tr>
  <tr>
    <td>

        <b class="control-label"style="font-size: 14px">
          Ophthalmology</b>

    </td>
  </tr>
  <tr id="hidden-opthal-departments">
    <th>
      <div class="ckbox ckbox-success">
         <input type="checkbox" value="309988001_387713003" id="ophthal-ot" >
        <label for="ophthal-ot">  OT</label>
      </div>
    </th>
    <th>
      <div class="ckbox ckbox-success">
        <input type="checkbox" value="309988001_440655000" id="ophthal-opd" >
        <label for="ophthal-opd">OPD</label>
      </div>
    </th>
    <th>
      <div class="ckbox ckbox-success">
         <input type="checkbox" value="309988001_440654001" id="ophthal-ipd" >
        <label for="ophthal-ipd"> IPD</label>
      </div>
    </th>
    <th>
      <div class="ckbox ckbox-success">
         <input type="checkbox" value="309988001_73770003" id="ophthal-er" >
        <label for="ophthal-er"> ER</label>
      </div>
    </th>
  </tr>
  <tr>
    <td>

        <b class="control-label">
          Orthopedics</b>

    </td>
  </tr>
  <tr id="hidden-ortho-departments">
    <th>
      <div class="ckbox ckbox-success">
         <input type="checkbox" value="309989009_387713003" id="ortho-ot" >
        <label for="ortho-ot">OT</label>
      </div>
    </th>
    <th>
      <div class="ckbox ckbox-success">
       <input type="checkbox" value="309989009_440655000" id="ortho-opd" >
        <label for="ortho-opd"> OPD</label>
      </div>
    </th>
    <th>
      <div class="ckbox ckbox-success">
         <input type="checkbox" value="309989009_440654001" id="ortho-ipd"  >
        <label for="ortho-ipd">  IPD</label>
      </div>
    </th>
    <th>
      <div class="ckbox ckbox-success">
         <input type="checkbox" value="309989009_73770003" id="ortho-er" >
        <label for="ortho-er">  ER</label>
      </div>
    </th>
  </tr>
</table>
<br>






