<% user_state = current_user.facilities.pluck(:counsellor_counsels_investigation).uniq %>
<% if user_state == [false] %>
    <% counsellor_counsels_investigation = false %>
    <% counsellor_counsels_investigation_f = true %>
<% else %>
    <% counsellor_counsels_investigation = true %>
    <% counsellor_counsels_investigation_f = false %>
<% end %>
<div class="col-md-6 text-right">
  <b>Counsellor Counsells Investigation</b>
</div>
<div class="col-md-4 radio_buttons_passcodes">
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="counsellor_counsels_investigation" class="counsellor_counsels_investigation" id="counsellor_counsels_investigation_yes" value="true" <%= 'checked="checked"' if @facility.try(:counsellor_counsels_investigation) == true || counsellor_counsels_investigation %> />
    <label for="counsellor_counsels_investigation_yes">Yes</label>
  </div>
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="counsellor_counsels_investigation" class="counsellor_counsels_investigation" id="counsellor_counsels_investigation_no" value="false" <%= 'checked="checked"' if @facility.try(:counsellor_counsels_investigation) == false || counsellor_counsels_investigation_f %> />
    <label for="counsellor_counsels_investigation_no">No</label>
  </div>
</div>
<div class="col-md-2">
  <button class="btn btn-success counsellor_submit_button">Save</button>
</div>


<script type="text/javascript">
    // Trigger Initial Click
    $('input[name=counsellor_counsels_investigation]:checked', '.radio_buttons_passcodes').trigger('click')
    // Submit Button Ajax Call
    $(".counsellor_submit_button").on('click', function(e){
        e.preventDefault();
        var facility = $('.facility-dropdown-for-finance').val()
        var counsellor_counsels_investigation = $('input[name=counsellor_counsels_investigation]:checked', '.radio_buttons_passcodes').val()
        $(".validation_passcode").remove()
        $(this).html("Please Wait..")
        $(this).attr('disabled', 'disabled')
        $.ajax({
            type: "GET",
            url: "/organisations/open_payment_taken",
            data: {
                counsellor_counsels_investigation: counsellor_counsels_investigation,
                facility: facility
            },
            success: function(){
                location.reload();
            }
        })
    })
</script>