<div class="modal fade" tabindex="-1" role="dialog" id="modal-edit-inventory" width="50%">
  <div class="modal-dialog"style=" width: 50%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Inventory</h4>
      </div>

      <div class="modal-body">
        <div class="department_content"></div>
      </div>

      <div class="modal-footer">
        <% facility = Facility.find_by(id: @facility_id)%>
        <button type="button" class="btn btn-primary pull-left"id="save_selcted_invontory">Save</button>
      </div>
    </div>
  </div>
</div>







