<span class="queryedit" style="margin-right: 10px;color: darkblue"><%= @organisation.query_contact%></span>&nbsp;
<span class="fa fa-edit edit-contact" style="cursor: pointer"></span>

<script>
    $(".edit-contact").on('click',function(){
        var phone_number = $(".queryedit").text()
        $.ajax({
            data: {number: phone_number},
            url: '/organisations/edit_query_number'
        })
    })
</script>