<div class="modal-dialog" style="width: 60%">
  <% if @ip_status == 'Enabled' %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color: #1E90FF">Warning Sensitive Action</h4>
      </div>
      <div class="modal-body window-body">
        <b>Once IP whitelisting is disabled all the users across all the facilities will be able to access EHR through any IP Address / Location:</b><br><br>
        <span>Are you sure you want to proceed?</span>
      </div>
      <div class="modal-footer window-footer">
        <%= link_to organisations_save_ip_whitelisting_path(id: @organisation_id, ip_status: 'disabled', is_ip_whitelisted: false), id: 'disable_ip_whitelisitng', data: { remote: true }, class: 'btn btn-xs btn-danger save-ip-whitelisting' do %>Yes Disable IP Whitelisting<% end %>
        <!-- <button type="button" class="btn btn-danger">Yes Disable IP Whitelisting</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
      </div>
    </div>
  <% else %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color: #1E90FF">Warning you are about to enable IP Whitelisting</h4>
      </div>
      <div class="modal-body window-body">
        <b>You may want to consider the following and take actions before proceedings:</b><br><br>
        <span style="color: red;">Active Facilities without any whitelisted IPs: <%= @has_not_ip_addres_count %></span>&emsp;&emsp;<button class="btn btn-xs btn-primary disabled"><i class="fa fa-download mr5"></i>&nbsp;Get List</button><br>
        <strong>Suggestion:</strong><br>
        <ul>
          <li><span>You can edit individual facility and from security tab add trusted IPs for users within that facility. </span></li>
        </ul>

        <span style="color: red;">Non Admin Active Users with open access across all facilities: <%= @non_restrcited_user_count %></span>&emsp;&emsp;<button class="btn btn-xs btn-primary disabled"><i class="fa fa-download mr5"></i>&nbsp;Get List</button><br>
        <strong>Suggestion:</strong><br>
        <ul>
          <li><span>You may choose to leave them with open access this would mean they can access from any IP Address/Location.</span><br></li>
          <li><span>Alternatively you may choose to edit individual user and select 'Restricted Access'. Note: if you restrict access but the facility they are linked to has not added any trusted IPs this would mean that the user may not be able to loin into EHR</span></li>
        </ul>
      </div>
      <div class="modal-footer window-footer">
        <%= link_to organisations_save_ip_whitelisting_path(id: @organisation_id, ip_status: 'enabled', is_ip_whitelisted: true), id: 'enable_ip_whitelisitng', data: { remote: true }, class: 'btn btn-xs btn-success save-ip-whitelisting' do %>Enable IP Whitelisting<% end %>
        <!-- <button type="button" class="btn btn-primary">Enable IP Whitelisting</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.save-ip-whitelisting').on('click', function() {
    $("#ip-whitelisting-modal").modal('hide');
  })
</script>