<% if facility_setting['sms_feature'] %>
    <div class="toggle-success facility_sms_active" data-confirm="You really want to Change SMS Settings for this Location ?" data-commit="No"  data-type="facility" data-user-id="<%= current_user.id %>" data-facility-id="<%= facility_setting['facility_id'] %>" data-cancel="Yes"></div>

<% else %>
    <div class="toggle-success facility_sms_inactive" data-confirm="You really want to Change SMS Settings for this Location?" data-commit="No" data-type="facility" data-user-id="<%= current_user.id %>" data-facility-id="<%= facility_setting['facility_id'] %>" data-cancel="Yes"></div>
<% end %>
<script>
    var togglebuttoninactive = {
        off: true,
    }
    var togglebuttonactive = {
        on: true,
    };
    $('.facility_sms_inactive').toggles(togglebuttoninactive);
    $('.facility_sms_active').toggles(togglebuttonactive);
    $(".toggle-success").on('toggle', function(e, active) {

        if (active) {
            var visit_sms_active_inactive = 'true'
        } else {;
            var visit_sms_active_inactive = 'false'
        }
        console.log(visit_sms_active_inactive)
        var user_id= $(this).attr("data-user-id")
        var facility_id= $(this).attr("data-facility-id")
        var type= $(this).attr("data-type")
        jQuery.ajax({
            type: "GET",
            url: '/organisations/set_facility_settings',
            data: {sms_active_inactive: visit_sms_active_inactive,user_id: user_id,facility_id: facility_id,type:type, remote: "true" },
        });
    });
</script>