<% finance = current_user.facilities.pluck(:show_finances).uniq %>
<% if finance == [false] %>
  <% show_finances = false %>
  <% show_finances_disabled = true %>
<% else %>
  <% show_finances = true %>
  <% show_finances_disabled = false %>
<% end %>
<div class="col-md-6 text-right">
  <b>Display Finances & Receipts</b>
</div>
<div class="col-md-4 radio_buttons_passcode">
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="show_finances" class="show_finances" id="show_finances_yes" value="true" <%= 'checked="checked"' if @facility.try(:show_finances) == true || show_finances %> />
    <label for="show_finances_yes">Yes</label>
  </div>
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="show_finances" class="show_finances" id="show_finances_no" value="false" <%= 'checked="checked"' if @facility.try(:show_finances) == false || show_finances_disabled %> />
    <label for="show_finances_no">No</label>
  </div>
</div>
<div class="col-md-2">
  <button class="btn btn-success finance_submit_button">Save</button>
</div>


<script type="text/javascript">
  // Trigger Initial Click
  $('input[name=show_finances]:checked', '.radio_buttons_passcode').trigger('click')
  // Submit Button Ajax Call
  $(".finance_submit_button").on('click', function(e){
    e.preventDefault();
    var facility = $('.facility-dropdown-for-finance').val()
    var show_finances = $('input[name=show_finances]:checked', '.radio_buttons_passcode').val()
    $(".validation_passcode").remove()
    $(this).html("Please Wait..")
    $(this).attr('disabled', 'disabled')
    $.ajax({
      type: "GET",
      url: "/organisations/show_finances",
      data: {
        show_finances: show_finances,
        facility: facility
      },
      success: function(){
        location.reload();
      }
    })
  })
</script>