<% language_support = current_user.facilities.pluck(:show_language_support).uniq %>
<% if language_support == [false] %>
  <% show_language_support = false %>
  <% show_language_support_disabled = true %>
<% else %>
  <% show_language_support = true %>
  <% show_language_support_disabled = false %>
<% end %>
<div class="col-md-6 text-right">
  <b>Use Language Support Feature</b>
</div>
<div class="col-md-4 radio_buttons_passcodes">
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="show_language_support" class="show_language_support" id="show_language_support_yes" value="true" <%= 'checked="checked"' if @facility.try(:show_language_support) == true || show_language_support %> />
    <label for="show_language_support_yes">Yes</label>
  </div>
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="show_language_support" class="show_language_support" id="show_language_support_no" value="false" <%= 'checked="checked"' if @facility.try(:show_language_support) == false || show_language_support_disabled %> />
    <label for="show_language_support_no">No</label>
  </div>
</div>
<div class="col-md-2">
  <button class="btn btn-success language_support_submit_button">Save</button>
</div>


<script type="text/javascript">
  // Trigger Initial Click
  $('input[name=show_language_support]:checked', '.radio_buttons_passcodes').trigger('click')
  // Submit Button Ajax Call
  $(".language_support_submit_button").on('click', function(e){
    e.preventDefault();
    var facility = $('.facility-dropdown-for-finance').val()
    var show_language_support = $('input[name=show_language_support]:checked', '.radio_buttons_passcodes').val()
    $(".validation_passcode").remove()
    $(this).html("Please Wait..")
    $(this).attr('disabled', 'disabled')
    $.ajax({
      type: "GET",
      url: "/organisations/show_language_support",
      data: {
        show_language_support: show_language_support,
        facility: facility
      },
      success: function(){
        location.reload();
      }
    })
  })
</script>