<% user_state = current_user.facilities.pluck(:show_user_state).uniq %>
<% if user_state == [false] %>
  <% show_user_state = false %>
  <% show_user_state_disabled = true %>
<% else %>
  <% show_user_state = true %>
  <% show_user_state_disabled = false %>
<% end %>
<div class="col-md-6 text-right">
  <b>Use Online/Offline Feature</b>
</div>
<div class="col-md-4 radio_buttons_passcodes">
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="show_user_state" class="show_user_state" id="show_user_state_yes" value="true" <%= 'checked="checked"' if @facility.try(:show_user_state) == true || show_user_state %> />
    <label for="show_user_state_yes">Yes</label>
  </div>
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="show_user_state" class="show_user_state" id="show_user_state_no" value="false" <%= 'checked="checked"' if @facility.try(:show_user_state) == false || show_user_state_disabled %> />
    <label for="show_user_state_no">No</label>
  </div>
</div>
<div class="col-md-2">
  <button class="btn btn-success userstate_submit_button">Save</button>
</div>


<script type="text/javascript">
  // Trigger Initial Click
  $('input[name=show_user_state]:checked', '.radio_buttons_passcodes').trigger('click')
  // Submit Button Ajax Call
  $(".userstate_submit_button").on('click', function(e){
    e.preventDefault();
    var facility = $('.facility-dropdown-for-finance').val()
    var show_user_state = $('input[name=show_user_state]:checked', '.radio_buttons_passcodes').val()
    $(".validation_passcode").remove()
    $(this).html("Please Wait..")
    $(this).attr('disabled', 'disabled')
    $.ajax({
      type: "GET",
      url: "/organisations/show_user_state",
      data: {
        show_user_state: show_user_state,
        facility: facility
      },
      success: function(){
        location.reload();
      }
    })
  })
</script>