<div class="row">
  <div class="col-md-2 text-right">
    Select Location :
  </div>
  <div class="col-md-3">
    <select class="form-control facility-dropdown-for-finance" id="facility-dropdown-for-finance">
      <option value="0">All Facility</option>
      <% current_user.facilities.each do |facility| %>
        <option value="<%= facility.id.to_s %>"><%= facility.name %></option>
      <% end %>
    </select>
  </div>
</div>
<div class="row" style="margin-top:50px;">
  <div class="col-md-6">
    <div class="row" id="show-fac-options">
    </div>
  </div>
  <div class="col-md-6">
    <div class="row" id="show-userstate-options">
    </div>
  </div>
</div>
<hr>
<div class="row" style="margin-top:50px;">
  <div class="col-md-6">
    <div class="row" id="counsellor-counseles-options">
    </div>
  </div>
  <div class="col-md-6">
    <div class="row" id="token-settings">
    </div>
  </div>
</div>
<hr>
<div class="row" style="margin-top:50px;">
  <div class="col-md-6">
    <div class="row" id="language-support-settings">
    </div>
  </div>
  <div class="col-md-6">
    <div class="row" id="payment-type-settings">
    </div>
  </div>
</div>
<hr>
<div class="row" style="margin-top:50px;">
  <% if current_facility.show_finances %>
    <div class="col-md-6">
      <div class="row" id="invoice-compulsory">
      </div>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="row" id="referral-note">
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".facility-dropdown-for-finance").on('change', function(){
    var facility = $(this).val()
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        facility: facility
      },
      url: '/organisations/finance_facility_change',
      success: function(){
      }
    })
  })
  $(".facility-dropdown-for-finance").trigger('change')
</script>