<% hide_referral_note = current_user.facilities.pluck(:hide_referral_note).uniq %>
<% if hide_referral_note == [false] %>
    <% hide_referral_note = false %>
    <% hide_referral_note_disabled = true %>
<% else %>
    <% hide_referral_note = true %>
    <% hide_referral_note_disabled = false %>
<% end %>
<div class="col-md-6 text-right">
  <b>Hide Doctor Refferal Note</b>
</div>
<div class="col-md-4 radio_buttons_ic">
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="hide_referral_note" class="hide_referral_note" id="hide_referral_note_yes" value="true" <%= 'checked="checked"' if @facility.try(:hide_referral_note) == true || hide_referral_note %> />
    <label for="hide_referral_note_yes">Yes</label>
  </div>
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="hide_referral_note" class="hide_referral_note" id="hide_referral_note_no" value="false" <%= 'checked="checked"' if @facility.try(:hide_referral_note) == false || hide_referral_note_disabled %> />
    <label for="hide_referral_note_no">No</label>
  </div>
</div>
<div class="col-md-2">
  <button class="btn btn-success btn-doctor-referance-compulsory">Save</button>
</div>

<script type="text/javascript">
  // Trigger Initial Click
  $('input[name=hide_referral_note]:checked', '.radio_buttons_ic').trigger('click')
  // Submit Button Ajax Call
  $(".btn-doctor-referance-compulsory").on('click', function(e){
    e.preventDefault();
    var facility = $('.facility-dropdown-for-finance').val()
    var hide_referral_note = $('input[name=hide_referral_note]:checked', '.radio_buttons_ic').val()
    $(this).html("Please Wait..")
    $(this).attr('disabled', 'disabled')
    $.ajax({
      type: "GET",
      url: "/organisations/hide_referral_note",
      data: {
        hide_referral_note: hide_referral_note,
        facility: facility
      },
      success: function(){
        location.reload();
      }
    })
  })
</script>