<% invoice_compulsory = current_user.facilities.pluck(:invoice_compulsory).uniq %>
<% if invoice_compulsory == [false] %>
    <% invoice_compulsory = false %>
    <% invoice_compulsory_disabled = true %>
<% else %>
    <% invoice_compulsory = true %>
    <% invoice_compulsory_disabled = false %>
<% end %>
<div class="col-md-6 text-right">
  <b>Enable Invoice Compulsion</b>
</div>
<div class="col-md-4 radio_buttons_ic">
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="invoice_compulsory" class="invoice_compulsory" id="invoice_compulsory_yes" value="true" <%= 'checked="checked"' if @facility.try(:invoice_compulsory) == true || invoice_compulsory %> />
    <label for="invoice_compulsory_yes">Yes</label>
  </div>
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="invoice_compulsory" class="invoice_compulsory" id="invoice_compulsory_no" value="false" <%= 'checked="checked"' if @facility.try(:invoice_compulsory) == false || invoice_compulsory_disabled %> />
    <label for="invoice_compulsory_no">No</label>
  </div>
</div>
<div class="col-md-2">
  <button class="btn btn-success btn-invoice-compulsory">Save</button>
</div>


<script type="text/javascript">
    // Trigger Initial Click
    $('input[name=invoice_compulsory]:checked', '.radio_buttons_ic').trigger('click')
    // Submit Button Ajax Call
    $(".btn-invoice-compulsory").on('click', function(e){
        e.preventDefault();
        var facility = $('.facility-dropdown-for-finance').val()
        var invoice_compulsory = $('input[name=invoice_compulsory]:checked', '.radio_buttons_ic').val()
        $(this).html("Please Wait..")
        $(this).attr('disabled', 'disabled')
        $.ajax({
            type: "GET",
            url: "/organisations/invoice_compulsory",
            data: {
                invoice_compulsory: invoice_compulsory,
                facility: facility
            },
            success: function(){
                location.reload();
            }
        })
    })
</script>