<div class="row">
  <div class="col-md-2 text-right">
    Select Location :
  </div>
  <div class="col-md-3">
    <select class="form-control facility-dropdown-for-admission">
      <option value="0" selected='selected'>All Facility</option>
      <% current_user.facilities.each do |facility| %>
        <option value="<%= facility.id.to_s %>"><%= facility.name %></option>
      <% end %>
    </select>
  </div>
</div>
<div class="row" id="show-scheduled-list-option-box" style="margin-top:50px;">
</div>

<script type="text/javascript">
  $(".facility-dropdown-for-admission").on('change', function(){
    var facility = $(this).val()
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        facility: facility
      },
      url: '/organisations/scheduled_list_settings',
      success: function(){
      }
    })
  })
  $(".facility-dropdown-for-admission").trigger('change')
</script>