<input type="text" class="query-contact" value="<%= @phone_number %>" placeholder="Contact No.">
<a href="#" class="btn btn-xs btn-primary save-contact">Save</a>
<script>
    $(".save-contact").on('click',function(e){
        e.preventDefault();
        var phone_number = $(".query-contact").val()
        $.ajax({
            data: {number: phone_number},
            url: '/organisations/save_query_number'
        })
    })
</script>