 <a class="fa fa-plus btn btn-primary" id='add inventory' href="/organisations/add_inventory_button" data-remote="true" style="color: white"><strong >Inventories</strong></a>



<div class="modal-add"></div>
<br>
<div class="all-inventories"></div>`
