<% consultancy_type_enabled = current_user.facilities.pluck(:consultancy_type_enabled).uniq %>
<% if consultancy_type_enabled == [false] %>
    <% consultancy_type_enabled = false %>
    <% consultancy_type_disabled = true %>
<% else %>
    <% consultancy_type_enabled = true %>
    <% consultancy_type_disabled = false %>
<% end %>
<div class="col-md-6 text-right">
  <b>Show Consultancy Type Popup</b>
</div>
<div class="col-md-4 radio_buttons_consultancys">
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="consultancy_type_enabled" class="consultancy_type_enabled" id="consultancy_type_enabled_yes" value="true" <%= 'checked="checked"' if @facility.try(:consultancy_type_enabled) == true || consultancy_type_enabled %> />
    <label for="consultancy_type_enabled_yes">Yes</label>
  </div>
  <div class="rdio rdio-primary col-md-6">
    <input type="radio" name="consultancy_type_enabled" class="consultancy_type_enabled" id="consultancy_type_enabled_no" value="false" <%= 'checked="checked"' if @facility.try(:consultancy_type_enabled) == false || consultancy_type_disabled %> />
    <label for="consultancy_type_enabled_no">No</label>
  </div>
</div>
<div class="col-md-2">
  <button class="btn btn-success counsellor_submit_button">Save</button>
</div>


<script type="text/javascript">
    // Trigger Initial Click
    $('input[name=consultancy_type_enabled]:checked', '.radio_buttons_consultancys').trigger('click')
    // Submit Button Ajax Call
    $(".counsellor_submit_button").on('click', function(e){
        e.preventDefault();
        var facility = $('.facility-dropdown-for-finance').val()
        var consultancy_type_enabled = $('input[name=consultancy_type_enabled]:checked', '.radio_buttons_consultancys').val()
        $(".validation_passcode").remove()
        $(this).html("Please Wait..")
        $(this).attr('disabled', 'disabled')
        $.ajax({
            type: "GET",
            url: "/organisations/show_consultancy_type",
            data: {
                consultancy_type_enabled: consultancy_type_enabled,
                facility: facility
            },
            success: function(){
                location.reload();
            }
        })
    })
</script>