<script type="text/javascript">
    <%= render partial: 'new_organisation_helper.js' %>
</script>
<div class="logopanel">
  <img alt="Hglogo" height="30" src="/assets/healthgraph_full.png" width="225">

  <p class="mt5 pull-right"><%= link_to '<strong>Sign In</strong>'.html_safe, users_login_path, {class: 'btn btn-info ps', :data => {:remote => true}} %></p>
</div>
<section>


  <div class="row acc-wizard">
    <div class="col-md-2 margin-top-5per">
      <ol class="acc-wizard-sidebar">
        <li class="acc-wizard-todo"><a href="#basic_details">Basic Details</a></li>
        <li class="acc-wizard-todo"><a href="#add_facilities">Add Facilities</a></li>
        <li class="acc-wizard-todo"><a href="#add_users">Add Users</a></li>
      </ol>
    </div>
    <div id="signuppanel" class="signuppanel">
      <%= render 'signup' %>
    </div>
  </div>
</section>
