<% @i = 0 %>
<% @num = 22 %>
<div class="col-md-5 col-md-offset-1">
  <b>Scheduled List to Show for Last &emsp;
  <select class="scheduled_list_count">
    <% while @i < @num  do %>
      <option value="<%= @i %>" <%= 'selected="selected"' if @count == @i %>><%= @i %></option>       
      <% @i +=1 %>
    <% end %>
  </select>
  &emsp;Days</b>
</div>
<div class="col-md-1">
  <button class="btn btn-success submit_button">Save</button>
</div>


<script type="text/javascript">
  // Submit Button Ajax Call
  $(".submit_button").on('click', function(e){
    e.preventDefault();
    var facility = $(".facility-dropdown-for-admission").val()
    var count = $(".scheduled_list_count").val()
    $.ajax({
      type: "GET",
      url: "/organisations/scheduled_list_count",
      data: {
        facility: facility,
        count: count
      },
      success: function(){
        notice = new PNotify({ title: 'Success', text: 'Succesfully Saved', type: 'success' });
        notice.get().click(function(){ notice.remove() })
      }
    })
  })
</script>