<%#= fac_setting['facility_name']%>
<% fac_setting['user_sms_feature'].each do |key,value|  %>
  <% if fac_setting['user_sms_feature'][key]['sms_feature'] and fac_setting['user_sms_feature'][key]['is_active'] %>
      <label class="label label-success">Dr. <%=  fac_setting['user_sms_feature'][key]['name'] %></label>
  <% end %>
<% end %>
<%@sms_type.each do |key,value|%>
  <% if fac_setting["#{key}_sms_active_inactive"] %>
      <label class="label label-primary"><%= value %></label>
  <%end%>
<%end%>
