<section>
  <div class="signinpanel">
    <form id="upload-form" class="simple_form session" enctype="multipart/form-data" action="/organisations/bulk_create" accept-charset="UTF-8" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-4"><input type="file" name="bulk_file" class="form-control"></div>
      </div>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-4"><input type="password" placeholder="Passkey" name="key" class="form-control"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <button class="btn btn-primary">Upload</button>
        </div>
      </div>
    </form>
  </div>
</section>
