<% if @org.present? %>
    <h3>Hospitals successfully created. They can continue with the signup procedure.</h3>
    <% if @error_rows.count != 0 %>
        <h3> the following rows are not processed <%= @error_rows.join(',') %>. Please fix the issues and upload only that rows in seperate sheet. Other rows are proccesed</h3>
    <% end %>
<% else %>
    <h3>Please check the passkey or some data inconsistency is there. Please make sure you are uploading xls with specified format.</h3>

<% end %>