<!DOCTYPE html> 
<html>
   <head>
   <title>Privacy Policy</title>
<style>
  .navbar-brand {
  float: none;
  }

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}

</style>
   </head>
   <body>
       <nav class="navbar navbar-default navbar-fixed-top" style="height: 8%;" >
        <div class="navbar-header">
            <%= image_tag "healthgraph_full.png", :class => "logo", width: '200' %>
        </div>
        <div class="navbar-center">
          <h2> Privacy Policy </h2>
        </div>
  </nav>

   <div class="col-md-2"></div>
   <div class="col-md-8" style="margin-top: 80px; margin-bottom: 50px;">
      <ol type="i">
         <li>         HealthGraph India Private Limited (<strong>“HealthGraph”</strong>,<strong> “we”</strong>
            or <strong>“us”</strong>) are fully
            committed to respecting your privacy and shall ensure that your personal
            information is safe with us. This privacy policy sets out the information
            practices of www.healthgrap.in and its sub-domains (ehr.healthgraph.in,
            phr.healthgraph.in and others) and use of the Hospital Managment System
            (HMS), Electronic Health Records EHR),  Person Health Record PHR)
            applications for mobiles and other devices (<strong>“Application”</strong>) including the type
            of information that is collected, how the information is collected, how the
            information is used and with whom it is shared.  Reference to <strong>“you”</strong> in this
            Privacy Policy refers to the users of this Application and Customers whether
            or
            not you access the services available on the Application or consummate any
            transaction on the Application (<strong>“Users”</strong>).     
         </li>
         <li>
            HealthGraph is a company that is in the business of licensing its
            clinical practice
            management software, hospital management system software including but not
            limited to hosting, development and/or maintenance services to its customers
            (<strong>“Services”</strong>). HealthGraph’s customers include (i) doctors, hospitals,
            (“specialty
            centers, primary care centers, general practitioners and clinic chains; and
            (ii)
            individual patients registering as customers on the Application (<strong>“Customers”</strong>).
            Any information about any person related to his or her physical, physiological
            and mental health condition, medical records and history and biometric
            information that is accessed by HealthGraph as part of its software licensing
            and
            service agreements with its Customers shall be referred to as medical
            information (<strong>“Medical Information”</strong>) and any financial information such as
            bank account or credit card or debit card or CVV Number or other payment
            instrument details (<strong>“Financial Information”</strong>). Any person whose Medical
            Information or Financial Information has been accessed by Healthgraph shall be
            referred to as a patient (Patient).     
         </li>
         <li>         By using or accessing this Application, you agree to the
            terms of this Privacy
            Policy. You also expressly consent to our use and disclosure of your Personal
            Information (as defined below) in any manner as described in this Privacy
            Policy and further signify your agreement to this Privacy Policy.  Please read
            this Privacy Policy carefully before you download, install or use the
            Application. If you do not agree to this Privacy Policy, you may not install,
            download or use the Services and / or Application.  By installing, downloading
            or using the Services, you signify your acceptance to this Privacy Policy and
            the
            Terms of Use (being hereby incorporated by reference herein) which takes
            effect on the date on which you download, install or use the Application, and
            create a legally binding arrangement to abide by the same.  Capitalised terms
            undefined herein shall have the same meaning assigned to them in the Terms.
         </li>
         <li>
            <strong>Definitions</strong>     
            <ol type="a">
               <li>  <strong>“Force Majeure Event”</strong>
                  shall mean any event that is beyond our
                  reasonable control and shall include, without limitation, sabotage, fire,
                  flood, explosion, acts of God, civil commotion, strikes or industrial
                  action or any kind, riots, insurrection, war, acts of government,
                  computer hacking, unauthorized access to your mobile or storage
                  device, crashes, breach of security and encryption.         
               </li>
               <li>
                  <strong>“Personal Information”</strong> refers to any information that identifies
                  “or
                  can be used to identify, contact or locate the person, to whom such
                  information pertains including, but not limited to, name, address, phone
                  number and email address disclosed by you in relation to the services
                  available on the Application.         
               </li>
               <li> <strong>“Sensitive personal data or information”</strong> consists of
                  information
                  Medical Information and Financial Information relating to the
                  following:
                  <ol type="i"> 
               <li>     passwords </li>
               <li>     financial information such as
                  bank account or credit card or
                  debit card or other payment instrument details 
               </li>
               <li>     physical,
                  physiological and mental health condition 
               </li>
               <li>     sexual orientation
               </li>
               <li>     medical records and history </li>
               <li>     Biometric
                  information 
               </li>
               <li>     any detail relating to the above clauses as
                  provided to
                  body corporate for providing service and 
               </li>
               <li>     any of the information
                  received under above clauses by
                  body corporate for processing, stored or processed under lawful
                  contract or otherwise 
               </li>
               </ol>
               </li>         
               <li> <strong>“Third Party”</strong> refers to any person or entity other than you or us.         
               </li>
            </ol>
         </li>
         <li>
            <strong>Personal Information that may be collected and manner of its
            use</strong>         
            <ol type="a">
               <li>
                  <strong>Information collected from
                  Customers:</strong> HealthGraph collects Personal
                  Information of the Customers and Medical and Financial Information of
                  Patients for the performance of the Services.
                  [HealthGraph may also collects information contained in e-mails and
                  letters and Personal Information of the Customer’s employees and
                  consultants].
                  Information may be collected from Customers in the following manner: 
                  <ol type="i">
                     <li>         Typing – in –data (when Customer register for the Services, or
                        type a message to send to us or another Customer, or type a search
                        request, or complete and optional form)     
                     </li>
                     <li>         Uploading a
                        document, image or other data file; or     
                     </li>
                     <li>         Authorising
                        us or other users and Customers or other Third Parties
                        to import or retrieve information on your behalf or, including,
                        without limitation, your employees.     
                     </li>
                  </ol>
               </li>
               <li>
                  <strong>Cookies:</strong> Cookies are small pieces of information
                  saved by your browser.
                  Cookies are used to record various aspects of your visit and assist us to
                  provide you with uninterrupted service.  Cookies may be set in your
                  browser by us when you access the Application.
                  This anonymous information is maintained distinctly and is not linked to
                  the Personal Information that you submit to us.  We use cookies collected
                  to:
                  <ol type="i">
                     <li>         Authenticate your login information; </li>
                     <li>Enable
                        security features; 
                     </li>
                     <li>Improve and develop the features of the
                        Application; 
                     </li>
                     <li>  Save Customer preferences; </li>
                     <li>  Preserve
                        session setting and activity; and 
                     </li>
                     <li> Allow Customers to auto-fill sign
                        –in pages of websites they
                        frequently visit.     
                     </li>
                  </ol>
                  Please feel free to change your browser settings if you do not wish to
                  accept cookies.  However, please note that changing your browser setting
                  may affect your experience on the Application.         
               </li>
               <li> <strong>Third Party Tools:</strong> We work with certain Third Parties
                  who deploy their
                  own Engagement Tools on our Services. In some instances the Third Party
                  performs services exclusively for HealthGraph and in other cases they
                  may retain and use data they collect from publicly available information.
               </li>
               <li>
                  <strong>Engagement Tools:</strong> In addition to the cookies, we may also collect
                  information to enable us to better understand you so that we can improve
                  the quality of the Service and your user experience; to assist our customer
                  service and technical support personnel; and put processes in place to
                  prevent fraud and unlawful use.  In an effort to make the Application
                  effective and improve the Application, certain information may be
                  collected each time you access the Application.  Such information may be
                  saved in server logs in an encrypted form which may not identify you
                  personally.  Such information or data may include, but shall not limit to,
                  IP address, your server details, duration of your visit, date, time or
                  purpose of your visit, your past transactions, etc. The abovementioned
                  data may be used by us and may be shared with our sponsors, investors,
                  advertisers, developers, strategic business partners or other associates for
                  analytics and to enhance and grow the user experience in relation to the
                  Application.         
               </li>
            </ol>
         </li>
         <li>
            <strong>Uses of the information collected:</strong> We make all efforts to ensure that we
            collect only such Personal Information and Sensitive personal data or
            information that we believe to be relevant in order to record, support,
            facilitate
            your access to the Application. 
            <ol type="a">
               <li> <strong>General use:</strong> Information
                  collected from Customers such as the current
                  location, browser information and IP address is collected and stored to
                  provide better web experience. In addition to the foregoing, HealthGraph
                  uses the information collected for purposes, including but not limited to:
               </li>
               <ul type="disc">
                  <li>         Operating, maintaining, managing and administering our
                     Services,
                     including processing registrations and payments, and providing
                     customer support;     
                  </li>
                  <li>         Responding to questions and communications, which we retain
                     in
                     the ordinary course of business;     
                  </li>
                  <li>         Administrative
                     announcements about features, functionality, terms
                     or other aspects of our Services; and, if applicable, informing you
                     about offers for services or products we believe may be of interest;     
                  </li>
                  <li>         Safeguarding and protecting our Services, the information they
                     safeguard, the rights of third parties and in response to legal process,
                     in each case;     
                  </li>
                  <li>         Auditing, research, measurement and analysis in order to
                     maintain,
                     administer, enhance and protect our Services, including analyzing
                     usage trends and patterns and measuring the effectiveness of
                     content, advertising, features or services;     
                  </li>
                  <li>         Creating new features and services;     </li>
                  <li>
                     Contextual and cookie-based automated content delivery, such as
                     tailored ads or search results; and     
                  </li>
                  <li>     Health and medical
                     research; public health and service activities;
                     healthcare- and medical-related services.
                  </li>
               </ul>
               <li><strong>Sensitive personal data or information:</strong> Sensitive personal data or
                  information belonging to the Patients such Financial Information may be
                  collected, stored and transferred by the Customers to HealthGraph in
                  order to complete billing, insurance and discharge related formalities.
                  Medical Information of the Patients will be used for the purpose of
                  admission and for storage and maintaining of database for use by the
                  Customer or the Patient. 
               </li>
               <li> <strong>Employee Personal Information:</strong>
                  Employee Personal Information may
                  be used for payroll processing and other activities in relation to an
                  employees services at HealthGraph. 
               </li>
               <li> <strong>Use of Information by
                  healthcare provider:</strong> If you are a healthcare
                  provider or healthcare-related service provider, your contact and directory
                  information may be listed in one or more of our public and professional
                  directories. These directories include profile information (e.g., contact,
                  specialty and other information) and other features that allow users to
                  locate and contact them. If you seek to contact or schedule an appointment
                  with a provider listed in one of our directories, the provider will need your
                  name, contact information, as well as other information. 
               </li>
               <li>
                  <strong>One-on-One Communications:</strong> Our Services can be used to facilitate
                  one-on-one communications between users. Examples include, but are not
                  limited to: 
                  <ul type="disc">
                     <li> Requesting an appointment with a healthcare
                        provider;
                     </li>
                     <li> Sending an appointment or other reminder to another user;/li>
                     <li> Making a referral;/li>
                     <li> Sending a prescription to a pharmacy;/li>
                     <li> Sending a test requisition to a clinical laboratory; or/li>
                     <li> Leaving, retrieving, triaging, or responding to an after-hours voice /li>
                        message. 
                  </ul>
               </li>
               <li> <strong>User feedback:</strong> Messages and feedback posted by a
                  User on the
                  Application is collected and processed by HealthGraph in order to
                  troubleshoot issues and provide Customer support. Any other information
                  collected by HealthGraph will be used to provide and enhance their
                  services. 
               </li>
               <li><strong> Information collected independently:</strong> Any information directly
                  collected by HealthGraph’s Customers from the Patient and not
                  transferred to HealthGraph will not be covered under this Privacy Policy.
               </li>
               <li> <strong>Sharing information with Third Party service providers in relation to
                  the Application:</strong>  To the extent necessary to provide you the Application,
                  we may provide your Personal Information to Third Party contractors who
                  work on behalf of or with us to provide you with such services, to help us
                  communicate with you or to maintain the Application.
                  By submitting your Financial Information, you expressly consent to the
                  sharing of your information with Third Party payment processors, other
                  other Third Party services for the use of the Services.
               </li>
               <li> <strong>Communication:</strong>  We may offer email notifications, short message
                  service (sms), multimedia message service (mms) or other forms of
                  communication to share information with you about certain promotions or
                  features the Application may choose to offer or about our affiliates,
                  subsidiaries, business partners, advertisers and sponsors. You may receive
                  such communication when you have registered as a user. Further, if you
                  are a registered user, any material change to this Privacy Policy may be
                  communicated to you via email sms or other forms of communication.
               </li>
               <li><strong> Retention of information:</strong> HealthGraph retains the right to maintain
                  copies of all information submitted on the Application, including but not
                  limited to, Personal Information and Sensitive personal data and
                  information in encrypted form for its records.
               </li>
            </ol>
         <li><strong>Link to Third Party apps and websites</strong></li>
         <ol type="a">
            <li>
               The Application and any communication sent to you may also
               contain/display Third Party advertisements and links to other websites or
               products and services. You agree and acknowledge that these apps and
               websites are operated by Third Parties and are not controlled by, or
               affiliated to, or associated with us unless expressly specified. We are not
               responsible for any form of transmission, whatsoever, received by you
               from any such Third Party. Accordingly, we do not make any
               representations concerning the privacy practices or policies of such Third
               Parties or terms of use of such websites or apps, nor do we control or
               guarantee the accuracy, integrity, or quality of the information, data, text,
               software, music, sound, photographs, graphics, videos, messages or other
               materials available on such websites or apps. The inclusion or exclusion
               does not imply any endorsement by us of the website, the Third Party, or
               the information on the website. The information provided by you to such
               Third Party websites shall be governed in accordance with the privacy
               policies of such websites and it is recommended that you review the
               privacy policy on any such websites and apps prior to using such
               websites. 
            </li>
            <li>     These Third Party websites and apps and advertisers may use
               technology
               to send the advertisements directly to your browser. In such cases, the
               Third Party websites or advertisers automatically receive your IP address.
               They may also use cookies, JavaScript, web beacons and other
               technologies to measure the effectiveness of their advertisements and to
               personalize advertising content. We do not have access to or control over
               cookies or other features that such Third Party websites and apps and
               advertisers may use, and the information practices of these Third Party
               websites and apps and advertisers are not covered by this Privacy Policy.
               Please contact them directly for more information about their privacy
               practices. 
            </li>
         </ol>
         <li><strong>Security</strong></li>
         <ol>
            <li>             We strive to ensure
               the security, integrity and privacy of your Personal
               Information and to protect your Personal Information against unauthorized
               access or unauthorized alteration, disclosure or destruction.         
            </li>
            <li>             HealthGraph shall not publish or disclose Personal
               Information and
               Sensitive personal data or information unless it is required for the
               provision or performance of the Services, or as mandated by law. When a
               User places a request for information through the Application, HeathGraph
               will share the User’s personal information to authorized persons employed
               by HeathGraph to answer the User’s queries. Such persons will be bound
               by strict non-disclosure and confidentiality agreements to keep the User’s
               information safe and secure.         
            </li>
            <li>             HeathGraph requires all third parties with whom it
               shares any Sensitive
               personal data or information to implement the same level of data protection
               that HeathGraph has adopted, as provided for under the
               Information Technology (Reasonable Security Practices and Procedures
               and Sensitive Personal Data or Information) Rules, 2011 (Privacy Rules).
            </li>
            <li>             We are not responsible for any breach of
               security or for any actions of any
               Third Parties that receive your Personal Information or otherwise. The
               Services are also linked to many other sites and we are not/shall be not
               responsible for their privacy policies or practices as it is beyond our
               control.         
            </li>
            <li>             Notwithstanding anything
               contained in this Privacy Policy or elsewhere,
               we shall not be held responsible for any loss, damage or misuse of your
               Personal Information, if such loss, damage or misuse is attributable to a
               Force Majeure Event.         
            </li>
         </ol>
      </ol>
      </div>
      <nav class="navbar-default navbar-fixed-bottom" style="height: 1%;">
      If you have any questions about this Privacy Policy, please feel free to write to us at
    </nav>
   </body>
   </html>