<!DOCTYPE html> 
<html>
   <head>
   <title>Terms of Use</title>
<style>
  .navbar-brand {
  float: none;
  }

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}

</style>
   </head>
   <body>
       <nav class="navbar navbar-default navbar-fixed-top" style="height: 8%;" >
        <div class="navbar-header">
            <%= image_tag "healthgraph_full.png", :class => "logo", width: '200' %>
        </div>
        <div class="navbar-center">
          <h2> Terms of Use </h2>
        </div>
  </nav>

   <div class="col-md-2"></div>
   <div class="col-md-8" style="margin-top: 80px; margin-bottom: 50px;">
   <ol type="1">
<li>
  These Terms of Use (<strong>“Terms”</strong>) govern your use of the www.healthgraph.in and use of the [HealthGraph] applications for mobiles and other devices (<strong>“Application”</strong>) owned and operated by HealthGraph India Private Limited (<strong>‘HealthGraph” “we”</strong> and<strong> “us”</strong>). Reference to “you” in this Privacy Policy refers to the users of this Application and Customers whether or not you access the services available on the Application or consummate any transaction on the Application (<strong>“Users”</strong>). HealthGraph is a company that is in the business of licensing its clinical practice management software, hospital management system software including but not limited to hosting, development and/or maintenance services to its customers (<strong>“Services”</strong>). HealthGraph’s customers include (i) doctors, hospitals, specialty centers, primary care centers, general practitioners and clinic chains; and (ii) individual patients registering as customers on the Application (<strong>“Customers”</strong>).
</li>
<li>
  The Services are operated and owned by HealthGraph, a company registered in Bangalore.
</li>
<li>
  We reserve the right to change the Terms at any time without notice posting changes on our Website and the Application and you shall be liable to update yourself of such changes, if any, by accessing the changes on the Website and the Application. 
</li>
<li>
  In order to access or use the Services, you must be 18 years of age or over. If you are under 18 and you wish to access or use the Services, your parents or legal guardian must acknowledge and agree to this Terms .  Should your parents or legal guardian fail to agree or acknowledge the Terms , you shall immediately discontinue its use.
</li>
<li>
  You agree to use and access the Services in accordance with this Terms and <a href="/privacypolicy" target="_blank">Privacy Policy</a></label> (incorporated by reference herein).
</li>
<li>
  <strong><u>ACCEPTANCE OF SERVICE AND TERMS OF SERVICE</u></strong>
  <br>
  By accessing the Services, you hereby agree and acknowledge that:

  <ol type="i">
    <li>
      HealthGraph or its employees are not medical practitioners and do not provide medical advice
    </li>
    <li>
      All information that is available on the Website and Application and its employees, contractors, partners, sponsors or advertisers is for logistical and reference purposes only and does not intend to cover all possible uses, directions , precautions or adverse effect that may result due to the use of services of the health care providers listed on the Website and Application
    </li>

    <li> The information available on the Services is not substitute for actual medical advice and consultation;
      </li>
<li> The use of the Services does not create a doctor-patient relationship;
</li>
<li> HealthGraph does not recommend or endorse any specific tests, physicians, vendors procedures, opinions, or other information that may appear on the Website; If you rely on any of the information provided on the Website and Application as part of the Services, you do so solely at your own risk; 
</li>
<li> HealthGraph does not guarantee or take responsibility for the availability of the health care providers or vendors nor does it guarantee or take responsibility for any fees charged by the health care providers or vendors for services rendered. 
</li>
</ol>
</li>
<li> HealthGraph’s shall <strong>not</strong> be responsible for:
<ol type="a">
<li> The vendor’s services or products suiting your requirements and needs;
</li>
<li> The vendor’s employees, staff, representative or personnel being rude or unprofessional;
</li>
<li> The vendor’s services or products not being up to User’s expectations or leading to any loss, harm or damage to the Customer; or
</li>
<li> The vendor cancelling appointments or changing appointment dates or times to accommodate emergencies or for any other reason.
</li>
</ol>
<li> [HealthGraph does not offer any refunds against services and products already purchased from the Website and Application unless an error that is directly attributable to HealthGraph has occurred during the purchase of such product or services.]
</li>
<li> [HealthGraph constantly strives to provide Users with accurate information on its Website and Application.  However, in the event of an error, HealthGraph may, in its sole discretion, contact you with further instructions.  In the event of cancelation after a purchase, HealthGraph shall refund the money to your account from which payment was made.]
</li>
<li> In the event a vendor fails to complete a service, for any reason other than your negligence, you acknowledge that the vendor will be solely liable to reimburse such amount as has already been paid by you for such service. Further, you agree that HealthGraph will not be held liable for failure of the vendor to make available any product or service therein.
</li>
<li>If you use the Services, you do the same at your own risk.
</li>
  </ol>

</li>
<li>
  <strong><u>Password Security</u></strong>
  <ol type="i">
    <li>
      If you register for the Services, you are responsible for maintaining the confidentiality of your identification and password information, and for restricting access to your computer. You agree to accept responsibility for all activities that occur under your member identification and password. In the event you forget your password, Healthgraph shall have the right to generate a new password in order for you to continue to access the Services.
    </li>
  </ol>
</li>
<li>
  <strong><u>User Conduct</u></strong>
  <br>
  By using the Website, Application and Services you represent and warrant that:
<ol type="i">
  <li> All registration information you submit is truthful, lawful and accurate and that you agree to maintain the accuracy of such information.
</li>
<li> You are entitled and duly authorised to provide and access the information required for registration and   use of the Services.
  </li>        
<li> Your use of the Website, Application and Services shall be solely for your personal use and you are solely responsible for all content published or displayed through your Devices, including any email messages, and your interactions with other Users and third parties and you shall abide by all applicable laws and regulations, including those related to data privacy and the transmission of technical or personal data.
</li>                   
<li> You will not submit, post, upload, distribute, or otherwise make available or transmit any content that: (a) is defamatory, abusive, harassing, insulting, threatening, or that could be deemed to be stalking or constitute an invasion of a right of privacy of another person; (b) is bigoted, hateful, or racially or otherwise offensive; (c) is obscene, indecent, pornographic, vulgar, profane, racist, sexist, discriminatory, offensive, derogatory, harmful, harassing, threatening, embarrassing, malicious, abusive, hateful, menacing, defamatory, untrue or political or contrary to our interest; (d) is illegal or encourages or advocates illegal activity or the discussion of illegal activities with the intent to commit them.
  </li>     
<li> All necessary licenses, consents, permissions and rights are owned by you and there is no need for any payment or permission or authorization required from any other party or entity to use, distribute or otherwise exploit in all manners permitted by these Terms , all trademarks, copyrights, patents, trade secrets, privacy and publicity rights and / or other proprietary rights contained in any content that you submit, post, upload, distribute or otherwise transmit or make available.
  </li>
<li> You will not use the Website, Application and Services in any way that is unlawful, or harms us or any other person or entity, as determined in our sole discretion.         </li>         
<li> You will not post, submit, upload, distribute, or otherwise transmit or make available any software or other computer files that contain a virus or other harmful component, or otherwise impair or damage the Website and / or Application or any connected network, or otherwise interfere with any person or entity's use or enjoyment of the Website, Application and Services.
</li>
<li> You will not send unsolicited emails, or computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information        </li>           
<li> You will not use another person’s username, password or other account information, or another person's name, likeness, voice, image or photograph or impersonate any person or entity or misrepresent your identity or affiliation with any person or entity.                    </li> 
<li> You will not engage in any form of antisocial, disrupting, or destructive acts, including "flaming," "spamming," "flooding," "trolling," and "griefing" as those terms are commonly understood and used on the Internet.
</li>
<li> You will not delete or modify any content of the Website, Application and Services, including but not limited to, legal notices, disclaimers or proprietary notices such as copyright or trademark symbols, logos, that you do not own or have express permission to modify.
</li>
<li> You shall not access the Website, Application and Services without authority or use the Website, Application and Services in a manner that damages, interferes or disrupts: 
<ol type="a">
<li> any part of the Website, Application and Services or the Website and Application software; or
</li>
<li> any equipment or any network on which the Website and / or Application is stored or any equipment of any third party.
  </li>
  </ol>
  </li>
</ol>

</li>
<li>
  <strong><u>Relationship with operators</u></strong>
  <ol>
    <li>
      The Application is independent of any platform on which it is located. The Application is not associated, affiliated, sponsored, endorsed or in any way linked to any platform operator, including, without limitation, Apple, Google, Android or RIM Blackberry (each being an<strong> “Operator”</strong>).
    </li>
      <li> Your download, installation, access to or use of the Application is also bound by the terms and conditions of the Operator.
</li>
<li> You and we acknowledge that these Terms are concluded between you and us only, and not with an Operator, and we, not those Operators, are solely responsible for the Application and the content thereof to the extent specified in these Terms.
</li>
<li>The license granted to you for the Application is limited to a non-transferable license to use the Application on a mobile device that you own or control and as permitted by these Terms.
</li>
<li> We are solely responsible for providing any maintenance and support services with respect to the Application as required under applicable law. You and we acknowledge that an Operator has no obligation whatsoever to furnish any maintenance and support services with respect to the Application.
</li>
<li> In the event of any failure of the Application to conform to any applicable warranty, you may notify the relevant Operator and that Operator will refund the purchase price for the Application (if any purchase price has been paid) to you; and, to the maximum extent permitted by applicable law, that Operator will have no other warranty obligation whatsoever with respect to the Application, and any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be our sole responsibility.
</li>
<li>You and we acknowledge that we, not the relevant Operator, are responsible for addressing any claims of you or any Third Party relating to the Application or your possession and/or use of the Application, including, but not limited to: (i) any claim that the Application fails to conform to any applicable legal or regulatory requirement; and (ii) claims arising under consumer protection or similar legislation.
</li>
<li>You and we acknowledge that, in the event of any Third Party claim that the Application or your possession and use of the Application infringes that Third Party’s intellectual property rights, we, not the relevant Operator, will be solely responsible for the investigation, defence, settlement and discharge of any such intellectual property infringement claim.
</li>
<li> You must comply with any applicable Third Party terms of agreement when using the Application (e.g. you must ensure that your use of the Application is not in violation of your mobile device agreement or any wireless data service agreement).
</li>
<li> You and we acknowledge and agree that the relevant Operator, and that Operator’s subsidiaries, are Third Party beneficiaries of these Terms, and that, upon your acceptance of these Terms, that Operator will have the right (and will be deemed to have accepted the right) to enforce these Terms against you as a Third Party beneficiary thereof.
  </li>
  </ol>
</li>
<li>
  <strong><ul>DISCLAIMERS</ul></strong>
  <ol>
    <li>
       THE WEBSITE MAY BE UNDER CONSTANT UPGRADES, AND SOME FUNCTIONS AND FEATURES MAY NOT BE FULLY OPERATIONAL.
      </li>
<li> WE DISCLAIM ANY LIABILITY ARISING DUE TO THE VAGARIES THAT CAN OCCUR IN THE ELECTRONIC DISTRIBUTION OF INFORMATION.   
</li>
<li>YOU ACKNOWLEDGE THAT THIRD PARTY SERVICES ARE AVAILABLE ON THE WEBSITE. WE MAY HAVE FORMED PARTNERSHIPS OR ALLIANCES WITH SOME OF THESE THIRD PARTIES FROM TIME TO TIME IN ORDER TO FACILITATE THE PROVISION OF CERTAIN SERVICES TO YOU. HOWEVER, YOU ACKNOWLEDGE AND AGREE THAT AT NO TIME ARE WE MAKING ANY REPRESENTATION OR WARRANTY REGARDING ANY THIRD PARTY'S SERVICES NOR WILL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY CONSEQUENCES OR CLAIMS ARISING FROM OR IN CONNECTION WITH SUCH THIRD PARTY INCLUDING, AND NOT LIMITED TO, ANY LIABILITY OR RESPONSIBILITY FOR, DEATH, INJURY OR IMPAIRMENT EXPERIENCED BY YOU OR ANY THIRD PARTY. YOU HEREBY DISCLAIM AND WAIVE ANY RIGHTS AND CLAIMS YOU MAY HAVE AGAINST US WITH RESPECT TO THIRD PARTY’S SERVICES. 
</li>
<li> WE DO NOT, IN ANY WAY, ENDORSE ANY INFORMATION OR SERVICE OFFERED OR DESCRIBED HEREIN. IN NO EVENT SHALL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DECISION MADE OR ACTION TAKEN IN RELIANCE ON SUCH INFORMATION.
</li>
<li> YOU ASSUME ALL RESPONSIBILITY AND RISK WITH RESPECT TO YOUR USE OF THE WEBSITE. THE SERVICES ARE AVAILABLE “AS IS,” AND “AS AVAILABLE”. YOU UNDERSTAND AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, REPRESENTATIONS AND ENDORSEMENTS, EXPRESS OR IMPLIED, WITH REGARD TO THE WEBSITE, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE. 
</li>
<li> WE DO NOT WARRANT USE OF THE WEBSITE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT ERRORS WILL BE DETECTED OR CORRECTED. WE DO NOT ASSUME ANY LIABILITY OR RESPONSIBILITY FOR ANY COMPUTER VIRUSES, BUGS, MALICIOUS CODE OR OTHER HARMFUL COMPONENTS, DELAYS, INACCURACIES, ERRORS OR OMISSIONS, OR THE ACCURACY, COMPLETENESS, RELIABILITY OR USEFULNESS OF THE INFORMATION DISCLOSED OR ACCESSED THROUGH THE SERVICES. 
</li>
<li> IN NO EVENT, UNDER NO LEGAL OR EQUITABLE THEORY (WHETHER TORT, CONTRACT, STRICT LIABILITY OR OTHERWISE), SHALL WE OR ANY OF OUR RESPECTIVE EMPLOYEES, DIRECTORS, OFFICERS, AGENTS OR AFFILIATES, BE LIABLE HEREUNDER OR OTHERWISE FOR ANY LOSS OR DAMAGE OF ANY KIND, DIRECT OR INDIRECT, IN CONNECTION WITH OR ARISING FROM THE USE OF THE WEBSITE / SERVICES OR OUR AGREEMENT WITH YOU CONCERNING THE SERVICES, INCLUDING, BUT NOT LIMITED TO, (I) THE USE OF OR INABILITY TO USE THE SITE, THE SERVICE, OR THE CONTENT, (II) ANY TRANSACTION CONDUCTED THROUGH OR FACILITATED BY THE SITE; (III) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER INACCURACIES IN THE SITE, THE SERVICE AND/OR THE CONTENT, (IV) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, OR (V) ANY OTHER MATTER RELATING TO THE SITE, THE SERVICE, OR THE CONTENT, AND ANY COMPENSATORY, DIRECT, CONSEQUENTIAL, INCIDENTAL, INDIRECT, SPECIAL OR PUNITIVE DAMAGES, LOST ANTICIPATED PROFITS, LOSS OF GOODWILL, LOSS OF DATA, BUSINESS INTERRUPTION, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, EVEN IF WE HAVE BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. 
</li>
<li> WHILE THE MATERIALS AND ADVICE PROVIDED ON THIS WEBSITE WERE PREPARED TO PROVIDE ACCURATE INFORMATION REGARDING THE SUBJECT DISCUSSED, THE INFORMATION CONTAINED IN THESE MATERIALS AND ADVICE IS BEING MADE AVAILABLE WITH THE UNDERSTANDING THAT HEALTHGRAPH MAKES NO GUARANTEES, REPRESENTATIONS OR WARRANTIES WHATSOEVER, WHETHER EXPRESSED OR IMPLIED, WITH RESPECT TO PROFESSIONAL QUALIFICATIONS, EXPERTISE, QUALITY OF WORK OR OTHER INFORMATION HEREIN. FURTHER, HEALTHGRAPH DOES NOT, IN ANY WAY, ENDORSE ANY INDIVIDUAL DESCRIBED HEREIN. IN NO EVENT SHALL HEALTHGRAPH BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DECISION MADE OR ACTION TAKEN IN RELIANCE ON SUCH INFORMATION.

<li> HEALTHGRAPH DISCLAIM ALL LIABILITIES AND UNDER NO CIRCUMSTANCES WHATSOEVER REPRESENT OR WARRANT THAT THE HEALTH CARE PROVIDER WILL CHARGE FOR THE USUAL CONSULTATION AND MEDICAL SERVICES RENDERED. HEALTHGRAPH HAS NO CONTROL OR CONCERN WITH THE FEES AND COSTS CHARGED BY HEALTH CARE PROFESSIONAL LISTED ON THE WEBSITE [OR INFORMED BY THE CALL CENTRE TEAM]. THE CHARGES INCURRED FOR ANY MEDICAL SERVICES RENDERED BY COLLABORATING HEALTH CARE PROFESSIONAL PROFILED ON THE WEBSITE WILL APPLY AND WILL BE ENTIRELY YOUR RESPONSIBILITY.  
</li>
<li> HEALTHGRAPH DOES NOT UNDER ANY CIRCUMSTANCES WHATSOEVER ASSUME RESPONSIBILITY OR LIABILITY FOR ANY ADVICE, TREATMENT OR OTHER SERVICES RENDERED BY ANY HEALTH CARE PROVIDER, OR FOR ANY MALPRACTICE CLAIMS AND OTHER CLAIMS THAT MAY ARISE DIRECTLY OR INDIRECTLY FROM ANY SUCH ADVICE, TREATMENT OR OTHER SERVICES.
</li>
<li> IF WE ARE HELD LIABLE TO YOU IN A COURT OF COMPETENT JURISDICTION FOR ANY REASON, IN NO EVENT WILL WE BE LIABLE FOR ANY DAMAGES IN EXCESS OF INR 1,000/-. 
    </li>
  </ol>
</li>

<li>
  <strong><u>INDEMNITY</u></strong>
  <br>
  You agree to indemnify and hold us and our affiliates, successors and assigns, officers, directors, employees, agents, representatives, licensors, advertisers, suppliers, and operational service providers harmless from and against any and all losses, expenses, damages, costs and expenses (including attorneys’ fees), resulting from your use of the Services and / or any violation of this Terms . We reserve the right to assume the exclusive defense and control of any demand, claim or action arising hereunder or in connection with the Website, Application and / or Services and all negotiations for settlement or compromise. You agree to fully cooperate with us in the defense of any such demand, claim, action, settlement or compromise negotiations, as requested by us.
</li>
<li>
  <strong><u>INTELLECTUAL PROPERTY</u></strong>

  <ol>
    <li> We are the owner or the licensee of all intellectual property rights in the Website, and in the material published on it.  Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</li>

<li> You are prohibited from using any of the marks or logos appearing throughout the Website without permission from the trademark owner, except as permitted by applicable law.</li>

<li> You must not modify or use any illustrations, photographs, video or audio sequences or any graphics available on the Website separately from any accompanying text.</li>

<li> You must not use any part of the materials on the Website for commercial purposes without obtaining a licence to do so from us or our licensors.</li>

<li> If you print, copy or download any part of the Website in breach of these Terms , your right to use the Website will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</li>

<li> HealthGraph prohibits Users from using the Website and posting content that in anyway infringes third party intellectual property rights (such as copyright, trademark and trade dress). HealthGraph encourages  intellectual property rights owners to contact HealthGraph if they believe that a User has infringed any of their intellectual property rights. If you let HealthGraph know that your rights are being infringed by one of HealthGraph’s Users, HealthGraph will (in its discretion) require that such User content is removed from the Website.</li>
  </ol>

</li>
<li>
  
<strong><u>Availability of the Website, Services; Security and Accessbility</u></strong>
<ol type="a">
  <li> We endeavour to make the Website and Application available all day, i.e. 24x7.  However, we do not represent that access to the Website will be uninterrupted, timely, error free, free of viruses or other harmful components or that such defects will be corrected.</li>  

<li> We do not warrant that the Website and Application will be compatible with all hardware and software which you may use. We shall not be liable for damage to, or viruses or other code that may affect, any equipment (including but not limited to your mobile device), software, data or other property as a result of your download, installation, access to or use of the Website and Application or your obtaining any material from, or as a result of using, the Website and Application. We shall also not be liable for the actions of third parties.</li>

<li> We do not represent or warranty that the information available on the Website and Application will be correct, accurate or otherwise reliable.</li>

<li> We reserve the right to suspend or withdraw access to the Website and Application to you personally, or to all users temporarily or permanently at any time without notice.</li>

<li> HealthGraph reserves the right, but does not assume the obligation, to monitor transactions and communications that occur through the Website and Application. If HealthGraph determines, in its sole and absolute discretion, that any User has / will breach a term or condition of this Website and Application or that such posting or communication is inappropriate, invalid or incorrect, HealthGraph may  cancel such posting or communication or take any other action to restrict access to or the availability of any material that may be considered objectionable, without any liability to you, any other User or any third party.</li>  
</ol>
</li>

<li>
  <strong><u>Treatment of information provided by you</u></strong>
  <ol type="i">
    <li> We process information about you in accordance with our Privacy Policy. </li>

<li> You hereby grant to us an irrevocable, royalty-free, worldwide, assignable, sub-licensable licence to use any material which you submit to us on the Website for the purpose of use of the Services or for our marketing (by any means and in any media, including, but not limited to, on our website or in our journals) our Services. You agree that you waive your moral rights to be identified as the author and we may modify your submission. </li>
  </ol>
</li>
<li>
  <strong><u>third party content</u></strong>
  <ol type="a">
    <li> We cannot and will not assure that other Users are or will be complying with the foregoing rules or any other provisions of this Terms , and, as between you and us, you hereby assume all risk of harm or injury resulting from any such lack of compliance. – </li>

<li> You acknowledge that when you access a link when accessing the Website, the site you will enter into is not controlled by us and different terms of use and privacy policy may apply. By assessing links, you acknowledge that we are not responsible for those sites. We reserve the right to disable links to and / or from third-party sites to the Website, although we are under no obligation to do so. If you have any queries, concerns or complaints about such third party websites or mobile applications you must direct them to the operator of that third party website or mobile application.
</li>
<li> We have no control over and accept no responsibility for the content of any website or mobile application to which a link from the Website exists (unless we are the provider of those linked websites or mobile applications). Such linked websites and mobile applications are provided “as is” for your convenience only with no warranty, express or implied, for the information provided within them. </li>
  </ol>

</li> 
<li>
  <strong><u>Severability</u></strong>
  <ol type="i">
    <li>
      If any of these terms should be determined to be illegal, invalid or otherwise unenforceable by reason of the laws of any state or country in which these terms are intended to be effective, then to the extent and within the jurisdiction which that term is illegal, invalid or unenforceable, it shall be severed and deleted and the remaining Terms shall survive, remain in full force and effect and continue to be binding and enforceable.
    </li>
  </ol>
</li>
<li>
<strong><u>Non-Assignment</u></strong>
<ol type="i">
  <li>
    You shall not assign or transfer or purport to assign or transfer the contract between you and us to any other person.
  </li>
</ol>
</li>


<li>
  <strong><u>Independent Contractor</u></strong>
<ol type="i">
  <li>
    Nothing contained in this Terms shall be construed to create the relationship of employer and employee, principal and agent, partnership or joint venture, or any other fiduciary relationship.
  </li>
</ol>
</li>

<li>
    <strong><u>No Third Party Beneficiaries</u></strong>
<ol type="i">
  <li>
    User acknowledges and agrees that this Agreement shall in no event be construed as a third party beneficiary contract, and that it is not intended for the benefit of any person or company whomsoever except the parties hereto.
  </li>
</ol> 
</li>


<li>
    <strong><u>Governing Law And Dispute Resolution</u></strong>
<ol type="i">
  <li>
    These Terms are governed by the laws of India. Any action, suit, or other legal proceeding, which is commenced to resolve any matter arising under or relating to this website, shall be subject to the jurisdiction of the courts at Bangalore, India. 
  </li>
</ol> 
</li>

</ol>
      </div>
      <nav class="nav navbar-default navbar-fixed-bottom"style="height: 5%;">
      If you have any questions about this Terms of use, please feel free to write to us at
    </nav>
   </body>
   </html>