$(".sidebar-panel").height($(".main-view-statistics").height())
$(".sidebar-panel").width($(window).width())

$(window).resize(function() {
  $(".sidebar-panel").height($(".main-view-statistics").height())
  $(".sidebar-panel").width($(window).width())
})

$(".statistics_parent_link").on('click', function(){
  var timePeriod = $("#current_time_period").attr("data-time-period")
  var filter = $(this).attr('data-filter')
  var start_date = $("#report-to-datepicker").val()
  var end_date = $("#report-from-datepicker").val()
  var doctorId = $("#current_doctor").attr("data-doctor-id")
  var currency_id = $("#current_currency_id").attr("data-currency_id")
  _this = this
  $('#statistics_area').html('<div class="loading_dots"><span></span> <span></span> <span></span></div>')
  $.ajax({
    url: '/statistics/data_content',
    dataType: 'script',
    data: {
      time_period: timePeriod,
      start_date: start_date,
      end_date: end_date,
      filter: filter,
      doctor_id: doctorId,
      currency_id: currency_id
    },
    success: function(res){
    },
    error: function(err){
      alert("Something went wrong. Please try again.");
    }
  });
})

$(".btn-awesome").on('click', function(){
  var start_date = $(this).attr("data-date-form")
  var end_date = $(this).attr("data-date-form")
  var filter = $("#statistics_filter").val()
  var currency_id = $("#current_currency_id").attr("data-currency_id")
  if(start_date == "" && end_date == ""){
    notice = new PNotify({
      title: 'Warning',
      text: "Start Date & End Date Both Cant Be Blank",
      icon: 'fa fa-ban',
      type: 'warning'
    });
    notice.get().click(function(){
      notice.remove()
    });
  } else {
    $('#statistics_area').html('<div class="loading_dots"><span></span> <span></span> <span></span></div>')
    $.ajax({
      url: '/statistics/data_content',
      dataType: 'script',
      data: {
        start_date: start_date,
        end_date: end_date,
        filter: filter,
        currency_id: currency_id,
        back: true
      },
      success: function(res){
      },
      error: function(err){
        alert("Something went wrong. Please try again.");
      }
    });
  }
})