<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Print Setting</h4>
    </div>
    <div class="modal-body">
      <input type="hidden" name="" id='start_date' value='<%= params[:start_date] %>'>
      <input type="hidden" name="" id='end_date' value='<%= params[:end_date] %>'>
      <div class="row mb10">
        <div class="col-md-12 text-center">
          <b style="color: #000;">Select Fields to Print</b>
        </div>
      </div>
      <% if ['opd_multidate_view', 'ipd_multidate_view'].include?(params[:flag]) %>
        <div class="row">
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="cash_register" checked='checked'>
              <label for="cash_register">Cash Register</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="invoice" checked='checked'>
              <label for="invoice">Receipt</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="tax" checked='checked'>
              <label for="tax">Tax</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="received" checked='checked'>
              <label for="received">Received</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="pending" checked='checked'>
              <label for="pending">Pending</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="total" checked='checked'>
              <label for="total">Total</label>
            </div>
          </div>
        </div>
      <% end %>
      <% if ['opd_daily_view', 'ipd_daily_view'].include?(params[:flag]) %>
        <div class="row">
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="patient_id" checked='checked'>
              <label for="patient_id">Patient ID</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="mr_no" checked='checked'>
              <label for="mr_no">MR No.</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="invoice_id" checked='checked'>
              <label for="invoice_id">Receipt ID</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="total" checked='checked'>
              <label for="total">Total</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="tax" checked='checked'>
              <label for="tax">Tax</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="discount" checked='checked'>
              <label for="discount">Discount</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="advance" checked='checked'>
              <label for="advance">Advance</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="amount" checked='checked'>
              <label for="amount">Amount</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="received" checked='checked'>
              <label for="received">Received Amount</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="pending" checked='checked'>
              <label for="pending">Pending Amount</label>
            </div>
          </div>
        </div>
      <% end %>
      <% if ['opd_cr_daily_view', 'ipd_cr_daily_view'].include?(params[:flag]) %>
        <div class="row">
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="patient_id" checked='checked'>
              <label for="patient_id">Patient ID</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="mr_no" checked='checked'>
              <label for="mr_no">MR No.</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="cash_register_id" checked='checked'>
              <label for="cash_register_id">Cash Register ID</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="amount" checked='checked'>
              <label for="amount">Amount</label>
            </div>
          </div>
        </div>
      <% end %>
      <% if ['pharmacy_daily_view', 'optical_daily_view'].include?(params[:flag]) %>
        <div class="row">
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="patient_id" checked='checked'>
              <label for="patient_id">Patient ID</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="mr_no" checked='checked'>
              <label for="mr_no">MR No.</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="invoice_id" checked='checked'>
              <label for="invoice_id">Receipt ID</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="item" checked='checked'>
              <label for="item">Item</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="item_mrp" checked='checked'>
              <label for="item_mrp">Item MRP</label>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="tax" checked='checked'>
              <label for="tax">Tax</label>
            </div>
          </div> -->
          <div class="col-md-4">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" class='check_checkbox' id="amount" checked='checked'>
              <label for="amount">Amount</label>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-xs btn-print-setting"><i class="fa fa-print"></i> Print</button>
      <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>