$(document).ready(function(){
  datepicker_options = {
    maxDate: -0,
    dateFormat: "dd/mm/yy",
  }
    
  $('.report-to-datepicker').datepicker(datepicker_options);
  $('.report-from-datepicker').datepicker(datepicker_options);

  $(".toolbar_time").on('click', function(e){
    e.preventDefault();
    var currency_id = $("#current_currency_id").attr("data-currency_id")
    var timePeriod = $(this).attr("data-time-period")
    var ctimePeriod = $(this).html()
    var doctorId = $("#current_doctor").attr("data-doctor-id")
    var filter = $("#statistics_filter").val()
    _this = this
    $.ajax({
      url: '/statistics/data_content',
      dataType: 'script',
      data: {
        time_period: timePeriod,
        filter: filter,
        doctor_id: doctorId,
        currency_id: currency_id
      },
      success: function(res){
        $("#current_time_period").attr("data-time-period", timePeriod)
        $("#current_time_period").html("")
        $("#current_time_period").html(ctimePeriod)
        $("#report-to-datepicker").val("")
        $("#report-from-datepicker").val("")
      },
      error: function(err){
        alert("Something went wrong. Please try again.");
      }
    });
  })

  $(".toolbar_currency").on('click', function(e){
    e.preventDefault();
    var currency_id = $(this).attr("data-currency_id")
    var timePeriod = $("#current_time_period").attr("data-time-period")
    var ccurrencyId = $(this).html()
    var doctorId = $("#current_doctor").attr("data-doctor-id")
    var filter = $("#statistics_filter").val()
    _this = this
    $.ajax({
      url: '/statistics/data_content',
      dataType: 'script',
      data: {
        time_period: timePeriod,
        filter: filter,
        doctor_id: doctorId,
        currency_id: currency_id
      },
      success: function(res){
        $("#current_currency_id").attr("data-currency_id", currency_id)
        $("#current_currency_id").html("")
        $("#current_currency_id").html(ccurrencyId)
        $("#report-to-datepicker").val("")
        $("#report-from-datepicker").val("")
      },
      error: function(err){
        alert("Something went wrong. Please try again.");
      }
    });
  })

  $(".toolbar_doctor").on('click', function(){
    var currency_id = $("#current_currency_id").attr("data-currency_id")
    var doctorId = $(this).attr("data-doctor-id")
    var cDoctorName = $(this).html()
    var filter = $("#statistics_filter").val()
    var timePeriod = $("#current_time_period").attr("data-time-period")
    _this = this
    $.ajax({
      url: '/statistics/data_content',
      dataType: 'script',
      data: {
        time_period: timePeriod,
        filter: filter,
        doctor_id: doctorId,
        currency_id: currency_id
      },
      success: function(res){
      },
      error: function(err){
        alert("Something went wrong. Please try again.");
      }
    });
  })

  $(".statistics_parent_link").on('click', function(){
    var currency_id = $("#current_currency_id").attr("data-currency_id")
    var timePeriod = $("#current_time_period").attr("data-time-period")
    var filter = $(this).attr('data-filter')
    var start_date = $("#report-to-datepicker").val()
    var end_date = $("#report-from-datepicker").val()
    var doctorId = $("#current_doctor").attr("data-doctor-id")
    _this = this
    $('#statistics_area').html('<div class="loading_dots"><span></span> <span></span> <span></span></div>')
    $.ajax({
      url: '/statistics/data_content',
      dataType: 'script',
      data: {
        time_period: timePeriod,
        start_date: start_date,
        end_date: end_date,
        filter: filter,
        doctor_id: doctorId,
        currency_id: currency_id
      },
      success: function(res){
      },
      error: function(err){
        alert("Something went wrong. Please try again.");
      }
    });
  })
  // $(".statistics_parent_link").first().trigger('click')


  $(".statistics_parent_link_main").on('click', function(){    
    var currency_id = $("#current_currency_id").attr("data-currency_id")
    var timePeriod = $("#current_time_period").attr("data-time-period")
    var filter = $(this).attr('data-filter')
    var start_date = $("#report-to-datepicker").val()
    var end_date = $("#report-from-datepicker").val()
    var doctorId = $("#current_doctor").attr("data-doctor-id")
    _this = this
    $('#statistics_area').html('<div class="loading_dots"><span></span> <span></span> <span></span></div>')
    $.ajax({
      url: '/statistics/data_content',
      dataType: 'script',
      data: {
        time_period: timePeriod,
        start_date: start_date,
        end_date: end_date,
        filter: filter,
        doctor_id: doctorId,
        currency_id: currency_id
      },
      success: function(res){
      },
      error: function(err){
        alert("Something went wrong. Please try again.");
      }
    });
  })

  $(".statistics_parent_link_refresh").on('click', function(){    
    var currency_id = $("#current_currency_id").attr("data-currency_id")
    var timePeriod = $("#current_time_period").attr("data-time-period")
    var filter = $('.statistics_filter').val()
    var start_date = $("#report-to-datepicker").val()
    var end_date = $("#report-from-datepicker").val()
    var doctorId = $("#current_doctor").attr("data-doctor-id")
    _this = this
    $('#statistics_area').html('<div class="loading_dots"><span></span> <span></span> <span></span></div>')
    $.ajax({
      url: '/statistics/data_content',
      dataType: 'script',
      data: {
        time_period: timePeriod,
        start_date: start_date,
        end_date: end_date,
        filter: filter,
        doctor_id: doctorId,
        currency_id: currency_id
      },
      success: function(res){
      },
      error: function(err){
        alert("Something went wrong. Please try again.");
      }
    });
  })


  $("#btnReportRange").on('click', function(){
    var currency_id = $("#current_currency_id").attr("data-currency_id")
    var start_date = $("#report-to-datepicker").val()
    var end_date = $("#report-from-datepicker").val()
    var filter = $("#statistics_filter").val()
    var doctorId = $("#current_doctor").attr("data-doctor-id")
    if(start_date == "" && end_date == ""){
      notice = new PNotify({
        title: 'Warning',
        text: "Start Date & End Date Both Cant Be Blank",
        icon: 'fa fa-ban',
        type: 'warning'
      });
      notice.get().click(function(){
        notice.remove()
      });
    } else {
      $('#statistics_area').html('<div class="loading_dots"><span></span> <span></span> <span></span></div>')
      $.ajax({
        url: '/statistics/data_content',
        dataType: 'script',
        data: {
          start_date: start_date,
          end_date: end_date,
          filter: filter,
          doctor_id: doctorId,
          currency_id: currency_id
        },
        success: function(res){
        },
        error: function(err){
          alert("Something went wrong. Please try again.");
        }
      });
    }
  })

})