<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Request Items from Central Inventory</h4>
    </div>
    <div class="modal-body" style="overflow-y: scroll; height:500px;">
      <form class="form-horizontal" id="formRequestItems">
        <div class="form-group table-add-item">
          <label class="control-label col-sm-2">Additional Note</label>
          <div class="col-sm-8">
            <textarea class="note form-control" placeholder="Additional information goes here."></textarea>
          </div>
        </div>
        <hr />
        <table class="table-inventory table-add-item">
          <thead>
          <tr>
            <td>Sl. #</td>
            <td>Item</td>
            <td>Quantity</td>
            <td>Actions</td>
          </tr>
          </thead>
          <tbody class="tbody">
          <tr>
            <td><label class="control-label counter">1</label></td>
            <td><input name="request_item" type="text" class="form-control request_item" placeholder="Search items.." /></td>
            <td><input name="request_item_quantity" type="number" class="form-control request_item_quantity" value="1" placeholder="Enter quantity" /></td>
            <td><button tabindex="-1" class="btn btn-sm btn-danger btnDeleteItem"><i class="fa fa-trash-alt"></i></button></td>
          </tr>
          </tbody>

          <tr>
            <td></td>
            <td></td>
            <td class="text-right" style="padding-top: 10px;">
              <button class="btn btn-sm btn-primary" id="btnAddMoreItem">Add more item</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel Adding Item</button>
      <button type="button" id="btnProceed" class="btn btn-primary">Proceed</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<style>
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>