<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Message</h4>
    </div>
    <%= form_tag change_state_admission_list_view_path(id: @admission_list_view.id, to_state: params[:to_state], to_user: params[:to_user], from_user: current_user.id), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
      <div class="modal-body">
        <%= text_area_tag :message, '', class: "form-control p7_10", placeholder: 'Reason for sending Patient', minlength: '5' %>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Send to #{@user.fullname}", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, onclick: 'validateMessage()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
