<div class="actions wizard-form-prev-next-buttons">
  <button type="button" class="btn btn-mini btn-prev" value="prev" id="prev" title="Previous" onclick="chk_clicked('prev');"><i class="glyphicon glyphicon-arrow-left"></i> Prev</button>
  <button type="button" class="btn btn-mini btn-next" value="next" id="next" title="Next" onclick="chk_clicked('next');">Next<i class="glyphicon glyphicon-arrow-right"></i></button>
</div>
<script type="text/javascript">
  function chk_clicked(step_indication) {
    var current_data_step = $('ul.steps > li.active').attr('data-step');
    var next_previous_step = parseInt(current_data_step);
    if(step_indication == 'next') {
      next_previous_step = next_previous_step + 1;
    } else {
      next_previous_step = next_previous_step - 1;
    }
    var li_id = $('ul.steps > li[data-step="'+next_previous_step+'"]').attr('id');
    if(li_id != undefined){
      var active_li = '';
      if(li_id.includes('advice')) {
        if($('#ul_soap_plan').length > 0) {
          active_li = $('#ul_soap_plan').find('li.active').attr('data-id');
        } else if($('#ul_plan').length > 0){
          active_li = $('#ul_plan').find('li.active').attr('data-id');
        }
        prefix_and_toggle(active_li, 'advice');
      } else if(li_id.includes('trauma_assesment')) {
        if($('#ul_trauma').length > 0) {
          active_li = $('#ul_trauma').find('li.active').attr('data-id');
        }
        prefix_and_toggle(active_li, 'assesment');
      } else if(li_id.includes('clincalevaluation') || li_id.includes('exp_cda')) {
        var speciality = $('#opdrecord_specalityname').val();
        var tab_name = '';
        if(speciality == 'orthopedics')
          tab_name = 'cda';
        else
          tab_name = 'clincalevaluation';
        active_li = $('#ul_clinical').find('li.active').attr('data-id');
        prefix_and_toggle(active_li, tab_name);
      } else {
        toggle_btn(li_id);
      }
    }
  }
</script>