<ul class="steps" style="margin-left: 0">
  <li data-step="1" id="exp_cda_step" class="active" style="cursor:pointer;"><span class="badge badge-info">Step 1</span>Clinical Details & Assessment<span class="chevron"></span></li>
  <li data-step="2" id="exp_advice_step" style="cursor:pointer;"><span class="badge">Step 2</span>Advice<span class="chevron"></span></li>
</ul>

<script type="text/javascript">
	jQuery('#exp_cda_step').on("click", function() {
    var active_li = $('#ul_clinical').find('li.active').attr('data-id');
    toggle_btn(active_li, 'exp_cda_step_');
  });
  jQuery('#exp_advice_step').on("click", function() {
    jQuery("#MyWizard").wizard('next');
    var active_li = $('#ul_soap_plan').find('li.active').attr('data-id');
    toggle_btn(active_li, 'exp_advice_step_');
  });
</script>