<div class="tab-pane" id="procedure">
  <% if false %>
    <div class="row">

          <div class="col-md-12 procedure_region_label_select">
            <div class="col-md-2">Body Region :</div>
            <%= f.input :procedureregion, wrapper_html: {:class=>"col-md-9"}, collection: (opdrecord.get_procedure_regions_list_attribute("procedureregions", specalityfoldername, templatetype)), :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white mb10 opdrecord_procedureregion', :input_html => {:name => "opdrecord[procedureregion]" } %>

          </div>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Regions</th>
              <th>Procedures</th>
            </tr>
            </thead>
            <tbody class="procedure-types-tbody">              

            </tbody>

        </table>        

    </div>  

    <div class="row">        

        <div id="procedures">

          <table class="table table-striped">
            <thead>
            <tr>
              <th width="10%">Status</th>
              <th width="8%">Side or Site</th>
              <th width="12%">Nature</th>
              <th width="10%">Approach</th>
              <th width="20%">Procedure</th>
              <th width="22%">Details</th>
              <th width="13%">Device</th>
              <th width="5%"></th>
            </tr>
            </thead>
            <tbody class="procedurelist-tbody-added">

                  <%= render partial: "opd_records/orthopedics_notes/opd_partials/regiontemplate_assessment_tab_procedure" , locals: { f: f, procedure: @opdrecord.procedure, opdrecord: @opdrecord,  specalityfoldername: @speciality_folder_name, templatetype: @templatetype, opdspeciality: @opdspeciality } %>

            </tbody>

          </table>

          <div class="procedurelist-tbody-removed" style="display:none;">
          </div>

        </div>

    </div>
  <% end %>
  
  <% if @templatetype == "freeform" %>
    <div class="col-md-10 col-sm-10">
      <%= f.input :free_procedure, as: :text,  :label => false, :required => false, :input_html => {:class => " summernote free_procedure", :rows => 2, :cols => 100, :name => "opdrecord[free_procedure]", :value => @opdrecord.read_attribute(:free_procedure), id: 'free_procedure' } %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-8">
        <!-- <label for="comments-textarealabel">Comments</label> -->
        <%= f.input :procedurecomments, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control', :rows => 2, :cols => 70, :required => false, :name => "opdrecord[procedurecomments]", :value => opdrecord.read_attribute(:procedurecomments), onblur: "check_validation_status(this, 'procedure_is_valid', 'exp_advice_step_procedure')" } %>
      </div>
    </div>
  <% end %>
</div>