<div>
	<%= render partial: "templates/common/soap_plan_tab_ul_nav", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>  
  <%= render partial: "templates/common/expresssoap_plan_tab_content", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
</div>