<tr class="otitems">

  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group">
      <div class="input-group mb15">
        <div class="ui-widget">

          <%= hidden_field_tag "opdrecord[ot_kit_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>

          <%= text_field_tag "opdrecord[ot_kit_attributes][#{i}][itemname]", nil, {:maxlength => 80, :size => 80, :class => 'form-control itemname' } %>
        </div>
      </div>
    </div>
  </td>

  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group">
      <div class="input-group mb15">

        <%= text_field_tag "opdrecord[ot_kit_attributes][#{i}][itemtype]",nil, { :class => 'form-control itemtype' } %>
      </div>
    </div>
  </td>




  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "opdrecord[ot_kit_attributes][#{i}][iteminstructions]", nil, {:maxlength => 80, :size => 40, :class => 'form-control' } %>
      </div>
    </div>
  </td>

  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

    <div class="form-group">
      <a id="addnewitembutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewitembutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
      <a id="removeitembutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removeitembutton" ><span class="glyphicon glyphicon-remove"></span></a>
    </div>

  </td>

</tr>