<div class="pull-right"> <!-- Action Buttons starts -->
  <button aria-hidden="true" class="btn btn-sm btn-success saveopdrecord">Save</button>
  <button aria-hidden="true" class="btn btn-sm btn-info" data-dismiss="modal">Do not Save & Close</button>
</div> <!-- Action Buttons ends -->