<div class="tab-pane" id="radiology">

  <div class="row">

    <div class="col-md-8">

      <%= render partial: "templates/common/soap_assessment_tab_radiology_table_list" , locals: { f: f, investigationlist: @opdrecord.investigationlist, opdrecord: @opdrecord,  specalityfoldername: @speciality_folder_name, templatetype: @templatetype } %>

    </div>

    <div class="col-md-2">

          <label for="comments-textarealabel">Xrays</label>
          <%= f.input :xraysinvestigations, collection: (RadiologyInvestigationData.where(:specialty_id => specalityid, :template_id => templateid, :investigation_type_id => Global.ehrcommon.xray.id).map do |xrayinvestigation| Array[ "#{xrayinvestigation.investigation_type}, #{xrayinvestigation.investigation_name.to_s}", xrayinvestigation.investigation_id.to_i, Hash["data-has_laterality" => xrayinvestigation.has_laterality], Hash["data-investigation_type" => xrayinvestigation.investigation_type], Hash["data-investigation_type_id" => xrayinvestigation.investigation_type_id], Hash["data-specialty_id" => xrayinvestigation.specialty_id], Hash["data-template_id" => xrayinvestigation.template_id] ] end), input_html: { multiple: true, :size => '15', :style => 'height: 100%; width: 60;', :class => 'form-control'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>

    </div>

    <div class="col-md-2">

        <label for="comments-textarealabel">CT & MRI</label>
        <%= f.input :ctmriinvestigations, collection: (RadiologyInvestigationData.where(:specialty_id => specalityid, :template_id => templateid, :investigation_type_id => [Global.ehrcommon.mri.id, Global.ehrcommon.ct.id]).map do |xrayinvestigation| Array[ "#{xrayinvestigation.investigation_type}, #{xrayinvestigation.investigation_name.to_s}", xrayinvestigation.investigation_id.to_i, Hash["data-has_laterality" => xrayinvestigation.has_laterality], Hash["data-investigation_type" => xrayinvestigation.investigation_type], Hash["data-investigation_type_id" => xrayinvestigation.investigation_type_id], Hash["data-specialty_id" => xrayinvestigation.specialty_id], Hash["data-template_id" => xrayinvestigation.template_id] ] end), input_html: { multiple: true, :size => '15', :style => 'height: 100%; width: 60;', :class => 'form-control'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>

    </div>

  </div>


</div>