<div class="tab-pane" id="laboratory">

      <div class="row">

          <div class="col-md-6">      

                <div class="row">

                  <div class="col-md-8">

                    <%= render partial: "templates/common/soap_assessment_tab_laboratory_table_list" , locals: { f: f, addedlaboratoryinvestigationlist: @opdrecord.addedlaboratoryinvestigationlist, addedotherinvestigationlist: @opdrecord.addedotherinvestigationlist, opdrecord: @opdrecord,  specalityfoldername: @speciality_folder_name, templatetype: @templatetype } %>

                  </div>

                  <div class="col-md-4">

                    <label for="toplaboratoryinvestigation-textarealabel">Laboratory Investigation Sets</label>
                    <%= f.input :toplaboratoryinvestigation, collection: (LaboratoryInvestigationData.all.map do |labinvestigation| Array["#{labinvestigation.investigation_name.to_s}", labinvestigation.investigation_id.to_i] end), input_html: { multiple: true, :size => '30', :style => 'height: 100%; width: 60;', :class => 'form-control'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>

                  </div>

                </div>          

          </div>

          <div class="col-md-6">      
              
                <div class="row">

                  <div class="col-md-7">

                    <%= render partial: "templates/common/soap_assessment_tab_otherinvestigations_table_list" , locals: { f: f, addedlaboratoryinvestigationlist: @opdrecord.addedlaboratoryinvestigationlist, addedotherinvestigationlist: @opdrecord.addedotherinvestigationlist, opdrecord: @opdrecord,  specalityfoldername: @speciality_folder_name, templatetype: @templatetype } %>

                  </div>

                  <div class="col-md-5">

                    <label for="otherinvestigationslist-textarealabel">Other Investigations List</label>
                    <%= f.input :otherinvestigationslist, collection: (OtherInvestigationData.all.map do |otherinvestigation| Array["#{otherinvestigation.investigation_name.to_s}", "#{otherinvestigation.investigation_id}###{otherinvestigation.loinc_code}###{otherinvestigation.loinc_class}"] end), input_html: { multiple: true, :size => '20', :style => 'height: 100%; width: 60;', :class => 'form-control'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>

                  </div>

                </div>

          </div>

      </div>

</div>