<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#diagnosis" data-toggle="tab"><strong>Diagnosis</strong></a></li>
  <li class=""><a href="#radiology" data-toggle="tab"><strong>Radiology</strong></a></li>
  <li class=""><a href="#laboratory" data-toggle="tab"><strong>Laboratory & Others</strong></a></li>
</ul>