<ul class="nav nav-tabs nav-justified" id="ul_soap_plan">  
  <li data-id="medication" class="active" onclick="prefix_and_toggle('medication', 'advice');"><a href="#medication" data-toggle="tab"><strong>Medication</strong></a></li>
  <li data-id="procedure" class="" onclick="prefix_and_toggle('procedure', 'advice');"><a href="#procedure" data-toggle="tab"><strong>Procedures</strong></a></li>
  <li data-id="referral" class="" onclick="prefix_and_toggle('referral', 'advice');"><a href="#referral" data-toggle="tab"><strong>Referral</strong></a></li>
  <li data-id="advice" class="" onclick="prefix_and_toggle('advice', 'advice');"><a href="#advice" data-toggle="tab"><strong>Advice</strong></a></li>
</ul>