<ul class="steps" style="margin-left: 0">
  <li data-step="1" id="trauma_clinical_step" onclick="toggle_btn('');" class="active" style="cursor:pointer;"><span class="badge badge-info">Step 1</span>Clinical Details<span class="chevron"></span></li>
  <li data-step="2" id="trauma_assesment_step" style="cursor:pointer;"><span class="badge">Step 2</span>Assessment<span class="chevron"></span></li>
  <li data-step="3" id="trauma_advice_step" style="cursor:pointer;"><span class="badge">Step 3</span>Advice<span class="chevron"></span></li>
</ul>

<script type="text/javascript">
  jQuery('#trauma_assesment_step').on("click", function() {
    jQuery("#MyWizard").wizard('next');
    var active_li = $('#ul_trauma').find('li.active').attr('data-id');
    toggle_btn(active_li, 'trauma_assesment_step_');
  });
  jQuery('#trauma_advice_step').on("click", function() {
    jQuery("#MyWizard").wizard('next').wizard('next');
    var active_li = $('#ul_soap_plan').find('li.active').attr('data-id');
    toggle_btn(active_li, 'trauma_advice_step_');
  });
</script>