<div class="row"> <!-- Action Buttons starts -->
  <% if @mode =="tabview"%>
    <% close ="showAndroidClose('hi')" %>
  <% else%>
    <% close = "" %>
  <% end %>
  <div class="col-md-12 col-sm-12 col-xs-12 text-right">
    <button aria-hidden="true" class="btn btn-success saveopdrecord">Update</button>
    <% if @opdrecord.record_type == "clone" %>
      <%= link_to opd_records_delete_clone_record_path(id: @opdrecord.id.to_s), class: "btn btn-sm btn-info btn-delete-clone", :onClick => clone, :data => {:remote => true} do %>Close<% end %>
    <% else %>
      <button aria-hidden="true" class="btn btn-info"  data-dismiss="modal" onClick=<%=close%>>Close</button>
    <% end %>
  </div>
</div> <!-- Action Buttons ends -->

<script type="text/javascript">
  // $('.saveopdrecord').on('click', function(){
  //   $(".btn-delete-clone").attr('disabled', 'disabled')
  // })
  $('.btn-delete-clone').on('click', function(){
    $(".saveopdrecord").attr('disabled', 'disabled')
  })
</script>
<% if @mode =="tabview"%>
<script type="text/javascript">
    function showAndroidClose(hello) {
        Android.closeTemplate(hello);
    }
</script>
<% end %>
