<div class="row"> <!-- Action Buttons starts -->
  <% if @mode =="tabview" %>
    <% close ="showAndroidClose('hi')" %>
  <% else %>
    <% close = "" %>
  <% end %>
  <div class="col-md-12 col-sm-12 col-xs-12 text-right">
    <button class="btn btn-success saveopdrecord">Save</button>
    <button class="btn btn-info" data-dismiss="modal" onClick=<%=close%>>Close</button>
  </div>
</div> <!-- Action Buttons ends -->
<% if @mode =="tabview"%>
  <script type="text/javascript">
    function showAndroidClose(hello) {
      Android.closeTemplate(hello);
    }
  </script>
<% end %>
