<div class="contentpanel facility-settings-panel">
  <%= render "facility_settings" %>
  <script type="application/javascript">
    $(document).ready(function(){
      <%= render partial: 'facility_setting.js' %>
    })
  </script>
</div>
