<div class="manage_sms_settings" id="manage_sms_settings">
  <%= render "/organisations/manage_sms_setting2.html.erb" %>
  <script type="application/javascript">
      $(document).ready(function(){
          <%#= render partial: 'cash_register_templates_init.js' %>
      })
  </script>
</div>