<div class="contentpanel organisation-settings-panel">
  <%= render "organisation_settings" %>
  <script type="application/javascript">
    $(document).ready(function(){
      <%= render partial: 'organisation_setting.js' %>
    })
  </script>
</div>
