<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add New Domain</h4>
    </div>
    <%= form_for @trusted_domain, remote: true do |f| %>
      <%= f.hidden_field :organisation_id, value: current_user.organisation_id %>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <strong><b>Domain Name</b></strong>
            </div>
            <div class="col-md-6">
              <%= f.text_field :name, class: 'form-control p7_10', placeholder: 'example.com' %>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Add Domain', class: 'btn btn-success', data: { 'disable-with': 'Please Wait...' }, onclick: 'validateTrustedDomain()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
