<div class="row">

  <div class="col-md-3">
  </div>

  <div class="col-md-6">

    <div class="panel panel-danger">
      <div class="panel-heading" style="padding: 5px;">
        <div class="panel-btns">
          <a class="panel-close remove-selected-bed-room-for-patient-admission" style="font-weight: bold;opacity: 0.4;font-size: 25px;color: #000;">×</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">Selected Room / Bed</h3>
      </div>
      <div class="panel-body">
            <h4><%= @ward.name %></h4>
            <h6><%= @room.name %></h6>
            <h6><%= @label %></h6>
            <h6><%= @bed.price %></h6>
      </div>
    </div>

  </div>

  <div class="col-md-3">
  </div>

</div>

<style type="text/css">
.hider {
  display: none;
}
</style>
<script type="text/javascript">
  $(".remove-selected-bed-room-for-patient-admission").on('click', function(){
    $(".panel-danger").addClass("hider");
  });
</script>