<div class="modal-dialog" style="width: 60%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title" style="color: #00BFFF">Return Invoice Details</h4>
    </div>
    <div class="modal-body window-body">
      <%= render partial: 'inventory/transaction/returns/show_body.html.erb' %>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <strong style="color: red; font-size: 15px;">Reason For Cancellation:</strong>
          <input type="textarea" class="form-control mb7" name="" required placeholder="Comments" id="inventory_cancel_reason">
        </div>
      </div>
    </div>
    <div class="modal-footer window-footer">
      <button class="btn btn-danger" id="cancel_invoice">Delete Return Invoice</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#cancel_invoice').prop('disabled', true)
  $('#inventory_cancel_reason').keyup(function() {
    var reason = $('#inventory_cancel_reason').val()
    if (reason.length > 3) {
      $('#cancel_invoice').prop('disabled', false)
    } else {
      $('#cancel_invoice').prop('disabled', true)
    }
  })

  $('#cancel_invoice').on('click', function() {
    var reason = $('#inventory_cancel_reason').val()
    $.ajax({
      type : 'delete',
      url: '/inventory/transaction/returns/<%= @return_transaction.id %>',
      data: {
        date: '<%= Date.current %>',
        from: '<%= params[:from] %>',
        reason: reason, remote: 'true'
      },
    })
  })
</script>