function calTotalPrice() {
  var each_item_totals = 0;
  $('.price_including_tax_label').each(function(){
    each_item_totals += parseFloat($(this).text()) || 0;
  });
  $("#inventory_transaction_return_total_cost").val(each_item_totals.toFixed(2))
  $("#inventory_transaction_return_return_amount").val(each_item_totals.toFixed(2))
}

$('.delete_empty_item').on('click', function(){
  if ($('.transfer-transaction-log-item').length > 1){
    $(this).closest('.transfer-transaction-log-item').remove()
    var id = $(this).val()
    $('#'+id).css('background-color', '')
    $('#'+id).removeClass('disabled_row')
    if (checkItem.includes(id)) {
      checkItem.pop(id)
    }
  }
  calTotalPrice()
  taxBreakup()
})

function calReturnPrice() {
  var item_total_cost = parseFloat($('#inventory_transaction_return_total_cost').val() || 0)
  var return_charges = parseFloat($('#inventory_transaction_return_return_charges').val() || 0)
  var net_amount = item_total_cost - return_charges
  $("#inventory_transaction_return_return_amount").val(net_amount.toFixed(2))
}

 function grossRate()
 {
  var crg = parseFloat($('.return-changes').val()) || 0
  var total_cost = (parseFloat($('#inventory_transaction_return_total_cost').val()) || 0)
  var gross_rate = (crg / total_cost)
  if (gross_rate == 0){
    gross_rate = 1
  }else{
    gross_rate = 1 - gross_rate
  }
  return gross_rate
 }

function itemOperations()
{
  var gross_rate = grossRate()
  $(".transfer-transaction-log-item").each(function() {
    quantity = $(this).find(".item_quantity").val()
    item_unit_cost = $(this).find(".item_unit_cost").val()
    taxing_amount = parseFloat($(this).find(".unit_price_including_tax").val() * quantity)
    item_tax = new_tax_groups($(this), taxing_amount, gross_rate)
    item_total_cost = item_unit_cost * quantity
    if ($(this).find('.tax_inclusive').val() == 'true'){
      taxable_amount = item_total_cost*gross_rate - item_tax
    } else {
      taxable_amount = item_total_cost*gross_rate
    }
    item_gross = item_total_cost*gross_rate + item_tax
    $(this).find(".price_including_tax").val(item_gross.toFixed(1))
    $(this).find('.item_unit_taxable_amount').val(taxable_amount)
    $(this).find('.item_taxable_amount').val(taxable_amount)
  });
}

$('.return-changes').on('change keyup', function() {
  itemOperations()
  calReturnPrice()
  taxBreakup()
})

$('.item_quantity').focus();

$(".item_quantity").keypress(function(e) {
  if(e.which == 13) {
    e.preventDefault();
    if ($("#search_type").val() == 'Description') {
      $("#lots_search").focus();
    } else {
      $("#lots_search_barcode").focus();
    }
  }

});

$(".item_quantity").on('change keyup', function() {
  var quantity = $(this).val()
  var parent_container = $(this).closest(".transfer-transaction-log-item")
  var max_quantity = parseFloat(parent_container.find(".item_max_quantity").val())
  var item_unit_cost = parent_container.find(".item_unit_cost").val()
  var item_total_cost = item_unit_cost * quantity
  var taxable_amount  = parseFloat(parent_container.find('.unit_taxable_amount').val()) * quantity

  var item_tax = tax_groups(parent_container, taxable_amount)

  var item_unit_taxable_amount = parseFloat(parent_container.find('.unit_non_taxable_amount').val())
  parent_container.find('.item_taxable_amount').val(taxable_amount)
  parent_container.find(".price_including_tax").val(item_total_cost.toFixed(2))
  parent_container.find(".unit_price_including_tax").val(item_unit_taxable_amount.toFixed(2) || 0)
  if (parent_container.find('.tax_inclusive').val() == 'true'){ 
    parent_container.find(".price_including_tax_label").text(item_total_cost.toFixed(2) || 0)
  }else {
    parent_container.find(".price_including_tax_label").text((item_total_cost + item_tax).toFixed(2) || 0)
  }
  calTotalPrice()
  $('.return-changes').trigger('change')
})

function calculate_item_wise_price() {
  $('.price_including_tax_label').each(function(){
    var parent_container = $(this).parents(".transfer-transaction-log-item")
    var quantity = parseFloat($(parent_container).find('.item_quantity').val() || 0)
    var max_quantity = parseFloat(parent_container.find(".item_max_quantity").val())
    var item_unit_cost = parent_container.find(".item_unit_cost").val()
    var item_total_cost = item_unit_cost * quantity
    var taxable_amount  = parseFloat(parent_container.find('.unit_taxable_amount').val()) * quantity

    var item_tax = tax_groups(parent_container, taxable_amount)

    var item_unit_taxable_amount = parseFloat(parent_container.find('.unit_non_taxable_amount').val())
    parent_container.find('.item_taxable_amount').val(taxable_amount)
    parent_container.find(".price_including_tax").val(item_total_cost.toFixed(2))
    parent_container.find(".unit_price_including_tax").val(item_unit_taxable_amount.toFixed(2) || 0)
    if (parent_container.find('.tax_inclusive').val() == 'true'){ 
      parent_container.find(".price_including_tax_label").text(item_total_cost.toFixed(2) || 0)
    }else {
      parent_container.find(".price_including_tax_label").text((item_total_cost + item_tax).toFixed(2) || 0)
    }
    calTotalPrice()
    $('.return-changes').trigger('change')
  });
}

calculate_item_wise_price()

function tax_groups(item, total) {
  var item_tax = 0.00
  item.find('.tax_group').each(function(){
    rate = parseFloat($(this).find('.item-tax-group-rate').val())
    group_rate = parseFloat(item.find('.item-tax-rate').val())
    tax_amount = total * rate / group_rate || 0
    $(this).find('.item-tax-group-amount').val(tax_amount)
    item_tax += tax_amount
  });
  item.find('.item-tax-amount').text(item_tax.toFixed(2))
  item.find('.item_total_tax_amount').val(item_tax)
  return item_tax
}

function new_tax_groups(item, total, gross_rate) {
  var item_tax = 0.00
  var gross = total/100 * gross_rate
  item.find('.tax_group').each(function(){
    tax_amount = parseFloat($(this).find('.item-tax-group-rate').val())  * gross
    $(this).find('.item-tax-group-amount').val(tax_amount)
    item_tax += tax_amount
  });
  //item.find('.item-tax-amount').text(item_tax.toFixed(2))
  //item.find('.item_total_tax_amount').val(item_tax)
  return item_tax
}

function taxBreakup() {
  $('.tax-breakup-container').html("")
  $('.tax-breakup-info').hide()
  $(".tax_group").each(function(){
    parent_container = $(this).closest('.transfer-transaction-log-item')
    id = $(this).find('.item-tax-group-id').val()
    tax_amount = parseFloat($(this).find('.item-tax-group-amount').val()) || 0.0
    taxable_amount = parseFloat(parent_container.find('.item_taxable_amount').val()).toFixed(2) || 0.0
    if ($('.tax-breakup-'+id).length > 0){
      tax_amount = (tax_amount + parseFloat($('.tax-breakup-'+id+' .tax-breakup-amount').val())).toFixed(2) || 0
      $('.tax-breakup-'+id+' .tax-breakup-amount').val(tax_amount)
      $('.taxable_amount_'+id).val(taxable_amount + parseFloat($('.taxable_amount_'+id).val()).toFixed(2))
    } else{
      tax_name = $(this).find('.item-tax-group-name').val()
      tax_rate = $(this).find('.item-tax-group-rate').val()
      tax_type = $(this).find('.item-tax-group-type').val()
      $('.tax-breakup-container').append(`
        <div class='row mb5 tax-breakup-${id}'>
          <div class="col-md-5 text-right"><b>${tax_name}</b></div>
          <div class="col-md-2 text-center">:</div>
          <div class="col-md-4 text-right">
            <input class="tax_group_id_${id}" value="${id}" type="hidden" name="inventory_transaction_return[tax_breakup][][_id]">
            <input  class="tax_group_id_${id}" value="${tax_name}" type="hidden" name="inventory_transaction_return[tax_breakup][][name]">
            <input style="width:92%;" class="tax_group_amount_${id} tax-breakup-amount fi_input_style text-right" value="${tax_amount.toFixed(2)}" type="text" name="inventory_transaction_return[tax_breakup][][amount]" readonly="readonly">
            <input value="${tax_rate}" type="hidden" name="inventory_transaction_return[tax_breakup][][tax_rate]">
            <input value="${tax_type}" type="hidden" name="inventory_transaction_return[tax_breakup][][tax_type]">
            <input value="${taxable_amount}" type="hidden" name="inventory_transaction_return[tax_breakup][][taxable_amount]" class="tax-breakup-taxable taxable_amount_${id}">
          </div>
        </div>
      `)
      $('.tax-breakup-info').show()
    }

  });
  $('#inventory_return_transactions_form').parent().css('height', 'auto')
  var total_taxable_amount = 0
  $('.transfer-transaction-log-item').each(function(){
    total_taxable_amount += parseFloat($(this).find('.item_taxable_amount').val()) || 0
  });
  $('#total_taxable_amount').val(total_taxable_amount.toFixed(2))
}

var datepicker_options = {
  dateFormat: "dd/mm/yy"
}

var datepicker_options_same_day = {
  dateFormat: "dd/mm/yy",
  maxDate: -0,
  minDate: -0
}

$("#inventory_transaction_return_cheque_date").datepicker(datepicker_options)
$("#inventory_transaction_return_transfer_date").datepicker(datepicker_options)
$(".payment-datepicker").datepicker(datepicker_options_same_day)


$(".mode_of_payment").on('change', function(){
  var mode_of_payment = $(this).val()
  var amount = $("#inventory_transaction_return_return_amount").val()
  $('#inventory_return_transactions_form').parent().css('height', 'auto')
  if(mode_of_payment.length > 0){
    if(mode_of_payment == "Cash"){
      $(".mode_of_payment_details").html('')
      $(".mode_of_payment_details").hide()
    } else if(mode_of_payment == "Card"){
      $(".mode_of_payment_details").html('<div class="row"><div class="card_details"><div class="col-md-6" ><b>Card Number</b><input type="text" name="inventory_transaction_return[card_number]" id="inventory_transaction_return_card_number" class="form-control p7_10" minlength="4" maxlength="4" onKeyPress="return event.charCode >= 48 && event.charCode <= 57" value="" placeholder="Card Number"> </div><div class="col-md-6" style="padding-right: 0"><b>Transaction Note</b><input type="text" name="inventory_transaction_return[card_transaction_note]" id="inventory_transaction_return_card_transaction_note" class="form-control p7_10" value="" placeholder="Transaction Note"> </div></div></div>')
      $(".mode_of_payment_details").show()
    } else if(mode_of_payment == "Paytm"){
      $(".mode_of_payment_details").html('<div class="row"><div class="paytm_details"><div class="col-md-6"><b>Transaction Id</b><input type="text" name="inventory_transaction_return[paytm_transaction_id]" id="inventory_transaction_return_paytm_transaction_id" class="form-control p7_10" value="" placeholder="Transaction Id"></div><div class="col-md-6" style="padding-right: 0"><b>Transaction Note</b><input type="text" name="inventory_transaction_return[paytm_transaction_note]" id="inventory_transaction_return_paytm_transaction_note" class="form-control p7_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(".mode_of_payment_details").show()
    } else if(mode_of_payment == "Google Pay"){
      $(".mode_of_payment_details").html('<div class="row"><div class="gpay_details"><div class="col-md-6"><b>Transaction Id</b><input type="text" name="inventory_transaction_return[gpay_transaction_id]" id="inventory_transaction_return_gpay_transaction_id" class="form-control p7_10" value="" placeholder="Transaction Id"></div><div class="col-md-6" style="padding-right: 0"><b>Transaction Note</b><input type="text" name="inventory_transaction_return[gpay_transaction_note]" id="inventory_transaction_return_gpay_transaction_note" class="form-control p7_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(".mode_of_payment_details").show()
    } else if(mode_of_payment == "PhonePe"){
      $(".mode_of_payment_details").html('<div class="row"><div class="phonepe_details"><div class="col-md-6"><b>Transaction Id</b><input type="text" name="inventory_transaction_return[phonepe_transaction_id]" id="inventory_transaction_return_phonepe_transaction_id" class="form-control p7_10" value="" placeholder="Transaction Id"></div><div class="col-md-6" style="padding-right: 0"><b>Transaction Note</b><input type="text" name="inventory_transaction_return[phonepe_transaction_note]" id="inventory_transaction_return_phonepe_transaction_note" class="form-control p7_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(".mode_of_payment_details").show()
    } else if(mode_of_payment == "Online Transfer"){
      $(".mode_of_payment_details").html('<div class="row"><div class="transfer_details"><div class="col-md-6"><b>Tranfer Date</b><input type="text" name="inventory_transaction_return[transfer_date]" id="inventory_transaction_return_transfer_date" class="form-control p7_10" placeholder="Transfer Date" readonly="readonly"></div><div class="col-md-6" style="padding-right: 0"><b>Transaction Note</b><input type="text" name="inventory_transaction_return[transfer_note]" id="inventory_transaction_return_transfer_note" class="form-control p7_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(".mode_of_payment_details").show()
    } else if(mode_of_payment == "Cheque"){
      $(".mode_of_payment_details").html('<div class="row"><div class="cheque_details"><div class="col-md-6"><b>Cheque Date</b><input type="text" name="inventory_transaction_return[cheque_date]" id="inventory_transaction_return_cheque_date" class="form-control p7_10" placeholder="Cheque Date" readonly="readonly"></div><div class="col-md-6" style="padding-right: 0"><b>Transaction Note</b><input type="text" name="inventory_transaction_return[cheque_note]" id="inventory_transaction_return_cheque_note" class="form-control p7_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(".mode_of_payment_details").show()
    } else if(mode_of_payment == "Others"){
      $(".mode_of_payment_details").html('<div class="row"><div class="other_details"><div class="col-md-6"><b>Transaction Id</b><input type="text" name="inventory_transaction_return[other_transaction_id]" id="inventory_transaction_return_other_transaction_id" class="form-control p7_10" value="" placeholder="Transaction Id"></div><div class="col-md-6" style="padding-right: 0"><b>Transaction Note</b><input type="text" name="inventory_transaction_return[other_note]" id="inventory_transaction_return_other_note" class="form-control p7_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(".mode_of_payment_details").show()
    } else {
      $(".mode_of_payment_details").html('')
      $(".mode_of_payment_details").hide()
    }
  } else {
    $(".mode_of_payment_details").html('')
    $(".mode_of_payment_details").hide()
  }

  $("#inventory_transaction_return_cheque_date").datepicker(datepicker_options)
  $("#inventory_transaction_return_transfer_date").datepicker(datepicker_options)
});
