
<h4 class="text-center" style="margin: 10px; color: #00BFFF;"><%= @return_transaction.department_name %> Return Bill</h4>

<div class="btn-group" style="margin: 10px;">

  <a href="/inventory/transaction/returns/print?invoice_id=<%= @return_transaction.id %>&page_size=A4" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a>
  <a href="/inventory/transaction/returns/print?invoice_id=<%= @return_transaction.id %>&page_size=A5" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a>
<!--   <%# if @return_transaction.is_canceled == false && @return_transaction.created_at.to_date == Date.current %>
    <%#= link_to delete_inventory_transaction_returns_path(id: @return_transaction.id), class: "btn btn-xs btn-danger ", data: { remote: true, 'toggle' => 'modal', 'target' => '#inventory-invoice-cancellation-modal', class: 'btn btn-info'} do %><i class="fa fa-trash-alt"></i>&nbsp; Delete Return Invoice<%# end %>
  <%# elsif @return_transaction.is_canceled == true%>
  	<label class="btn btn-danger btn-xs disabled">Canceled</label>
  <%# end %> -->
  <!-- <%#= link_to new_mail_record_tracker_path(record_name: 'Inventory Invoice', record_id: @return_transaction.id, record_model: 'Invoice::InventoryInvoice', appointment_id: @return_transaction.try(:appointment_id), admission_id: @return_transaction.try(:admission_id), speciality: @return_transaction.try(:specalityname), :patient_id => @return_transaction&.patient_id, invoice_id: @return_transaction.id), class: "btn btn-xs btn-success", data: { remote: true, 'disable-with' =>  "Please Wait...", 'toggle' => 'modal', 'target' => '#mail-record-modal'} do %> <i class="fa fa-envelope"></i> Email<%# end %> -->
</div>

<%= render partial: '/inventory/transaction/returns/show_body.html.erb' %>
