$("#inventory-invoice-cancellation-modal").modal("hide")
$(".inventory-table-body").html("<%= escape_javascript(render partial: 'inventory/transaction/returns/index_body.html.erb') %>")
storeContentHeight = $(".store-content").height()
storeListHeight = storeContentHeight - $('.inventory-toolbar').height()
storeBodyHeight = storeListHeight - $('.inventory-table-head').height()
$('.inventory-table-body').height(storeBodyHeight)

jQuery(".inventory-show-panel").html('<h3 class="text-center" style="margin-top: 200px">Please select from list.</h3>')

if($('.inventory-table-body tr').length == <%= @returns&.count %>){
    $('#show_more_inventory').hide();
}

$('.inventory-items .inventory-list-row').unbind()
$('.inventory-items .inventory-list-row').on('click', function(e){
  e.preventDefault();
  var _id =  $(this).attr('id');
  $('.inventory-list-row').css('background-color', '')
  $.ajax({
    type: 'GET',
    data: {
      remote: true
    },
    url: '/inventory/transaction/returns/'+_id,
    success: function(){
      $('#'+_id).css('background-color', '#cfe8d2')
    }
  })
})

notice = new PNotify({ title: 'Success', text: 'Successfully Canceled Sales Return. Please REFRESH the page.', type: 'success' }); notice.get().click(function(){ notice.remove() });