<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog payer-dialog" style="width:75%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Payer Form</h4>
    </div>
    <%= simple_form_for @payer_master, method: 'patch', remote: true do |f| %>
      <div class="modal-body">
        <%= render partial: 'form.html.erb', locals: { f: f } %>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Update Payer', class: 'btn btn-success', data: { 'disable-with': 'Please Wait...' }, onclick: 'payer_new' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
