<div class="row mb10 toggle-form" >
  <%= form_tag task_list_path, :method => :patch, :remote => true, id: 'edit_task_form'  do %>
      <div class="col-sm-9">
        <%= text_area_tag :comment,@task.try(:comment), class: 'form-control message', placeholder: "Enter your task..", style: "width: 100%;"%>
      </div>
      <div class="col-sm-3">
        <%= submit_tag( "Save", { class: "btn btn-primary btn-sm  " }) %>
      </div>
  <% end %>
  <hr>
</div>