<div class="row">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Request Time</th>
      <th>URL</th>
      <th>Payload</th>
      <th># Retries</th>
    </tr>
    </thead>
    <tbody>
    <% @data_received.each do |data_received| %>
      <tr>
        <td><%= data_received.request_time %></td>
        <td><%= data_received.url %></td>
        <td><%= data_received.payload %></td>
        <td><%= data_received.number_of_retries %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>