<div class="contentpanel integration-panel">
  <div class="row">
    <div id="integrationWizard" class="basic-wizard">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#data-received-details" data-toggle="tab">Data Received</a></li>
        <li role="presentation"><a href="#response-sent-details" data-toggle="tab">Response Sent</a></li>
        <li role="presentation"><a href="#data-sent-details" data-toggle="tab">Data Sent</a></li>
        <li role="presentation"><a href="#response-received-details" data-toggle="tab">Response Received</a></li>
      </ul>
      <div class="tab-content integration-form-body">
        <div class="tab-pane active" id="data-received-details">
          <%= render partial: "advance_data_received.html.erb" %>
        </div>
        <div class="tab-pane" id="response-sent-details">
          <%= render partial: "advance_response_sent.html.erb" %>
        </div>
        <div class="tab-pane" id="data-sent-details">
          <%= render partial: "advance_data_sent.html.erb" %>
        </div>
        <div class="tab-pane" id="response-received-details">
          <%= render partial: "advance_response_received.html.erb" %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $("#integrationWizard").wizard()
</script>