<div class="panel-body">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="subtitle mb5" style="display:inline;">Admitted Patient List (Total: <%= @admitted.size %>)</h5><a href="" class="pull-right btn-minimize-view"><i class="fa fa-minus"></i></a>
    </div>
    <div class="col-sm-12">
      <b>Total:</b><%= @admitted.size %>
    </div>
  </div>
  <div class="row toggle-view" id="admitted-list-dashboard">
    <div class="col-md-12">
      <div class="table-responsive">
        <%= render partial: '/dashboard/admitted/admitted_details.html.erb' %>
      </div><!-- table-responsive -->
    </div>
  </div>
</div><!-- panel-body -->