<% facility_id = params[:facility_id] || current_faciity.id %>
<div class="row mb10" style="background:#354670;color:#fff">
  <div class="col-xs-12 col-md-3">
    <h4>QUEUE SCREEN SETUP</h4>
  </div>
  <div class="col-xs-12 col-md-3">
    <div style="margin:5px;">
      <%= select_tag :facility_id, options_for_select(@facilities, params[:facility_id]), class: 'index_facility_id form-control' %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 text-right">
    <%= link_to new_queue_management_screen_path(facility_id: facility_id), data: { remote: true, toggle: 'modal', target: '#ward-modal' }, class: 'btn btn-primary', style: 'margin:5px;' do %><i class="fa fa-plus"></i> Add Screens<% end %>
  </div>
</div>
<% unless @facility_setting.queue_management %>
  <div class="row mb10">
    <div class="col-md-12 text-center">
      <span style="color:red;">
        <b>Note: </b>
        <span>Queue Management is Disabled for this Facility. Visit [ Organisation Setup <i class="fa fa-arrow-right"></i> Edit Facility ] to enable.</span>
      </span>
    </div>
  </div>
<% end %>
<div class="row">
  <%= render partial: 'view.html.erb', locals: { facility_id: facility_id } %>
</div>

<script type="text/javascript">
  $(".index_facility_id").select2();

  $('.index_facility_id').on('change', function(){
    let facilityId = $(this).val()
    $.ajax({
      type: "get",
      dataType: "script",
      url: '/queue_management/screens',
      data: { facility_id: facilityId }
    });
  })
</script>
