<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-body mis-custom-datepicker-body">
      <div class="row">
        <div class="col-md-12">
          <b>Select Date Range</b>
          <div class="input-group">
            <span class="input-group-addon" style="padding: 5px 10px;"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="text" name="start_date" id="custom_start_date" class="form-control" readonly="readonly" style="cursor:pointer;background-color:#fff;" style="display: none;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".mis-custom-datepicker-body").height($(window).height() - 250)

  daterangepicker_options = {
    linkedCalendars: false,
    maxSpan: {
        years: 1
    },
    maxDate: moment(),
    locale: {
      format: 'DD/MM/YYYY'
    }
  }

  $("#custom_start_date").daterangepicker(daterangepicker_options);
  $('#custom_start_date').on('apply.daterangepicker', function(ev, picker) {
    var start_date = picker.startDate.format('DD-MM-YYYY')
    var end_date = picker.endDate.format('DD-MM-YYYY')
    var store_id = '<%= @inventory_store.id %>'

    $("#mis-modal").modal("hide")

    jQuery.ajax({
      type: 'get',
      dataType: 'script',
      data: {
        store_id: store_id,
        start_date: start_date,
        end_date: end_date,
        time_period: 'Custom Date',
        remote: true
      },
      url: '/inventory/order/requisitions'
    });
  });

  $('#custom_start_date').on('cancel.daterangepicker', function(ev, picker) {
    $("#mis-modal").modal("hide")
  });

  setTimeout(function(){ $("#custom_start_date").trigger("click"); }, 100);
</script>
