<div class="modal-dialog modal-lg window-dialog">
  <div class="modal-content">
    <%= form_for @case_sheet, remote: remote, html: { id: 'edit-case-form', class: "case-form" } do |f| %>
      <div class="modal-header window-header">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h4 class="modal-title">Case Details</h4>
          </div>
          <div class="col-md-4 text-right">
            <%= f.submit "Save", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' } %>
            <% unless remote %>
              <button type="button" class="btn btn-default" data-dismiss="window" style="margin-left:5px;">Close</button>
            <% else %>
              <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:5px;">Close</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-body window-body">
        <%= render partial: 'form.html.erb', locals: {f: f} %>
      </div>
      <div class="modal-footer window-footer">
        <%= f.submit "Save", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' } %>
        <% unless remote %>
          <button type="button" class="btn btn-default" data-dismiss="window">Close</button>
        <% else %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>