<!-- HEADER -->
<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-md-2">
    <h4>Pricing Master</h4>
  </div>
  <div class="col-md-3 search-container">
    <input type="text" class="search-pricing-master form-control p5_10 mt5" style="display: none;" placeholder="Search Service Name or Pricing Details">
    <input type="text" class="search-facility form-control p5_10 mt5" placeholder="Search Facility Name">
  </div>
  <div class="col-md-3">
    <% if @specialties.count > 1 %>
      <%= select_tag 'specialty_id', options_for_select(@specialties.pluck(:name, :id) || [], @selected_specialty), class: 'form-control specialty_dropdown mt5', style: 'height:30px; padding:0px;' %>
    <% end %>
  </div>
  <div class="col-md-4 text-right">
    <button class="btn btn-default back-btn" style="display: none;"><i class="fa fa-arrow-left"></i>&emsp;Back</button>
    <div id='payee-pricing-link' style="display: inline-block;"></div>
  </div>
</div>
<!-- HEADER ENDS -->

<!-- SERVICE MASTER LIST -->
<div id="pricing_master_table_content">
  <%= render partial: 'facility_list.html.erb' %>
</div>
<!-- SERVICE MASTER LIST ENDS -->

<style type="text/css">
  #pricing_master_table_content {
    /*height: 500px;*/
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #pricing_master_table {
    width: relative;
  }
</style>

<script type="text/javascript">
 $(".search-facility").on('keyup', function(){
    pricing_list = $(".each-pricing_master-table-row");
    pricing_list_count = pricing_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = pricing_list.length - 1; i >= 0; i--) {
      service_name = $(pricing_list[i]).find(".sm_service_name")
      pricing_name = $(pricing_list[i]).find(".pm_service_name")
      facility = $(pricing_list[i]).find('td')[0]
      if ($(facility).html().toUpperCase().indexOf(search) > -1) {
        $(pricing_list[i]).css("display", "");
      } else {
        $(pricing_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(pricing_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#pricing_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="4">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })

  $('.specialty_dropdown').on('change', function() {
    var specialty_id = $(this).val();
    if($("#pricing_master_table").length > 0){
      var facility_id = $('.facility_id').val()
      url = '/pricing_masters/pricing_list'
      data = { specialty_id: specialty_id, facility_id: facility_id, remote: "true" }
    } else {
      url = '/pricing_masters'
      data = { specialty_id: specialty_id, remote: "true" }
    }

    $.ajax({
      type: "GET",
      url: url,
      data: data,
    })
  })
</script>
