<div class="lowerlimb_knee_l hidden" id="lowerlimb_knee_l">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "knee", side: "l", sidelabel: "left" } %>
</div>