<div class="lowerlimb_leg_l hidden" id="lowerlimb_leg_l">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "leg", side: "l", sidelabel: "left" } %>
</div>
