<div class="lowerlimb_footankle_r hidden" id="lowerlimb_footankle_r">
  <%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "footankle", side: "r", sidelabel: "right" } %>
</div>