<div class="lowerlimb_ankle_l hidden" id="lowerlimb_ankle_l">

	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "ankle", side: "l", sidelabel: "left" } %>

</div>
