<div class="lowerlimb_thigh_r hidden" id="lowerlimb_thigh_r">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "thigh", side: "r", sidelabel: "right" } %>
</div>
