<div class="lowerlimb_foot_r hidden" id="lowerlimb_foot_r">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "foot", side: "r", sidelabel: "right" } %>
</div>