<div class="lowerlimb_ankle_r hidden" id="lowerlimb_ankle_r">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "ankle", side: "r", sidelabel: "right" } %>
</div>