<div class="lowerlimb_foot_l hidden" id="lowerlimb_foot_l">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "foot", side: "l", sidelabel: "left" } %>
</div>
