<div class="lowerlimb_leg_r hidden" id="lowerlimb_leg_r">
  <%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "leg", side: "r", sidelabel: "right" } %>
</div>