<div class="lowerlimb_knee_r hidden" id="lowerlimb_knee_r">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "knee", side: "r", sidelabel: "right" } %>
</div>
