<div class="lowerlimb_thigh_l hidden" id="lowerlimb_thigh_l">
<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "lowerlimb", limblocation: "thigh", side: "l", sidelabel: "left" } %>
</div>
