<div class="upperlimb_hand_l hidden" id="upperlimb_hand_l">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "hand", side: "l", sidelabel: "left" } %>
</div>