<div class="upperlimb_spine hidden" id="upperlimb_spine">

  <div class="row mb10">
    <div class="col-md-12">
      <div class="col-md-2">Chief complaints:</div>
      <%= f.input :cc_upperlimb_spine, wrapper_html: {:class=>"col-md-10"}, collection: ['Pain', 'Radicular leg pain', 'Tingling', 'Numbness', 'Weakness', 'Loss of bladder control', 'Deformity'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white cc_upperlimb_spine', :input_html => {:name => "opdrecord[cc_upperlimb_spine]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:cc_upperlimb_spine)) %>
    </div>
  </div>

  <div class="pull-right mb10">
      <button aria-hidden="true" class="btn btn-info traumaannotate-cancel">Close</button>
  </div>

</div>