<div class="upperlimb_spine_neck hidden" id="upperlimb_spine_neck">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "spine", side: "neck", sidelabel: "neck" } %>
</div>