<div class="upperlimb_forearm_r hidden" id="upperlimb_forearm_r">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "forearm", side: "r", sidelabel: "right" } %>
</div>