<div class="upperlimb_spine_midback hidden" id="upperlimb_spine_midback">
  <%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "spine", side: "midback", sidelabel: "midback" } %>
</div>