<div class="upperlimb_shoulder_l hidden" id="upperlimb_shoulder_l">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "shoulder", side: "l", sidelabel: "left" } %>
</div>