<div class="upperlimb_hand_r hidden" id="upperlimb_hand_r">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "hand", side: "r", sidelabel: "right" } %>
</div>