<div class="upperlimb_wrist_l hidden" id="upperlimb_wrist_l">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "wrist", side: "l", sidelabel: "left" } %>
</div>