<div class="upperlimb_spine_c hidden" id="upperlimb_spine_c">

  <div class="row">
    <div class="col-md-4">
      <label for="wound-label">Wound:</label>
    </div>
    <div class="col-md-4">
      <label for="tenderness-label">Tenderness:</label>
    </div>
    <div class="col-md-4">
      <button aria-hidden="true" class="btn btn-info traumaannotate-cancel">Cancel</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <%= f.input :wound_spine_c, wrapper_html: {:class=>"col-md-11"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white' %>
    </div>
    <div class="col-md-5">
      <%= f.input :tenderness_spine_c, wrapper_html: {:class=>"col-md-11"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white' %>
    </div>
  </div>

</div>