<div class="upperlimb_shoulder_r hidden" id="upperlimb_shoulder_r">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "shoulder", side: "r", sidelabel: "right" } %>
</div>