<div class="upperlimb_elbow_l hidden" id="upperlimb_elbow_l">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "elbow", side: "l", sidelabel: "left" } %>
</div>