<div class="upperlimb_spine_lowback hidden" id="upperlimb_spine_lowback">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "spine", side: "lowback", sidelabel: "lowback" } %>
</div>