<div class="upperlimb_arm_l hidden" id="upperlimb_arm_l">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "arm", side: "l", sidelabel: "left" } %>
</div>