<div class="upperlimb_forearm_l hidden" id="upperlimb_forearm_l">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "forearm", side: "l", sidelabel: "left" } %>
</div>