<div class="upperlimb_wrist_r hidden" id="upperlimb_wrist_r">
	<%= render partial: "opd_records/#{specalityfoldername}_notes/traumaannotations/limbfields", locals: { f: f, opdrecord: @opdrecord, limb: "upperlimb", limblocation: "wrist", side: "r", sidelabel: "right" } %>
</div>