<div class="row">
  <div class="col-md-7">
    <h4>MANAGE USERS (<%= @facility_name.to_s.upcase %>)</h4>
  </div>
  <div class="col-md-5 text-right">
    <button class="btn btn-default btn-facilities-back mr5"><i class="fa fa-arrow-left"></i> Back</button>
    <!-- <%#= link_to users_link_unlink_multiple_users_path(facility_id: @facility_id, role_id: @role_id), :class => "btn btn-primary link-user", data: {remote: true, 'toggle': "modal", 'target': '#user-modal'} do %><i class="fa fa-plus"></i> Link Existing Users<%# end %> -->
    <%= link_to new_user_path(facility_id: @facility_id), :class => "btn btn-primary edit-user", data: {remote: true, 'toggle': "modal", 'target': '#user-modal'} do %><i class="fa fa-plus"></i> Add User<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <table id="manage_users" class="table table-primary table-bordered dataTable">
    </table>
  </div>
</div>

<script>
  <%= render partial: '/users/index.js.erb' %>
</script>