<div class="modal-dialog" style="width: 70%;">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Update Your Sub Specialty</h4>
    </div>
    <%= simple_form_for current_user, url: '/users/update_sub_specialties', method: 'patch', format: :js, remote: true, multipart: true, html: { class: 'sub_specialty_form', id: 'sub_specialty_form' } do |f| %>
      <%= hidden_field_tag :id, current_user.id.to_s %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 text-center sub_specialty_col">
            <%= f.input :sub_specialty_ids, collection: @sub_specialties, as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white btn-sub_specialty', input_html: { name: 'sub_specialty_ids' }, checked: ['422234006'] %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Save', class: 'btn btn-success', data: { 'disable-with': 'Please Wait...' } %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#user_sub_specialty_ids').on('change', function(){
    if($(this).val() == ''){
      $('#422234006').click()
    }
  })

  $(document).ready(function(){
    const resize_hg_radio = () => {
      $(".btn-sub_specialty").css('width', (parseInt($('.sub_specialty_col').width())/4).toString() + "px")
    }

    $(window).resize(function() {
      resize_hg_radio()
    })
    resize_hg_radio()

  })
</script>
