<!--in case of onboarding to correct the size of modal-->
<% if @preview_type == "onboarding" %>
<div class="modal-dialog modal-lg" style= "width: 71%;">
  <div class="modal-content">
    <div class="modal-header hidden-print">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Print Preview</h4>
    </div>
    <div class="modal-body">
      <%= render '/users/print', :pdf => "xyz", :layout => 'pdfgen.html.erb', viewport_size: '1280x1024', :page_size => "A4", :disable_smart_shrinking => true, :show_as_html => params[:debug].present?, :header => {:spacing => 4,:html => {:template => 'layouts/pdf-header.html'}},:footer => {:html => { :template=>  'layouts/pdf-footer.html' },:spacing => 10, }, :margin => {left: @organisation.letter_head_customisations[:left_margin].to_i * 10,right: @organisation.letter_head_customisations[:right_margin].to_i * 10,:top=> @organisation.letter_head_customisations[:header_height].to_i * 10, :bottom =>  @organisation.letter_head_customisations[:footer_height].to_i * 10} %>
    </div>
    <div class="modal-footer hidden-print">

    </div>
  </div>
</div>

    <!--in case of account setting-->
<% else %>

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header hidden-print">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Print Preview</h4>
    </div>
    <div class="modal-body">
      <%= render '/users/print', :pdf => "xyz", :layout => 'pdfgen.html.erb', viewport_size: '1280x1024', :page_size => "A4", :disable_smart_shrinking => true, :show_as_html => params[:debug].present?, :header => {:spacing => 4,:html => {:template => 'layouts/pdf-header.html'}},:footer => {:html => { :template=>  'layouts/pdf-footer.html' },:spacing => 10, }, :margin => {:top=> @organisation.letter_head_customisations[:header_height].to_i * 10, :bottom => 40 } %>
    </div>
    <div class="modal-footer hidden-print">

    </div>
  </div>
</div>

<%end%>