<div id="user-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <%= render partial: 'users/new_sub_specialties.html.erb' %>
</div>

<script type="text/javascript">
  $('#user-modal').modal('show')
</script>
