//deletethis
//jQuery(document).ready(function() {
//
//  var MyWizard_count = jQuery("#MyWizard > ul > li").length;
//
//  // WIZARD
//  jQuery('#MyWizard').on('changed.fu.wizard', function(e, data) {
//    //console.log('changed');
//    //console.log(data);
//    //_save_tags_for_user("opdrecord_chiefcomplaint_selectedtags", "opdrecord_chiefcomplaint", "/out_patient_templates_tags/add_chief_complaint_tag", 0);
//    //_save_tags_for_user("opdrecord_physiotherapyadvice_selectedtags", "opdrecord_physiotherapyadvice", "/out_patient_templates_tags/add_advice_tag", 0);
//    //_save_tags_for_user("opdrecord_otherprecautions_selectedtags", "opdrecord_otherprecautions", "/out_patient_templates_tags/add_advice_tag", 0);
//  });
//
//  jQuery('#MyWizard').on('actionclicked.fu.wizard', function(e, data) {
//    //console.log('action clicked');
//    //console.log(data);
//  });
//  jQuery('#MyWizard').on('stepclicked.fu.wizard', function(e, data) {
//    console.log('step ' + data.step + ' clicked');
//    if(data.step===1) {
//      // return e.preventDefault();
//    }
//  });
//  //buttons
//  jQuery('#MyWizard').on('finished', function(e, data) {
//    console.log('finished');
//  });
//  jQuery('#btnWizardPrev').on('click', function() {
//    jQuery('#MyWizard').wizard('previous');
//  });
//  jQuery('#btnWizardNext').on('click', function() {
//    jQuery('#MyWizard').wizard('next','foo');
//    console.log('step ' + data.step + ' clicked');
//  });
//  jQuery('#btnWizardStep').on('click', function() {
//    var item = jQuery('#MyWizard').wizard('selectedItem');
//    console.log(item.step);
//  });
//  jQuery('#btnWizardSetStep').on('click', function() {
//    jQuery('#MyWizard').wizard('selectedItem', {
//      step: 3
//    });
//  });
//
//  var emailSetupSamplePane = '<div class="bg-warning alert">' +
//      '       <h4>Setup Message</h4>' +
//      '       <p>Soko radicchio bunya nuts gram dulse silver beet parsnip napa cabbage ' +
//      '       lotus root sea lettuce brussels sprout cabbage. Catsear cauliflower garbanzo yarrow ' +
//      '       salsify chicory garlic bell pepper napa cabbage lettuce tomato kale arugula melon ' +
//      '       sierra leone bologi rutabaga tigernut. Sea lettuce gumbo grape kale kombu cauliflower ' +
//      '       salsify kohlrabi okra sea lettuce broccoli celery lotus root carrot winter purslane ' +
//      '       turnip greens garlic. Jícama garlic courgette coriander radicchio plantain scallion ' +
//      '       cauliflower fava bean desert raisin spring onion chicory bunya nuts. Sea lettuce water ' +
//      '       spinach gram fava bean leek dandelion silver beet eggplant bush tomato. </p>' +
//      '</div>';
//
//  jQuery('#btnWizardAddSteps').on('click', function() {
//    jQuery('#MyWizard').wizard('addSteps', 2, [
//      {
//        badge: '',
//        label: 'Setup',
//        pane: emailSetupSamplePane
//      }
//    ]);
//  });
//
//  jQuery('#btnWizardRemoveStep').on('click', function() {
//    jQuery('#MyWizard').wizard('removeSteps', 1, 1);
//  });
//
//  jQuery('#btnWizardDestroy').click(function () {
//    var markup = jQuery('#MyWizard').wizard('destroy');
//    console.log( markup );
//    jQuery(this).closest('.section').append(markup);
//    jQuery('#MyWizard').wizard();
//  });
//
//  jQuery(document).bind('keydown', 'shift+x', function() {
//    var current_step = jQuery('#MyWizard').wizard('selectedItem');
//    if (MyWizard_count >= current_step['step']) {
//      jQuery('#MyWizard').wizard('selectedItem', { step: (parseInt(current_step['step']) + 1) });
//    }
//  });
//
//  jQuery(document).bind("keydown", "shift+z", function() {
//    var current_step = jQuery('#MyWizard').wizard('selectedItem');
//    if (current_step['step'] > 1) {
//      jQuery('#MyWizard').wizard('selectedItem', { step: (parseInt(current_step['step']) - 1) });
//    }
//  });
//
//});
//
        