<div class="row mb5" style="border-bottom:1px solid #eee;border-top:1px solid #eee;">
  <div class="transaction-lots-list" style="margin-top:15px;">
    <table class="table transaction-lots-table">
      <thead class="transaction-table-head">
        <tr class='thead-fixable'>
          <td class='thead-fix col-md-3 col-sm-3 col-xs-3'>Description</td>
          <td class='thead-fix col-md-2 col-sm-2 col-xs-2'>Rate Per Unit</td>
          <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Tax Rate</td>
          <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Model No.</td>
          <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Expiry</td>
          <td class='thead-fix col-md-2 col-sm-2 col-xs-2'>Unit Quantity</td>
          <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Total Purchase Price</td>
          <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Action</td>
        </tr>
      </thead>
    </table>
  </div>
  <%= render partial: '/inventory/order/requisition_received/lot_form', locals: { f: f, index: nil } %>


</div>