// Case Code Replaced HUZI OUT
// jQuery('#search_diagnosis_keyword').autocomplete({

//     minLength: 3,

//     source: function(request, response) {
//         var template_id = "ipd"
//         var speciality_id = $("#opdrecord_specalityid").val()
//         jQuery.ajax({
//             dataType: "json",
//             type : 'get',
//             url: '/icdtree/searchdiagnosis',
//             data: {q: request.term,template_id: template_id,speciality_id: speciality_id,  remote: "true" },
//             success: function(data) {
//                 response(data);
//             },
//             error: function(data) {
//             }
//         });
//     },
//     select: function( event, ui ) {
//       $(".diagnosis-tooltip").hide()
//       params = ui.item["code"]
//       name = ui.item["code"]
//       icd_type = ui.item["icd_type"]
//       alert("WORNG")
//       modal_diagnosis_icd();
//       setTimeout(function() {
//       jQuery("#search_diagnosis_keyword").val("")
//     }, 50);
//     },
//     create: function () {
//       $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
//         return $('<li>')
//             .append('<a>' + item.label  + '&nbsp; &nbsp; &nbsp;' + "<span class=\"badge pull-right\">" + item.icd_type_label + "</span>" + '</a>')
//             .appendTo(ul);
//     };
//  }
// });

// function modal_diagnosis_icd(){
//   event.preventDefault();
//   jQuery.ajax({
//     type: "GET",
//     url: "/icdtree/modal_diagnosis_icd",
//     data: {ajax: params, icd_type: icd_type,source: 'inpatient_ipd_record', remote: "true" },

//   })
// }



function recent_diagnosis_icd(){
    event.preventDefault();

    jQuery.ajax({
        type: "GET",
        url: "/icdtree/frequentdiagnosis.json",
        data: {ajax: params, remote: "true" },

    }).done(function( data ) {

        var name = data[0];
        var code = data[1];
        var specialty_id = data[2];
        var template_id = data[3];
        var code_position = data[4];
//        var tree_node = data[5];
//        var tree_level = data[6];
//        var tree_location = data[7];
        var has_attributes = data[8];
        var has_laterality = data[9];
        var laterality_position = data[10];

        var fieldcounter;
        if (jQuery(".diagnosis-added > .diagnosislist").length == 0){
            fieldcounter = 0;
        } else {
            fieldcounter = jQuery(".diagnosis-added > .diagnosislist").length;
        }

        if (ICDCODEARRAY.length > 0) {
            ICDCODEARRAY = [];
        }

        var tr = jQuery("<tr class=\"diagnosislist\">");

        var diagnosisname_attr_destroy_hidden = jQuery("<input id=\"opdrecord_diagnosislist_attributes_" + fieldcounter + "destroy\" name=\"opdrecord[diagnosislist_attributes][" + fieldcounter + "][_destroy]\" type=\"hidden\" value=" + "0" + ">");

        var diagnosisname_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "diagnosisname");
        var diagnosisname_attr_name = _contruct_name_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "diagnosisname");

        var icddiagnosiscode_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscode");
        var icddiagnosiscodelength_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodelength");
        var icddiagnosiscodeposition_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeposition");
        var icddiagnosiscodeselectedfrom_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeselectedfrom");
        var icddiagnosiscodeiscustom_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeiscustom");
        var icddiagnosiscodehasattributes_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodehasattributes");
        var icddiagnosiscodehaslaterality_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodehaslaterality");
        var icddiagnosiscodelateralityposition_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodelateralityposition");

        var diagnosislist_icddagnosisdate_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddagnosisdate");
        var diagnosislist_icddiagnosisfullcode_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosisfullcode");
        var diagnosislist_icddagnosisdate = _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddagnosisdate", "hidden", fieldcounter);
        var diagnosislist_icddiagnosisfullcode = _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosisfullcode", "hidden", fieldcounter);

        var diagnosislist_specialty_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "specialty_id");
        var diagnosislist_template_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "template_id");

        var diagnosisname_array_id_index = _split_underscore_from_id_attr(diagnosisname_attr_id, 3);
        var diagnosis_selected_option_text = name;
        var diagnosis_selected_option_value = code;
//      var specialty_id = option['selected'][0]['specialty_id'];
//      var template_id = option['selected'][0]['template_id'];

        ICDCODEARRAY.push(diagnosis_selected_option_value);

        var diagnosislist_diagnosisname = _td_empty_field_contructor().append(_form_group_field_contructor("form-group", "form-group").append(_input_group_field_contructor("input-group mb15", "input-group mb15").append([diagnosisname_attr_destroy_hidden, _text_field_contructor_common("input", "string optional form-control", fieldcounter, ROOT, DIAGNOSISLIST, ATTRIBUTES, 50, 50, "text", "diagnosisname"), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscode", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodelength", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeposition", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeselectedfrom", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeiscustom", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodehasattributes", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodehaslaterality", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodelateralityposition", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "specialty_id", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "template_id", "hidden", fieldcounter)])));

        jQuery(tr).append(diagnosislist_diagnosisname);

        var selected_icddiagnosiscode = diagnosis_selected_option_value;
        selected_icddiagnosiscode = selected_icddiagnosiscode.replace('.', ''); // removing any . (dots) in icd codes

        if (jQuery(".diagnosis-added > .diagnosislist").length == 0){
            jQuery(".diagnosis-added").append(tr);
            jQuery("#"+diagnosisname_attr_id).val(diagnosis_selected_option_text);
            jQuery("#"+icddiagnosiscode_attr_id).val(selected_icddiagnosiscode);
            jQuery("#"+icddiagnosiscodelength_attr_id).val(selected_icddiagnosiscode.length);
            jQuery("#"+diagnosislist_specialty_id).val(specialty_id);
            jQuery("#"+diagnosislist_template_id).val(template_id);
            jQuery("#"+icddiagnosiscodeposition_attr_id).val(code_position);
            jQuery("#"+icddiagnosiscodehasattributes_attr_id).val(has_attributes);
            jQuery("#"+icddiagnosiscodehaslaterality_attr_id).val(has_laterality);
            jQuery("#"+icddiagnosiscodelateralityposition_attr_id).val(laterality_position);
            jQuery("#"+icddiagnosiscodeselectedfrom_attr_id).val(ICDSELECTEDFROMTREE);
            jQuery("#"+icddiagnosiscodeiscustom_attr_id).val("N");
            //jQuery("#"+diagnosisname_attr_id).closest('td').find('input.icddiagnosiscode').val(diagnosis_selected_option_value);
        } else {
            jQuery(".diagnosis-added > .diagnosislist:last").after(tr);
            jQuery(".diagnosis-added").append(tr);
            jQuery("#"+diagnosisname_attr_id).val(diagnosis_selected_option_text);
            jQuery("#"+icddiagnosiscode_attr_id).val(selected_icddiagnosiscode);
            jQuery("#"+icddiagnosiscodelength_attr_id).val(selected_icddiagnosiscode.length);
            jQuery("#"+diagnosislist_specialty_id).val(specialty_id);
            jQuery("#"+diagnosislist_template_id).val(template_id);
            jQuery("#"+icddiagnosiscodeposition_attr_id).val(code_position);
            jQuery("#"+icddiagnosiscodehasattributes_attr_id).val(has_attributes);
            jQuery("#"+icddiagnosiscodehaslaterality_attr_id).val(has_laterality);
            jQuery("#"+icddiagnosiscodelateralityposition_attr_id).val(laterality_position);
            jQuery("#"+icddiagnosiscodeselectedfrom_attr_id).val(ICDSELECTEDFROMTREE);
            jQuery("#"+icddiagnosiscodeiscustom_attr_id).val("N");
            //jQuery("#"+diagnosisname_attr_id).closest('td').find('input.icddiagnosiscode').val(diagnosis_selected_option_value);
        }

        for (i = 0; i <= 2; i++) {
            jQuery("#"+diagnosisname_attr_id).closest('tr').append(_td_empty_field_contructor());
        }

        var diagnosislist_removediagnosisbutton = _td_empty_field_contructor().append(_form_group_field_contructor("form-group", "form-group").append([_remove_button_field_contructor("removediagnosisbutton", fieldcounter), diagnosislist_icddagnosisdate, diagnosislist_icddiagnosisfullcode]));
        jQuery("#"+diagnosisname_attr_id).closest('tr').append(diagnosislist_removediagnosisbutton);

        jQuery("#"+diagnosislist_icddagnosisdate_id).val(moment(new Date()).format('DD/MM/YYYY'));
        jQuery("#"+diagnosislist_icddiagnosisfullcode_id).val(ICDCODEARRAY.join().replace(/,/g,""));



        if (has_attributes == "Y") {
            var params = { icddiagnosiscode: selected_icddiagnosiscode, template_id: template_id, specialty_id: specialty_id };
            var diagnosisname_config = { diagnosisname_attr_id: diagnosisname_attr_id, diagnosisname_attr_name: diagnosisname_attr_name, selected_icddiagnosiscode: selected_icddiagnosiscode, fieldcounter: fieldcounter, laterality_position: laterality_position };
            _jquery_ajax_get_params_config_noasync("/icdtree/geticdattributes.json", params,'_add_attributes_for_selected_diagnosisname', diagnosisname_config);
        }

        _renumber_id_after_remove("tbody.diagnosis-added", "div.diagnosis-removed");

        return false;

    });
    jQuery("#recent_diagnosis_icd option:selected").prop("selected", false);

}

function _add_attributes_for_selected_diagnosisname(data, config) {
    var fieldcounter = config['fieldcounter'];
    var selected_icddiagnosis_value = config['selected_icddiagnosiscode'];
    var diagnosisname_attr_id = config['diagnosisname_attr_id'];
    var diagnosisname_attr_name = config['diagnosisname_attr_name'];

    ICDCODE = config['selected_icddiagnosiscode'];

    var laterality_position = config['laterality_position'];;

    var icddiagnosis_object = data[selected_icddiagnosis_value];
    var icddiagnosis_field_counter = 0;

    jQuery.each(icddiagnosis_object, function(icdpositionattr, icdpositionattrvalue) {

        var icdcode_array = icdpositionattr.split(DOUBLEHASH);
        var icdcodeattrposition0 = icdcode_array[0];
        var icdcodeattrposition1 = icdcode_array[1];
        var icdcodeattrposition2 = icdcode_array[2];
        var icdcodeattrposition3 = icdcode_array[3];

        var icddiagnosis_field_name = _get_icd_field_name(icdcodeattrposition0);

        var diagnosis_attributes_qualifier_select;
        var diagnosis_attributes_qualifier_text_hidden;

        var icddiagnosiscodeattrposition_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeattrposition" + "_" + icdcodeattrposition0);
        var icddiagnosiscodeattrdisplayrule_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeattrdisplayrule" + "_" + icdcodeattrposition0);
        var icddiagnosiscodeattrisselected_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeattrisselected" + "_" + icdcodeattrposition0);
        var icddiagnosiscodeislaterality_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeislaterality" + "_" + icdcodeattrposition0);
        var icddiagnosiscodeattriscustom_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeattriscustom" + "_" + icdcodeattrposition0);

        var select_class_name = "form-control " + icddiagnosis_field_name;

        if (icdcode_array[1] == 'Y') {
            diagnosis_attributes_qualifier_select = _select_field_contructor("select", select_class_name, diagnosisname_attr_id, icddiagnosis_field_name);

            if (icdcode_array[2] == 'Y') {
                diagnosis_attributes_qualifier_select.append(_icd_select_options_array_each_iterator(icdpositionattrvalue));

                jQuery("#"+diagnosisname_attr_id).closest('tr').find("td").each( function() {
                    td = jQuery(this);
                    if (td.is(':empty')) {
                        td.append([diagnosis_attributes_qualifier_select, _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattrposition" + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattrdisplayrule" + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattrisselected" + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeislaterality" + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattriscustom" + "_" + icdcodeattrposition0, "hidden", fieldcounter)]);
                        return false;
                    }
                });

                jQuery("#"+icddiagnosiscodeattrposition_attr_id).val(icdcodeattrposition0);
                jQuery("#"+icddiagnosiscodeattrdisplayrule_attr_id).val(icdcodeattrposition1);
                jQuery("#"+icddiagnosiscodeattrisselected_attr_id).val(icdcodeattrposition2);
                jQuery("#"+icddiagnosiscodeattriscustom_attr_id).val("N");
                jQuery("#"+icddiagnosiscodeislaterality_attr_id).val("Y");

            } else if (icdcode_array[2] == 'N') {
                //diagnosis_attributes_qualifier_select.append(_select_options_array_each_iterator(icdpositionattrvalue));
                if (icdcodeattrposition0 === "7") {
                    diagnosis_attributes_qualifier_select.append(_select_noblank_options_array_each_iterator(icdpositionattrvalue));
                } else {
                    diagnosis_attributes_qualifier_select.append(_select_options_array_each_iterator(icdpositionattrvalue));
                }
                //jQuery("#"+diagnosisname_attr_id).closest('td').next().append(diagnosis_attributes_qualifier_select);
                //jQuery("#"+diagnosisname_attr_id).closest('tr').append(_td_empty_field_contructor().append(diagnosis_attributes_qualifier_select));

                jQuery("#"+diagnosisname_attr_id).closest('tr').find("td").each( function() {
                    td = jQuery(this);
                    if (td.is(':empty')) {
                        td.append([diagnosis_attributes_qualifier_select, _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattrposition" + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattrdisplayrule" + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattrisselected" + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeislaterality" + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattriscustom" + "_" + icdcodeattrposition0, "hidden", fieldcounter)]);
                        return false;
                    }
                });

                jQuery("#"+icddiagnosiscodeattrposition_attr_id).val(icdcodeattrposition0);
                jQuery("#"+icddiagnosiscodeattrdisplayrule_attr_id).val(icdcodeattrposition1);
                jQuery("#"+icddiagnosiscodeattrisselected_attr_id).val(icdcodeattrposition2);
                jQuery("#"+icddiagnosiscodeattriscustom_attr_id).val("N");
                jQuery("#"+icddiagnosiscodeislaterality_attr_id).val("N");
            }
        }

        if (icdcode_array[1] == 'N') {
            var icddiagnosis_field_name_x = POSITION + UNDERSCORE + "x";
            diagnosis_attributes_qualifier_text_hidden = _text_field_contructor("input", "form-control " + icddiagnosis_field_name_x, diagnosisname_attr_id, icddiagnosis_field_name, "hidden", _text_options_array_each_iterator(icdpositionattrvalue));
            //jQuery("#"+diagnosisname_attr_id).closest('td').next().append(diagnosis_attributes_qualifier_text_hidden);
            //jQuery("#"+diagnosisname_attr_id).closest('tr').append(_td_empty_field_contructor().append(diagnosis_attributes_qualifier_text_hidden));

            jQuery("#"+diagnosisname_attr_id).closest('tr').find("td").each( function() {
                td = jQuery(this);
                if (td.is(':empty')) {
                    td.append([diagnosis_attributes_qualifier_text_hidden, _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattrposition"  + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattrdisplayrule"  + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattrisselected"  + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeislaterality"  + "_" + icdcodeattrposition0, "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeattriscustom"  + "_" + icdcodeattrposition0, "hidden", fieldcounter)]);
                    return false;
                }
            });

            jQuery("."+icddiagnosis_field_name_x).trigger("change", [ICDCODE, _text_options_array_each_iterator(icdpositionattrvalue)]);
            jQuery("#"+icddiagnosiscodeattrposition_attr_id).val(icdcodeattrposition0);
            jQuery("#"+icddiagnosiscodeattrdisplayrule_attr_id).val(icdcodeattrposition1);
            jQuery("#"+icddiagnosiscodeattrisselected_attr_id).val(icdcodeattrposition2);
            jQuery("#"+icddiagnosiscodeattriscustom_attr_id).val("N");
            jQuery("#"+icddiagnosiscodeislaterality_attr_id).val("N");
        }

        icddiagnosis_field_counter++;
    });
}



function _get_icd_field_name(icdcodeattrposition0) {
    var icddiagnosis_field_name = "";
    icddiagnosis_field_name = POSITION + UNDERSCORE + icdcodeattrposition0;
    return icddiagnosis_field_name;
}

////////////////////top icd code starts/////////////////////
function topicd_list_diagnosis(){
  console.log("params are", params)
  event.preventDefault();

  jQuery.ajax({
    type: "GET",
    url: "/icdtree/frequentdiagnosis.json",
    data: {ajax: params, remote: "true" },

  }).done(function( data ) {

    var name = data[0];
    var code = data[1];
    var specialty_id = data[2];
    var template_id = data[3];
    var code_position = data[4];
//        var tree_node = data[5];
//        var tree_level = data[6];
//        var tree_location = data[7];
    var has_attributes = data[8];
    var has_laterality = data[9];
    var laterality_position = data[10];

    var fieldcounter;
    if (jQuery(".diagnosis-added > .diagnosislist").length == 0){
      fieldcounter = 0;
    } else {
      fieldcounter = jQuery(".diagnosis-added > .diagnosislist").length;
    }

    if (ICDCODEARRAY.length > 0) {
      ICDCODEARRAY = [];
    }

    var tr = jQuery("<tr class=\"diagnosislist\">");

    var diagnosisname_attr_destroy_hidden = jQuery("<input id=\"opdrecord_diagnosislist_attributes_" + fieldcounter + "destroy\" name=\"opdrecord[diagnosislist_attributes][" + fieldcounter + "][_destroy]\" type=\"hidden\" value=" + "0" + ">");

    var diagnosisname_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "diagnosisname");
    var diagnosisname_attr_name = _contruct_name_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "diagnosisname");

    var icddiagnosiscode_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscode");
    var icddiagnosiscodelength_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodelength");
    var icddiagnosiscodeposition_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeposition");
    var icddiagnosiscodeselectedfrom_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeselectedfrom");
    var icddiagnosiscodeiscustom_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodeiscustom");
    var icddiagnosiscodehasattributes_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodehasattributes");
    var icddiagnosiscodehaslaterality_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodehaslaterality");
    var icddiagnosiscodelateralityposition_attr_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosiscodelateralityposition");

    var diagnosislist_icddagnosisdate_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddagnosisdate");
    var diagnosislist_icddiagnosisfullcode_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "icddiagnosisfullcode");
    var diagnosislist_icddagnosisdate = _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddagnosisdate", "hidden", fieldcounter);
    var diagnosislist_icddiagnosisfullcode = _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosisfullcode", "hidden", fieldcounter);

    var diagnosislist_specialty_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "specialty_id");
    var diagnosislist_template_id = _contruct_id_attr_common(ROOT, DIAGNOSISLIST, ATTRIBUTES, fieldcounter, "template_id");

    var diagnosisname_array_id_index = _split_underscore_from_id_attr(diagnosisname_attr_id, 3);
    var diagnosis_selected_option_text = name;
    var diagnosis_selected_option_value = code;
//      var specialty_id = option['selected'][0]['specialty_id'];
//      var template_id = option['selected'][0]['template_id'];

    ICDCODEARRAY.push(diagnosis_selected_option_value);
    //console.log(ICDCODEARRAY);

    var diagnosislist_diagnosisname = _td_empty_field_contructor().append(_form_group_field_contructor("form-group", "form-group").append(_input_group_field_contructor("input-group mb15", "input-group mb15").append([diagnosisname_attr_destroy_hidden, _text_field_contructor_common("input", "string optional form-control", fieldcounter, ROOT, DIAGNOSISLIST, ATTRIBUTES, 50, 50, "text", "diagnosisname"), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscode", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodelength", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeposition", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeselectedfrom", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodeiscustom", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodehasattributes", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodehaslaterality", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "icddiagnosiscodelateralityposition", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "specialty_id", "hidden", fieldcounter), _text_field_contructor("input", "form-control", diagnosisname_attr_id, "template_id", "hidden", fieldcounter)])));

    jQuery(tr).append(diagnosislist_diagnosisname);

    var selected_icddiagnosiscode = diagnosis_selected_option_value;
    selected_icddiagnosiscode = selected_icddiagnosiscode.replace('.', ''); // removing any . (dots) in icd codes

    if (jQuery(".diagnosis-added > .diagnosislist").length == 0){
      jQuery(".diagnosis-added").append(tr);
      jQuery("#"+diagnosisname_attr_id).val(diagnosis_selected_option_text);
      jQuery("#"+icddiagnosiscode_attr_id).val(selected_icddiagnosiscode);
      jQuery("#"+icddiagnosiscodelength_attr_id).val(selected_icddiagnosiscode.length);
      jQuery("#"+diagnosislist_specialty_id).val(specialty_id);
      jQuery("#"+diagnosislist_template_id).val(template_id);
      jQuery("#"+icddiagnosiscodeposition_attr_id).val(code_position);
      jQuery("#"+icddiagnosiscodehasattributes_attr_id).val(has_attributes);
      jQuery("#"+icddiagnosiscodehaslaterality_attr_id).val(has_laterality);
      jQuery("#"+icddiagnosiscodelateralityposition_attr_id).val(laterality_position);
      jQuery("#"+icddiagnosiscodeselectedfrom_attr_id).val(ICDSELECTEDFROMTREE);
      jQuery("#"+icddiagnosiscodeiscustom_attr_id).val("N");
      //jQuery("#"+diagnosisname_attr_id).closest('td').find('input.icddiagnosiscode').val(diagnosis_selected_option_value);
    } else {
      jQuery(".diagnosis-added > .diagnosislist:last").after(tr);
      jQuery(".diagnosis-added").append(tr);
      jQuery("#"+diagnosisname_attr_id).val(diagnosis_selected_option_text);
      jQuery("#"+icddiagnosiscode_attr_id).val(selected_icddiagnosiscode);
      jQuery("#"+icddiagnosiscodelength_attr_id).val(selected_icddiagnosiscode.length);
      jQuery("#"+diagnosislist_specialty_id).val(specialty_id);
      jQuery("#"+diagnosislist_template_id).val(template_id);
      jQuery("#"+icddiagnosiscodeposition_attr_id).val(code_position);
      jQuery("#"+icddiagnosiscodehasattributes_attr_id).val(has_attributes);
      jQuery("#"+icddiagnosiscodehaslaterality_attr_id).val(has_laterality);
      jQuery("#"+icddiagnosiscodelateralityposition_attr_id).val(laterality_position);
      jQuery("#"+icddiagnosiscodeselectedfrom_attr_id).val(ICDSELECTEDFROMTREE);
      jQuery("#"+icddiagnosiscodeiscustom_attr_id).val("N");
      //jQuery("#"+diagnosisname_attr_id).closest('td').find('input.icddiagnosiscode').val(diagnosis_selected_option_value);
    }

    for (i = 0; i <= 2; i++) {
      jQuery("#"+diagnosisname_attr_id).closest('tr').append(_td_empty_field_contructor());
    }

    var diagnosislist_removediagnosisbutton = _td_empty_field_contructor().append(_form_group_field_contructor("form-group", "form-group").append([_remove_button_field_contructor("removediagnosisbutton", fieldcounter), diagnosislist_icddagnosisdate, diagnosislist_icddiagnosisfullcode]));
    jQuery("#"+diagnosisname_attr_id).closest('tr').append(diagnosislist_removediagnosisbutton);

    jQuery("#"+diagnosislist_icddagnosisdate_id).val(moment(new Date()).format('DD/MM/YYYY'));
    jQuery("#"+diagnosislist_icddiagnosisfullcode_id).val(ICDCODEARRAY.join().replace(/,/g,""));



    if (has_attributes == "Y") {
      var params = { icddiagnosiscode: selected_icddiagnosiscode, template_id: template_id, specialty_id: specialty_id };
      var diagnosisname_config = { diagnosisname_attr_id: diagnosisname_attr_id, diagnosisname_attr_name: diagnosisname_attr_name, selected_icddiagnosiscode: selected_icddiagnosiscode, fieldcounter: fieldcounter, laterality_position: laterality_position };
      _jquery_ajax_get_params_config_noasync("/icdtree/geticdattributes.json", params,'_add_attributes_for_selected_diagnosisname', diagnosisname_config);
    }

    _renumber_id_after_remove("tbody.diagnosis-added", "div.diagnosis-removed");

    return false;

  });
  jQuery("#opdrecord_topicd_list option:selected").prop("selected", false);

}
////////////////
jQuery('#opdrecord_topicd_list').on('click', function() {
  if (jQuery("#opdrecord_topicd_list option:selected").val() == undefined) {
    return
  }
  else{
    params = jQuery("#opdrecord_topicd_list option:selected").val()
    topicd_list_diagnosis();
  }
});

//////////////////////////

function build_topicd_list_from_array_and_populate(array, fieldname) {
  var topicd_list = [];
  jQuery.each(array, function(index, object) {
    var topicd_listoption;
    topicd_listoption = jQuery("<option value=" + "\"" + object.code + "\"" + ">" + object.name + "</option>");
    topicd_list[index + 1] = topicd_listoption;
  });
  jQuery("#"+fieldname).empty();
  jQuery("#"+fieldname).empty().append(topicd_list);
}

function populate_topicd_list (array, config) {
  var topicd_listfieldname = config['opdrecord_topicd_list'];
  build_topicd_list_from_array_and_populate(array, topicd_listfieldname);
}




jQuery(".opdrecord_topicd_list_select").hide();

jQuery('#opdrecord_topicd_name').on('click', function() {
  event.preventDefault();
  var topicd_name_selected_option_text = jQuery("#opdrecord_topicd_name option:selected").text();
  var topicd_name_selected_option_value = jQuery("#opdrecord_topicd_name option:selected").val();

  var params = { topicd_name: topicd_name_selected_option_value };
  var topicd_list_config = { opdrecord_topicd_list: "opdrecord_topicd_list" };
  _jquery_ajax_get_params_config("/opd_records/populate_topicd_list.json", params, "populate_topicd_list", topicd_list_config);

  jQuery(".opdrecord_topicd_list_select").show();

  return false;
});



////////////////////top icd code ends////////////////////