<% if @clinical_note.present? %>
  <%= render partial: 'inpatient/ipd_record/clinical_note/' + @speciality_folder_name + '_notes/view_body.html.erb', locals: {view: @view, mail_job: false} %>
<% end %>

<% if @all_operative_notes.size > 0%>
  <% @all_operative_notes.each do |operative|  %>
    <% if operative.present? %>
      <% if @clinical_note.present? %><div style="page-break-after: always;"></div><% end %>
      <%= render partial: 'inpatient/ipd_record/operative_note/' + @speciality_folder_name + '_notes/view_body.html.erb', locals: {view: @view,operative: operative, mail_job: false }%>
    <% end %>
  <% end %>
<% end %>

<% if @discharge_note.present? %>
  <% if @clinical_note.present? || @all_operative_notes.size > 0 %><div style="page-break-after: always;"></div><% end %>
  <%= render partial: 'inpatient/ipd_record/discharge_note/' + @speciality_folder_name + '_notes/view_body.html.erb', locals: {view: @view, mail_job: false} %>
<% end %>

<!-- code for printing nursing records in all notes and all summary print -->
<% if false && @all_nursing_records.count > 0%>
  <% @all_nursing_records.each do |nursing_record|  %>
    <% if nursing_record.present? %>
      <% if @clinical_note.present? %><div style="page-break-after: always;"></div><% end %>
        <%= render partial: "/inpatients/nursing_records/view_body.html.erb", 
        locals: { history_flag: false, nursing_record: nursing_record, templatetype: nursing_record.template_type, print_flag: true } %>
    <% end %>
  <% end %>
<% end %>

<style type="text/css">
  .master-row * {
    font-size: 9px;
  }

  .pcs-entity-title span {
    font-size: 16px;
    text-transform: uppercase;
  }
</style>