$(".items-variants-body").html("<%= escape_javascript(render partial: 'inventory/transaction/transfers/index_body.html.erb') %>")

$('.btn-group.open').removeClass('open')

jQuery(".inventory-show-panel").html('<h3 class="text-center" style="margin-top: 200px">Please select from list.</h3>')

$('.inventory-list-row').unbind()
$('.inventory-list-row').on('click', function(e) {
  e.preventDefault();
  var id =  $(this).attr('id');
  var type = $('#inventory_tax_invoice_type').val()
  $.ajax({
    type: 'GET',
    data: {
      transfer_id: id,
      type: type,
      remote: true
    },
    url: '/inventory/tax_invoices/add_transfer_data',
    success: function(){
      $('#'+id).css('background-color', '#cfe8d2')
      $('#'+id).addClass('disabled_row')
    }
  })
})

let label = '<%= @time_period %>' || 'This Month'
$('.time-period-label').text(label)

