<div class="row mb20">
  <div class="col-md-3">
    <b>Diagnosis:</b>
  </div>
  <div class="col-md-9">
    <% if @diagnosis.present? %>
        <%= @diagnosis %>
    <% else %>
        <b>None</b>
    <% end %>
  </div>
</div>
<div class="row mb20">
  <div class="col-md-3">
    <b>Procedure Advised:</b>
  </div>
  <div class="col-md-9">
    <% if @performed_remaining.present? %>
        <%= @performed_remaining %>
    <% else %>
        <b>None</b>
    <% end %>
  </div>
</div>
