<nav class="navbar navbar-inverse navbar-fixed-top mis_navbar">
  <%= render partial: "index_navbar.html.erb" %>
</nav>

<div class="mis-reports-list">
  <div class="row" style="padding:30px;">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-4">
          <!-- Finance statistics -->
          <%= render partial: "/mis/revenue_reports/report_list.html.erb", locals: { group: 'finance_statistics'} %>
        </div>
        <div class="col-sm-4">
          <!-- Finance -->
          <%= render partial: "/mis/revenue_reports/report_list.html.erb", locals: { group: 'finance'} %>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-4">
          <%#= render partial: "/mis/financial_reports/sales/report_list.html.erb" %>
        </div>
        <div class="col-sm-4">
          <%#= render partial: "/mis/financial_reports/receivables/report_list.html.erb" %>
        </div>
        <div class="col-sm-4">
          <%#= render partial: "/mis/financial_reports/payment_received/report_list.html.erb" %>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-sm-4">
          <%#= render partial: "/mis/financial_reports/tax/report_list.html.erb" %>
          <%#= render partial: "/mis/financial_reports/expenses/report_list.html.erb" %>
        </div>
        <div class="col-sm-4">
          <%#= render partial: "/mis/financial_reports/audit/report_list.html.erb" %>
        </div>
        <div class="col-sm-4">
          <%#= render partial: "/mis/financial_reports/inventory/report_list.html.erb" %>
        </div>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  // Window Size
  var window_height = $(window).height() - 50
  $(".mis_reports_panel").css('height', window_height)

  $(window).resize(function() {
    var window_height = $(window).height() - 50
    $(".mis_reports_panel").css('height', window_height)
  })


  $(".empty_response").on('click', function(e){
    e.preventDefault();

    if ($('.ui-pnotify').length == 0) {
      notice = new PNotify({
        title: 'Coming Soon',
        text: 'Hold on tight, this report will be available soon',
        type: 'success'
      });
      notice.get().click(function(){ notice.remove() });
    }
  })
</script>