<div class="row mb20">
  <div class="col-md-2">
    Post-Op Plan :
  </div>
  <div class="col-md-3">
    <%= f.text_area :post_op_plan, {style: "width:125%;", class: "form-control",:value => @operative_note.read_attribute(:post_op_plan)} %>
  </div>
</div>
<br>

<div class="col-md-10 advice-set">
  <%= f.simple_fields_for :advice, @advice do |advice| %>
    <%= render partial: "templates/common/ipd_advice_precautions.html.erb",  locals: { f: advice } %>
  <%end%>
</div>