<div class="step-pane <%= stepcount==1? "active" : "" %>" data-step="<%=stepcount%>">
  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/regiontemplate_assessment_tab_diagnosis" , locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
</div>
