<div class="modal-dialog modal-md" style="width: 65%;">
  <div class="modal-content">
    <div class="modal-header hidden-print">
      <h4 class="modal-title"><%= @flag.split("_").map(&:upcase).join(" ") %>  <%= @flag.split("_").join("-")%></h4>
    </div>
    <div class="modal-body">
      <%= render 'show_retinoscopy_data.html.erb' %>
    </div>
    <div class="modal-footer hidden-print">
      <button class="btn btn-xs btn-default pull-right" id="close-retinoscopy-modal" style="margin-left: 10px">Cancel</button>
      <button class="btn btn-xs btn-success pull-right <%= @flag.split("_").join("-")%>-submit" id="fill-retinoscopy-modal">Ok</button>
    </div>
  </div>
</div>
