<div class="row mb15">
  <div class="col-xs-12">
    <div class="col-xs-2">
      <div class="title">
        <h5 style="color: #444;font-size: 17px;">Syringing</h5>
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-1 text-center">
      <h5 style="font-size: 14px;"><b>R(OD)</b></h5>
    </div>
    <div class="col-xs-3 col-xs-offset-1 text-center">
      <h5 style="font-size: 14px;"><b>L(OS)</b></h5>
    </div>
  </div>
</div>
<div class="row mb15">
  <div class="col-xs-12">
    <div class="col-xs-2">
      <span>Lower Punctum :</span>
    </div>
    <% result_options = ['Roplas (+)', 'Punctum not seen.', 'Fistula', 'Free', 'Partial free with clear fluid regurgitation from same punctum', 'Partial free with clear fluid from other punctum', 'Not free with clear fluid from same puctum', 'Not free with clear fluid from other punctum', 'Not free with mucous regurgitation', 'Not free with pus regurgitation'] %>
    <div class="col-xs-3 col-xs-offset-1 text-center">
      <%= f.select :r_lower_punctum_result, options_for_select(result_options, opdrecord.r_lower_punctum_result), { include_blank: "Select" }, { class: "form-control syringing_result" } %>
    </div>
    <div class="col-xs-3 col-xs-offset-1 text-center">
      <%= f.select :l_lower_punctum_result, options_for_select(result_options, opdrecord.l_lower_punctum_result), { include_blank: "Select" }, { class: "form-control syringing_result" } %>
    </div>
  </div>
</div>
<div class="row mb15">
  <div class="col-xs-12">
    <div class="col-xs-2">
      <span>Upper Punctum :</span>
    </div>
    <% result_options = ['Roplas (+)', 'Punctum not seen.', 'Fistula', 'Free', 'Partial free with clear fluid regurgitation from same punctum', 'Partial free with clear fluid from other punctum', 'Not free with clear fluid from same puctum', 'Not free with clear fluid from other punctum', 'Not free with mucous regurgitation', 'Not free with pus regurgitation'] %>
    <div class="col-xs-3 col-xs-offset-1 text-center">
      <%= f.select :r_upper_punctum_result, options_for_select(result_options, opdrecord.r_upper_punctum_result), { include_blank: "Select" }, { class: "form-control syringing_result" } %>
    </div>
    <div class="col-xs-3 col-xs-offset-1 text-center">
      <%= f.select :l_upper_punctum_result, options_for_select(result_options, opdrecord.l_upper_punctum_result), { include_blank: "Select" }, { class: "form-control syringing_result" } %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".syringing_result").select2();
</script>
