<div class="fuelux">
  <div class="wizard" id="optometristWizard" style="z-index:0"><!-- z-index for avoiding the wizard actions to disappear -->
    <ul class="steps">
      <li data-step="1" class="optometristnote_steps active"><span class="badge">1</span> History<span class="chevron"></span></li>
      <li data-step="2" class="optometristnote_steps"><span class="badge">2</span> Examination<span class="chevron"></span></li>
    </ul>

    <div class="actions">
      <button type="button" class="btn btn-default btn-prev" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
      <button type="button" class="btn btn-default btn-next">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>

    <div class="step-content" style="">
      <%= render partial: "/opd_records/ophthalmology_notes/eyesubjective.html.erb", locals: {f: f, opdrecord: @opdrecord} %>

      <div class="step-pane" data-step="2">
        <div class="row eye-row">
          <div class="col-md-5 r-eye-column" style="padding-left:1px; padding-right:1px;">
            <div class="panel panel-success r-eye-panel">
              <div class="panel-heading r-eye-panel-heading" style="padding: 2px;">
                <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">R / OD</h4>
              </div>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/r_eye_optometrist_examination.html.erb", locals: {f: f, opdrecord: @opdrecord} %>
            </div>
          </div>

          <div class="col-md-5 l-eye-column" style="padding-left:1px; padding-right:1px;">
            <div class="panel panel-success l-eye-panel">
              <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
                <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">L / OS</h4>
              </div>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/l_eye_optometrist_examination.html.erb", locals: {f: f, opdrecord: @opdrecord} %>
            </div>
          </div>

          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/optometrist_pastreadings_examination.html.erb", locals: {f: f, opdrecord: @opdrecord} %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .optometristnote_steps {
    cursor: pointer !important;
  }
</style>

<script type="text/javascript">
  $("#optometristWizard").wizard();

  $('#optometristWizard').on('actionclicked.fu.wizard', function (evt, data) {
    // Disable Prev Button on First Step
    if((data.step == 2 && data.direction == "previous")) {
      $(".btn-prev").attr('disabled','disabled');
    } else {
      $(".btn-prev").removeAttr('disabled','disabled');
    }
    // Disable Next Button on First Step
    if(data.step == 1 && data.direction == "next") {
      $(".btn-next").attr('disabled','disabled');
    } else {
      $(".btn-next").removeAttr('disabled','disabled');
    }
  });

  $(".optometristnote_steps").on('click',function(){
    // Disable Enable Prev Next button
    console.log($(this).attr('data-step'))
    if($(this).attr('data-step') == 1) {
      $(".btn-prev").attr('disabled','disabled');
    } else {
      $(".btn-prev").removeAttr('disabled','disabled');
    }

    if($(this).attr('data-step') == 2) {
      console.log($(this).attr('data-step'))
      $(".btn-next").attr('disabled','disabled');
      $("#optometristWizard").wizard('next');
    } else {
      $(".btn-next").removeAttr('disabled','disabled');
    }
  })
</script>