<div class="row mb20">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-5 col-sm-5 col-xs-5">
      <div class="title">
        <h5 style="color: #444;font-size: 17px;">Paediatric History</h5>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 mb5">
    <div class="col-md-3 col-sm-3 col-xs-3">
      Nutritional Assessment: &nbsp;&nbsp;<small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_nutritional_assessment">clear</small>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
      <%= f.input :nutritional_assessment, wrapper_html: {:class=>"col-md-12 col-sm-12"}, collection: ['Malnourished', 'Well Nourished', 'Overweight', 'Obese'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white nutritional_assessment', :input_html => {:name => commen_form+"[nutritional_assessment]" }, :checked => patient_data.read_attribute(:nutritional_assessment) %>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 mb5">
    <div class="col-md-2 col-sm-2 col-xs-2">
      Comments
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10">
      <%= f.input :nutritional_assessment_comment, wrapper_html: {:class=>"col-md-12 col-sm-12 col-xs-12"}, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 1, :style => 'width:96%;', :required => false, :name => commen_form+"[nutritional_assessment_comment]", :value => patient_data.read_attribute(:nutritional_assessment_comment) } %>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 mb5">
    <div class="col-md-3 col-sm-3 col-xs-3">
      Immunization Assessment(Age Appropriate): &nbsp;&nbsp;<small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_immunization_assessment">clear</small>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
      <%= f.input :immunization_assessment, wrapper_html: {:class=>"col-md-12 col-sm-12"}, collection: ['Complete', 'Pending'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white immunization_assessment', :input_html => {:name => commen_form+"[immunization_assessment]" }, :checked => patient_data.read_attribute(:immunization_assessment) %>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 mb5">
    <div class="col-md-2 col-sm-2 col-xs-2">
      Comments
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10">
      <%= f.input :immunization_assessment_comment, wrapper_html: {:class=>"col-md-12 col-sm-12 col-xs-12"}, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 1, :style => 'width:96%;', :required => false, :name => commen_form+"[immunization_assessment_comment]", :value => patient_data.read_attribute(:immunization_assessment_comment) } %>
    </div>
  </div>
</div>