<div class="modal-body">
  <%= render partial: "patients/partials/stylesheetincludes" %> <!-- Render common stylesheet includes template from partial -->

  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>
      The patient will require the understated anesthesia procedures:

      Radiobutton select:

      GENERAL ANESTHESIA
      Technique - Placement of a tube in the wind pipe. Drug is injected in the bloodstream and/or breathed into the lungs, or by other routes.
      Results expected - Total unconscious state possible.
      Risks - Mouth or throat pain, hoarseness, injury to mouth or teeth, injury to blood vessels, pneumonia

      SPINAL ANESTHESIA
      Technique - Drug is injected through a needle/ catheter in the spinal canal.
      Results expected - Temporary decreased or loss of feeling and/ or movement of lower part of the body.
      Risks - Headache, backache, buzzing in the ears, convulsions, infection, persistent weakness, persistent numbness, residual pain, injury to blood vessels.

      EPIDURAL ANESTHESIA
      Technique - Drug is injected through a needle/ catheter outside the spinal canal.
      Results expected - Temporary decreased or loss of feeling and/ or movement of lower part of the body.
      Risks - Headache, backache, buzzing in the ears, convulsions, infection, persistent weakness, persistent numbness, residual pain, injury to blood vessels.

      REGIONAL ANESTHESIA- NERVE BLOCK
      Technique - Drug is injected near nerves leading to loss of sensation to the area of operation.
      Results expected - Temporary decreased or loss of feeling and/ or movement of a specific body part.
      Risks - Convulsions, infection, persistent numbness, residual pain, injury to blood vessels.

      IV REGIONAL ANESTHESIA WITH/ WITHOUT SEDATION
      Technique - Drug is injected into veins of arms or legs while using a tourniquet.
      Results expected - Temporary decreased or loss of feeling and/ or movement of a specific body part.
      Risks - Convulsions, infection, persistent numbness, residual pain, injury to blood vessels.

      MONITORED ANESTHESIA CARE (SEDATION IF REQUIRED)
      Technique - Drug is injected in the bloodstream and/or breathed into the lungs, or by other routes.
      Results expected - Reduced anxiety and pain, partial or total amnesia.
      Risks - An unconscious state, depressed breathing, injury to the blood vessels.

      LOCAL OR TOPICAL ANESTHESIA
      Technique - Drug is injected or applied locally near and around operative site.
      Results expected - Temporary decreased or loss of feeling around area of injection/ application.
      Risks - Inadequate or prolonged loss of feeling (sensations)

      Patient Consent:

      I have informed the doctor of my allergies, drug reactions, previous illnesses, surgical procedures, and all other facts relevant to my treatment. I shall not hold the hospital or the doctor responsible for the consequences, which may arise from the non disclosure of the same.
      It has been explained to me that there is a possibility of change in plan of anesthesia as per the requirement of the situation.
      It has been explained to me that allergic reactions to medicines cancer during the preoperative period.
      I have been explained clearly that no medication/ investigation/ anesthesia/ operation/ therapy/ procedure/ dialysis is totally safe and that such procedure/ anesthesia can pose a risk to life of a otherwise healthy person also.
      I have been explained the aforesaid and/ or the above written text has been read out to me in my preferred/ spoken language. I have understood the same and I given informed, written, valid consent.

<% end %>
</div>