<div class="modal-dialog modal-hg-template">
  <div class="modal-content">

    <div class="modal-header">
      <div class="pull-right"> <!-- Action Buttons starts -->
        <!-- Finding IpdRecord -->
        <% @ipdrecord = Inpatient::IpdRecord.find_by(:admission_id => @admission.id.to_s, :patient_id => @admission.patient.id.to_s) %>
         <!-- If Exists Show -->
        <% unless @ipdrecord.nil? %>
          <%= link_to ipd_patients_discharge_print_path(:admission_id => @admission.id.to_s,:patient_id => @admission.patient.id.to_s, :ipdrecord_id => @ipdrecord.id.to_s, :format => :pdf), :class => "btn btn-primary", :target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print All Notes <% end %>
        <% end %>
        <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
      <div class="text-center">
        <h4 class="nomargin">IPD Summary</h4>
      </div>
    </div>

    <%= render partial: "templates/ipd/common/discharge_concept_form" %>

  </div>
</div>