<div class="row mb10">

  <div class="col-md-9">

    <div class="col-md-12">

      <div class="ipd-review-actions">

        <div class="btn-group">
          <%= link_to templates_edit_ipd_record_path(:ipdrecord_id => ipdrecord.id, :patient_id => patient.id, :admission_id => admission.id, :templatetype => templatetype), :class => "btn btn-primary", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal', method: :get } do %> <i class="fa fa-edit"></i> Edit <% end %>
          <%= link_to templates_print_ipd_record_path(:ipdrecord_id => ipdrecord.id, :patient_id => patient.id, :admission_id => admission.id, :templatetype => templatetype, :format => :pdf), :class => "btn btn-primary", :target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
        </div>

      </div>

    </div>

  </div>

</div>