<style type="text/css">
    @media print{
        div.footnotes {
            page-break-after: always;
        }
    }
</style>

<% (1..@printcount.to_i).each_with_index do |obj, index| %>


    <div class="row table-hg-print opdsummaryprint">

      <div class="opdsummary">

            <h1><%= index + 1 %></h1>

      </div>

    </div>

    <div class="footnotes"></div>


<% end %>



