<table class="table table-striped">
  <tr>
    <td style="padding-left: 5px;padding-right: 0;padding-top: 17px;">
      Name :
    </td>
    <td>
      <div class="input"><input class="string optional form-control" name="procedurenote[name]" size="30" maxlength="30" type="text" id="procedurenote_name" style="width:175px;"></div>
      <div class="input"><textarea class="text optional form-control hidden" rows="15" cols="70" name="procedurenote[proceduretext]" id="procedurenote_proceduretext">&lt;p&gt;&lt;br&gt;&lt;/p&gt;</textarea></div>
    </td>
  </tr>
</table>

<button aria-hidden="true" class="btn btn-success popover-procedure-note-save-button" style="margin-left:15px;">Create New Note</button>
<button aria-hidden="true" class="btn btn-info popover-procedure-note-cancel-button">Cancel</button>


<script>
  jQuery(document).ready(function() {
    jQuery("#procedurenote_proceduretext").text(jQuery('#inpatient_ipd_record_operative_notes_attributes_0_procedure_note').code());
    jQuery(".popover-procedure-note-cancel-button").on("click", function(event) {
      event.preventDefault();
      jQuery('.popover-save-procedure-note').popover('destroy');
      jQuery(".save-procedurenote-button").removeClass("disabled");
      jQuery(".clear-procedure-note-button").removeClass("disabled");
    });
    jQuery(".popover-procedure-note-save-button").on('click', function(event) {
      event.preventDefault();
      var params = { name: jQuery('#procedurenote_name').val(), proceduretext: jQuery('#procedurenote_proceduretext').code() };
      jQuery.ajax({
        type: "POST",
        url: "/opd_records/save_note",
        data: {procedurenote: params, remote: "true" }
      });
    });
  });
</script>
<style type="text/css">
  .popover-procedure-note-save-button{
    padding: 6px 11px;
  }
</style>