<% if @ipdrecord.present? %>
    <% if @ipdrecord.discharge_note.try(:diagnosis).present? %>
        <li><%= @ipdrecord.discharge_note.diagnosis%></li>
    <% elsif @ipdrecord.clinical_note.try(:diagnosis).present? %>
        <li><%= @clinical_note.diagnosis %></li>
    <% elsif @ipdrecord.operative_notes.count > 0 %>
        <li><%= @ipdrecord.operative_notes.pluck(:diagnosis).join(',')%></li>
    <% end %>
<% end %>