<% if @ipdrecord.present? %>
    <% if  @ipdrecord.discharge_note.try(:procedure).present?%>
        <li><%= @ipdrecord.discharge_note.procedure%></li>
    <% elsif @ipdrecord.clinical_note.try(:procedurelist).present?  %>
        <li><%=  @clinical_note.procedurelist %></li>
    <% elsif @ipdrecord.operative_notes.count > 0 %>
        <li><%= @ipdrecord.operative_notes.pluck(:procedure_performed).join(',')%></li>
    <% end %>
<% end %>