<div class="modal-dialog">
	<div class="modal-content">  
	  		
	    <div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Manage Department</h4>	 
		</div>
		<div class="modal-body">
		<%= form_tag('/departments', remote: true,:method=> "post") do %>
			<div class="row form-group">
				<div class="col-md-2">Name :</div>
				<div class="col-md-5"><%= select_tag(:department_id, options_from_collection_for_select(@departments,"id","name"),{:class=>'form-control'})  %></div>
				<%= hidden_field_tag :facility_id,@facility.id %>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-3"><%= submit_tag "Save Changes",:class=> "btn btn-primary" %></div>
			</div>
			<% end %>
		</div>
	</div>
</div>