<% if opdrecord.print_procedures_flag == "1" || (request.format.symbol == :js rescue false) %>
  <div class="clinicaldetails mb5 <%= 'print_text_font_size' if  @print_setting %>" id="clinicaldetails" style="<%= heading_font_size %>">
    <% if opdrecord.free_procedure != '<br>' %>
      <div class="row">
        <strong>PROCEDURE :</strong>
        <div class="summary-line-border"></div>
      </div>

      <div class="row">
        <%= opdrecord.free_procedure.html_safe() %>
      </div>
    <% end %>
  </div>
<% end %>

<style type="text/css">
  .<%= 'print_text_font_size' if  @print_setting %> *{
    font-size: inherit!important
  }
</style>
