$(".allergies_button").on('click', function(){
  var name_field = $(this).attr('data-value');

  $('.'+name_field+'_check').toggle(0.5, function(){
    if($('.'+name_field+'_check').is(":visible")){
      $('.'+name_field+'_title_field').css("display", "block");
    }else{
      $("#patient_"+name_field).val("");
      $("."+name_field+"_button").removeClass("btn-darkblue");
      $("."+name_field+"_hide").css("display", "none");
      $("."+name_field+"_destroy").val("1");
      $('.'+name_field+'_title_field').css("display", "none");
    }
  });
})

$(".drug_agents_button").on('click', function(){
  var name_field =  $(this).attr('data-value');
    var destroy_name = $(this).attr('name')
  var length = $(".allergies_fields_row_count").length
  var name = name_field.split("_").join(" ").toString();

  if(name_field == "ampicillin" || name_field== "amoxicillin" || name_field == "ceftriaxone" || name_field == "ciprofloxacin" || name_field == "clarithromycin" || name_field == "co_trimoxazole" ||  name_field == "ethambutol" || name_field == "isoniazid" || name_field == "metronidazole" || name_field == "penicillin" || name_field == "rifampicin" || name_field == "streptomycin"){
    var allergy_type = "drug_allergies"
    var allergy_subtype = $(this).attr('name');
  }else if(name_field == "ketoconazole" || name_field == "fluconazole" || name_field == "itraconazole"){
    var allergy_type = "drug_allergies"
    var allergy_subtype = $(this).attr('name');
  }else if(name_field == "acyclovir" || name_field == "efavirenz" || name_field == "enfuvirtide" || name_field == "nelfinavir" || name_field == "nevirapine" || name_field == "zidovudine" ){
    var allergy_type = "drug_allergies"
    var allergy_subtype = $(this).attr('name');
  }else if(name_field == "aspirin" || name_field == "paracetamol" || name_field == "ibuprofen" || name_field == "diclofenac" || name_field == "aceclofenac" || name_field == "naproxen"){
    var allergy_type = "drug_allergies"
    var allergy_subtype = $(this).attr('name');
  }else if(name_field == "tropicamide_p" || name_field == "tropicamide" || name_field == "timolol" || name_field == "moxifloxacin" || name_field == "homide" || name_field == "latanoprost" || name_field == "brimonidine" || name_field == "travoprost" || name_field == "tobramycin" || name_field == "homatropine" || name_field == "pilocarpine" || name_field == "cyclopentolate" || name_field == "atropine" || name_field == "phenylephrine"  || name_field == "tropicacyl"  || name_field == "paracain" || name_field == "ciplox" || name_field == "tropicamide_p_distilled_water" || name_field == "tropicamide_p_lubrex"){
    var allergy_type = "drug_allergies"
    var allergy_subtype = $(this).attr('name');
  }else if(name_field == "alcohol" || name_field == "latex" || name_field == "betadine" ||  name_field == "adhesive_tape" || name_field == "tegaderm" ||name_field == "transpore" ){
    var allergy_type = "contact_allergies"
    var allergy_subtype = ""
  }else if(name_field == "all_seafood" || name_field == "corn" || name_field == "egg" ||  name_field == "milk_proteins" || name_field == "peanuts" || name_field == "shellfish_only" || name_field == "soy_protein" || name_field == "lactose" || name_field == "mushroom" ){
    var allergy_type = "food_allergies"
    var allergy_subtype = ""
  }

  var fields_line = "<div class='col-md-12 col-sm-12 col-xs-12 complaint_name allergies_fields_row_count "+name_field+"_fields "+destroy_name+"_hide'><div class='col-md-2 col-sm-2 col-xs-2'><h5 class='complaint_title'><input type='hidden' class='form-control "+name_field+"_destroy "+destroy_name+"_destroy'  name='patient[allergy_histories_attributes]["+length+"][_destroy]'> "+name.replace(/\b\w/g, l => l.toUpperCase())+"<input type='hidden'name='patient[allergy_histories_attributes]["+length+"][name]', value='"+name_field+"'><input type='hidden'name='patient[allergy_histories_attributes]["+length+"][hidden_duration]' class='allergy_hidden_duration'></h5></div><div class='col-md-2 col-sm-2 col-xs-2'><div class='complaint_title'><select name='patient[allergy_histories_attributes]["+length+"][duration]' class='form-control allergy_field_add_field allergy_duration'><option value=''>Please Select</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option><option value='21'>21</option><option value='22'>22</option><option value='23'>23</option><option value='24'>24</option><option value='25'>25</option><option value='26'>26</option><option value='27'>27</option><option value='28'>28</option><option value='29'>29</option><option value='30'>30</option><option value='31'>31</option><option value='32'>32</option><option value='33'>33</option><option value='34'>34</option><option value='35'>35</option><option value='36'>36</option><option value='21'>21</option><option value='37'>37</option><option value='38'>38</option><option value='39'>39</option><option value='40'>40</option></select></div></div><div class='col-md-2 col-sm-2 col-xs-2'><div class='complaint_title'><select name='patient[allergy_histories_attributes]["+length+"][duration_unit]' class='form-control allergy_field_add_field allergy_duration_unit'><option value=''>Please Select</option><option value='days'>Days</option><option value='weeks'>Weeks</option><option value='months'>Months</option><option value='years'>Years</option></select></div></div><div class='col-md-6 col-sm-6 col-xs-6'><div class='complaint_title'><input type='text', class='form-control personal_field_add_comment' name='patient[allergy_histories_attributes]["+length+"][comment]'  placeholder='Comment...'><input type='hidden' class='form-control' name='patient[allergy_histories_attributes]["+length+"][allergy_type]' value= "+allergy_type+" ><input type='hidden' class='form-control' name='patient[allergy_histories_attributes]["+length+"][allergy_subtype]' value= "+allergy_subtype+">"
  var count_class= $('.'+name_field+'_fields').length;
  if ($(this).hasClass('btn-darkblue')){
      $('.'+name_field+'_fields').show()
  }
  if(count_class >= 1){
    $('.'+name_field+'_fields').toggle(0.5, function(){
      $('.'+name_field+'_fields').each(function(i, obj) {

        if (i == 0){
          if($('.'+name_field+'_fields').is(":visible")){
            $('.'+name_field+'_destroy').val("0");
          }else{
            $('.'+name_field+'_destroy').val("1");
          }
        }else {
          obj.remove()
        }

      });
    });
  }else{
    if(name_field == "ampicillin" || name_field== "amoxicillin" || name_field == "ceftriaxone" || name_field == "ciprofloxacin" || name_field == "clarithromycin" || name_field == "co_trimoxazole" ||  name_field == "ethambutol" || name_field == "isoniazid" || name_field == "metronidazole" || name_field == "penicillin" || name_field == "rifampicin" || name_field == "streptomycin"){
      $(fields_line).appendTo("#antimicrobial_agents_button_main_hide").fadeIn('slow');
    }else if(name_field == "ketoconazole" || name_field == "fluconazole" || name_field == "itraconazole"){
      $(fields_line).appendTo("#antifungal_agents_main_hide").fadeIn('slow');
    }else if(name_field == "acyclovir" || name_field == "efavirenz" || name_field == "enfuvirtide" || name_field == "nelfinavir" || name_field == "nevirapine" || name_field == "zidovudine" ){
        $(fields_line).appendTo("#antiviral_agents_main_hide").fadeIn('slow');
    }else if(name_field == "aspirin" || name_field == "paracetamol" || name_field == "ibuprofen" || name_field == "diclofenac" || name_field == "aceclofenac" || name_field == "naproxen"){
      $(fields_line).appendTo("#nsaids_main_hide").fadeIn('slow');
    }else if(name_field == "tropicamide_p" || name_field == "tropicamide" || name_field == "timolol" || name_field == "moxifloxacin" || name_field == "homide" || name_field == "latanoprost" || name_field == "brimonidine" || name_field == "travoprost" || name_field == "tobramycin" || name_field == "homatropine" || name_field == "pilocarpine" || name_field == "cyclopentolate" || name_field == "atropine" || name_field == "phenylephrine"  || name_field == "tropicacyl"  || name_field == "paracain"  || name_field == "ciplox" || name_field == "tropicamide_p_distilled_water" || name_field == "tropicamide_p_lubrex"){
      $(fields_line).appendTo("#eye_drops_main_hide").fadeIn('slow');
    }else if(name_field == "alcohol" || name_field == "latex" || name_field == "betadine" ||  name_field == "adhesive_tape" || name_field == "tegaderm" ||name_field == "transpore" ){
      $(fields_line).appendTo("#contact_allergies_main_hide").fadeIn('slow');
    }else if(name_field == "all_seafood" || name_field == "corn" || name_field == "egg" ||  name_field == "milk_proteins" || name_field == "peanuts" || name_field == "shellfish_only" || name_field == "soy_protein" || name_field == "lactose" || name_field == "mushroom" ){
      $(fields_line).appendTo("#food_allergies_main_hide").fadeIn('slow');
    }
  }
})

var allergies_drug = $("#patient_antimicrobial_agents").val()
if (allergies_drug != ""){
    $(".antimicrobial_agents_check").css("display", "block");
}
var drug_antifungal = $("#patient_antifungal_agents").val();
  if (drug_antifungal != ""){
    $(".antifungal_agents_check").css("display", "block");
}
  var antiviral_agents = $("#patient_antiviral_agents").val();
  if (antiviral_agents != ""){
    $(".antiviral_agents_check").css("display", "block");
}
  var drug_patient_nsaids = $("#patient_nsaids").val();
  if (drug_patient_nsaids != ""){
    $(".nsaids_check").css("display", "block");
}
  var drug_eye_drops = $("#patient_eye_drops").val();
  if (drug_eye_drops != ""){
    $(".eye_drops_check").css("display", "block");
}

var drug_allergies_v = $("#patient_drug_allergies").val()
if (drug_allergies_v != "" && drug_allergies_v != null ){
    drug_aller_array = drug_allergies_v.split(",")
  if (drug_aller_array.includes("antimicrobial_agents")){
    $(".antimicrobial_agents_check").css("display", "block");

  }
  if (drug_aller_array.includes("antifungal_agents")){
    $(".antifungal_agents_check").css("display", "block");
  }
  if (drug_aller_array.includes("antiviral_agents")){
    $(".antiviral_agents_check").css("display", "block");
  }
  if( drug_aller_array.includes("nsaids")){
    $(".nsaids_check").css("display", "block");
  }
  if (drug_aller_array.includes("eye_drops")){
    $(".eye_drops_check").css("display", "block");
  }

}

$(".allergy-select2").select2({
    tags: true,
    tokenSeparators: [',', ';'],
    theme: "bootstrap",
    multiple: true
});

$("#eye_drops_main_hide").on('change', '.allergy_duration', function(){
  var duration = $(this).val();
  var duration_unit = $(this).parent().parent().next().children().children().val();
  if(duration_unit != "" && duration != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val(data);
  }else{
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val("");
  }
})

$("#eye_drops_main_hide").on('change', '.allergy_duration_unit', function(){
  var duration_unit = $(this).val();
  var duration = $(this).parent().parent().prev().children().children().val();
  if(duration != "" && duration_unit != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val(data);
  }else{
      $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val("");
  }
})

$("#nsaids_main_hide").on('change', '.allergy_duration', function(){
  var duration = $(this).val();
  var duration_unit = $(this).parent().parent().next().children().children().val();
  if(duration_unit != "" && duration != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val(data);
  }else{
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val("");
  }
})

$("#nsaids_main_hide").on('change', '.allergy_duration_unit', function(){
  var duration_unit = $(this).val();
  var duration = $(this).parent().parent().prev().children().children().val();
  if(duration != "" && duration_unit != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val(data)
  }else{
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val("")
  }
})

$("#antiviral_agents_main_hide").on('change', '.allergy_duration', function(){
  var duration = $(this).val();
  var duration_unit = $(this).parent().parent().next().children().children().val();
  if(duration_unit != "" && duration != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val(data);
  }else{
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val("");
  }
})

$("#antiviral_agents_main_hide").on('change', '.allergy_duration_unit', function(){
  var duration_unit = $(this).val();
  var duration = $(this).parent().parent().prev().children().children().val();
  if(duration != "" && duration_unit != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val(data)
  }else{
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val("")
  }
})

$("#antifungal_agents_main_hide").on('change', '.allergy_duration', function(){
  var duration = $(this).val();
  var duration_unit = $(this).parent().parent().next().children().children().val();
  if(duration_unit != "" && duration != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val(data);
  }else{
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val("");
  }
})

$("#antifungal_agents_main_hide").on('change', '.allergy_duration_unit', function(){
  var duration_unit = $(this).val();
  var duration = $(this).parent().parent().prev().children().children().val();
  if(duration != "" && duration_unit != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val(data)
  }else{
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val("")
  }
})

$("#antimicrobial_agents_button_main_hide").on('change', '.allergy_duration', function(){
  var duration = $(this).val();
  var duration_unit = $(this).parent().parent().next().children().children().val();
  if(duration_unit != "" && duration != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val(data);
  }else{
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val("");
  }
})

$("#antimicrobial_agents_button_main_hide").on('change', '.allergy_duration_unit', function(){
  var duration_unit = $(this).val();
  var duration = $(this).parent().parent().prev().children().children().val();
  if(duration != "" && duration_unit != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val(data)
  }else{
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val("")
  }
})

$("#contact_allergies_main_hide").on('change', '.allergy_duration', function(){
  var duration = $(this).val();
  var duration_unit = $(this).parent().parent().next().children().children().val();
  if(duration_unit != "" && duration != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val(data);
  }else{
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val("");
  }
})

$("#contact_allergies_main_hide").on('change', '.allergy_duration_unit', function(){
  var duration_unit = $(this).val();
  var duration = $(this).parent().parent().prev().children().children().val();
  if(duration != "" && duration_unit != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val(data)
  }else{
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val("")
  }
})

$("#food_allergies_main_hide").on('change', '.allergy_duration', function(){
  var duration = $(this).val();
  var duration_unit = $(this).parent().parent().next().children().children().val();
  if(duration_unit != "" && duration != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val(data);
  }else{
    $(this).parent().parent().prev().children().children(".allergy_hidden_duration").val("");
  }
})

$("#food_allergies_main_hide").on('change', '.allergy_duration_unit', function(){
  var duration_unit = $(this).val();
  var duration = $(this).parent().parent().prev().children().children().val();
  if(duration != "" && duration_unit != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val(data)
  }else{
    $(this).parent().parent().prev().prev().children().children(".allergy_hidden_duration").val("")
  }
})

var eyedrops = $("#patient_eye_drops").val();
if(eyedrops != ""){
  $(".eye_drops_title_field").css("display", "block")
}

var nsaids = $("#patient_nsaids").val();
if(nsaids != ""){
  $(".nsaids_title_field").css("display", "block")
}

var antiviral_agents = $("#patient_antiviral_agents").val();
if(antiviral_agents != ""){
  $(".antiviral_agents_title_field").css("display", "block");
}

var patient_antifungal_agents = $("#patient_antifungal_agents").val();
if(patient_antifungal_agents != ""){
  $(".antifungal_agents_title_field").css("display", "block");
}

var patient_antimicrobial_agents = $("#patient_antimicrobial_agents").val();
if(patient_antimicrobial_agents != ""){
  $(".antimicrobial_agents_title_field").css("display", "block");
}