$("#speciality_fields_add").on('click', '.copy_arrow_button', function(){
  r_duration = $(this).parent().parent().parent().prev().children().find(".r_duration_field").val();
  r_duration_unit = $(this).parent().parent().parent().prev().children().find(".r_duration_unit").val();
  l_duration = $(this).parent().parent().parent().next().children().find(".l_duration_field").val(r_duration);
  l_duration_unit = $(this).parent().parent().parent().next().children().find(".l_duration_unit").val(r_duration_unit);
  if(r_duration != "" && r_duration_unit != ""){
    l_hidden_duration =   $(this).parent().parent().parent().prev().prev().children().children(".l_hidden_duration").val(r_duration+"."+r_duration_unit);
  } else {
    r_hidden_duration =   $(this).parent().parent().parent().prev().prev().children().children(".r_hidden_duration").val("");
    l_hidden_duration =   $(this).parent().parent().parent().prev().prev().children().children(".l_hidden_duration").val("");
  }
})

$(".speciality_button").on('click', function(){
  var name_field = $(this).attr('data-value');
  var length = $(".specility_field_row").length;
  var name = name_field.split("_").join(" ").toString();
  var fields_line = "<div class='col-md-12 col-sm-12 col-xs-12 complaint_name specility_field_row "+name_field+"_fields '><div class='col-md-2 col-sm-2 col-xs-2'><h5 class='complaint_title'>"+ name.replace(/\b\w/g, l => l.toUpperCase())+"<input type='hidden' class='form-control "+name_field+"_destroy' name='patient[speciality_history_records_attributes]["+length+"][_destroy]'> <input type='hidden' name='patient[speciality_history_records_attributes]["+length+"][name]' value="+name_field+"><input type='hidden' name='patient[speciality_history_records_attributes]["+length+"][l_hidden_duration]' class='l_hidden_duration'><input type='hidden' name='patient[speciality_history_records_attributes]["+length+"][r_hidden_duration]' class= 'r_hidden_duration'></h5></div><div class='col-md-3 col-sm-3 col-xs-3 left_side_value'><div class='complaint_title col-md-6 col-sm-6 col-xs-6'><select name='patient[speciality_history_records_attributes]["+length+"][r_duration]' class='form-control personal_field_add_field speciality_r_duration r_duration_field'><option value=''>Please Select</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option><option value='21'>21</option><option value='22'>22</option><option value='23'>23</option><option value='24'>24</option><option value='25'>25</option><option value='26'>26</option><option value='27'>27</option><option value='28'>28</option><option value='29'>29</option><option value='30'>30</option><option value='31'>31</option><option value='32'>32</option><option value='33'>33</option><option value='34'>34</option><option value='35'>35</option><option value='36'>36</option><option value='21'>21</option><option value='37'>37</option><option value='38'>38</option><option value='39'>39</option><option value='40'>40</option></select></div><div class='complaint_title col-md-6 col-sm-6 col-xs-6'><select name='patient[speciality_history_records_attributes]["+length+"][r_duration_unit]' class='form-control personal_field_add_field speciality_r_duration_unit r_duration_unit'><option value=''>Please Select</option><option value='days'>Days</option><option value='weeks'>Weeks</option><option value='months'>Months</option><option value='years'>Years</option></select></div></div><div class='col-md-1 col-sm-1 col-xs-1 speciality_history_row '><div class='col-md-12 ccl-sm-12 col-xs-12'><center><div class='complaint_title copy_arrow_button'><i class='fa fa-arrow-right ' aria-hidden='true' style='color: #46b8da;'></i></div></center></div></div><div class='col-md-3 col-sm-3 col-xs-3 left_side_value'><div class='complaint_title col-md-6 col-sm-6 col-xs-6'><select name='patient[speciality_history_records_attributes]["+length+"][l_duration]' class='form-control personal_field_add_field speciality_l_duration l_duration_field'><option value=''>Please Select</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option><option value='21'>21</option><option value='22'>22</option><option value='23'>23</option><option value='24'>24</option><option value='25'>25</option><option value='26'>26</option><option value='27'>27</option><option value='28'>28</option><option value='29'>29</option><option value='30'>30</option><option value='31'>31</option><option value='32'>32</option><option value='33'>33</option><option value='34'>34</option><option value='35'>35</option><option value='36'>36</option><option value='21'>21</option><option value='37'>37</option><option value='38'>38</option><option value='39'>39</option><option value='40'>40</option></select></div><div class='complaint_title col-md-6 col-sm-6 col-xs-6'><select name='patient[speciality_history_records_attributes]["+length+"][l_duration_unit]' class='form-control personal_field_add_field speciality_l_duration_unit l_duration_unit'><option value=''>Please Select</option><option value='days'>Days</option><option value='weeks'>Weeks</option><option value='months'>Months</option><option value='years'>Years</option></select></div></div><div class='col-md-3 col-sm-3 col-xs-3'><div class='complaint_title'><input type='text' class='form-control personal_field_add_field' name='patient[speciality_history_records_attributes]["+length+"][comment]' placeholder='Comment...' style='width:100%;'></div></div></div>"

  if ($(this).hasClass('btn-darkblue')){
    $('.'+name_field+'_fields').show()
  } else {
    $('.'+name_field+'_fields').hide()
  }

  var count_class= $('.'+name_field+'_fields').length;
  if(count_class >= 1){
    $('.'+name_field+'_fields').toggle(0.5, function(){
      if($('.'+name_field+'_fields').is(":visible")){
        $('.'+name_field+'_destroy').val("0");
      }else{
        $('.'+name_field+'_destroy').val("1");
      }
    });
  } else {
    $(fields_line).appendTo("#speciality_fields_add").fadeIn('slow');
  }
})


$(".personal_button").on('click', function(){
  var name_field = $(this).attr('data-value');
  var length = $(".personal_field_row").length;
  var name = name_field.split("_").join(" ").toString();
  var fields_line = "<div class='col-md-12 col-sm-12 col-xs-12 complaint_name personal_field_row "+name_field+"_fields '><div class='col-md-2 col-sm-2 col-xs-2'><h5 class='complaint_title'><input type='hidden' class='form-control "+name_field+"_destroy'  name='patient[personal_history_records_attributes]["+length+"][_destroy]'> "+name.replace(/\b\w/g, l => l.toUpperCase())+"<input type='hidden'name='patient[personal_history_records_attributes]["+length+"][name]', value='"+name_field+"'><input type='hidden'name='patient[personal_history_records_attributes]["+length+"][hidden_duration]' class='hidden_duration'></h5></div><div class='col-md-2 col-sm-2 col-xs-2'><div class='personal_duration'><select name='patient[personal_history_records_attributes]["+length+"][duration]' class='form-control personal_field_add_field duration_field '><option value=''>Please Select</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='13'>13</option><option value='14'>14</option><option value='15'>15</option><option value='16'>16</option><option value='17'>17</option><option value='18'>18</option><option value='19'>19</option><option value='20'>20</option><option value='21'>21</option><option value='22'>22</option><option value='23'>23</option><option value='24'>24</option><option value='25'>25</option><option value='26'>26</option><option value='27'>27</option><option value='28'>28</option><option value='29'>29</option><option value='30'>30</option><option value='31'>31</option><option value='32'>32</option><option value='33'>33</option><option value='34'>34</option><option value='35'>35</option><option value='36'>36</option><option value='21'>21</option><option value='37'>37</option><option value='38'>38</option><option value='39'>39</option><option value='40'>40</option></select></div></div><div class='col-md-2 col-sm-2 col-xs-2'><div class='personal_duration_unit'><select name='patient[personal_history_records_attributes]["+length+"][duration_unit]' class='form-control personal_field_add_field  duration_unit'><option value=''>Please Select</option><option value='days'>Days</option><option value='weeks'>Weeks</option><option value='months'>Months</option><option value='years'>Years</option></select></div></div><div class='col-md-6 col-sm-6 col-xs-6'><div class='complaint_title'><input type='text', class='form-control personal_field_add_comment' name='patient[personal_history_records_attributes]["+length+"][comment]'  placeholder='Comment...'><input type='hidden', class='form-control personal_field_add_comment' name='patient[personal_history_records_attributes]["+length+"][history_started]'   placeholder=''>"
  var count_class= $('.'+name_field+'_fields').length;
  if ($(this).hasClass('btn-darkblue')){
    $('.'+name_field+'_fields').show()
  } else {
    $('.'+name_field+'_fields').hide()
  }

  if(count_class >= 1){
    $('.'+name_field+'_fields').toggle(0.5, function(){
      $('.'+name_field+'_fields').each(function(i, obj) {
        if (i == 0){
          if($('.'+name_field+'_fields').is(":visible")){
            $('.'+name_field+'_destroy').val("0");
          }else{
            $('.'+name_field+'_destroy').val("1");
          }
        }else {
          obj.remove()
        }
      });
    });
  } else {
    $(fields_line).appendTo("#personal_fields_add").fadeIn('slow');

  }
})

$("#personal_fields_add").on('change', '.duration_field', function(e){
  var duration = $(this).val();
  var duration_unit = $(this).parent().parent().next().children().children().val();
  if (duration_unit != "" && duration != ""){
    data = duration+'.'+duration_unit
    $(this).parent().parent().prev().children().children(".hidden_duration").val(data);
  } else {
    $(this).parent().parent().prev().children().children(".hidden_duration").val("");
  }
})

$("#personal_fields_add").on('change', '.duration_unit', function(){
  var duration_unit = $(this).val();
  var duration = $(this).parent().parent().prev().children().children().val();
  if(duration != "" && duration_unit != ""){
    data = duration+"."+duration_unit
    $(this).parent().parent().prev().prev().children().children(".hidden_duration").val(data);
  } else {
      $(this).parent().parent().prev().prev().children().children(".hidden_duration").val("");
  }
})

$("#speciality_fields_add").on('change', '.l_duration_field', function(){
  var l_duration = $(this).val();
  var l_duration_unit = $(this).parent().next().children().val();
  if(l_duration_unit != "" && l_duration != ""){
    data  = l_duration+"."+l_duration_unit
    a = $(this).parent().parent().prev().prev().prev().children().children(".l_hidden_duration").val(data);
  } else {
    a = $(this).parent().parent().prev().prev().prev().children().children(".l_hidden_duration").val("");
  }
})

$("#speciality_fields_add").on('change', '.l_duration_unit', function(){
  var l_duration_unit = $(this).val();
  var l_duration = $(this).parent().prev().children().val();
  if(l_duration != "" && l_duration_unit != ""){
    data = l_duration+"."+l_duration_unit
    a = $(this).parent().parent().prev().prev().prev().children().children(".l_hidden_duration").val(data);
  } else {
    a = $(this).parent().parent().prev().prev().prev().children().children(".l_hidden_duration").val("");
  }
})

$("#speciality_fields_add").on('change', '.r_duration_field', function(){
  var r_duration = $(this).val();
  var r_duration_unit = $(this).parent().next().children().val();
  if(r_duration_unit != "" && r_duration != ""){
    var r_data = r_duration+"."+r_duration_unit;
    $(this).parent().parent().prev().children().children(".r_hidden_duration").val(r_data);
  } else {
    $(this).parent().parent().prev().children().children(".r_hidden_duration").val("");
  }
})

$("#speciality_fields_add").on('change', '.r_duration_unit', function(){
  var r_duration_unit = $(this).val();
  var r_duration = $(this).parent().prev().children().val();
  if(r_duration != "" && r_duration_unit != ""){
    var r_data = r_duration+"."+r_duration_unit
    $(this).parent().parent().prev().children().children(".r_hidden_duration").val(r_data);
  } else {
    $(this).parent().parent().prev().children().children(".r_hidden_duration").val("");
  }
})
