<ul class="nav nav-pills">
  <li class="active"><a href="#departments" data-toggle="tab">Departments</a></li>
  <li><a href="#opdsettings" data-toggle="tab">OPD Settings</a></li>
  <li><a href="#ipdsettings" data-toggle="tab">IPD Settings</a></li>
</ul>

<div class="tab-content">

  <div class="tab-pane active" id="departments">

    <% Department.all.each do |department| %>

        <%= check_box_tag 'opdrecord[print_glassesprescriptions_flag]', department.id, true, { class: 'print_glassesprescriptions_flag', id: "checkboxglasses" } %> <label for="checkboxglasses"><%= department.name %></label>

    <% end %>

  </div>

  <div class="tab-pane" id="opdsettings">

    <div class="col-md-12">

      <div class="row" id="schedule-alert-messages">

      </div>

      <div class="pull-right"> <!-- Action Buttons starts -->
        <button id="save_opd_timings" class="btn btn-success">Save OPD Timings</button>
      </div>

      <div class="row form-group">
        <div class="col-md-3">
          <%= select_tag("facility-filter", options_for_select(current_user.organisation.facilities.where(:organisation_id => current_user.organisation_id,:is_active => true).map { |facility| [facility.name, facility.id] }),:class=> "form-control") %>
        </div>
      </div>
      <div class="row form-group">
        <input type="hidden" name="schedule_type" value="everyday_different">
      </div>
      <div class="row day-schedule">
        <%= render 'users/fetch_week_schedule' %>
      </div>

    </div>

  </div>

  <div class="tab-pane" id="ipdsettings">

    <h1>ipd settings </h1>

  </div>

</div>