<% @all_facility.each do |facility| %>
  <li class="main-facility-list">
    <% if  facility.id == current_facility.id %>
        <%= link_to "#", style: "pointer-events: none;" do %>
        <i class="fa fa-hospital-o"></i>
        <span id="facility_name"> <%= facility.name %> </span>
        <%end%>
    <% else %>
      <%= link_to "/set_facility/#{facility.id}", class: "facility_select rightnav-link", value: facility.id, style:'color: #ccc', method: :post do %>
        <i class="fa fa-hospital-o"></i>
        <span id="facility_name"> <%= facility.name %> </span>
      <% end %>
    <% end %>
  </li>
<% end %>

<% if @all_facility.count <= 0 %>
  <li class="main-facility-list">
    <span><i class="fa fa-hospital-o"></i> No Facilities Found</span>
  </li>
<% end %>