<div class="modal-dialog modal-lg modal-time-slot">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= @user.fullname %> Calendar View</h4>
    </div>
    <div class="modal-body">
      <div class="row mb10">
        <div class="col-md-4">
          <%= select_tag :calendar_facility_id, options_for_select(@facilities_array, current_facility.id.to_s), class: 'form-control p5_10' %>
        </div>
        <div class="col-md-4">
          <%= select_tag :calendar_department_id, options_for_select([['OPD', '485396012'], ['IPD', '486546481']], '485396012'), class: 'form-control p5_10' %>
        </div>
      </div>
      <div class="row">
        <div id="time-slot-calendar"></div>
      </div>
    </div>
  </div>
</div>
