<table class="table">
  <tbody>
    <tr>
      <td class="text-center" colspan="3">Calendar Duration - <%= user_time_slot.calendar_duration %> Minutes</td>
    </tr>
    <%= render partial: 'time_slots/sessions/show.html.erb', locals: { sessions: user_time_slot.sessions } %>
    <%= render partial: 'time_slots/exception_sessions/show.html.erb', locals: { sessions: user_time_slot.exception_sessions.active_future } %>
  </tbody>
</table>
