<div class="panel">
  <div class="panel-heading" style="overflow:auto; padding: 5px;">
    <div class="col-sm-1" style="margin-top: 10px;">
      <b>Specialty</b>
    </div>
    <div class="col-md-3">
      <% if @available_specialties.count == 1 %>
        <%= select_tag("specialty_id", options_for_select(@available_specialties.pluck(:name, :id) || [], @selected_specialty), { class: 'form-control specialty_dropdown' }) %>
      <% else %>
        <%= select_tag("specialty_id", options_for_select(@available_specialties.pluck(:name, :id) || [], @selected_specialty), { include_blank: 'All Specialty', class: 'form-control specialty_dropdown' }) %>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offset-3 text-right">
      <% level = @level.present? ? @level : "user" %>
      <%= link_to new_custom_consent_path(level: level), data: { remote: true, 'toggle' =>  "modal", 'target' => '#custom-consents-modal'}, class: 'btn btn-success'  do %><i class="fa fa-plus"></i> Consent <% end %>
    </div>
  </div>
</div>
<div class="panel-body">
  <table class="table table-striped table-bordered table-primary" id="custom-consents-list">
  </table>
</div>