$("#ipdrecord-custom-consent-modal").html("<%= escape_javascript(render 'ipd_preview') %>");
$("#ipdrecord-custom-consent-modal").modal("show");

$(".custom_consents-dropdown").on('change', function() {
  var id = $(this).val();
  var languages = $(".custom_consents-dropdown").find('option:selected').attr('data-languages').split(',');
  $(".custom-consent-languages").html("")
  for (language of languages) {
    $(".custom-consent-languages").append(`<option value='${language}'>${language}</option>`)
  }

  $(".custom-consent-languages").trigger('change');
}).trigger('change')

$(".custom-consent-languages").on('change', function() {
  var custom_consent_id = $('.custom_consents-dropdown').val();
  var language = $(this).val();

  var custom_consent_data = `&custom_consent_id=${custom_consent_id}&language=${language}`

  var custom_consent_setting = $(".custom_consent_setting");
  for (var i = custom_consent_setting.length - 1; i >= 0; i--) {
    var custom_setting = $(custom_consent_setting[i]).attr('href');
    $(custom_consent_setting[i]).attr('href', custom_setting + custom_consent_data)
  }

  $.ajax({
    type: 'get',
    dataType: 'script',
    data: {
      custom_consent_id: custom_consent_id,
      patient_id: '<%= @admission.patient_id %>',
      admission_id: '<%= @admission.id %>',
      language: language,
      remote: "true"
    },
    url: "/custom_consents/ipd_preview_content"
  });
}).trigger('change')