<!--style_start-->
  <style type="text/css" media="all">

    .table thead > tr > th,
    .table tbody > tr > th,
    .table tfoot > tr > th,
    .table thead > tr > td,
    .table tbody > tr > td,
    .table tfoot > tr > td {
      border-color: #999!important;
    }

    .table-bordered th,.table-bordered td{border:1px solid #999!important}

    .table>tbody+tbody {
      border-top: 2px solid #999;
    }


    .print-template {
      font-family: Open Sans;
      font-size: 8pt;
      color: #333333;
      background:  #ffffff ;
    }
    .pcs-header-content {
      font-size: 8pt;
      color: #333333;
      background-color: #ffffff;
    }
    .pcs-template-body {
      padding: 0 0.400000in 0 0.550000in;
    }
    .pcs-template-footer {
      height: 0.700000in;
      font-size: 6pt;
      color: #aaaaaa;
      padding: 0 0.400000in 0 0.550000in;
      background-color: #ffffff;
    }
    .pcs-footer-content {
      word-wrap: break-word;
      color: #aaaaaa;
      border-top: 1px solid #eeeeee;
    }
    .pcs-label {
      color: #000000;
    }
    .pcs-entity-title {
      font-size: 9pt;
      color: #333333;
    }
    .pcs-orgname {
      font-size: 9pt;
      color: #333333;
    }
    .pcs-customer-name {
      font-size: 9pt;
      color: #333333;
    }
    .pcs-itemtable-header {
      font-size: 8pt;
      color: #333333;
      background-color: #eff0f1;
    }
    .pcs-taxtable-header {
      font-size: 8pt;
      color: #000;
      background-color: #f5f4f3;
    }
    .pcs-item-row {
      font-size: 8pt;
      border-bottom: 1px solid #eeeeee;
      background-color: #ffffff;
      color: #333333;
    }
    .pcs-item-desc {
      color: #8e8e8e;
      font-size: 8pt;
    }
    .pcs-balance {
      background-color: #ffffff;
      font-size: 9pt;
      color: #333333;
    }
    .pcs-totals {
      font-size: 9pt;
      color: #333333;
      background-color: #ffffff;
    }
    .pcs-notes {
      font-size: 8pt;
    }
    .pcs-terms {
      font-size: 8pt;
    }
    .pcs-header-first {
      background-color: #ffffff;
      font-size: 8pt;
      color: #333333;
      height: auto;
    }
    .pcs-status {
      color: '';
      font-size: 15pt;
      border: 3px solid ;
      padding: 3px 8px;
    }
    .pcs-template-header {
      padding: 0 0.400000in 0 0.550000in;
      height: 0.700000in;
    }
    .pcs-entity-title {
      text-align: center;
      position: relative;
      text-transform: uppercase;
    }
    .pcs-entity-title:before {
      content: "";
      display: block;
      border-top: 1px solid #eeeeee;
      width: 100%;
      height: 1pt;
      position: absolute;
      top: 50%;
      font-size: 1pt;
    }
    .pcs-entity-title span {
      background: #ffffff;
      padding: 0 20px;
      position: relative;
    }
    .pcs-itemtable {
      border: 1px solid #eeeeee;
    }
    .pcs-itemtable-header {
      border-right: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
    }
    .pcs-item-row {
      border-right: 1px solid #eeeeee;
      border-bottom: none;
    }
    .pcs-bdr-top {
      border-top: 1px solid #eeeeee;
    }
    .pcs-bdr-bottom {
      border-bottom: 1px solid #eeeeee;
    }
    .pcs-table, .pcs-table th, .pcs-table td {
      border: 1px solid #eeeeee;
    }
    .medication_heading {
      margin-top: 6px;
      font-size: 11px;
    }
  </style>
<!--style_end-->
<div class="print-template" style="font-family: '<%= UsersSetting.find_by(user_id: current_user.id).font_style %>';">
  <div class="row">

    <div class="col-md-12">
      <div class="appointment-patient-details mb10 mt10" style="border: 1px solid #A9A9A9;padding-left: 9px;">

        <div class="row">
          <% @template_fields.each_with_index do |(key, value), i| %>
            <% field_name = @fields_names[i] %>
            <% if key == 'fullname' %>
              <% field_value = "<b>#{@patient.fullname.to_s.upcase}</b>" %>
            <% elsif key == 'consultant_name' %>
              <% field_value = ['optometrist', 'nursing', 'refraction', 'ar_nct', 'vision', 'biometry'].include?(@templatetype) ? 'NA' : "<div style='width: 60px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>" %>
            <% elsif key == 'facility_name' %>
              <% field_value = "#{@appointment.nil? ? current_facility.name : @appointment.facility.name}" %>

            <% elsif key == 'calculate_age_gender' %>
              <% field_value = @patient.calculate_age.present? || @patient.gender.present? ? @patient.calculate_age.to_s + '/' + @patient.gender.to_s : 'Unavailable' %>

            <% elsif key == 'display_id' && !@appointment.nil? %>
              <% field_value = @appointment.display_id %>
            <% elsif key == 'created_at' %>
            <% field_value = '' %>

            <% elsif key == 'referring_doctor' %>
              <% field_name = @referral.present? && @referral.referral_type_id.include?("FS-RT-0002") ? field_name : '' %>
              <% field_value = @sub_referral.try(:name) %>

            <% elsif key == 'mr_no' %>
              <% field_value = @poi.try(:mr_no) %>

            <% elsif key == 'appointment_date' %>
              <% field_value = @appointment.nil? ? Time.now.strftime("%d/%m/%Y") : @appointment.appointmentdate.strftime("%d %b'%y") %>

            <% elsif key == 'mobilenumber' %>
              <% field_value = @patient.mobilenumber %>

            <% elsif key == 'patient_identifier' %>
              <% field_value = @patient_identifier %>

            <% elsif key == 'patient_type' %>
              <% field_value = @patient.patient_type.try(:label) %>

            <% elsif key == 'address' %>
              <% if @patient.address_1.present? || @patient.address_2.present? || @patient.city.present? || @patient.state.present? %>
                <% field_value = @patient.patient_full_address %>
              <% else %>
                <% field_value = 'Unavailable' %>
              <% end %>
            <% end %>

            <% if field_name.present? && field_value.present? %>
              <div class="col-xs-2" style="text-overflow: ellipsis; white-space: normal; word-wrap: break-word;padding: 0px 2px;">
                <b><%= field_name %></b>&nbsp;:
              </div>
              <div class="col-xs-4" style="text-overflow: ellipsis; white-space: normal; word-wrap: break-word;padding: 0px 2px;">
                <%= field_value.try(:html_safe) %>
              </div>
            <% end %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if params[:action] == "print_blank_opd_record" %>
  <style type="text/css">
   <% if current_facility.organisation.letter_head_customisations[:left_margin].to_i <= 6 %>
     .appointment-patient-details * {
       font-size: 9px;
     }
     <% else %>
     .appointment-patient-details * {
       font-size: 7px;
     }
   <% end %>
   .appointment-patient-details {
     border:1px solid #aaa;
     padding:5px;
   }
 </style>
<% else %>
  <style type="text/css">
   .appointment-patient-details {
     font-size: 12px;
   }
   .appointment-patient-details {
     border:1px solid #aaa;
     /*padding:5px;*/
   }
 </style>
<% end %>