<div class="modal-dialog modal-lg">
	<div class="modal-content"> 
		<div class="modal-header hidden-print">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Cash Register Preview</h4>
		</div> 
		<div class="modal-body">
			<%=render 'print'%>
		</div>
		<div class="modal-footer hidden-print">
			<div class="row">
				<div class="col-md-12 text-right">
					<%= link_to edit_cash_register_path(:id => @cash_register.id), :data => {:remote => true},:class => 'btn btn-danger' do %><i class="fa  fa-pencil-square-o"></i>Edit Cash Register<% end %>
					<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
