<% userlaboratorylists.each do |laboratorylist| %>
    <tr>
      <td><%= laboratorylist.name %></td>
      <td style="text-align: -webkit-center">
        <%= link_to edit_practice_laboratory_list_path(laboratorylist) ,:data => {:remote => true}, :class=> "btn btn-xs btn-success" do%><i class="fa fa-pencil-square-o"></i><%end%>
        <%= link_to practice_laboratory_list_path(laboratorylist) , :method => :delete, :data => {:remote => true, :confirm => 'Are you sure?'}, :class=> "btn btn-xs btn-danger" do%><i class="fa fa-trash-alt"></i><%end%>
      </td>
    </tr>
<% end %>