<button type="button" id="timeline-action-dropdown" class="btn btn-info btn-xs btn-info-transparent" data-toggle="dropdown">
  <span class=""><i class="fa fa-file-alt fa-xs"></i> Actions</span>&nbsp;
  <span class="caret fa-color"></span>
</button>
<ul class="dropdown-menu children">
  <li>
    <%= link_to edit_admission_path(id: timeline['pst'][0]['query']['_id']), id: "edit-admission-btn", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#admission-modal'} do %>Edit<% end %>
  </li>
  <li>
    <%= link_to admission_path(:id => timeline['pst'][0]['query']['_id']), method: 'delete', :title => "Delete this admission ?", :data => {:remote => true, :confirm => "<h4>Are you sure that you want to delete admission for -- #{@patient.fullname} ?</h4>".html_safe, :commit => 'Delete Admission' } do %>Delete<% end %>
  </li>
</ul>