<% @ot = OtListView.find_by(ot_id: timeline['pst'][0]['query']['_id'].to_s) %>
<% if @ot.current_state != "Deleted" %>
  <%= link_to ipd_patients_editot_path(:admission_id => @ot.admission_id, :patient_id => @ot.patient_id, :otschedule_id => @ot.id), id: "edit-ot-btn", class: "btn btn-primary btn-primary-transparent btn-xs btn-circle", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="fa fa-edit"></i><% end %>
  <%= link_to ipd_patients_deleteot_path(:id => @ot.id, active_id: @ot.id),class: "btn btn-danger btn-danger-transparent btn-xs btn-circle",method: 'delete', :title => "Delete this OT ?", :data => {:remote => true, :confirm => "<h4>Are you sure you want to delete OT for #{@ot.patient_name} ?</h4>".html_safe, :commit => 'Delete OT' } do %><i class="fa fa-trash-alt"></i><% end %>
<% end %>