<div class="row mb30" style="margin-top: 20px;">
  <div class="col-md-6 befor_surgery">
    <h4 class="text-center">Befor Surgery</h4>
      <%= render partial: 'inpatient/ipd_records/common/discharge/forms/before_surgery',locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord, department: department} %>
  </div>
  <div class="col-md-6 after_surgery">
    <h4 class="text-center">After Surgery</h4>
    <%= render partial: 'inpatient/ipd_records/common/discharge/forms/after_surgery',locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord, department: department} %>
  </div>
</div>

<style type="text/css">
    .befor_surgery {
        border-right: 1px solid #ddd;
        text-decoration: underline;
    }

    .after_surgery h4, .time_out h4 {
        text-decoration: underline;
    }

</style>
<script>

</script>