$("#vendor-rate-modal").html("<%= j render partial: 'edit_multiple.html.erb' %>");
<%= render partial: 'edit_multiple.js.erb' %>




function vendor_rate_form(){
  $("#new-vendor-rates-form").validate({
    ignore: [],
    rules: {

    },
    messages: {

    },
    errorPlacement: function (error, element) {
      error.insertAfter(element);
    }
  });
}
vendor_rate_form()


function confirmationModal(method, prev){
  return `<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
          <div class="row text-center">
            <h5><b>Confirmation Requird!</b></h5>
          </div>
        </div>
        <div class="modal-body">
          <p>You are about to change vendor or vendor group</p>
          <p><span class='text-danger'> All unsaved changes to the vendor rates will be lost.</span>
          Would you still want to change vendor/vendor-group ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info cancel-filter" onclick='cancel_filter("${method}_dropdown", "${prev}")' data-dismiss="modal">No don't change</button>
          <button type="button" class="btn btn-danger" onclick='${method}()' data-dismiss="modal">Yes change</button>
        </div>
    </div>
  </div>`
}

$.validator.addMethod("vendorRateList", function(value, element, options) {
  var id = $(element).attr("id")
  if (value == '') {
    return true
  } else if (parseInt(value) > 0) {
    return true
  } else {
    return false
  }
}, "Rate can not be less than 0");

$.validator.addClassRules("vendor_item_rate", { vendorRateList: true});