<% possible_variants = @item_category.default_possible_variants %>
<% possible_variants.each_with_index do |pv, i| %>
  <table width="100%" class="item-custom-field col-md-11">
    <tr valign="top">
      <td width="50%">
        <div class="form-group">
          <div class="col-sm-3 item-label">Name</div>
          <div class="col-sm-8">
            <%= text_field_tag "inventory_item[custom_fields_attributes][#{i}][name]", pv['name'], { :class=> 'form-control p7_10 mb5 item-custom-field-name', :placeholder=>'' } %>
            <%= hidden_field_tag "inventory_item[custom_fields_attributes][#{i}][_id]", @inventory_item.custom_fields.new.id, { :class=> 'form-control' } %>
          </div>
        </div>
      </td>
      <td>
        <%= hidden_field_tag "inventory_item[custom_fields_attributes][#{i}][_destroy]", 0, { :class=> 'form-control' } %>
      </td>
      <td class="">
        <div class="form-group">
          <div class="col-sm-3 item-label">Value</div>
          <div class="col-sm-8 mb5 value-container">
            <%= select_tag "inventory_item[custom_fields_attributes][#{i}][value][]", options_for_select(pv['value'], pv['value']), class: 'form-control p7_10 mb5 item-custom-field-value', multiple: true %>
          </div>
        </div>
      </td>
      <% if f.object.new_record? %>
        <td class="col-md-1 col-sm-1">
          <button type="button" class="btn btn-danger btn-xs remove-item-custom-field">X</button>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>
