<% if @from == 'bulk_upload_form' %>
  <%= select_tag "download_bulk_data[dispensing_unit_id][]", options_for_select(@dispensing_units.map { |ele| [ele.name, ele.id.to_s]}, @selected), multiple: true, id: 'download_bulk_data_dispensing_unit_id', class: 'form-control p7_10 dispensing-unit' %>
  <div class="alert alert-danger error-dispensing-unit" style="padding: 10px;width: 45%;">
    <span class='btn-remove-class' aria-hidden="true" style="cursor:pointer; float:right;">&times;</span></button>
    Dispensing Units limit exceeded.
  </div>
<% else %>
  <%= select_tag "inventory_item[#{@index}][dispensing_unit_id]", options_for_select(@dispensing_units.map { |ele| [ele.name, ele.id.to_s] }, @dispensing_units.try(:first).try(:id).try(:to_s)), { class: 'form-control p7_10  inventory_item_dispensing_unit_id', "data-index": @index } %>
  <%= hidden_field_tag "inventory_item[#{@index}][dispensing_unit]", @dispensing_units.try(:first).try(:name) %>
  <%= hidden_field_tag "inventory_item[#{@index}][dispensing_unit_name]", @dispensing_units.try(:first).try(:name) %>
<% end %>