<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="width: 90%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-item-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center">Edit Inventory Item</h4>
    </div>
    <div class="modal-body" style="background: #e4e7ea;">
      <div class="row">
        <div class="col-lg-12">
<!--            <div id="category-specific-form" style="">-->
              <%#if @inventory_store.department_id == "50121007"%>
                <%#= render partial: '/inventory/items/item_categories/addOpticalFrame'%>
              <%#else%>
                <%#= render partial: '/inventory/items/item_categories/addMedication'%>
              <%#end%>
<!--            </div>-->

            <div id="category-specific-form" style="">
              <%= render partial: 'inventory/items/category_form.html.erb' %>
            </div>
          </div>
      </div>
    </div>
    <div class="modal-footer hidden-print" style="background: #e4e7ea;">

    </div>
  </div>
</div>
<style>
  .d-flex{
    display: flex;
  }
  .value-container .error{
    position: absolute;
    margin-top: 42px;
  }
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>