<div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;min-height: 65px;">
  <strong style="text-decoration: underline; color: #1E90FF;">Generic Composition:</strong>
  <span class="clear-generic-tag" style="text-decoration: underline; color: gray; cursor: pointer;">Clear All</span>
  <div class="generic-composition-section row col-md-12">
    <% @inventory_item.generic_names.each_with_index do |generic, index| %>
      <div class="generic-composition-row col-sm-4">
        <div class="col-md-6">
          <%= text_field_tag "inventory_item[generic_names_attributes][#{index}][name]", generic.name, class: 'item_name form-control p5_10', readonly: true %>
          <%= hidden_field_tag "inventory_item[generic_names_attributes][#{index}][generic_id]", generic.generic_id, class: 'generic_id form-control p5_10' %>
        </div>
        <div class="col-md-4" style='padding: 0;'>
          <div class="col-md-5" style="padding: 0;">
            <%= number_field_tag "inventory_item[generic_names_attributes][#{index}][quantity]", generic.quantity, class: 'item_quantity form-control p5_2', step: '0.00001', min: 0.0 %>
          </div>
          <div class="col-md-7" style="padding: 0;">
            <%= select_tag "inventory_item[generic_names_attributes][#{index}][unit]", options_for_select([ 'E/O', 'mg', 'ml', '%', '% E/O', '% w/v', '% w/w', 'mg/ml', 'w/v', 'IU' ],  generic.unit), { class: 'form-control item-generic-composition-dropdown p6_10', include_blank: true } %>
          </div>
        </div>
        <div class="col-md-2" >
          <button class="btn btn-danger btn-xs btn-remove-item" style="padding: 3px 10px;" id="first_delete_button">&times;</button>
        </div>
      </div>
    <% end %>
    <div class='generic-btn-container col-md-1'>
      <span class="btn btn-primary btn-xs btn-add-item" disabled='disabled'><i class="fa fa-plus"></i></span>
    </div>
  </div>
  <div class="row"></div>
</div>
<style>
  .p6_10{
    padding: 6px 10px;
  }
  .generic-composition-row{
    padding-left: 0;
    padding-right: 0;
    width: 48%;
  }
  .generic-btn-container{
    width: 3%;
  }  
</style>