<% item.custom_fields.each do |cf| %>
  <%cf_index = rand(36**6).to_s(36) %>
  <div class="row" style="margin-top: 5px">
    <div class="col-md-1" style="margin-top: 7px">
      Name
    </div>
    <div class="col-md-4">
      <%= text_field_tag "inventory_item[#{index}][custom_fields_attributes][#{cf_index}][name]", cf.name,required: true, style: 'height: 35px;' %>
    </div>
    <div class="col-md-1" style="margin-top: 7px; margin-left: -20px">
      Value
    </div>
    <div class="col-md-5">
      <%= select_tag "inventory_item[#{index}][custom_fields_attributes][#{cf_index}][value][]", options_for_select(cf.value, cf.value), { include_hidden: false, required: true, multiple: true, class: "form-control p7_10 mb5 item-custom-field-value" } %>
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger btn-xs btn-remove-item-cf" style="padding: 3px 10px;" data-index="<%= index %>" data-cf-index="<%= cf_index %>" id="first_delete_button">×</button>
    </div>
  </div>
<% end %>