<div class="col-md-6">
  <div class="col-md-4 text-right">
    Select Location :
  </div>
  <div class="col-md-6">
    <% @select_facilities = Facility.where(organisation_id: current_user.organisation_id, is_active: true).pluck(:name, :id) %>
    <% @selected_facility = NabhSetting.where(organisation_id: current_user.organisation_id, enabled: true).pluck(:facility_id) %>
    <%= select_tag 'nabh_setting[facility_id]', options_for_select(@select_facilities, @selected_facility), class: 'form-control facility-dropdown-for-nabh', style: 'height: 200px', multiple: true %>
  </div>
</div>
