<div class="col-md-6" style="padding-top: 70px">
  <div class="col-md-3 text-center">
    <b>Nabh Setting</b>
  </div>
  <div class="col-md-6 radio_buttons_passcodes">
    <div class="rdio rdio-primary col-md-6">
      <input type="radio" name="nabh_setting" class="nabh_setting" id="nabh_setting_yes" value="true" <%= 'checked="checked"' if @nabh_setting.try(:enabled) %> />
      <label for="nabh_setting_yes">Yes</label>
    </div>
    <div class="rdio rdio-primary col-md-6">
      <input type="radio" name="nabh_setting" class="nabh_setting" id="nabh_setting_no" value="false" <%= 'checked="checked"' if !@nabh_setting.try(:enabled) %> />
      <label for="nabh_setting_no">No</label>
    </div>
  </div>
  <div class="col-md-1">
    <button class="btn btn-success nabh_submit_button">Save</button>
  </div>
</div>


<script type="text/javascript">
  // Trigger Initial Click
  $('input[name=nabh_setting]:checked', '.radio_buttons_passcodes').trigger('click')
  // Submit Button Ajax Call
  $(".nabh_submit_button").on('click', function(e){
    e.preventDefault();
    var nabh_setting = $('input[name=nabh_setting]:checked', '.radio_buttons_passcodes').val()
    var facility_ids = $(".facility-dropdown-for-nabh").val()
    if (facility_ids == null){
      notice = new PNotify({ title: 'Warning', text: 'No Facility is selected please select the facililty before SAVE', type: 'warning' }); notice.get().click(function(){ notice.remove() });
      return
    }
    $(this).html("Please Wait..")
    $(this).attr('disabled', 'disabled')
    $.ajax({
        type: "GET",
        url: "/nabh_settings/setting_save",
        data: {
            enabled: nabh_setting,
            facility_ids: facility_ids
        },
        success: function(){
            location.reload();
        }
    })
  })
</script>