<% if @departments_array.count > 0 %>
  <div class="department dropdown" style="display: inline;margin-right:15px;">
    <button class="btn btn-xs btn-primary dropdown-toggle department-button" type="button" data-toggle="dropdown" style="padding: 0 0 0 5px;margin-bottom:5px;">
      Departments&nbsp;&nbsp;<span class="caret"></span>&nbsp;&nbsp;
    </button>
    <ul class="dropdown-menu" style="margin-top: 7px;max-height: 300px;overflow-y: auto; margin-left: -10px;">
      <% @departments_array.each do |department| %>
        <% label = department[0] == '450368792' ? 'TPA Department' : department[1] %>
        <li>
          <%= link_to opd_clinical_workflow_checkout_path(patient_id: @clinical_workflow.patient_id, type: department[6], to: department[3], department_model: department[4], to_department: department[0], workflow_id: @clinical_workflow.id, send_to_department: true, department_name: label), data: { remote: true, 'attr-department': label } do %>
            <%= label %> <label class="label label-primary" style="border-radius:100%;font-size:12px;"><%= department[2] %></label>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
