<div class="tab-pane active" id="diagnosis">
  <div class="col-md-12 col-sm-12 mb10 tab-pane fade in active">
    <div class="col-md-10 col-sm-10 clinic">
      <%= f.input :diagnosis_text, as: :text,  :label => false, :required => false, :input_html => {:class => "summernote", :rows => 2, :cols => 100, :name => "opdrecord[diagnosis_text]", :value => @opdrecord.read_attribute(:diagnosis_text) } %>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-md-12 col-sm-12">
      <%#= render partial: "templates/common/soap_assessment_tab_diagnosis_icd_list.html.erb" , locals: { f: f, diagnosislist: @opdrecord.diagnosislist, record: @opdrecord,  specalityfoldername: @speciality_folder_name, templatetype: @templatetype, opdspeciality: @opdspeciality,source: 'opdrecord' } %>
    </div>
  </div>

  <%# if @case_sheet.diagnoses.where(:record_id.nin => [@opdrecord.id], is_disabled: false).count > 0 %>
    <div class="row">
      <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/case_sheet_diagnoses.html.erb" %>
    </div>
  <%# end %>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-3 col-sm-3 col-xs-12 rdio rdio-primary">
        <div id="search_diagnosis" class="search_diagnosis">
          <%#= radio_button_tag "diagnosis_icd_type", "search_diagnosis_icd", false, {:class => 'diagnosis_icd_type', :id => "RecentDiagnosisIcdRadio1"} %>
          <label for="RecentDiagnosisIcdRadio1">Commonly Used Diagnosis</label>
        </div>
      </div>
     
      <div class="col-md-3 col-sm-3 col-xs-12 rdio rdio-primary">
        <%#= radio_button_tag "diagnosis_icd_type", "custom_icd_diagnosis", true, {:class => 'diagnosis_icd_type', :id => "CustomDiagnosisIcdRadio"} %>
        <label for="CustomDiagnosisIcdRadio"><b>Custom made Diagnosis</b></label>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12 rdio rdio-primary">
        <%#= radio_button_tag "diagnosis_icd_type", "recent_diagnosis_icd", false, {:class => 'diagnosis_icd_type', :id => "RecentDiagnosisIcdRadio2"} %>
        <label for="RecentDiagnosisIcdRadio2"><b>Frequently Used Diagnosis</b></label>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 rdio rdio-primary">
        <div class="ui-widget">
          <input type="text" class="form-control" name="search_diagnosis_keyword" id="search_diagnosis_keyword" placeholder="Search by Diagnosis name" style= "width: 80%;" />
        </div>
      </div>
    </div>
  </div>

  <div class="row mb10 mt15">
    <div id="search_diagnosis_icd">
          <div class="search_diagnosis" id="search_diagnosis" style="margin-top: 15px;">
            <div class="col-md-4 col-sm-6 opdrecord_topicd_label_select" id="opdrecord_topicd_label_select">
              <label for="comments-textarealabel">Commonly Used Diagnosis</label>
              <select id="opdrecord_topicd_name_tab" class="opdrecord_eyearea_tab tabview tab_select_tag" style="display:none;">
                <option value="">Please Select</option>
                <option value="Eyelid">Eyelid disorders and inflammation</option>
                <option value="Lacrimal Gland">Lacrimal Gland Disorders</option>
                <option value="Orbit">Disorders of orbit</option>
                <option value="Conjunctival / Scleral Disorders">Conjunctival and Scleral Disorders</option>
                <option value="Uvea">Uveal disorders</option>
                <option value="Cataract">Cataract</option>
                <option value="Retina">Chorio-Retinal Disorders</option>
                <option value="Glaucoma">Glaucoma</option>
                <option value="Optic  Nerve">Disorders of Optic Nerve</option>
                <option value="Squint">Strabismus</option>
                <option value="Refraction">Disorders of Refraction and accomodation</option>
                <option value="Disorders of globe">Disorders of globe</option>
                <option value="Normal/Miscellaneous/Others">Normal/Miscellaneous/Others</option>
              </select>
              <%##= f.input :topicd_name, collection: [ ["Eyelid disorders and inflammation","Eyelid"],["Lacrimal Gland Disorders","Lacrimal Gland"],["Disorders of orbit","Orbit"],["Conjunctival and Scleral Disorders","Conjunctival / Scleral Disorders"],["Corneal Disorders and Infection","Cornea"],["Uveal disorders","Uvea"],["Cataract","Cataract"],["Chorio-Retinal Disorders","Retina"],["Glaucoma","Glaucoma"],["Disorders of Optic Nerve","Optic  Nerve"],["Strabismus","Squint"],["Disorders of Refraction and accomodation","Refraction"],["Disorders of globe","Disorders of globe"],["Normal/Miscellaneous/Others","Normal/Miscellaneous/Others"] ], input_html: { multiple: true, :size => '15', :style => 'height: 100%; width: 60;', :class => 'form-control opdrecord_eyearea webview'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>
            </div>  

            <div class="col-md-4 col-sm-6 opdrecord_topicd_list_select" id="opdrecord_topicd_list_select">
              <label for="comments-textarealabel">List</label>
              <select id="opdrecord_topicd_list_tab" class="tabview tab_select_tag" style="display:none;">
                
              </select> 
              <%##= f.input :topicd_list, collection: [], input_html: { multiple: true, :size => '15', :style => 'height: 100%; width: 60;', :class => 'form-control opdrecord_topicd_list webview'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>
            </div>
          </div>    
    </div>

    <%# @recent_icds = RecentIcd.where(doctor: @appointment.doctor, :counter.gte => 5).order('counter desc') %>
    <div id="recent_icd_section" style="display: none;">
      <%# if @recent_icds.size >= 3 %>
        <div class="col-md-4 col-sm-4">
          <%#= select_tag "recent_diagnosis_icd_tab",options_for_select( @recent_icds.limit(20).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type ] }  ,{include_blank: false}), {:prompt => "--Please Select--", :class => 'form-control diagnosis_name tabview tab_select_tag', 'data-placeholder' => 'Choose Diagnosis', :style => " display: none"} %>
          <%#= select_tag "recent_diagnosis_icd",options_for_select( @recent_icds.limit(20).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type ] }  ,{include_blank: false}), {:class => 'form-control diagnosis_name webview',:multiple => true, 'data-placeholder' => 'Choose Diagnosis', :style => "min-height: 334px; overflow-y: auto; overflow-x: auto; width: 88%"} %>
        </div>
        <%# if @recent_icds.size >= 21 %>
            <div class="col-md-4 col-sm-4">
              <%#= select_tag "recent_diagnosis_icd_tab",options_for_select( @recent_icds.limit(20).offset(20).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type ] }  ,{include_blank: false}), {:prompt => "--Please Select--", :class => 'form-control diagnosis_name tabview tab_select_tag', 'data-placeholder' => 'Choose Diagnosis', :style => " display: none"} %>
              <%#= select_tag "recent_diagnosis_icd",options_for_select( @recent_icds.limit(20).offset(20).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type  ] } ,{include_blank: false}), {:class => 'form-control diagnosis_name webview',:multiple => true, 'data-placeholder' => 'Choose Diagnosis', :style => "min-height: 334px; overflow-y: auto; overflow-x: auto; width: 88%"} %>
            </div>
        <%#end%>
        <%# if @recent_icds.size >= 41 %>
            <div class="col-md-4 col-sm-4">
              <%#= select_tag "recent_diagnosis_icd_tab",options_for_select( @recent_icds.limit(20).offset(40).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type ] }  ,{include_blank: false}), {:prompt => "--Please Select--", :class => 'form-control diagnosis_name tabview tab_select_tag', 'data-placeholder' => 'Choose Diagnosis', :style => " display: none"} %>
              <%#= select_tag "recent_diagnosis_icd",options_for_select( @recent_icds.limit(20).offset(40).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type  ] } ,{include_blank: false}), {:class => 'form-control diagnosis_name webview',:multiple => true, 'data-placeholder' => 'Choose Diagnosis', :style => "min-height: 334px; overflow-y: auto; overflow-x: auto; width: 88%"} %>
            </div>
        <%# end %>
      <%# else %>
        <h3 style="margin-left: 15px;"> You don't have enough frequently used diagnosis.  </h3>
      <%# end %>
    </div>

    <%# total_custom_icd_diagnosis = (CustomIcdDiagnosis.where(:organisation_id => current_user.organisation_id, root: 0, specialty_id: @appointment.specialty_id, is_deleted: false)) + (SynonymIcdDiagnosis.where(organisation_id: current_user.organisation_id, specialty_id: @appointment.specialty_id, is_deleted: false)) %>
    <div id="custom_icd_diagnosis">
      <%# if total_custom_icd_diagnosis.present? %>
        <div class="col-md-4 col-sm-4">
          <%#= select_tag "custom_icd_diagnosis_tab", options_for_select(total_custom_icd_diagnosis.collect{ |icd| [(icd.try(:originalname) if icd.try(:originalname).present?) || icd.try(:fullname), icd.code, 'data-id' => icd.icd_type ] } ) , {:prompt => "--Please select--", :class => 'diagnosis_name tabview tab_select_tag', 'data-placeholder' => 'Choose Diagnosis',:style => 'display:none;'}%>

          <%#= select_tag "custom_icd_diagnosis_web", options_for_select(total_custom_icd_diagnosis.collect{ |icd| [(icd.try(:originalname) if icd.try(:originalname).present?) || icd.try(:fullname), icd.code, 'data-id' => icd.icd_type ] } ) , {:class => 'form-control diagnosis_name webview',:multiple => true, 'data-placeholder' => 'Choose Diagnosis', :style => "min-height: 334px; overflow-y: auto; overflow-x: auto; width: 65%"} %>
        </div>

      <%# else %>
        <h4 style="margin-left: 15px;font-style: italic;"> You don't have any Custom created diagnosis. Create from <b>Organisation settings -> Clinical -> Custom ICDs</b> </h4>
      <%# end %>
    </div>
  </div> -->

  <!-- <div class="col-md-12 col-sm-12 mb20"></div> -->
  <!-- <div class="row" style="margin-top: 31px;">
    <div class="col-md-6 col-sm-8 col-xs-12">
      <div class="col-md-4 col-sm-4 col-xs-6">Comments:</div>
      <div class="col-md-8 col-sm-8 col-xs-6">
        <%#= f.input :diagnosiscomments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control summernote', :rows => 2, :cols => 30, :style =>'width:100%', :name => "opdrecord[diagnosiscomments]", :value => @opdrecord.read_attribute(:diagnosiscomments) } %> 
      </div>
    </div>

    <div class="col-md-6 col-sm-4 col-xs-12 pull-left" style="display: none;vertical-align: left; margin-top: 15px;float: none;text-align: left;">
      <span class="badge col-md-1 col-sm-2">I</span><b style="cursor:default;color:#5bc0de;">&nbsp;Standard ICD </b><br>
      <span class="badge col-md-1 col-sm-2">C</span><b style="cursor:default;color:#5bc0de;"> &nbsp;Custom Created ICD</b><br>
      <span class="badge col-md-1 col-sm-2">T</span><b style="cursor:default;color:#5bc0de;"> &nbsp;Translated ICD</b><br><br>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">

    </div>
  </div> -->
</div>


<script>
  var summernote_options = {
    toolbar: [
      ['style', ['bold', 'italic', 'underline', 'clear']],
      ['fontsize', ['fontsize']],
      ['height', ['height']],
      ['fontname', ['fontname']],
    ],height: 200,
    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','Georgia','Times New Roman','Palatino Linotype','Lucida Console','Verdana','Trebuchet MS','Helvetica','English111 Adagio BT Regular','Impact']
  };
  
  $('#opdrecord_diagnosis_text').summernote(summernote_options);
  // $(document).ready(function() {
    // $("#tree_diagnosis_icd").hide();
    // $("#search_diagnosis_icd").show();
    // $("#recent_diagnosis_icd").hide();
    // $("#recent_icd_section").css("display", "none");
    // $("#custom_icd_diagnosis").hide();
    // $("input[name='diagnosis_icd_type']").on('click', function () {
      // var icd_type = $(this).val();
      // if (icd_type == 'search_diagnosis_icd') {
        // $("#search_diagnosis_icd").show();
        // $("#tree_diagnosis_icd").hide();
        // $("#recent_diagnosis_icd").hide();
        // $("#recent_icd_section").css("display", "none");
        // $("#custom_icd_diagnosis").hide();
      // }
      // else if (icd_type == 'tree_diagnosis_icd') {
      //   $("#search_diagnosis_icd").hide();
      //   $("#tree_diagnosis_icd").show();
      //   $("#recent_diagnosis_icd").hide();
      //   $("#recent_icd_section").css("display", "none");
        
      // }
      // else 
  //     if (icd_type == 'recent_diagnosis_icd') {
  //       $("#recent_icd_section").show();
  //       $("#custom_icd_diagnosis").hide();
  //     }
  //      else if (icd_type == 'custom_icd_diagnosis') {
  //       $("#recent_icd_section").hide();
  //       $("#custom_icd_diagnosis").show();
  //     }
  //   });

  // });
</script>