<div class="row"> <!-- 1st row starts -->
  <div class="col-md-12">
    <%= render partial: "templates/common/hiddenvariables", locals: { patient: @patient, templatetype: @templatetype, templateid: @templateid, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord }  %> <!-- Render orthopedics subjective template from partial --> 

    <% Global.send("#{@speciality_folder_name}").send("#{@templatetype}template").erb.each do |opd_record_specality_template_erb| %>
      <%= render partial: "#{opd_record_specality_template_erb}", locals: { f: f, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid } %>
    <% end %> 
  </div>
</div>