<style type="text/css">
  .pd10{
    padding:10px;
  }
</style>
<div class="row">
  <div class="col-md-12" style="border-bottom: 1px solid #ccc; padding-bottom: 10px; ">
    <div class="col-md-12">
      <a class="btn btn-xs btn-success search-purchase-filter">Apply</a>
    </div>
  </div>
</div>
<div class="inventory-item">
  <div class="row">
    <div class="col-md-12 add_content_here">
      <div class="row mb10" style="background-color: #fff;padding:10px;border-bottom: 1px solid #ccc;">
        <div class="col-md-12 text-left">
          <b>Date</b>&nbsp;&nbsp;<a href=""><span class="clear-date" style="font-size: 10px;margin-top: -7px;">clear</span></a>
        </div>
        <div class="col-md-12" style="padding-left: 5%">


          <div class="row mt10">
            <div class="col-md-6">
              <b>From</b>&nbsp;&nbsp;<a href=""><span class="clear-start-date" style="font-size: 10px;margin-top: -7px;">clear</span></a>
              <%= text_field_tag :start_date, "", class: "form-control form-control-custom purchase-start-date-datepicker", id: "purchase_start_date", name: "filter[start_date]", readonly: true %>
            </div>
            <div class="col-md-6">
              <b>To</b>&nbsp;&nbsp;<a href=""><span class="clear-to-date" style="font-size: 10px;margin-top: -7px;">clear</span></a>
              <%= text_field_tag :end_date, "", class: "form-control form-control-custom purchase-end-date-datepicker", id: "purchase_end_date", name: "filter[end_date]", readonly: true %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".tagsinput .tag").on("click", function() {
    var tagattr = $(this).attr("data-attribute")
    $(this).hide()
    $("."+tagattr).val("")
    refreshPurchasePage()
  })

  function refreshPurchasePage() {
    loadingDots();
    let store_id = '<%= @store_id %>'

    jQuery.ajax({
      type: 'get',
      dataType: 'script',
      data: {
        store_id: store_id,
        remote: true
      },
      url: '/inventory/order/purchases'
    });
  }

  function loadingDots() {
    $(".inventory-items ").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
  }
</script>

<style type="text/css">
  .clear_btn {
  font-size:10px;
  cursor: pointer;
  color: #428BCA; 
}
</style>