<button type="button" class="btn btn-light btn-xs btn-default" id="get_payment_terms">Payment Terms</button>
<button type="button" class="btn btn-light btn-xs btn-default" id="get_delivery_terms">Delivery Terms</button>
<div class="row col-md-12">
	<div class="col-md-6 payment_terms">
		<%= render partial: 'inventory/order/purchases/payment_terms_and_conditions.html.erb', locals: { f: f, model_name: "inventory_order_purchase" } %>
	</div>
	<div class="col-md-6 delivery_terms">
		<%= render partial: 'inventory/order/purchases/delivery_terms_and_conditions.html.erb', locals: { f: f, model_name: "inventory_order_purchase" } %>
	</div>
	<div class="col-md-2 col-md-offset-10">
	<%= f.submit "Save Changes", { class: 'btn btn-success validate-order', onclick: 'validate_inventory_purchase_orders_form()', style: 'margin-top: 15px' } %>
	</div>
</div>

<script type="text/javascript">
	$("#get_payment_terms").css({ "background-color":"blue", "color":"white" });
	$('.delivery_terms').hide()
	$('#get_payment_terms').on('click', function() {
		$(this).css({ "background-color":"blue", "color":"white" });
		$("#get_delivery_terms").css({ "background-color":"white", "color":"" });
		$('.payment_terms').show()
		$('.delivery_terms').hide()
	})

	$('#get_delivery_terms').on('click', function() {
		$(this).css({ "background-color":"blue", "color":"white" });
		$("#get_payment_terms").css({ "background-color":"white", "color":"" });
		$('.delivery_terms').show()
		$('.payment_terms').hide()
	})
</script>