$(".filter_navbar").html('<%= escape_javascript(render "filter_purchase.html.erb") %>');
if($('.filter_navbar').hasClass('when_open')) {
  $(".filter_navbar").animate({'center':'0px'}, {duration:200});
  $(".filter_navbar").removeClass('when_open');
  $(".open_side_modal i").addClass('fa-filter');
  $(".open_side_modal i").removeClass('fa-times');
} else {  
  $(".filter_navbar").animate({'center':'0'}, {duration:200});
  $(".filter_navbar").addClass('when_open');
  $(".open_side_modal i").removeClass('fa-filter');
  $(".open_side_modal i").addClass('fa-times');
}

$('.purchase-start-date-datepicker').datepicker({
  dateFormat: "dd/mm/yy"
});
$('.purchase-end-date-datepicker').datepicker({
  dateFormat: "dd/mm/yy"
});

$(".clear-start-date").on('click', function(e) {
  e.preventDefault()
  $("#purchase_start_date").val("")
})
$(".clear-end-date").on('click', function(e) {
  e.preventDefault()
  $("#purchase_end_date").val("")
})
$(".clear-date").on('click', function(e) {
  e.preventDefault()
  $("#purchase_end_date").val("")
  $("#purchase_start_date").val("")
})

$("input[name='filter[start_date]").val($("input[name='hiddenfilter[start_date]']").val())
$("input[name='filter[end_date]").val($("input[name='hiddenfilter[end_date]']").val())

$('.search-purchase-filter').on('click', function(e) {
  e.preventDefault();
  loadingDots()
  let store_id = '<%= @store_id %>'
  let start_date = $("#purchase_start_date").val() || '<%= Date.current %>'
  let end_date = $("#purchase_end_date").val() || '<%= Date.current %>'

  $('.filter_navbar').hide();

  jQuery.ajax({
    type: 'get',
    dataType: 'script',
    data: {
      store_id: store_id,
      start_date: start_date,
      end_date: end_date,
      data_from: 'filter',
      remote: true
    },
    url: '/inventory/order/purchases'
  });
});

function loadingDots() {
  $(".inventory-items ").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
}
