<div class="modal-dialog modal-hg-template">
  <div class="modal-content">

    <div class="modal-header">
      <%= render partial: "templates/common/#{@form_buttons}" %>  <!-- Render common user action buttons template from partial -->
      <%= render partial: "templates/common/patientinfo", locals: { patient: @patient } %>  <!-- Render common patient info template from partial -->

      <div class="text-center">
        <h4 class="nomargin"><%= @displayname %></h4>
      </div>

    </div>
    <%= render partial: "templates/ipd/ipd_partials/ipd_template_form" %>

  </div>
</div>