<div class="row mb20">
  <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
    <div class="col-md-12">
      <b>Precautions : </b>
    </div>
    <div class="col-md-12">
      <%= f.text_area :precautions, {class: "form-control",:value => @discharge_note.read_attribute(:precautions)} %>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
    <div class="col-md-12">
      <b>Physiotherapy : </b>
    </div>
    <div class="col-md-12">
      <%= f.text_area :physiotherapy, {class: "form-control",value: @discharge_note.read_attribute(:physiotherapy)} %>
    </div>
  </div>
</div>
<%= render partial: 'inpatient/ipd_record/discharge_note/common/followup_details.html.erb', locals: {f: f} %>

