<% if mail_job == true %>
  <% @patient = patient %>
  <% @admission = admission %>
  <% @ipdrecord = ipd_record %>
  <% @diagnosislist = ipd_record.try(:diagnosislist) %>
  <% @clinical_note = ipd_record.try(:clinical_note) %>
  <% @discharge_note = discharge_note %>
  <% @procedure = ipd_record.try(:procedure) %>
  <% @case_sheet = case_sheet %>
<% end %>
<% @current_facility = current_facility %>
<% @mail_job = mail_job %>
<% @poi = PatientOtherIdentifier.find_by(patient_id: @patient.id) %>

<div class="master-row">
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'inpatient/ipd_record/patient_info.html.erb', locals: { note: @discharge_note } %>
    </div>
    <div class="col-md-12 text-center">
      <% if view == "Summary" %>
        <div class="pcs-entity-title"><span>Discharge Summary</span></div>
      <% elsif view == "Note" %>
        <div class="pcs-entity-title"><span>Discharge Note</span></div>
      <% end %>
    </div>
  </div>
  <% if view == "Summary" %>
    <%= render partial: "inpatient/ipd_record/discharge_note/#{@speciality_folder_name}_notes/discharge_summary.html.erb" %>
  <% elsif view == "Note" %>
    <%= render partial: "inpatient/ipd_record/discharge_note/#{@speciality_folder_name}_notes/discharge_note.html.erb" %>
  <% else %>
    <%= render partial: "inpatient/ipd_record/discharge_note/#{@speciality_folder_name}_notes/medications.html.erb" %>
  <% end %>
</div>