// JS SEARCH
$(".search-contact").on('keyup', function(){
  filter_contact(".contact_name")
})

$(".filter-contact-group").on('change', function(){
  filter_contact(".contact_group")
})

function filter_contact(reference){
  // Variables
  contact_list = $(".each-contact-table-row");
  search = $(".search-contact").val();
  dropdown = $(".filter-contact-group option:selected").html().toUpperCase().trim();
  search_trim = search.toUpperCase().trim();

  // Search Text
  if(search != ""){
    filter_text = 'Searching <b style="color:#f00;">"' + search + '"</b> in <b style="color:#f00;">"' + dropdown + '"</b>'
  } else {
    filter_text = 'Filtered as <b style="color:#f00;">"' + dropdown + '"</b>'
  }
  $(".filter-search-text").html(filter_text)

  // Filter Contacts
  for (var i = contact_list.length - 1; i >= 0; i--) {
    if(reference == ".contact_name"){
      var search_reference = $(contact_list[i]).find(reference)
      var dropdown_reference = $(contact_list[i]).find(".contact_group")
    } else if(reference == ".contact_group"){
      var search_reference = $(contact_list[i]).find(".contact_name")
      var dropdown_reference = $(contact_list[i]).find(reference)
    }

    if($(search_reference).html().toUpperCase().indexOf(search_trim) > -1 && ($(dropdown_reference).html().toUpperCase().indexOf(dropdown) > -1 || dropdown == "ALL")){
      $(contact_list[i]).css("display", "");
    } else {
      $(contact_list[i]).css("display", "None");
    }
  }

  // Empty Contacts Message
  $(".all-contact-row").find("tbody").find(".empty-contact").remove();
  if($(".each-contact-table-row:visible").length == 0){
    $(".all-contact-row").find("tbody").prepend("<tr class='empty-contact text-center'><td colspan='5'>No Contacts to Show.</td></tr>")
  }
}