<!-- HEADER -->
<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-md-6">
    <h4>Referral Type</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-sub-referral form-control" placeholder="Search Sub Referral..." value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-3 text-right">
    <%= link_to new_sub_referral_type_path, data: { remote: true, 'toggle': 'modal', 'target': '#referral-modal' }, class: 'btn btn-primary navbar-btn', id: 'add-sub-referral' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Sub Referral<% end %>
  </div>
</div>
<!-- HEADER ENDS -->

<!-- REFERRAL FILTER -->
<div class="row mb20">
  <div class="col-md-2">
    Filter Referral Type :
  </div>
  <div class="col-md-2">
    <%= select_tag "referral_type", options_for_select(@referral_type_filters), class: 'form-control p5_10' %>
  </div>
</div>
<!-- REFERRAL FILTER ENDS -->

<!-- REFERRAL/SUB REFERRAL LIST -->
<div id="referral_table_content">
  <div class="row">
    <div class="col-md-12">
      <input type="hidden" name="count" class="count" value="0">
      <table class="table table-bordered sub-referral-table" id="referral_table">
        <thead>
          <tr>
            <th style="width: 35%">Source</th>
            <th style="width: 35%">Sub Source</th>
            <!-- <th style="width: 25%">Facility</th> -->
            <th style="width: 30%">Action</th>
          </tr>
        </thead>
        <tbody id="sub-referral-list">
          <%= render partial: 'sub_referral_types/index' %>
        </tbody>
        <% if @sub_referral_types.present? %>
          <% unless @sub_referral_types.try(:count) < 10 %>
            <tr class="load_more_referrals">
              <td class="text-center" colspan="3"><i id="click_to_load" class="fa fa-spinner fa-spin"></i> Click To Load More ...</td>
            </tr>
          <%end%>
        <%end%>
      </table>
    </div>
  </div>
</div>
<!-- REFERRAL/SUB REFERRAL LIST ENDS -->

<style type="text/css">
  #referral_table_content {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #referral_table {
    width: relative;
  }
</style>


<script type="text/javascript">
  $('#referral_type').on('change', function(e){
    $('.count').val("0")
  })

  scrollreferrals()
  function scrollreferrals(){
    $("#referral_table_content").scroll(function() {

      var referral_table_height = $('#referral_table').height() 
      var referral_table_content_height = $('#referral_table_content').height() 
      var referral_table_content_scroll = $('#referral_table_content').scrollTop()


      if( referral_table_height + 22 == referral_table_content_height + referral_table_content_scroll){
        $(".load_more_referrals").trigger("click")
      }
    })
  }
  
  $(".load_more_referrals").on('click',function(e){

    e.preventDefault();
    var referral_type_id = $('#referral_type').val()
    var count = parseInt($('.count').val())
    var count = count+1
    $('.count').val(count)

    $.ajax({
      type: 'GET',
      dataType: 'script',
      data: { referral_type_id: referral_type_id, count: count },
      url: '/sub_referral_types/show_more_referrals',
    })    
  })

</script>