<% @poi = PatientOtherIdentifier.find_by(patient_id: @patient.id) %>
<div class="row mb10">
  <div class="col-md-12">
    <%= render partial: 'inpatient/ipd_record/patient_info.html.erb', locals: { note: nil } %> <!-- nil as all notes are shown together -->
  </div>
  <div class="col-md-12">
    <div class="pcs-entity-title"><span><%= @template_type %> Notes</span></div>
  </div>
</div>
<%= render partial: "inpatient/ipd_record/ward_note/#{@speciality_folder_name}_notes/ward_notes.html.erb" %>