<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog ot-dialog modal-md" style="width:60%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add OT room</h4>
    </div>
    <%= simple_form_for @ot_room, remote: true, html: { id: "new-ot-form", class: "ot-form" } do |ot_fields| %>
      <div class="modal-body">
        <div class="ot-form">
          <%= render partial: "form.html.erb" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= ot_fields.submit "Save", class: "btn btn-success save-ot-room", data: { "disable-with": "Please Wait..." , onclick: "otformvalidation()"} %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
