$("#ot-modal").html("<%= escape_javascript(render partial: 'edit.html.erb') %>");

//specialty dropdown change
function get_specialty(facility_id){
  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/ot_rooms/search_specialty",
    data: { facility_id: facility_id },
    success: function(response){
      $('#ot_room_specialty_id').children().remove();
      if (response.length == 0){
        $('#ot_room_specialty_id').append($("<option></option>").attr("value","").text("No Specialty Available")).trigger('change.select2');
      } else {
        $.each(response, function(key, value) {
          $('#ot_room_specialty_id').append($("<option></option>").attr("value",value[1]).text(value[0])).trigger('change.select2');
        });
      }
    }
  });
}

//change specialty on change of facility
$("#ot_room_facility_id").on('change', function(){
  var facility_id = $(this).val()
  get_specialty(facility_id);
});


$("#ot_room_specialty_id").select2();
$("#ot_room_facility_id").select2();

const editotformvalidation = () => {
  $("#edit-ot-form").validate({
    rules: {
      "ot_room[name]": {required: true},
      "ot_room[specialty_id]": {required: true},
      "ot_room[capacity]": {required: true}
    }
  });
};
editotformvalidation();


  