<div class="modal-dialog modal-hg-save-record-template" style="width:89%;">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right"> <!-- Action Buttons starts -->
        <%= link_to edit_tpa_insurance_pre_authorization_form_path(:workflow_id => @insurance_details.tpa_insurance_workflow_id, :data_class => "TpaInsuranceWorkflow", :id => @insurance_details.id), :class => "btn btn-primary  edit_tpa_form_btn", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'} do %><i class="fa fa-edit" aria-hidden="true"></i>&nbsp; Edit <% end %>

        <%= link_to tpa_insurance_pre_authorization_form_print_tpa_form_path(:id => @insurance_details.id, :format => :pdf), :class => "btn btn-primary full_print", :target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
        
        <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
      <div class="text-center">
        <h4 class="nomargin">Pre - Auth Form Summary</h4>
      </div>
    </div>
    
    <div class="modal-body">
      <div class="row mb20">
        <div class="col-md-12" style="padding: 50px;font-size: 1em;">
          <%= render partial: "tpa_form_summary" %>  
        </div>

      </div>
    </div>

  </div>
</div>