<!--style_start-->
<style type="text/css" media="all">
  .tpa_details_section{
    margin-top: -15px;
  }
  .patient_details_section{
    margin-top: -15px;
  }

  .print-template {
    font-family: Open Sans;
    font-size: 7pt;
    color: #333333;
    background:  #ffffff ;
  }
 
</style>

<div class="print-template">
  <%= render partial: "/tpa_insurance_pre_authorization_form/tpa_form_summary.html.erb" %>  
</div>
