jQuery("#mypracticemedicationlist-modal").html("<%= escape_javascript(render 'practice_laboratory_lists/my_practice_laboratory') %>")
jQuery("#mypracticemedicationlist-modal").modal("show")
<%= render partial: "templates/common/js/constants.js" %>
<%= render partial: "templates/common/js/common_functions.js" %>
<%= render partial: "practice_laboratory_lists/my_practice_laboratory_lists.js" %>
jQuery(document).ready(function() {    	
	jQuery(".savelaboratarylist").on("click", function(event) {
        lab_set_save_form();
		jQuery(".new_my_practice_laboratory").submit();
	});
});

function lab_set_save_form() {
    $("#new_my_practice_laboratory").validate({
        rules: {
            "users_laboratory_list[name]": {
                required: true,
            },
            "users_laboratory_list[specialty_id]": {
                required: true,
            },
        },
        messages: {
            "users_laboratory_list[name]": {
                required: "**Set Name is Required"
            },
            "users_laboratory_list[specialty_id]": {
                required: "Please select any specialty"
            },
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        }
    });

}
lab_set_save_form();

$('.specialty_dropdown').on('change', function(e) {
  var specialty_id = $(this).val();

  if (specialty_id != "") {
    $.ajax({
      dataType: "JSON",
      type: "GET",
      url: "/practice_laboratory_lists/get_specialty_investigations",
      data: { specialty_id: specialty_id, remote: "true" },
      success: function(response){

        console.log(response)

        $('.toplaboratoryinvestigation').children().remove()
        var standard_invest = eval(response["standard_invest"])
        jQuery.each(standard_invest, function(key, value) {
          jQuery('.toplaboratoryinvestigation').append($("<option></option>").attr("value", value[1]).text(value[0]))
        });

        $('.custom_laboratory_investigation').children().remove()
        var custom_invest = eval(response["custom_invest"])
        jQuery.each(custom_invest, function(key, value) {
          jQuery('.custom_laboratory_investigation').append($("<option></option>").attr("value", value[1]).text(value[0]))
        });

      }
    })
  }
})
