<div class="modal-body"> <!-- modal-body starts -->
  <div class="row">
    <div class="col-md-12">
      <div class="opdsummary">
        <!--<%= render partial: "templates/#{@speciality_folder_name}/opd_partials/opd_summary_form_patientinfo", locals: { patient: @patient , appointment: @appointment, opdrecord: @opdrecord} %>-->
        <!--<div class="pcs-entity-title"><span>Ophthalmology Investigation Summary</span></div>-->
        <%= render partial: "patient_investigations/radio_investigation_summary_form", locals: { patient_investigation: @patient_investigations, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>

      </div>

    </div>
  </div>

</div>