<div class="modal-body"> <!-- modal-body starts -->
  <div class="row">
    <div class="col-md-12">
      <div class="opdsummary">
        <%= render partial: "patient_investigations/lab_investigation_summary_view", locals: { patient_investigation: @patient_investigations, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>

      </div>

    </div>
  </div>

</div>