<div class="container-fluid" style="background: #EEF1F7; margin-top: 50px; position: absolute; height: calc(100% - 50px); padding-left: 0; padding-right: 0; width: 100%;">
  <div id="sidebar" class="col-sm-2" style="background-color: rgba(22, 37, 68, 0.91); height: 100%; overflow-y: hidden;">
    
  </div>

  <div id="main_area" class="col-sm-10" style="overflow-y: scroll; height: 100%; padding-left: 0;">
    <div id="toolbar_area" style="background-color: rgba(22, 37, 68, 0.91); width: 100%">
      <div class="toolbar" id="toolbar">

        <div class="row">

          <div class="col-lg-6 col-md-6 inventory-control-panel" style="border-right: 1px solid white; border-left: 1px solid white; margin-left: 1%">
            <div class="btn-group" role="group" style="margin-bottom: 0px !important; margin-top: 3px">
              <!-- <button class="btn btn-success btn-sm" style="margin-top: 1%; margin-left: 1%; " data-toggle="modal" data-target="#modalCheckoutLog">Investigated List</button>
              <button class="btn btn-danger btn-sm" style="margin-top: 1%; margin-left: 1%; " data-toggle="modal" data-target="#modalCheckoutLog">Absent List</button> -->
              <button type="button" class="btn btn-primary btn-sm" id="btnInvestigationList" data-toggle="modal">
                Reports List
              </button> 
              <!-- <button class="btn btn-warning btn-sm" id="btnInvoiceList" data-toggle="modal" data-target="#modalAddItem">Invoice History</button> -->
              <!-- <button class="btn btn-success btn-sm" id="btnUploadExcelSheet">Absentee List</button> -->
            </div>
            <button id="refresh_investigation" class="btn btn-xs btn-primary pull-right" style='width: 80px; margin-top: 1.5% '>Reload&nbsp;&nbsp;
              <i class="fa fa-refresh" style="color: white;"></i>
            </button>
          </div>

          <div class="col-lg-2 col-md-2">
            
          </div>
          <div class="col-lg-4 col-md-4" style="margin-left: 15%"> 
            <div id="inventory_search_panel">
              <input type="text" id="list_search" placeholder="Type to search..." class="form-control pull-right" >
            </div>
          </div>

        </div>
        
      </div>
      
    </div>

    <div id="reports_content" style="padding: 8px; margin-right: -1%;">
    </div>
    
    

    
  </div>
</div>
<style type="text/css">
  #list_search{
    margin: 1%;
    border-radius: 23px 0 0 23px;
    padding-left: 43px;
    padding-right: 43px;
    padding: 6px 12px;
    height: 3 0px;
    line-height: 1.42857;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }

  .toolbar .btn {
    border-radius: 3px;
    border: 2px solid #eee;
    padding-left: 5px;
    padding-right: 5px;
  }
</style>
<script type="text/javascript">
  // $('#btnInvestigationList').on('click', function(){
  //   $('#investigation-list').click();
  // })
  // $('#refresh_investigation').on('click', function(){
  //   $('#btnRefresh').click();
  // })
</script>