notice = new PNotify({ title: 'Success', text: 'Report file uploaded successfully for <%= @test_name%>', type: 'success' }); 
notice.get().click(function(){ notice.remove() });
console.log('ddddddddddddddddddddddddddddddddddd');
$('.'+'<%= @klass_name%>').children('.enter_report').html('<a href="#" class="btn btn-success" target="_blank" style="margin-left: 10%"><i class="fa fa-print"></i>&nbsp; Report </a>')