<!-- HEADER -->
<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-md-2">
    <h4>Surgery Package</h4>
  </div>
  <div class="col-md-3">
    <% if @specialties.count > 1 %>
      <%= select_tag 'specialty_id', options_for_select(@specialties.pluck(:name, :id) || [], @selected_specialty), class: 'form-control specialty_dropdown mt5', style: 'height: 30px;padding:0px;' %>
    <% end %>
  </div>
  <div class="col-md-7 text-right">
    <button class="btn btn-default back-btn" style="display:none;"><i class="fa fa-arrow-left"></i>&emsp;Back</button>
    <%= link_to surgery_package_items_path(facility_id: current_facility.id), data: { remote: true, 'toggle': 'modal', 'target': '#surgery-package-modal' }, class: 'btn btn-primary navbar-btn' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Surgery Package Items<% end %>
    <%= link_to new_multiple_surgery_packages_path(facility_id: current_facility.id), data: { remote: true, 'toggle': 'modal', 'target': '#surgery-package-modal' }, class: 'btn btn-primary navbar-btn' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Surgery Package<% end %>
  </div>
</div>
<!-- HEADER ENDS -->

<!-- SERVICE MASTER LIST -->
<div id="surgery_package_table_content">
  <%= render partial: 'facility_list.html.erb' %>
</div>
<!-- SERVICE MASTER LIST ENDS -->

<style type="text/css">
  #surgery_package_table_content {
    /*height: 500px;*/
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #surgery_package_table {
    width: relative;
  }
</style>

<script type="text/javascript">
  // $(".search-surgery-package").on('keyup', function(){
  //   package_list = $(".surgery_package_tr");
  //   package_list_count = package_list.length;
  //   search = $(this).val().toUpperCase().trim();
  //   counter = 0
  //   for (var i = package_list.length - 1; i >= 0; i--) {
  //     service_name = $(package_list[i]).find(".sm_service_name")
  //     pricing_name = $(package_list[i]).find(".pm_service_name")
  //     if(($(service_name).html().toUpperCase().indexOf(search) > -1) || ($(pricing_name).html().toUpperCase().indexOf(search) > -1)) {
  //       $(package_list[i]).css("display", "");
  //     } else {
  //       $(package_list[i]).css("display", "None");
  //       counter += 1
  //     }
  //   }

  //   if(package_list_count == counter){
  //     if($(".show-nothing").length <= 0){
  //       $("#sub-surgery_package-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
  //     }
  //   } else {
  //     $(".show-nothing").remove();
  //   }
  // })

  $('.specialty_dropdown').on('change', function() {
    var specialty_id = $(this).val();
    if($("#surgery_package_table").length > 0){
      var facility_id = $('.facility_id').val()
      url = '/surgery_packages/package_list'
      data = { specialty_id: specialty_id, facility_id: facility_id, remote: "true" }
    } else {
      url = '/surgery_packages'
      data = { specialty_id: specialty_id, remote: "true" }
    }

    $.ajax({
      type: "GET",
      url: url,
      data: data,
    })
  })
</script>
