<div class="modal-dialog modal-lg" style="width: 95%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= @return_transaction.department_name %> Invoice</h4>
    </div>

    <div class="btn-group" style="margin: 10px;">

		  <a href="/inventory/transaction/returns/print?invoice_id=<%= @return_transaction.id %>&page_size=A4" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a>
		  <a href="/inventory/transaction/returns/print?invoice_id=<%= @return_transaction.id %>&page_size=A5" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a>
		</div>

    <div class="modal-body">
      
      <%= render partial: '/invoice/inventory_invoices/show_refund_body.html.erb' %>
    </div>
  </div>

</div>

