<div class="row well"></div>
  <div class="col-sm-12">
    Message: <%= @evaluation_response["message"] %>
  </div>
  <div class="col-sm-12">
    Evaluation: <%= @evaluation_response['data']['evaluation_status'] %>
  </div>
  <div class="col-sm-12">
    Description: <%= @evaluation_response['data']['description'] %>
  </div>
  <div class="col-sm-12">
    Recommendation: <%= @evaluation_response['data']['recommendation'] %>
  </div>
</div>
