<div class="panel-body" style="background-color:#fff;">

  <%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag  "bootstrap-fileupload.min", media: "all", "data-turbolinks-track" => true %>

  <%= render 'uploadpatientassetform' %>

</div>