<div class="row master-row">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= render partial: 'inpatient/ipd_record/patient_info.html.erb' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= render partial: 'inpatient/ward_checklists/ward_checklists_details.html.erb', locals: {ward_checklist: @ward_checklist, mail_job: false} %>
    </div>
  </div>
</div>


<style type="text/css">
  .master-row * {
    font-size: 9px;
  }

  .pcs-entity-title span {
    font-size: 16px;
    text-transform: uppercase;
  }
</style>