<% if params[:facility].to_i == 0 %>
  <% if @token_settings.pluck(:token_enabled).uniq.count == 1 %>
    <% token_enabled = @token_settings.pluck(:token_enabled).uniq[0] %>
    <% token_disabled = !@token_settings.pluck(:token_enabled).uniq[0] %>
  <% else %>
    <% token_enabled = false %>
    <% token_disabled = true %>
  <% end %>
  <% if @token_settings.pluck(:sort_list_by_token).uniq.count == 1 %>
    <% sort_list_by_token = @token_settings.pluck(:sort_list_by_token).uniq[0] %>
    <% sort_list_by_token_disabled = !@token_settings.pluck(:sort_list_by_token).uniq[0] %>
  <% else %>
    <% sort_list_by_token = false %>
    <% sort_list_by_token_disabled = true %>
  <% end %>
<% else %>
  <% token_enabled = @token_setting.try(:token_enabled) %>
  <% token_disabled = !@token_setting.try(:token_enabled) %>
  <% sort_list_by_token = @token_setting.try(:sort_list_by_token) %>
  <% sort_list_by_token_disabled = !@token_setting.try(:sort_list_by_token) %>
<% end %>

<div class="row" style="margin:0px;">
  <div class="col-md-6 text-right">
    <b>Enable Token for Appointment</b>
  </div>
  <div class="col-md-4 radio_buttons_token_enabled">
    <div class="rdio rdio-primary col-md-6">
      <input type="radio" name="token_enabled" class="token_enabled" id="token_enabled_yes" value="true" <%= 'checked="checked"' if token_enabled %> />
      <label for="token_enabled_yes">Yes</label>
    </div>
    <div class="rdio rdio-primary col-md-6">
      <input type="radio" name="token_enabled" class="token_enabled" id="token_enabled_no" value="false" <%= 'checked="checked"' if token_disabled %> />
      <label for="token_enabled_no">No</label>
    </div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success token_setting_submit_button">Save</button>
  </div>
  <div class="col-md-5"></div>
</div>
<div class="row sort_list_by_token-row">
  <div class="col-md-6 text-right">
    <b>Sort Appointment List by Token</b>
  </div>
  <div class="col-md-4">
    <div class="rdio rdio-primary col-md-6">
      <input type="radio" name="sort_list_by_token" class="sort_list_by_token" id="sort_list_by_token_yes" value="true" <%= 'checked="checked"' if sort_list_by_token %> />
      <label for="sort_list_by_token_yes">Yes</label>
    </div>
    <div class="rdio rdio-primary col-md-6">
      <input type="radio" name="sort_list_by_token" class="sort_list_by_token" id="sort_list_by_token_no" value="false" <%= 'checked="checked"' if sort_list_by_token_disabled %> />
      <label for="sort_list_by_token_no">No</label>
    </div>
  </div>
</div>

<script type="text/javascript">
    // Trigger Initial Click
    // $('input[name=token_enabled]:checked').trigger('click')

    if($('input[name=token_enabled]:checked').val() == 'false'){
      $(".sort_list_by_token-row").hide()
    }

    $(".token_enabled").on('click', function(){
      if($(this).val() == 'true'){
        $(".sort_list_by_token-row").show()
      } else {
        $(".sort_list_by_token-row").hide()
      }
    })

    // Submit Button Ajax Call
    $(".token_setting_submit_button").on('click', function(e){
      e.preventDefault();
      var facility_id = $('.facility-dropdown-for-finance').val()
      var token_enabled = $('input[name=token_enabled]:checked').val()
      if(token_enabled == 'true'){
        var sort_list_by_token = $('input[name=sort_list_by_token]:checked').val()
      } else {
        var sort_list_by_token = false
      }
      $(this).html("Please Wait..")
      $(this).attr('disabled', 'disabled')
      $.ajax({
        type: "GET",
        url: "/token_settings/save",
        data: {
            token_enabled: token_enabled,
            sort_list_by_token: sort_list_by_token,
            facility_id: facility_id
        },
        success: function(){
            location.reload();
        }
      })
    })
</script>