<div class="col-md-6">
  <b>Remarks for Customer:</b> <%= inv.text_area :patient_comment, class: 'form-control', placeholder: 'Comment', minlength: 3 %>
  <% hdn_class = 'hidden' %>
  <% if (invoice&.additional_discount.present? && invoice&.additional_discount > 0) || invoice&.additional_discount_comment.present? %>
    <% hdn_class = '' %>
  <% end %>
  <div class="additional_discount_div <%=hdn_class%>"><b>Additional Discount Reason:</b> <span style='font-size:10px;'>(This will not appear in print)</span> <%= inv.text_area :additional_discount_comment, class: 'form-control additional_discount_comment', placeholder: 'Comment', minlength: 3 %></div>
  <b>Internal Comments:</b> <span style='font-size:10px;'>(This will not appear in print)</span> <%= inv.text_area :comments, class: 'form-control', placeholder: 'Comments', value: '', minlength: 3 %>
</div>
