<div class="row">
  <div class="col-md-8">
    <h5>PAYMENT DETAILS</h5>
  </div>
  <div class="col-md-2 mb5">
    <b>Amount Remaining</b><br>
    <input type="text" name="invoice_total_payment_remaining" class="form-control invoice_total_payment_remaining p3_10" id="invoice_total_payment_remaining" value="0" readonly="readonly">
  </div>
  <div class="col-md-2 mb5">
    <b>Amount Added</b><br>
    <input type="text" name="invoice_total_payment" class="form-control invoice_total_payment p3_10" id="invoice_total_payment" value="<%= @invoice.net_amount || 0 %>" readonly="readonly">
  </div>
</div>
