
<div class="col-md-12 well">
  <% if @invoice.is_canceled %>
    <div class="" style="color: #d43f3a">
      <strong class="text-center">Bill Cancelled</strong>
    </div>
  <% else %>
    <% if @invoice.try(:payment_received).to_f == 0.0 %>
      <strong>No Payment Received</strong>
    <% else %>
      <div class="">
        <% payment_received_with_precision = number_with_precision(@invoice.try(:payment_received).to_f, precision: 2) %>
        <% payment_received_display = Common::Finance::NumberFormatService.call(@number_format, payment_received_with_precision) %>
        <strong>Payment amount <b style="color: #0b670b"><%= payment_received_display %></b> is already received !</strong>
      </div>
      <hr>
      <div class="" style="color: #d43f3a">
        <strong>Note: Received amount will be settled as refund receipt.</strong>
      </div>
    <% end %>
  <% end %>
</div>
