<div class="row">
  <% @invoice.try(:patient_payer_data).each do |data| %>
    <div class="col-md-12">
      <b style="color:#000;"><%= data.try(:name) %> :</b> <%= data.try(:text_value).try(:upcase) %>
    </div>
  <% end %>
</div>