datepicker_options = {
  dateFormat: "dd/mm/yy",
  maxDate: -0,
  minDate: -0
}

$(".payment_received_breakups_date").datepicker(datepicker_options);
$(".payment_received_breakups_time").timepicker({minuteStep: 5});

// don't allow user to change date and time
$(".payment_received_breakups_time").attr('disabled','disabled')

// This Code to Set Date for Time as Date Selected
$(".payment_received_breakups_date").on('change', function(){
  var date_id = $(this).attr('id');
  var ele = date_id.split('_').slice(-2)[0];
  var timestamp = $('#'+date_id).val() + " " + $("#dummy_payment_received_breakups_"+ele+"_time").val();
  $("#settle_invoice_payment_received_breakups_"+ele+"_date").attr("value", $('#'+date_id).val());
  $("#settle_invoice_payment_received_breakups_"+ele+"_time").attr("value", timestamp);
}).trigger('change')

$(".payment-timepicker").on('change', function(){
  var time_id = $(this).attr('id');
  var ele = date_id.split('_').slice(-2)[0];
  var timestamp = $("#dummy_payment_received_breakups_"+ele+"_date").val() + " " + $('#'+time_id).val();
  $("#settle_invoice_payment_received_breakups_"+ele+"_time").attr("value", timestamp);
}).trigger('change')

// MOP LOGIC
$(".payment-received-details").on('change', '.payment_received_breakups_mode_of_payment', function(){
  var payment_received_option = $(this).closest(".payment_received_row")
  var mode_of_payment = $(this).val()
  var counter = $(this).attr("data-index")
  var amount = $(payment_received_option).find(".invoice_payment_received").val()
  if(mode_of_payment.length > 0){
    if(mode_of_payment == "Cash"){
      $(payment_received_option).find(".mop_details").html('<input type="hidden" name="settle_invoice[payment_received_breakups][' + counter + '][cash]" class="form-control payment_received_breakups_cash" value="' + amount + '">')
      $(payment_received_option).find(".mop_details").hide()
    } else if(mode_of_payment == "Card"){
      $(payment_received_option).find(".mop_details").html('<div class="row"><div class="card_details"><div class="col-md-6"><b>Card Number</b><input type="hidden" name="settle_invoice[payment_received_breakups][' + counter + '][card]" class="form-control payment_received_breakups_card" value="' + amount + '"><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][card_number]" class="form-control payment_received_breakups_card_number p3_10" minlength="4" maxlength="4" onKeyPress="return event.charCode >= 48 && event.charCode <= 57" value="" placeholder="Card Number"></div><div class="col-md-6"><b>Transaction Note</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][card_transaction_note]" class="form-control payment_received_breakups_card_transaction_note p3_10" value="" placeholder="Transaction Note"></div</div></div>')
      $(payment_received_option).find(".mop_details").show()
    } else if(mode_of_payment == "Paytm"){
      $(payment_received_option).find(".mop_details").html('<div class="row"><div class="paytm_details"><div class="col-md-6"><b>Transaction Id</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][paytm_transaction_id]" class="form-control payment_received_breakups_paytm_transaction_id p3_10" value="" placeholder="Transaction Id"></div><div class="col-md-6"><b>Transaction Note</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][paytm_transaction_note]" class="form-control payment_received_breakups_paytm_transaction_note p3_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(payment_received_option).find(".mop_details").show()
    } else if(mode_of_payment == "Google Pay"){
      $(payment_received_option).find(".mop_details").html('<div class="row"><div class="gpay_details"><div class="col-md-6"><b>Transaction Id</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][gpay_transaction_id]" class="form-control payment_received_breakups_gpay_transaction_id p3_10" value="" placeholder="Transaction Id"></div><div class="col-md-6"><b>Transaction Note</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][gpay_transaction_note]" class="form-control payment_received_breakups_gpay_transaction_note p3_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(payment_received_option).find(".mop_details").show()
    } else if(mode_of_payment == "PhonePe"){
      $(payment_received_option).find(".mop_details").html('<div class="row"><div class="phonepe_details"><div class="col-md-6"><b>Transaction Id</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][phonepe_transaction_id]" class="form-control payment_received_breakups_phonepe_transaction_id p3_10" value="" placeholder="Transaction Id"></div><div class="col-md-6"><b>Transaction Note</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][phonepe_transaction_note]" class="form-control payment_received_breakups_phonepe_transaction_note p3_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(payment_received_option).find(".mop_details").show()
    } else if(mode_of_payment == "Online Transfer"){
      $(payment_received_option).find(".mop_details").html('<div class="row"><div class="transfer_details"><div class="col-md-6"><b>Tranfer Date</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][transfer_date]" class="form-control payment_received_breakups_transfer_date p3_10" placeholder="Transfer Date" readonly="readonly"></div><div class="col-md-6"><b>Transaction Note</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][transfer_note]" class="form-control payment_received_breakups_transfer_note p3_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(payment_received_option).find(".mop_details").show()
    } else if(mode_of_payment == "Cheque"){
      $(payment_received_option).find(".mop_details").html('<div class="row"><div class="cheque_details"><div class="col-md-6"><b>Cheque Date</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][cheque_date]" class="form-control payment_received_breakups_cheque_date p3_10" placeholder="Cheque Date" readonly="readonly"></div><div class="col-md-6"><b>Transaction Note</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][cheque_note]" class="form-control payment_received_breakups_cheque_note p3_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(payment_received_option).find(".mop_details").show()
    } else if(mode_of_payment == "Others"){
      $(payment_received_option).find(".mop_details").html('<div class="row"><div class="other_details"><div class="col-md-6"><b>Transaction Id</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][other_transaction_id]" class="form-control payment_received_breakups_other_transaction_id p3_10" value="" placeholder="Transaction Id"></div><div class="col-md-6"><b>Transaction Note</b><input type="text" name="settle_invoice[payment_received_breakups][' + counter + '][other_note]" class="form-control payment_received_breakups_other_note p3_10" value="" placeholder="Transaction Note"></div></div></div>')
      $(payment_received_option).find(".mop_details").show()
    } else {
      $(payment_received_option).find(".mop_details").html('')
      $(payment_received_option).find(".mop_details").hide()
    }
  } else {
    $(payment_received_option).find(".mop_details").html('')
    $(payment_received_option).find(".mop_details").hide()
  }

  $(".payment_received_breakups_cheque_date").datepicker(datepicker_options)
  $(".payment_received_breakups_transfer_date").datepicker(datepicker_options)
});

$(".payment-received-details").on('keyup change', '.payment_received_breakups_settle_amount', function(){
  payment_received_calculation(this)

  total_amount = 0
  var total_settle_amount = $('.payment_received_breakups_settle_amount')
  for(var i = total_settle_amount.length - 1; i >= 0; i--) {
    if($(total_settle_amount[i]).val() != '' && parseFloat($(total_settle_amount[i]).val()) != NaN){
      total_amount = parseFloat(total_amount) + parseFloat($(total_settle_amount[i]).val())
    }
  }
  
  var total_pending = parseFloat("<%= @invoice.payment_pending %>") - total_amount
  $("#invoice_payment_received_total").val(total_amount.toFixed(2))
  $("#invoice_payment_pending_total").val(total_pending.toFixed(2))
});

function payment_received_calculation(_this) {
  var settle_max = $(_this).closest(".payment_received_row").find(".payment_received_breakups_amount").val()
  var settle_amount = $(_this).closest(".payment_received_row").find(".payment_received_breakups_settle_amount")
  var amount = 0
  for(var i = settle_amount.length - 1; i >= 0; i--) {
    if($(settle_amount[i]).val() != '' && parseFloat($(settle_amount[i]).val()) != NaN){
      amount = parseFloat(amount) + parseFloat($(settle_amount[i]).val())
    }
  }
  
  if(parseFloat(amount) > parseFloat(settle_max)){
    amount = parseFloat(amount) - parseFloat($(_this).val())
    $(_this).val(0)
    $(_this).siblings('.extra_payments').val(0);
  }
}