<%#= f.input :medicationsets, collection: MedicationKit.where(user_id: current_user.id, specialty_id: @specialty_id.to_i, :set_type.in => [440654001, 0], organisation_id: current_user.organisation.id, level: "user"), input_html: { multiple: true, :size => '13', :style => 'height: 100%; width:100%', :class => 'form-control option_remover'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control option_remover', :required => false %>
<h4>Invoice Sets:</h4>
<% if @invoice_templates.present? %>
  <%= select_tag("template_set_details_option", options_for_select(@invoice_templates.map { |invoice_template| [invoice_template.name, invoice_template.id] }, ''),:class=> "template_set_details_option form-control p7_10", label: false, as: :select, multiple: true, :size => '25', :style => 'height: 100%; width:100%') %>
<% else %>
  <label>No Set Present</label>
<% end %>