<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog admission-dialog" style="width:55%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Notification</h4>
    </div>
    <%= form_for @organisation_notification, remote: true do |f| %>
      <div class="modal-body">
        <%= render partial: 'form.html.erb', locals: { f: f } %>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Preview', class: 'btn btn-success', 'data-disable-with': 'Please Wait...', onclick: 'validate_notification_form()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
