$('.notification-list-item.active').attr('data-acknowledged', true);

if ($(".notification-list-item[data-acknowledged=false]").length === 0) {
  $('.modal-action').html(`
    <a class="btn btn-default" href="">Close</a>
  `)
}

// Trigger next sibling notification
let nextSibling = $('.notification-list-item.active').next()

if ($(nextSibling).find('a').length > 0) {
  $(nextSibling).find('a').trigger('click');
} else {
  // location.reload();
  $('.notification-list-item:first').find('a').trigger('click');
}
