<% if (current_user.role_ids[0] == 106292003 || current_user.role_ids[0] == 159561009  || current_user.role_ids[0] == 59561000  || current_user.role_ids[0] == 405277009  ) %>
  <div class="row no_margin text-center">
    <h4>Doctors</h4>
  </div>
  <!-- Doctors are shown only if the role is a recepctionist or nurse -->
  <div class="row no_margin">
    <ul class="nav nav-pills nav-stacked">
      <% doctors_array = @users.map { |doctor| [doctor.fullname, doctor.id] } %>

      <li class="sidebar-doctor-filter active current_doctor"><a href="#" data-doctor-id="all">All</a></li>
      <% doctors_array.each do |doc| %>
        <li class="sidebar-doctor-filter"><a href="#" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>

      <% end %>
    </ul>
  </div>

  <% else %>
  <div class="row no_margin text-center">
    <h4>Filters</h4>
  </div>
  <div class="row no_margin">
    <ul class="nav nav-pills nav-stacked">
      <li class="sidebar-appointment-filter active"><a href="#appointment_all" role="tab" data-toggle="tab"  data-appointment-filter="all">All <span class="appointment_all_count pull-right"></span></a></li>
      <li class="sidebar-appointment-filter"><a href="#appointment_scheduled" role="tab" data-toggle="tab"  data-appointment-filter="scheduled">Scheduled <span class="appointment_scheduled_count pull-right"></span></a></li>
      <li class="sidebar-appointment-filter"><a href="#appointment_waiting" role="tab" data-toggle="tab"  data-appointment-filter="waiting">Waiting <span class="appointment_waiting_count pull-right"></span></a></li>
      <li class="sidebar-appointment-filter"><a href="#appointment_engaged" role="tab" data-toggle="tab"  data-appointment-filter="engaged">Engaged <span class="appointment_engaged_count pull-right"></span></a></li>
      <li class="sidebar-appointment-filter"><a href="#appointment_finished" role="tab" data-toggle="tab" data-appointment-filter="finished">Finished <span class="appointment_finished_count pull-right"></span></a></li>
    </ul>
  </div>
<% end %>