<div class="row no_margin" style="width: 100%; margin-top: -15px;">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="full-width active">
      <a href="#appointment_scheduled" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_scheduled_count">0</span>
        My Queue
      </a>
    </li>
    <li role="presentation" class="full-width">
      <a href="#appointment_all" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_all_count">0</span>
        All
      </a>
    </li>
    <li role="presentation" class="full-width complete">
      <a href="#appointment_not_arrived" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_not_arrived_count">0</span>
        Not Arrived
      </a>
    </li>
  </ul>
  <!-- <div class="col-sm-4 appointment-filter no_padding">
    Scheduled
  </div>
  <div class="col-sm-4 appointment-filter no_padding">Waiting</div>
  <div class="col-sm-4 appointment-filter no_padding">Checked Out</div> -->
</div>

<div class="row no_margin  summary_body collapse in" id="summary_appiontments_today">
  <div class="appointments_today">
    <div class="tab-content">
      <div role="tabpanel" class="appointment_type_contents tab-pane" id="appointment_all" style="background:#eee;">
        <div id="appointment_all_not_finished" style="background:#fff;"></div>
        <div class="finished_word" style="display:none;text-align:center;background:#eee;padding:10px 0;">Finished</div>
        <div id="appointment_all_finished" style="background:#fff;"></div>
      </div>
      <div role="tabpanel" class="appointment_type_content tab-pane active" id="appointment_scheduled"></div>
      <div role="tabpanel" class="appointment_type_content appointment_tab_name tab-pane" id="appointment_not_arrived"></div>
    </div>
  </div>
</div>