<div class="row no_margin" style="width: 100%; margin-top: -15px;">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="full-width active">
      <a href="#appointment_all" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_all_count">0</span>
        All
      </a>
    </li>
    <li role="presentation" class="full-width">
      <a href="#appointment_scheduled" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_scheduled_count">0</span>
        Scheduled
      </a>
    </li>
    <li role="presentation" class="full-width">
      <a href="#appointment_waiting" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_waiting_count">0</span>
        Waiting
      </a>
    </li>
    <li role="presentation" class="full-width">
      <a href="#appointment_engaged" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_engaged_count">0</span>
        Engaged
      </a>
    </li>
    <li role="presentation" class="full-width">
      <a href="#appointment_finished" aria-controls="home" role="tab" data-toggle="tab">
        <span style="display: block; font-size: 16px;" class="appointment_finished_count">0</span>
        Finished
      </a>
    </li>
  </ul>
  <!-- <div class="col-sm-4 appointment-filter no_padding">
    Scheduled
  </div>
  <div class="col-sm-4 appointment-filter no_padding">Waiting</div>
  <div class="col-sm-4 appointment-filter no_padding">Checked Out</div> -->
</div>
