<div id="patient_seen_by_doctors_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Patient Seen In Each Facility</h4>
      </div>
      <div class="modal-body">
        <table class="table">
    <thead>
      <tr>
        <th>Doctor Name</th>
        <th>Patient Seen Count</th>
      </tr>
    </thead>
    <tbody>
      <% @all_doctors_name_label.each_with_index do |d_name, indx|%>
      <tr>
        <td><%= d_name %></td>
        <td><%= @all_doctors_patient_seen[indx].to_i %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>