<% evaluation_data = investigation_detail.try(:evaluation_data) %>
<%#= evaluation_data %>
<div class="row well">
  <div class="col-sm-12">
    Evaluation: <%= evaluation_data.try(:[], "evaluation_status") %>
  </div>
  <div class="col-sm-12">
    Description: <%= evaluation_data.try(:[], "description") %>
  </div>
  <div class="col-sm-12">
    Recommendation: <%= evaluation_data.try(:[], "recommendation") %>
  </div>
</div>