<style type="text/css">
  .pd10{
    padding:10px;
  }
</style>
<div class="row">
  <div class="col-md-12" style="border-bottom: 1px solid #ccc; padding-bottom: 10px; ">
    <div class="col-md-12">
      <a class="btn btn-xs btn-success search-variant-filter">Apply</a>
    </div>
  </div>
</div>
<div class="inventory-item">
  <div class="row">
    <div class="col-md-12 add_content_here">
      <div class="row mb10" style="background-color: #fff;padding:10px;border-bottom: 1px solid #ccc;">
        <div class="col-md-12 text-left">
          <b>Item &nbsp;&nbsp;<span class="clear_category clear_btn">clear</span></b>
        </div>
        <div class="col-md-12 category_checkboxes" style="padding-left: 5%">
<!--          <div class="row mt10">-->
<!--            <div class="col-md-6">-->
<!--              <div class="ckbox ckbox-primary col-md-12">-->
<!--                <input id="category_all_item" name="filter[category]" type="checkbox" value="all_item">-->
<!--                <label for="category_all_item">All Item</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--              <div class="ckbox ckbox-primary col-md-12">-->
<!--                <input id="category_asset" name="filter[category]" type="checkbox" value="asset">-->
<!--                <label for="category_asset">Asset</label>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <% unless @department_id == '50121007' %>
            <div class="row mt10">
              <div class="col-md-6">
                <div class="ckbox ckbox-primary col-md-12">
                  <input id="category_medication" name="filter[category]" type="checkbox" value="medication">
                  <label for="category_medication">Medication</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ckbox ckbox-primary col-md-12">
                  <input id="category_consumable" name="filter[category]" type="checkbox" value="consumable">
                  <label for="category_consumable">Consumable</label>
                </div>
              </div>
            </div>
          <% end %>

          <% unless @department_id == '284748001' %>
            <div class="row mt10">
              <div class="col-md-6">
                <div class="ckbox ckbox-primary col-md-12">
                  <input id="category_optical_frame" name="filter[category]" type="checkbox" value="optical_frame">
                  <label for="category_optical_frame">Frame</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ckbox ckbox-primary col-md-12">
                  <input id="category_optical_contact" name="filter[category]" type="checkbox" value="optical_contact">
                  <label for="category_optical_contact">Contact Lens</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ckbox ckbox-primary col-md-12">
                  <input id="category_optical_spectacle" name="filter[category]" type="checkbox" value="optical_spectacle">
                  <label for="category_optical_spectacle">Spectacle Lens</label>
                </div>
              </div>
            </div>
<!--            <div class="row mt10">-->
<!--              <div class="col-md-6">-->
<!--                <div class="ckbox ckbox-primary col-md-12">-->
<!--                  <input id="category_optical_other" name="filter[category]" type="checkbox" value="optical_other">-->
<!--                  <label for="category_optical_other">Optical Other</label>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-6"></div>-->
<!--            </div>-->
          <% end %>


          <div class="row mt10">
            <div class="col-md-6">
              <div class="ckbox ckbox-primary col-md-12">
                <input id="category_implant" name="filter[category]" type="checkbox" value="implant">
                <label for="category_implant">Implant</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ckbox ckbox-primary col-md-12">
                <input id="category_miscellaneous" name="filter[category]" type="checkbox" value="miscellaneous">
                <label for="category_miscellaneous">Miscellaneous</label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row mb10" style="background-color: #fff;padding:10px;border-bottom: 1px solid #ccc;">
        <div class="col-md-12 text-left">
          <b>Stock &nbsp;&nbsp;<span class="clear_stock clear_btn">clear</span></b>
        </div>
        <div class="col-md-12 stock_checkboxes" style="padding-left: 5%">
          <div class="row mt10">
            <div class="col-md-6">
              <div class="rdio rdio-primary col-md-12">
                <input id="stock_running_low" name="filter[stock]" type="radio" value="running_low">
                <label for="stock_running_low">Running Low Stock</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="rdio rdio-primary col-md-12">
                <input id="stock_out_stock" name="filter[stock]" type="radio" value="out_stock">
                <label for="stock_out_stock">Out Of Stock</label>
              </div>
            </div>
          </div>
          <!-- <div class="row mt10">
            <div class="col-md-6">
              <div class="ckbox ckbox-primary col-md-12">
                <input id="expired_items" name="filter[stock]" type="checkbox" value="Expired Items">
                <label for="expired_items">Expired Items</label>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(".clear_category").on('click', function(){
  $(".category_checkboxes input").each(function(){
    $(this).attr('checked', false)
  })
})

$(".clear_stock").on('click', function(){
  $(".stock_checkboxes input").each(function(){
    $(this).attr('checked', false)
  })
});

</script>

<style type="text/css">
  .clear_btn {
  font-size:10px;
  cursor: pointer;
  color: #428BCA; 
}
</style>