<div class="modal-dialog modal-hg-patientreg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="nomargin">Edit Patient Details</h4>
      <%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true %>
      <%= stylesheet_link_tag  "bootstrap-fileupload.min", media: "all", "data-turbolinks-track" => true %>
    </div>
    <%= render "editpatientdetailsform" %>
  </div>
</div>