<% if @breadcrumblinks.size() > 0 %>

  <% count = (@breadcrumblinks.size() - 1).to_i %>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">

      <li>
          <%= link_to patients_load_patient_summary_root_asset_path, :class => "", :data => {:remote => true, method: :get} do %> 
          <i class="fa fa-home"></i>
        <% end %>
      </li>

      <% @breadcrumblinks.each_with_index do |breadcrumb, index| %>
      	  <% if index == count %>
      	  		<li class="active"><%= breadcrumb.name %></li>
      	  <% else %>
      	  		<li>
	      	  		  <%= link_to patients_load_patient_summary_asset_path(:folder_id => breadcrumb.id), :class => "", :data => {:remote => true, method: :get} do %> 
			            <i class="fa fa-folder"></i> <%= breadcrumb.name %>
			          <% end %>                
		          </li>
      	  <% end %>
      <% end %>

    </ol>
  </div>

<% end %>