<div id="patientWizard" class="basic-wizard">
  <div class="tab-content patient-form-body">
    <div class="tab-pane active" id="patient-form-details">
      <!-- Patient Details -->
      <%= render partial: "patients/form/mini_patient_form.html.erb" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'patients/form.js.erb' %>
</script>