<button type="button" class="btn btn-default enable-patient-summary-template-buttons disabled" title="OPD Templates" id="templates_opd" data-toggle="dropdown" style="width:160px;">
  <i class="fa fa-file"></i> OPD</button>
<ul class="dropdown-menu" role="menu" aria-labelledby="opd-templates-dropdown">
  <% Global.send("#{@speciality_folder_name}").send("opdtemplates").each do |opd_template_name| %>
      <%if OpdRecord.where(appointmentid: @appointment.id.to_s, templatetype: opd_template_name['templatename']).present? %>
          <li class="disabled" title="Only One Template For One Day"><a><i class="fa fa-file"></i> <%= opd_template_name['displayname'] %></a></li>
      <%else%>
        <% @department_link = "new_opd_records_"+@speciality_folder_name+"_note_path(:patientid => @patient.id, :appointmentid => @appointment.id, :templatetype => '#{opd_template_name['templatename']}')"%>
        <li><%= link_to eval(@department_link), :data_templatetype =>"#{opd_template_name['templatename']}",:data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="fa fa-file"></i> <%= opd_template_name['displayname'] %> <% end %></li>
      <%end%>
  <% end %>
</ul>
