<div class="pull-right"> <!-- Action Buttons starts -->
	<button aria-hidden="true" class="btn btn-success saveprintcertificate">Show Certificate</button>
	<button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Do not Save & Close</button>
</div> <!-- Action Buttons ends -->