<h5 class="list-group-item-heading pull-left"><%= patient.emergencycontactname %></h5>
<% if patient.emergencymobilenumber? %>
	<h5 class="list-group-item-heading pull-left"> (<%= patient.emergencymobilenumber %>)</h5>
<% end %>
