<div class="pull-right"> <!-- Action Buttons starts -->
	<%= link_to edit_patient_certificate_path(:id => @certificate.id, :patientid => @patient.id, :certificatetype => "#{@certificatetype}"), :class => "btn btn-success editcertificate", :id => "editcertificate", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#certificate-modal'} do %> <i class="fa fa-edit"></i> Edit Certificate <% end %>
	<button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Do not Save & Close</button>
</div> <!-- Action Buttons ends -->