<style>
  @media only screen and (max-device-width: 1024px) {
    .nav_head_section {
      font-size: 10px !important;
    }
    #patient-summary-timeline-link{
      position: absolute;
      z-index: 1;
      right: 28px;
    }
    .edit_patient_info{
      position: absolute;
      z-index: 1;
    }
    .tabletwork{
      position: absolute;
      z-index: 1;
    }
  }
</style>
<div id="toolbar">
  <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top " style="margin-top: 50px; left: auto; right: auto; width: 50%;z-index:555;">
    <div class="container-fluid">
      <div class="<%= ("col-xs-3 col-md-4" if @paid_for_data) || 'col-xs-6' %>">
        <h4 class="nav_head_section" style="font-size: 15px;">Patient Details</h4>
      </div>
      <div class="col-xs-4 text-right">
        <% if !@current_user.role_ids.include?(499992366) %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to new_patient_path(url: "/patients/new", current_date: "#{@current_date}", modal: 'patient-modal'), class: "btn btn-danger navbar-btn navbar-btn-hover", id: "add-patient-btn", data: {remote: true, 'toggle': "modal", 'target': '#patient-modal' } do %> <i class="glyphicon glyphicon-plus"></i>&nbsp; Register Patient<% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</div>

<div id="patient_summary" style="height: calc(100% - 50px); margin-top: 50px; overflow-y: scroll;">
</div>
<style>
  .nav_head_section{
    margin:13px 0 0 0;
    font-size:18px;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: -106%;
    margin-top: -1px;
    margin-left: 5px;
  }
</style>

<script type="text/javascript">
  function checkKey(e) {
    if($('textarea').is(":focus") || $('input').is(":focus")){
    } else {
      e = e || window.event;
      if (e.keyCode == 78){
        if(!($(".modal").hasClass('in'))){
          $("#add-appointment-btn").trigger('click')
        }
      }
    }
  }
  document.onkeydown = checkKey;

  $('.dropdown-submenu a.sub-button').on("click", function(e){
    $(".dropdown-submenu a.sub-button").not(this).next('ul').hide()
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });

  $('.dropdown-menu a, #li_all_bills, #all-reports').not('.sub-button').on("click", function(e){
    $('.dropdown-submenu ul').hide();
  });

  const $menu = $('.dropdown-menu')
  $(document).mouseup(e => {
    if (!$menu.is(e.target) // if the target of the click isn't the container...
        && $menu.has(e.target).length === 0) // ... nor a descendant of the container
    {
      $menu.removeClass('is-active');
    }
  });

  $('.toggle').on('click', () => {
    $menu.toggleClass('is-active');
  });
</script>
