<div class="modal-dialog patient-search-dialog">
  <div class="modal-content" id="add_new_patient_modal">
    <div class="modal-header">
      <h4 class="modal-title">Search Patient <% unless params[:show_patient].present? %> or Add New Patient <% end %> </h4>
    </div>
    <div class="modal-body">
      <%if current_facility.camps.present? %>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item active">
            <a class="nav-link" href="#ehr" role="tab" data-toggle="tab">Ehr patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#camp" role="tab" data-toggle="tab">Camp Patient</a>
          </li>
        </ul>
      <!-- Tab panes -->

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="ehr">
            <%= render partial: 'search_ehr_patient.html.erb' %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="camp">
            <%= render partial: 'search_camp_patient.html.erb' %>
          </div>
        </div>

      <% else %>
        <div class="tab-content">
          <%= render partial: 'search_ehr_patient.html.erb' %>
        </div>
      <% end %>
    </div>

    <div class="modal-footer add_new_patient_modal_footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<div class="ui-pnotify  ui-pnotify-fade-normal ui-pnotify-move ui-pnotify-in ui-pnotify-fade-in no_doc_error" aria-live="assertive" aria-role="alertdialog" style="display: none !important; width: 300px; right: 36px; top: 36px;">
  <div class="brighttheme ui-pnotify-container brighttheme-error ui-pnotify-shadow" role="alert" style="min-height: 16px;"><div class="ui-pnotify-icon"><span class="fa fa-error"></span></div>
    <h4 class="ui-pnotify-title">
      Error</h4>
    <div class="ui-pnotify-text" aria-role="alert">Please Add <% if current_facility.country_id == 'KH_039' %>optometrist <% else %>doctor<% end %> first</div>
  </div>
</div>
<style>
  .modal-body {
    padding: 0% !important;
  }
  .nav-tabs > li > a {
    border: 0 !important;
    padding: 14px 20px !important;
    color: #666 !important;
  }

</style>
<script>

</script>

