<div id="patientWizard" class="basic-wizard">
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="#patient-view-details" class="patient-details" data-toggle="tab">Patient Details</a></li>
  </ul>
  <div class="tab-content patient-view-body">
    <div class="tab-pane active" id="patient-view-details">
      <!-- Patient Details -->
      <%= render partial: "patients/view/patient_details.html.erb" %>
    </div>
  </div>
</div>
