<div class="modal-dialog modal-lg" style="width: 75%;">
  <div class="modal-content">
    <div class="modal-body " style="background: black">
      <div class="row mb10">
        <div class="col-md-3">
          <button type=button class="btn btn-default" onClick="take_snapshot()"> Take Snapshot</button>
        </div>

        <div class="col-md-2 pull-right">
          <button type="button" class="btn btn-default close-webcam-modal" data-dismiss="modal">Close</button>
        </div>
      </div>

      <div class="row">
        <div class=" col-md-6" id="my_camera"></div>
        <div class="col-md-offset-2 col-md-4" id="modal-results" style="color: #ffffcc;font-weight: 100" >Image Preview will Appear here</div>
      </div>
    </div>
  </div>

</div>


<script>
  function take_snapshot(){
    Webcam.snap(function(data_uri) {
      id = $('#patient_patientassets_attributes_0_asset_path_data_uri');

      if (id.length) {
        id.val(data_uri);
      }

      document.getElementById('results').innerHTML = '<img style="max-height: 70px" src="' + data_uri + '"/>';
      document.getElementById('modal-results').innerHTML = '<img src="' + data_uri + '"/>';
    });
  }
  
  $(document).ready(function() {
    if ($("#my_camera").length) {
      Webcam.set({
        width: 351,
        height: 250,
        image_format: 'jpeg',
        jpeg_quality: 90
      });

      Webcam.attach('#my_camera');
    }
  });

  $(".close-webcam-modal").on('click',function(e){
    Webcam.reset();
  })

</script>
