<div class="contentpanel">
  <%= render "patients/patientsearchresult" %>
</div>

<script type="application/javascript">
    $(document).ready(function(){
        jQuery("#searchpatientkeyword1").val("")
    })
</script>