<div class="contentpanel">
  <%= render "showpatientsummarycontentpanel" %>
  <script type="application/javascript">
      jQuery(document).ready(function(){
          <%= render partial: 'summaryfromopd_init.js' %>
      })
  </script>
</div>
