<h5 class="title">
  Referred Patients (From Outside Locations)
  <!--<a href="/opd_referrals/doctor_view?type=mark_as_viewed" data-remote="true" , style='display: inline;float: right;'>  Acknowledge All</a>-->
  <!--<a href="/opd_referrals/doctor_view?type=delete_all" class="btn btn-danger btn-xs delete-all-referral", data-remote="true", style='display: inline;margin: 120px;font-size: x-small;'> Remove All </a>-->
  <button class="btn btn-danger btn-xs delete-all-referral", style='display: inline;font-size: x-small;border: 0px;'> Remove All </button>
</h5>
<div id="dialog-confirm" title="Remove All Referrals" class="hidden">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span> Are you sure ?</p>
</div>
<!--<div style="max-height: calc(100% - 300px);overflow-y: scroll;">-->
<ul class="dropdown-list gen-list">
  <% if @opd_referral.count == 0%>
    <h4>You don't have any current referrals...</h4>
  <%else%>
    <span><input type="text" class="form-control referrals-search" id="referrals-search" placeholder="Search patient by Name..." /></span>
  <div id="show-referrals">
    <%= render partial: '/opd_referrals/view.html.erb' %>
  </div>
  <%end%>
  <!--<li class="new"><a href="#">View All Referrals</a></li>-->
</ul>
<!--</div>-->
<script>

  $('.delete-all-referral').on('click',function(e){
    e.preventDefault();
  //      alert("Are you sure")
    $('#dialog-confirm').removeClass("hidden")
    var dialog = $('#dialog-confirm').dialog({
      resizable: false,
      height: "auto",
      width: 400,
      modal: true,
      buttons: {
        "Yes": function() {
          $.ajax({
            url: "/opd_referrals/doctor_view",
            type: "GET",
            data: {type: "delete_all", remote: "true"},
            success: function (res) {
              //start counter
  //                $("#dilation-div").html("")
              //           location.reload()
              //          $("#refreshappointmentlist").trigger('click')
            },
          })
          dialog.dialog('close');
        },
  
        "No":  function() {
          dialog.dialog('close');
        }
      }
    });
    $('.ui-dialog-titlebar-close').addClass("fa fa-close")
  })

  $('.patient-summary-view').on("click",function() {
    if ($('.headermenu-referral').hasClass('open') == true ){
      $('.headermenu-referral').removeClass('open')
    }
  })

 $('#referrals-search').on('click', function(e){
    e.stopPropagation()
  })


$(".referrals-search").on('keyup', function(){
  var search = $(this).val()
  // if(search.trim().length > 2){
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        remote: "true",
        search: search
      },
      url: '/opd_referrals/search_referral',
      success: function(){
      }
    })
  // }
})



</script>
<style type="text/css">
  .ui-dialog{
  background-color: #FFFFFF;
  /*border: solid 1px black;*/
  border-radius: 3px;
  top: 30% !important;
  }
  .ui-dialog-titlebar{
  border-bottom: 1px solid #e5e5e5;
  }
  .ui-widget-overlay{
  background: #333;
  opacity: 0.6;
  }
  .ui-dialog .ui-dialog-buttonpane button {
  background-color: #31b0d5;
  border: 1px;
  color: #FFFFFF;
  padding: 0px 10px;
  border-radius: 3px;
  border-color: #46b8da;
  }
</style>