
<% @appointment_types.each do |appointment_type| %>
    <label for="patientvisittype-fresh-radioselectlabel" data-toggle="tooltip" title="<%= appointment_type.comment%>"><%= radio_button_tag "opdrecord[intra_facility_referral_attributes][#{@counter}][referral_appointment_type_id]", appointment_type.id, appointment_type.is_default %> <%= appointment_type.label %></label>
<% end %>
<style type="text/css">
  [data-toggle='tooltip'] + .tooltip > .tooltip-inner {
    background: black;
    color:#ffffff;
    border: 1px solid #000000;
  }
</style>
<script type="text/javascript">
   $('[data-toggle="tooltip"]').tooltip();
</script>

