if ("<%=@counter%>" == 0){
  jQuery(".intra_facility_referral_added").prepend('<%= escape_javascript(render partial: "opd_referrals/add_intra_facility_referral", locals: {i: @counter}) %>')
} else {
  jQuery(".intra_facility_referral_added> .intra-facility-referral:last").after('<%= escape_javascript(render partial: "opd_referrals/add_intra_facility_referral", locals: {i: @counter}) %>')
}

datepicker_options = {
  dateFormat: "dd/mm/yy",
  minDate: 0
};

jQuery('.intra-referraltime-timepicker').timepicker({minuteStep: 5});
jQuery('.intra-referraldate-datepicker').datepicker(datepicker_options);


$(".intra-referraldate-datepicker").on('change', function(){
  var timestamp = $(this).val() + " " + $(this).parents('.intra-facility-referral').find('.intra-referraltime-timepicker').val()
  $(this).parents('.intra-facility-referral').find('.intra-referraldate').attr("value", timestamp)
  $(this).parents('.intra-facility-referral').find('.intra-referraltime').attr("value", timestamp)
})

$(".intra-referraltime-timepicker").on('change', function(){
  var timestamp = $(this).parents('.intra-facility-referral').find(".intra-referraldate-datepicker").val() + " " + $(this).val()
  $(this).parents('.intra-facility-referral').find('.intra-referraldate').attr("value", timestamp)
  $(this).parents('.intra-facility-referral').find('.intra-referraltime').attr("value", timestamp)
})


// jQuery('#opdrecord_referred_to_facility').on("change",function() {
//   var fac_id = jQuery("#opdrecord_referred_to_facility").val();
// //      var doctor_id = jQuery('#opdrecord_advice_attributes_appointment_doctor').val()
// //      var date = jQuery('.opdfollowupdate-datepicker').val()
//   //load users
//   jQuery.ajax({
//     type: "GET",
//     dataType: "json",
//     url: "/main/get_user_id_admission_list",
//     data: {facility_id: fac_id},
//     success: function (response) {
//       jQuery('#opdrecord_outside_referred_doctor').children().remove();
//       jQuery.each(response, function (key, value) {
//         jQuery('#opdrecord_outside_referred_doctor').append(jQuery("<option></option>").attr("value", value[1]).text(value[0]));
//       });
//       jQuery('#opdrecord_outside_referred_doctor').trigger("change")
//     }
//   });
// });