<% if @inventory_store&.enable_stock_management == true %>
  <%= link_to inventory_stores_stock_information_path(store_id: @inventory_store.id), id: "stock-notification-btn", style: "color: #fff", data: { remote: true, 'toggle': "modal", 'target': '#stock-notification-modal'} do %><i class="fas fa-bell"></i>&nbsp;&nbsp;</i><span>Stock Notification</span><% end %>
<% end %>