<div class="col-md-12">
  <div class="row">
    <div class="col-xs-3 sidebar-content" style="padding:0px;">
      <!-- <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"><a href="" class="common-a-tag" aria-controls="appointment-types" role="tab" data-toggle="tab" style="padding-left: 10px;"><b>Released Features</b></a></li>
      </ul> -->
      <div class="row sub-menu-row mt10" style="margin-left:10px;">
        <div class="col-xs-12 sub-menu">
          <a href="#inventory_feature_upcoming" class="release-sub-links activated" style="display: block;padding:10px;">Inventory V2</a>
          <!-- <a href="#accounting_feature_upcoming" class="release-sub-links" style="display: block;padding:10px;">Accounting</a> -->
          <a href="#analytics_feature_upcoming" class="release-sub-links" style="display: block;padding:10px;">Analytics V3</a>
          <a href="#search_feature_upcoming" class="release-sub-links" style="display: block;padding:10px;">Clinical Search</a>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div role="tabpanel" class="tab-pane active" id="release-detail">
        <!-- Inventory V2 -->
        <div id="inventory_feature_upcoming" class="release-details">
          <div class="row">
            <div class="col-md-12">
              <h4>Inventory V2<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt10">
              <h5><b>INVENTORY</b></h5>
              <ul>
                <li>Substores at OT/Ward Level.</li>
                <li>Requisition Management.</li>
                <li>Other Inventory Level Changes.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Accounting -->
        <!-- <div id="accounting_feature_upcoming" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Accounting<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt10">
              <h5><b>ACCOUNTING</b></h5>
              <ul>
                <li>Acc.</li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- Analytics V3 -->
        <div id="analytics_feature_upcoming" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Analytics V3<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt10">
              <h5><b>ANALYTICS</b></h5>
              <ul>
                <li>Automated Report Generation.</li>
                <li>Mobile & Tablet Views.</li>
                <li>Metric Configuration.</li>
                <li>Additional metrics on Operationalm Clinical, Financial & Patient Outcome.</li>
              </ul>
            </div>
          </div>
        </div>
        <div id="search_feature_upcoming" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Search<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt10">
              <h5><b>SEARCH</b></h5>
              <ul>
                <li>Additional Feature.</li>
                <li>Tagging.</li>
                <li>Search by Investigations.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>