jQuery(".optometrist-past-readings-row").on("click", ".optometrist-past-readings-view-button", function(event) {
    event.preventDefault();
    var i = jQuery(this);
    jQuery(this).popover({
        placement : 'left',
        title : '<span class="text-info"><strong>Previous Optometrist Reading</strong></span>'+
        '<button type="button" id="close" class="close" onclick="jQuery(&quot;.optometrist-past-readings-view-button&quot;).popover(&quot;hide&quot;);">&times;</button>',
        html : true,
        content : function(){
            jQuery.ajax({
                type: "GET",
                url: "/opd_records/optoreading",
                data: { optoreadingid: jQuery(this).attr('data-optoreadingid'),
                        patientid: "<%= params[:patientid] %>"
                }
            }).done(function(data) {
                jQuery('.popover.in .popover-content').empty();
                jQuery(".popover.in .popover-content").html(data);
                //jQuery(".popover.in").css("top","-185.5px")

            });
        },
        trigger : 'focus',
        template : '<div class="popover" role="tooltip" style="width: 770px; min-width: 730px!important"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'

    }).popover('show');
    jQuery('.popover.in').on("show.bs.popover", function(e){
        jQuery('.popover.in').data("bs.popover").tip().css({"max-width": "500px"});
    });
});

//$(".diagnosis-row").hide("slide", {direction: "left"}, function () {})