<div class="daily_reports row" style="margin: 20px 0px 30px 15px;background: #fff;box-shadow: 0 0 12px 0;">
  <div class="col-md-12">
    <h4 class="text-left title_opd">SMS/Emails sent</h4>
  </div>
  <div class="col-md-12 mt10">
    <%= content_tag 'canvas', '', id: 'sms', width: 100, height: 35, data: {types: @communication_type,info: @communication_info_array}%>
  </div>
  <div class="col-md-12 amount_sum" style="padding:0px 10px 5px;background-color:white;box-shadow: 0 0px 5px 2px #354670;">
    <div class="row mt10">
      <div class="col-md-6 text-left"><b>Total SMS sent:<%=  @communication_info_array.sum %></b></div>
    </div>
  </div>
</div>
<script>
    content_height = $("#items").closest(".contentpanel").height()
    $("#items").css('max-height', content_height*(1/2))
    $("#items").css('overflow-y', 'scroll')
    var ctx = document.getElementById("sms").getContext('2d')
    var opdItemLineChart = new Chart(ctx,{
        type: 'bar',
        data: {
            labels: $("#sms").data('types'),
            datasets: [{
                label: '#SMS sent',
                data: $("#sms").data('info'),
                backgroundColor: "rgba(30,144,255,1)",
                borderColor: "rgb(30,144,255,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 10,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                lineTension: 0.1,
            }],
        },
        options: {
            categoryPercentage: 0.5,
            barPercentage: 0.5,
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });
</script>

