<input type="hidden" name="" class="statistics_filter" id='statistics_filter' value="Credit">

<div class="sidebar-panel" style="padding-top:0px;background:#fff;">
  <div class="row">
    <div class="col-md-12">
      <!-- <ul class="nav nav-pills nav-justified filter-header" style="background: #fff;position:fixed;width:100%;top:100px">
        <li class="active" style="border-bottom: 1px solid #aaa;">
          <a href="#list_by_name" class="filter-tab" data-toggle="tab"><strong>Creditor List By Name</strong></a>
        </li>
        <li style="border-bottom: 1px solid #aaa;">
          <a href="#list_by_type" class="filter-tab" data-toggle="tab"><strong>Creditor List By Type</strong></a>
        </li>
      </ul> -->
      <div class="tab-content ipd-main-view-content" style="box-shadow: none;background:#fff;">
        <div class="tab-pane active" id="list_by_name">
          <%= render 'statistics/data_files/credit_data_name.html.erb' %>
        </div>
        <div class="tab-pane" id="list_by_type">
          <%#= render 'statistics/data_files/credit_data_type.html.erb' %>
        </div>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
  .main-display-row {
    color:#000;
    font-size: 16px;
  }
</style>