<% @invoicelogcount = (InvoiceLog.where(facility_id: current_facility.id.to_s, invoice_type: "IPD", :invoice_date.gte => Date.parse(@start_date), :invoice_date.lte => Date.parse(@start_date)+ 1).pluck(:invoice_id).uniq.count)  %>
<input type="hidden" name="" class="statistics_filter" id='statistics_filter' value="IPD">

<div class="sidebar-panel" style="padding-top:0px;background:#fff;">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-justified filter-header" style="background: #fff;position:fixed;width:100%;top:100px">
        <li class="active" style="border-bottom: 1px solid #aaa;">
          <a href="#ipd_invoices_filter" class="filter-tab" data-toggle="tab"><strong>IPD Receipt</strong></a>
        </li>
        <li style="border-bottom: 1px solid #aaa;">
          <a href="#ipd_cash_register_filter" class="filter-tab" data-toggle="tab"><strong>IPD Cash Register</strong></a>
        </li>
      </ul>
      <div class="tab-content ipd-view-content" style="box-shadow: none;background:#fff;margin-top: 25px;">
        <div class="tab-pane active" id="ipd_invoices_filter">
          <%= render partial: 'statistics/data_files/daily_ipd_invoice_data.html.erb' %>
        </div>
        <div class="tab-pane" id="ipd_cash_register_filter">
          <%= render partial: 'statistics/data_files/daily_ipd_cr_data.html.erb' %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .main-display-row {
    color:#000;
    font-size: 16px; 
  }
</style>

<script type="text/javascript">
  $(".btn-datewise-view").on('click', function(){
    var start_date = $('#report-to-datepicker').val()
    var end_date = $('#report-from-datepicker').val()
    var timePeriod = $("#current_time_period").attr("data-time-period")
    var currency_id = $("#current_currency_id").attr("data-currency_id")
    var filter = $("#statistics_filter").val()
    $.ajax({
      url: '/statistics/data_content',
      dataType: 'script',
      data: {
        start_date: start_date,
        end_date: end_date,
        filter: filter,
        time_period: timePeriod,
        currency_id: currency_id
      },
      success: function(res){
      },
      error: function(err){
        alert("Something went wrong. Please try again.");
      }
    });    
  })
</script>