<input type="hidden" name="" class="statistics_filter" id='statistics_filter' value="OPD">

<div class="sidebar-panel" style="padding-top:0px;background:#fff;">
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content opd-main-view-content" style="box-shadow: none;background:#fff;">
        <div class="tab-pane active" id="opd_invoices_filter">
          <%= render 'statistics/data_files/opd_invoice_data' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // $(".table-color").hover(function(){
  //     $(this).css("background-color", "#6959CD");
  //     $(this).css("color", "white");
  // }, function(){
  //     $(this).css("background-color", "white");
  //     $(this).css("color", "#636e7b");
  // });

</script>