<input type="hidden" name="" class="statistics_filter" id='statistics_filter' value="Tax">

<div class="sidebar-panel" style="padding-top:0px;background:#fff;">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-justified filter-header" style="background: #fff;position:fixed;width:100%;top:100px">
        <li class="active" style="border-bottom: 1px solid #aaa;">
          <a href="#opd_invoices_filter" class="filter-tab" data-toggle="tab"><strong>OPD Receipt</strong></a>
        </li>
        <li style="border-bottom: 1px solid #aaa;">
          <a href="#ipd_invoices_filter" class="filter-tab" data-toggle="tab"><strong>IPD Receipt</strong></a>
        </li>
        <li style="border-bottom: 1px solid #aaa;">
          <a href="#pharmacy_invoices_filter" class="filter-tab" data-toggle="tab"><strong>Pharmacy Receipt</strong></a>
        </li>
        <li style="border-bottom: 1px solid #aaa;">
          <a href="#optical_invoices_filter" class="filter-tab" data-toggle="tab"><strong>Optical Receipt</strong></a>
        </li>
      </ul>
      <div class="tab-content tax-view-content" style="box-shadow: none;background:#fff;margin-top: 25px;">
        <div class="tab-pane active" id="opd_invoices_filter">
          <%= render partial: 'statistics/data_files/tax_data_opd.html.erb' %>
        </div>
        <div class="tab-pane" id="ipd_invoices_filter">
          <%= render partial: 'statistics/data_files/tax_data_ipd.html.erb' %>
        </div>
        <div class="tab-pane" id="pharmacy_invoices_filter">
          <%= render partial: 'statistics/data_files/tax_data_pharmacy.html.erb' %>
        </div>
        <div class="tab-pane" id="optical_invoices_filter">
          <%= render partial: 'statistics/data_files/tax_data_optical.html.erb' %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .main-display-row {
    color:#000;
    font-size: 16px; 
  }
</style>