$(".pharmacy-panel").html("").hide()
$(".store-content-panel").show()

$(".inventory-show-panel")
  .html("<%= escape_javascript(render partial: 'inventory/transaction/stock_receive_notes/show.html.erb') %>")

adjust_height()
function adjust_height(){
  inventoryHeight = $(window).height() - $(".navbar").height() - 3
  toolbar2Height = $(".inventory-toolbar2").height()
  $(".inventory-show-panel").height(inventoryHeight - toolbar2Height)
}

// $('.cancel-stock-opening').on('click', function() {
//   id = $(this).data('id')
//   $('#confirmation-modal').html(`
//     <div class="modal-dialog">
//     <div class="modal-content">
//       <div class="modal-header">
//         <button type="button" class="close" data-dismiss="modal">&times;</button>
//         <h4 class="modal-title">Are You Sure?</h4>
//       </div>
//       <div class="modal-body">
//         <p>Are you sure, you want Cancel <strong>Stock opening</strong>?</p>
//       </div>
//       <div class="modal-footer">
//         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
//         <a class="btn btn-danger" data-remote="true" href="/inventory/transaction/stock_openings/${id}/cancel">
//           Cancel
//         </a>
//       </div>
//     </div>
//     </div>
//   `)
// })