// Place all the styles related to the Inpatient::IpdRecord::DischargeNote::ObstetricsGynecologyNotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
