<% @opd.newest_first.each_with_index do |diagnosis, counter| %>
  <% diagnosis.diagnosislist.each_with_index do |elem, i|  %>
    <% diagnosis_output = "" %>
    <% diagnosisname = "" %>
    <% position_4 = "" %>
    <% position_5 = "" %>
    <% position_6 = "" %>
    <% position_7 = "" %>
    <% diagnosisname =  "#{elem.diagnosisname}" %>
    <% diagnosis_output = "#{diagnosisname}" %>

    <% if elem.icddiagnosiscodehasattributes == "Y" %>

      <% if elem.position_4? %>
        <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 1}") == "Y" %>
            <% label_4 = diagnosis.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_4}", elem.position_4, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 1}") ) %>
            <% position_4 = " #{label_4}" %>
            <% diagnosis_output = "#{diagnosis_output}#{position_4}" %>
        <% end %>
      <% end %>

      <% if elem.position_5? %>
        <% if elem.position_4? %>
            <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 2}") == "Y" %>
                <% label_5 = diagnosis.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_4}", elem.position_5, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 2}") ) %>
                <% position_5 = " #{label_5}" %>
                <% diagnosis_output = "#{diagnosis_output}#{position_5}" %>
            <% end %>
        <% else %>
            <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 1}") == "Y" %>
                <% label_5 = diagnosis.get_diagnosis_icd_label("#{elem.icddiagnosiscode}", elem.position_5, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 1}") ) %>
                <% position_5 = " #{label_5}" %>
                <% diagnosis_output = "#{diagnosis_output}#{position_5}" %>
            <% end %>
        <% end %>
      <% end %>

      <% if elem.position_6? %>
        <% if elem.position_4? && elem.position_5? %>
            <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 3}") == "Y" %>
                <% label_6 = diagnosis.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_4}#{elem.position_5}", elem.position_6, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 3}") ) %>
                <% position_6 = " #{label_6}" %>
                <% diagnosis_output = "#{diagnosis_output}#{position_6}" %>
            <% end %>
        <% elsif elem.position_4? %>
            <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 2}") == "Y" %>
                <% label_6 = diagnosis.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_4}", elem.position_6, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 2}") ) %>
                <% position_6 = " #{label_6}" %>
                <% diagnosis_output = "#{diagnosis_output}#{position_6}" %>
            <% end %>
        <% elsif elem.position_5? %>
            <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 2}") == "Y" %>
                <% label_6 = diagnosis.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_5}", elem.position_6, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 2}") ) %>
                <% position_6 = " #{label_6}" %>
                <% diagnosis_output = "#{diagnosis_output}#{position_6}" %>
            <% end %>
        <% else %>
            <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 1}") == "Y" %>
                <% label_6 = diagnosis.get_diagnosis_icd_label("#{elem.icddiagnosiscode}", elem.position_6, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 1}") ) %>
                <% position_6 = " #{label_6}" %>
                <% diagnosis_output = "#{diagnosis_output}#{position_6}" %>
            <% end %>
        <% end %>
      <% end %>

      <% if elem.position_7? %>
        <% if elem.position_5? && elem.position_6? %>
            <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 3}") == "Y" %>
                <% label_7 = diagnosis.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_5}#{elem.position_6}", elem.position_7, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 3}") ) %>
                <% position_7 = " #{label_7}" %>
                <% diagnosis_output = "#{diagnosis_output}#{position_7}" %>
            <% end %>
        <% elsif elem.position_6? %>
            <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 2}") == "Y" %>
                <% label_7 = diagnosis.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_6}", elem.position_7, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 2}") ) %>
                <% position_7 = " #{label_7}" %>
                <% diagnosis_output = "#{diagnosis_output}#{position_7}" %>
            <% end %>
        <% else %>
            <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 1}") == "Y" %>
                <% label_7 = diagnosis.get_diagnosis_icd_label("#{elem.icddiagnosiscode}", elem.position_7, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 1}") ) %>
                <% position_7 = " #{label_7}" %>
                <% diagnosis_output = "#{diagnosis_output}#{position_7}" %>
            <% end %>
        <% end %>
      <% end %>

    <% end %>
    <span>Last Diagnosis from OPD as on <%= diagnosis.updated_at.strftime("%H:%M:%S %d-%b") %></span>
    <% if @templatetype === "admissionnote" %>
        <%= f.input :provisionaldiagnosis, :label => false, :required => false, :input_html => {:class => "form-control ipd-diagnosis", :name => "ipdrecord[provisionaldiagnosis]", :size => "100", :maxlength => "120", :value => diagnosis_output } %>
    <% else %>
      <%= f.input :diagnosis, :label => false, :required => false, :input_html => {:class => "form-control ipd-diagnosis", :name => "ipdrecord[diagnosis]", :size => "100", :maxlength => "120", :value => diagnosis_output } %>
    <% end %>
  <% end %>
<% end %>

<style type="text/css">
.ipd-diagnosis {
  width: 100% !important;
}
</style>