<div class="modal-body"> <!-- modal-body starts -->

  <%= simple_form_for :ipdrecord, url: eval(@templates_save_ipd_record_path), :remote => true, method: :post, :html => { :id => "#{@speciality_folder_name}-#{@templatetype}-soap-note #{@speciality_folder_name}-#{@templatetype}-form", :class => "form-inline #{@speciality_folder_name}-#{@templatetype}-soap-note #{@speciality_folder_name}-#{@templatetype}-form soapnote", "data-templatetype" => "#{@templatetype}", "data-templatetypeid" => "#{@templateid}", "data-specality" => "#{@speciality_folder_name}", "data-specalityid" => "#{@specalityid}", "data-specality-templatetype" => "#{@speciality_folder_name}-#{@templatetype}" } do |f| %>

      <%= render partial: "templates/common/ipdhiddenvariables", locals: { patient: @patient, templatetype: @templatetype, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, templateid: @templateid, ipdrecord: @ipdrecord }  %>

      <% Global.send("ipd").send("#{@templatetype}").erb.each do |ipd_record_specality_template_erb| %>
          <%= render partial: "#{ipd_record_specality_template_erb}", locals: { f: f, patient: @patient, templatetype: @templatetype, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, templateid: @templateid , ipdrecord: @ipdrecord } %>
      <% end %>

  <% end %>

</div> <!-- modal-body ends -->
