<% three_medical_prescriptions = @medical_prescriptions.first(3) %>
<strong class="bg-primary p5">Recent Medical Prescriptions</strong> <a href="" class="pull-right prescriptions-tab-link">View More</a>
<table id="medicalPrescriptionsTable" class="table table-bordered mt10">
  <thead>
    <tr>
      <th>Advised On</th>
      <th>Advised By</th>
    </tr>
  </thead>
  <tbody>
    <% three_medical_prescriptions.each_with_index do |prescription, i| %>
      <tr class="prescription-details" data-modal-id="medical-overview-modal-<%= i %>" style="cursor: pointer;">
        <td><%= prescription.prescription_date.try(:strftime, "%d %b'%Y") %></td>
        <td><%= prescription.consultant_name %></td>
      </tr>
      <tr></tr>
    <% end %>
    <% if @medical_prescriptions.count == 0 %>
      <tr class="text-center">
        <td colspan="2">No Prescriptions</td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Running another loop as the modal content is not fitting correctly in <tr> above -->
<% three_medical_prescriptions.each_with_index do |prescription, i| %>
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/medical_prescriptions/modal.html.erb', locals: { i: i, prescription: prescription, location: 'overview' } %>
<% end %>
