<strong class="bg-primary p5">Recent Procedures</strong> <a href="" class="pull-right procedures-tab-link">View More</a>
<table id="proceduresOverviewTable" class="table table-bordered mt10">
  <tbody>
    <% @procedures.first(3).each do |procedure| %>
      <tr>
        <td>
          <b><%= procedure.procedurename %> (<%= procedure.get_label_for_procedure_side(procedure.procedureside) %>)</b><br>
          <span>A: <%= "#{procedure.advised_by} on #{procedure.try(:advised_datetime).try(:strftime, "%d %b'%y")}" %></span>
          <% if procedure.performed_by %>
            <br>
            <span>P: <%= "#{procedure.try(:performed_by)} on #{procedure.try(:performed_datetime).try(:strftime, '%d/%m/%Y')}" %></span>
          <% end %>
        </td>
      </tr>
      <tr></tr>
    <% end %>

    <% if @procedures.count == 0 %>
      <tr class="text-center">
        <td>No Procedures</td>
      </tr>
    <% end %>
  </tbody>
</table>
