<div class="row master-row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render partial: 'inpatient/ipd_record/patient_info.html.erb' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render partial: 'inpatients/patient_assessments/assessment_details.html.erb', locals: {clinical_note: @assessment} %>
      </div>
    </div>
  </div>
</div>