<style type="text/css" media="all">
    .print-template {
        font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>;
        font-size: 8px;
        color: #333333;
        background:  #ffffff ;
    }
    .pcs-header-content {
        font-size: 8pt;
        color: #333333;
        background-color: #ffffff;
    }
    .pcs-template-body {
        padding: 0 0.400000in 0 0.550000in;
    }
    .pcs-template-footer {
        height: 0.700000in;
        font-size: 6pt;
        color: #aaaaaa;
        padding: 0 0.400000in 0 0.550000in;
        background-color: #ffffff;
    }
    .pcs-footer-content {
        word-wrap: break-word;
        color: #aaaaaa;
        border-top: 1px solid #eeeeee;
    }
    .pcs-label {
        color: #000000;
    }
    .pcs-entity-title {
        font-size: 9pt;
        color: #333333;
    }
    .pcs-orgname {
        font-size: 9pt;
        color: #333333;
    }
    .pcs-customer-name {
        font-size: 9pt;
        color: #333333;
    }
    .pcs-itemtable-header {
        font-size: 8pt;
        color: #333333;
        background-color: #eff0f1;
    }
    .pcs-taxtable-header {
        font-size: 8pt;
        color: #000;
        background-color: #f5f4f3;
    }
    .pcs-item-row {
        font-size: 8pt;
        border-bottom: 1px solid #eeeeee;
        background-color: #ffffff;
        color: #333333;
    }
    .pcs-item-desc {
        color: #8e8e8e;
        font-size: 8pt;
    }
    .pcs-balance {
        background-color: #ffffff;
        font-size: 9pt;
        color: #333333;
    }
    .pcs-totals {
        font-size: 9pt;
        color: #333333;
        background-color: #ffffff;
    }
    .pcs-notes {
        font-size: 8pt;
    }
    .pcs-terms {
        font-size: 8pt;
    }
    .pcs-header-first {
        background-color: #ffffff;
        font-size: 8pt;
        color: #333333;
        height: auto;
    }
    .pcs-status {
        color: '';
        font-size: 15pt;
        border: 3px solid ;
        padding: 3px 8px;
    }
    .pcs-template-header {
        padding: 0 0.400000in 0 0.550000in;
        height: 0.700000in;
    }
    .pcs-entity-title {
        text-align: center;
        position: relative;
        text-transform: uppercase;
    }
    .pcs-entity-title:before {
        content: "";
        display: block;
        border-top: 1px solid #eeeeee;
        width: 100%;
        height: 1pt;
        position: absolute;
        top: 50%;
        font-size: 1pt;
    }
    .pcs-entity-title span {
        background: #ffffff;
        padding: 0 20px;
        position: relative;
    }
    .pcs-itemtable {
        border: 1px solid #eeeeee;
    }
    .pcs-itemtable-header {
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }
    .pcs-item-row {
        border-right: 1px solid #eeeeee;
        border-bottom: none;
    }
    .pcs-bdr-top {
        border-top: 1px solid #eeeeee;
    }
    .pcs-bdr-bottom {
        border-bottom: 1px solid #eeeeee;
    }
    .pcs-table, .pcs-table th, .pcs-table td {
        border: 1px solid #eeeeee;
    }
</style>

<div class="print-template">
  <div class="row mb5">
    <span style="font-size:12px;" class="text-center col-md-12"><b>OutPatient Receipt</b></span>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row mb10" style="border:1px solid #666;padding:5px;">
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>Patient Name</b></p>
          <p style="margin-bottom:0px;"><b>Patient ID </b></p>
          <p style="margin-bottom:0px;"><b>Mobile </b></p>
          <p style="margin-bottom:0px;"><b>Age / Gender </b></p>
          <p style="margin-bottom:0px;"><b>Address </b></p>

        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; John Doe</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; JOH-PAT-001</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 9510052631</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 23 Year(s)  Male </p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 1, WestCoast Street</p>
        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>Doctor</b></p>
          <p style="margin-bottom:0px;"><b>Appointment Date</b></p>
          <p style="margin-bottom:0px;"><b>Bill Date </b></p>
          <p style="margin-bottom:0px;"><b>Bill No. </b></p>
        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; Jane Doe</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 20 Jul'16 01:15 AM</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 30 Jul'16 01:15 AM</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; JOH-INV-001</p>
        </div>
      </div>
    </div>
  </div>
    <div class="container-fluid">
      <div class="row mb5" style="border-bottom:1px solid #eee;">
        <div class="col-md-1"><b style="color:#000;">S.No</b></div>
        <div class="col-md-3"><b style="color:#000;">Service Name</b></div>
        <div class="col-md-2"><b style="color:#000;">Date</b></div>
        <div class="col-md-2 text-right"><b style="color:#000;">Quantity</b></div>
        <div class="col-md-2 text-right"><b style="color:#000;">Unit Price</b></div>
        <div class="col-md-2 text-right"><b style="color:#000;">Price</b></div>
      </div>
      <div class="row service_list">
        <div class="col-md-1">
          <b style="color:#000;">1.</b>
        </div>
        <div class="col-md-8">
          <b style="color:#000;">Medication</b>
        </div>
        <div class="col-md-3 text-right">
          <b style="color:#000;">200</b>
        </div>
      </div>
      <div class="row item_list">
        <div class="row item">
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'>Combiflam</div>
          <div class="col-md-3">
            <%= Date.current.strftime("%d/%m/%y") %>
          </div>
          <div class="col-md-1">10</div>
          <div class="col-md-2 text-right">10</div>
          <div class="col-md-2 text-right" style = "margin-left:-10px;">100</div>
        </div><!-- .item -->
        <div class="row item">
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;' >Calpol</div>
          <div class="col-md-3">
            <%= Date.current.strftime("%d/%m/%y") %>
          </div>
          <div class="col-md-1 ">10</div>
          <div class="col-md-2 text-right">10</div>
          <div class="col-md-2 text-right" style = "margin-left:-10px;">100</div>
        </div><!-- .item -->
      </div><!-- .item_list -->
      <div class="row service_list">
        <div class="col-md-1">
          <b style="color:#000;">2.</b>
        </div>
        <div class="col-md-8">
          <b style="color:#000;">Operation</b>
        </div>
        <div class="col-md-3 text-right">
          <b style="color:#000;">10000</b>
        </div>
      </div>
      <div class="row item_list">
        <div class="item">
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'>Name Operation</div>
          <div class="col-md-3">
            <%= Date.current.strftime("%d/%m/%y") %>
          </div>
          <div class="col-md-1">1</div>
          <div class="col-md-2 text-right">10000</div>
          <div class="col-md-2 text-right" style = "margin-left:-10px;">10000</div>
        </div><!-- .item -->
      </div><!-- .item_list -->
      <hr>
      <div class="row invoice_calculation_list">
        <div class="row mb5">
          <div class="col-md-3 col-md-offset-7 text-right">
            <b>Gross Bill Total :</b>
          </div>
          <div class="col-md-2 text-right">
            <b style="color:#000;">10200</b>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-3 col-md-offset-7 text-right">
            <b>Discount :</b>
          </div>
          <div class="col-md-2 text-right">
            <b>0</b>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-8">
            Received with thanks from Mr. John Doe a sum of Rs.<b>10200</b>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-7">
            <b>Mode Of Payment :</b> Cash
          </div>
          <div class="col-md-3 text-right">
            <b>Net Amount :</b>
          </div>
          <div class="col-md-2 text-right">
            <b style="color:#000;">10200</b>
          </div>
        </div>
        <div class="row" style="margin-top: 4%">
          <div class="col-md-7">
          </div>
          <div class="col-md-5 text-right">
            <b>___________________</b><br>
            <b>Authorised Signatory</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
    div.text-right * {
        margin: 0px;
    }
    div.text-left * {
        margin: 0px;
    }
    div.text-center * {
        margin: 0px;
    }
</style>