<div class="row mb20">
  <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
    <div class="col-md-2">
      <b>Precautions : </b>
    </div>
    <div class="col-md-6">
      <%= f.text_area :precautions, {class: "form-control",:value => @discharge_note.read_attribute(:precautions)} %>
    </div>
  </div>
</div>
<%= render partial: 'inpatient/ipd_record/discharge_note/common/followup_details.html.erb', locals: {f: f} %>




