<div class="row mb10">
  <div class="col-md-12">
    <div class="row">
      <strong>Procedure Details :</strong>
      <div class="summary-line-border"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-12">
        <b>Procedure Note:</b> <%= @procedure_notes %>
      </div>
    </div>
  </div>
</div>