<% if mail_job == true %>
  <% @patient = patient %>
  <% @admission = admission %>
  <% @ipdrecord = ipd_record %>
  <% @diagnosislist = ipd_record.try(:diagnosislist) %>
  <% @clinical_note = ipd_record.try(:clinical_note) %>
  <% @discharge_note = discharge_note %>
  <% @procedure = ipd_record.try(:procedure) %>
  <% @current_facility = current_facility if @current_facility.blank? %>
  <% @case_sheet = case_sheet %>
  <% @advice_language = advice_language %>
  <% @language_flag = language_flag %>
  <% current_organisation ||= @current_facility.organisation %>
<% else %>
  <% @current_facility = current_facility if @current_facility.blank? %>
  <% @current_user = current_user if @current_user.blank? %>
  <% current_organisation ||= @current_facility.organisation %>
<% end %>

<% @is_shankara ||= (current_organisation['_id'].to_s == '5e21ffd6cd29ba0ce0bf5a1e') %>
<% @poi = PatientOtherIdentifier.find_by(patient_id: @patient.id) %>
<div class="master-row">
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'inpatient/ipd_record/patient_info.html.erb', locals: { current_facility: current_facility } %>
    </div>
    <div class="col-md-12 text-center">
      <% if view == "Summary" %>
        <div class="pcs-entity-title"><span>Discharge Summary</span></div>
      <% elsif view == "Note" %>
        <div class="pcs-entity-title"><span>Discharge Note</span></div>
      <% end %>
    </div>
  </div>
  <% if view == "Summary" %>
    <%= render partial: 'inpatient/ipd_record/discharge_note/ophthalmology_notes/discharge_summary.html.erb' , locals: {mail_job: mail_job} %>
  <% elsif view == "Note" %>
    <%= render partial: 'inpatient/ipd_record/discharge_note/ophthalmology_notes/discharge_note.html.erb', locals: {mail_job: mail_job} %>
  <% else %>
    <%= render partial: 'inpatient/ipd_record/discharge_note/ophthalmology_notes/medications.html.erb' %>
  <% end %>
</div>