<div class="row mb10">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <b>Tax Name</b>
      </div>
      <div class="col-md-12">
        <%= f.text_field :name, class: 'form-control p7_10' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <b>Rate (%)</b>
      </div>
      <div class="col-md-12">
        <div class="input-group">
          <%= f.number_field :rate, class: 'form-control p7_10' %>
          <span class="input-group-addon" style="padding: 5px 10px;">%</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <b>Tax Type</b>
      </div>
      <div class="col-md-12">
        <% tax_type = current_facility.country_id == 'IN_108' ? ['SGST', 'CGST', 'IGST', 'UTGST', 'VAT', 'Cess', 'Others'] : ['VAT', 'Others'] %>
        <%= f.select(:type, tax_type, { include_blank: "" }, { class: "form-control tax-rate-type" } ) %>
      </div>
    </div>
  </div>
</div>