<div class="mis_list">
  <h3> Diagnosis</h3>
  <% group = 'diagnosis' %>
  <ul data-test-title="Diagnoses" class="nav">
    <li data-test-title="Diagnosis Statistics">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'diagnosis_stats'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Diagnosis Date Wise Statistics</span>
      <% end %>
    </li>
    <li data-test-title="Diagnosis Statistics">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'diagnosis_aggregated'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Diagnosis Aggregated</span>
      <% end %>
    </li>
  </ul>
</div>