<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-xs-6">
    <h4>ADVERSE EVENTS</h4>
  </div>
  <div class="col-md-3" style="margin-top:7px;">
    <select class="form-control p5_10 adverse_events_mail_facility_id" name="facility_id" id="adverse_events_mail_facility_dropdown" disabled="disabled">
      <option value="">All Facilities</option>
    </select>
  </div>
  <div class="col-md-2">
    <%= link_to new_adverse_events_mail_setting_path, :class => "btn btn-primary", style: 'margin-top: 4px;', data: {remote: true, 'toggle': "modal", 'target': '#adverse-event-modal'} do %><i class="fa fa-plus"></i> Add Recipient<% end %>
  </div>
</div>
<div class="row">
  <%= render partial: "view.html.erb" %>
</div>