<% dropdown_values = Mis::Constants::DropdownValue.send(filter&.filter_value_name, [current_facility.id.to_s, current_organisation['_id'],  @mis_params])  %>
<div class="dropdown" style="margin-right:25px;">
  <div>
    <label class="f-title" for="pref-orderby" style="color: #428bca;";> <%= filter.filter_name.titlecase %> <span id= "default-<%= filter&.filter_value_name%>" class="apply-default"> Apply default</span></label>
    <span>
      <% filter_id = "mis-#{filter&.filter_value_name}-filter" %>
     <%= select_tag filter&.filter_value_name.to_sym, options_for_select(dropdown_values[0],dropdown_values[1]), :multiple => true, :data => {:placeholder => ''}, :class => "srch ana", id: filter_id %>
    </span>
  </div>
</div>

<script>
//  $('.srch').multipleSelect({
//    filter: true,
//    placeholder: select,
//    selectAll: true,
//  });

$("#<%=filter_id%>").multiselect({
  columns: 1,     // how many columns should be use to show options
  search : true, // include option search box

  // search filter options
  searchOptions : {
    delay        : 250,                  // time (in ms) between keystrokes until search happens
    showOptGroups: false,                // show option group titles if no options remaining
    searchText   : true,                 // search within the text
    searchValue  : false,                // search within the value
    onSearch     : function( element ){} // fires on keyup before search on options happens
  },

  // plugin texts
  texts: {
    placeholder    : 'Select options', // text to use in dummy input
    search         : 'Search',         // search input placeholder text
    selectedOptions: ' selected',      // selected suffix text
    selectAll      : 'Select all',     // select all text
    unselectAll    : 'Unselect all',   // unselect all text
    noneSelected   : 'None Selected'   // None selected text
  },

  // general options
  selectAll          : true, // add select all option
  selectGroup        : false, // select entire optgroup
  minHeight          : 200,   // minimum height of option overlay
  maxHeight          : null,  // maximum height of option overlay
  maxWidth           : null,  // maximum width of option overlay (or selector)
  maxPlaceholderWidth: null, // maximum width of placeholder button
  maxPlaceholderOpts : 10, // maximum number of placeholder options to show until "# selected" shown instead
  showCheckbox       : true,  // display the checkbox to the user
  optionAttributes   : [],  // attributes to copy to the checkbox from the option element

  // Callbacks
  onLoad        : function( element ){},           // fires at end of list initialization
  onOptionClick : function( element, option ){},   // fires when an option is clicked
  onControlClose: function( element ){},           // fires when the options list is closed
  onSelectAll   : function( element, selected ){}, // fires when (un)select all is clicked
  onPlaceholder : function( element, placeholder, selectedOpts ){}, // fires when the placeholder txt is up<a href="https://www.jqueryscript.net/time-clock/">date</a>d

  // @NOTE: these are for future development
  minSelect: false, // minimum number of items that can be selected
  maxSelect: false, // maximum number of items that can be selected
});

</script>