<% if filter.values_predefined == false %>
  <% dropdown_values = Mis::Constants::DropdownValue.dynamic_dropdown(filter, [@mis_params[:facility_id], current_organisation['_id'], @mis_params[:pharmacy_store_id], @mis_params[:optical_store_id]],  @mis_params) %>
<% else %>
  <% dropdown_values = Mis::Constants::DropdownValue.send(filter&.filter_value_name, [current_facility.id.to_s, current_organisation['_id'],  @mis_params]) %>
<% end %>
<% if @mis_params[:title] == "by_user_session" && filter[:filter_name] == 'facility'%>
  <% dropdown_values[0].unshift(["All Facility", '']) %>
<% end %>
<div class="dropdown" style="margin-right:1%;">
  <label class="f-title" for="pref-orderby" style="color: #428bca;"><%= filter.filter_name.titlecase %> <span id= "default-<%= filter&.filter_value_name%>" class="apply-default"> Apply default</span> </label>
  <% filter_id = "mis-#{filter&.filter_value_name}-filter" %>
  <%= select_tag filter&.filter_value_name.to_sym, options_for_select(dropdown_values[0] ,dropdown_values[1]), { class: "form-control dropdown-filter #{filter_id}", required: true, id: filter_id }%>
</div>
