<% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <%= render partial: '/analytics/partials/optometrist_average_time_given.html.erb' %>
    </div><!-- panel -->
    <div class="col-sm-6 col-md-6">
       <%= render partial: '/analytics/partials/optometrist_total_patient_seen.html.erb' %>
    </div><!-- panel -->
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel_b borderd_panel">
        <div class="panel-heading to_add_expand_button">
          <span>Change Specialty to&emsp;<b style="color:#000;"><i>Ophthalmology</i></b>&emsp;or&emsp;<b style="color:#000;"><i>All Specialties</i></b>&emsp;to view Graphs.</span>
        </div>
      </div>
    </div>
  </div>
<% end %>