<div class="col-sm-4 sidebar_area" style="height: 100%; background: white;">
  <div id="toolbar_area">
    <div id="toolbar"><nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width:33.4%;">
      <div class="container-fluid" style="border-right:1px solid #fff;height:49px;">
        <div class="navbar-header" style="margin-top: 7px;">
          <!-- <a class="btn btn-primary navbar-btn btn-admission" style="margin:0px;"><strong>Admission</strong></a> -->
          <%= link_to "/inpatients/admission_management", class: "btn btn-primary navbar-btn btn-admission ps", data: { remote: true }, style: "margin:0px;" do %>Admission<% end %>
          <!-- <a class="btn btn-primary navbar-btn btn-ot" style="margin:0px;"><strong>OT</strong></a> -->
          <a class="btn btn-primary navbar-btn btn-ward color-change active" style="margin:0px;"><strong>Ward</strong></a>
        </div>
        <div class="text-right" style="margin-top: 7px;">
          <h4 style="margin:13px 0 0 0;font-size:18px;">Ward/Room Details</h4>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    </div>
  </div><!-- #toolbar_area -->
  <div class="sidebar_area_content">
    <!-- <div class="col-sm-4 sidebar_pane sidebar-doctors-ward no_padding" id="sidebar_doctors_ward">
    </div> -->
    <div class="col-sm-12 sidebar_pane" id="sidebar_summary">
      <div class="sidebar-summary-ward">
          
      </div>  
    </div>
  </div>
</div>
<div class="col-md-8 ward_main_content" style="padding:0px;height:100%;">
  <%= render partial: '/inpatient/home/ward_management/ward_main_content.html.erb' %>
</div>


<script type="text/javascript">
  <%= render partial: '/inpatient/home/ward_management/ward_management.js.erb' %>
</script>