<div id="toolbar">
  <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 66.6%;z-index:auto;">
    <div class="container-fluid">
      <div class="col-md-12">
        <h4 id="bed_name_wanted" style="margin:13px 0 0 0;font-size:18px;">Bed Layout</h4>
      </div>
    </div>
  </nav>
</div>

<div id="ward_summary" style="height:calc(100% - 50px);margin-top:50px;overflow-y:scroll">
  
</div>