<% if @disabled_laboratory_investigations.count > 0 %>  
  <div class="row" style="background:#354670;color:#fff;margin-top:50px;">
    <div class="col-md-6">
      <h4>Disabled Laboratory Investigations List</h4>
    </div>
    <div class="col-md-6 text-right">
    </div>
  </div>
  <div class="all-investigations-row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="30%">Investigation Name</th>
          <th scope="col" width="30%">Code</th>
          <th scope="col" width="20%">Is Custom</th>
          <th scope="col" width="10%">Subtests Present</th>
          <th scope="col" width="10%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @disabled_laboratory_investigations.each_with_index do |disabled_investigation| %>
          <tr class="investigations_table_row">
            <td width="30%"><%= disabled_investigation.investigation_name %></td>
            <td width="10%"><%= disabled_investigation.loinc_code %></td>

            <% if disabled_investigation.is_custom == true %>
              <td width="20%"><i style="color: green;" class="fa fa-check" aria-hidden="true"> </i></td>
            <% else %>
              <td width="20%"><i style="color: red;" class="fa fa-times" aria-hidden="true"> </i></td>
            <% end %>

            <% if disabled_investigation.has_sub_tests == true %>
              <td width="20%"><i style="color: green;" class="fa fa-check" aria-hidden="true"> </i></td>
            <% else %>
              <td width="20%"><i style="color: red;" class="fa fa-times" aria-hidden="true"> </i></td>
            <% end %>

            <td width="20%"><%= link_to laboratory_investigation_data_enable_laboratory_investigation_path(id: disabled_investigation.id.to_s), method: :get, data: {confirm: "<b style='color:#000'>This Will Enable Investigation - <b style='color:#ff0000'>'" + disabled_investigation.investigation_name + "'</b> </b>", :remote => true}, class: "btn btn-info btn-xs enable-procedure-btn" do %>Enable<% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row" style="margin-top:50px;">
    <div class="col-md-12">
      <h4>No Laboratory Investigations Disabled!!</h4>
    </div>
  </div>
<% end %>