<div class="modal-dialog modal-lg" style="width: 90%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Checkout History</h4><input class="form-control" type="text" id="searchCheckoutLog" placeholder="Search by Bill Number" />
    </div>
    <div class="modal-body" style="overflow-y: scroll; height:500px;">
      <table class="table-inventory" id="checkout_logs">
        <thead>
        <tr style="font-weight: bold" class="text-center">
          <td>Sl. No.</td>
          <td>Receipt Number</td>
          <td>Checkout Date</td>
          <td>Recipient</td>
          <td>Recipient Mobile</td>
          <td>No. of Items</td>
          <td>Total Amount</td>
          <td>Mode of Payment</td>
          <td>Comments</td>
          <td>Actions</td>
        </tr>
        </thead>
        <tbody class="checkoutLogSearchResult">
          <%=render partial: "checkout_log_result" , locals: {invoice_inventory_department_pharmacies: @invoice_inventory_department_pharmacies} %>
        </tbody>
      </table>
      <input type="hidden" name="count" class="count" value="<%=(@count if @count.present?) || 1%>">
        <% unless @invoice_inventory_department_pharmacies.size < 10 %>
          <div class="show-more-notes" style="margin:20px 2px;">
            <div class="col-md-12 load-more-container" style="border: thick;">
              <a class="col-sm-12", href="javascript:;", id="show_more_checkout_log", data-count = "0" , style="text-align: center; padding: 10px; text-decoration: none;">
                <i class="spinner " id="click_to_load"></i> Click To Load More ...
              </a>
            </div>
          </div>
        <%end%>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
  
  $("#show_more_checkout_log").on('click',function(e){
    e.preventDefault();
    var count = parseInt($('.inventroy_items_log').size())
    $("#click_to_load").addClass('fa fa-spinner fa-spin');
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        count: count
      },
      url: "/invoice/inventories/department/pharmacy/show_more_checkout_log"
    })
    var total_checkout = '<%= @invoice_inventory_department_pharmacies.size %>'
    var present_size = $('.inventroy_items_log').size()+10

    if(present_size>=total_checkout){
      $('#show_more_checkout_log').hide()
    }
  })
</script>