<div id="otWizard" class="basic-wizard">
  <% if params[:action] == 'new' %>
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><a href="#ot-details-form" class="ot-details" data-toggle="tab">OT Details</a></li>
      <li role="presentation"><a href="#case-details" class="case-details" data-toggle="tab">Case Details</a></li>
    </ul>
  <% end %>
  <div class="tab-content ot-form-body">
    <div class="tab-pane active" id="ot-details-form">
      <%= render partial: "ots/form/ot_form.html.erb" %>
    </div>
    <% if params[:action] == 'new' %>
      <div class="tab-pane" id="case-details">
        <%= render partial: "ots/form/case_form.html.erb" %>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .ot_schedule-datepicker, .ot_schedule-timepicker, .ot_schedule_end-timepicker {
    cursor: pointer !important;
    background: #fff !important;
  }
</style>

<script type="text/javascript">
  <%= render partial: 'form.js.erb' %>
</script>