<div class="admission-details-section">
  <div class="row" style="padding-top: 14px;">
    <div class="col-md-6">
      <div class="col-md-1"></div>
      <div class="col-md-4 text-right field_label">
        <b>Tpa Name: </b>
      </div>
      <div class="col-md-6">
        <%= text_field_tag "tpa_data[tpa_name]", @insurance_details.try(:tpa_name), class: "form-control", id: "tpa_name" %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="col-md-4 text-right field_label">
        <b> Tpa Contact No : </b>
      </div>
      <div class="col-md-6">
        <%= text_field_tag "tpa_data[tpa_contact_no]", @insurance_details.try(:tpa_contact_no), class: "form-control", id: "tpa_contact_no" %>
      </div>
    </div>
  </div>
</div>