<div id="MedicalInformationRecordWizard" class="child-wizard">
  <ul class="nav nav-pills child-nav nav-justified">
    <li role="presentation" class="active"><a href="#admission_details" class="tpa_details_section" aria-controls="home" role="tab" data-toggle="tab">Admission Details</a></li>
    <li role="presentation"><a href="#hospital_details" aria-controls="home" role="tab" data-toggle="tab">Hospital Details</a></li>
  </ul>
  <div class="tab-content tpa-record-form-body" style="background: #fff;overflow-y: scroll;">
    <div role="tabpanel" class="tab-pane fade in active" id="admission_details">
      <%= render partial: "tpa_insurance_pre_authorization_form/tpa_form_tabs/admission_details_section.html.erb" %>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="hospital_details">
      <%= render partial: "tpa_insurance_pre_authorization_form/tpa_form_tabs/hospital_details_section.html.erb" %>
    </div>
  </div>
</div>

<style type="text/css">
  .child-nav > li.active > a, .child-nav > li.active > a:hover, .child-nav > li.active > a:focus {
    background: none;
    color: #fff;
  }

  .child-wizard .nav li.active a, .child-wizard .nav li.active a:focus, .child-wizard .nav li.active a:active {
    border: 1px solid #fff;
    color: #676464;
    border-bottom: none;
  }

  .child-wizard .nav li a {
    border-bottom: 1px solid #fff;
  }
</style>