<div class="mis_list">
  <h4>Inventory</h4>
  <% group = "inventory" %>
  <ul data-test-title="Inventory" class="nav">
    <li data-test-title="Sales by Department">
      <a href="#" class="empty_response mis_reports_link">
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Sales by Department</span>
        <span class="mis-coming-soon">&emsp;Coming Soon</span>
      </a>
    </li>
    <li data-test-title="Sales by Item">
      <a href="#" class="empty_response mis_reports_link">
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Sales by Item</span>
        <span class="mis-coming-soon">&emsp;Coming Soon</span>
      </a>
    </li>
    <li data-test-title="Discarded">
      <a href="#" class="empty_response mis_reports_link">
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Discarded</span>
        <span class="mis-coming-soon">&emsp;Coming Soon</span>
      </a>
    </li>
    <li data-test-title="Returns">
      <a href="#" class="empty_response mis_reports_link">
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Returns</span>
        <span class="mis-coming-soon">&emsp;Coming Soon</span>
      </a>
    </li>
    <li data-test-title="Checkout">
      <a href="#" class="empty_response mis_reports_link">
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Checkout</span>
        <span class="mis-coming-soon">&emsp;Coming Soon</span>
      </a>
    </li>
  </ul>
</div>