<div class="row">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Panel Information</strong></div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Name</strong><br>
    <%= f.text_field :name, { class: 'form-control p7_10 fullname', placeholder: 'Fullname' } %>
  </div>
  <div class="col-sm-6">
    <strong>Description</strong><br>
    <%= f.text_field :description, { class: 'form-control p7_10 description', placeholder: 'Description' } %>
  </div>
<!--  <div class="col-sm-6">-->
<!--    <strong>Dispensary</strong><br>-->
    <%#= f.select :dispensary_master_id, @finance_dispensaries.pluck(:name, :id), { include_blank: true }, { class: 'form-control p7_10 sub_category_id', style: 'width: 100%' } %>
<!--  </div>-->
</div>