<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="width:95%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Counsellor Record</h4>
    </div>
    <%= form_for @counsellor_record, id: 'counsellor_record_form', remote: true do |f| %>
      <div class="modal-body counsellor-records-body">
        <%= render partial: "form.html.erb", locals: { f: f } %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", remote: true, class: "btn btn-success", 'data-disable-with' => "Please wait..", :onclick => "validate_counsellor_form()" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .agreed_datetime, .declined_datetime, .payment_taken_datetime, .patient_followup_date, .patient_followup_time {
    background: #fff !important;
    cursor: pointer !important;
  }

  .counsellor_record_steps {
    cursor: pointer !important;
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: none;
    color: #000;
  }

  .basic-wizard .nav li.active a, .basic-wizard .nav li.active a:focus, .basic-wizard .nav li.active a:active {
    border: 1px solid #1CAF9A;
    color: #1CAF9A;
    border-bottom: none;
  }

  .basic-wizard .nav li a {
    border-bottom: 1px solid #1CAF9A;
  }
</style>