<% if @counsellor_record.is_legacy %>
  <div class="modal-dialog modal-hg-view-record-template" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Counsellor Summary</h4>
      </div>
      <div class="modal-body"> <!-- modal-body starts -->
        <%= render partial: 'opd_clinical_workflow/counsellor/print_summary.html.erb', locals: {patient: @patient} %>
      </div>
      <div class="modal-footer">
        <!-- <a href="/opd_clinical_workflow/print_counselor_summary.pdf?record_id=<%#= @counsellor_record.id%>&print_procedure=<%#= @print_procedure%>&print_investigation=<%#= @print_investigation%>" class="btn btn-primary" target="_blank"><i class="fa fa-print">Print</i></a> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
<% else %>
  <div class="modal-dialog modal-lg" style="width:80%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">View Counsellor Record&nbsp;(<%= @counsellor_record.created_at.strftime("%d/%m/%Y") %>)</h4>
      </div>
      <div class="modal-body">
        <% @procedures = @counsellor_record.procedures.where(is_removed: false) %>
        <% @ophthal_investigations = @counsellor_record.ophthal_investigations.where(is_removed: false) %>
        <% @laboratory_investigations = @counsellor_record.laboratory_investigations.where(is_removed: false) %>
        <% @radiology_investigations = @counsellor_record.radiology_investigations.where(is_removed: false) %>
        <% @free_form_procedures = @counsellor_record.free_form_procedures %>
        <% @free_form_investigations = @counsellor_record.free_form_investigations %>
        <%= render partial: 'view.html.erb' %>
      </div>
      <div class="modal-footer">
        <%# if @counsellor_record.created_at.strftime('%d%m%Y') == Date.current.strftime('%d%m%Y') && @view_from != "tpa_department" %>
          <%#= link_to edit_counsellor_record_path(id: @counsellor_record.id.to_s, patient_id: @patient.id, appointment_id: @appointment.id), id: 'edit_counsellor_record', class: 'btn btn-primary', data: {remote: true} do %><!--<i class="fa fa-edit"></i> Edit--><%# end %>
        <%# end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
<% end %>
