<% if @ipdrecord.present? %>
    <% if @clinical_note.present? %>
        <% diagnosis = @ipdrecord.diagnosislist.order('created_at DESC')%>
        <% if diagnosis.count > 0 %>
            <% diagnosis.each do |dia| %>
                <% if dia.try(:created_from) == "migration"%>
                    <li style="margin-left: 10px"> <%= dia.diagnosisname.capitalize %></li>
                <%else%>
                    <li style="margin-left: 10px"> <%= dia.try(:diagnosisoriginalname).try(:capitalize) %>- <b><%= dia.icddiagnosiscode.upcase %></b></li>
                <%end%>
            <%end%>
        <% else %>
            None
        <% end %>
    <% end %>
<% end %>
