<div class="row">
  <div class="col-md-12 mb10 proc-note">Surgical Note :</div>
  <div class="col-md-9 procedurenotetext">
    <%= f.input :procedure_note, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 15, :cols => 70, :value => @operative_note.read_attribute(:procedure_note) } %>
  </div>
  <div class="col-md-3 search-notes">
    <%= render partial: "templates/ipd/common/saved_procedure_notes_list"  %>
  </div>
</div>
