<% if !@appointmentdaylist.nil? %>

    <% @appointmentdaylist.each_with_index() do |appointment, index| %>
            <tr>
              <td>
                  <% if appointment.seen %>
                      <span class="label label-success">Seen</span>
                  <% else %>
                      <% if appointment.visittype == 'Fresh' %>
                          <span class="label label-primary">Fresh</span>
                      <% end %>
                      <% if appointment.visittype == 'Followup' %>
                          <span class="label label-warning">Followup</span>
                      <% end %>
                  <% end %>
              </td>
              <td><%= appointment.patient.fullname %></td>
              <td><%= "#{Time.strptime("#{appointment.appointmenttime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}" %></td>
            </tr>

    <% end %>

<% end %>