<select name="<%= name_attr %>" class="form-control full_width" id="opdrecord_appointment_type_id" style="width: 100%">
  <% option_values.each do |opt| %>
	  <% selected = selected.present? ? selected : (opt.is_default ? opt.id.to_s : '')%>
  	<option value="<%= opt.id.to_s %>" <%= selected.present? && opt.id.to_s == selected  ? 'selected' : '' %>><%= opt.label %></option>
  <% end %>
</select>