<div class="modal-dialog modal-sm">
    <div class="modal-content">  
	  		
	    <div class="modal-header">
			<h4 class="nomargin">Appointment list for</h4>
		</div>
	
	 	<%= render "daylisthover" %>

	</div>
</div>