<div class="modal-dialog modal-hg-patientreg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="nomargin">Print Appointment list</h4>
    </div>
    <%= render "opdappointmentlist" %>
  </div>
</div>