<!-- Case Print Entire List -->
<% diagnosis.diagnosislist.each_with_index do |elem, i|  %>
  <% if elem.created_from == "migration" %>
    <% diagnosis_output = elem.diagnosisname.capitalize %>
  <% else %>
    <% diagnosis_output = elem.diagnosisoriginalname.capitalize %>
  <% end %>
  <li><b><%= diagnosis_output %></b></li>
<% end %>