<div class="row">
        <div class="col-md-2">
          <%= link_to opd_appointments_newappointment_path, :class => "btn btn-info", :data => {:remote => true, 'toggle' =>  "modal", 
                    'target' => '#appointment-modal', method: :post} do %> <i class="glyphicon glyphicon-plus"></i> Add OT Appointment <% end %>
          <div class="mb10"></div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">OT by Doctor</h4>
            </div>
            <div class="panel-body">
              <div id='calendar-by-doctor' class="calendar-by-doctor" style="height: 200px; overflow: auto;">
                  <div class="rdio rdio-primary">
                          <span class="label label-default pull-right">2</span>
                          <input type="radio" name="radio" value="1" id="radioPrimary1">
                          <label for="radioPrimary1">Dr Miten Sheth</label>
                  </div>
                  <div class="rdio rdio-primary">
                          <span class="label label-default pull-right">3</span>
                          <input type="radio" name="radio" value="2" id="radioPrimary2">
                          <label for="radioPrimary2">Dr Mohit Maniar</label>
                  </div>
                  <div class="rdio rdio-primary">
                          <span class="label label-default pull-right">5</span>
                          <input type="radio" name="radio" value="3" id="radioPrimary3">
                          <label for="radioPrimary3">Dr Sushma Mullappa</label>
                  </div>              
              </div>
            </div>
          </div>
        </div><!-- col-md-3 -->
        <div class="col-md-10">
          <div id="calendar"></div>
        </div><!-- col-md-9 -->
</div>