<div class="modal-body">

    <div class="visible-print-block">
      <h1>i m print</h1>
    </div>

    <div class="hidden-print">
        <h1>i m print</h1>
    </div>

</div>

<div class="modal-footer hidden-print">
  <button aria-hidden="true" class="btn btn-info print-close" data-dismiss="modal">Close</button>
</div>

<script>
    jQuery(document).ready(function() {
        window.print();
        window.clearInterval();
    });
</script>
