<h2><i class="fa fa-calendar"></i> OPD Scheduler</h2>
<div class="opd-list-convention">
  <span class="label label-success">Patient OPD Completed</span>
  <span class="label label-primary">Fresh Appointment</span>
  <span class="label label-warning">Followup Appointment</span>
</div>