<div class="input"><div class="btn-group" target-input-id="status-filter">
  <button type="button" id="scheduled" data-value="scheduled" input-value="scheduled" class="btn btn-sm btn-white custom-radio-button btn-brown" name="apt-status">Scheduled</button>
  <button type="button" id="waiting" data-value="waiting" input-value="waiting" class="btn btn-sm btn-white custom-radio-button" name="apt-status">Waiting</button>
  <button type="button" id="engaged" data-value="engaged" input-value="engaged" class="btn btn-sm btn-white custom-radio-button" name="apt-status">Engaged</button>
  <button type="button" id="completed" data-value="completed" input-value="completed" class="btn btn-sm btn-white custom-radio-button" name="apt-status">Completed</button>
</div>
<div class="input"><input class="hidden" type="hidden" id="status-filter" value="scheduled"></div></div>