// if(jQuery('#appointments-schedule-table').length) {
// if($("#show_calender_view").length){
//   // jQuery('#appointments-schedule-table').dataTable().fnDraw()

//   //Hide Modal
//   jQuery("#appointment-modal").modal("hide");

//   //Reload Data
//   window.Showday.fetchAppointmentData('<%= @appointment.id%>',$(".appointments_today").find(".active").find(".active").attr("data-appointment-tab"));
// } else if(jQuery("#calendar").length) {
//   jQuery("#calendar").fullCalendar('refetchEvents')
//   jQuery("#appointment-modal").modal("hide")
// } else {
// 	jQuery('#appointment-modal .modal-hg-patientreg ').addClass('modal-sm')
// 	jQuery('#appointment-modal .modal-header').html('<button type="button" class="close dash_reload" data-dismiss="modal">&times;</button><h4 class="modal-title">Appointment Created</h4>')
//   jQuery('#appointment-modal .modal-body').html('<h5 style="text-align:center">The Appointment has Been Created.</h5>')
//   jQuery('.dash_reload').on("click",function(){
//   	location.reload();
//   });
// }

jQuery("#appointment-modal").modal("hide");

// Appointment List
if($(".appointment-panel").length > 0){
  var doctor_id = $("#sidebar_doctors_appointment .active").find('a').attr('data-doctor-id')
  if(<%= current_facility.clinical_workflow %>){
    var active_tab = 'not_arrived'
  } else {
    var active_tab = 'all'
  }
  refresh_appointment_management(doctor_id,active_tab,"<%= @appointment.id.to_s %>","<%= @appointment.appointmentdate %>")
}

// Appointment Calendar
if($(".appointment-calendar-panel").length > 0) {
  $("#opd-calendar").fullCalendar('refetchEvents');
}