<div class="table-responsive">
	  <table class="table table-dark mb30">
	      <thead>
	          <tr>
	              <th>Visit Type</th>
	              <th>Name</th>                                
	              <th>Time</th>
	          </tr>
	      </thead>
	      <tbody class="appointment-list-day-popover">
	          <%= render "appointmentdaylist" %>
	      </tbody>
	  </table>
</div>