jQuery(".mainpanel").html("<div class='contentpanel'>" + "<%= escape_javascript(render 'opd_appointments/showdaycontentpanel') %>" + "</div>")
<% unless current_facility.clinical_workflow %>
    <%= render partial: 'showday_init.js' %>
<% else%>
    <%unless current_user.has_role?"counsellor"%>
        <%= render partial: 'workflow_showday_init.js' %>
    <%else%>
        <%#= render partial: 'counsellor_showday_init.js' %>
        <%= render partial: 'opd_clinical_workflow/counsellor/counsellor_list_view.js' %>
    <%end%>
<% end %>