jQuery(".joint_knee_left").popover({
  animation : true,
  placement : 'top',
  title : function() {
    return jQuery(this).data("limb").replace(/^[a-z]/, function(m){ return m.toUpperCase() }) + " " + jQuery(this).data("limblocation").replace(/^[a-z]/, function(m){ return m.toUpperCase() }) + " " + jQuery(this).data("side").toUpperCase();
  }, //'Trauma Antotation'
  html : true,
  content : function() {
    var popoverlimblocation =   jQuery(this).data("limb") + "_" + jQuery(this).data("limblocation") + "_" + jQuery(this).data("side");
    var emtpydiv =  jQuery('<div/>', { id: 'popover-div' });
    return jQuery("."+popoverlimblocation).children().appendTo(emtpydiv);
    //return jQuery(".lowerlimb_knee_l").html();
  },
  trigger : 'click',
  template : '<div class="popover" role="tooltip" style="min-width: 370px"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'

}).on('shown.bs.popover', function (eventShown) {
  var actuallimblocation =   eventShown.currentTarget.dataset['limb'] + "_" + eventShown.currentTarget.dataset['limblocation'] + "_" + eventShown.currentTarget.dataset['side'];
  var $popup = jQuery('#' + jQuery(eventShown.target).attr('aria-describedby'));
  $popup.find('button.traumaannotate-cancel').click(function (e) {
    e.preventDefault();
    jQuery(".popover-content").children().appendTo("."+actuallimblocation);
    $popup.popover('hide');
  });
  $popup.find('button.traumaannotate-save').click(function (e) {
    console.log("hiding save button");
    $popup.popover('hide');
  });
});

/*var contentHtml = [
 '<div>',
 '<button class="btn btn-link cancel">Cancel</button>',
 '<button class="btn btn-primary save">Save</button>',
 '</div>'].join('\n');

 jQuery('.joint_knee_left').popover({
 title: 'Bar',
 html: true,
 content: contentHtml,
 trigger: 'click'
 }).on('shown.bs.popover', function (eventShown) {
 var $popup = jQuery('#' + jQuery(eventShown.target).attr('aria-describedby'));
 $popup.find('button.cancel').click(function (e) {
 $popup.popover('hide');
 });
 $popup.find('button.save').click(function (e) {
 $popup.popover('hide');
 });
 });*/


/*
 jQuery(".joint_knee_left").popover({
 animation : true,
 placement : 'top',
 title : 'Trauma Antotation',
 html : true,
 content : function() {
 var params = {limb: jQuery(this).data("limb"), side: jQuery(this).data("side")};
 jQuery.ajax({
 type: "GET",
 url: "/templates/annontatetrauma",
 data: {traumaparams: params, remote: "true" }
 }).done(function( data ) {
 jQuery('.popover.in .popover-content').empty();
 jQuery(".popover.in .popover-content").html(data);
 //jQuery(".popover.in").css("top","-185.5px");
 });
 },
 trigger : 'click',
 template : '<div class="popover" role="tooltip" style="min-width: 370px"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'

 }).on('shown.bs.popover', function (eventShown) {
 var $popup = jQuery('#' + jQuery(eventShown.target).attr('aria-describedby'));
 $popup.find('button.traumaannotate-cancel').click(function (e) {
 console.log("hiding cancel button");
 $popup.popover('hide');
 });
 $popup.find('button.traumaannotate-save').click(function (e) {
 console.log("hiding save button");
 $popup.popover('hide');
 });
 });
 */


/*jQuery(".joint_knee_left").on("click", function(event) {
 event.preventDefault();
 console.log("knee left clicked");
 var i = jQuery(this);
 console.log(i);
 console.log(this);
 console.log(jQuery(this).data("limb"));
 console.log(jQuery(this).data("side"));
 *//*if (!jQuery(this).is(event.target) && jQuery(this).has(event.target).length === 0 && jQuery('.popover').has(event.target).length === 0) {
 jQuery(this).popover('hide');
 }*//*
 jQuery(this).popover({
 animation : true,
 placement : 'left',
 title : 'Patient Details',
 html : true,
 content : function() {
 var params = {limb: jQuery(this).data("limb"), side: jQuery(this).data("side")};
 jQuery.ajax({
 type: "GET",
 url: "/templates/annontatetrauma",
 data: {traumaparams: params, remote: "true" }
 }).done(function( data ) {
 jQuery('.popover.in .popover-content').empty();
 jQuery(".popover.in .popover-content").html(data);
 //jQuery(".popover.in").css("top","-185.5px");
 });
 },
 trigger : 'focus',
 template : '<div class="popover" role="tooltip" style="min-width: 370px"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'

 }).popover('show');
 });*/
/*$("#knee_left").on('click', function(e) {
 console.log("knee left clicked");
 e.preventDefault();
 var i = $(this);
 console.log(i);
 console.log(this);
 $(this).popover({
 placement : 'left',
 title : 'Patient Details',
 html : true,
 content : "And here's some amazing content. It's very engaging. Right?",
 trigger : 'focus',
 template : '<div class="popover" role="tooltip" style="min-width: 370px"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'

 }).popover('show');

 });*/
