<div class="mis_list">
  <h4>Patient Outcomes</h4>
  <% group = "patient_outcomes" %>
  <ul data-test-title="Vision Improvement" class="nav">
    <li data-test-title="Vision Improvement">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: "vision_improvement"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Vision Improvement</span>
      <% end %>
    </li>
  </ul>
</div>
