    <div class="logopanel">
        <%= render "loggedin/logo" %>
    </div><!-- logopanel -->
    
    <div class="leftpanelinner">

        <div class="leftnav"> <!-- added HG -->
            <%= render "loggedin/leftnav" %>           
        </div> <!-- leftnav -->
      
    </div><!-- leftpanelinner -->