<% diagnosis_advised_by_users = @case_sheet.diagnoses.pluck(:advised_by).uniq.reject { |c| c.nil? || c.empty? } %>
<% diagnosis_advised_by_dates = @case_sheet.diagnoses.pluck(:advised_datetime).map { |datetime| datetime.try(:strftime, '%d/%m/%Y') if datetime }.compact.uniq.reject { |c| c.nil? || c.empty? } %>
<div class="row">
  <% if diagnosis_advised_by_users.count > 0 || diagnosis_advised_by_dates.count > 0 %>
    <div class="col-md-12">
      <div class="row">
        <% if diagnosis_advised_by_users.count > 0 %>
          <div class="col-md-4">
            <b>Advised By</b>
            <%= select_tag :diagnosis_advised_by_filter, options_for_select(diagnosis_advised_by_users, ''), include_blank: 'All', class: 'form-control p7_10' %>
          </div>
        <% end %>
        <% if diagnosis_advised_by_dates.count > 0 %>
          <div class="col-md-4">
            <b>Advised On</b>
            <%= select_tag :diagnosis_advised_on_filter, options_for_select(diagnosis_advised_by_dates, ''), include_blank: 'All', class: 'form-control p7_10' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div id='diagnosis-table' class="col-md-12">
    <%= render partial: 'outpatients/appointment/appointment_details/tab_details/diagnoses/table.html.erb' %>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/diagnoses/index.js.erb' %>
</script>
