<div class="modal-dialog" style="width: 40%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="color: #00BFFF">Select Vendor</h4>
    </div>
    <div class="modal-body window-body">
      <div class="row mb5">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <b>Vendor:</b>
        </div>
        <div class="col-md-5">
          <%#= select_tag 'vendor_list[vendor_name]', options_for_select(@vendors, selected: ''), include_blank: true, include_hidden: false, class: 'form-control vendor-name', id: 'vendor_id', style: 'padding: 5px' %>
        <select class="form-control po-ship-to-store" name="vendor_list[vendor_name]" id="vendor_location_id" , style= 'padding: 5px'>
            <option value="">Select</option>
            <% @vendor_locations.each do |vendor| %>
              <option value="<%= vendor.id %>">
                <%= po_vendor_location_format(vendor) %>
              </option>
            <% end %>
        </select>
       </div> 
        <div class="col-md-3"></div>
      </div>
    </div>
    <div class="modal-footer window-footer">
    </div>
  </div>
</div>

<script type="text/javascript">

  $("#vendor_location_id").on("change", function(e) {
    e.preventDefault();
    var store_id = '<%= params[:store_id] %>'
    var vendor_location_id = $('#vendor_location_id').val()
    $("#vendor-list-modal").modal("hide")

    jQuery.ajax({
      type: 'get',
      dataType: 'script',
      data: {
        store_id: store_id,
        vendor_location_id: vendor_location_id,
        remote: true
      },
      url: '/inventory/transaction/purchases/new'
    });
  })

  $('#vendor_location_id').select2();
</script>