<div id="toolbar">
  <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top " style="margin-top: 50px; left: auto; right: auto; width: 50%;z-index:555;">
    <div class="container-fluid">
      <div class="col-md-6">
        <h4 style="margin:13px 0 0 0;font-size:18px;">Optical Details</h4>
      </div>
      <div class="col-md-6">
        <!-- <%#= link_to prescriptions_show_optical_conversion_report_path(inv_name: 'optical'), :class => "btn btn-info navbar-btn navbar-btn-hover pull-right", style:"border-color:#FF8735", :data => {remote: true} do %> <i class="fa fa-line-chart fa-xs">&nbsp;</i>Report<%# end %> -->
      </div>
    </div>
  </nav>
</div>

<div id="optical_summary" style="height: calc(100% - 50px); margin-top: 50px; overflow-y: scroll; background-color: rgb(255, 255, 255);">
</div>