<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-xs-6">
    <h4> PSR Devices</h4>
  </div>
  <div class="col-xs-6 text-right">
    <%= link_to new_link_psr_path, data: { remote: true, toggle: "modal", target: "#psr-device-modal" }, class: "btn btn-primary",  style: "margin:6px;" do %><i class="fa fa-plus"></i> Add Device<% end %>
  </div>
</div>
<div class="row">
  <%= render partial: "active_device_view.html.erb" %>
</div>
<div class="row">
  <%= render partial: "unregistered_device_view.html.erb" %>
</div>

<style type="text/css">
  .room-details {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #eee;
  }
  #table-wrapper {
    position:relative;
    width: 95%;
  }
  .psr-table{
    width: 1100px;
    margin-left: 2%;
    max-width: 90%;
    margin-bottom: 20px;
    background-color: #f3f1f1;
  }
  #table-scroll {
    height:200px;
    overflow:auto;
    margin-top:20px;
    margin-left: 1.5%;
  }

  .room-details .table-room-details {
    box-shadow: 0 0 5px 0 #aaa;
  }

  .room-details .table-room-details:last-child {
    margin-bottom: 0px;
  }

  .table-room-details > tbody > tr > td, .table-room-details > thead > tr > th {
    font-size:12px;
    padding:5px;
  }
</style>