<span>
  <p class="scan-heading">Scan this QR code</p>
</span>
<div class="qr-code">
  <%= image_tag render_qr_code(params[:qr_code_text], 17) %>
</div>
<script>
  setTimeout(function(){
        $('#qr-content').empty().html(
            '<div class="refresh-button" onclick="append_value_to_qr()"> ' +
            '<img src="https://cdn3.iconfinder.com/data/icons/flat-icons-web/40/Refresh-512.png" style="width: 50%;}">' +
            '</div>')
      },
      200000);
</script>
