<% if @available_device.present? %>
$('#psr-device-modal').modal('hide');
$('#active_device').append("<%= j render partial: 'tr_data.html.erb' %>");
<% else %>
$('#error-msg').html("<p style='color: red; text-align: center;'> DEVICE IS NOT LINKED YET</p>");
<% end %>
<%if  @link_facility.present? %>
$("#row_<%= @link_facility.id %>").remove();
<% end %>
