<% if @counsellor_record.patient_discussions.count > 0 %>
  <% @counsellor_record.patient_discussions.each do |k, discussion| %>
    <div class="row mb10">
      <div class="col-md-12">
        <% if discussion[:note].present? %>
          <strong><%= discussion[:note_date] %> - <%= discussion[:note] %></strong>
        <% else %>
          <i><%= discussion[:note_date] %> - No Note</i>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>