<div class="row">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Other Charges Information</strong></div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Name</strong><br>
    <%= f.text_field :name, { class: 'form-control p7_10 fullname', placeholder: 'Name' } %>
  </div>
  <div class="col-sm-12">
    <strong>Description</strong><br>
    <%= f.text_area :description, { class: 'form-control p7_10 description', placeholder: 'Description' } %>
  </div>
</div>
