<%= render partial: '/outpatients/common_css.html.erb' %>
<div class="col-xs-6 sidebar_area" style="background: white;">
  <!-- #toolbar_area -->
  <div class="sidebar_area_content">
    <div class="col-xs-3 sidebar_pane sidebar-doctors-appointment no_padding" id="sidebar_doctors_appointment" style="overflow:auto;">

    </div>
    <div class="col-xs-12 sidebar_pane" id="sidebar_summary">
      <div class="sidebar-summary-appointment">
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 appointment_main_content" style="padding:0px;">

</div>
<script type="text/javascript">
    var window_height = $(window).height() - 50
    $(".sidebar_area").css('height',window_height)
    $(".appointment_main_content").css('height',window_height)

    $(window).resize(function() {
        var window_height = $(window).height() - 50
        $(".sidebar_area").css('height',window_height)
        $(".appointment_main_content").css('height',window_height)
    })
</script>