<div class="row surgery_packages-selection mb20">
  <div class="col-md-6">
    <div class="row surgery_packages">
      <div class="col-md-12">
        <strong style="text-decoration: underline;">SURGERY PACKAGE</strong>
      </div>
      <div class="col-md-12 mt10">
        <% package = @counsellor_record.patient_surgery_package[:package_id] || @case_sheet.latest_surgery_package[:package_id] %>
        <%= select_tag("surgery_packages_list", options_for_select(@surgery_packages.map { |surgery_package| ["#{surgery_package.display_name} - #{surgery_package.amount}", surgery_package.id] }, package), include_blank: "Select Surgery Package", class: "form-control p5_10", style: "height:30px;padding:5px;") %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="surgery_package_details">
      <% if @counsellor_record.present? || @case_sheet.present? %>
        <%= render partial: 'counsellor_records/forms/get_surgery_package_details.html.erb' %>
      <% end %>
    </div>
  </div>
</div>