<div class="row mb5">
  <div class="col-md-6">
    <div class="row patient-history">
      <div class="col-md-12">
        <%= render partial: 'case_sheets/views/case_histories.html.erb' %>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="border-left:1px solid #aaa;height:100%;">
    <div class="row patient-diagnosis">
      <div class="col-md-12">
        <%= render partial: "counsellor_records/forms/patient_diagnoses.html.erb" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row patient-history-comment">
      <div class="col-md-12">
        <%= f.text_area :history_comment, class: 'form-control p7_10', placeholder: 'History Comment' %>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="border-left:1px solid #aaa;height:100%;">
    <div class="row patient-diagnosis">
      <div class="col-md-12">
        <%= f.text_area :diagnosis_comment, class: 'form-control p7_10', placeholder: 'Diagnosis Comment' %>
      </div>
    </div>
  </div>
</div>