<div class="row">
  <div class="col-md-2">
    <strong style="text-decoration: underline;">FOLLOWUP</strong>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <b>Followup Date</b>
    <div class="input-group">
      <span class="input-group-addon" style="padding: 3px 10px;"><i class="glyphicon glyphicon-calendar"></i></span>
      <%= text_field_tag 'counsellor_record[patient_followup][0][date]', "", class: 'patient_followup_date form-control p3_10', placeholder: "dd/mm/yyyy", readonly: "readonly" %>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-1">
    <b>Followup Time</b>
    <div class="input-group">
      <span class="input-group-addon" style="padding: 3px 10px;"><i class="glyphicon glyphicon-time"></i></span>
      <div class="bootstrap-timepicker timepicker">
        <%= text_field_tag 'counsellor_record[patient_followup][0][time]', "", class: 'patient_followup_time form-control p3_10' %>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-1">
    <b>Facility</b>
    <%= select_tag 'counsellor_record[patient_followup][0][facility]', options_for_select(current_user.facilities.pluck(:name, :id), ''), {include_blank: "Select", class: "patient_followup_facility form-control p3_10"} %>
  </div>
</div>