$(document).ready(function(){

  // Add New Service
  $("#add_service_insurance").on('click', function(e){
    e.preventDefault()
    var service_row_count = $('#services_items').children().length
    $("#services_items").append('<div class="service_row_count mb5 mt5" title="'+ service_row_count +'"><div class="row service_row mb10"><div class="col-md-3"><input style="padding: 5px 10px;" class="form-control service_name" placeholder="Service Name" type="text" name="invoice_insurance_estimate[services]['+ service_row_count +'][name]"></div><div class="col-md-4"></div><div class="col-md-3"><input style="padding:5px 10px;text-align: right;" class="form-control service_total" placeholder="Service Total" type="number" name="invoice_insurance_estimate[services]['+ service_row_count +'][service_total]"></div><div class="col-md-2 text-right"><button class="btn btn-danger btn-xs remove_service_item" style="padding:0 5px; margin-top:3px;"><i class="fa fa-trash-alt"></i> Remove Service</button></div></div><div class="service_item_row_count mb10" id="service_item_row"></div></div>');


    // Create Hook To Calculate Total
    
    $(".service_total").on('keyup', function(){
      var service_total = 0
      var estimate_total = $(this).closest("#services_items").find(".service_total")
      for (var i = 0; i < estimate_total.length; i++) {
        
        service_total = service_total + parseFloat($(estimate_total[i]).val())
      };
      $("#invoice_gross_total").val(service_total)
    });

    // Create Hook To Remove Service Button Of The Newly Created Service
    $("#services_items").find(".service_row_count").last().find(".remove_service_item").on('click', function(e){
      e.preventDefault();
      var service_total = 0
      var estimate = $(this).closest("#services_items")
      $(this).closest(".service_row_count").remove();

      var estimate_total = $(estimate).find(".service_total")
      for (var i = 0; i < estimate_total.length; i++) {
        service_total = service_total + parseFloat($(estimate_total[i]).val())
      };
      $("#invoice_gross_total").val(service_total)

      // Reset Name Counter Attribute For Service
      remove_reset_logic();
      
    });
  });

  // Remove Service Item For Default Existing Field
  $(".remove_service_item").on('click', function(e){
    e.preventDefault();
    var service_total = 0
    var estimate = $(this).closest("#services_items")
    $(this).closest(".service_row_count").remove();

    var estimate_total = $(estimate).find(".service_total")
    for (var i = 0; i < estimate_total.length; i++) {
      service_total = service_total + parseFloat($(estimate_total[i]).val())
    };
    $("#invoice_gross_total").val(service_total)

    // Reset Name Counter Attribute For Service
    remove_reset_logic();
  });

  $(".service_total").on('keyup', function(){
    var service_total = 0
    var estimate_total = $(this).closest("#services_items").find(".service_total")
    for (var i = 0; i < estimate_total.length; i++) {
      service_total = service_total + parseFloat($(estimate_total[i]).val())
    };
    $("#invoice_gross_total").val(service_total)
  });

  $("#add_patient_info").on('click', function(e){
    e.preventDefault();
    $("#patient_button").hide();
    $(".patient_info_partial").show();
  });

  // Logic For Remove Reset
  function remove_reset_logic() {
    var x = $("#services_items").find(".service_row_count")
    for (var i = 0; i < x.length; i++) {
      $(x[i]).find(".service_name").attr('name','invoice_insurance_estimate[services][' + i + '][name]')
      $(x[i]).find(".service_total").attr('name','invoice_insurance_estimate[services]['+ i +'][service_total]')
      $(x[i]).attr('title',i)
    };
  }

});

// Documentation Here