<% if @sub_stores.size > 0 %>
  <% @sub_stores.each do |sub_store| %>
    <% if sub_store.is_deleted %>
      <tr id="<%= sub_store.id %>" class="inventory-list-row" style="color: red;">
    <% else %>
      <tr id="<%= sub_store.id %>" class="inventory-list-row" style="color: #17a08c;">
    <% end %>
      <td class="col-md-6 text-center"><b><%= sub_store.name&.upcase %></b></td>
      <% status = sub_store.is_deleted ? 'Inactive' : 'Active' %>
      <td class="col-md-6 text-center"><b><%= status %></b></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
