<div class="inventory-item-toolbar1 inventory-toolbar">
  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0;">
      <div class="col-xs-1 link-to-calendar" style="padding-left:initial">
        <div class="navbar-header" style="margin-top: 7px;">
          <button class="btn btn-link btn-xs btn-inventory-refresh"><i class="fa fa-refresh" style="color:#fff;"></i></button>
        </div>
      </div>

      <div class="col-xs-6" style="padding: 5px 10px">
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-119-100") %>
            <%= link_to new_inventory_sub_store_path(store_id: @inventory_store.id), class: 'btn btn-primary', data: { remote: true } do %><i class="fa fa-plus"></i> Add Sub-Store<% end %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="inventory-items" style=" height: initial;">
  <table class="table inventory_table_center">
    <thead class="inventory-table-head">
    <tr class='thead-fixable'>
      <td class='col-md-6 text-center'>Name</td>
      <td class='col-md-6 text-center'>Status</td>
    </tr>
    </thead>
    <tbody class="inventory-table-body">
      <%= render partial: 'index_body.html.erb' %>
    </tbody>
  </table>
</div>

<style>
  .inventory-list-row:hover{
    background: aliceblue;
    cursor: pointer;
  }

  .inventory-list-row {
    cursor: pointer;
  }
  .navbar-secondary {
    background: #354670;
    color: white;
    border-color: transparent;
  }
</style>
