$("#sub-store-modal").modal("hide")
$(".inventory-table-body").html("<%= escape_javascript(render partial: 'index_body.html.erb') %>")
  
$(".inventory-show-panel").html('<h3 class="text-center" style="margin-top: 200px">Please select from list.</h3>')

$('.inventory-items .inventory-list-row').unbind()
$('.inventory-items .inventory-list-row').on('click', function(e){
  e.preventDefault();
  $('.inventory-list-row').css('background-color', '')
  $(this).css('background-color', '#cfe8d2')
  var _id =  $(this).attr('id');
  $.ajax({
    type: 'GET',
    data: {
      store_id: '<%= @store_id %>',
      remote: true
    },
    url: '/inventory/sub_stores/'+_id,
    success: function(){
    }
  })
})

notice = new PNotify({ title: 'Success',
                         text: 'Successfully Disabled Sub Store. Please REFRESH the page.',
                         type: 'error' });
  notice.get().click(function(){ notice.remove() });
