<style type="text/css">
  .width90{
    width: 95%;
  }
  .modal-footer{
    border-top: transparent;
  }
</style>
<div class="modal-dialog width90">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-8">
          <h4 class="modal-title">Search Result for : <%= @procedure_name %> </span> (<%=  @laterality.present? ? @laterality.try(:capitalize) : '' %>)<span class="pull-right" style="color: #354670;"></h4>
        </div>
        <div class="col-md-4 text-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a target="_blank" class="btn btn-success download_csv_file" data-laterality_code="<%= @laterality %>">Download XLS</a>
        </div>
      </div>
    </div>

    <div class="modal-body">
      
      <% @patient_procedure.try(:keys).each do |laterality| %>
        <div class="row">
          <% group_in = (@patient_procedure[laterality].count / 3)  + (@patient_procedure[laterality].count % 3) %>
          <% @patient_procedure[laterality].in_groups_of(group_in).each do |lat| %>
            <div class="col-md-4 col-sm-4 col-xs-6 list">
              <%= render partial: "search/results/procedures/patient_list_modal_data", locals: {laterality: lat} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="modal-footer">
      
    </div>
  </div>
</div>
<script type="text/javascript">
  SearchParams.laterality = $('.download_csv_file').attr('data-laterality_code')
  $(".download_csv_file").attr('href',"/search/results/procedures.xls?above_age="+SearchParams.above_age+"&below_age="+SearchParams.below_age+"&code="+SearchParams.code+"&eye_drop_allergies="+eval(SearchParams.eye_drop_allergies)+"&gender="+SearchParams.gender+"&laterality="+SearchParams.laterality+"&procedure_stage="+SearchParams.procedure_stage+"&search_filter="+SearchParams.search_filter+"&systemic_history="+eval(SearchParams.systemic_history)+"&type="+SearchParams.type+"")

</script>