<div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
  <a class="btn btn-warning btn-sm" >
    <%= (@store_type_name.blank? || @store_type_name == 'All') ? 'Sub-Store' : @store_type_name %>
  </a>
  <button type="button" class="btn btn-warning btn-sm dropdown-toggle " data-toggle="dropdown" style="">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu mis-search-toggle-off" id="sub-store-type-list" style="overflow-y: auto;max-height:400px;">
    <li><a type="" style='cursor: pointer;'>All</a></li>
    <% sub_stores_type(@inventory_store.id).each do |type| %>
      <li><a type='<%= type[1] %>' style='cursor: pointer;'>
        <%= type[0] %>
      </a></li>
    <% end %>
  </ul>
</div>
