<div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
  <a class="btn btn-warning btn-sm" >
    <%= @transaction_type.blank? ? 'Transaction Type' : (@transaction_type == 'Return' ? 'Sales Return' : @transaction_type) %>
  </a>
  <button type="button" class="btn btn-warning btn-sm dropdown-toggle " data-toggle="dropdown" style="">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu mis-search-toggle-off" id="transaction-type-list" style="overflow-y: auto;max-height:400px;">
    <li><a type="" style='cursor: pointer;'>All</a></li>
    <% transaction_types.each do |type| %>
      <li><a type='<%=type%>' style='cursor: pointer;'>
        <%= type == 'Return' ? 'Sales Return' : type %>
      </a></li>
    <% end %>
  </ul>
</div>

<%#= link_to type, inventory_audit_histories_url(store_id: @store_id, start_date: @start_date, end_date: @end_date, time_period: @time_period), remote: true %>