<div class="row">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Terms & Conditions</strong></div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-6 mb5">
    <strong>Type</strong><br>
    <% type_array = [['Payment Terms', 'payment_terms'], ['Delivery Terms', 'delivery_terms']] %>
    <%= f.select :type, type_array, { include_blank: true }, { class: 'form-control', required: true } %>
  </div>
  <div class="col-sm-12 mb5">
    <strong>Description</strong><br>
    <%= f.text_field :description, { class: 'form-control p7_10 description', placeholder: 'Description' } %>
  </div>
</div>
