<div class="col-md-4 text-center " style="margin-top: 10px">
  <%= text_field_tag :investigation_name,nil ,class: "form-control "%>
</div>

<div class="col-md-4 text-center" style="margin-top: 10px">
  <%= text_field_tag :investigation_val,nil,class: "form-control "%>
</div>

<div class="col-md-4 text-center" style="margin-top: 10px">
  <%= text_field_tag :normal_range,nil,class: "form-control "%>
</div>
