<div class="row">
  <div class="col-md-12" style="text-decoration: underline;"><b>PATIENT HISTORY</b></div>
  <div class="col-md-12">
    <%= render partial: "templates/common/allergies_view.html.erb", locals: {opdrecord: @patient} %>
  </div>
</div>
<% if @case_sheet.present? %>
  <% if @case_sheet.chief_complaints.count > 0 %>
    <div class="row">
      <div class="col-md-12" style="text-decoration: underline;"><b>CHIEF COMPLAINTS</b></div>
      <div class="col-md-12">
        <%= render partial: 'case_sheets/views/case_sheet_chief_complaints.html.erb' %>
      </div>
    </div>
  <% else %>
    <!-- <div class="row">
      <div class="col-md-12" style="text-decoration: underline;"><b>CHIEF COMPLAINTS</b></div>
      <div class="col-md-12"><span>No Chief Complaints</span></div>
    </div> -->
  <% end %>

  <% if @case_sheet.free_form_histories.count > 0 %>
    <div class="row">
      <div class="col-md-12" style="text-decoration: underline;"><b>PATIENT HISTORY TEXT</b></div>
      <% @case_sheet.free_form_histories.each do |key, history| %>
        <div class="col-md-12">
          <span><b style="color: #333;"><%= history[:content].to_s.html_safe() %></b></span>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-12" style="text-decoration: underline;"><b>PATIENT HISTORY</b></div>
    <div class="col-md-12">
      <span>No History</span>
    </div>
  </div>
<% end %>