<!--<div class="modal-dialog modal-lg" style="width: 90%">-->
  <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
      <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
      <!--<h4 class="modal-title text-center">Add New Item to Inventory</h4>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
      <!--<div class="row">-->
        <!--<div class="col-lg-8" style="border-right: 1px solid #aaa;">-->
          <!--<form class="form-horizontal" id="formAddItem">-->
            <!--<div class="form-group" style="margin-bottom:10px;">-->
              <!--<label for="" class="col-sm-3 control-label">Category</label>-->
              <!--<div class="col-sm-7">-->
                <!--<select id="item_category" class="form-control">-->
                  <!--<option value="medication">Medication</option>-->
                  <!--<option value="consumable">Consumable</option>-->
                  <!--<option value="implant">Implant</option>-->
                  <!--<option value="miscellaneous">Miscellaneous</option>-->
                  <!--<option value="optical">Optical</option>-->
                  <!--<option value="stockable">Stockable</option>-->
                  <!--<option value="asset">Asset</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div id="category-specific-form" style="">-->
              <!--<%= render partial: '/inventory/item_categories/addMedication'%>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->


        <!--<div class="col-lg-4">-->
          <!--<h5 class="text-center instruction_head">Instructions</h5>-->
          <!--<div class='row'>-->
            <!--<div class="col-md-12 text-center" style="border-bottom:1px solid #eee;">-->
              <!--<span class='instruction_title'>Quantity/Unit:</span>-->
              <!--<p class="instruction_title_explanation"> Quantity In a Strip,Bottle,Etc. </p>-->
            <!--</div>-->
            <!--<div class="col-md-12 text-center" style="border-bottom:1px solid #eee;">-->
              <!--<span class='instruction_title'>Stock</span>-->
              <!--<p class="instruction_title_explanation"> Total No. of Strip,Bottle,Etc. </p>-->
            <!--</div>-->
            <!--<div class="col-md-12 text-center" style="border-bottom:1px solid #eee;">-->
              <!--<span class='instruction_title'>Min. Stock</span>-->
              <!--<p class="instruction_title_explanation"> Warns You if Stock Goes Less Than Selected Percentage. </p>-->
            <!--</div>-->
            <!--<div class="col-md-12 text-center" style="border-bottom:1px solid #eee;">-->
              <!--<span class='instruction_title'>Mark up</span>-->
              <!--<p class="instruction_title_explanation"> Total Profit Margin(in %) </p>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; <h5 class="text-center instruction_title">Instructions for Optical</h5> &ndash;&gt;-->
          <!--&lt;!&ndash; <div class="row">-->
          <!--</div> &ndash;&gt;-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer hidden-print">-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<script>-->
//  $("#item_category").on("change",function(){
//    console.log($("#item_category option:selected").text());
//
//    jQuery.ajax({
//      type: "GET",
//      dataType: "script",
//      data: {item_category: $("#item_category option:selected").text() , remote: "true" },
//      url: '/inventory/item_category'
//    });
//
//  })
<!--</script>-->