<%inventory_department_request_logs.each do |item| %>
    <li class='log-request' data-modelId='<%= item.id %>'><div class='row'><div class='col-lg-9'><%= Inventory::Department.find_by(department_id: item.department).name %></div><div class='col-lg-3'><%= item.items.length %></div></div></li>
<%end%>