<div class="inpatient-controls" id="inpatient-controls">
  <ul class="filemanager-options">
      <li>
          <span class="btn btn-info inpatient-controls-make-admission"><i class="fa fa-plus"></i> Add Inventory</span>
      </li>
      <li>
          <span class="btn btn-info inpatient-controls-print-admission-list"><i class="fa fa-cloud-upload"></i> Upload with excel</span>
      </li>
      <li>
          <span class="btn btn-info inpatient-controls-print-admission-list"><i class="fa fa-plus"></i> Order Inventory</span>
      </li>
  </ul>
</div>
<div class="row">

        <div class="col-md-12">

          <div class="panel panel-default panel-info panel-alt">
            <div class="panel-heading">
              <h4 class="panel-title">Inventory List</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                      <table class="table table-danger mb30">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Product Code</th>
                              <th>Product Name</th>
                              <th>Total</th>
                              <th>Instock</th>
                              <th>Vendor</th>                              
                              <th></th>
                            </tr>
                          </thead>
                          <tbody class="inventory-list">
                              <%= render "inventorylist" %>
                          </tbody>
                      </table>
                  </div><!-- table-responsive -->
                </div>
              </div>
            </div><!-- panel-body -->
          </div>

        </div><!-- col-md-12 -->

        
        
</div>