<!--<%# current_inventory = current_inventory %>-->
<div class="sidebar-main col-lg-2 col-md-2">
<div class="">
  <div class="title">
    <h4 class="sidebar-heading">Filters</h4>
    <hr />
  </div>
  <div class="inventory-filters">
    <ul class="<%= current_inventory %>">
      <li id="filter-outstocked" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Out of Stock (<%= @out_stock_count %>)
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="out_stock" style="padding: 0">
            <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>
      </li>
      <hr />
      <li id="filter-none" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            All (<%= @allCount %>)
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="all_item" style="padding: 0">
            <i class="fa fa-toggle-on"></i>
            </button>
          </div>
        </div>
      </li>
      <hr />
      <li id="filter-medications" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Medication
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="medication" style="padding: 0">
            <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>
      </li>
      <li id="filter-consumables" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Consumables
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="consumable" style="padding: 0">
            <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>
      </li>
      <li id="filter-implants" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Implants
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="implant" style="padding: 0">
            <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>
      </li>
      <li id="filter-stockable" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Stockable
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="stockable" style="padding: 0">
            <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>
      </li>
      <li id="filter-assets" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Assets
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="asset" style="padding: 0">
            <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>
      </li>
      <li id="filter-miscellaneous" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Miscellaneous
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="miscellaneous" style="padding: 0">
            <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>
      </li>

      <% if current_inventory == 'central' %>
          <li id="filter-optical" class="li-sidebar-filter">
            <div class="row">
              <div class="col-lg-8 col-md-8">
                Optical
              </div>
              <div class="col-lg-4 col-md-4 text-right">
                <button class="btn btn-link filter_type" filter="optical" style="padding: 0">
                  <i class="fa fa-toggle-off"></i>
                </button>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<% if current_inventory == 'central' %>
    <div class="" style="">
      <div class="title">
        <h4 class="sidebar-heading" style="display: inline;">Orders/Requests</h4><span id="btn-fetch-requests" class="pull-right mr10" style="cursor: pointer"><i class="fa fa-refresh"></i></span>
        <hr />
      </div>
      <div class="">
        <ul id="items_request" style="overflow-y: scroll;height: 200Px;">
          <%= render partial: "inventory/refresh_central_request_log", locals: {inventory_department_request_logs: @inventory_department_request_logs} %>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- <div class="sidebar" style="overflow-y:scroll">
      <div class="title">
        <h4>Sent Requests</h4>
        <hr />
      </div>
      <div class="inventory-filters">
        <ul>


        </ul>
      </div>
    </div> -->
<% end %>

</div>

<script type="text/javascript">

  $("#btn-fetch-requests").on('click',function(){
    $(this).find("i").addClass("fa-spin")
    $.ajax({
      url: '/inventory/refresh_central_request_log',
      type: 'get',
      data: {
        department: 'central'
      },
      success: function(){
        $("#btn-fetch-requests").find("i").removeClass("fa-spin")
      }
    });
  });

  $('.log-request').on('click', function(){

    request_log_id = $(this).attr('data-modelid')
    url = '/inventory/department/request_logs/'+request_log_id
    data = {
      department_id:  'central',
//      id: request_log_id,
    }

    $.ajax({
      type: "get",
      data: data,
      url: url,
    })
  })
</script>