<%# current_inventory = Inventory.current_inventory %>
<div class="col-lg-10 col-md-10">
<div class="toolbar">
  <div class="row">
    <div class="col-lg-5 col-md-5 inventory-control-panel" style="border-right: 1px solid white;">
      <div class="btn-group" role="group">
        <% if current_inventory == 'central' %>
            <a href="/inventory/items/new" data-remote="true" class="btn btn-primary btn-sm"> Add to Inventory</a>
            <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAddItem">-->
              <!--Add to Inventory-->
            <!--</button>-->
            <!--<button class="btn btn-success btn-sm" id="btnUploadExcelSheet">Upload Excel</button>-->
        <% else %>
          <a href="/inventory/department/request_logs/new?current_inventory=<%=current_inventory%>" data-remote="true" class="btn btn-primary btn-sm"> Request Items</a>
          <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalRequestItems">-->
            <!--Request Items-->
          <!--</button>-->
        <% end %>
        <% if current_inventory == 'central' %>
          <a href="/inventory/checkout_logs" data-remote="true" class="btn btn-warning btn-sm"> Checkout History</a>
        <%elsif current_inventory == '284748001'%>
          <a href="/invoice/inventories/department/pharmacy_invoices" data-remote="true" class="btn btn-warning btn-sm"> Checkout History</a>
        <%elsif current_inventory == '50121007'%>
          <a href="/invoice/inventories/department/optical_invoices" data-remote="true" class="btn btn-warning btn-sm"> Checkout History</a>
          <a href="/invoice/inventories/department/optical/advance_patient_list" data-remote="true" class="btn btn-success btn-sm"> Advance History</a>
        <%end%>
        <% if current_inventory == '50121007' %>
          <!--<button class="btn btn-success btn-sm" id="btnOpticalNOtification" data-toggle="modal" data-target="#modalOpticalNotification">Notify Customer</button>-->
        <% end %>
        <% unless current_inventory == 'central' %>
        <% end %>
        <!--<button type="button" class="btn btn-danger btn-sm" id="daily_report_print" data-dept-id="<%= current_inventory %>" >-->
          <!--<i class="fa fa-print"></i> Daily Report-->
        <!--</button>-->
        <!-- <button id="btnUpdateStockByExcel" class="btn btn-success btn-sm" data-toggle="modal">Update Stock</button> -->
      </div>
    </div>
    <div class="col-lg-2 col-md-2 text-center inventory-control-panel" style="">    
      <% unless current_inventory == '50121007' || current_inventory == '284748001' %>
          <button id="refresh_inventory" class="btn btn-xs btn-primary" style='width: 90px; margin-top: -18px'>Reload&nbsp;&nbsp;
            <i class="fa fa-refresh" style="color: white;"></i>
          </button>
          <div id="items_checkout_collection" style="display: inline; margin-left: 20px;">
            <a href="/inventory/items/show_cart" data-remote="true" class="">
              <i class="fa fa-shopping-bag" style="font-size: 35px;"><span class="badge badge-circle"><%=@inventory_item_cart_count%></span></i>
            </a>
          </div>
      <% else %>
          <button id="refresh_inventory" class="btn btn-xs btn-primary" style='width: 90px; margin-bottom: 3px'>Reload&nbsp;&nbsp;
            <i class="fa fa-refresh" style="color: white;"></i>
          </button>
      <% end %>
    </div>
    <div class="col-lg-5 col-md-5 text-right inventory-control-panel">
      <div id="inventory_search_panel">
        <input type="text" id="inventory_search" placeholder="Type Description to search..." class="form-control" >
      </div>
    </div>
  </div>
</div>
</div>