<div class="col-lg-12 col-md-12">
	<input type="hidden" id="inventory_controller_action" value="<%= params[:action] %>" />
  <div id="sidebar">
  </div>
  <div id="toolbar"></div>
  <div id="inventory">
  </div>
</div>