<% header_data = @data_array.shift(1).flatten %>
<meta charset="UTF-8">
<table>
  <thead>
    <tr>
      <% header_data.each do |data| %>
        <th style="color:#fff;background:#354670;"><%= data.to_s.html_safe %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @data_array.each do |data_set| %>
      <tr>
        <% data_set.each_with_index do |data, i| %>
          <td><%= data.to_s.html_safe %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
