<div class="modal-body" xmlns="http://www.w3.org/1999/html"> <!-- modal-body starts -->
  <div class="row">
    <div class="col-md-12">
      <div class="opdsummary">
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Medications:
          </div>
          <div class="col-md-9">
              <% count =1 %>
            <% @legacy_prescription.medicineinstructions.split("|").each do |lp| %>

              <%unless lp.split(",")[0] == " "%>
                <strong><%= count%></strong>. <%= lp %>
                <br>
                <%count= count+1%>
              <%end%>

            <%end%>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>