<div class="row">
  <div class="col-sm-3">
    <label for="" class="col-sm-12 control-label">Type:</label>
  </div>
  <div class="col-sm-8" id="optical_types">
    <label class="radio-inline">
      <input type="radio" class="optical_type" name="item_optical_type" id="item_threshold1" value="frame"> Frame
    </label>
    <label class="radio-inline">
      <input type="radio" class="optical_type" name="item_optical_type" id="item_threshold2" value="contact"> Contact Lenses
    </label>
    <label class="radio-inline">
      <input type="radio" class="optical_type" name="item_optical_type" id="item_threshold3" value="other"> Other
    </label>
  </div>
</div>

<div id="opticalForm" class="inventory-inputs" style="margin-top: 15px;">
  <%= render partial: '/inventory/items/item_categories/optical/addframe'%>
</div>


<script type="text/javascript">
  $("#optical_types input:radio:first").prop("checked", "checked")

  $("#optical_types input:radio").on("click",function(){
//    console.log($(this).val())
    $(this).val()

    jQuery.ajax({
      type: "GET",
      dataType: "script",
      data: {optical_type: $(this).val() , remote: "true" },
      url: '/inventory/optical_type'
    });

  });

  datepicker_options = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "yy-mm-dd",
    minDate: -0
    //showButtonPanel: true,
  };

  $('.datepicker').datepicker(datepicker_options);
  var $messages = $('#error-message-wrapper');
  // $.validate({
  // 	form: "#formAddItem",
  //  	showErrorDialogs: false
  //  	// errorMessagePosition : $messages,
  //   // scrollToTopOnError : false
  // });
</script>

