$("#organisation_appointments").html("<%= escape_javascript(render 'settings/admins/organisation_appointment_types') %>");

$("#add_new_appointment_type").on('click', function(e){
  e.preventDefault();

  var specialty_values = <%= raw @available_specialties %>;
  var specialty_options_arr = []
  $.each(specialty_values, function(index, value) { specialty_options_arr.push('<option value="'+ specialty_values[index][1] +'">'+ specialty_values[index][0] +'</option>') })

  var total_rows = $(".appointment_type_row").length;
  var random_color = pallette_array[Math.floor(Math.random()*pallette_array.length)]

  var hidden_fields = '<input id="appointment_types_row_count_user_id" name="appointment_types[' + total_rows + '][organisation_id]" type="hidden" value="<%=current_user.organisation_id.to_s %>"><input id="appointment_types_row_count_is_active" name="appointment_types[' + total_rows + '][is_active]" type="hidden" value="true"><input type="hidden" value="10" class="form-control slot-duration-validation" id="appointment_types_row_count_duration" min="1" name="appointment_types[' + total_rows + '][duration]" type="number"><input id="appointment_types_row_count_is_updated" name="appointment_types[' + total_rows + '][is_updated]" type="hidden" value="true">'

  var specialty_div = '<div class="col-md-4" style="margin-left: 56px;"><select class="form-control specialty_ids_dropdown" multiple="multiple" style="max-height:34px;" name="appointment_types['+ total_rows +'][specialty_ids][]">'+ specialty_options_arr + '</select></div>'

  var single_row_html = '<div class="col-md-3"><input class="form-control appointment-label-validation" id="appointment_types_row_count_label" name="appointment_types[' + total_rows + '][label]" type="text"></div><div class="col-md-2"><input class="form-control" id="appointment_types_row_count_background" name="appointment_types[' + total_rows + '][background]" type="text" value='+ random_color +'></div><div class="col-md-1"><input id="default_row_count" name="default" type="radio" value="row_count"></div>'+ specialty_div +'<div class="col-md-1"><span id="remove_appointment_type_row_count" class="btn btn-sm btn-primary btn-danger glyphicon glyphicon-remove"></span></div>';

  var final_row = '<div class="row form-group appointment_type_row text-center">' + hidden_fields + single_row_html + '</div>'

  $("#total_appointment_types_count").val(+total_rows+1);
  $("#appointment_types").find('.append-row-below').after(final_row);

  $('.specialty_ids_dropdown').select2()
  init_color_picker()
});

// to remove row
$("#full-appointment-types").on('click', "[id^=remove_appointment_type_]",function(e){
  var id = e.currentTarget.id
  var change_current_checked_radio = $(this).closest('.form-group').find('[id^=default_]');
  if(change_current_checked_radio.is(':checked')){
    $('.default_radio_btn:enabled').first().prop('checked',true);
  }
  $("#" + id).parent().parent().remove();
})

$("#full-appointment-types").on('change', '[id^=default_]', function(e){
  var id = e.currentTarget.id;
  var _this = $(this);
  $('[id^=default_]').each(function(){
    $(this).prop('checked',false);
  })
  _this.prop('checked', true);
  $('.initial_check').closest('.row_changed').find('.updated_check').val('true')
})

// $(".specialty_dropdown").on('change', function(e) {
//   $.ajax({
//     url: '/organisation_appointment_types/organisation_appointment_type',
//     type: 'get',
//     data: { specialty_id: this.value }
//   });
// })




