<div class="mis_list">
  <h3>Inpatient</h3>
  <% group = 'inpatient' %>
  <ul data-test-title="Outpatient" class="nav">
    <li data-test-title="Patient Type Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'inpatient_detail'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Visit Summary</span>
      <% end %>
    </li>
    <li data-test-title="Date Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'ipd_date_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Admission Date Wise</span>
      <% end %>
    </li>
    <li data-test-title="Date Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'ipd_statistics'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Visit Statistics</span>
      <% end %>
    </li>
    <li data-test-title="Date Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'ipd_location_statistics'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Patient By Region (city, state, etc.)</span>
      <% end %>
    </li>
  </ul>
</div>

