<div class="mis_list">
  <h4>Audit</h4>
  <% group = "audit" %>
  <ul data-test-title="Audit" class="nav">
    <li data-test-title="Adjusted">
      <a href="#" class="empty_response mis_reports_link">
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Adjusted</span>
        <span class="mis-coming-soon">&emsp;Coming Soon</span>
      </a>
    </li>
    <li data-test-title="Cancelled">
      <a href="#" class="empty_response mis_reports_link">
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Cancelled</span>
        <span class="mis-coming-soon">&emsp;Coming Soon</span>
      </a>
    </li>
    <li data-test-title="Settled">
      <a href="#" class="empty_response mis_reports_link">
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Settled</span>
        <span class="mis-coming-soon">&emsp;Coming Soon</span>
      </a>
    </li>
    <li data-test-title="User">
      <a href="#" class="empty_response mis_reports_link">
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;User</span>
        <span class="mis-coming-soon">&emsp;Coming Soon</span>
      </a>
    </li>
    <li data-test-title="Cash Settlement">
      <a href="#" class="empty_response mis_reports_link">
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Cash Settlement</span>
        <span class="mis-coming-soon">&emsp;Coming Soon</span>
      </a>
    </li>
  </ul>
</div>