<div class="modal-dialog" style="width:85%;">
  <div class="modal-content">
    <div class="modal-header p7_10">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <!-- <h4 class="modal-title">PAYMENT RECEIVED</h4> -->
      <h4 class="modal-title">AMOUNT SETTLED</h4>
    </div>
    <div class="modal-body">
      <%= render partial: 'payment_received_table.html.erb' %>
    </div>
  </div>

</div>
