
<hr>
<div class="row payment-pending-details">
  <div class="col-md-6 mb5">
    <b style="text-decoration: underline; color: red;">PAYMENT PENDING DETAILS</b>
  </div>
  <div class="col-md-4 mb5 text-right">
    <div id="payment-pending-error"></div>
  </div>
  <div class="col-md-2 mb5 text-right">
    <div class="input-group">
      <span class="input-group-addon" style="padding: 5px 10px;font-size:10px;"><%= currency_symbol %></span>
      <input type="text" name="invoice_inventory_order[payment_pending]" class="form-control invoice_payment_pending p3_10" id="invoice_payment_pending_total" value="" readonly="readonly">
    </div>
  </div>
  <div class="col-md-12">
    <div class="row pending-description">
      <div class="col-md-1">
        <b>S.No.</b>
      </div>
      <div class="col-md-2">
        <b>Payer</b>
      </div>
      <div class="col-md-2">
        <b>Mode of Payment</b>
      </div>
      <div class="col-md-2">
        <b>Payment Date</b>
      </div>
      <div class="col-md-2">
        <b>Payment Time</b>
      </div>
      <div class="col-md-2">
        <b>Amount</b>
      </div>
    </div>
    <div id="payment_pending_details">

    </div>
    <div class="row">
      <button class="btn btn-link btn-xs" id="add_payment_pending">Add Credit Payment</button>
    </div>
  </div>
</div>