<div class="appointment-patient-details mb10 mt10" style="border: 1px solid #666;padding: 2px;">
  <div class="row">
    <% if @template_active_headers.present? %>
      <% fields_names = OrganisationSettingsHelper.get_data("#{@inventory_order.department_name&.downcase}_invoices", @template_active_headers).keys %>
    <% end %>

    <% @template_fields.each_with_index do |key, index| %>
      <% row =  case key
        when 'recipient'
          ['Patient', @inventory_order.recipient]
        when 'patient_identifier'
          ['Patient ID', @inventory_order.patient_identifier]
        when 'doctor_name'
          ['Doctor', (@inventory_order.doctor_name.blank? ? "N.A" : @inventory_order.doctor_name)]
        # when 'bill_number'
          # ['Bill Number', @inventory_order.bill_number]
        when 'claim_processor'
          claim_processor = if @inventory_order.payer_master_id.present?
            "#{@inventory_order.payer_master&.display_name} (#{@inventory_order.contact_group&.name})"
          else
            "N.A"
          end
          ['Claim Processor', claim_processor]
        when 'bill_type'
          ['Order Type', @inventory_order.invoice_type&.capitalize]
        when 'insurer'
          insurer = if @inventory_order.insurer_id.present?
            "#{@inventory_order.insurer&.display_name} (#{@inventory_order.insurer_group&.name})"
          else
            "N.A"
          end
          ['Insurer', insurer]
        when 'mr_no'
          ['MR No.', @mr_no.present? ? @mr_no : 'NA']
        when 'mobilenumber'
          ['Patient Mobile', @inventory_order.recipient_mobile]
        when 'date_time'
          ['Order date', @inventory_order.try(:order_date).try(:strftime, "%d/%m/%Y")]
        else
          nil
        end %>
        <% if row.present? %>
          <div class="col-lg-2 font_size text-labels">
            <%= row[0] %>:
          </div>
          <div class="col-lg-2 font_size">
            <%= row[1] %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
