<div class="modal-dialog modal-lg" style="width:95%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 style="margin-top: 3px; margin-bottom: 3px; color: #333;text-align: center;"><%= @inventory_order&.department_name %> Order</h4>
    </div>
    <div class="modal-body pharmacy-request-log" id="freeInvoice" style="overflow-y: scroll; max-height:500px; color:#636e7b; font-size: 12px; padding-top: 3px;padding-bottom: 0;">
      <%= render partial: '/invoice/inventory_orders/view.html.erb' %>
    </div>
    <div class="modal-footer">
      <%= render partial: '/invoice/inventory_orders/common_action.html.erb' %>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

<style type="text/css">
  .font_size {
    font-size: 10px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .text-labels {

  }
</style>

