<% org = Organisation.find(current_user.organisation_id.to_s) %>
<div class="modal-dialog modal-lg" style="width: 95%;">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= @inventory_order.department_name %> Order</h4>
    </div>
    <div class="modal-body">
      <% if @inventory_order.department_id == '50121007' %>
        <%= render partial: '/invoice/inventory_orders/state_transitions_form.html.erb' %>
      <% end %>
      <%= render partial: '/invoice/inventory_orders/view.html.erb' %>
    </div>
    <div class="modal-footer">
      <%= render partial: '/invoice/inventory_orders/common_action.html.erb' %>
    </div>
  </div>

</div>

