$(".inventory-table-body").html("<%= escape_javascript(render partial: '/invoice/inventory_orders/index_body.html.erb') %>")

storeContentHeight = $(".store-content").height()
storeListHeight = storeContentHeight - $('.inventory-toolbar').height()
storeBodyHeight = storeListHeight - $('.inventory-table-head').height()
$('.inventory-table-body').height(storeBodyHeight)

jQuery(".inventory-show-panel").html('<h3 class="text-center" style="margin-top: 200px">Please select from list.</h3>')

if($('.inventory-table-body tr').length == <%= @inventory_orders.count %>){
  $('#show_more_inventory').hide();
}

$('.inventory-items .inventory-list-row').unbind()
$('.inventory-items .inventory-list-row').on('click', function(e){
  e.preventDefault();
  var _id =  $(this).attr('id');
  $('.inventory-list-row').css('background-color', '')
  $(this).css('background-color', '#cfe8d2')
  $.ajax({
    type: 'GET',
    data: {
      start_date: '<%= @start_date %>',
      end_date: '<%= @end_date %>',
      remote: true
    },
    url: '/invoice/inventory_orders/'+_id,
    success: function(){
    }
  })
})
