<ul class="nav nav-pills nav-justified" style="width: 20%">
  <li role="presentation" class="active"><a href="#procedures" data-toggle="tab">Procedures</a></li>
  <li role="presentation"><a href="#investigations" data-toggle="tab">Investigations</a></li>
</ul>

<hr style="margin:0;border: 0.5px solid #e3e3e3;"/>
<div class="tab-content admission-form-body">
  <div class="tab-pane active" id="procedures">
    <div class="row">
      <b style="position: relative;left: 54%;top: 5px;">PROCEDURES</b>
      <input type="text" name="procedure-search" class="form-control p3_10" id="search_procedure_keyword" placeholder="Search Procedures" style="width: 35%;float: right;margin-bottom: 20px;" />
    </div>
    <div class="row" style="color: #333;">
      <div class="col-sm-2"><strong>Procedures</strong></div>
      <div class="col-sm-2"><strong>Counselling Outcome</strong></div>
      <div class="col-sm-2"><strong>Current Status</strong></div>
      <div class="col-sm-1"><strong>Quantity</strong></div>
      <div class="col-sm-2"><strong>Patient Comment</strong></div>
      <div class="col-sm-2"><strong>Counsellor Comment</strong></div>
      <div class="col-sm-1"><strong>Actions</strong></div>
    </div>
    <% if @orders_data.select{|p| p.type == 'procedures'}.length > 0 %>
      <% @orders_data.select{|p| p.type == 'procedures'}.each_with_index do |order_data, i| %>
        <%= render partial: '/orders/counselling_records/orders_data_form.html.erb', locals: { f: f, order_data: order_data, type: 'procedures' } %>
      <% end %>
    <% else %>
      <div class="row no-orders-data" style="text-align: center">No Data Found</div>
    <% end %>
  </div>
  <div class="tab-pane" id="investigations">
    <ul class="nav nav-pills nav-justified" style="width: 20%">
      <li role="presentation" class="active"><a href="#ophthalmology" data-toggle="tab">Ophthalmology</a></li>
      <li role="presentation"><a href="#laboratory" data-toggle="tab">Laboratory</a></li>
      <li role="presentation"><a href="#radiology" data-toggle="tab">Radiology</a></li>
    </ul>
    <div class="tab-content admission-form-body">
      <div class="tab-pane active" id="ophthalmology">
        <div class="row">
          <input type="text" class="form-control" name="search_ophthal_investigations" id="search_ophthal_investigations" data-attr='all' placeholder="Search by any Ophthal Investigations Name" style="width: 35%;float: right;margin-bottom: 20px;" />
        </div>
        <div class="row" style="color: #333;">
          <div class="col-sm-2"><strong>Investigations</strong></div>
          <div class="col-sm-2"><strong>Counselling Outcome</strong></div>
          <div class="col-sm-2"><strong>Current Status</strong></div>
          <div class="col-sm-1"><strong>Quantity</strong></div>
          <div class="col-sm-2"><strong>Patient Comment</strong></div>
          <div class="col-sm-2"><strong>Counsellor Comment</strong></div>
          <div class="col-sm-1"><strong>Actions</strong></div>
        </div>
        <% if @orders_data.select{|p| p.type == 'ophthal_investigations'}.length > 0 %>
          <% @orders_data.select{|p| p.type == 'ophthal_investigations'}.each_with_index do |order_data, i| %>
            <%= render partial: '/orders/counselling_records/orders_data_form.html.erb', locals: { f: f, order_data: order_data, type: 'ophthal_investigations' } %>
          <% end %>
        <% else %>
          <div class="row no-orders-data" style="text-align: center">No Data Found</div>
        <% end %>
      </div>
      <div class="tab-pane" id="laboratory">
        <div class="row">
          <input type="text" class="form-control" name="search_laboratory_investigations" id="search_laboratory_investigations" data-attr='all' placeholder="Search by any Laboratory Investigations Name" style= "width: 35%;float: right;margin-bottom: 20px;" />
        </div>
        <div class="row" style="color: #333;">
          <div class="col-sm-2"><strong>Investigations</strong></div>
          <div class="col-sm-2"><strong>Counselling Outcome</strong></div>
          <div class="col-sm-2"><strong>Current Status</strong></div>
          <div class="col-sm-1"><strong>Quantity</strong></div>
          <div class="col-sm-2"><strong>Patient Comment</strong></div>
          <div class="col-sm-2"><strong>Counsellor Comment</strong></div>
          <div class="col-sm-1"><strong>Actions</strong></div>
        </div>
        <% if @orders_data.select{|p| p.type == 'laboratory_investigations'}.length > 0 %>
          <% @orders_data.select{|p| p.type == 'laboratory_investigations'}.each_with_index do |order_data, i| %>
            <%= render partial: '/orders/counselling_records/orders_data_form.html.erb', locals: { f: f, order_data: order_data, type: 'laboratory_investigations' } %>
          <% end %>
        <% else %>
          <div class="row no-orders-data" style="text-align: center">No Data Found</div>
        <% end %>
      </div>
      <div class="tab-pane" id="radiology">
        <div class="row">
          <input type="text" class="form-control" name="search_radiology_investigations" id="search_radiology_investigations" data-attr='all' placeholder="Search by any Radiology Investigations Name" style= "width: 35%;float: right;margin-bottom: 20px;" />
        </div>
        <div class="row" style="color: #333;">
          <div class="col-sm-2"><strong>Investigations</strong></div>
          <div class="col-sm-2"><strong>Counselling Outcome</strong></div>
          <div class="col-sm-2"><strong>Current Status</strong></div>
          <div class="col-sm-1"><strong>Quantity</strong></div>
          <div class="col-sm-2"><strong>Patient Comment</strong></div>
          <div class="col-sm-2"><strong>Counsellor Comment</strong></div>
          <div class="col-sm-1"><strong>Actions</strong></div>
        </div>
        <% if @orders_data.select{|p| p.type == 'radiology_investigations'}.length > 0 %>
          <% @orders_data.select{|p| p.type == 'radiology_investigations'}.each_with_index do |order_data, i| %>
            <%= render partial: '/orders/counselling_records/orders_data_form.html.erb', locals: { f: f, order_data: order_data, type: 'radiology_investigations' } %>
          <% end %>
        <% else %>
          <div class="row no-orders-data" style="text-align: center">No Data Found</div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>