<td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= store_consumption.transaction_date&.strftime('%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= store_consumption.created_at&.strftime("%I:%M%p") %></td>
<td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= store_consumption.store_name %></td>
<td class="col-md-4"><b><%= store_consumption.note.try(:capitalize) %></b></td>
<!-- <td class="col-md-3"><b><%#= store_consumption.total_cost %></b> </td> -->