<% history_counter = 0 %>
<% if [nil, []].exclude?(@ipdrecord.personal_history_records) || [nil, []].exclude?(@ipdrecord.allergy_histories) || [nil, []].exclude?(@ipdrecord.speciality_history_records) || @ipdrecord.drug_allergies_comment.present? || @ipdrecord.contact_allergies_comment.present? || @ipdrecord.food_allergies_comment.present? %>
  <% history_counter += 1 %>
<% end %>

<% if history_counter == 1 %>
  <div class="row mb10 patient-history-tab">
    <div class="col-md-12">
      <div class="row">
        <strong>SYSTEMIC HISTORY</strong>
        <div class="summary-line-border"></div>
      </div>
      <div class="patient-history">
        <%= render partial: 'templates/common/allergies_view.html.erb', locals: { opdrecord: @ipdrecord } %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  if($(".patient-history").text().trim().length == 0){
    $(".patient-history-tab").hide()
  }
</script>
