<div class="col-sm-4 sidebar_area" style="height: 100%; background: white;">
  <div class="row" style="display: none;">
    <div class="filter-title col-md-1">
      <span class="refresh-data glyphicon glyphicon-refresh" title="Refresh Appointments" style="margin-top:10px;cursor:hand;cursor:pointer;padding-right:10px;border-right:1px solid;"></span>
    </div>

    <div class="facility-filter col-md-3" style="display:none;">

    </div>
    <div class="department-filter">

    </div>
    <div class="user-filter col-md-2">

    </div>
  </div> <!-- .row -->
  <div id="toolbar_area">
    <div id="toolbar"><nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 33.4%;">
      <div class="container-fluid">
        <div class="navbar-header" style="margin-top: 7px;">
          
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li><a href="#">Hello</a></li> -->

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to ipd_patients_addot_path(ottime: "current_time"), :class => "btn btn-danger navbar-btn",:id=>"add-ot-btn", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="glyphicon glyphicon-plus"></i>&nbsp; Add<% end %>
            </li>
            <li>
              <%= link_to ipd_patients_printotlist_path(:otdate => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), :organisation => current_user.organisation,:facility_id => current_facility.id.to_s, :format => :pdf), :class => "btn btn-info navbar-btn navbar-btn-hover", :target => "_blank" do %> <i class="fa fa-print"></i> Print <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    </div>
  </div><!-- #toolbar_area -->

  <div class="sidebar_area_content">
  <% if current_user.role_ids[0] == 106292003 || current_user.role_ids[0] == 159561009 || current_user.has_role?(:counsellor) %>
    <div class="col-sm-4 sidebar_pane sidebar-doctors no_padding" id="sidebar_doctors">
    </div>

    <div class="col-sm-8 sidebar_pane" id="sidebar_summary">
  <% else %>
    <div class="col-sm-12 sidebar_pane" id="sidebar_summary">
  <% end %>
      <div class="modal" id="modalCalendarOtDetails" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="width: 50%;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title">OT Details</h5>
            </div>
            <div class="modal-body" style="overflow-y: scroll; height:450px;" id="modalCalendarOtDetailsBody">
              <div class="loading_dots">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- <div class="row no_margin no_padding">
        <div class="col-xs-3">X</div>
        <div class="col-xs-3">X</div>
        <div class="col-xs-3">X</div>
        <div class="col-xs-3">X</div>
      </div> -->
      <div class="sidebar-summary">
        
      </div>  
    </div>
  </div>
</div>
<div class="col-sm-8 main_calendar" style="height: 100%;">
  <div id="ot_calendar" class="hidden-print"></div>
</div>

<script type="text/javascript">
  <%= render partial: '/inpatient/home/ot_management/ot_management.js.erb' %>
</script>