<% if current_user.role_ids[0] == 106292003 || current_user.role_ids[0] == 159561009 || current_user.has_role?(:counsellor) %>
  <div class="row no_margin text-center">
    <h4>Doctors</h4>
  </div>
  <!-- Doctors are shown only if the role is a receptionist or nurse -->
  <div class="row no_margin">
    <ul class="nav nav-pills nav-stacked">
      <% doctors_array = @users.map { |doctor| [doctor.fullname, doctor.id] } %>

      <li class="sidebar-doctor-filter active current_doctor_ot"><a href="#" data-doctor-id="all">All</a></li>
      <% doctors_array.each do |doc| %>
        <li class="sidebar-doctor-filter"><a href="#" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>

      <% end %>
    </ul>
  </div>
<% end %>