<div class="row no_margin text-center" style='background-color: #354670; margin-bottom: 10px; padding: 7px; color: white; cursor: pointer;' data-toggle="collapse" data-target="#summary_ot_today">Today's Operations<span class="pull-right"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
</span></div>

<div class="row no_margin  summary_body collapse in" id="summary_ot_today">
  <div class="ot_today">
    <div class="tab-content">
      <div class="ot_type_content" id="ot_scheduled"></div>
    </div>
  </div>
</div><!-- summary_body -->
  
<hr style="margin: 5px; border-color: rgb(171, 171, 171);" /> 

<div class="row no_margin text-center" style='background-color: #354670; margin-bottom: 10px; padding: 7px; color: white; cursor: pointer;' data-toggle="collapse" data-target="#summary_ot_later">Upcoming Operations<span class="pull-right"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
</span></div>

<div class="row no_margin  summary_body collapse" id="summary_ot_later">
  <div class="ot_later" style="background: #fff;">
    Nothing to show!!
  </div>  
</div><!-- summary_body -->

<div class="row no_margin text-center" style='display:none;background-color: #354670; margin-bottom: 10px; padding: 7px; color: white; cursor: pointer;' data-toggle="collapse" data-target="#summary_ot_past">Past Operations<span class="pull-right"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
</span></div>

<div class="row no_margin  summary_body collapse" id="summary_ot_past" style="display:none;">
  <div class="ot_past">
    Nothing to show!!
  </div>  
</div><!-- summary_body -->