<% if mail_job == true %>
  <% @clinical_note = clinical_note %>
  <% @admission = admission %>
  <% @patient = patient %>
  <% @ipdrecord = ipd_record %>
  <% @tpa = tpa %>
  <% @case_sheet = case_sheet %>
<% end %>
 <% @current_facility = current_facility %>
<% @poi = PatientOtherIdentifier.find_by(patient_id: @patient.id) %>
<div class="master-row">
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'inpatient/ipd_record/patient_info.html.erb', locals: { note: @clinical_note } %>
    </div>
    <div class="col-md-12 text-center">
      <% if view == "Summary" %>
        <div class="pcs-entity-title"><span>Admission Summary</span></div>
      <% else %>
        <div class="pcs-entity-title"><span>Admission Note</span></div>
      <% end %>
    </div>
  </div>
  <% if view == "Summary" %>
    <%= render partial: 'inpatient/ipd_record/clinical_note/orthopedics_notes/clinical_summary.html.erb' %>
  <% else %>
    <%= render partial: 'inpatient/ipd_record/clinical_note/orthopedics_notes/clinical_note.html.erb' %>
  <% end %>
</div>