<div class="modal-dialog modal-mypracticemedicationlist sm">
  <div class="modal-content">
    <div class="modal-header">
      <div class="text-center">
        <h4 class="nomargin">Update Medication Name</h4>                
      </div>
      <%= render partial: "templates/common/stylesheetincludes" %> <!-- Render common stylesheet includes template from partial -->            
    </div>
 	  <%= render partial: "practice_medication_lists/partials/edit_practice_medication_name_form" %>
	</div>
</div>
