<div class="care_plan mb20">
  <% if @print_flag %>
    <div class="row text-center">
      <strong class="heading"><%= @form_name %></strong>
      <div class="summary-line-border"></div>
    </div>
  <% end %>
  <%= render partial: "inpatients/nursing_records/#{@nursing_record.specalityname}_notes/medications.html.erb" %>
  <div class="row">
    <% if @nursing_record.id_band == "Yes" || @nursing_record.nurse_call == "Yes" || @nursing_record.non_smoking_policy == "Yes" || @nursing_record.patient_right == "Yes" || @nursing_record.bed_side_rails == "Yes" || @nursing_record.information_patient.present? %>
      <b style="text-decoration: underline;"> Patient Education On :</b>
      <div class="row mb5">
        <div class="col-md-12">
          <% if @nursing_record.id_band == "Yes" %>
            ID Band : <b>Yes</b> |
          <% end %>
          <% if @nursing_record.nurse_call == "Yes" %>
            Nurse Call : <b>Yes</b> |
          <% end %>
          <% if @nursing_record.non_smoking_policy == "Yes" %>
            Non Smoking Policy : <b>Yes</b> |
          <% end %>
          <% if @nursing_record.patient_right == "Yes" %>
            Patient Rights & Responsibilities : <b>Yes</b> |
          <% end %>
          <% if @nursing_record.bed_side_rails == "Yes" %>
            Bed Side Rails : <b>Yes</b> |
          <% end %>
        </div>
      </div>
      <div class="row mb5">
        <div class="col-md-12">
          <% if @nursing_record.information_patient.present? %>
            Information Given to Patient/Attendant : <%= @nursing_record.information_patient %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% if @print_flag %>
    <div class="">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <b class="heading">Nurse Name :</b>
        </div>
        <div class="col-md-6 col-sm-6">
          <b class="heading">Date :</b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <b>Signature :</b>
        </div>
        <div class="col-md-6 col-sm-6">
          <b>Time :</b>
        </div>
      </div>
    </div>
  <% end %>
</div>
<style type="text/css">
  .heading{
    color: #444;
    font-size: 15px;
  }
</style>