<div class="sedation-chart mb10">
  <%= render partial: "/inpatients/nursing_records/plan_sedation.html.erb", locals: { f: f } %>
  <h4 class="title">*Ramsey Score:</h4>
  <ol>
    <li>(Awake, Anxious and Agitated)</li>
    <li>(Awake, Cooperative and Oriented and Tranquil)</li>
    <li>(Awake, Responds to commands only)</li>
    <li>(Asleep, brisk response to stimuli)</li>
    <li>(Asleep, sluggish response)</li>
    <li>(Asleep, no response)</li>
  </ol> 
  <li>This chart is intended to supplement rather than substitute professional judgement and may be changed depending upon patient's indiviual needs. Failure to comply with this chart does not represent a breach of the standard of the care.</li> 
</div>
