/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require bootcards-desktop.min
 *= require fuelux.min
 *= require bootstrap.min
 *= require bootstrap-override
 *= require jquery-ui-1.12.1
 *= require jquery-ui-1.12.1.override
 *= require jquery.datatables
 *= require font-awesome.min
 *= require font-awesome5
 *= require animate.min
 *= require animate.delay
 *= require toggles
 *= require chosen
 *= require lato
 *= require summernote.css
 *= require style.default
 *= require fullcalendar.min
 *= require fuelux.min
 *= require token-input
 *= require daterangepicker-bs3
 *= require daterangepicker
 *= require morris
 *= require rickshaw.min
 *= require prettyPhoto
 *= require blueimp-gallery.min
 *= require bootstrap-image-gallery.min
 *= require select2.min
 *= require select2-bootstrap.min
 *= require bootstrap-table.min
 *= require spectrum
 *= require bootcards-desktop-override
 *= require bootstrap-wysihtml5
 *= require pnotify.custom.min.css
 *= require print_preview.css
 *= require form-validator/theme-default.min.css
 *= require tipsy.min
 *= require media_asset.css
 *= require loading-dots.css
 *= require introjs.css
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require settings_update
 *= require multi-select
 *= require jquery.multiselect
 *= require material-icons
 *= require mis_reports
 *= require user_time_slots
 *= require intlTelInput
 */

.patient.active{
    background: #f8f8ff;
    color: #428bca;
}

th:focus {
	outline: none;
}

/*.fc-unthemed {
	width: 80% !important;
}
*/
/* SummerNote */
.note-editable {
	overflow: hidden;
    border-left: solid 1px #1CAF9A;
    border-right: solid 1px #1CAF9A;
    border-bottom: solid 1px #1CAF9A;
}

.note-editable:focus {
	outline: none;
}

.appointments_opd, .admission_ipd, .ot_ipd {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}

.admissiontable {
	margin-bottom: 5px;
}

.error {
    color: #b94a48
}

.fi_input_style{
    padding-left:3px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}
.fi_input_style:focus {
    background: #ffc;
}

.signature_pad {
    margin: 0 auto;
}

.signature_pad_body canvas {
    width: 100%;
    height: 80%;
    border: dotted #444;
    background: #CCCCCC;
}

.discount_reason {
    margin-top: 5px;
}

/* custom tooltip */
.tooltip-data{
  visibility: hidden;
  width: 160px;
  background-color: white;
  color: #888;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 5;
  top: 24px;
  margin-left: -75px;
  border: 1px solid;
}

.tooltip-data:before {
  content: '';
  display: block;
  position: absolute;
  left: 56px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: black;
}

.tooltip-data:after {
  content: '';
  display: block;
  position: absolute;
  left: 57px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: white;
}

.tooltip-data-show {
  min-width: 200px;
  padding: 5px;
  margin-left: -165px !important;
  visibility: hidden;
  background-color: white;
  color: #888;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 5;
  top: 25px;
  border: 1px solid;
}

.tooltip-data-show:before {
  content: '';
  display: block;
  position: absolute;
  left: 120px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: black;
}

.tooltip-data-show:after {
  content: '';
  display: block;
  position: absolute;
  left: 121px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: white;
}
/* EOF custom tooltip */

.is-draft-bg {
  background-color: #d9b09c;
}

.text-strikethrough {
  text-decoration: line-through;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-0 {
  padding: 0px !important;
}

.section-title {
  background: #354670;
  color:#fff;
}

.margin-top-8{
  margin-top: 8px;
}

.sequence_add_rule{
  height: 30px !important;
  border: 1px solid #ccc !important;
  color: #666 !important;
  width: 100% !important;
  padding:  0px !important;
  padding-left: 10px !important;
}

.counter_rows {
  margin-bottom: 10px;
}

.print_text_font_size *{
  font-size: inherit!important
}

.print_full_invoice_div{
  border-bottom:1px solid #eee;
}

.text-align-left{
  text-align: left !important;
}

.major-lightblue-bg {
  height: 4rem;
  background: #cae5ed;
  padding: 10px;
}

.checkbox-alignment {
    width: 17px;
    height: 30px;
}

.text-align-center{
  text-align: center !important;
}

.ml10 {
  margin-left: 10px !important;
}

table tr td{
  word-break: break-word !important;
}
.modal{
  overflow-y: auto !important;
}