@media only screen and (max-width: 992px) {
  .mobile_responsive {
    display: block !important; 
  }
  .web_responsive {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .mobile_responsive {
    display: none !important; 
  }
  .web_responsive {
    display: block !important;
  }
}
.search_patient {
  position: absolute;
  top: 5px !important;
  left: 370px !important;
  width: 225px !important;
}
.nav_head_section {
  margin: 13px 0 0 0;
  font-size: 13px !important;
}
.mobile_date_responsive {
  padding-left: 6px !important;
  padding-right: 10px;
  padding: 0px !important;
}
.statistics_parent_link_main {
  font-size: 13px;
}
