.navbar-default{
  border-bottom: 3px solid #FF8735;
}

.navbar-inverse .navbar-nav > li > a{
  color: white;
}

.mis_navbar {
  background: #354670;
  margin:-5px;
  border-radius: 0px;
  margin-top: 50px;
  z-index: 100;
}

.mis_navbar .navbar-nav > .open > a, .mis_navbar .navbar-nav > .open > a:hover, .mis_navbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.mis_reports_panel {
  height: 100%;
  background: #fff;
  overflow-y: scroll;
}

.custsom-mis-style {
  margin-top: 5px!important;
}

.mis-reports-list {
  margin-top: 50px;
  z-index: 1000;
  overflow: hidden;
}

.mis_list {
  margin-bottom: 30px;
  max-width: 350px;
}

.mis_list .nav > li > .mis_reports_link {
  border-bottom: 1px dashed #E9E9E9;
}

.reports-headerspacing {
  margin-top: -5px;
}

.mis-date-filter-custom{
  padding: 5px 10px;
  color: #666;
  cursor: pointer;
}

.mis-date-filter-custom:hover {
  background-color: #e7e7e7;
  color: #333;
}

.mis-reports-list .paging_full_numbers a.paginate_active {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  border-color: #000;
}

.mis-reports-list .dataTables_paginate {
  margin-bottom: 20px;
}

.mis-dropdown-title {
  font-size: 9px;
  line-height: 1;
  display: block;
}

.empty_response {
  pointer-events: none;
}

.empty_response > .mis-report-text {
  opacity: 0.5;
}

.mis-coming-soon {
  font-size: 9px;
  opacity: 1;
  color: #f00;
}

.and-vs {
  color: #f00;
}

.mis-list-sub-header {
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .mis-date-filter-custom{
    padding: 5px 15px 5px 25px;
  }

  .mis-date-filter-custom:hover {
    background-color: transparent;
    color: #fff;
  }
}

.mis-dataTable thead > tr > th, .mis-dataTable tbody > tr > td {
  vertical-align: middle;
}

#mis-l-filters{
  font-size: 12px !important;
}

.navbar-custom-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 12px;
  line-height: 20px;
}

.mis_navbar_custom {
  background: #354670;
  margin:-5px;
  border-radius: 0px;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.container{
  margin-top:30px;
}

.filter-col{
  padding-left:10px;
  padding-right:10px;
}
.panel-default {
  background: #f9f8f5;
}
#more-filters{
  cursor: pointer;
  margin-top: 20px;
}

/*tag contianr style*/
.tag-box {
  width: 100%;
}

.tag-container {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1px;
  /*overflow-x: scroll;*/
}

.tag-container .tag {
  height: 30px;
  margin: 5px;
  padding: 5px 6px;
  border: 1px solid #354670;
  border-radius: 3px;
  background: #354670;
  display: flex;
  align-items: center;
  color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
  cursor: default;
}

.tag i {
  font-size: 16px;
  color: #fff;
  margin-left: 5px;
}

/*modal css*/
.modal-dialog-custom {
  width: 1000px !important;
  margin: 30px auto;
}

.box-seperator{
  border-left: 1px solid #ccc;
}

.apply-default{
  color: #1CAF9A;
  font-size: 11px;
  cursor: pointer;
  margin-left: 10px;
  display: none;
}

.dropdown-filter {
  padding: 0 !important;
  height: 30px;
}

/*tag contianr style*/
/*.modal-dialog {
  width: 1000px !important;
  margin: 30px auto;
}*/

#ms-list-22{
  width: 108%;
}

.report-table-header {
  border-right: 1px solid #e0e0e0 !important;
  border-left: 1px solid #e0e0e0 !important;
}

.report-table-header thead > tr > th {
  border-left: 1px solid #e0e0e0 !important;
}

.mis-dataTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#mis-l-filters{
  font-size: 12px !important;
}

.align_left {
  text-align: left;
}

.discount, .text-red, tr.outgoing > td {
  color: red;
}

.text-green, tr.incoming > td {
  color: green;
}

.text-warning {
  color: orange;
}

.purple {
  color: purple;
}

.blue, tr.final-collection > td {
  color: blue;
}

.table-padding-5 thead > th, .table-padding-5 thead > td {
  padding: 5px;
  font-size: 12px;
}

.cursonr-filter {
  cursor: pointer;
  color: red;
}

#div_clinical_note {
  font-weight: bold;
}

.div_clinical_header {
  font-size: 15px;
  font-weight: bold;
}

.no-bg tr:nth-child(even) {
  background-color: transparent !important;
}