.pageheader.header_change{
	border-bottom: none;
}
.header_change{
	    background: #354670;
    color: #ffffff;
}
.header_change h2{
	color: #ffffff;
}
.header_change.pageheader .fa{
	border:2px solid #ffffff;
}
.header_change.pageheader h2 span{
	color: #c3c3c3;
}
.content_container{
	display: flex;
	min-height: 500px;
}
.tab-content{
	/*width: 100%;*/
}
.mt15.side_bar_menu{
	margin-top:0; 
	min-height: 100vh;
}
.content_container .mt15.tab-content{
	margin-top:0; 
}
.side_bar_menu{
	/*height: 80vw;*/
	position: relative;
	background: #354670;
}
.settings_update{
	margin-top: 9px;
}
.components.settings_update > li {
	border-bottom: 1px solid #30343e;
}

.settings_head{
	color: #f9f9f9;
	font-size: 16px;
	text-decoration: none;
	padding: 8px 5px;
	display: block;
	/*margin-bottom: 3px; */
	/*border-bottom: 1px solid black;*/
}
.settings_head span.caret{
	float: right;
	clear: both;
	margin-top: 10px;

}
.settings_head:focus,
.settings_head:hover{
	color: #1D2939;
	text-decoration: none;
	background: #f9f9f9;
	border-radius: 3px;
	/*margin-bottom: 3px;*/

}
.padded_list{
	padding-left: 10px !important;
}
.padded_list li{
	margin-top: 1px;
}
.settings_update li ul li a{
	padding: 6px 8px;
	border-radius: 3px;
	display: block;
	text-decoration: none; 
	color: #f9f9f9;
	/*margin: 1.5px 0;*/
	font-size: 12px;
}
.settings_update li ul >li.active>a, 
.settings_update li ul >li.active>a:hover,
.settings_update li ul >li.active>a:focus{
	color: #354670 !important;
	background-color: #f9f9f9;
	text-decoration: none; 
	border-radius: 3px;
	/*margin: 1.5px 0;*/
}
.settings_update li ul >li:hover,
.settings_update li ul >li:focus{
	text-decoration: none;
	background-color: #f9f9f9;
	border-radius: 3px;
	color: #354670 !important;
}
.settings_update li ul >li:hover a,
.settings_update li ul >li:focus a{
	text-decoration: none;
	background-color: #f9f9f9;
	border-radius: 3px;
	color: #354670 !important;
}
.b-icon i{
	font-size: 12px;
	vertical-align: middle;
	margin-top: -2px;
}

.th-padding-12 > thead > tr > th {
	padding: 12px !important;
}