.modal-time-slot {
  width: 90%;
}

.sessions-row .ckbox label:before, .sessions-row .ckbox label:after,
.exception-sessions-row .ckbox label:before, .exception-sessions-row .ckbox label:after {
  margin-top:  -3px !important;
}

.sessions-row .ckbox-primary, .exception-sessions-row .ckbox-primary {
   display: inline;
   margin-right: 10px;
}

.sessions-row .each-session, .exception-sessions-row .each-exception-session {
  border: 1px solid #ccc;
  padding: 10px;
}

.hidden-days {
  display: none;
}

.sessions_start_time, .sessions_end_time,
.exception_sessions_start_time, .exception_sessions_end_time,
.exception_sessions_start_date, .exception_sessions_end_date {
  background: #fff !important;
  cursor: pointer !important;
}

.modal-time-slot .hidden {
  display: none;
}

/* Calendar CSS */
.fc-toolbar {
  background: #354670;
  padding: 10px;
  margin: 0;
  height: 50px;
  margin-left: 0;
}

.fc-toolbar h2 {
  font-size: 18px;
  margin-top: 6px;
  vertical-align: middle;
  color: #efefef;
}

.fc-button {
  border-radius: 3px !important;
  background: transparent none repeat scroll 0% 0% !important;
  border: 1px solid #FF8735;
  color: white !important;
  text-shadow: none;
  text-transform: capitalize;
}

.fc-today-button {
  /*border: 1px solid #9AD47D;*/
}

.fc-button-group > .fc-button.fc-corner-left {
  border-radius: 3px 0 0 3px !important;
}

.fc-button-group > .fc-button.fc-corner-right {
  border-radius: 0 3px 3px 0 !important;
}

.fc-prev-button, .fc-next-button {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  color: white;
}

.fc-view-container {
  padding: 10px;
  -webkit-box-shadow: inset 3px 2px 5px -2px rgba(0,0,0,0.43);
  -moz-box-shadow: inset 3px 2px 5px -2px rgba(0,0,0,0.43);
  box-shadow: inset 3px 2px 5px -2px rgba(0,0,0,0.43);
  background: #fff;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}
