<div class="row mb10">
  <div class="col-md-4">
    <%= f.text_field :investigation_name,:value => @investigation_advised.name ,class: "fi_input_style",style: 'width: 100%'%>
  </div>
</div>
<div class="row mb10">
  <div class="col-md-offset-4 col-md-8">
    <%= f.text_area :investigation_val,class: "form-control",placeholder: "Findings" ,title: 'Findings'%>
  </div>

</div>

<div class="row mb10">
  <div class="col-md-offset-4 col-md-4">
    <%= f.text_area :investigation_comment,:value => lab_test.try(:investigation_comment) ,class: "form-control",placeholder: "Investigation Remark" ,title: 'Investigation Remark'%>
  </div>
  <div class="col-md-4">
    <%= f.text_area :doctors_remark,:value => lab_test.try(:doctors_remark) ,class: "form-control",placeholder: "Doctor's Remark",title: "Doctor's Remark" %>
  </div>
</div>