<style>
    .paper_view {
        box-shadow: 0 0 6px #ccc;
        max-width: 100%;
        padding: 2px 0.400000in 0 0.550000in;
        font-family: 'Open Sans';
        padding-bottom: 2px;
        min-height: 400px;
    }
</style>

<div class="paper_view mb20 ">
  <%= render partial: 'patient_info.html.erb',locals: {record: @ehr_investigation_record} %>
  <div class="col-md-12 text-center">
    <div class="pcs-entity-title"><span>Investigation Summary</span></div>
  </div>
  <% if @type.to_s == "EhrInvestigation::LaboratoryRecord" %>
      <%= render 'ehr_investigation/records/laboratory/lab_summary' %>
  <% elsif @type.to_s == "EhrInvestigation::RadiologyRecord" %>
      <%= render 'ehr_investigation/records/radiology/radiology_summary' %>
  <% elsif @type.to_s == "EhrInvestigation::OphthalmologyRecord" %>
      <%= render 'ehr_investigation/records/ophthalmology/ophthalmology_summary' %>
  <% end %>
</div>

