<div class="col-md-12">
  <%= simple_form_for(@comment,as: :comment,:url => {:controller => "/comments",:action => 'update'}, :remote => true) do |f| %>
    <div class="row mb5">
      <div class="col-md-12">
        <%= f.hidden_field :upload_id,value: @patient_asset.id.to_s %>
        <%= f.text_area :comment_text, value: @comment.comment_text, placeholder: 'Comment...', class: "form-control", autofocus: true%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8 text-right">
        <%= button_tag type: 'submit', class: "btn btn-success", id: "save-comment" do %>Save<% end %>
      </div>
    </div>
  <% end %>
</div>