<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="background: black;" >
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Compose Email</h4>
    </div>
    
    <%= form_for @email_tracker, format: :js, remote: true, html: { id: "edit-record-form" } do |f| %>

      <%= render partial: 'form.html.erb', locals: { f: f } %>
    <% end %>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<style type="text/css">
  .modal{
    background: rgba(0, 0, 0, 0.74);
  }

  .modal-lg{
    width: 81%;
  }

  .label{
    width: auto;  
  }

  .email-error-highlight {
    outline-color: 'red';
    border: '2px solid red';
  }
  .email-normal-highlight {
    outline-color: 'black';
    border: '2px solid black';
  }
</style>


