<div class="row">
  <label class="col-md-3 label label-primary">
    For Patient's Name use %pat_name%
  </label>
  <label class="col-md-3 label label-primary">
    For Facility Name use %fac_name%
  </label>
  <label class="col-md-3 label label-primary">
    For Facility No. use %fac_no%
  </label>
  <label class="col-md-3 label label-primary">
    For Organisation Name use %org_name%
  </label>
</div>

