<table class="table table-striped">
  <tr>
    <td style="padding-left: 3px;padding-right: 0;padding-top: 17px;">
      Name :
    </td>
    <td>
      <div class="input">
        <input class="string optional form-control mail_set_name" size="30" maxlength="30" type="text" id="mail_set_name" style="width:175px;">
      </div>
    </td>
  </tr>
</table>

<button aria-hidden="true" class="btn btn-success popover-save-mail-set-btn" style="margin-left:15px;">Save</button>
<button aria-hidden="true" class="btn btn-info popover-mail-set-cancel-button">Cancel</button>

<script>
  jQuery(".popover-mail-set-cancel-button").on("click", function(event) {
    event.preventDefault();
    jQuery('.popover-save-mail-set').popover('destroy');
    jQuery(".save_set").removeClass("disabled");
  });

  jQuery(".popover-save-mail-set-btn").on('click', function(event) {
    event.preventDefault();
    var mail_set_content = $(".mail_text").code()
    var mail_set_name = $(".popover-save-mail-set").find("#mail_set_name").val()
    
    jQuery.ajax({
      type: "POST",
      url: '/mail_record_trackers/save_mail_set',
      data: { name: mail_set_name, content: mail_set_content, remote: "true" },
    });

    jQuery('.popover-save-mail-set').popover('destroy');
    jQuery(".save_set").removeClass("disabled");
  })

</script>