<% if mail_job == true %>
  <% @patient = patient %>
  <% @admission = admission %>
  <% @ipdrecord = ipd_record %>
  <% @diagnosislist = @ipdrecord.diagnosislist %>
  <% @operative_note = operative_note %>
  <% @tpa = tpa %>
  <% @case_sheet = case_sheet %>
<%else %>
  <% @operative_note = operative %>
<% end %>

<% @current_facility = current_facility %>
<% @current_user = current_user %>


<% @poi = PatientOtherIdentifier.find_by(patient_id: @patient.id) %>
<div class="master-row">
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'inpatient/ipd_record/patient_info.html.erb', locals: { note: @operative_note } %>
    </div>
    <div class="col-md-12 text-center">
      <% if view == "Summary" %>
        <div class="pcs-entity-title"><span>Operative Summary</span></div>
      <% else %>
        <div class="pcs-entity-title"><span>Operative Note</span></div>
      <% end %>
    </div>
  </div>
  <% if view == "Summary" %>
    <%= render partial: "inpatient/ipd_record/operative_note/#{@speciality_folder_name}_notes/operative_summary.html.erb" %>
  <% else %>
    <%= render partial: "inpatient/ipd_record/operative_note/#{@speciality_folder_name}_notes/operative_note.html.erb" %>
  <% end %>
</div>