<div class="modal-dialog" style="width:80%;">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right">
        <% if @lab_records || @radio_records || @ophthal_records %>
            <%#\= link_to #, view: "Summary", format: :pdf), :class => "btn btn-primary btn-xs", :target => "_blank", :data => {method: :get} do %>
            <!--<i class="fa fa-print mr5"></i> All Summary-->
            <%# end %>
        <% end %>
        <button aria-hidden="true" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
      <div class="text-left">
        <h4 class="nomargin">Investigation Summary</h4>
      </div>
    </div>

    <div class="modal-body">
      <%= render partial: 'ehr_investigation/records/all/show_all_report_content' %>
    </div>
  </div>
</div>

<style type="text/css">
    .paper_view {
        box-shadow: 0 0 6px #ccc;
        padding: 0 0.400000in 0 0.550000in;
        font-family: 'Open Sans';
        background-color: #fff;
        min-height: 407px;
    }
</style>