<% if current_user.role_ids.any? { |ele| [158965000, 106292003, 686800945].include?(ele) } %>
  <div class="dropdown">
    <button type="button" class="btn btn-xs btn-primary btn-danger" data-toggle="dropdown" id="adverse_event_form">Adverse Event&nbsp;&nbsp;<i class="fa fa-caret-down"></i></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="adverse_events-dropdown" style="">
      <li style="text-align: center;">
        <%= link_to new_adverse_event_path(patient_id: @patient.id.to_s), id: 'adverse-event-btn', data: { remote: true, 'toggle': 'modal', 'target': '#adverse-event-modal' } do %>Report Adverse Event<% end %>
      </li>
      <strong style="margin-left: 10px">Previously Reported: <%= @adverse_events.length %></strong>
    </ul>
  </div>
<% end %>
