<div class="col-sm-12">
  <% if @organisation_setting.try(:time_slots_enabled) %>
    <% if Authorization::PolicyHelper.verification(current_user.id,"HGP-102-100-100") %>
      <%= link_to new_appointment_path(patient_id: @patient.id, date: Date.current, time: Time.current, direct: true, type: 'walkin'), class: "btn btn-primary btn-primary-transparent btn-xs", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal'} do %> Add OP<% end %>
    <% end %>
    <% if Authorization::PolicyHelper.verification(current_user.id,"HGP-102-100-101") %>
      <%= link_to new_appointment_path(patient_id: @patient.id, date: Date.current, time: Time.current, direct: true, type: 'appointment'), class: " btn btn-primary btn-primary-transparent btn-xs", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal'} do %> Add Appointment<% end %>
    <% end %>
  <% else %>
    <%#= link_to new_appointment_path(patient_id: @patient.id), class: 'btn btn-primary btn-xs btn-primary-transparent', data: { remote: true, 'toggle' => 'modal', 'target' => '#appointment-modal'} do %><!-- Add Appointment --><%# end %>
    <%= link_to new_appointment_path(patient_id: @patient.id, date: Date.current, time: Time.current, direct: true), class: "btn btn-primary btn-primary-transparent btn-xs", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal'} do %> Add Appointment<% end %>
  <% end %>
</div>