<div class="consolidate-reports-section">
  <div class="col-sm-12">
    <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-107-100") %>
      <% if @org_specialties.count > 1 %>
        <button class="btn btn-primary btn-primary-transparent btn-xs" data-toggle="dropdown"> Consolidate Reports &nbsp;&nbsp;<i class="fa fa-caret-down"></i></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="consolidate-reports-dropdown" style="margin-left: 31px;">
          <% @org_specialties.each do |specialty| %>
            <li><%= link_to consolidate_reports_index_path(patient_id: @patient.id, specialty_id: specialty.id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="fa fa-file-text"></i>&nbsp;&nbsp;<%= specialty.name.capitalize %> <% end %></li>
          <% end %>
        </ul>
      <% else %>
        <%= link_to consolidate_reports_index_path(patient_id: @patient.id, specialty_id: @org_specialties[0].id), class: "btn btn-xs btn-primary btn-primary-transparent", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="fa fa-file-text"></i>&nbsp;&nbsp;Consolidate Reports <% end %>
      <% end %>
    <% else %>
      <button class="btn btn-primary btn-xs disabled" style="pointer-events: all; text-decoration: line-through" title="Not Authorized"> Consolidate Reports &nbsp;&nbsp;<i class="fa fa-caret-down"></i></button>
    <% end %>
  </div>
</div>