<% specialty_ids = current_organisation["specialty_ids"] %>
<% if specialty_ids.size == 1 %>
  <div class="row" style="margin:0px;">
    <div class="col-sm-12">
      <h4 class="" style="display: inline;font-size:18px;"><b>Actions</b></h4>
    </div>
  </div>

  <div class="row">
    <div id="investigation-details" class="col-md-11 col-md-offset-1" style="padding:5px 0px;">
      <!-- currently making specialty available only if single specialty present -->
      <%= link_to new_investigation_investigation_detail_path(patient_id: @patient.id, flag: @filter.to_s.downcase, specialty_id: current_organisation["specialty_ids"][0]), :class => "btn btn-primary btn-primary-transparent btn-xs", data: { remote: true, 'toggle': 'modal', 'target': '#investigation-modal' } do %>Add <%= @filter.to_s.titleize %> Investigation<% end %>
    </div>
  </div>
<% end %>