<div class="col-sm-12">
  <div id = "patient-medicalcertificates">
    <button type="button" id="print-admission-dropdown" class="btn btn-primary btn-xs btn-primary-transparent" data-toggle="dropdown"><span class="">Referral Message</span>&nbsp;<span class="caret fa-color"></span></button>
      <%= render partial: "patient_summary_timelines/other_details/form_referral_message.html.erb" %>
  </div>
</div>