<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-xs-6">
    <h4>WARD SETUP</h4>
  </div>
  <div class="col-xs-6 text-right">
    <%= link_to new_ward_path, data: { remote: true, toggle: 'modal', target: '#ward-modal' }, class: 'btn btn-primary', style: 'margin:6px;' do %><i class="fa fa-plus"></i> Add Ward<% end %>
  </div>
</div>
<div class="row">
  <%= render partial: 'view.html.erb' %>
</div>

<style type="text/css">
  .room-details {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #eee;
  }

  .room-details .table-room-details {
    box-shadow: 0 0 5px 0 #aaa;
  }

  .room-details .table-room-details:last-child {
    margin-bottom: 0px;
  }

  .table-room-details > tbody > tr > td, .table-room-details > thead > tr > th {
    font-size:12px;
    padding:5px;
  }
</style>
