<div class="panel">
  <div class="panel-heading" style="overflow:auto;">
    Radiology Laboratory Sets
    <div class="pull-right"><%= link_to new_radiology_laboratory_set_path, :data => {:remote => true,'toggle' =>  "modal", 'target' => '#laboratory-set-modal'}, :class => 'btn btn-success'  do%><i class="fa fa-plus"></i> Radiology Lab Set<% end %></div>
  </div>
  <div class="panel-body">
    <table class="table table-striped" id="radiology-set-list">

    </table>
  </div>
</div>