<div class="row">
  <div class="col-md-9">
    <div class="manage_feedback_settings" id="manage_feedback_settings">
      <%= render "/feedback_forms/feedback_form.html.erb" %>
    </div>
  </div>

  <div class="col-md-2" style="margin-left: -10px;">
    <span class="feedback_btn"><b style="font-size: 17px;">Use Feedback Option</b></span>
  </div>

  <div class="col-md-1">
    <%if @feedback_feature %>
      <div class="toggle-success feedback_feature_active" data-commit="No" data-cancel="Yes"></div>
    <%else%>
      <div class="toggle-success feedback_feature_inactive" data-commit="No" data-cancel="Yes"></div>
    <%end%>
  </div>
  
  <div style="margin-top: 39px;" class="row">
    <%= link_to feedback_forms_preview_feedback_form_path(facility_id: @current_facility.id, modal: 'feedback-form-modal'), class: "btn btn-primary preview_btn", id: "preview_btn", data: {remote: true, 'toggle': "modal", 'target': '#feedback-form-modal'} do %> Preview Feedback Form<% end %>
  </div>
    
</div>

<script type="text/javascript">
 var togglebuttoninactive = {
      off: true,
  }
  var togglebuttonactive = {
      on: true,
  };
  $('.feedback_feature_inactive').toggles(togglebuttoninactive);
  $('.feedback_feature_active').toggles(togglebuttonactive);

  $(".toggle-success").on('toggle', function(e, active) {
    if (active) {
        var feedback_feature_active_inactive = 'true'
    } else {;
        var feedback_feature_active_inactive = 'false'
    }
    jQuery.ajax({
      type: "GET",
      url: '/feedback_forms/manage_feedback_form',
      data: {feedback_status: feedback_feature_active_inactive, facility_id: "<%= @current_facility.id%>", remote: "true" },
    });
  });

  remove_row()
  function remove_row(){
    $('.remove_question').on('click', function(e){
      e.preventDefault()
      $(this).parent('.question_row').remove()
       var present_rows = $('.feedback_question_rows').find('.question_row_field').length
      if (present_rows == 0) { 
        $('.feedback_question_rows').find('.no_data_present_row').show()
      }
      if (present_rows == 6) {$('#feedback-footer').find('.add_more_question').removeAttr('disabled')}
      remove_reset_logic()
    })
  }

  function remove_reset_logic() {
    var x = $(".feedback_question_rows").find(".question_row_field")
    for (var i = 0; i < x.length; i++) {
      $(x[i]).attr('name','feedback_form[question_row][' + i + ']')
    };
  }

  $('.add_more_question').on('click', function(e){
    e.preventDefault()
    var total_rows = $('.feedback_question_rows').find('.question_row_field').length
    var questions_row = '<div class="col-md-11 question_row_main_div"><input type="text" name="feedback_form[question_row]['+total_rows +']" class="form-control question_row_field" value="" placeholder="Enter your question..." style="margin: 10px"></div>'
    var cross_field = '<div class="col-md-1 remove_question"><button class="btn btn-danger btn-xs" style="margin-top: 15px;"><i class="fa fa-trash-alt"></i></button></div>'

    $('.feedback_question_rows').append( '<div class="question_row row">'+ questions_row + cross_field +'</div>')

    if (total_rows == 6) {$('#feedback-footer').find('.add_more_question').attr('disabled','disabled')}
    remove_row()
    remove_reset_logic()
    $('.feedback_question_rows').find('.no_data_present, .no_data_present_row').hide()
  })


  function validate_feedback_form() {
    $("#feedback_form").validate({
      rules: {
        "feedback_form[question_row][0]": {
          required: true,
          minlength: 3
        },
        "feedback_form[question_row][1]": {
          required: true,
          minlength: 3
        },
        "feedback_form[question_row][2]": {
          required: true,
          minlength: 3
        },
        "feedback_form[question_row][3]": {
          required: true,
          minlength: 3
        },
        "feedback_form[question_row][4]": {
          required: true,
          minlength: 3
        },
        "feedback_form[question_row][5]": {
          required: true,
          minlength: 3
        },
        "feedback_form[question_row][6]": {
          required: true,
          minlength: 3
        }
      },
      messages: {
        "feedback_form[question_row][0]": {
          required: "This field can'nt be blank."
        },
         "feedback_form[question_row][1]": {
          required: "This field can'nt be blank."
        },
        "feedback_form[question_row][2]": {
          required: "This field can'nt be blank."
        },
        "feedback_form[question_row][3]": {
          required: "This field can'nt be blank."
        },
        "feedback_form[question_row][4]": {
          required: "This field can'nt be blank."
        },
        "feedback_form[question_row][5]": {
          required: "This field can'nt be blank."
        },
        "feedback_form[question_row][6]": {
          required: "This field can'nt be blank."
        }
      }
    });
  }

  validate_feedback_form()
</script>