jQuery("#feedback-form-modal").html("<%= escape_javascript(render 'edit_feedback_questions') %>")
jQuery("#feedback-form-modal").modal('show')
  
function remove_row(){
  $('.remove_question_btn').on('click', function(e){
    e.preventDefault();
    $(this).parents('.question_row').removeClass('temp_class')
    $(this).parents('.question_row').find("input[name*='_destroy']").val("1");
    $(this).parents('.question_row').hide();
    var current_rows = $('.feedback_question_rows').find('.temp_class').length
    if (current_rows < 7) {$('.modal-footer').find('.add_more_question').removeAttr('disabled')}
  })
}

remove_row()

$('.add_more_question').on('click', function(e){
  e.preventDefault()
  $('.feedback-heading-row').show()
  $('.no_data_present').hide()
  var total_rows = $('.feedback_question_rows').find('.question_row').length
  var hidden_field = '<input type="hidden" name="feedback_setting[feedback_question_sets_attributes]['+total_rows +']][_destroy]" value="0"></input>'
  var select_field = '<div class="col-md-3" style="margin-top: 2px;"><select name="feedback_setting[feedback_question_sets_attributes]['+total_rows +'][type]" id="feedback_setting_feedback_question_sets_attributes_'+total_rows +'_type" class="form-control"><option value="bedside_manner">Bedside manner</option> <option value="easy_appointment">Easy Appointment</option><option value="Promptness">promptness</option><option value="accurate_diagnosis">Accurate Diagnosis</option><option value="friendly_staff">Friendly Staff</option><option value="spends_time_with_me">Spends Time with me</option><option value="appropriate_follow_up">Appropriate Follow-up</option></select></div>' 
  var questions_row = '<div class="col-md-8"><input type="text" name="feedback_setting[feedback_question_sets_attributes]['+total_rows +'][question_field]" id="feedback_setting_feedback_question_sets_attributes_'+total_rows +'_question_field" class="form-control question_row_field" value="" placeholder="Enter your question..." "></div>'
  var cross_field = '<div class="col-md-1 remove_question_div"><button class="btn btn-danger btn-xs remove_question_btn" style="margin-top: 5px;"><i class="fa fa-trash-alt"></i></button></div>'
  $('.feedback_question_rows').append( '<div class="question_row row temp_class" style="margin: 15px">'+ hidden_field +  select_field + questions_row + cross_field +'</div>')

  var current_rows = $('.feedback_question_rows').find('.temp_class').length
  if (current_rows == 7) {$('.modal-footer').find('.add_more_question').attr('disabled','disabled')}
  remove_row()
})

var total_questions = "<%= @questions.count%>"
if (total_questions > 0) {
  $('.feedback-heading-row').show()
}

function validate_feedback_form() {
  $("#feedback_form").validate({
    rules: {
      "feedback_setting[feedback_question_sets_attributes][0][question_field]": {
        required: true,
        minlength: 3
      },
      "feedback_setting[feedback_question_sets_attributes][1][question_field]": {
        required: true,
        minlength: 3
      },
      "feedback_setting[feedback_question_sets_attributes][2][question_field]": {
        required: true,
        minlength: 3
      },
      "feedback_setting[feedback_question_sets_attributes][3][question_field]": {
        required: true,
        minlength: 3
      },
      "feedback_setting[feedback_question_sets_attributes][4][question_field]": {
        required: true,
        minlength: 3
      },
      "feedback_setting[feedback_question_sets_attributes][5][question_field]": {
        required: true,
        minlength: 3
      },
      "feedback_setting[feedback_question_sets_attributes][6][question_field]": {
        required: true,
        minlength: 3
      }
    },
    messages: {
      "feedback_setting[feedback_question_sets_attributes][0][question_field]": {
        required: "This field can'nt be blank."
      },
       "feedback_setting[feedback_question_sets_attributes][1][question_field]": {
        required: "This field can'nt be blank."
      },
      "feedback_setting[feedback_question_sets_attributes][2][question_field]": {
        required: "This field can'nt be blank."
      },
      "feedback_setting[feedback_question_sets_attributes][3][question_field]": {
        required: "This field can'nt be blank."
      },
      "feedback_setting[feedback_question_sets_attributes][4][question_field]": {
        required: "This field can'nt be blank."
      },
      "feedback_setting[feedback_question_sets_attributes][5][question_field]": {
        required: "This field can'nt be blank."
      },
      "feedback_setting[feedback_question_sets_attributes][6][question_field]": {
        required: "This field can'nt be blank."
      }
    }
  });
}

validate_feedback_form()
