<!-- <table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th width="40%" style="padding-top:0px;padding-bottom:0px;">Name</th>
    <th width="20%"  style="padding-top:0px;padding-bottom:0px;">Code</th>
    <th width="20%" style="padding-top:0px;padding-bottom:0px;">Price</th>
    <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
  </tr>
  </thead>
  <tbody class="bed-management-table-body">

      <% (1..@totalbeds).each_with_index do |elem, i| %>

          <tr class="add-bed-tr">

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="ui-widget">
                    <%= text_field_tag "ward[beds_attributes][#{i}][name]", nil, {:maxlength => 20, :size => 40, :class => 'form-control bed_name' } %>
                  </div>
                </div>
              </div>
            </td>

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="ui-widget">
                    <%= text_field_tag "ward[beds_attributes][#{i}][code]", nil, {:maxlength => 5, :size => 10, :class => 'form-control bed_code' } %>
                  </div>
                </div>
              </div>
            </td>

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="ui-widget">
                    <%= text_field_tag "ward[beds_attributes][#{i}][price]", nil, {:maxlength => 6, :size => 10, :class => 'form-control bed_price' } %>
                  </div>
                </div>
              </div>
            </td>

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <!-- <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a> -->
                <a id="removebedaddbutton" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removebedaddbutton" ><span class="glyphicon glyphicon-remove"></span></a>
              </div>

            </td>

          </tr>

      <% end %>

  </tbody>

</table> -->