<div class="modal-dialog modal-lg" style="width: 80%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Schedule Admission Date and Time</h4>
      <hr style='margin: 5px;'>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <b style="color:#000; display: inline;">Facilities</b>
          <%= select_tag('time_slot_facility_id', options_for_select(@facilities.map { |facility| [facility.name, facility.id] }, @selected_facility), class: 'form-control p7_10', style: "display: inline; width: 80%;") %>
        </div>
        <%= hidden_field_tag 'time_slot_dept_id', params[:department_id] %>
        <%= hidden_field_tag 'time_slot_specialty_id', params[:specialty_id] %>
        <div class="col-md-3">
          <b style="color:#000; display: inline;">Doctor</b>
          <%= select_tag('time_slot_user_id', options_for_select(@users, @selected_user), class: 'form-control p7_10', style: "display: inline; width: 80%;",  :prompt => "Please select") %>
        </div>
      </div>
    </div>
    <div class="modal-body ipd-calendar-body">
      <div id="admission-slot-calendar">
      </div>
    </div>
  </div>
</div>
<script>
  $("#time_slot_facility_id").select2()
  $("#time_slot_user_id").select2()
</script>
<style>
  .fc-content{
    top: 36%;
  }
  .fc-time{
    text-align: center;
  }
  .fc-title{
    text-align: center;
  }
  .holiday_slot{
    font-size: 14px ;
    font-weight: bold;
  }
  .ui-pnotify-icon{
    position: relative;
    top: 6px;
  }
</style>
