<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>

<div class="modal-dialog admission-dialog" style="width:45%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Admission Form</h4>
    </div>
    <%= form_for @admission, remote: true, html: { id: 'edit-admission-form', class: "admission-form" } do |admission| %>
      <div class="modal-body" style="padding:5px 10px;background: #eee;">
        <div class="row">
          <div class="col-sm-12">
            <%= render partial: 'admissions/form.html.erb' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= admission.submit "Save", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, :onclick => 'admission_page()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  /* Hack For Edit Case Form Height */
  .admission-form-body {
    height: 350px !important;
  }
</style>