<div id="admissionWizard" class="basic-wizard">
  <% if params[:action] == "new" %>
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><a href="#admission-form-details" id="admissions-details" data-toggle="tab">Admission Details</a></li>
      <li role="presentation"><a href="#case-details" class='case-details' data-toggle="tab">Case Details</a></li>
      <li role="presentation"><a href="#insurance-details" class='insurance-details' data-toggle="tab">Insurance Details</a></li>
    </ul>
  <% end %>
  <div class="tab-content admission-form-body">
    <div class="tab-pane active" id="admission-form-details">
      <%= render partial: "admissions/form/admission_form.html.erb" %>
    </div>
    <% if params[:action] == "new" %>
      <div class="tab-pane" id="case-details">
        <%= render partial: "admissions/form/case_form.html.erb" %>
      </div>
      <div class="tab-pane" id="insurance-details">
        <%= render partial: "admissions/form/insurance_form.html.erb" %>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  <% if @admission_list_view.nil? || @admission_list_view.try(:current_state) == "Scheduled" %>
    .admission-datepicker, .admission-timepicker, #admission_admissiondate, #admission_time {
      cursor: pointer !important;
      background: #fff !important;
    }

    .reporting-timepicker {
      cursor: pointer !important;
      background: #fff !important;
    }

    .reporting-timepicker {
      cursor: pointer !important;
      background: #fff !important;
    }
  <% end %>

  .discharge-datepicker {
    cursor: pointer !important;
    background: #fff !important;
  }
</style>

<script type="text/javascript">
  <%= render partial: 'form.js.erb' %>
</script>