$('.btn-disable-approve_template').on('click', function(){
  var btn = $(this).closest('td').find('a')
  var category = $(this).data('category')
  $('#confirmation-modal').html(`
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are You Sure?</h4>
      </div>
      <div class="modal-body">
        <p>The Events associated with this template won't be triggered until a new template is linked to those events (<strong>${category}</strong>)?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        ${btn[0].outerHTML}
      </div>
    </div>
  </div>
  `)
})
