<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">View Template</h4>
      <div class="row" style="margin-top:15px;">
        <div class="col-sm-6">
          <strong>Department Type:</strong><%=@communication_template.try(:module_names).join(",").try(:upcase) rescue nil %>
        </div>
      </div>
      <div class="row" style="margin-top:15px;">
        <div class="col-sm-6">
          <strong>Template Title:</strong><%=@communication_template.template_title%>
        </div>
      </div>
      <div class="row" style="margin-top:15px;">
        <div class="col-sm-12">
          <strong>Template Content:</strong><span class="template-content"><br><%=@communication_template.template_content%></span>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div>
<style type="text/css">
  .template-content{
    width: 100% !important;
    max-width: 80em !important;
    white-space: normal !important;
    overflow-wrap: break-word !important;
    word-break: break-word !important;
  }
</style>
