<style type="text/css">
  .div_label_wrapper{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .label {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 4px 0px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 400;
    color: #FFF;
    cursor: pointer;
  }

  .label.label-pill,
  .label.label-rounded {
    border-radius: 99999px
  }

  .label.label-square {
    border-radius: 0
  }

  .label.label-default {
    background-color: #B0BEC5
  }

  .label.label-primary {
    background-color: #2196F3
  }

  .label.label-secondary {
    background-color: #323a45;
    color: #FFF
  }

  .label.label-info {
    background-color: #29B6F6
  }

  .label.label-success {
    background-color: #64DD17
  }

  .label.label-warning {
    background-color: #FFD600
  }

  .label.label-danger {
    background-color: #ef1c1c
  }

  .label.label-outlined {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    width: auto;
    flex: 1;
    margin-right: 5px;
    padding: 5px;
  }

  .label.label-outlined.label-secondary {
    border-color: #323a45;
    color: #323a45;
  }

  .note_para{
    color: red;
    margin-bottom: 0;
  }

  .no_margin{
    margin-bottom: 0;
  }
</style>

<div><strong>Place Holders:</strong></div>
<div class="div_label_wrapper">
  <label class="label label-secondary label-outlined" data-add_text=" {PAT_NAME}">
    For Patient's Name use {PAT_NAME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {PAT_NUM}">
    For Patient Number use {PAT_NUM}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {DOC_NAME}">
    For Doctor's Name use {DOC_NAME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {APP_DATE}">
    For Appointment Date use {APP_DATE}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {APP_TIME}">
    For Appointment Time use {APP_TIME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {FAC_SMS_NO}">
    For Contact Number use {FAC_SMS_NO}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {ORG_SMS_NUM}">
    For ORG Contact Number use {ORG_SMS_NUM}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {FAC_NAME}">
    For Facility Name use {FAC_NAME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {FAC_ADDR}">
    For Facility Address use {FAC_ADDR}
  </label>  
  <label class="label label-secondary label-outlined" data-add_text=" {ORG_NAME}">
    For Organisation Name use {ORG_NAME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {EST_DELIVERY_DATE}">
    For Est Delivery date use {EST_DELIVERY_DATE}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {ORDER_DATE}">
    For Order Date use {ORDER_DATE}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {EST_READY_DATE}">
    For Est Ready date use {EST_READY_DATE}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {OPTICAL_STORE_NAME}">
    For Store Optical NAME use {OPTICAL_STORE_NAME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {OPTICAL_STORE_ADD}">
    For Optical STORE ADDRESS use {OPTICAL_STORE_ADD}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {PHARMACY_STORE_NAME}">
    For Store Pharmacy NAME use {PHARMACY_STORE_NAME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {PHARMACY_STORE_ADD}">
    For Pharmacy STORE ADDRESS use {PHARMACY_STORE_ADD}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {STORE_NUMBER}">
    For Store NUMBER use {STORE_NUMBER}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {ORDER_ID}">
    For Order ID use {ORDER_ID}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {FITTER_NAME}">
    For FITTER NAME use {FITTER_NAME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {BILL_NUMBER}">
    For BILL NUMBER use {BILL_NUMBER}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {ORDER_DELIVERY_DATE}">
    For Order Delivery Date use {ORDER_DELIVERY_DATE}
  </label>
</div>
