<% @bom_items = @ipdrecord.bill_of_material.where(operative_note_id: @operative_note.id, is_print: true) %>
<% if @bom_items.present? %>
	<div class="row mb10">
		<div class="col-md-12">
			<div class="row">
	      <strong>INVENTORY :</strong>
	      <div class="summary-line-border"></div>
	    </div>
	    <div class="check-font mt10 mb5">
	  		<table class="table table-striped table-bordered">
	  			<thead>
	  				<tr>
	            <th>Description</th>
	            <th>Category</th>
	            <th>Qty</th>
	            <th>Batch</th>
	  				</tr>
	  			</thead>
	        <tbody>
	          <% @bom_items.each do |item| %>
	            <td><%= item.description %></td>
	            <td><%= item.category.titleize %></td>
	            <td><%= item.bom_quantity %></td>
	            <td><%= item.batch_no %></td>
	          </tr>
	          <% end %>
	        </tbody>
	  		</table>
	  	</div>
		</div>
	</div>
<% end %>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  /*.check-font table tr th {
    padding: 2px 5px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .check-font table tr td {
    padding: 2px 5px;
    text-align: center;
  }*/

  .check-font {
    font-size: 14px;
  }

  .table thead tr th, .table tbody tr td {
    padding: 3px;
  }
</style>
