<% if @operative_note.present? && (@operative_note.devices.present? || @operative_note.device_comment.present?) %>
  <div class="row">
    <strong>DEVICES:</strong>
    <div class="summary-line-border"></div>
  </div>
  <% if @operative_note.present? && @operative_note.devices.present? %>
    <div class="advice mb5" id="device">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <% @operative_note.devices.each do |device| %>
              <li><%= device.titleize %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <% if @operative_note.present? && @operative_note.device_comment.present? %>
    <div class="row mb5">
      <div class="col-md-12">
        <b>Comments :</b>
        <%= @operative_note.device_comment %>
      </div>
    </div>
  <% end %>
<% end %>
<style>
  #device {
    margin-left: 1%;
  }
</style>
