<div class="row mb20">
  <div class="col-md-12 col-md-offset-1">
  <h5> Select the devices used during procedure</h5>
  </div>
  <% devices = ['ctr', 'iris hooks', 'capsule hooks', 'modified ctr'] %>
  <% devices.each do |device| %>
  <div class="col-md-12 col-md-offset-1">
    <div class="ckbox ckbox-primary common-ckbox mb5">
      <%= f.check_box :devices, { multiple: true, class: 'device', id: "device_#{device}" }, device, false %>
      <label for="device_<%= device %>">&emsp;<%= device.titleize %></label>
    </div>
  </div>
  <% end %>
</div>
<!-- Comment Box -->
<div class="row mb20">
  <div class="col-md-12 col-md-offset-1">
    <div class="col-md-2" style="margin-left: -10px;">
      COMMENT BOX :
    </div>
    <div class="col-md-3">
      <%= f.text_area :device_comment, {style: "width:125%;", class: "form-control",:value => @operative_note.read_attribute(:device_comment) } %>
    </div>
  </div>
</div>

