<div class="row">
  <% diagnosis.each do |diagnosis| %>
      <div class="col-md-12">
        <% if diagnosis.created_from == "migration"%>
            <li style="margin-left: 10px"> <%= diagnosis.diagnosisname.capitalize %></li>
        <%else%>
            <li style="margin-left: 10px"> <%= diagnosis.diagnosisoriginalname.capitalize %>- <b><%= diagnosis.icddiagnosiscode.upcase.insert(3, '.') %></b></li>
        <%end%>
      </div>
  <% end %>
</div>