<div class="adjust_font_size_print">
  <%= render partial: @erb%>
</div>

<style type="text/css">
    .adjust_font_size_print * {
        font-size: 10px;
        font-family: "<%= UsersSetting.find_by(user_id: current_user.id).font_style %>";
    }
</style>