<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="width: 90%">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="row">
        <div class="col-md-8 modal-title">Vendor Location</div>
        <div class="col-md-4 text-right">
           <%= link_to new_inventory_vendor_location_path(vendor_id: @vendor_id), class: "btn btn-primary", data: { remote: true } do %><i class="fa fa-plus"></i> Vendor Location<% end %>
        </div>
      </div>

    </div>
    <div class="modal-body">
      <div class="fitter-form">
      </div>
      <hr>
      <div class="row fitters-list">
        <%= render partial: "vendor_locatios_index.html"%>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<style type="text/css">

  .ui-menu-item a.ui-state-focus {
    background-color: #929090;
    color: #fff;
  }

  .select2-container .select2-selection--single {
    height: 34px !important;
  }
</style>