<div class="modal-dialog" style="width: 60%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="color: #00BFFF">Bill Of Material</h4>
    </div>
    <div class="modal-body window-body">
      <% unless @bom.is_canceled %>
        <div class="btn-group" style="margin: 10px;">
          <% unless @bom.operative_note_id.present? || @bom.ipd_invoice_id.present? %>
            <%= link_to edit_inpatient_bill_of_material_path(id: @bom.id, patient_id: @bom.patient_id, admission_id: @bom.admission_id.to_s), class: "btn btn-primary btn-xs", data: { remote: true, 'toggle' => 'modal', 'target' => '#bill-of-material-modal', class: 'btn btn-info'} do %><i class="fa fa-edit"></i>Edit<% end %>

            <%= link_to delete_bom_inpatient_bill_of_materials_path(id: @bom.id, patient_id: @bom.patient_id, admission_id: @bom.admission_id), class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure to Delete This Bill Of Material?', commit: 'Yes', remote: true, 'disable-with' => 'Please Wait...',  class: 'btn btn-danger' } do %>Delete<% end %>
          <% end %>
        </div>
      <% end %>
      <%= render partial: 'show_body.html.erb' %>
    </div>
    <div class="modal-footer window-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>