<div class="row">
  <div class="col-md-6"><b style="">TPA Workflow :</b></div>
  <div class="col-md-6 text-right"> 
    <% if ['initiated'].include?(@workflow.state) && @insurance_details.nil? %>
      <%= link_to tpa_undo_tpa_process_path(:tpa_workflow_id => @workflow.id), :data => {:remote => true}, class: 'btn  btn-xs btn-danger' do %>Patient Denied<% end %>
    <% end %>
  </div>
</div>

<div class="row" style="margin-top: 7px;">
  <div class="col-md-12 text-right">
    <%= render partial: '/tpa/insurance/tpa_workflow_actions.html.erb' %>
  </div>
</div>

<div class="row no_margin no_padding tpa_workflow_timeline">
  <%= render partial: '/tpa/insurance/tpa_timeline.html.erb' %>
</div>
<% if @workflow.try(:end_process_reason).present? %>
  <div class="row">
    <div class="col-md-12">
      <span><b>Declined Reason :</b> <%= @workflow.end_process_reason %></span>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  
  $('.tpa_state_button').on('click', function (event) {
    event.preventDefault()
    var workflow_id = $(this).attr("data-id")
    var state = $(this).attr("data-value")

    if (state == 'undo'){
      var url = '/tpa/undo_tpa_state'
    }else if(state == 'complete'){
      var url = '/tpa/complete_tpa_workflow'
    }else {
      var url = '/tpa/change_state'
    }

    $.ajax({
      dataType: "script",
      type: "get",
      data: {workflow_id: workflow_id, state: state },
      url: url
    })
  })

</script>