<% if @tpa_workflow_present %>
  <div class="row no_margin no_padding clinical-workflow-timeline">
    <div class="col-xs-12" style="line-height: 2;">

      <label style="font-size:12px;border-radius: 12px;background-color: #2196f3;" class="label" title="Cashless Hospitalisation Process Initiated">TPA Process Initiated</label>
     
      <% @tpa_workflow_timeline.each do |transition| %>
      <i class="fa fa-long-arrow-alt-right"></i>
        <% if transition.to == "pre_auth" %>
          <label title="Documents sent for TPA Pre-Authorization" style="font-size:12px;border-radius: 12px;" class="label label-primary">Pre-Auth</label>

        <% elsif transition.to == "pre_auth_approved" %>
          <label title="Initial Approval on Cashless Hospitalisation by TPA" style="font-size:12px;border-radius: 12px;" class="label label-info"><i class="fa fa-check fa-lg" aria-hidden="true"></i> &nbsp;  Pre-Auth approved</label>

        <% elsif transition.to == "pre_auth_query" %>
          <label title="Query Raised on Cashless Hospitalisation by TPA" style="font-size:12px;border-radius: 12px;" class="label label-primary"> Pre-Auth Query</label>

        <% elsif transition.to == "pre_auth_declined" %>
          <label title="Cashless Hospitalisation Denied by TPA" style="font-size:12px;border-radius: 12px;" class="label label-primary">Pre-Auth Denied</label>

        <% elsif transition.to == "pre_auth_final_approval" %>
          <label title="Received Final Approval from TPA on Discharge" style="font-size:12px;border-radius: 12px;" class="label label-primary">Final Approval</label>

        <% elsif transition.to == "tpa_final_payment" %>
          <label title="Sent final bill and other docs to TPA for Payment" style="font-size:12px;border-radius: 12px;" class="label label-primary">Final Payment From TPA</label>

        <% elsif transition.to == "tpa_payment_received" %>
          <label title="TPA Process completed for this Admission" style="font-size:12px;border-radius: 12px;" class="label label-success"><i class="fa fa-check fa-lg" aria-hidden="true"></i> TPA Payment Received</label>

        <% elsif transition.to == "tpa_process_ended" %>
          <% reason = if @workflow.end_process_reason.present? then @workflow.end_process_reason else "TPA Process Cancelled by TPA Desk or Patient or Other Reasons" end  %>
          <label title="<%= reason %>" style="font-size:12px;border-radius: 12px;" class="label label-danger"><i class="fa fa-close fa-lg" aria-hidden="true"></i> TPA Process Ended</label>

        <% elsif transition.to == "workflow_deleted" %>
          <label style="font-size:12px;border-radius: 12px;" class="label label-danger"><i class="fa fa-close fa-lg" aria-hidden="true"></i> Admission Deleted</label>

        <% else %>
          <% transition =  transition.to.split("_").join(" ").capitalize %>
          <label style="font-size:12px;border-radius: 12px;" class="label label-primary"><%= transition %></label>
        <% end %>    
      <% end %>
    
    </div>
  </div>
<% end %>