<div class="fuelux">
  <div class="wizard" id="clinicalWizard">
    <ul class="steps" id="clinical-note-steps">
        <li data-step="1" class="clinical-form-steps admin-steps active"><span class="badge">1</span> Admin <span class="chevron"></span></li>
        <!-- <li data-step="2" class="clinical-form-steps clinical-steps"><span class="badge">2</span> Clinical <span class="chevron"></span></li> -->
        <li data-step="2" class="clinical-form-steps case-steps"><span class="badge">2</span> Case Clinical <span class="chevron"></span></li>
        <li data-step="3" class="clinical-form-steps history-steps"><span class="badge">3</span> History <span class="chevron"></span></li>
    </ul>

    <div class="actions">
      <button type="button" class="btn btn-default btn-prev" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
      <button type="button" class="btn btn-default btn-next">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
    
    <div class="step-content clinical-form-content" style="overflow:scroll;">
      <div class="step-pane active" id="step1" data-step="1">
        <%= render partial: "inpatient/ipd_record/clinical_note/common/admin_form.html.erb", locals: {f: f} %>
      </div>

      <!-- <div class="step-pane" data-step="2">
        <%# if @opd_records.count > 0 %>
            <div class="row opd-dropdown" >
              <div class="col-md-6" style="color: black;">
               <i class="fa fa-star" style="color: gold;"></i> Select Opd Record to copy data or Select <b>Enter manualy</b> and <i class="fa fa-edit" style="color: #3a87ad;"></i> to add manually
              </div>
              <div class="col-md-6">
                <select  class=" select-opdrecord form-control" style="width: 60%;color: black;">
                  <option value="none">Enter Manually</option>
                      <%# @opd_records.each do |opdrecord| %>
                          <option value="<%#=  opdrecord.record_id.to_s%>_<%#= opdrecord.patient_id.to_s%>" style=""><%#= opdrecord.templatetype.capitalize%>,Dr.<%#=opdrecord.doctor_name%>,<%#= opdrecord.encounterdate.strftime("%d/%m/%y")  %></option>
                      <%#end%>
                </select>
              </div>
            </div>
        <%# end %>
        <%#= render partial: "clinical_form.html.erb", locals: {f: f} %>
      </div> -->

      <div class="step-pane" data-step="2">
        <%= render partial: 'inpatient/ipd_record/clinical_note/case_sheets/case_form.html.erb', locals: { source: "IpdRecord", show_note: false } %>
      </div>

      <div class="step-pane" data-step="3">
        <%= render partial: "inpatient/ipd_record/clinical_note/common/history_form.html.erb", locals: {f: f} %>
      </div>
    </div>
  </div>
</div>

<style type="text/css">

  <% if @opd_records.count > 0 %>
    .r-od, .l-od {
      margin-top: 25px;
    } 
  <% else%>
   .clinical_form_title {
    margin-top: -22px;
   }
  <% end %>

  .clinical-form-steps, .picker {
    cursor: pointer !important;
  }

  .picker {
    background-color: #fff !important;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    var wind = $(window).height()
    $(".clinical-form-content").css('height', wind - 205)
    // Initialize Wizard
    $("#clinicalWizard").wizard();
    // Disable Enable Prev Next On First and Last Step respectively
    $('#clinicalWizard').on('actionclicked.fu.wizard', function (evt, data) {
      // Disable Prev Button on First Step
      if(data.step == 0 || (data.step == 2 && data.direction == "previous")) {
        $(".btn-prev").attr('disabled','disabled');
      } else {
        $(".btn-prev").removeAttr('disabled','disabled');
      }
      // Disable Next Button on First Step
      if(data.step == 3 && data.direction == "next") {
        $(".btn-next").attr('disabled','disabled');
      } else {
        $(".btn-next").removeAttr('disabled','disabled');
      }
    });

    //  Step Name Click Option
    $(".clinical-form-steps").on('click',function(){
      // Disable Enable Prev Next button
      if($(this).attr('data-step') == 1) {
        $(".btn-prev").attr('disabled','disabled');
      } else {
        $(".btn-prev").removeAttr('disabled','disabled');
      }

      if($(this).attr('data-step') == 2) {
        $("#clinicalWizard").wizard('next');
      }

      if($(this).attr('data-step') == 3) {
        $("#clinicalWizard").wizard('next').wizard('next');
      }

      if($(this).attr('data-step') == 4) {
        $(".btn-next").attr('disabled','disabled');
        $("#clinicalWizard").wizard('next').wizard('next').wizard('next')
      } else {
        $(".btn-next").removeAttr('disabled','disabled');
      }
    })
  });
</script>
