<div class="inpatient-controls" id="inpatient-controls">
  <ul class="filemanager-options">
      <li> 
          <select class="form-control input-sm mb15 calendar-controls-select-department">
              <option value="default">Select Gender</option>
              <option value="309989009">Male</option>
              <option value="309915006">Female</option>
          </select>
      </li>
      <li>
          <select class="form-control input-sm mb15 calendar-controls-select-doctor">
              <option value="default">Select Area</option>
              <option value="111">Knee</option>
              <option value="222">Shoulder</option>
              <option value="333">Hip</option>
          </select>
      </li>
 
  </ul>


  <div class="row">

        <div class="col-md-6">

          <div class="panel">
            <div class="panel-heading" style="overflow:auto;">
              <h4>Procedures Performed (monthly)</h4>
            </div>
            <div class="panel-body">

                  <div id="research1" style="height: 300px"></div>

            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="panel">
            <div class="panel-heading" style="overflow:auto;">
              <h4>Disorders by Body Region (monthly)</h4>
            </div>
            <div class="panel-body">

              <div id="research2" style="height: 300px"></div>

            </div>
          </div>

        </div>
  </div>

  <div class="row">

    <div class="col-md-6">

      <div class="panel">
        <div class="panel-heading" style="overflow:auto;">
          <h4>OPD Case Distribution- day wise (Fresh/Followup)</h4>
        </div>
        <div class="panel-body">

          <div id="research3" style="height: 300px"></div>

        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading" style="overflow:auto;">
          <h4>OA Knee Patients Age/Sex Distribution (monthly)</h4>
        </div>
        <div class="panel-body">

          <div id="research4" style="height: 300px"></div>

        </div>
      </div>

    </div>
  </div>





</div>