<% if opdrecord.send("#{@flag}_history_flag") == "1" %>
    <div class="chiefcomplaint mb5" id="chiefcomplaint">
      <% if opdrecord.chiefcomplaintselectedtags.length > 0 %>
          <% history_counter = 0 %>
          <% history_chiefcomplaintselectedtags = "" %>
            <% if opdrecord.chiefcomplaintselectedtags.length > 0 %>
              <% history_chiefcomplaintselectedtags = opdrecord.get_chiefcomplaints_for_opdsummary(opdrecord.chiefcomplaintselectedtags) %>
              <% history_counter = history_counter + 1 %>
            <% end %>
          <% if history_counter > 0 %>
              <div class="row">
                <strong style="<%= heading_font_size %>">CLINICAL DETAILS :</strong>
                <div class="summary-line-border"></div>
              </div>
          <% end %>
          <% if history_counter > 0 %>
              <div class="row">
                <div class="col-md-12 col-sm-12" style="<%= text_font_size %>">
                  <% if history_chiefcomplaintselectedtags.length > 0 %>
                      <%= history_chiefcomplaintselectedtags %>
                  <% end %>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
<% end %>
