<div class="modal-dialog modal-lg" style="width: 90%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Advance History</h4><input class="form-control" type="text" id="searchCheckoutLog" placeholder="Search by Bill Number" />
    </div>
    <div class="modal-body" style="overflow-y: scroll; height:500px;">
      <table class="table-inventory" id="checkout_logs">
        <thead>
        <tr style="font-weight: bold" class="text-center">
          <td>Sl. No.</td>
          <td>Receipt Number</td>
          <td>Order Date</td>
          <td>Recipient</td>
          <td>Recipient Mobile</td>
          <td>No. of Items</td>
          <td>Advance Taken</td>
          <td>Total Amount</td>
          <td>Actions</td>
        </tr>
        </thead>
        <tbody class="checkoutLogSearchResult">
          <%=render partial: "advance_patient_result" , locals: {invoice_inventory_department_opticals: @invoice_inventory_department_opticals} %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
