<div class="row mb10 mt10" style="color: rgb(99, 99, 99);">
  <div class="col-md-2 col-md-offset-1" >
     <b>Patient Name :</b>
  </div>
  <div class="col-md-3">
    <div id="patient_name"><%= @advance_payment.patient_name %></div>
  </div>
  <div class="col-md-2 text-right">
    <b>Prescription ID :</b></div>
   <div class="col-md-3">
  <div id="prescription_id">
    <%= @advance_payment.prescription_id %>
  </div>
   </div>
</div>
 
<div class="row mb10 mt10" style="color: rgb(99, 99, 99);">
   <div class="col-md-2 col-md-offset-1" >
    <b>Reason :</b>
   </div>
   <div class="col-md-3">
   <div id="advance_payment_reason"><%= @advance_payment.reason %></div>
   </div>
   <div class="col-md-2 text-right"><b>Amount :</b></div>
   <div class="col-md-3"><div id="advance_payment_amount"><%= @advance_payment.advance_amount %></div>
   </div>
   
</div>