<div class="col-sm-5 col-sm-offset-7 text-right">
  <div class="row">
    <div class="col-sm-6 font_size">
      <b>Total Amt Including Tax</b>
    </div>
    <div class="col-sm-3 text-center font_size">
      :
    </div>
    <!--<div class="col-sm-2 font_size">-->
      <!--<%#= f.text_field :total, :class => "fi_input_style readonly", :id=>"total_wt", :placeholder => 'Amount', :style=>"width:92%", :readonly => true %>-->
    <!--</div>-->

    <div class="col-sm-2 font_size" id="total_wt">
      0
    </div>
    
    <div class="col-sm-6 font_size">
      <b>Discount</b>
    </div>
    <div class="col-sm-3 text-center font_size">
      :
    </div>
    <div class="col-sm-2 font_size">
      <%= f.text_field :discount, :class => "fi_input_style", :id=>"invoice_discount", :placeholder => 'Amount',:style=>"width:92%;"%>
    </div>
    <div class="col-sm-6 font_size">
      <b>Amount Paid</b>
    </div>
    <div class="col-sm-3 text-center font_size">
      :
    </div>
    <div class="col-sm-2 font_size">
      <%= f.text_field :total, :class => "fi_input_style readonly grand_total", :id=>"grand_total_inc_discount", :placeholder => 'Amount', :style=>"width:92%", :readonly => true %>
    </div>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'patient_prescription.js' %>

  calTotalPrice()


//
//  $('.item_quantity,.item_price,.item_tax').on('keyup',function(){
//    quantity = $(this).parent().parent().find('.item_quantity').val()
//    price = $(this).parent().parent().find('.item_price').val()
//    tax_percent = $(this).parent().parent().find('.item_tax').val()
//    if ( price!= "" && quantity!= ""&& tax_percent!= ""){
//      tax_amount = (price*tax_percent)/100
//      // console.log(tax_amount, quantity, tax_percent, price)
//      total = quantity * (parseFloat(price) + parseFloat(tax_amount))
//      $(this).parent().parent().find('.item_total_price').val(total.toFixed(2) || 0.00)
//      if (price == 0){
//        $(this).parent().parent().find('.item_tax_price').val(0.00)
//      }
//    }
//    each_item_totals = $('.item_total_price')
//    each_item_tax = $('.item_tax_price')
//    total_wt = 0
//    sub_total_tax = 0
//    for(var i = 0; i < each_item_totals.length; i++){
//        total_wt += parseFloat($(each_item_totals[i]).val())
//        tax = ($(each_item_totals[i]).parent().parent().find('.item_tax').val() * $(each_item_totals[i]).val())/100
//        sub_total_tax += parseFloat(tax)
//    }
//    grand_total_inc_discount = total_wt - $('#invoice_discount').val()
//    // console.log(grand_total_inc_discount, 'ZZZZZZ')
//    total_wt = total_wt || 0.00
//    sub_total_tax = sub_total_tax || 0.00
//    grand_total_inc_discount = grand_total_inc_discount ||0.00
//    $('#total_wt').val(total_wt.toFixed(2))
//    $('#sub_total_tax').val(sub_total_tax.toFixed(2))
//    $('#grand_total_inc_discount').val(grand_total_inc_discount.toFixed(2))
//  })
//
//
//
//  $('#invoice_discount, #total_wt').on('keyup change', function(){
//    total_wt = $('#total_wt').val()
//    // console.log('11111111', total_wt)
//    discount = $(this).val()
//    grand_total_inc_discount =  total_wt - discount
//    $('#grand_total_inc_discount').val(grand_total_inc_discount.toFixed(2))
//  })

</script>