<div class="modal-dialog modal-hg-fileupload">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right">
        <button aria-hidden="true" class="btn btn-info opd-appointment-visittype-close" data-dismiss="modal">Close</button>
      </div>
      <h4 class="nomargin">Import Services via Excel File</h4>
      <%= stylesheet_link_tag  "bootstrap-fileupload.min", media: "all", "data-turbolinks-track" => true %>
    </div>
    <%= render "services/partials/add_excel_form" %>
  </div>
</div>