<div class="btn-group">
  <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Settings">
    OT Services <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to new_service_path(:service_type_id => "387713003", :service_type => "OT"), :class => "new-service-opd-modal", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#invoice-modal', method: :get } do %> <i class="glyphicon glyphicon-plus"></i> Add New OT Service <% end %></li>
    <li class="divider"></li>
    <li><%= link_to services_add_excel_path(:service_type_id => "387713003", :service_type => "OT"), :class => "patient-excel-modal", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#patient-excel-modal', method: :get } do %> <i class="glyphicon glyphicon-plus"></i> Add OT Services Via Excel <% end %></li>
  </ul>
</div>