<div class="panel">
  <div class="panel-heading" style="overflow:auto;">
    All Referring Doctors

    <div class="pull-right"><%= link_to new_referring_doctor_path,:data => {:remote => true,'toggle' =>  "modal", 'target' => '#ref-doc-modal'}, :class => "btn btn-success" do%><i class="fa fa-plus"></i> Referring Doctor<% end %></div>
  </div>
  <div class="panel-body">
    <table class="table table-striped" id="referring-doc-list">

    </table>

  </div>
  </div>