<div class="manage_referring_doctors" id="manage_referring_doctors">
  <%= render "index_content" %>
  <script type="application/javascript">
      $(document).ready(function(){
          <%= render partial: 'referring_doc_init.js' %>
      })
  </script>
</div><!-- contentpanel -->

