<div class="col-lg-12 col-md-12 expenses-main">

  <div id="sidebar" class="sidebar-main col-lg-2 col-md-2">
   
    <ul class="list-unstyled components settings_update">
      <li>
          <a href="#generalfinanceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix"><span class="b-icon"></span>Finance&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="collapse list-unstyled in padded_list" id="generalfinanceSubmenu">
               <li class="finance-expense <%if params[:action]=="dashboard"%>active<%end%>" id="expense_dashboard">
                  <a href="/finance/expenses/dashboard" class="finance_link ps" data-remote="true">
                    <i class="fa fa-dashboard"></i>&nbsp;&nbsp;
                    <span>Dashboard</span>
                  </a>
                </li>
                <li class="finance-expense <%if params[:action]=="expense_list"%>active<%end%>" id="expense_list">
                  <a href="/finance/expenses/expense_list" class="finance_link ps" data-remote="true">
                    <i class="fa fa-money"></i>&nbsp;&nbsp;
                    <span>Expenses</span>
                  </a>
                </li>
          </ul>
      </li>

     

    

      <!--<li class="finance-expense <%#if params[:action]=="recurring"%>active<%#end%>" id="expense_recurring">-->
        <!--<a href="/finance/expenses/recurring" class="finance_link ps" data-remote="true">-->
          <!--<i class="fa fa-rupee"></i>&nbsp;&nbsp;-->
          <!--<span>Recurring Expenses</span>-->
        <!--</a>-->
      <!--</li>-->

    </ul>
  </div>

  <!--<div id="main_area" class="col-sm-10" style="overflow-y: scroll; height: 100%; padding-left: 0;">-->
  <div id="toolbar" class="toolbar col-lg-10 col-md-10">
    <div class="row" style="padding-bottom: 3px">

      <!--<div class="col-lg-offset-7 col-lg-5 col-md-5 text-right">-->

        <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAddExpense">-->
          <!--<i class="fa fa-plus"></i>&nbsp;&nbsp;New Category-->
        <!--</button>-->

        <!--<div class="btn-group" role="group">-->
          <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#listExpense">-->
            <!--<i class="fa fa-th-list"></i>&nbsp;&nbsp;List-->
          <!--</button>-->
          <!--<a href="recurringexpense/new" class="btn btn-primary btn-sm finance_new_recurringexpense pull-right" type="button" style="margin-right: 20px;display: none;border-radius: 0px 3px 3px 0px; " >-->
            <!--<i class="fa fa-plus"></i>&nbsp;&nbsp;-->
            <!--<span>New Expense</span>-->
          <!--</a>-->
          <!--<a href="expense/new" class="btn btn-primary btn-sm finance_new pull-right" type="button" style="margin-right: 20px;display: none">-->
            <!--<i class="fa fa-plus"></i>&nbsp;&nbsp;-->
            <!--<span>New Expense</span>-->
          <!--</a>-->
        <!--</div>-->


        <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#listExpense">-->
          <!--<i class="fa fa-th-list"></i>&nbsp;&nbsp;Sort-->
        <!--</button>-->

      <!--</div>-->


    </div>
  </div>

  <div id="expenses_content" class="col-md-10" style="">
    <% if params[:action] == "index"%>
      <%= render "dashboard.html" %>
    <%else%>
      <%= render params[:action] %>
    <%end %>
  </div>

  <!--</div>-->
</div>




<style>
  html, body {
    height: 100%;
    background: #d5d9e7;
  }
  .btn-primary {
    background: #3498db;
  }
  .btn-primary:hover {
    background: #2980b9;
  }
  .btn-warning {
    background: #f1c40f;
  }
  .btn-warning:hover {
    background: #f39c12;
  }
  .btn-success {
    background: #2ecc71;
  }
  .btn-success:hover {
    background: #27ae60;
  }
  .btn-danger {
    background: #e74c3c;
  }
  .btn-danger:hover {
    background: #c0392b;
  }
  .padded-select {
    padding: 3px;
  }
  .help-block, .form-error {
    display: none;
  }
  .ui-effects-wrapper {
    display: inline;
  }
  .expenses-main {
    padding: 5px;
    background: #d5d9e7;
  }

  .contentpanel {
    padding: 0px;
  }
  .navbar-expense-type {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
  }
  .mainpanel_expense {
    background: red;
  }

  .mainpanel{
    min-height: calc(100% - 50px);
    padding: 0;
    background-color: grey;
    height: calc(100% - 50px);
    position: absolute;
    width: 100%;

  }



  .col-md-10, .col-lg-10 {
    padding-right: 0;
  }
  .toolbar {
    bottom: 0;
    background: #354670;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 0;
    padding-right: 8px;
    margin-right: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  .toolbar .btn {
    line-height: 18px;
  }
  .toolbar .fa-shopping-bag {
    color: #efefef;
    font-size: 30px;
    cursor: pointer;
    transform: translateZ(0px);
  }
  .toolbar .fa-shopping-bag .badge-circle {
    background-color: rgba(229, 123, 92, 0.8);
    font-weight: bold;
    font-size: 10px;
    position: relative;
    bottom: 6px;
    right: 15px;
  }
  .toolbar .expense-control-panel {
    padding: 0 5px 0 5px;
  }
  .toolbar .btn-group {
    margin-bottom: 0;
  }
  .toolbar .btn {
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #eee;
    padding-left: 5px;
    padding-right: 5px;
  }
  .toolbar #expense_search_panel input {
    border-radius: 23px 0 0 23px;
    padding-left: 43px;
    padding-right: 43px;
    padding: 6px 12px;
    height: 30px;
    line-height: 1.42857;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }
  .hvr-push {
    animation-duration: 0.3s;
    animation-name: hvr-push;
    animation-timing-function: linear;
    color: #e94822;
  }
  @-webkit-keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .warning-near-threshold > td {
    background: #fff8c0;
  }
  .warning-below-threshold > td {
    background: #f6b9d7;
  }
  .show_expense {
    padding: 5px;
    padding-top: 5px;
    border-top: 1px solid #00a0fe;
    overflow-y: auto;
    background: #fff;
  }
  .show_recurring_expense {
    padding: 5px;
    padding-top: 5px;
    border-top: 1px solid #00a0fe;
    overflow-y: auto;
    background: #fff;
  }
  .expense_action_buttons, .recurring_details, .expense_show_details {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  .expense_attachments, .expense_show_details_last {
    padding: 10px;
  }
  .expenses_content, .trimmed_expenses_content {
    border-top: 1px solid #00a0fe;
    border-right: 1px solid;
    overflow-y: scroll;
    margin-left: -10px;
    background: #eef1f7;
    padding: 5px;
    padding-top: 0px;
  }
  .expenses_content .table-striped > tbody > tr:nth-child(2n+1) > td, .trimmed_expenses_content .table-striped > tbody > tr:nth-child(2n+1) > td, .expenses_content .table-striped > tbody > tr:nth-child(2n+1) > th, .trimmed_expenses_content .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fcfdfe;
  }
  .expenses_content .table, .trimmed_expenses_content .table {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    margin-bottom: 3px;
  }
  .expenses_content .table thead, .trimmed_expenses_content .table thead {
    font-weight: bold;
    background: #8c95b3;
    color: white;
  }
  .expenses_content .table tbody tr td, .trimmed_expenses_content .table tbody tr td {
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  #lots li {
    margin-bottom: 5px;
  }
  #lots li .btn {
    margin-left: 2px;
  }
  .sidebar-main {
    color: #eee;
    background: #354670;
    padding: 0 3px 0 3px;
    height: 700px;
  }
  .sidebar-main hr {
    margin: 5px 0 5px 0;
    border-top: 2px solid #293850;
  }
  .sidebar-main h4.sidebar-heading {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 6px;
  }
  .sidebar-main ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 5px;
  }
  .sidebar-main ul li {
    color: #bbb;
    cursor: pointer;
    text-align: left;
    list-style-type: none;
    margin-bottom: 15px;
    /*padding: 10px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    width: 100%;
  }
  .sidebar-main ul li .fa-toggle-off {
    font-size: 18px;
    color: #999;
  }
  .sidebar-main ul li .fa-toggle-on {
    font-size: 18px;
    font-weight: bold;
    color: #00a0fe;
  }
  .sidebar-main #modalRequestLog {
    color: #636e7b;
  }
  .sidebar-main #modalRequestLog li {
    color: #636e7b;
    cursor: default;
  }
  .label-bold {
    font-size: 15px;
  }
  .label {
    width: 100%;
    position: relative;
  }
  #modalCart table thead {
    font-weight: bold;
  }
  #modalCart table td {
    padding-left: 5px;
    padding-right: 5px;
  }
  #modalCart table td .cursor-pointer {
    cursor: pointer;
  }
  .table-finance {
    width: 80%;
  }
  .table-finance td {
    padding: 5px;
  }
  .padding-10 {
    padding: 5px;
  }
  .table-add-item td, .expense-inputs td {
    padding: 5px 5px 0 5px;
  }
  .table-add-item input, .expense-inputs input, .table-add-item textarea, .expense-inputs textarea {
    border-radius: 0;
  }
  .table-add-item input:focus, .expense-inputs input:focus, .table-add-item textarea:focus, .expense-inputs textarea:focus {
    outline: 0 none;
    background: #bafbdf;
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }
  .table-add-item .resize-select, .expense-inputs .resize-select {
    height: 37px;
  }
  .glow-animation {
    -webkit-animation: glow 0.5s infinite alternate;
  }
  @-webkit-keyframes glow {
    to {
      text-shadow: 0 0 10px red;
    }
  }
  /*Huzi Logic: Small Input Fields*/
  .editItem_input_style, .modalRequest_input_style, .fi_input_style, .return_item_style {
    padding-left: 3px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
  /*Huzi*/
  .modalRequest_input_style {
    text-align: right;
  }
  .editItem_input_style:focus, .modalRequest_input_style:focus, .fi_input_style:focus, .return_item_style:focus {
    background: #ffc;
  }
  .pack-small, .unit-small {
    font-size: 10px;
  }
  /* Huzi Ends*/
  .loading_dots {
    width: 2.75em;
    /*
     position just for demo
     */
    margin-left: 46%;
  }
  .loading_dots span {
    background: #232323;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 0.6em;
    width: 0.6em;
    -webkit-animation: loading_dots 0.8s linear infinite;
    -moz-animation: loading_dots 0.8s linear infinite;
    -ms-animation: loading_dots 0.8s linear infinite;
    animation: loading_dots 0.8s linear infinite;
  }
  .loading_dots span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .loading_dots span:nth-child(1) {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  /*
   Define the animation for every efing vendor prefix
   */
  @-webkit-keyframes loading_dots {
    0% {
      background: transparent;
    }
    50% {
      background: #232323;
    }
    100% {
      background: transparent;
    }
  }
  @-moz-keyframes loading_dots {
    0% {
      background: transparent;
    }
    50% {
      background: #232323;
    }
    100% {
      background: transparent;
    }
  }
  @-ms-keyframes loading_dots {
    0% {
      background: transparent;
    }
    50% {
      background: #232323;
    }
    100% {
      background: transparent;
    }
  }
  @keyframes loading_dots {
    0% {
      background: transparent;
    }
    50% {
      background: #232323;
    }
    100% {
      background: transparent;
    }
  }
  .nav-bracket > li > a {
    color: #f9f9f9;
    padding: 7px 10px;
  }
</style>






