<div class="contentpanel">
  <%= render "index.html" %>
  <script type="application/javascript">
    $(document).ready(function(){
      <%= render partial: 'index.js' %>
      <%= render partial: 'expense_list.js' %>
    })
  </script>
</div>