
<%= form_for @fitter, remote: true , html: { id: "inventory_fitter_form" } do |f| %>
  <%= f.hidden_field :store_id, { value: @store_id } %>
  <%= render partial: 'form.html.erb', locals: { f: f } %>
  <%= f.submit "Update Changes", { class: 'btn btn-success', onclick: 'validate_inventory_fitter_form()' } %>
  <button type="button" class="btn btn-default cancel-inventory-fitter" data-dismiss="">Cancel</button>
<%end%>