jQuery(".mainpanel").html("<div class='contentpanel patient-timeline-panel'><%= escape_javascript(render 'patient_summary_timelines/index.html.erb') %></div>")
$(".appointment-modal-refresh").modal('hide')