<div class="contentpanel patient-timeline-panel">
  <%= render partial: 'patient_summary_timelines/index.html.erb' %>
</div>

<style type="text/css">
	.mainpanel{
		margin-top: 33px !important;
	}

	.navbar-fixed-top{
		margin-top: 0px !important;
	}

	.filter-header{
		top: 50px !important;
	}
</style>