<div class="row">
  <div class="col-md-12">
    <div class="row mb10">
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag 'sub_referral_type[name]', @sub_referral_type.try(:name), class: 'form-control p5_10', placeholder: 'Name' %>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag 'sub_referral_type[comment]', @sub_referral_type.try(:comment), class: 'form-control p5_10', placeholder: 'Comment' %>
      </div>
    </div>
  </div>
</div>
