<div class="row">
  <div class="col-sm-6 col-md-6">

    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong>Surgical Outcomes</strong></h5>
        <div>
          <%#= content_tag :div, "", class:"", style:"height: 150px;", id: "referral-data", data: {reviews: @invoice_graph_data_array} %>
          <canvas id="bar-chart-surgical-outcomes" width="800" height="450"></canvas>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-md-6">

    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong>Surgical Outcomes by facility(%)</strong></h5>
        <div>
          <%#= content_tag :div, "", class:"", style:"height: 150px;", id: "referral-data", data: {reviews: @invoice_graph_data_array} %>
          <canvas id="bar-chart-doctors-facility-outcomes" width="800" height="450"></canvas>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-md-6">

    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong>Surgeries with complication</strong></h5>
        <div>
          <%#= content_tag :div, "", class:"", style:"height: 150px;", id: "referral-data", data: {reviews: @invoice_graph_data_array} %>
          <canvas id="bar-chart-surgical-outcomes-complication" width="800" height="450"></canvas>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-md-6">

    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong>Patient's Ratings</strong></h5>
        <div>
          <%#= content_tag :div, "", class:"", style:"height: 150px;", id: "referral-data", data: {reviews: @invoice_graph_data_array} %>
          <canvas id="bar-chart-patient-rating" width="800" height="450"></canvas>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-8 col-md-8">

    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong># of Appointments</strong></h5>
        <div>
          <%#= content_tag :div, "", class:"", style:"height: 150px;", id: "referral-data", data: {reviews: @invoice_graph_data_array} %>
          <canvas id="bar-chart-patient-appointment-types" width="800" height="450"></canvas>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-4 col-md-4">

    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="subtitle mb5">% of Patients</h5>
        <p class="mb15"></p>
        <canvas id="gender-pie-chart" width="800" height="450"></canvas>
        <!--<p class="mb15"></p>-->
        <!--<canvas id="ipd-pie-chart" width="800" height="450"></canvas>-->
        <!--<p class="mb15"></p>-->
        <!--<canvas id="ot-pie-chart" width="800" height="450"></canvas>-->
      </div><!-- panel-body -->
    </div><!-- panel -->

  </div>
</div>