<div class="mis_list">
  <h4>Tax</h4>
  <% group = "tax" %>
  <ul data-test-title="Sales" class="nav">
    <li data-test-title="Tax Summary">
      <%= link_to reports_view_mis_financial_reports_path(group: group, title: "tax_summary"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Tax Summary</span>
      <% end %>
    </li>
  </ul>
</div>