<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recent changes for SMS Setting</h4>
      </div>
      <div class="modal-body">
        <% if @audit_trail.present? %>
          <% @audit_trail.each do |audit| %>
            <p> <strong><%= audit.try(:identifier).humanize %></strong> was changed by <strong><%= audit.try(:user_name) %></strong> on <strong><%= audit.created_at.strftime("%d-%m-%Y %H:%M:%S")%></strong></p>
          <% end %>
        <% else %>
          <p>No audit found</p>
        <% end %>
        <p>Note: List will display recent 10 changes.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>