<style type="text/css">
.div_label_wrapper{
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.label {
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding: 4px 0px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 400;
  color: #FFF;
  cursor: pointer;
}

.label.label-pill,
.label.label-rounded {
  border-radius: 99999px
}

.label.label-square {
  border-radius: 0
}

.label.label-default {
  background-color: #B0BEC5
}

.label.label-primary {
  background-color: #2196F3
}

.label.label-secondary {
  background-color: #323a45;
  color: #FFF
}

.label.label-info {
  background-color: #29B6F6
}

.label.label-success {
  background-color: #64DD17
}

.label.label-warning {
  background-color: #FFD600
}

.label.label-danger {
  background-color: #ef1c1c
}

.label.label-outlined {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  width: 208px;
}


.label.label-outlined.label-secondary {
  border-color: #323a45;
  color: #323a45
}


.note_para{
  color: red;
  margin-bottom: 0;
}
.no_margin{
  margin-bottom: 0;
}

</style>

<div class="div_label_wrapper">
  <label class="label label-secondary label-outlined" data-add_text=" {PAT_NAME}">
    For Patient's Name use {PAT_NAME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {DOC_NAME}">
    For Doctor's Name use {DOC_NAME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {FOL_DATE}">
    For Followup Date use {FOL_DATE}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {SMS_NO}">
    For Contact Number use {SMS_NO}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {FAC_NAME}">
    For Facility Name use {FAC_NAME}
  </label>
  <label class="label label-secondary label-outlined" data-add_text=" {ORG_NAME}">
    For Organisation Name use {ORG_NAME}
  </label>
</div>
<script type="text/javascript">
  dynamic_example_message();
  $(".div_label_wrapper label").on('click',function(){
      var data_text = $(this).attr("data-add_text");
      var id_text_area = $('#customise_sms').find("textarea").attr("id");
      insertAtCaret(id_text_area,data_text);
     
  })
  $(".message").on('change, keyup',function(){
    dynamic_example_message();
  })


  function insertAtCaret(areaId,text) {
    var txtarea = document.getElementById(areaId);
    var scrollPos = txtarea.scrollTop;
    var strPos = 0;
    // alert()
    var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? 
      "ff" : (document.selection ? "ie" : false ) );
    if (br == "ie") { 
      txtarea.focus();
      var range = document.selection.createRange();
      range.moveStart ('character', -txtarea.value.length);
      strPos = range.text.length;
    }
    else if (br == "ff") strPos = txtarea.selectionStart;
    
    var front = (txtarea.value).substring(0,strPos);  
    var back = (txtarea.value).substring(strPos,txtarea.value.length); 
    txtarea.value=front+text+back;
    strPos = strPos + text.length;
    if (br == "ie") { 
      txtarea.focus();
      var range = document.selection.createRange();
      range.moveStart ('character', -txtarea.value.length);
      range.moveStart ('character', strPos);
      range.moveEnd ('character', 0);
      range.select();
    }
    else if (br == "ff") {
      txtarea.selectionStart = strPos;
      txtarea.selectionEnd = strPos;
      txtarea.focus();
    }
    txtarea.scrollTop = scrollPos;
    updateCountdown();
    dynamic_example_message()
    
}

function dynamic_example_message(){
  var selector_id = $('#customise_sms').find("textarea").attr("id");
  var text_value = $("#"+selector_id).val();
  
  $("#"+selector_id).removeAttr('value').attr('value', text_value).focus();
  var myDate = (new Date(new Date().getTime()+(5*24*60*60*1000))).toUTCString().split(' ').slice(0, 4).join(' ');;
 
  var changed_text = text_value.replace(/{PAT_NAME}/g, "John Doe").replace(/{DOC_NAME}/g, "Gregory House").replace(/{FOL_DATE}/g, myDate).replace(/{SMS_NO}/g, "9789XXXX90").replace(/{FAC_NAME}/g, "We Care").replace(/{ORG_NAME}/g, "Princeton Plainsboro");
  
  $(".exampleSms").html('').html(changed_text)

}
  
</script>

