<!-- In Use -->
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Personal Information</h4>
    </div>
    <%= form_for @user, url: settings_profiles_update_user_signature_path(user_id: @user.id), method: 'patch', remote: true, id: 'update_user_signature' do |user| %>
      <%= user.hidden_field :user_signature, value: "" %>
      <div class="modal-body">
        <div class="signature_pad text-center">
          <div class="signature_pad_body">
            <canvas></canvas>
          </div>
          <div class="signature_pad_footer">
            <div class="text-muted">Sign above</div>
            <button type="button" class="btn btn-default signature_pad_clear">Clear</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= user.submit 'Save Signature', class: 'btn btn-success signature_pad_save' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>

</div>

<script type="text/javascript">
  <%= render partial: 'edit_user_signature.js.erb' %>
</script>