<div class="panel panel-default" style="padding:0px;">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4" style="display:inline;">
      <h5 class="subtitle mb5">Discharge List</h5>
      </div>
      <div class="col-sm-8 fac-dd" style="text-align:right;display:inline;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" id="discharge_list_dashboard_today">
          <%= render partial: "main/dashboard_content/discharge_list_dashboard/discharge_list" %>
        </div><!-- table-responsive -->
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .fac-dd {
    margin-top: -10px;
  }
  #facilitylistdischarge, #userlistdischarge {
    width:37%;
    display: inline-block;
  }
</style>