function add_laboratory_investigation(laboratorysetname, laboratorysetid) {
    var params = { laboratorysetname: laboratorysetname, loinc_code: laboratorysetid };
    jQuery.ajax({
        type: "GET",
        url: "/icdtree/fetchlaboratorytests.json",
        data: {laboratory: params, remote: "true" }
    }).done(function( data ) {       

        for(i=0; i<data.length; i++) {
            var whitespaceinput = " ";
            var tropen = jQuery("<tr class=\"addedlaboratoryinvestigationlist\">");
            var tdopen1st = jQuery("<td style=\"padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;\">");
            var tdopen4th = jQuery("<td style=\"padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;\">");
            var formgroup1 = jQuery("<div class=\"form-group\">");
            var formgroup4 = jQuery("<div class=\"form-group\">");
            var inputgroup1 = jQuery("<div class=\"input-group mb15\">");
            var intId = 0;
            if (jQuery(".addedlaboratoryinvestigationlist").length == 0){
                intId = 0;
            }
            else {
                intId = jQuery(".addedlaboratoryinvestigationlist").length;
            }

            //var addedlaboratoryinvestigationlist_investigationname_id = "#" + "opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_investigationname";
            var addedlaboratoryinvestigationlist_investigationname_id = _contruct_id_attr_common(ROOT, ADDEDLABORATORYINVESTIGATIONLIST, ATTRIBUTES, intId, "investigationname");

            var addedlaboratoryinvestigationlist_investigationname = jQuery("<input class=\"string optional form-control\" id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_investigationname\" maxlength=\"50\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][investigationname]\" size=\"50\" type=\"text\">");
            var addedlaboratoryinvestigationlist_loincclass_hidden = jQuery("<input id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_loinc_class\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][loinc_class]\" type=\"hidden\" value=" + data[i]['loinc_class'] + ">");
            var addedlaboratoryinvestigationlist_loinccode_hidden = jQuery("<input id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_loinc_code\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][loinc_code]\" type=\"hidden\" value=" + data[i]['loinc_code'] + ">");
            var addedlaboratoryinvestigationlist_laboratorytestid_hidden = jQuery("<input id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_investigation_id\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][investigation_id]\" type=\"hidden\" value=" + data[i]['investigation_id'] + ">");
            jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_investigationname);
            jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_loincclass_hidden);
            jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_loinccode_hidden);
            jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_laboratorytestid_hidden);
            jQuery(formgroup1).append(inputgroup1);
            jQuery(tdopen1st).append(formgroup1);
            jQuery(tropen).append(tdopen1st);

            var addedlaboratoryinvestigationlist_investigationadviseddate_id = _contruct_id_attr_common(ROOT, ADDEDLABORATORYINVESTIGATIONLIST, ATTRIBUTES, intId, "investigationadviseddate");
            var addedlaboratoryinvestigationlist_investigationfullcode_id = _contruct_id_attr_common(ROOT, ADDEDLABORATORYINVESTIGATIONLIST, ATTRIBUTES, intId, "investigationfullcode");
            var addedlaboratoryinvestigationlist_investigationadviseddate = _text_field_contructor("input", "form-control", addedlaboratoryinvestigationlist_investigationname_id, "investigationadviseddate", "hidden", intId);
            var addedlaboratoryinvestigationlist_investigationfullcode = _text_field_contructor("input", "form-control", addedlaboratoryinvestigationlist_investigationname_id, "investigationfullcode", "hidden", intId);

            var addedlaboratoryinvestigationlist_investigationdeletebutton = jQuery("<a id=\"addedlaboratoryinvestigationdeletebutton" + intId + "\" class=\"btn btn-sm btn-primary btn-danger\" href=\"javascript:;\" name=\"addedlaboratoryinvestigationdeletebutton\"><span class=\"glyphicon glyphicon-remove\"></span></a>");

            jQuery(formgroup4).append([ addedlaboratoryinvestigationlist_investigationdeletebutton, addedlaboratoryinvestigationlist_investigationadviseddate, addedlaboratoryinvestigationlist_investigationfullcode ]);
            jQuery(tdopen4th).append(formgroup4);
            jQuery(tropen).append(tdopen4th);

            if (jQuery(".addedlaboratoryinvestigationlist").length == 0){
                jQuery(".laboratoryinvestigations").append(tropen);
                jQuery("#"+addedlaboratoryinvestigationlist_investigationname_id).val(data[i]['investigation_name']);
                jQuery("#"+addedlaboratoryinvestigationlist_investigationadviseddate_id).val(moment(new Date()).format('DD/MM/YYYY'));
                jQuery("#"+addedlaboratoryinvestigationlist_investigationfullcode_id).val("N");
            }
            else {
                jQuery(".addedlaboratoryinvestigationlist:last").after(tropen);
                jQuery("#"+addedlaboratoryinvestigationlist_investigationname_id).val(data[i]['investigation_name']);
                jQuery("#"+addedlaboratoryinvestigationlist_investigationadviseddate_id).val(moment(new Date()).format('DD/MM/YYYY'));
                jQuery("#"+addedlaboratoryinvestigationlist_investigationfullcode_id).val("N");
            }

        }
    });
}

jQuery(document).ready(function() {

    jQuery(".search_laboratoryinvestigation").autocomplete({
        minLength: 2,
        source: function(request, response) {
            jQuery.ajax({
                dataType: "json",
                type : 'get',
                url: '/icdtree/search_laboratory_list',
                data: {q: request.term, remote: "true" },
                success: function(data) {
                    response(data);
                },
                error: function(data) {
                    //jQuery('#searchpatientkeyword').removeClass('ui-autocomplete-loading');
                }
            });
        },
        focus: function(event, ui) {
            //return false;
        },
        select: function( event, ui ) {            
            add_laboratory_investigation(ui.item.value['investigation_name'], ui.item.value['investigation_id'])                
            return false;
        },
        close : function (event, ui) {
             //jQuery(".search_laboratoryinvestigation").autocomplete("search", jQuery(".search_laboratoryinvestigation").val()); //keep autocomplete open by 
             //searching the same input again
             //jQuery(".search_laboratoryinvestigation").focus(); //set the focus back to search laboratory investigation list.
            return false;  
        }
    });
    jQuery(".search_laboratoryinvestigation").autocomplete( "option", "appendTo", ".form-inline" );

    jQuery('.toplaboratoryinvestigation').on('click', function (event) {

      var params = { laboratorysetname: jQuery(".toplaboratoryinvestigation option:selected").text(), loinc_code: jQuery(".toplaboratoryinvestigation option:selected").val() };
      jQuery.ajax({
            type: "GET",
            url: "/icdtree/fetchlaboratorytests.json",
            data: {laboratory: params, remote: "true" }
        }).done(function( data ) {
            for(i=0; i<data.length; i++) {
                var whitespaceinput = " ";
                var tropen = jQuery("<tr class=\"addedlaboratoryinvestigationlist\">");
                var tdopen1st = jQuery("<td style=\"padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;\">");                
                var tdopen4th = jQuery("<td style=\"padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;\">");
                var formgroup1 = jQuery("<div class=\"form-group\">");
                var formgroup4 = jQuery("<div class=\"form-group\">");
                var inputgroup1 = jQuery("<div class=\"input-group mb15\">");
                var intId = 0;
                if (jQuery(".addedlaboratoryinvestigationlist").length == 0){
                    intId = 0;
                }
                else {
                    intId = jQuery(".addedlaboratoryinvestigationlist").length;
                }
                //var addedlaboratoryinvestigationlist_investigationname_id = "#" + "opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_investigationname";
                var addedlaboratoryinvestigationlist_investigationname_id = _contruct_id_attr_common(ROOT, ADDEDLABORATORYINVESTIGATIONLIST, ATTRIBUTES, intId, "investigationname");

                var addedlaboratoryinvestigationlist_investigationname = jQuery("<input class=\"string optional form-control\" id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_investigationname\" maxlength=\"50\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][investigationname]\" size=\"50\" type=\"text\">");
                var addedlaboratoryinvestigationlist_loincclass_hidden = jQuery("<input id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_loinc_class\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][loinc_class]\" type=\"hidden\" value=" + data[i]['loinc_class'] + ">");
                var addedlaboratoryinvestigationlist_loinccode_hidden = jQuery("<input id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_loinc_code\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][loinc_code]\" type=\"hidden\" value=" + data[i]['loinc_code'] + ">");
                var addedlaboratoryinvestigationlist_laboratorytestid_hidden = jQuery("<input id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_investigation_id\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][investigation_id]\" type=\"hidden\" value=" + data[i]['investigation_id'] + ">");
                jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_investigationname);
                jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_loincclass_hidden);
                jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_loinccode_hidden);
                jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_laboratorytestid_hidden);
                jQuery(formgroup1).append(inputgroup1);
                jQuery(tdopen1st).append(formgroup1);
                jQuery(tropen).append(tdopen1st);

                var addedlaboratoryinvestigationlist_investigationadviseddate_id = _contruct_id_attr_common(ROOT, ADDEDLABORATORYINVESTIGATIONLIST, ATTRIBUTES, intId, "investigationadviseddate");
                var addedlaboratoryinvestigationlist_investigationfullcode_id = _contruct_id_attr_common(ROOT, ADDEDLABORATORYINVESTIGATIONLIST, ATTRIBUTES, intId, "investigationfullcode");
                var addedlaboratoryinvestigationlist_investigationadviseddate = _text_field_contructor("input", "form-control", addedlaboratoryinvestigationlist_investigationname_id, "investigationadviseddate", "hidden", intId);
                var addedlaboratoryinvestigationlist_investigationfullcode = _text_field_contructor("input", "form-control", addedlaboratoryinvestigationlist_investigationname_id, "investigationfullcode", "hidden", intId);

                var addedlaboratoryinvestigationlist_investigationdeletebutton = jQuery("<a id=\"addedlaboratoryinvestigationdeletebutton" + intId + "\" class=\"btn btn-sm btn-primary btn-danger\" href=\"javascript:;\" name=\"addedlaboratoryinvestigationdeletebutton\"><span class=\"glyphicon glyphicon-remove\"></span></a>");

                jQuery(formgroup4).append([ addedlaboratoryinvestigationlist_investigationdeletebutton, addedlaboratoryinvestigationlist_investigationadviseddate, addedlaboratoryinvestigationlist_investigationfullcode ]);
                jQuery(tdopen4th).append(formgroup4);
                jQuery(tropen).append(tdopen4th);

                if (jQuery(".addedlaboratoryinvestigationlist").length == 0){
                    jQuery(".laboratoryinvestigations").append(tropen);
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationname_id).val(data[i]['investigation_name']);
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationadviseddate_id).val(moment(new Date()).format('DD/MM/YYYY'));
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationfullcode_id).val("N");
                }
                else {
                    jQuery(".addedlaboratoryinvestigationlist:last").after(tropen);
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationname_id).val(data[i]['investigation_name']);
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationadviseddate_id).val(moment(new Date()).format('DD/MM/YYYY'));
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationfullcode_id).val("N");
                }

            }
        });        
        return false;
    });

    jQuery('.custom_laboratory_investigation').on('click', function (event) {

      var params = { laboratorysetname: jQuery(".custom_laboratory_investigation option:selected").text(), loinc_code: jQuery(".custom_laboratory_investigation option:selected").val() };
      jQuery.ajax({
            type: "GET",
            url: "/icdtree/fetchlaboratorytests.json",
            data: {laboratory: params, remote: "true" }
        }).done(function( data ) {
            for(i=0; i<data.length; i++) {
                var whitespaceinput = " ";
                var tropen = jQuery("<tr class=\"addedlaboratoryinvestigationlist\">");
                var tdopen1st = jQuery("<td style=\"padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;\">");                
                var tdopen4th = jQuery("<td style=\"padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;\">");
                var formgroup1 = jQuery("<div class=\"form-group\">");
                var formgroup4 = jQuery("<div class=\"form-group\">");
                var inputgroup1 = jQuery("<div class=\"input-group mb15\">");
                var intId = 0;
                if (jQuery(".addedlaboratoryinvestigationlist").length == 0){
                    intId = 0;
                }
                else {
                    intId = jQuery(".addedlaboratoryinvestigationlist").length;
                }
                //var addedlaboratoryinvestigationlist_investigationname_id = "#" + "opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_investigationname";
                var addedlaboratoryinvestigationlist_investigationname_id = _contruct_id_attr_common(ROOT, ADDEDLABORATORYINVESTIGATIONLIST, ATTRIBUTES, intId, "investigationname");

                var addedlaboratoryinvestigationlist_investigationname = jQuery("<input class=\"string optional form-control\" id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_investigationname\" maxlength=\"50\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][investigationname]\" size=\"50\" type=\"text\">");
                var addedlaboratoryinvestigationlist_loincclass_hidden = jQuery("<input id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_loinc_class\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][loinc_class]\" type=\"hidden\" value=" + data[i]['loinc_class'] + ">");
                var addedlaboratoryinvestigationlist_loinccode_hidden = jQuery("<input id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_loinc_code\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][loinc_code]\" type=\"hidden\" value=" + data[i]['loinc_code'] + ">");
                var addedlaboratoryinvestigationlist_laboratorytestid_hidden = jQuery("<input id=\"opdrecord_addedlaboratoryinvestigationlist_attributes_" + intId + "_investigation_id\" name=\"opdrecord[addedlaboratoryinvestigationlist_attributes][" + intId + "][investigation_id]\" type=\"hidden\" value=" + data[i]['investigation_id'] + ">");
                jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_investigationname);
                jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_loincclass_hidden);
                jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_loinccode_hidden);
                jQuery(inputgroup1).append(addedlaboratoryinvestigationlist_laboratorytestid_hidden);
                jQuery(formgroup1).append(inputgroup1);
                jQuery(tdopen1st).append(formgroup1);
                jQuery(tropen).append(tdopen1st);

                var addedlaboratoryinvestigationlist_investigationadviseddate_id = _contruct_id_attr_common(ROOT, ADDEDLABORATORYINVESTIGATIONLIST, ATTRIBUTES, intId, "investigationadviseddate");
                var addedlaboratoryinvestigationlist_investigationfullcode_id = _contruct_id_attr_common(ROOT, ADDEDLABORATORYINVESTIGATIONLIST, ATTRIBUTES, intId, "investigationfullcode");
                var addedlaboratoryinvestigationlist_investigationadviseddate = _text_field_contructor("input", "form-control", addedlaboratoryinvestigationlist_investigationname_id, "investigationadviseddate", "hidden", intId);
                var addedlaboratoryinvestigationlist_investigationfullcode = _text_field_contructor("input", "form-control", addedlaboratoryinvestigationlist_investigationname_id, "investigationfullcode", "hidden", intId);

                var addedlaboratoryinvestigationlist_investigationdeletebutton = jQuery("<a id=\"addedlaboratoryinvestigationdeletebutton" + intId + "\" class=\"btn btn-sm btn-primary btn-danger\" href=\"javascript:;\" name=\"addedlaboratoryinvestigationdeletebutton\"><span class=\"glyphicon glyphicon-remove\"></span></a>");

                jQuery(formgroup4).append([ addedlaboratoryinvestigationlist_investigationdeletebutton, addedlaboratoryinvestigationlist_investigationadviseddate, addedlaboratoryinvestigationlist_investigationfullcode ]);
                jQuery(tdopen4th).append(formgroup4);
                jQuery(tropen).append(tdopen4th);

                if (jQuery(".addedlaboratoryinvestigationlist").length == 0){
                    jQuery(".laboratoryinvestigations").append(tropen);
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationname_id).val(data[i]['investigation_name']);
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationadviseddate_id).val(moment(new Date()).format('DD/MM/YYYY'));
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationfullcode_id).val("N");
                }
                else {
                    jQuery(".addedlaboratoryinvestigationlist:last").after(tropen);
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationname_id).val(data[i]['investigation_name']);
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationadviseddate_id).val(moment(new Date()).format('DD/MM/YYYY'));
                    jQuery("#"+addedlaboratoryinvestigationlist_investigationfullcode_id).val("N");
                }

            }
        });        
        return false;
    });

    jQuery('.laboratoryinvestigations').on('click', "a[name*='addedlaboratoryinvestigationdeletebutton']", function() {
        event.preventDefault();
        var fieldcounter;
        fieldcounter = jQuery(this).attr('id').slice(-1);
        if ( (parseInt(fieldcounter) + 1) == parseInt(jQuery(".laboratoryinvestigations").find("tr").length) ) {
            jQuery(this).parents('.addedlaboratoryinvestigationlist').remove(); // delete if button being removed is equal to number of tr elements.
        } else {
            jQuery(this).parents('.addedlaboratoryinvestigationlist').remove(); //first delete then re-number the remaining fields. Follow logic below.        
            var counter = 0;            
            jQuery(".laboratoryinvestigations").find("tr").each(function() {
                jQuery(this).find("input").each(function(index, element) {
                      var nameattr, idattr;
                      nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
                      idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
                      jQuery(this).attr('name', nameattr);
                      jQuery(this).attr('id', idattr);
                });
                jQuery(this).find("select").each(function(index, element) { 
                      var nameattr, idattr;
                      nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
                      idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
                      jQuery(this).attr('name', nameattr);
                      jQuery(this).attr('id', idattr);
                });
                jQuery(this).find("a").each(function(index, element) {
                      var idattr;
                      idattr = element.id.replace(/[0-9]/g, counter);
                      jQuery(this).attr('id', idattr);
                });
                counter++;
            });        
        }
    });


});