<div class="modal-dialog modal-hg-mypracticemedicationlist">
    <div class="modal-content">
	  		
	    <div class="modal-header">
          <div class="pull-right"> <!-- Action Buttons starts -->
              <button aria-hidden="true" class="btn btn-success savelaboratarylist">Save Laboratory List</button>      
              <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Do not Save & Close</button>
          </div> <!-- Action Buttons ends -->         
          <div class="text-center">
                <h4 class="nomargin"><b>My Practice Laboratory List</b></h4>                
          </div>

            <%= render partial: "templates/common/stylesheetincludes" %> <!-- Render common stylesheet includes template from partial -->            

        </div>

	 	  <%= render partial: "facility_laboratory_lists/partials/my_practice_laboratory_form" %>

	</div>
</div>

<style>
    input.error, select.error {
      border-color: #b94a48;
      background-image: none;
    }
    input.valid, select.valid {
      border-color: #468847;
      background-image: none;
    }
</style>