<!DOCTYPE html>
<html>
<head>
  <title>Foss - EHR</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= javascript_include_tag "application-header", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery-ui-1.10.3.min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery.timeago", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "toggles.min", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


</head>
<body style="overflow: auto">
<!-- Preloader -->
    <!--<div id="preloader" >-->
      <!--<div id="status"><i class="fa fa-spinner fa-spin"></i></div>-->
    <!--</div>-->
    <div id="ajaxloader" style="display: none">
      <img src="/images/loaders/mainloader.gif">
    </div>
    <section>
      <div class="leftnav" style="display: none;"> <!-- added HG -->

      </div>
      <div class="mainpanel">

        <div class="headerbar">

            <div class="logopanel col-md-1">
            <%= render "loggedin/logo" %>
          </div>

            <div class="col-md-7" style="padding-top: 4px;">
                <%= render "loggedin/leftnav" %>
          </div>

            <div class="col-md-2" style="padding-top: 5px; margin-left:25px">
                <form action="index.html" method="post">
                    <input type="text" class="form-control" name="keyword" placeholder="Search here...">
                </form>
            </div>

            <%= render "loggedin/headerbar" %>
        </div><!-- headerbar -->

        <%= yield %>

      </div><!-- mainpanel -->

    </section>

<%= render "loggedin/modal" %>
    <%= render "loggedin/modalimagegallery" %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
<%= javascript_include_tag "fuelux", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>

<%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>


<script>
  jQuery(document).ready(function() {

      jQuery(document).bind("ajax:beforeSend", function(){
          $("#ajaxloader").show()
      }).bind("ajaxComplete", function(){
          $("#ajaxloader").hide()
      });

      jQuery("ul.nav-bracket > li").on("click", function() {
          jQuery("ul.nav-bracket > li[class='active']").removeClass("active");
          jQuery(this).addClass("active");
      });
      $('.modal').on('hidden.bs.modal', function(){
          $(this).html('')
      });

      jQuery('.thmb').hover(function(){
          var t = jQuery(this);
          t.find('.ckbox').show();
          t.find('.fm-group').show();
      }, function() {
          var t = jQuery(this);
          if(!t.closest('.thmb').hasClass('checked')) {
              t.find('.ckbox').hide();
              t.find('.fm-group').hide();
          }
      });

      jQuery('.ckbox').each(function(){
          var t = jQuery(this);
          var parent = t.parent();
          if(t.find('input').is(':checked')) {
              t.show();
              parent.find('.fm-group').show();
              parent.addClass('checked');
          }
      });


      jQuery('.ckbox').click(function(){
          var t = jQuery(this);
          if(!t.find('input').is(':checked')) {
              t.closest('.thmb').removeClass('checked');
              enable_itemopt(false);
          } else {
              t.closest('.thmb').addClass('checked');
              enable_itemopt(true);
          }
      });

      jQuery('#selectall').click(function(){
          if(jQuery(this).is(':checked')) {
              jQuery('.thmb').each(function(){
                  jQuery(this).find('input').attr('checked',true);
                  jQuery(this).addClass('checked');
                  jQuery(this).find('.ckbox, .fm-group').show();
              });
              enable_itemopt(true);
          } else {
              jQuery('.thmb').each(function(){
                  jQuery(this).find('input').attr('checked',false);
                  jQuery(this).removeClass('checked');
                  jQuery(this).find('.ckbox, .fm-group').hide();
              });
              enable_itemopt(false);
          }
      });

      function enable_itemopt(enable) {
          if(enable) {
              jQuery('.itemopt').removeClass('disabled');
          } else {

              // check all thumbs if no remaining checks
              // before we can disabled the options
              var ch = false;
              jQuery('.thmb').each(function(){
                  if(jQuery(this).hasClass('checked'))
                      ch = true;
              });

              if(!ch)
                  jQuery('.itemopt').addClass('disabled');
          }
      }

//Replaces data-rel attribute to rel.
//We use data-rel because of w3c validation issue
      jQuery('a[data-rel]').each(function() {
          jQuery(this).attr('rel', jQuery(this).data('rel'));
      });

      jQuery("a[rel^='prettyPhoto']").prettyPhoto();


  });
</script>


</body>
</html>
