<div id="footer">
  <div class="row">
    <% if @print_setting.try(:customised_footer) == true %>
        <div class="row table-hg-print">
          <div class="col-md-4 text-left">
            <% if @print_setting.try(:footer_text).length > 0%>
                <% text = @print_setting.try(:footer_text)%>
                <%= text.try(:html_safe) %>
            <%end%>
          </div>
        </div>
    <% end %>
  </div>
</div>