<!DOCTYPE html>
<html>
<head>
  <title>Orthograph PDF</title>
  <%= wicked_pdf_stylesheet_link_tag    "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
    <div id="header">
      <% if !@organisation.customised_letter_head %>
          <div style="border-bottom: 1px solid;border-bottom-color: #ddd;height:<%= @organisation.letter_head_customisations[:header_height] %>cm">

          </div>
      <% else %>
          <%= render "print/print_header",:doctor => @user %>
      <%end%>
    </div>

    <%= yield %>

</body>
</html>
