<!DOCTYPE html>
<html>
<head>
  <title>HealthGraph EHR PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "application-print", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
    <div id="header">
      <%= wicked_pdf_image_tag 'healthgraph_full.png' %>
    </div>

    <%= yield %>

</body>
</html>
