<!DOCTYPE html>
<html>
<head>
  <title>HealthGraph EHR Print</title>
  <%= stylesheet_link_tag "application-print", media: "all", "data-turbolinks-track" => true %>
  <script>
    window.print();
  </script>
</head>
<body>

<%= yield %>
</body>
</html>
